{
	"swagger": "2.0",
	"info": {
		"title": "Framesocket",
		"description": "framesocket is the best way for developers and content owners to tackle video projects of any size.",
		"termsOfService": null,
		"version": null
	},
	"host": "www.framesocket.com",
	"basePath": "/api",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/media/activate.php": {
			"get": {
				"summary": "Activate Media",
				"description": "Activate Media",
				"operationId": "",
				"parameters": [
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Video Hash",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"001": {
						"description": "Service currently unavailable"
					},
					"002": {
						"description": "Failed to parse request"
					},
					"010": {
						"description": "Missing API Key"
					},
					"011": {
						"description": "Invalid API Key"
					},
					"031": {
						"description": "Invalid Method"
					},
					"032": {
						"description": "Method not Available"
					},
					"100": {
						"description": "Missing Media ID"
					},
					"101": {
						"description": "Invalid Media ID"
					},
					"2001": {
						"description": "Invalid Language ID"
					},
					"2101": {
						"description": "Invalid Thumbnail Size"
					},
					"020": {
						"description": "Missing Session Token"
					},
					"021": {
						"description": "Invalid Session Token"
					},
					"2200": {
						"description": "Missing License Name"
					},
					"2201": {
						"description": "Invalid License Name"
					},
					"3000": {
						"description": "Insufficent Credit Value"
					},
					"3099": {
						"description": "Not enough download slots left"
					},
					"3101": {
						"description": "Comp image not available"
					},
					"3103": {
						"description": "No file uploaded"
					},
					"3104": {
						"description": "Upload failure"
					},
					"3105": {
						"description": "Upload unknown failure"
					},
					"3106": {
						"description": "Upload not allowed"
					},
					"301": {
						"description": "Invalid Category ID"
					},
					"5001": {
						"description": "Invalid Tag Type"
					},
					"2401": {
						"description": "Invalid Gallery ID"
					},
					"2301": {
						"description": "Invalid Gallery Name"
					},
					"6011": {
						"description": "Invalid email address"
					},
					"6007": {
						"description": "invalid data"
					},
					"6012": {
						"description": "Invalid field"
					},
					"6003": {
						"description": "Invalid date format, must be like YYYY-MM-DD"
					},
					"60": {
						"description": "Invalid pagination parameter"
					},
					"10000": {
						"description": "Unknown Gallery ID"
					},
					"6001": {
						"description": "Invalid time range"
					},
					"6002": {
						"description": "Invalid type of statistics"
					},
					"6004": {
						"description": "Invalid easy date period"
					},
					"6005": {
						"description": "Statistics need to be generated, please try again later"
					},
					"4000": {
						"description": "Login Failed"
					},
					"4001": {
						"description": "Invalid User"
					},
					"4002": {
						"description": "Bad Login or Password"
					},
					"2402": {
						"description": "Unknown media ID"
					},
					"6008": {
						"description": "Login already exists"
					},
					"7001": {
						"description": "Missing field"
					},
					"7002": {
						"description": "Unknown Subbaccount ID"
					}
				},
				"tags": [
					"Media"
				]
			}
		},
		"/media/deactivate.php": {
			"get": {
				"summary": "Deactive Media",
				"description": "Deactive Media",
				"operationId": "",
				"parameters": [
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Video Hash",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		},
		"/media/images.php": {
			"get": {
				"summary": "Query Images",
				"description": "Query Images",
				"operationId": "",
				"parameters": [
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Video Hash",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media",
					" Images"
				]
			}
		},
		"/media/query.php": {
			"get": {
				"summary": "Query Media",
				"description": "Query Media",
				"operationId": "",
				"parameters": [
					{
						"name": "andkeywords",
						"in": "query",
						"description": "Comma separated list of title words.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "andtitlewords",
						"in": "query",
						"description": "Comma separated list of title words.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Media Hash Code",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Must be a valid integer.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "orkeywords",
						"in": "query",
						"description": "Comma separated list of title words.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "ortitlewords",
						"in": "query",
						"description": "Comma separated list of title words.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Must be a valid sorting option, either newest or oldest firs",
						"type": "string",
						"format": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "Must be a valid status code.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "Must be a valid type, either image or video.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		},
		"/media/update.php": {
			"get": {
				"summary": "Update Media",
				"description": "Update Media",
				"operationId": "",
				"parameters": [
					{
						"name": "customid",
						"in": "query",
						"description": "Custom ID",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "Text String - Limit 1000 characters",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hash",
						"in": "query",
						"description": "Video Hash",
						"type": "string",
						"format": "string"
					},
					{
						"name": "imagehash",
						"in": "query",
						"description": "This needs to refer to an image already assigned to this media.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "Text String - Comma separated by keyword or phrase",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "Text String - Limit 100 characters",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		},
		"/media/upload.php": {
			"post": {
				"summary": "Upload Media",
				"description": "Upload Media",
				"operationId": "",
				"parameters": [
					{
						"name": "callback",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "customid",
						"in": "query",
						"description": "Text String - Max Length 32 Characters",
						"type": "string",
						"format": "string"
					},
					{
						"name": "description",
						"in": "query",
						"description": "Text String - Limit 1000 Characters",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "Your account username.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keywords",
						"in": "query",
						"description": "Text String - Comma separated by keyword or phrase",
						"type": "string",
						"format": "string"
					},
					{
						"name": "media",
						"in": "query",
						"description": "Must be properly formatted POST data - either an image or a video.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "secret",
						"in": "query",
						"description": "Your account API secret.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sig",
						"in": "query",
						"description": "This is an md5 hash of your gatekeeper concatenated with your request action.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "title",
						"in": "query",
						"description": "Text String - Limit 100 Characters",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Media"
				]
			}
		}
	},
	"definitions": {
	}
}