{
	"swagger": "2.0",
	"info": {
		"title": "YouTube Data API",
		"description": "The YouTube Data API (v3) lets you incorporate YouTube functionality into your own application. You can use the API to fetch search results and to retrieve, insert, update, and delete resources like videos or playlists.",
		"termsOfService": "https://developers.google.com/youtube/terms",
		"version": "V3"
	},
	"host": "www.googleapis.com",
	"basePath": "/youtube/v3",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/guideCategories": {
			"get": {
				"summary": "List GuideCategories",
				"description": "Returns a list of categories that can be associated with YouTube channels.",
				"operationId": "list-guidecategories",
				"parameters": [{
					"in": "query",
					"name": "hl",
					"description": "The hl parameter specifies the language that will be used for text values in the API response. The default value is en-US.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The id parameter specifies a comma-separated list of the YouTube channel category ID(s) for the resource(s) that are being retrieved. In a guideCategory resource, the id property specifies the YouTube channel category ID.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "part",
					"description": "The part parameter specifies the guideCategory resource properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "regionCode",
					"description": "The regionCode parameter instructs the API to return the list of guide categories available in the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["categories"],
				"security": []
			}
		},
		"/i18nLanguages": {
			"get": {
				"summary": "List I18nLanguages",
				"description": "Returns a list of application languages that the YouTube website supports.",
				"operationId": "list-i18nlanguages",
				"parameters": [{
					"in": "query",
					"name": "hl",
					"description": "The hl parameter specifies the language that should be used for text values in the API response. The default value is en_US.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "part",
					"description": "The part parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 1 unit.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["languages"],
				"security": []
			}
		},
		"/i18nRegions": {
			"get": {
				"summary": "List I18nRegions",
				"description": "Returns a list of content regions that the YouTube website supports.",
				"operationId": "list-i18nregions",
				"parameters": [{
					"in": "query",
					"name": "hl",
					"description": "The hl parameter specifies the language that should be used for text values in the API response. The default value is en_US.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "part",
					"description": "The part parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 1 unit.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["regions"],
				"security": []
			}
		}
	},
	"definitions": []
}