{
	"swagger": "2.0",
	"info": {
		"title": "YouTube Search API",
		"description": "Programmatic access to YouTube features.",
		"termsOfService": "https://developers.google.com/youtube/terms",
		"contact": {
			"name": "Google"
		},
		"version": "v3"
	},
	"host": "www.googleapis.com",
	"basePath": "/youtube/v3",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/search": {
			"get": {
				"summary": "List Search",
				"description": "Returns a collection of search results that match the query parameters specified in the API request. By default, a search result set identifies matching video, channel, and playlist resources, but you can also configure queries to only retrieve a specific type of resource.",
				"operationId": "list-search",
				"parameters": [{
					"in": "query",
					"name": "channelId",
					"description": "The channelId parameter indicates that the API response should only contain resources created by the channel",
					"type": "string"
				},
				{
					"in": "query",
					"name": "channelType",
					"description": "The channelType parameter lets you restrict a search to a particular type of channel.Acceptable values are:any &ndash; Return all channels.show &ndash; Only retrieve shows.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "eventType",
					"description": "The eventType parameter restricts a search to broadcast events. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:completed &ndash; Only include completed broadcasts.live &ndash; Only include active broadcasts.upcoming &ndash; Only include upcoming broadcasts.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forContentOwner",
					"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.The forContentOwner parameter restricts the search to only retrieve resources owned by the content owner specified by the onBehalfOfContentOwner parameter. The user must be authenticated using a CMS account linked to the specified content owner and onBehalfOfContentOwner must be provided.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "forMine",
					"description": "This parameter can only be used in a properly authorized request. The forMine parameter restricts the search to only retrieve videos owned by the authenticated user. If you set this parameter to true, then the type parameters value must also be set to video.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "location",
					"description": "The location parameter, in conjunction with the locationRadius parameter, defines a circular geographic area and also restricts a search to videos that specify, in their metadata, a geographic location that falls within that area. The parameter value is a string that specifies latitude/longitude coordinates e.g. (37.42307,-122.08427).The location parameter value identifies the point at the center of the area.The locationRadius parameter specifies the maximum distance that the location associated",
					"type": "string"
				},
				{
					"in": "query",
					"name": "locationRadius",
					"description": "The locationRadius parameter, in conjunction with the location parameter, defines a circular geographic area.The parameter value must be a floating point number followed by a measurement unit. Valid measurement units are m, km, ft, and mi. For example, valid parameter values include 1500m, 5km, 10000ft, and 0.75mi. The API does not support locationRadius parameter values larger than 1000 kilometers.Note: See the definition of the location parameter for more information.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maxResults parameter specifies the maximum number of items that should be returned in the result set. Acceptable values are 0 to 50, inclusive. The default value is 5.",
					"type": "unsigned integer"
				},
				{
					"in": "query",
					"name": "onBehalfOfContentOwner",
					"description": "This parameter can only be used in a properly authorized request. Note: This parameter is intended exclusively for YouTube content partners.The onBehalfOfContentOwner parameter indicates that the requests authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and ge",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "The order parameter specifies the method that will be used to order resources in the API response. The default value is relevance.Acceptable values are:date &ndash; Resources are sorted in reverse chronological order based on the date they were created.rating &ndash; Resources are sorted from highest to lowest rating.relevance &ndash; Resources are sorted based on their relevance to the search query. This is the default value for this parameter.title &ndash; Resources are sorted alphabetically b",
					"type": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The pageToken parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "part",
					"description": "The part parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "publishedAfter",
					"description": "The publishedAfter parameter indicates that the API response should only contain resources created after the specified time. The value is an RFC 3339 formatted date-time value (1970-01-01T00:00:00Z).",
					"type": "datetime"
				},
				{
					"in": "query",
					"name": "publishedBefore",
					"description": "The publishedBefore parameter indicates that the API response should only contain resources created before the specified time. The value is an RFC 3339 formatted date-time value (1970-01-01T00:00:00Z).",
					"type": "datetime"
				},
				{
					"in": "query",
					"name": "q",
					"description": "The q parameter specifies the query term to search for.Your request can also use the Boolean NOT (-) and OR (|) operators to exclude videos or to find videos that are associated with one of several search terms. For example, to search for videos matching either boating or sailing, set the q parameter value to boating|sailing. Similarly, to search for videos matching either boating or sailing but not fishing, set the q parameter value to boating|sailing -fishing. Note that the pipe character must",
					"type": "string"
				},
				{
					"in": "query",
					"name": "regionCode",
					"description": "The regionCode parameter instructs the API to return search results for the specified country. The parameter value is an ISO 3166-1 alpha-2 country code.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "relatedToVideoId",
					"description": "The relatedToVideoId parameter retrieves a list of videos that are related to the video that the parameter value identifies. The parameter value must be set to a YouTube video ID and, if you are using this parameter, the type parameter must be set to video.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "safeSearch",
					"description": "The safeSearch parameter indicates whether the search results should include restricted content as well as standard content.Acceptable values are:moderate &ndash; YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.none &ndash; YouTube will not filter the search result set.strict &n",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topicId",
					"description": "The topicId parameter indicates that the API response should only contain resources associated with the specified topic. The value identifies a Freebase topic ID.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "The type parameter restricts a search query to only retrieve a particular type of resource. The value is a comma-separated list of resource types. The default value is video,channel,playlist.Acceptable values are:channelplaylistvideo",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoCaption",
					"description": "The videoCaption parameter indicates whether the API should filter video search results based on whether they have captions. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:any &ndash; Do not filter results based on caption availability.closedCaption &ndash; Only include videos that have captions.none &ndash; Only include videos that do not have captions.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoCategoryId",
					"description": "The videoCategoryId parameter filters video search results based on their category. If you specify a value for this parameter, you must also set the type parameters value to video.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoDefinition",
					"description": "The videoDefinition parameter lets you restrict a search to only include either high definition (HD) or standard definition (SD) videos. HD videos are available for playback in at least 720p, though higher resolutions, like 1080p, might also be available. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:any &ndash; Return all videos, regardless of their resolution.high &ndash; Only retrieve HD videos.standard &ndash; Only retr",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoDimension",
					"description": "The videoDimension parameter lets you restrict a search to only retrieve 2D or 3D videos. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:2d &ndash; Restrict search results to exclude 3D videos.3d &ndash; Restrict search results to only include 3D videos.any &ndash; Include both 3D and non-3D videos in returned results. This is the default value.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoDuration",
					"description": "The videoDuration parameter filters video search results based on their duration. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:any &ndash; Do not filter video search results based on their duration. This is the default value.long &ndash; Only include videos longer than 20 minutes.medium &ndash; Only include videos that are between four and 20 minutes long (inclusive).short &ndash; Only include videos that are less than fou",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoEmbeddable",
					"description": "The videoEmbeddable parameter lets you to restrict a search to only videos that can be embedded into a webpage. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:any &ndash; Return all videos, embeddable or not.true &ndash; Only retrieve embeddable videos.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoLicense",
					"description": "The videoLicense parameter filters search results to only include videos with a particular license. YouTube lets video uploaders choose to attach either the Creative Commons license or the standard YouTube license to each of their videos. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:any &ndash; Return all videos, regardless of which license they have, that match the query parameters.creativeCommon &ndash; Only return video",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoSyndicated",
					"description": "The videoSyndicated parameter lets you to restrict a search to only videos that can be played outside youtube.com. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:any &ndash; Return all videos, syndicated or not.true &ndash; Only retrieve syndicated videos.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "videoType",
					"description": "The videoType parameter lets you restrict a search to a particular type of videos. If you specify a value for this parameter, you must also set the type parameters value to video.Acceptable values are:any &ndash; Return all videos.episode &ndash; Only retrieve episodes of shows.movie &ndash; Only retrieve movies.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["search"],
				"security": []
			}
		}
	},
	"definitions": []
}