{
	"swagger": "2.0",
	"info": {
		"title": "NewsWhip API",
		"description": "Our API partners get complete access to our rankings in a machine-readable format (JSON, RSS), with the option of using country, city, topic and time filters for a deeper dive into the 200,000 new pieces of content we track every day.",
		"termsOfService": "http://www.newswhip.com/PrivacyAndLegal",
		"version": "v1"
	},
	"host": "api.newswhip.com",
	"basePath": "v1/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"local/": {
			"get": {
				"summary": "Local",
				"description": "Pull list of localities.",
				"operationId": "",
				"parameters": [
					{
						"name": "key",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" local"
				]
			}
		},
		"local/{city}/All/{time_period}": {
			"get": {
				"summary": "Local",
				"description": "Search local news.",
				"operationId": "",
				"parameters": [
					{
						"name": "city",
						"in": "path",
						"description": "Filters articles published in that city. See available cities below. i.e. London, New%20York,%20NY, Toronto",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sort_by",
						"in": "query",
						"description": "One of the following: [default, fb_likes, fb_shares, fb_comments, fb_total, twitter, linkedin, fb_tw_and_li, nw_score, nw_max_score]. Defaults to default",
						"type": "string",
						"format": "string"
					},
					{
						"name": "time_period",
						"in": "path",
						"description": "Filters articles published within the last X hours. X can be 1, 3, 12, 24 or 168 hours)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "video_only",
						"in": "query",
						"description": "true or false. Defaults to false.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" local"
				]
			}
		},
		"publisher/": {
			"get": {
				"summary": "Publisher",
				"description": "Pull publishers.",
				"operationId": "",
				"parameters": [
					{
						"name": "key",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" publisher"
				]
			}
		},
		"publisher/{publisher}/{time_period}": {
			"get": {
				"summary": "Publisher",
				"description": "Search news by publisiher.",
				"operationId": "",
				"parameters": [
					{
						"name": "key",
						"in": "query",
						"description": "API Key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "publisher",
						"in": "path",
						"description": "Returns all articles published within that domain or subdomain.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sort_by",
						"in": "query",
						"description": "One of the following: [default, fb_likes, fb_shares, fb_comments, fb_total, twitter, linkedin, fb_tw_and_li, nw_score, nw_max_score]. Defaults to default",
						"type": "string",
						"format": "string"
					},
					{
						"name": "time_period",
						"in": "path",
						"description": "Filters articles published within the last X hours. X can be 1, 3, 12, 24 or 168 hours)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "video_only",
						"in": "query",
						"description": "true or false. Defaults to false.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" publisher"
				]
			}
		},
		"region/": {
			"get": {
				"summary": "Region",
				"description": "Retrieve list of regions",
				"operationId": "",
				"parameters": [
					{
						"name": "key",
						"in": "query",
						"description": "API Key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" region"
				]
			}
		},
		"region/{region}/{category}/{time_period}": {
			"get": {
				"summary": "Region",
				"description": "Search news by region",
				"operationId": "",
				"parameters": [
					{
						"name": "category",
						"in": "path",
						"description": "Filters articles by {category}.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "key",
						"in": "query",
						"description": "API key.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "region",
						"in": "path",
						"description": "Filters articles published in that {region}",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sort_by",
						"in": "query",
						"description": "One of the following: [default, fb_likes, fb_shares, fb_comments, fb_total, twitter, linkedin, fb_tw_and_li, nw_score, nw_max_score]. Defaults to default",
						"type": "string",
						"format": "string"
					},
					{
						"name": "time_period",
						"in": "path",
						"description": "Filters articles published within the last X hours. X can be 1, 3, 12, 24 or 168 hours)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "video_only",
						"in": "query",
						"description": "true or false. Defaults to false.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" region"
				]
			}
		}
	},
	"definitions": {
		"Article": {
			"properties": [
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					},
					"topic": {
						"description": "Topic assigned to this article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					},
					"topic": {
						"description": "Topic assigned to this article",
						"type": "string"
					},
					"subtopic": {
						"description": "Subtopic assigned to this article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					},
					"topic": {
						"description": "Topic assigned to this article",
						"type": "string"
					},
					"subtopic": {
						"description": "Subtopic assigned to this article",
						"type": "string"
					},
					"trade_region": {
						"description": "Trade region covered by an articleu2019s content",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					},
					"topic": {
						"description": "Topic assigned to this article",
						"type": "string"
					},
					"subtopic": {
						"description": "Subtopic assigned to this article",
						"type": "string"
					},
					"trade_region": {
						"description": "Trade region covered by an articleu2019s content",
						"type": "string"
					},
					"geo_region": {
						"description": "World region covered by an articleu2019s content",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
[...]
