{
	"swagger": "2.0",
	"info": {
		"title": "IBM Watson Machine Translation API",
		"description": "REST methods for Machine Translation",
		"version": "v1"
	},
	"host": "service.platform.watson.ibm.com",
	"basePath": "/laser/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/feedback/service/v1/api/machinetranslation": {
			"put": {
				"summary": "Submit feedback on the Machine Translation service",
				"description": "The feedback API allows you to provide information on how well the service performed.  The feedback is used to further improve the service and future results.",
				"operationId": "profile",
				"parameters": [{
					"in": "Header",
					"name": "Basic Authorization",
					"description": "Base64 Basic Auth",
					"type": "string",
					"format": "string"
				},
				{
					"in": "body",
					"name": "Feedback information",
					"description": "JSON Data",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/laser/service/smt": {
			"post": {
				"summary": "Sends text to the server for translation",
				"description": "",
				"operationId": "postMt",
				"parameters": [{
					"in": "query",
					"name": "rt",
					"description": "The format of the translated content that you want.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sid",
					"description": "Language identifiers. Uses the ISO language and country code in the form mt-&lt;from-language&gt;-&lt;to-language&gt;.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "txt",
					"description": "The text that you want to translate. Must be encoded as UTF-8.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Feedback": {
			"properties": {
				"service_request": {
					"description": "This is a default description.",
					"type": "string"
				},
				"service_response": {
					"description": "This is a default description.",
					"type": "string"
				},
				"score": {
					"description": "This is a default description.",
					"type": "string"
				},
				"text": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}