{
	"swagger": "2.0",
	"info": {
		"title": "Reddit Moderation API",
		"description": "API for manageming Reddit moderation.",
		"termsOfService": "https://github.com/reddit/reddit/wiki/API",
		"version": null
	},
	"host": "www.reddit.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/api/approve": {
			"post": {
				"summary": "Approve a link or comment.",
				"description": "Approve a link or comment.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/distinguish": {
			"post": {
				"summary": "Distinguish a thing&#39;s author with a sigil.",
				"description": "Distinguish a thing&#39;s author with a sigil.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "how",
					"description": "one of (yes, no, admin, special)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/ignore_reports": {
			"post": {
				"summary": "Prevent future reports on a thing from causing notifications.",
				"description": "Prevent future reports on a thing from causing notifications.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/leavecontributor": {
			"post": {
				"summary": "Abdicate approved submitter status in a subreddit.",
				"description": "Abdicate approved submitter status in a subreddit.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/leavemoderator": {
			"post": {
				"summary": "Abdicate moderator status in a subreddit.",
				"description": "Abdicate moderator status in a subreddit.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/mute_message_author": {
			"post": {
				"summary": "For muting user via modmail.",
				"description": "For muting user via modmail.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/remove": {
			"post": {
				"summary": "Remove a link, comment, or modmail message.",
				"description": "Remove a link, comment, or modmail message.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "spam",
					"description": "boolean value",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/unignore_reports": {
			"post": {
				"summary": "Allow future reports on a thing to cause notifications.",
				"description": "Allow future reports on a thing to cause notifications.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/unmute_message_author": {
			"post": {
				"summary": "For unmuting user via modmail.",
				"description": "For unmuting user via modmail.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/about/location": {
			"get": {
				"summary": "Return a listing of posts relevant to moderators.",
				"description": "Return a listing of posts relevant to moderators.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "after",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "before",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "a positive integer (default: 0)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "the maximum number of items desired (default: 25, maximum: 100)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "location",
					"type": "string"
				},
				{
					"in": "query",
					"name": "only",
					"description": "one of (links, comments)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "show",
					"description": "(optional) the string all",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sr_detail",
					"description": "(optional) expand subreddits",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/about/log": {
			"get": {
				"summary": "Get a list of recent moderation actions.",
				"description": "Get a list of recent moderation actions.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "after",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "before",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "a positive integer (default: 0)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "the maximum number of items desired (default: 25, maximum: 500)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mod",
					"description": "(optional) a moderator filter",
					"type": "string"
				},
				{
					"in": "query",
					"name": "show",
					"description": "(optional) the string all",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sr_detail",
					"description": "(optional) expand subreddits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "one of (banuser, unbanuser, removelink, approvelink, removecomment, approvecomment, addmoderator, invitemoderator, uninvitemoderator, acceptmoderatorinvite, removemoderator, addcontributor, removecontributor, editsettings, editflair, distinguish, marknsfw, wikibanned, wikicontributor, wikiunbanned, wikipagelisted, removewikicontributor, wikirevise, wikipermlevel, ignorereports, unignorereports, setpermissions, setsuggestedsort, sticky, unsticky, setcontestmode, unsetcontestmode, lock, unlock, muteuser, unmuteuser, createrule, editrule, deleterule)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/accept_moderator_invite": {
			"post": {
				"summary": "Accept an invite to moderate the specified subreddit.",
				"description": "Accept an invite to moderate the specified subreddit.",
				"operationId": "moderation",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/stylesheet": {
			"get": {
				"summary": "Redirect to the subreddit&#39;s stylesheet if one exists.",
				"description": "Redirect to the subreddit&#39;s stylesheet if one exists.",
				"operationId": "moderation",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}