{
	"swagger": "2.0",
	"info": {
		"title": "Reddit Flair API",
		"description": "API for manageming Reddit flair.",
		"termsOfService": "https://github.com/reddit/reddit/wiki/API",
		"version": null
	},
	"host": "www.reddit.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"{/r/subreddit}/api/clearflairtemplates": {
			"post": {
				"summary": "the string json",
				"description": "the string json",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_type",
					"description": "one of (USER_FLAIR, LINK_FLAIR)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/deleteflair": {
			"post": {
				"summary": "the string json",
				"description": "the string json",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "a user by name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/deleteflairtemplate": {
			"post": {
				"summary": "the string json",
				"description": "the string json",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_template_id",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/flair": {
			"post": {
				"summary": "the string json",
				"description": "the string json",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "css_class",
					"description": "a valid subreddit image name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "link",
					"description": "a fullname of a link",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "a user by name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text",
					"description": "a string no longer than 64 characters",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/flairconfig": {
			"post": {
				"summary": "the string json",
				"description": "the string json",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_enabled",
					"description": "boolean value",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_position",
					"description": "one of (left, right)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_self_assign_enabled",
					"description": "boolean value",
					"type": "string"
				},
				{
					"in": "query",
					"name": "link_flair_position",
					"description": "one of (`,left,right`)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "link_flair_self_assign_enabled",
					"description": "boolean value",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/flaircsv": {
			"post": {
				"summary": "Change the flair of multiple users in the same subreddit with ansingle API call.",
				"description": "Change the flair of multiple users in the same subreddit with ansingle API call.",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "flair_csv",
					"description": "comma-seperated flair information",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/flairlist": {
			"get": {
				"summary": "This endpoint is a listing.",
				"description": "This endpoint is a listing.",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "after",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "before",
					"description": "fullname of a thing",
					"type": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "a positive integer (default: 0)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "the maximum number of items desired (default: 25, maximum: 1000)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "a user by name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "show",
					"description": "(optional) the string all",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sr_detail",
					"description": "(optional) expand subreddits",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/flairselector": {
			"post": {
				"summary": "Return information about a users&#39;s flair options.",
				"description": "Return information about a users&#39;s flair options.",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "link",
					"description": "a fullname of a link",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "a user by name",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/flairtemplate": {
			"post": {
				"summary": "the string json",
				"description": "the string json",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "css_class",
					"description": "a valid subreddit image name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_template_id",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_type",
					"description": "one of (USER_FLAIR, LINK_FLAIR)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text",
					"description": "a string no longer than 64 characters",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text_editable",
					"description": "boolean value",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/selectflair": {
			"post": {
				"summary": "the string json",
				"description": "the string json",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_template_id",
					"type": "string"
				},
				{
					"in": "query",
					"name": "link",
					"description": "a fullname of a link",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "a user by name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text",
					"description": "a string no longer than 64 characters",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"{/r/subreddit}/api/setflairenabled": {
			"post": {
				"summary": "the string json",
				"description": "the string json",
				"operationId": "flair",
				"parameters": [{
					"in": "query",
					"name": "api_type",
					"description": "the string json",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flair_enabled",
					"description": "boolean value",
					"type": "string"
				},
				{
					"in": "query",
					"name": "uh / X-Modhash header",
					"description": "a modhash",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}