{
	"swagger": "2.0",
	"info": {
		"title": "Guardian Content API",
		"description": "The Content API is a public service for accessing all the content the Guardian creates and the collections we have of that content (tags and sections). There are over one and a half million items available published as far back as 1999. This overview will give you some idea of what data is available, how to find what you need, and what you will see when you make a request to us.",
		"termsOfService": null,
		"version": "v1"
	},
	"host": "beta.content.guardianapis.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/": {
			"get": {
				"summary": "News",
				"description": "Retrieves a single news item.",
				"operationId": "",
				"parameters": [
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The javascript callback name to wrap the JSON response",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format to return the results in",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hide-recent-content",
						"in": "query",
						"description": "When true removes the results list from the response.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "idea",
						"in": "query",
						"description": "The ID for an item, such as a piece of content, is the path to that item on the site. By replacing the domain with content.guardianapis.com you get the API URL for that piece of content",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-editors-picks",
						"in": "query",
						"description": "When true display a list of content that is chosen by editors on tags, sections and the home page. This content list represents the main list of content found on the equivalent path on the site",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-most-viewed",
						"in": "query",
						"description": "When true display most viewed content. For overall most viewed set id to '/', for section most viewed set id to the section id",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-related-content",
						"in": "query",
						"description": "Content items can show a set of 'related' content. When true returns content items related to the main content item",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-story-package",
						"in": "query",
						"description": "When true display a list of content that is in the has been identified as being about the same story as the requested content item. When a content item is in a package the hasStoryPackage field has a value of true",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"search/": {
			"get": {
				"summary": "Content Search",
				"description": "Search for the content API.",
				"operationId": "",
				"parameters": [
					{
						"name": "all",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "allowUgc",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "body",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "byline",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The javascript callback name to wrap the JSON response. Read HTTP Status Codes and APIs: how the Guardians Content API does it for more details",
						"type": "string",
						"format": "string"
					},
					{
						"name": "commentable",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "commentCloseDate",
						"in": "query",
						"description": "The date the comments have been closed",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format to return the results in",
						"type": "string",
						"format": "string",
						"default": "json"
					},
					{
						"name": "from-date",
						"in": "query",
						"description": "Return only content published on or after that date",
						"type": "string",
						"format": "string"
					},
					{
						"name": "hasStoryPackage",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "headline",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "ids",
						"in": "query",
						"description": "Return only content with those IDs",
						"type": "string",
						"format": "string"
					},
					{
						"name": "internalPageCode",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "isPremoderated",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "lastModified",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "liveBloggingNow",
						"in": "query",
						"description": "Content is currently live blogged if true",
						"type": "string",
						"format": "string"
					},
					{
						"name": "order-by",
						"in": "query",
						"description": "Returns results in the specified order",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Return only the result set from a particular page",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page-size",
						"in": "query",
						"description": "Modify the number of items displayed per page",
						"type": "string",
						"format": "string"
					},
					{
						"name": "production-office",
						"in": "query",
						"description": "Return only content from those production offices",
						"type": "string",
						"format": "string"
					},
					{
						"name": "productionOffice",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "publication",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Request content containing this free text",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reference",
						"in": "query",
						"description": "Return only content with those references",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reference-type",
						"in": "query",
						"description": "Return only content with references of those types",
						"type": "string",
						"format": "string"
					},
					{
						"name": "rights",
						"in": "query",
						"description": "Return only content with those rights",
						"type": "string",
						"format": "string"
					},
					{
						"name": "score",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "section",
						"in": "query",
						"description": "Return only content in those sections",
						"type": "string",
						"format": "string"
					},
					{
						"name": "shortUrl",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "shouldHideAdverts",
						"in": "query",
						"description": "Adverts will not be displayed if true",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-elements",
						"in": "query",
						"description": "Add associated media elements such as images and audio",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-fields",
						"in": "query",
						"description": "Add fields associated with the content",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-references",
						"in": "query",
						"description": "Add associated reference data such as ISBNs",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-rights",
						"in": "query",
						"description": "Add associated rights",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-tags",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "showInRelatedContent",
						"in": "query",
						"description": "Whether this content can appear in automatically generated Related Content",
						"type": "string",
						"format": "string"
					},
					{
						"name": "standfirst",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "starRating",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Return only content with those tags",
						"type": "string",
						"format": "string"
					},
					{
						"name": "thumbnail",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to-date",
						"in": "query",
						"description": "Return only content published on or before that date",
						"type": "string",
						"format": "string"
					},
					{
						"name": "trailText",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "use-date",
						"in": "query",
						"description": "Changes which type of date is used to order the results",
						"type": "string",
						"format": "string"
					},
					{
						"name": "wordcount",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news"
				]
			}
		},
		"sections/": {
			"get": {
				"summary": "Sections",
				"description": "Retrieve list of sections.",
				"operationId": "",
				"parameters": [
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The javascript callback name to wrap the JSON response.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format to return the results in",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Return section based on the query term specified",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" sections"
				]
			}
		},
		"tags/": {
			"get": {
				"summary": "Tags",
				"description": "Tags search.",
				"operationId": "",
				"parameters": [
					{
						"name": "api-key",
						"in": "query",
						"description": "The API key used for the query",
						"type": "string",
						"format": "string"
					},
					{
						"name": "callback",
						"in": "query",
						"description": "The javascript callback name to wrap the JSON response. Read HTTP Status Codes and APIs: how the Guardians Content API does it for more details",
						"type": "string",
						"format": "string"
					},
					{
						"name": "format",
						"in": "query",
						"description": "The format to return the results in",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page",
						"in": "query",
						"description": "Returns results only for that page index",
						"type": "string",
						"format": "string"
					},
					{
						"name": "page-size",
						"in": "query",
						"description": "Modify the number of items displayed per page",
						"type": "string",
						"format": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "Request tags containing this free text",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reference",
						"in": "query",
						"description": "Return only tags with those references",
						"type": "string",
						"format": "string"
					},
					{
						"name": "reference-type",
						"in": "query",
						"description": "Return only tags with references of those types",
						"type": "string",
						"format": "string"
					},
					{
						"name": "section",
						"in": "query",
						"description": "Return only tags in those sections",
						"type": "string",
						"format": "string"
					},
					{
						"name": "show-references",
						"in": "query",
						"description": "Show associated reference data such as ISBNs",
						"type": "string",
						"format": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "Return only tags of those types",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" tags"
				]
			}
		}
	},
	"definitions": {
		"Article": {
			"properties": [
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					},
					"topic": {
						"description": "Topic assigned to this article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					},
					"topic": {
						"description": "Topic assigned to this article",
						"type": "string"
					},
					"subtopic": {
						"description": "Subtopic assigned to this article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					},
					"topic": {
						"description": "Topic assigned to this article",
						"type": "string"
					},
					"subtopic": {
						"description": "Subtopic assigned to this article",
						"type": "string"
					},
					"trade_region": {
						"description": "Trade region covered by an articleu2019s content",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
[...]
