{
	"swagger": "2.0",
	"info": {
		"title": "Getty Images Country API",
		"version": "v3"
	},
	"host": "connect.gettyimages.com",
	"basePath": "/v3/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v3/countries": {
			"get": {
				"summary": "Gets countries codes and names.",
				"description": "",
				"operationId": "Countries_GetCountries",
				"parameters": [{
					"in": "header",
					"name": "Accept-Language",
					"description": "Accept-Language parameter optional. Used to restrict the set of natural languages that are preferred as a response to the request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "header",
					"name": "Api-Key",
					"description": "Api-Key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "header",
					"name": "Authorization",
					"description": "Authorization token optional. Used for applying content access restrictions. Use one of the OAuth2 grants to auto-populate this value.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"countries": {
			"properties": {
				"countries": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"country": {
			"properties": {
				"iso_alpha_2": {
					"description": "This is a default description.",
					"type": "string"
				},
				"iso_alpha_3": {
					"description": "This is a default description.",
					"type": "string"
				},
				"name": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}