{
	"swagger": "2.0",
	"info": {
		"title": "FAFSA Application API",
		"description": "This is an application for the Federal Student Aid (FAFSA) form.",
		"contact": {
			"name": "Kin Lane",
			"url": "https://github.com/ed-data/fafsa-api/issues",
			"email": "info@apievangelist.com"
		},
		"version": "v1"
	},
	"host": "fafsa.api.publicprivatesector.org",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/applications/": {
			"get": {
				"summary": "Finds all applications",
				"description": "Returns a list of all FAFSA applications in the system.",
				"operationId": "getApplications",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "a comma separated list of fields to return",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Adds new application",
				"description": "Adds a new FAFSA application",
				"operationId": "addApplicaiton",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "first_name",
					"description": "Students first name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "last_name",
					"description": "Students last name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_email_address",
					"description": "Students last name",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/applications/{fafsa_id}": {
			"delete": {
				"summary": "Delete application",
				"description": "Deletes an existing application from the system",
				"operationId": "deleteApplication",
				"parameters": [{
					"in": "form",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string"
				},
				{
					"in": "form",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string"
				},
				{
					"in": "path",
					"name": "fafsa_id",
					"description": "unique id of the FAFSA application",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Retrieve Application",
				"description": "Returns a single FAFSA application",
				"operationId": "getApplication",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string"
				},
				{
					"in": "path",
					"name": "fafsa_id",
					"description": "unique id for the FAFSA application",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "a comma separated list of fields to return",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "Updates existing application",
				"description": "Updates an existing FAFSA application, all fields are optional, except the fafsa_ID, include as few or as many as you need.",
				"operationId": "updateApplication",
				"parameters": [{
					"in": "query",
					"name": "active_duty_military",
					"description": "Active Duty Military",
					"type": "string"
				},
				{
					"in": "query",
					"name": "alien_registration_number",
					"description": "Alien Registration Number",
					"type": "string"
				},
				{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "are_you_male_or_female",
					"description": "Are You Male or Female",
					"type": "string"
				},
				{
					"in": "query",
					"name": "at_risk_of_homelessness",
					"description": "At Risk of Homelessness",
					"type": "string"
				},
				{
					"in": "query",
					"name": "bachelors_degree",
					"description": "Bachelors Degree",
					"type": "string"
				},
				{
					"in": "query",
					"name": "born_before_1190",
					"description": "Born Before 1/1/90",
					"type": "string"
				},
				{
					"in": "query",
					"name": "citizenship",
					"description": "Citizenship",
					"type": "string"
				},
				{
					"in": "query",
					"name": "city",
					"description": "City",
					"type": "string"
				},
				{
					"in": "query",
					"name": "college_choices",
					"description": "College Choices",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_completed",
					"description": "Date Completed",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_of_birth",
					"description": "Date of Birth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "degreecertificate",
					"description": "Degree/Certificate",
					"type": "string"
				},
				{
					"in": "query",
					"name": "dependents_other_than_children__spouse",
					"description": "Dependents Other Than Children / Spouse",
					"type": "string"
				},
				{
					"in": "query",
					"name": "do_you_have_children",
					"description": "Do You Have Children",
					"type": "string"
				},
				{
					"in": "query",
					"name": "drug_conviction_affecting_eligibility",
					"description": "Drug Conviction Affecting Eligibility",
					"type": "string"
				},
				{
					"in": "query",
					"name": "emancipated_minor",
					"description": "Emancipated Minor",
					"type": "string"
				},
				{
					"in": "path",
					"name": "fafsa_id",
					"description": "Unique FAFSA ID:",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fathers_date_of_birth",
					"description": "Fatheru2019s Date of Birth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fathers_first_initial",
					"description": "Fatheru2019s First Initial",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fathers_highest_educational_level",
					"description": "Fathers Highest Educational Level",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fathers_income",
					"description": "Fathers Income",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fathers_last_name",
					"description": "Fatheru2019s Last Name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fathers_ssn",
					"description": "Fatheru2019s SSN",
					"type": "string"
				},
				{
					"in": "query",
					"name": "first_name",
					"description": "First Name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "grade_level_in_college",
					"description": "Grade Level in College",
					"type": "string"
				},
				{
					"in": "query",
					"name": "graduate_or_professional_student",
					"description": "Graduate or Professional Student",
					"type": "string"
				},
				{
					"in": "query",
					"name": "high_school_city",
					"description": "High School City",
					"type": "string"
				},
				{
					"in": "query",
					"name": "high_school_diploma_or_equivalent",
					"description": "High School Diploma or Equivalent",
					"type": "string"
				},
				{
					"in": "query",
					"name": "high_school_name",
					"description": "High School Name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "high_school_state",
					"description": "High School State",
					"type": "string"
				},
				{
					"in": "query",
					"name": "homeless_youth_detemined_by_hud",
					"description": "Homeless Youth Detemined By HUD",
					"type": "string"
				},
				{
					"in": "query",
					"name": "homeless_youth_determined_by_school",
					"description": "Homeless Youth Determined By School",
					"type": "string"
				},
				{
					"in": "query",
					"name": "housing_plans",
					"description": "Housing Plans",
					"type": "string"
				},
				{
					"in": "query",
					"name": "interested_in_receiving_workstudy",
					"description": "Interested in Receiving Work-Study",
					"type": "string"
				},
				{
					"in": "query",
					"name": "in_legal_guardianship",
					"description": "In Legal Guardianship",
					"type": "string"
				},
				{
					"in": "query",
					"name": "is_student_married",
					"description": "Is Student Married",
					"type": "string"
				},
				{
					"in": "query",
					"name": "last_name",
					"description": "Last Name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mailing_state",
					"description": "Mailing State",
					"type": "string"
				},
				{
					"in": "query",
					"name": "middle_initial",
					"description": "Middle Initial",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mothers_date_of_birth",
					"description": "Motheru2019s Date of Birth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mothers_first_initial",
					"description": "Motheru2019s First Initial",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mothers_highest_educational_or_equivalent",
					"description": "Mothers Highest Educational or Equivalent",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mothers_income",
					"description": "Mothers Income",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mothers_last_name",
					"description": "Motheru2019s Last Name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "mothers_ssn",
					"description": "Motheru2019s SSN",
					"type": "string"
				},
				{
					"in": "query",
					"name": "orphan_or_ward_of_the_court",
					"description": "Orphan or Ward of the Court",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_agi",
					"description": "Parents AGI",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_asset_threshold_exceeded",
					"description": "Parentsu2019 Asset Threshold Exceeded",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_businessfarm_net_worth",
					"description": "Parents Business/Farm Net Worth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_cash_savings_and_checking",
					"description": "Parents Cash, Savings, and Checking",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_child_support_paid",
					"description": "Parentsu2019 Child Support Paid",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_child_support_received",
					"description": "Parentsu2019 Child Support Received",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_combat_pay",
					"description": "Parentsu2019 Combat Pay",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_coop_earnings",
					"description": "Parentsu2019 Co-op Earnings",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_education_credits",
					"description": "Parentsu2019 Education Credits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_eligible_for_1040aez",
					"description": "Parentsu2019 Eligible for 1040A/EZ",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_email_address",
					"description": "Parentu2019s E-Mail Address",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_exemptions",
					"description": "Parents Exemptions",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_freereduced_price_lunch",
					"description": "Parentsu2019 Free/Reduced Price Lunch",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_grantscholarship_aid",
					"description": "Parentsu2019 Grant/Scholarship Aid",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_interest_income",
					"description": "Parentsu2019 Interest Income",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_ira_payments",
					"description": "Parentsu2019 IRA Payments",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_legal_residence_date",
					"description": "Parents Legal Residence Date",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_legal_residents_before_1_1108",
					"description": "Parents Legal Residents Before 1 1/1/08",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_marital_status",
					"description": "Parents Marital Status",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_marital_status_date",
					"description": "Parents Marital Status Date",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_miliaryclergy_5_allowances",
					"description": "Parentsu2019 Miliary/Clergy 5 Allowances",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_needbased_employment",
					"description": "Parentsu2019 Need-Based Employment",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_number_in_college",
					"description": "Parents Number in College",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_number_of_family_members",
					"description": "Parents Number of Family Members",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_other_untaxed_income",
					"description": "Parentsu2019 Other Untaxed Income",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_pension_payments",
					"description": "Parentsu2019 Pension Payments",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_real_estateinvestment_net_worth",
					"description": "Parents Real Estate/Investment Net Worth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_snap_benefits",
					"description": "Parentsu2019 SNAP Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_ssi_benefits",
					"description": "Parentsu2019 SSI Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_state_of_legal_residence",
					"description": "Parents State of Legal Residence",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_tanf_benefits",
					"description": "Parentsu2019 TANF Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_taxes_paid",
					"description": "Parents Taxes Paid",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_tax_return_status",
					"description": "Parents Tax Return Status",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_type_of_tax_return",
					"description": "Parentsu2019 Type of Tax Return",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_untaxed_pensions",
					"description": "Parentsu2019 Untaxed Pensions",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_veterans_5_noneducation_benefits",
					"description": "Parentsu2019 Veterans 5 Noneducation Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parents_wic_benefits",
					"description": "Parentsu2019 WIC Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parent_dislocated_worker",
					"description": "Parent Dislocated Worker",
					"type": "string"
				},
				{
					"in": "query",
					"name": "patents_ira_distributions",
					"description": "Patentsu2019 IRA Distributions",
					"type": "string"
				},
				{
					"in": "query",
					"name": "selective_service_registration",
					"description": "Selective Service Registration",
					"type": "string"
				},
				{
					"in": "query",
					"name": "signed_by",
					"description": "Signed By",
					"type": "string"
				},
				{
					"in": "query",
					"name": "social_security_number",
					"description": "Social Security Number",
					"type": "string"
				},
				{
					"in": "query",
					"name": "spouses_income",
					"description": "Spouses Income",
					"type": "string"
				},
				{
					"in": "query",
					"name": "street_address",
					"description": "Street Address",
					"type": "string"
				},
				{
					"in": "query",
					"name": "studentspouse_dislocated_worker",
					"description": "Student/Spouse Dislocated Worker",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_agi",
					"description": "Students AGI",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_asset_threshold_exceeded",
					"description": "Studentu2019s Asset Threshold Exceeded",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_businessfarm_net_6_worth",
					"description": "Students Business/Farm Net 6 Worth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_cash_savings_and_checking",
					"description": "Students Cash, Savings, and Checking",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_child_support_paid",
					"description": "Studentu2019s Child Support Paid",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_child_support_received",
					"description": "Studentu2019s Child Support Received",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_combat_pay",
					"description": "Studentu2019s Combat Pay",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_coop_earnings",
					"description": "Studentu2019s Co-op Earnings",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_drivers_license_number",
					"description": "Students Drivers License Number",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_drivers_license_state",
					"description": "Students Drivers LIcense State",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_education_credits",
					"description": "Studentu2019s Education Credits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_email_address",
					"description": "Students E-Mail Address",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_exemptions",
					"description": "Students Exemptions",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_freereduced_price_lunch",
					"description": "Students Free/Reduced Price Lunch",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_grantscholarship_aid",
					"description": "Studentu2019s Grant/Scholarship Aid",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_income",
					"description": "Students Income",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_interest_income",
					"description": "Studentu2019s Interest Income",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_ira_distributions",
					"description": "Studentu2019s IRA Distributions",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_ira_payments",
					"description": "Studentu2019s IRA Payments",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_legal_residence_date",
					"description": "Students Legal Residence Date",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_marital_status",
					"description": "Students Marital Status",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_marital_status_date",
					"description": "Students Marital Status Date",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_miliaryclergy_allowances",
					"description": "Studentu2019s Miliary/Clergy Allowances",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_needbased_employment",
					"description": "Studentu2019s Need-Based Employment",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_number_in_college",
					"description": "Students Number in College",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_number_of_family_members",
					"description": "Students Number of Family Members",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_other_nonreported_money_received",
					"description": "Studentu2019s Other Non-Reported Money Received",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_other_untaxed_income",
					"description": "Studentu2019s Other Untaxed Income",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_pension_payments",
					"description": "Studentu2019s Pension Payments",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_permanent_telephone_number",
					"description": "Students Permanent Telephone Number",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_real_estateinvestment_6_worth",
					"description": "Students Real Estate/Investment 6 Worth",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_snap_benefits",
					"description": "Students SNAP Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_ssi_benefits",
					"description": "Students SSI Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_state_of_legal_residence",
					"description": "Students State of Legal Residence",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_tanf_benefits",
					"description": "Students TANF Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_taxes_paid",
					"description": "Students Taxes Paid",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_tax_return_status",
					"description": "Students Tax Return Status",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_type_of_tax_return",
					"description": "Studentu2019s Type of Tax Return",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_untaxed_pensions",
					"description": "Studentu2019s Untaxed Pensions",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_veterans_noneducation_benefits",
					"description": "Studentu2019s Veterans Noneducation Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "students_wic_benefits",
					"description": "Students WIC Benefits",
					"type": "string"
				},
				{
					"in": "query",
					"name": "student_eligible_for_1040aez",
					"description": "Student Eligible for 1040A/EZ",
					"type": "string"
				},
				{
					"in": "query",
					"name": "student_legal_resident_before_010108",
					"description": "Student Legal Resident Before 01/01/08",
					"type": "string"
				},
				{
					"in": "query",
					"name": "veteran_status",
					"description": "Veteran Status",
					"type": "string"
				},
				{
					"in": "query",
					"name": "zip_code",
					"description": "Zip Code",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"application": {
			"properties": {
				"fafsa_id": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"last_name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"first_name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"middle_initial": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"street_address": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"city": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"mailing_state": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"zip_code": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"social_security_number": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"date_of_birth": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_permanent_telephone_number": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_drivers_license_number": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_drivers_license_state": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_email_address": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"citizenship": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"alien_registration_number": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_marital_status": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_marital_status_date": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_state_of_legal_residence": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"student_legal_resident_before_010108": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_legal_residence_date": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"are_you_male_or_female": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"selective_service_registration": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"drug_conviction_affecting_eligibility": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"fathers_highest_educational_level": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"mothers_highest_educational_or_equivalent": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"high_school_diploma_or_equivalent": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"high_school_name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"high_school_city": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"high_school_state": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"bachelors_degree": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"grade_level_in_college": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"degreecertificate": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"interested_in_receiving_workstudy": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_tax_return_status": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_type_of_tax_return": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"student_eligible_for_1040aez": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_agi": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_taxes_paid": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_exemptions": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_income": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"spouses_income": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_cash_savings_and_checking": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_real_estateinvestment_6_worth": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_businessfarm_net_6_worth": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_education_credits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_child_support_paid": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_needbased_employment": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_grantscholarship_aid": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_combat_pay": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_coop_earnings": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_pension_payments": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_ira_payments": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_child_support_received": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_interest_income": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_ira_distributions": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_untaxed_pensions": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_miliaryclergy_allowances": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_veterans_noneducation_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_other_untaxed_income": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_other_nonreported_money_received": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"born_before_1190": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"is_student_married": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"graduate_or_professional_student": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"active_duty_military": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"veteran_status": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"do_you_have_children": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"dependents_other_than_children__spouse": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"orphan_or_ward_of_the_court": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"emancipated_minor": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"in_legal_guardianship": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"homeless_youth_determined_by_school": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"homeless_youth_detemined_by_hud": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"at_risk_of_homelessness": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_marital_status": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_marital_status_date": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"fathers_ssn": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"fathers_last_name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"fathers_first_initial": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"fathers_date_of_birth": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"mothers_ssn": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"mothers_last_name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"mothers_first_initial": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"mothers_date_of_birth": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_email_address": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_state_of_legal_residence": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_legal_residents_before_1_1108": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_legal_residence_date": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_number_of_family_members": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_number_in_college": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_ssi_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_snap_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_freereduced_price_lunch": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_tanf_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_wic_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_tax_return_status": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_type_of_tax_return": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_eligible_for_1040aez": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parent_dislocated_worker": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_agi": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_taxes_paid": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_exemptions": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"fathers_income": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"mothers_income": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_cash_savings_and_checking": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_real_estateinvestment_net_worth": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_businessfarm_net_worth": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_education_credits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_child_support_paid": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_needbased_employment": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_grantscholarship_aid": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_combat_pay": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_coop_earnings": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_pension_payments": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_ira_payments": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_child_support_received": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_interest_income": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"patents_ira_distributions": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_untaxed_pensions": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_miliaryclergy_5_allowances": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_veterans_5_noneducation_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_other_untaxed_income": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_number_of_family_members": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_number_in_college": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_ssi_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_snap_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_freereduced_price_lunch": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_tanf_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_wic_benefits": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"studentspouse_dislocated_worker": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"college_choices": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"housing_plans": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"date_completed": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"signed_by": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"parents_asset_threshold_exceeded": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"students_asset_threshold_exceeded": {
					"description": "This is a default description.",
					"type": "GET"
				}
			}
		}
	}
}