{
	"swagger": "2.0",
	"info": {
		"title": "FAFSA Schools API",
		"description": "These are a list of schools to support the Federal Student Aid (FAFSA) form.",
		"contact": {
			"name": "Kin Lane",
			"url": "https://github.com/ed-data/fafsa-api/issues",
			"email": "info@apievangelist.com"
		},
		"version": "v1"
	},
	"host": "fafsa.api.publicprivatesector.org",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/schools/": {
			"get": {
				"summary": "Pulls schools",
				"description": "Returns a list of colleges and universities.",
				"operationId": "getSchools",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "city",
					"description": "a city name to filter by",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "number of results per page",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "which page in the results to view",
					"type": "string"
				},
				{
					"in": "query",
					"name": "q",
					"description": "a key word or phrasae to by",
					"type": "string"
				},
				{
					"in": "query",
					"name": "state",
					"description": "a state to filter by",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"school": {
			"properties": {
				"Institution_ID": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_Name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_Address": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_City": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_State": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_Zip": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_Phone": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_OPEID": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_IPEDS_UnitID": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Institution_Web_Address": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Campus_ID": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Campus_Name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Campus_Address": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Campus_City": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Campus_State": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Campus_Zip": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Campus_IPEDS_UnitID": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Accreditation_Type": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Agency_Name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Program_Name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Review_Date": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Accreditation_Status": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Accreditation_Date_Type": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Periods": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"Last_Action": {
					"description": "This is a default description.",
					"type": "GET"
				}
			}
		}
	}
}