{
	"swagger": "2.0",
	"info": {
		"title": "FAFSA Fields API",
		"description": "These are the fields for the Federal Student Aid (FAFSA) form.",
		"contact": {
			"name": "Kin Lane",
			"url": "https://github.com/ed-data/fafsa-api/issues",
			"email": "info@apievangelist.com"
		},
		"version": "v1"
	},
	"host": "fafsa.api.publicprivatesector.org",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/fields/": {
			"get": {
				"summary": "Pulls all fields",
				"description": "Returns a list of all fields in the FAFSA form.",
				"operationId": "getFields",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"field": {
			"properties": {
				"question_number": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"field_number": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"field_label": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"field_name": {
					"description": "This is a default description.",
					"type": "GET"
				},
				"field_length": {
					"description": "This is a default description.",
					"type": "GET"
				}
			}
		}
	}
}