{
	"swagger": "2.0",
	"info": {
		"title": "Auth0 Jobs API",
		"version": "v1"
	},
	"host": "login.auth0.com",
	"basePath": "/jobs",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/api/v2/jobs/users-imports": {
			"post": {
				"summary": "Imports users to a connection from a file using a long running job.",
				"description": "<strong>Important:</strong> The documentation for the file format is <a href=https://docs.auth0.com/bulk-import>here</a>.",
				"operationId": "post_users-imports",
				"parameters": [{
					"in": "form",
					"name": "connection_name",
					"description": "The name of the connection to which users will be added.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "form",
					"name": "users",
					"description": "A file containing the users to import",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/api/v2/jobs/{job_id}": {
			"get": {
				"summary": "Retrieves a job. Useful to check its status.",
				"description": "",
				"operationId": "get_jobs_by_job_id",
				"parameters": [{
					"in": "path",
					"name": "job_id",
					"description": "The id of the job",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"": {
			"properties": {
				"status": {
					"description": "This is a default description.",
					"type": "string"
				},
				"type": {
					"description": "This is a default description.",
					"type": "string"
				},
				"tenant": {
					"description": "This is a default description.",
					"type": "string"
				},
				"connection": {
					"description": "This is a default description.",
					"type": "string"
				},
				"_id": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}