{
	"swagger": "2.0",
	"info": {
		"title": "Plivo SMS",
		"version": "v1"
	},
	"host": "api.plivo.com",
	"basePath": "v1/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"{auth_id}/Message/": {
			"get": {
				"summary": "Message",
				"description": "Get details of a message.",
				"operationId": "",
				"parameters": [{
					"in": "path",
					"name": "auth_id",
					"description": "AUTH TOKEN Your Plivo AUTH ID and AUTH TOKEN can be found when you login to your dashboard.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Used to display the number of results per page. The maximum number of results that can be fetched is 20.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "offset",
					"description": "Denotes the number of value items by which the results should be offset. Eg:- If the result contains a 1000 values and limit is set to 10 and offset is set to 705, then values 706 through 715 are displayed in the results. This parameter is also used for pagination of the results.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" SMS"],
				"security": []
			},
			"post": {
				"summary": "Send Message",
				"description": "This API enables you to send messages via Plivou2019s SMS service.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "dst",
					"description": "The number to which the message needs to be sent. Regular phone numbers must be prefixed with the country code but without the + sign. For e.g, a USA phone number would be, `15677654321`, with 1 denoting the country code. Multiple numbers can be added by using a delimiter.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "log",
					"description": "If set to false, the content of this message will not be logged on the Plivo infrastructure and the dst value will be masked. (e.g., 141XXXXX528) Defaults to true.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "method",
					"description": "The method used to call the url. Defaults to POST.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "src",
					"description": "The phone number to be used as the caller id (with the country code). For e.g. a USA number, `15671234567`. If youre sending messages to U.S. and Canada, you need to use the numbers you purchased with Plivo.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "text",
					"description": "The text to send encoded in Unicode UTF-8. The API accepts up to 1000 bytes of UTF-8 encoded text in a single API request. The text will be automatically split into multiple parts and sent if it will not fit into a single SMS. See notes below for more details.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "This API enables you to send messages via Plivou2019s SMS service.",
					"description": "AUTH TOKEN Your Plivo AUTH ID and AUTH TOKEN can be found when you login to your dashboard.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "The type of message. Should be sms for a text message. Defaults to sms.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "The URL to which with the status of the message is sent.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" SMS"],
				"security": []
			}
		},
		"{auth_id}/Message/{message_uuid}/": {
			"get": {
				"summary": "Message",
				"description": "Get details of a single message.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "auth_id",
					"description": "AUTH TOKEN Your Plivo AUTH ID and AUTH TOKEN can be found when you login to your dashboard.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "message_uuid",
					"description": "The message unique id.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" SMS"],
				"security": []
			}
		}
	},
	"definitions": []
}