{
	"swagger": "2.0",
	"info": {
		"title": "7digital Playlist API",
		"description": "The Playlist API provides access to playlists created by 7digital users. Users can see a list of their own playlists and public playlists of other users, create a new playlist, replace an existing one and add or delete indvidual tracks",
		"version": "1.2"
	},
	"host": "api.7digital.com",
	"basePath": "1.2/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"playlists": {
			"get ": {
				"summary": "playlists",
				"description": "Returns a list of all public playlists. If an oauth_token is provided then also given users private playlists will be included in the response.",
				"operationId": "playlists",
				"parameters": [{
					"in": "query",
					"name": "",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "oauth_token",
					"description": "Users OAuth access token - allows user to view Private playlist if it belongs to them",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "nttttttPage number of the result set. If not supplied, defaults to 1nttttt",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "Number of items to be returned per page. If not supplied, defaults to 10. Maximum page size is 500",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "user",
					"description": "This allows you to pass the id of a user you wish to view the playlists of a specific user. It must be in the format id:{userId}",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"playlists/{playlistId}": {
			"delete ": {
				"summary": "playlists/{playlistId}",
				"description": "Deletes the playlist at {playlistId}. The playlist can only be deleted by its owner, i.e. oauth_token representing the user has to be provided.",
				"operationId": "playlistsplaylistid",
				"parameters": [{
					"in": "query",
					"name": "",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "oauth_token",
					"description": "Users OAuth access token",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get ": {
				"summary": "playlists/{playlistId}",
				"description": "Returns playlist details and track listing. Access to private playlists is only allowed when an oauth_token of the playlist owner is provided.",
				"operationId": "playlistsplaylistid",
				"parameters": [{
					"in": "query",
					"name": "",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "oauth_token",
					"description": "Users OAuth access token - allows user to view private playlist if it belongs to them",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"playlists/{playlistId}/details": {
			"post ": {
				"summary": "playlists/{playlistId}/details",
				"description": "Updates playlist details at {playlistId} with the supplied playlist details. It does not affect playlist tracks. Use this method e.g. for changing visibility of the playlist from private to public. The playlist details can only be updated by the playlist owner, i.e. oauth_token representing the user has to be provided.",
				"operationId": "playlistsplaylistiddetails",
				"parameters": [{
					"in": "query",
					"name": "",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "oauth_token",
					"description": "Users OAuth access token",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"playlists/{playlistId}/tracks/{playlisttrackid}": {
			"delete ": {
				"summary": "playlists/{playlistId}/tracks/{playlisttrackid}",
				"description": "Removes the specified track {playlisttrackid} from the specified playlist at {playlistId}.  Tracks can only be removed by the playlist owner, i.e. oauth_token representing the user has to be provided.",
				"operationId": "playlistsplaylistidtracksplaylisttrackid",
				"parameters": [{
					"in": "query",
					"name": "",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "oauth_token",
					"description": "Users OAuth access token",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}