{
	"swagger": "2.0",
	"info": {
		"title": "MyNewsDesk Pressroom List",
		"description": "Mynewsdesk Webservice for newsroom is a way for you, as a registered customer, to fetch information from your newsroom at Mynewsdesk to any system. You can get all your information as XML and create email subscriptions to your material.",
		"termsOfService": "http://www.mynewsdesk.com/about/terms-and-conditions?locale=en",
		"version": "v1"
	},
	"host": "www.mynewsdesk.com",
	"basePath": "/services/pressroom/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"create_comment/": {
			"get": {
				"summary": "Create Comment",
				"description": "Create Comment",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "blog",
					"description": "URL of commenters blog/website.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "body",
					"description": "Content of comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "commentable_id",
					"description": "ID of the material that is commented.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Email address of commenter.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Name of commenter.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type_of_media",
					"description": "Type of material. Valid values are pressrelease, news, blog_post, event, image, video, document and contact_person.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "unique key",
					"description": "The MyNewsDesk API Key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "user_ip",
					"description": "IP number of commenter. This is needed for easier moderation and spam protection.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news",
				" comment"],
				"security": []
			}
		},
		"list/": {
			"get": {
				"summary": "Lists news",
				"description": "Lists news",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "archived",
					"description": "Fetch items marked as archived, this is useful for fetching old events. Example: true u2013 Fetches all the items, including archived ones",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "callback",
					"description": "If format is JSON and callback is specified, the JSON response is wrapped in a function call with the specified callback name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "format",
					"description": "Specify the format of the response: RSS 2.0, JSON or full XML.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Set the maximum number of items in the response. This cannot be more than 100.",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "offset",
					"description": "Specify which item (sequentially) should be first, skipping preceding items.",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Specify the sort order of the result: publish date (published), latest update (updated) or creation date (created).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pressroom",
					"description": "Set the pressroom to fetch material from. Examples: se u2013 Swedish pressroom, uk u2013 United Kingdom pressroom.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type_of_media",
					"description": "Fetch material of this type only.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "unique key",
					"description": "The MyNewsDesk API Key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news"],
				"security": []
			}
		},
		"pressroom_info/": {
			"get": {
				"summary": "Pressroom Info",
				"description": "Pressroom Info",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "pressroom",
					"description": "Set the pressroom to search in. se u2013 Swedish pressroom, no u2013 Norwegian pressroom and en for international pressroom.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "unique key",
					"description": "The MyNewsDesk API Key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news",
				" press"],
				"security": []
			}
		},
		"search/": {
			"get": {
				"summary": "News Search",
				"description": "News Search",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "callback",
					"description": "If format is JSON and callback is specified, the JSON response is wrapped in a function call with the specified callback name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "date_end",
					"description": "End date. Valid only with date modes between and before. Format: YYYY-MM-DD, e.g. 2006-12-31.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "date_mode",
					"description": "Specifies how the date parameters are used. Valid values are: between, on, before or after.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "date_on",
					"description": "Date. Valid only with date mode on. Format: YYYY-MM-DD, e.g. 2006-12-31",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "date_start",
					"description": "Start date. Valid only with date modes between and after. Format: YYYY-MM-DD, e.g. 2006-12-31.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "format",
					"description": "Specify the format of the response: RSS 2.0, JSON or full XML.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Set the maximum number of items in the response. This cannot be more than 100.",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "Page number in the search result",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pressroom",
					"description": "Set the pressroom to search in. se u2013 Swedish pressroom, no u2013 Norwegian pressroom",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Search string. The search is performed on all text fields in the material, like the header, summary and body. Searching supports advanced queries with AND/OR/NOT, and wildcards (*).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type_of_media",
					"description": "The type of material to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "unique key",
					"description": "The MyNewsDesk API Key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news"],
				"security": []
			}
		},
		"send_email/": {
			"get": {
				"summary": "Send Email",
				"description": "Send Email",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "from",
					"description": "Name of sender.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "item_id",
					"description": "ID of the material to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "Personal message from the sender to the recipient.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "to_email",
					"description": "Recipient email address.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type_of_media",
					"description": "The type of material to be fetched. Valid values are pressrelease, news, blog_post,event, image, video, document and contact_person.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "unique key",
					"description": "The MyNewsDesk API Key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Email",
				" Messaging"],
				"security": []
			}
		},
		"subscription/": {
			"get": {
				"summary": "News Subscription",
				"description": "News Subscription",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "newsdesk_pressroom",
					"description": "Set the pressroom to search in. se u2013 Swedish pressroom, no u2013 Norwegian pressroom and en for international pressroom.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "newsdesk_subscriber_email",
					"description": "Email address of the subscriber.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "newsdesk_subscribe_to_type",
					"description": "Send a parameter with the value 1 for each type of material to be included in the subscription. At least one type is required.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unique key",
					"description": "The MyNewsDesk API Key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news",
				" subscription"],
				"security": []
			}
		},
		"view/": {
			"get": {
				"summary": "View News",
				"description": "View News",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "callback",
					"description": "If format is JSON and callback is specified, the JSON response is wrapped in a function call with the specified callback name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "format",
					"description": "Specify the format of the response: JSON or full XML.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "item_id",
					"description": "ID of the material to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type_of_media",
					"description": "The type of material to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "unique key",
					"description": "The MyNewsDesk API Key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news"],
				"security": []
			}
		}
	},
	"definitions": []
}