{
	"swagger": "2.0",
	"info": {
		"title": "Vimeo API",
		"description": "The only way to perform authenticated read/write requests on videos, users, groups, channels, albums, or upload.",
		"termsOfService": "https://developer.vimeo.com/guidelines/terms",
		"version": "v1"
	},
	"host": "api.vimeo.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/": {
			"": {
				"summary": "List all endpoints",
				"description": "View all endpoints as URI templates",
				"operationId": "list-all-endpoints",
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories": {
			"": {
				"summary": "Categories",
				"description": "Get a list of the top level categories.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}": {
			"": {
				"summary": "Categories",
				"description": "Get a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/channels": {
			"": {
				"summary": "Categories",
				"description": "Get a list of Channels related to a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/groups": {
			"": {
				"summary": "Categories",
				"description": "Get a list of Groups related to a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/users": {
			"": {
				"summary": "Categories",
				"description": "Get a list of users related to a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/videos": {
			"": {
				"summary": "Categories",
				"description": "Get a list of videos related to a category.",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/categories/{category}/videos/{video_id}": {
			"": {
				"summary": "Categories",
				"description": "Check if a category contains a video",
				"operationId": "categories",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels": {
			"": {
				"summary": "Channels",
				"description": "Get a list of all Channels.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels/{channel_id}": {
			"": {
				"summary": "Channels",
				"description": "Get a Channel.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels/{channel_id}/users": {
			"": {
				"summary": "Channels",
				"description": "Get a list of users who follow a Channel.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels/{channel_id}/videos": {
			"": {
				"summary": "Channels",
				"description": "Get a list of videos in a Channel.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/channels/{channel_id}/videos/{video_id}": {
			"": {
				"summary": "Channels",
				"description": "Check if this Channel contains a video.",
				"operationId": "channels",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups": {
			"": {
				"summary": "Groups",
				"description": "Get a list of all Groups.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}": {
			"": {
				"summary": "Groups",
				"description": "Get a Group.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/users": {
			"": {
				"summary": "Groups",
				"description": "Get a list of users that joined a Group.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
						"description": "Whatever you requested was Not Found. Cause: You asked for a resource that does not exist."
					},
					"101": {
						"description": "The action is forbidden. Cause: You are attempting to do something that your API key does not allow."
					},
					"102": {
						"description": "The account has been suspended. Cause: The account you&#8217;re trying to use has been suspended. Resolution: Contact us to see why."
					},
					"103": {
						"description": "Invalid password. Cause: The password provided is incorrect."
					},
					"104": {
						"description": "Terms Not Accepted. Cause: When submitted a sign up, the TOS was not agreed to."
					},
					"105": {
						"description": "Username already exists. Cause: The username provided is already taken."
					},
					"106": {
						"description": "This email address already exists. Cause: The email address provided for a sign up is already in use."
					},
					"200": {
						"description": "The file provided is too large. Cause: The video file you provided is too large. Resolution: Provide a smaller file."
					},
					"202": {
						"description": "Upload error (e.g. invalid multipart format request) Cause: An upload must be a multipart form-data encoded request. Resolution: Followu00a0the documentationclosely."
					},
					"203": {
						"description": "Uploading has been disabled, probably temporarily for maintenance. Cause: Viddler is doing routine maintenance. Resolution: Please wait and try again later."
					},
					"204": {
						"description": "Upload resume responds with &#8220;bad content range&#8221;."
					},
					"205": {
						"description": "Upload resume responds with &#8220;bad server&#8221;."
					},
					"206": {
						"description": "Upload resume responds with &#8220;not possible, file deleted&#8221;."
					},
					"207": {
						"description": "Upload resume responds with &#8220;not overlapping range&#8221;."
					},
					"208": {
						"description": "Upload resume responds with &#8220;too much data&#8221;."
					},
					"209": {
						"description": "Upload resume responds with &#8220;not possible, no valid upload found&#8221;."
					},
					"200 OK": {
						"description": ""
					},
					"400 Invalid Request": {
						"description": "If relevant sort is provided without a search query"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/groups/{group_id}/videos": {
			"": {
				"summary": "Groups",
				"description": "Get a list of videos in a Group.",
				"operationId": "groups",
				"parameters": [
					{
						"name": "direction",
						"in": "query",
						"description": "The direction that the results are sorted.",
						"type": "string                                       "
					},
					{
						"name": "filter",
						"in": "query",
						"description": "Filter to apply to the results.",
						"type": "string                                       "
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to show.",
						"type": "int"
					},
					{
						"name": "per_page",
						"in": "query",
						"description": "Number of items to show on each page. Max 50.",
						"type": "int"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Search query.",
						"type": "string"
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Technique used to sort the results.",
						"type": "string                                       "
					}
				],
				"responses": {
					"1": {
						"description": "An internal error has occurred. Cause: A bug in the API. Resolution: Contact us."
					},
					"2": {
						"description": "Bad argument format. Cause: You didn&#8217;t supply the right information for an argument. Resolution: Be sure to submit the correct format for the arguments you&#8217;re supplying."
					},
					"3": {
						"description": "Unknown argument specified. Cause: One of the arguments is unknown. Resolution: Perhaps you misspelled the argument?"
					},
					"4": {
						"description": "Missing required argument for this method. Cause: An argument, like sessionid, is required and it wasn&#8217;t specified. Resolution: Be sure to consult the method&#8217;s documentation to be sure you&#8217;re supplying all of the required arguments."
					},
					"5": {
						"description": "No method specified. Cause: The request did not include a method."
					},
					"6": {
						"description": "Unknown method specified. Cause: The method provided is not a valid method. Resolution: Check the available methods and be sure the spelling of the method is correct."
					},
					"7": {
						"description": "API key missing. Cause: The request didn&#8217;t include an API key or the argument for the API key is misspelled."
					},
					"8": {
						"description": "Invalid or unknown API key specified. Cause: Be sure you are using a valid API key. Resolution: If your API key should be valid and isn&#8217;t contact us."
					},
					"9": {
						"description": "Invalid or expired sessionid. Cause: The sessionid hasn&#8217;t been used and has expired. Resolution: Use viddler.users.auth to create a new API key."
					},
					"10": {
						"description": "Used HTTP method is not allowed for this API method. Cause: You are using a GET when you should be using POST or vice-versa. Resolution: Try using HTTP POST instead of HTTP GET or refer to the docs."
					},
					"11": {
						"description": "Method call not allowed. Cause: Your API key security level restricts calling this method. Resolution: If you need the method that you&#8217;re calling contact us."
					},
					"12": {
						"description": "API key disabled. Cause: The API key or account has been flagged for abuse or violation of TOS. Resolution: Contact us to restore the API key."
					},
					"13": {
						"description": "Invalid data sent with request. Cause: The data sent with the request is not valid (e.g. A zip file was sent instead of a video.) Resolution: Check the file type of the data before sending it to the API."
					},
					"14": {
						"description": "Bad or invalid SSL state."
					},
					"15": {
						"description": "Invalid response format requested. Cause: The response format you requested is not supported. Resolution: Choose a format that the API supports; PHP, JSON, XML."
					},
					"100": {
[...]
