{
	"swagger": "2.0",
	"info": {
		"title": "Bitly Organization Metric API",
		"description": "The Bitly Organization Metric API",
		"termsOfService": "http://dev.bitly.com/best_practices.html",
		"version": "v3"
	},
	"host": "api-ssl.bitly.com",
	"basePath": "/v3",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v3/organization/brand_messages": {
			"get": {
				"summary": "Organization Brand Messages",
				"description": "Returns the top Bitlinks created by you with traffic, that did not also have non-organization traffic in the same time period, ordered by clicks.",
				"operationId": "organizationBrandMessages",
				"parameters": [{
					"in": "query",
					"name": "domain",
					"description": "a tracking or e2e domain for this organization. May be specified more than once, or omitted for all domains.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "1..1000 (default=100)",
					"type": "integer",
					"format": "integer"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "an integer hour offset from UTC (-14..14), or a timezone string. default:America/New_York",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit",
					"description": "hour | day | week | month default:day",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "units",
					"description": "an integer representing the time units to query data for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit_reference_ts",
					"description": "an epoch timestamp, indicating the most recent time for which to pull metrics. default:now ",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Organization Metrics"],
				"security": []
			}
		},
		"/v3/organization/clicks": {
			"get": {
				"summary": "Organization Clicks",
				"description": "Returns the number of clicks on Bitlinks created by your organization or by other Bitly users that point to your domains.",
				"operationId": "organizationClicks",
				"parameters": [{
					"in": "query",
					"name": "domain",
					"description": "filter to a tracking or e2e domain for this organization. If unspecified, aggregate of all domains in this organization is pulled.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "1..1000 (default=100)",
					"type": "integer",
					"format": "integer"
				},
				{
					"in": "query",
					"name": "login",
					"description": "an account in this organization. If unspecified, aggregate of all accounts in this organization is pulled. ! is a valid option to exclude the organizations Bitlinks.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "an integer hour offset from UTC (-14..14), or a timezone string. default:America/New_York",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit",
					"description": "hour | day | week | month default:day",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "units",
					"description": "an integer representing the time units to query data for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit_reference_ts",
					"description": "an epoch timestamp, indicating the most recent time for which to pull metrics. default:now ",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Organization Metrics"],
				"security": []
			}
		},
		"/v3/organization/intersecting_links": {
			"get": {
				"summary": "Organization Intersecting Links",
				"description": "Returns the top links shared by both your audience and by your account, ordered by clicks.",
				"operationId": "organizationIntersectingLinks",
				"parameters": [{
					"in": "query",
					"name": "domain",
					"description": "a tracking or e2e domain for this organization. May be specified more than once, or omitted for all domains.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "1..1000 (default=100)",
					"type": "integer",
					"format": "integer"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "an integer hour offset from UTC (-14..14), or a timezone string. default:America/New_York",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit",
					"description": "hour | day | week | month default:day",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "units",
					"description": "an integer representing the time units to query data for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit_reference_ts",
					"description": "an epoch timestamp, indicating the most recent time for which to pull metrics. default:now ",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Organization Metrics"],
				"security": []
			}
		},
		"/v3/organization/leaderboard": {
			"get": {
				"summary": "Organization Leaderboard",
				"description": "Returns the top-performing organization members ordered by clicks or shortens.",
				"operationId": "organizationLeaderBoard",
				"parameters": [{
					"in": "query",
					"name": "domain",
					"description": "a tracking or e2e domain for this organization. May be specified more than once.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "1..1000 (default=100)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "orderby",
					"description": "either clicks or shortens. Default is clicks.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "an integer hour offset from UTC (-14..14), or a timezone string. default:America/New_York",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit",
					"description": "hour | day | week | month default:day",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "units",
					"description": "an integer representing the time units to query data for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit_reference_ts",
					"description": "an epoch timestamp, indicating the most recent time for which to pull metrics. default:now ",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Organization Metrics"],
				"security": []
			}
		},
		"/v3/organization/missed_opportunities": {
			"get": {
				"summary": "Organization Missed Opportunities",
				"description": "Returns the top links shared by your audience, but not by you, ordered by clicks.",
				"operationId": "organizationMissedOpportunities",
				"parameters": [{
					"in": "query",
					"name": "an epoch timestamp, indicating the most recent time for which to pull metrics. default:now ",
					"description": "hour | day | week | month default:day",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "domain",
					"description": "a tracking or e2e domain for this organization. May be specified more than once, or omitted for all domains.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "1..1000 (default=100)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "an integer hour offset from UTC (-14..14), or a timezone string. default:America/New_York",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit",
					"description": "hour | day | week | month default:day",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "units",
					"description": "an integer representing the time units to query data for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit_reference_ts",
					"description": "an epoch timestamp, indicating the most recent time for which to pull metrics. default:now ",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Organization Metrics"],
				"security": []
			}
		},
		"/v3/organization/popular_links": {
			"get": {
				"summary": "Organization Popular Links",
				"description": "Returns the top links shared by you or your audience, ordered by clicks",
				"operationId": "organizationPopularLinks",
				"parameters": [{
					"in": "query",
					"name": "domain",
					"description": "a tracking or e2e domain for this organization. May be specified more than once, or omitted for all domains.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "1..1000 (default=100)",
					"type": "integer",
					"format": "integer"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "an integer hour offset from UTC (-14..14), or a timezone string. default:America/New_York",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit",
					"description": "hour | day | week | month default:day",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "units",
					"description": "an integer representing the time units to query data for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit_reference_ts",
					"description": "an epoch timestamp, indicating the most recent time for which to pull metrics. default:now",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Organization Metrics"],
				"security": []
			}
		},
		"/v3/organization/shorten_counts": {
			"get": {
				"summary": "Organization Shorten Counts",
				"description": "Returns the number of Bitlinks created by your organization or by other Bitly users that point to your domains.",
				"operationId": "organizationShortenCounts",
				"parameters": [{
					"in": "query",
					"name": "domain",
					"description": "filter to a tracking or e2e domain for this organization. If unspecified, aggregate of all domains in this organization is pulled.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "1..1000 (default=100)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "login",
					"description": "an account in this organization. If unspecified, aggregate of all accounts in this organization is pulled. ! is a valid option to exclude the organizations Bitlinks.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "an integer hour offset from UTC (-14..14), or a timezone string. default:America/New_York.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit",
					"description": "hour | day | week | month default:day",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "units",
					"description": "an integer representing the time units to query data for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "unit_reference_ts",
					"description": "an epoch timestamp, indicating the most recent time for which to pull metrics. default:now ",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Organization Metrics"],
				"security": []
			}
		}
	},
	"definitions": []
}