{
	"swagger": "2.0",
	"info": {
		"title": "ConstantContact",
		"description": "Constant Contact, Inc is an online marketing company offering email marketing, social media marketing, online survey, and event marketing tools, primarily to small businesses, nonprofit organizations, and membership associations.",
		"termsOfService": "http://www.constantcontact.com/uidocs/CCSiteOwnerAgreement.jsp",
		"version": ""
	},
	"host": "api.constantcontact.com",
	"basePath": "/v2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{username}/activities": {
			"get": {
				"summary": "List Activities",
				"description": "List Activities",
				"operationId": "list-activities",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Add Activity",
				"description": "Add Activity",
				"operationId": "add-activity",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/activities/{activity-id}": {
			"get": {
				"summary": "Get Activity",
				"description": "Get Activity",
				"operationId": "get-activity",
				"parameters": [{
					"in": "path",
					"name": "activity-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/campaigns": {
			"get": {
				"summary": "List Campaigns",
				"description": "List Campaigns",
				"operationId": "list-campaigns",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Add Campaign",
				"description": "Add Campaign",
				"operationId": "add-campaign",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/campaigns/{campaign-id}": {
			"delete": {
				"summary": "Delete Campaign",
				"description": "Delete Campaign",
				"operationId": "delete-campaign",
				"parameters": [{
					"in": "path",
					"name": "campaign-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Get Campaign",
				"description": "Get Campaign",
				"operationId": "get-campaign",
				"parameters": [{
					"in": "path",
					"name": "campaign-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "Update Campaign",
				"description": "Update Campaign",
				"operationId": "update-campaign",
				"parameters": [{
					"in": "path",
					"name": "campaign-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/campaigns/{campaign-id}/events/": {
			"get": {
				"summary": "Get Campaign Events",
				"description": "Get Campaign Events",
				"operationId": "get-campaign-events",
				"parameters": [{
					"in": "path",
					"name": "campaign-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/contacts": {
			"get": {
				"summary": "List Contacts",
				"description": "List Contacts",
				"operationId": "list-contacts",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Add Contact",
				"description": "Add Contact",
				"operationId": "add-contact",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/contacts/{contact-id}": {
			"delete": {
				"summary": "Opting-out Contact",
				"description": "Opting-out Contact",
				"operationId": "optingout-contact",
				"parameters": [{
					"in": "path",
					"name": "contact-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Get Contact",
				"description": "Get Contact",
				"operationId": "get-contact",
				"parameters": [{
					"in": "path",
					"name": "contact-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "Update Contact",
				"description": "Update Contact",
				"operationId": "update-contact",
				"parameters": [{
					"in": "path",
					"name": "contact-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/contacts/{contact-id}/events/": {
			"get": {
				"summary": "Get Per-Contact Campaign Events",
				"description": "Get Per-Contact Campaign Events",
				"operationId": "get-percontact-campaign-events",
				"parameters": [{
					"in": "path",
					"name": "contact-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/events": {
			"get": {
				"summary": "List Events",
				"description": "List Events",
				"operationId": "list-events",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Add Event",
				"description": "Add Event",
				"operationId": "add-event",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/events/{event-id}": {
			"get": {
				"summary": "Get Event",
				"description": "Get Event",
				"operationId": "get-event",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/events/{event-id}/registrants": {
			"get": {
				"summary": "List Registrants",
				"description": "List Registrants",
				"operationId": "list-registrants",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}": {
			"get": {
				"summary": "Get Registrant",
				"description": "Get Registrant",
				"operationId": "get-registrant",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "registrant-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}/attendancestatus": {
			"get": {
				"summary": "Get Attendance Status",
				"description": "Get Attendance Status",
				"operationId": "get-attendance-status",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "registrant-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "Update Attendance Status",
				"description": "Update Attendance Status",
				"operationId": "update-attendance-status",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "registrant-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}/guests": {
			"get": {
				"summary": "Get List of Guests",
				"description": "Get List of Guests",
				"operationId": "get-list-of-guests",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "registrant-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}/guests/{guest-id}": {
			"get": {
				"summary": "Get Guest Details",
				"description": "Get Guest Details",
				"operationId": "get-guest-details",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "guest-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "registrant-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/events/{event-id}/registrants/{registrant-id}/paymentstatus": {
			"get": {
				"summary": "Get Payment Status",
				"description": "Get Payment Status",
				"operationId": "get-payment-status",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "registrant-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "Update Payment Status",
				"description": "Update Payment Status",
				"operationId": "update-payment-status",
				"parameters": [{
					"in": "path",
					"name": "event-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "registrant-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/library/folders": {
			"get": {
				"summary": "List Folders",
				"description": "List Folders",
				"operationId": "list-folders",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/library/folders/{folder-id}/images": {
			"delete": {
				"summary": "Delete All Images",
				"description": "Delete All Images",
				"operationId": "delete-all-images",
				"parameters": [{
					"in": "path",
					"name": "folder-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "List Images",
				"description": "List Images",
				"operationId": "list-images",
				"parameters": [{
					"in": "path",
					"name": "folder-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/library/folders/{folder-id}/images/{image-id}": {
			"delete": {
				"summary": "Delete Image",
				"description": "Delete Image",
				"operationId": "delete-image",
				"parameters": [{
					"in": "path",
					"name": "folder-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "image-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Get Image",
				"description": "Get Image",
				"operationId": "get-image",
				"parameters": [{
					"in": "path",
					"name": "folder-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "image-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/lists": {
			"get": {
				"summary": "Get All Mailing Lists",
				"description": "Get All Mailing Lists",
				"operationId": "get-all-mailing-lists",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Add Mailing List",
				"description": "Add Mailing List",
				"operationId": "add-mailing-list",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/lists/{list-id}": {
			"delete": {
				"summary": "Delete Mailing List",
				"description": "Delete Mailing List",
				"operationId": "delete-mailing-list",
				"parameters": [{
					"in": "path",
					"name": "list-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Get Mailing List",
				"description": "Get Mailing List",
				"operationId": "get-mailing-list",
				"parameters": [{
					"in": "path",
					"name": "list-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "Update Mailing List",
				"description": "Update Mailing List",
				"operationId": "update-mailing-list",
				"parameters": [{
					"in": "path",
					"name": "list-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/lists/{list-id}/members": {
			"get": {
				"summary": "Get Contacts Collection from a List",
				"description": "Get Contacts Collection from a List",
				"operationId": "get-contacts-collection-from-a-list",
				"parameters": [{
					"in": "path",
					"name": "list-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/settings/emailaddresses": {
			"get": {
				"summary": "List Account Email Addresses",
				"description": "List Account Email Addresses",
				"operationId": "list-account-email-addresses",
				"parameters": [{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{username}/settings/emailaddresses/{email-id}": {
			"get": {
				"summary": "Get Email Address Details",
				"description": "Get Email Address Details",
				"operationId": "get-email-address-details",
				"parameters": [{
					"in": "path",
					"name": "email-id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "username",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}