{
	"swagger": "2.0",
	"info": {
		"title": "API Evangelist Image Manipulation API",
		"description": "This is a simple API that accepts a URL to an image, then applies one of several Instagram like filter, and returns manipulated image.",
		"termsOfService": "http://developer.apievangelist.com/index.html",
		"contact": {
			"name": "Kin Lane",
			"url": "http://kinlane.com",
			"email": "info@apievangelist.com"
		},
		"license": {
			"name": "MIT",
			"url": "http://opensource.org/licenses/MIT"
		},
		"version": "1.0"
	},
	"host": "image.manipulation.api.apievangelist.com",
	"basePath": "/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/charcoal": {
			"get": {
				"summary": "Applies charcoal filter.",
				"description": "Returns an image with charcoal effect applied.",
				"operationId": "charcoal",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "radius",
					"description": "radius setting for image filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sigma",
					"description": "sigma setting for image filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "public url of image to be converted",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Image"
							}
						}
					}
				},
				"tags": ["charcoal",
				" image",
				" filter"],
				"security": []
			}
		},
		"/oilpainting": {
			"get": {
				"summary": "Applies oil painting filter.",
				"description": "Returns an image with oil painting effect applied.",
				"operationId": "oilpainting",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "radius",
					"description": "radius setting for image filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "public url of image to be converted",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Image"
							}
						}
					}
				},
				"tags": ["oil painting",
				" image",
				" filter"],
				"security": []
			}
		},
		"/polaroid": {
			"get": {
				"summary": "Applies polaroid filter.",
				"description": "Returns an image with polaroid effect applied.",
				"operationId": "polaroid",
				"parameters": [{
					"in": "query",
					"name": "angle",
					"description": "angle setting for image filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "public url of image to be converted",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Image"
							}
						}
					}
				},
				"tags": ["polaroid",
				" image",
				" filter"],
				"security": []
			}
		},
		"/sketch": {
			"get": {
				"summary": "Applies sketch filter.",
				"description": "Returns an image with sketch effect applied.",
				"operationId": "sketch",
				"parameters": [{
					"in": "query",
					"name": "angle",
					"description": "angle setting for image filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "radius",
					"description": "radius setting for image filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sigma",
					"description": "sigma setting for image filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "public url of image to be converted",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Image"
							}
						}
					}
				},
				"tags": ["sketch",
				" image",
				" filter"],
				"security": []
			}
		}
	},
	"definitions": {
		"Image": {
			"properties": {
				"image": {
					"description": "This is the path of the returned image",
					"type": "string"
				}
			}
		},
		"Error": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "integer"
				},
				"message": {
					"description": "This is a default description.",
					"type": "string"
				},
				"fields": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}