{
	"swagger": "2.0",
	"info": {
		"title": "API Evangelist Building Block API",
		"description": "This is an API that provides access to the common building blocks used across the API space.",
		"termsOfService": "http://developer.apievangelist.com/index.html",
		"contact": {
			"name": "Kin Lane",
			"url": "http://kinlane.com",
			"email": "info@apievangelist.com"
		},
		"license": {
			"name": "MIT",
			"url": "http://opensource.org/licenses/MIT"
		},
		"version": "1.0"
	},
	"host": "api.apievangelist.com",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/screen-capture": {
			"get": {
				"summary": "Returns a screen capture of a url.",
				"description": "Returns PNG file returned from screen capture of a url.",
				"operationId": "captureScreen",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "code",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "a url for screen capture",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Returns successful screen capture image."
					}
				},
				"tags": [
					"URL",
					" Links",
					" Screenshot",
					" Screen Capture"
				]
			}
		},
		"/charcoal": {
			"get": {
				"summary": "Applies charcoal filter.",
				"description": "Returns an image with charcoal effect applied.",
				"operationId": "charcoal",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "radius",
						"in": "query",
						"description": "radius setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sigma",
						"in": "query",
						"description": "sigma setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "public url of image to be converted",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation"
					}
				},
				"tags": [
					"charcoal",
					" image",
					" filter"
				]
			}
		},
		"/oilpainting": {
			"get": {
				"summary": "Applies oil painting filter.",
				"description": "Returns an image with oil painting effect applied.",
				"operationId": "oilpainting",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "radius",
						"in": "query",
						"description": "radius setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "public url of image to be converted",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation"
					}
				},
				"tags": [
					"oil painting",
					" image",
					" filter"
				]
			}
		},
		"/polaroid": {
			"get": {
				"summary": "Applies polaroid filter.",
				"description": "Returns an image with polaroid effect applied.",
				"operationId": "polaroid",
				"parameters": [
					{
						"name": "angle",
						"in": "query",
						"description": "angle setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "public url of image to be converted",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation"
					}
				},
				"tags": [
					"polaroid",
					" image",
					" filter"
				]
			}
		},
		"/sketch": {
			"get": {
				"summary": "Applies sketch filter.",
				"description": "Returns an image with sketch effect applied.",
				"operationId": "sketch",
				"parameters": [
					{
						"name": "angle",
						"in": "query",
						"description": "angle setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string",
						"format": "string"
					},
					{
						"name": "radius",
						"in": "query",
						"description": "radius setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sigma",
						"in": "query",
						"description": "sigma setting for image filter",
						"type": "string",
						"format": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "public url of image to be converted",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Image Manipulation"
					}
				},
				"tags": [
					"sketch",
					" image",
					" filter"
				]
			}
		},
		"/analyses/d": {
			"get": {
				"summary": "Pull analysis",
				"description": "Returns a list of all blog posts filtered by keyword.",
				"operationId": "getAnalysis",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across posts",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Analysis Response"
					}
				},
				"tags": [
					"API",
					" Analysis",
					" Blog",
					" Analyst"
				]
			}
		},
		"/analysis/{id}": {
			"get": {
				"summary": "Retrieve a blog post using its ID",
				"description": "Returns a blog post detail",
				"operationId": "getAnalysis",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "id of the blog post to be returned",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Analysis Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/api/{id}": {
			"get": {
				"summary": "Retrieve an API",
				"description": "Returns the API detail",
				"operationId": "getAPI",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "id of the blog post to be returned",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful API Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/apis": {
			"get": {
				"summary": "Retrieve APIs",
				"description": "Returns a list of APIs.",
				"operationId": "getAPI",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "date",
						"in": "query",
						"description": "data to search by in the m/d/Y format",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "how many posts to show",
						"type": "integer"
					},
					{
						"name": "new",
						"in": "query",
						"description": "only show new apis (true / false)",
						"type": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across posts",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful API Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/buildingblock/types/": {
			"get": {
				"summary": "Retrieve a list of the building block types",
				"description": "Returns the building block types",
				"operationId": "getBuildingBlockTypes",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Building Block Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/buildingblock/{id}": {
			"get": {
				"summary": "Retrieve a building block using its ID",
				"description": "Returns a building block detail",
				"operationId": "getBuildingBlock",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "id of the building block to be returned",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Building Block Response"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/buildingblocks/": {
			"get": {
				"summary": "Pull building blocks",
				"description": "Returns a list of all building blocks filtered by keyword.",
				"operationId": "getBuildingBlocks",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "appkey",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "the type of building blocks to pull",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Building Block Response"
					}
				},
				"tags": [
					""
				]
			}
		}
	},
	"definitions": {
	}
}