{
	"swagger": "2.0",
	"info": {
		"title": "API Evangelist - Products API",
		"description": "This is a template product API from API Evangelist.",
		"termsOfService": "http://apievangelist.com/terms-of-service.html",
		"contact": {
			"name": "Kin Lane",
			"url": "http://apievangelist.com",
			"email": "info@apievangelist.com"
		},
		"license": {
			"name": null,
			"url": null
		},
		"version": "v1"
	},
	"host": "products.api.apievangelist.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/business/": {
			"get": {
				"summary": "Finds all business",
				"description": "Returns a list of all business, allowing you to filter by state and keyword query.",
				"operationId": "getBusinesses",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across facilities",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/business/{id}": {
			"get": {
				"summary": "Retrieve a business using its ID",
				"description": "Returns a business detail",
				"operationId": "getOffice",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the business, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/events/": {
			"get": {
				"summary": "Pulls a listing of events",
				"description": "Returns a list of events, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across events",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/events/{id}": {
			"get": {
				"summary": "Retrieve an event using its ID",
				"description": "Returns a events detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the event, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/is-there-a-table-on-this-html-page/": {
			"get": {
				"summary": "Checks To See If There Are Tables On Web Page",
				"description": "Turns a listing of the number of tables, and number of rows for tables in an HTML web page",
				"operationId": "getTables",
				"parameters": [
					{
						"name": "url",
						"in": "query",
						"description": "the url of html page to evaluate",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/return-urls-in-this-html-page/": {
			"get": {
				"summary": "Return URLs",
				"description": "Returns a list of any url present in an HTML web page.",
				"operationId": "getURLs",
				"parameters": [
					{
						"name": "extensions",
						"in": "query",
						"description": "any file extension, separated by commas",
						"type": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "the url of html page to evaluate",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/images/": {
			"get": {
				"summary": "Pulls a listing of images",
				"description": "Returns a list of images, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across images",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/images/{id}": {
			"get": {
				"summary": "Retrieve an image using its ID",
				"description": "Returns a images detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the job, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/jobs/": {
			"get": {
				"summary": "Pulls a listing of jobs",
				"description": "Returns a list of jobs, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across jobs",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/jobs/{id}": {
			"get": {
				"summary": "Retrieve a job using its ID",
				"description": "Returns a jobs detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the job, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/links/": {
			"get": {
				"summary": "Finds all links",
				"description": "Returns a list of all links, allowing you to filter by keyword query.",
				"operationId": "getBusinesses",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across links",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/links/{id}": {
			"get": {
				"summary": "Retrieve a links using its ID",
				"description": "Returns a links detail",
				"operationId": "getOffice",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the links, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/offices/": {
			"get": {
				"summary": "Finds all offices",
				"description": "Returns a list of all offices, allowing you to filter by state and keyword query.",
				"operationId": "getOffices",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across facilities",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/offices/{id}": {
			"get": {
				"summary": "Retrieve a offices using its ID",
				"description": "Returns a offices detail",
				"operationId": "getOffice",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "office id for the office, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/people/": {
			"get": {
				"summary": "Finds all people",
				"description": "Returns a list of all people, allowing you to filter by state and keyword query.",
				"operationId": "getPeople",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across people",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/people/{id}": {
			"get": {
				"summary": "Retrieve a person using their ID",
				"description": "Returns a people detail",
				"operationId": "getOffice",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the person, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/places/": {
			"get": {
				"summary": "Finds all places",
				"description": "Returns a list of all places, allowing you to filter by state and keyword query.",
				"operationId": "getOffices",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across facilities",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/places/{id}": {
			"get": {
				"summary": "Retrieve a places using its ID",
				"description": "Returns a places detail",
				"operationId": "getOffice",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "office id for the office, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/press/": {
			"get": {
				"summary": "Finds all press",
				"description": "Returns a list of all press reeases, allowing you to filter by keyword query.",
				"operationId": "getPrograms",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across press releases",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/press/{id}": {
			"get": {
				"summary": "Retrieve a program using its ID",
				"description": "Returns the press detail",
				"operationId": "getProgram",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "program id for the program, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/products/": {
			"get": {
				"summary": "Pulls a listing of products",
				"description": "Returns a list of products, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across products",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/products/{id}": {
			"get": {
				"summary": "Retrieve an product using its ID",
				"description": "Returns a products detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the video, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	},
	"definitions": {
	}
}