{
	"swagger": "2.0",
	"info": {
		"title": "API Evangelist - Images API",
		"description": "This is a template images API from API Evangelist.",
		"termsOfService": "http://apievangelist.com/terms-of-service.html",
		"version": "v1"
	},
	"host": "images.api.apievangelist.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/business/": {
			"get": {
				"summary": "Finds all business",
				"description": "Returns a list of all business, allowing you to filter by state and keyword query.",
				"operationId": "getBusinesses",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across facilities",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/business/{id}": {
			"get": {
				"summary": "Retrieve a business using its ID",
				"description": "Returns a business detail",
				"operationId": "getOffice",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the business, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/events/": {
			"get": {
				"summary": "Pulls a listing of events",
				"description": "Returns a list of events, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across events",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/events/{id}": {
			"get": {
				"summary": "Retrieve an event using its ID",
				"description": "Returns a events detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the event, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/is-there-a-table-on-this-html-page/": {
			"get": {
				"summary": "Checks To See If There Are Tables On Web Page",
				"description": "Turns a listing of the number of tables, and number of rows for tables in an HTML web page",
				"operationId": "getTables",
				"parameters": [
					{
						"name": "url",
						"in": "query",
						"description": "the url of html page to evaluate",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/return-urls-in-this-html-page/": {
			"get": {
				"summary": "Return URLs",
				"description": "Returns a list of any url present in an HTML web page.",
				"operationId": "getURLs",
				"parameters": [
					{
						"name": "extensions",
						"in": "query",
						"description": "any file extension, separated by commas",
						"type": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "the url of html page to evaluate",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/images/": {
			"get": {
				"summary": "Pulls a listing of images",
				"description": "Returns a list of images, allowing you to filter by keyword query.",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "query",
						"in": "query",
						"description": "a text query to search across images",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		},
		"/images/{id}": {
			"get": {
				"summary": "Retrieve an image using its ID",
				"description": "Returns a images detail",
				"operationId": "getJobs",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "id for the job, notice this is in the path, not a query variable",
						"type": "integer"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					""
				]
			}
		}
	},
	"definitions": {
	}
}