{
	"swagger": "2.0",
	"info": {
		"title": "Context.IO Email API",
		"description": "Context.IO takes the pain out of syncing email data with your app so you can focus on what makes your product great.",
		"version": "v2"
	},
	"host": "api.context.io",
	"basePath": "2.0/accounts/{id}/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"email_addresses": {
			"put": {
				"summary": "Add Email Address",
				"description": "Adding a new email addresses as an alias for an account",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "email_address",
					"description": "An email address",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		},
		"email_addresses/email": {
			"delete": {
				"summary": "Delete Email",
				"description": "Removing an email addresses form the aliases of an account",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "email",
					"description": "One of the email addresses associated to the account",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			},
			"post": {
				"summary": "Modify Email",
				"description": "Modifiying a given email address",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "email",
					"description": "One of the email addresses associated to the account",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		},
		"email_addressestest": {
			"get": {
				"summary": "Email Addresses",
				"description": "List of email addressed used by an account",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		},
		"files": {
			"get": {
				"summary": "Get Files",
				"description": "Listings of files found as email attachments",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "bcc",
					"description": "Email address of a contact BCCed on the messages.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cc",
					"description": "Email address of a contact CCed on the messages.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_after",
					"description": "Only include files attached to messages sent after a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_before",
					"description": "Only include files attached to messages sent before a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Email address of the contact for whom you want the latest files exchanged with. By exchanged with contact X we mean any email received from contact X, sent to contact X or sent by anyone to both contact X and the source owner.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file_name",
					"description": "Search for files based on their name. You can filter names using typical shell wildcards such as *, ? and [] or regular expressions by enclosing the search expression in a leading / and trailing /. For example, *.pdf would give you all PDF files while /\.jpe?g$/ would return all files whose name ends with .jpg or .jpeg",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file_size_max",
					"description": "Search for files based on their size (in bytes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file_size_min",
					"description": "Search for files based on their size (in bytes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "from",
					"description": "Email address of a contact files have been received from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_by_revisions",
					"description": "If set to 1, the list will do an intelligent grouping of files to reflect occurrences of the same document. The grouping algorithm is exactly the same as the one used to get file revisions but only the occurrences matching the filters applied to the list will be included in the results.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "indexed_after",
					"description": "Only include files attached to messages indexed after a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "indexed_before",
					"description": "Only include files attached to messages indexed before a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "The maximum number of results to return.  The maximum limit is 100.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "offset",
					"description": "Start the list at this offset (zero-based).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sort_order",
					"description": "The sort order of the returned results. Possible values are asc and desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "source",
					"description": "Filter messages by the account source label.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "to",
					"description": "Email address of a contact files have been sent to.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email",
				" Files"],
				"security": []
			}
		},
		"files/file_id": {
			"get": {
				"summary": "Get File",
				"description": "Details for a given file",
				"operationId": "",
				"parameters": [{
					"in": "path",
					"name": "file_id",
					"description": "Unique id of a file",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email",
				" Files"],
				"security": []
			}
		},
		"messages/": {
			"get": {
				"summary": "Messages",
				"description": "Listings of email messages for an account",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "bcc",
					"description": "Email address of a contact BCCed on the messages.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "body_type",
					"description": "Used when include_body is set to get only body parts of a given MIME-type (for example text/html)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cc",
					"description": "Email address of a contact CCed on the messages.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_after",
					"description": "Only include messages after a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_before",
					"description": "Only include messages before a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Email address of the contact for whom you want the latest messages exchanged with. By exchanged with contact X we mean any email received from contact X, sent to contact X or sent by anyone to both contact X and the source owner.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file_name",
					"description": "Search for files based on their name. You can filter names using typical shell wildcards such as *, ? and [] or regular expressions by enclosing the search expression in a leading / and trailing /. For example, *.pdf would give you all PDF files while /\.jpe?g$/ would return all files whose name ends with .jpg or .jpeg",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file_size_max",
					"description": "Search for files based on their size (in bytes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file_size_min",
					"description": "Search for files based on their size (in bytes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "folder",
					"description": "Filter messages by the folder (or Gmail label). This parameter can be the complete folder name with the appropriate hierarchy delimiter for the mail server being queried (eg. Inbox/My folder) or the symbolic name of the folder (eg. \Starred). The symbolic name refers to attributes used to refer to special use folders in a language-independant way. See http://code.google.com/apis/gmail/imap/#xlist (Gmail specific) and RFC-6154.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "from",
					"description": "Email address of a contact messages have been received from.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "include_body",
					"description": "Set to 1 to include message bodies in the result. Since message bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_flags",
					"description": "Set to 1 to include IMAP flags of messages in the result. Since message flags must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_headers",
					"description": "Can be set to 0 (default), 1 or raw. If set to 1, complete message headers, parsed into an array, are included in the results. If set to raw, the headers are also included but as a raw unparsed string. Since full original headers bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_source",
					"description": "Set to 1 to include message sources in the result. Since message sources must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_thread_size",
					"description": "Set to 1 to include thread size in the result.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "indexed_after",
					"description": "Only include messages indexed after a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "indexed_before",
					"description": "Only include messages indexed before a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "The maximum number of results to return.  The maximum limit is 100.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "offset",
					"description": "Start the list at this offset (zero-based).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sort_order",
					"description": "The sort order of the returned results. Possible values are asc and desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "source",
					"description": "Filter messages by the account source label.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "subject",
					"description": "Get messages whose subject matches this search string. To use regular expressions instead of simple string matching, make sure the string starts and ends with /.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "to",
					"description": "Email address of a contact messages have been sent to.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			},
			"post": {
				"summary": "Add Message",
				"description": "Add a message in a given folder",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "dst_folder",
					"description": "The folder within dst_source the message should be copied to",
					"type": "string"
				},
				{
					"in": "query",
					"name": "dst_source",
					"description": "Label of the source you want the message copied to",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_answered",
					"description": "Message has been answered. Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_deleted",
					"description": "Message is deleted for later removal. An alternative way of deleting messages is to move it to the Trash folder. Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_draft",
					"description": "Message has not completed composition (marked as a draft). Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_flagged",
					"description": "Message is flagged for urgent/special attention. Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_seen",
					"description": "Message has been read. Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "Raw RFC-822 message data. If you use the view message source function of your email client, what youll see there is what we expect to receive here. Hint: you can get this with the accounts/messages/source call.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		},
		"messages/{message_id}": {
			"delete": {
				"summary": "Delete Message",
				"description": "Delete a message.",
				"operationId": "",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "message_id",
					"description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			},
			"get": {
				"summary": "Get Message",
				"description": "File, contact and other information about a given email message",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "body_type",
					"description": "Used when include_body is set to get only body parts of a given MIME-type (for example text/html)",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "include_body",
					"description": "Set to 1 to include the message body in the result. Since the body must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_flags",
					"description": "Set to 1 to include IMAP flags for this message in the result. Since message flags must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_headers",
					"description": "Can be set to 0 (default), 1 or raw. If set to 1, complete message headers, parsed into an array, are included in the results. If set to raw, the headers are also included but as a raw unparsed string. Since full original headers bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_source",
					"description": "Set to 1 to include message sources in the result. Since message sources must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_thread_size",
					"description": "Set to 1 to include thread size in the result.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "message_id",
					"description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			},
			"post": {
				"summary": "Copy or Move Message",
				"description": "Copy or move a message",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "dst_folder",
					"description": "The folder within dst_source the message should be copied to",
					"type": "string"
				},
				{
					"in": "query",
					"name": "dst_source",
					"description": "Label of the source you want the message copied to. This field is required if youre moving a message that already exists in one source of the account to another source of that account. If you only want to move the message to a different folder within the same source, dst_folder is sufficient.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_answered",
					"description": "Message has been answered. Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_deleted",
					"description": "Message is deleted for later removal. An alternative way of deleting messages is to move it to the Trash folder. Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_draft",
					"description": "Message has not completed composition (marked as a draft). Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_flagged",
					"description": "Message is flagged for urgent/special attention. Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "flag_seen",
					"description": "Message has been read. Set this parameter to 1 to set the flag, 0 to unset it.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "message_id",
					"description": "Unique id of a message. This can be the message_id or email_message_id property of the message. The gmail_message_id (prefixed with gm-) can also be used.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "move",
					"description": "By default, this calls copies the original message in the destination. Set this parameter to 1 to move instead of copy.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		},
		"sources/": {
			"get": {
				"summary": "Get Sources",
				"description": "List of IMAP sources assigned for an account",
				"operationId": "",
				"parameters": [{
					"in": "path",
					"name": "IdentifierType",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "status",
					"description": "Only return sources whose status is of a specific value. Possible statuses are: INVALID_CREDENTIALS, CONNECTION_IMPOSSIBLE, NO_ACCESS_TO_ALL_MAIL, OK, TEMP_DISABLED and DISABLED",
					"type": "string"
				},
				{
					"in": "query",
					"name": "status_ok",
					"description": "Set to 0 to get sources that are not working correctly. Set to 1 to get those that are.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			},
			"post": {
				"summary": "Add Mailbox",
				"description": "Add a mailbox to a given account",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "callback_url",
					"description": "If specified, well make a POST request to this URL when the initial sync is completed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "The primary email address used to receive emails in this account",
					"type": "string"
				},
				{
					"in": "query",
					"name": "expunge_on_deleted_flag",
					"description": "By default, we dont filter out messages flagged as deleted. Set this parameter to  1 to turn on this filtering.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "origin_ip",
					"description": "IP address of the end user requesting the account to be created",
					"type": "string"
				},
				{
					"in": "query",
					"name": "password",
					"description": "Password for authentication on the IMAP server. Ignored if any of the provider_* parameters are set below.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "port",
					"description": "Port number to connect to on the server. Keep in mind that most IMAP servers will have one port for standard connection and another one for encrypted connection (see use-ssl parameter above)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "provider_consumer_key",
					"description": "The OAuth2 Client ID or OAuth1 consumer key used to obtain the the token and token secret above for that account. That consumer key and secret must be configured in your Context.IO account, see oauth_providers",
					"type": "string"
				},
				{
					"in": "query",
					"name": "provider_refresh_token",
					"description": "An OAuth2 refresh token obtained from the IMAP account provider to be used to authentify on this email account.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "provider_token",
					"description": "An OAuth1 token obtained from the IMAP account provider to be used to authentify on this email account.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "provider_token_secret",
					"description": "An OAuth1 token secret obtained from the IMAP account provider to be used to authentify on this email account..",
					"type": "string"
				},
				{
					"in": "query",
					"name": "raw_file_list",
					"description": "By default, we filter out files like signature images or those winmail.dat files form the files list. Set this parameter to 1 to turn off this filtering and show every single file attachments.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "server",
					"description": "Name of IP of the IMAP server, eg. imap.gmail.com",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sync_all_folders",
					"description": "By default, we filter out some folders like Deleted Items and Drafts. Set this parameter to  1 to turn off this filtering and show every single folder.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sync_flags",
					"description": "By default, we dont synchronize IMAP flags. Set this parameter to  1 to turn on IMAP flag syncing for the seen and flagged flags.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sync_folders",
					"description": "By default, we filter out some folders like Deleted Items and Drafts. Set this parameter to  All,Trash to show the Deleted Items folder.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "Currently, the only supported type is IMAP",
					"type": "string"
				},
				{
					"in": "query",
					"name": "username",
					"description": "The username used to authentify an IMAP connection. On some servers, this is the same thing as the primary email address.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "use_ssl",
					"description": "Set to 1 if you want SSL encryption to be used when opening connections to the IMAP server. Any other value will be considered as do not use SSL",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		},
		"sources/{label}": {
			"delete": {
				"summary": "Delete Source",
				"description": "Delete a data source of an account",
				"operationId": "",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "label",
					"description": "The label property of the source instance. You can use 0 as an alias for the first source of an account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			},
			"get": {
				"summary": "Get Source",
				"description": "Parameters and status for an IMAP source.",
				"operationId": "",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "label",
					"description": "The label property of the source instance. You can use 0 as an alias for the first source of an account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			},
			"post": {
				"summary": "Modify Source",
				"description": " Modify a data source on a given account",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "expunge_on_deleted_flag",
					"description": "By default, we dont filter out messages flagged as deleted. Set this parameter to  1 to turn on this filtering.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "force_status_check",
					"description": "Set to 1 to create an IMAP connection and reset the source status to to one reported by the IMAP backend. Dont combine this with other parameters.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "lable",
					"description": "The label property of the source instance. You can use 0 as an alias for the first source of an account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "password",
					"description": "New password for this source. Ignored if any of the provider_* parameters are set below.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "provider_consumer_key",
					"description": "The OAuth2 Client ID or OAuth1 consumer key used to obtain the the token and token secret above for that account. That consumer key and secret must be configured in your Context.IO account, see oauth_providers",
					"type": "string"
				},
				{
					"in": "query",
					"name": "provider_refresh_token",
					"description": "An OAuth2 refresh token obtained from the IMAP account provider to be used to authentify on this email account.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "provider_token",
					"description": "An OAuth1 token obtained from the IMAP account provider to be used to authentify on this email account.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "provider_token_secret",
					"description": "An OAuth1 token secret obtained from the IMAP account provider to be used to authentify on this email account..",
					"type": "string"
				},
				{
					"in": "query",
					"name": "status",
					"description": "If the status of the source is TEMP_DISABLED or DISABLED. You can do a POST/PUT with status set to 1 to reset it.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sync_all_folders",
					"description": "By default, we filter out some folders like Deleted Items and Drafts. Set this parameter to  1 to turn off this filtering and show every single folder.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		},
		"threads/": {
			"get": {
				"summary": "Get Threads",
				"description": "List of threads on an account",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "active_after",
					"description": "Get threads with at least one message dated after this timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "active_before",
					"description": "Get threads with at least one message dated before this timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "bcc",
					"description": "Get threads with at least one message having this email address BCCed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cc",
					"description": "Get threads with at least one message having this email address CCed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Email address of the contact for whom you want the latest threads. This value is interpreted as received from email X, sent to email X or sent by anyone to both email X and the source owner.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "folder",
					"description": "Filter threads by the folder (or Gmail label). This parameter can be the complete folder name with the appropriate hierarchy delimiter for the mail server being queried (eg. Inbox/My folder) or the symbolic name of the folder (eg. \Starred). The symbolic name refers to attributes used to refer to special use folders in a language-independant way. See http://code.google.com/apis/gmail/imap/#xlist (Gmail specific) and RFC-6154.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "from",
					"description": "Get threads with at least one message sent from this email address.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "indexed_after",
					"description": "Get threads with at least one message indexed after this timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "indexed_before",
					"description": "Get threads with at least one message indexed before this timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "The maximum number of results to return.  The maximum limit is 100.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "offset",
					"description": "Start the list at this offset (zero-based).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "started_after",
					"description": "Get threads whose first message is dated after this timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "started_before",
					"description": "Get threads whose first message is dated before this timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "subject",
					"description": "Get threads with messages whose subject matches this search string. To use regular expressions instead of simple string matching, make sure the string starts and ends with /.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "to",
					"description": "Get threads with at least one message sent to this email address.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		},
		"threads/{thread_id}": {
			"delete": {
				"summary": "Delete Thread",
				"description": "Delete a thread",
				"operationId": "",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "thread_id",
					"description": "A gmail_thread_id prefixed with gm-",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			},
			"get": {
				"summary": "Return Thread",
				"description": "Returns files, contacts and messages on a given thread",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "body_type",
					"description": "Used when include_body is set to get only body parts of a given MIME-type (for example text/html)",
					"type": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Unique id of an account accessible through your API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "include_body",
					"description": "Set to 1 to include message bodies in the result. Since message bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_flags",
					"description": "Set to 1 to include IMAP flags of messages in the result. Since message flags must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_headers",
					"description": "Can be set to 0 (default), 1 or raw. If set to 1, complete message headers, parsed into an array, are included in the results. If set to raw, the headers are also included but as a raw unparsed string. Since full original headers bodies must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_source",
					"description": "Set to 1 to include message sources in the result. Since message sources must be retrieved from the IMAP server, expect a performance hit when setting this parameter.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "The maximum number of messages to include in the messages property of the response.  The maximum limit is 100.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "offset",
					"description": "Start the list of messages at this offset (zero-based).",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" Email"],
				"security": []
			}
		}
	},
	"definitions": []
}