{
	"swagger": "2.0",
	"info": {
		"title": "Wunderground API",
		"description": "Reliable data, accurate forecast, & global coverage in 80 languages.",
		"version": "1"
	},
	"host": "api.wunderground.com",
	"basePath": "/api",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{key}/alerts/q/{state}/{city}.json": {
			"get": {
				"summary": "Severe Alerts",
				"description": "Severe Alerts",
				"operationId": "severe-alerts",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/almanac/q/{state}/{city}.json": {
			"get": {
				"summary": "Almanac for Today",
				"description": "Almanac for Today",
				"operationId": "almanac-for-today",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/animatedradar/image.gif": {
			"get": {
				"summary": "Dynamic Radar Animation w/ BaseMap",
				"description": "Dynamic Radar Animation w/ BaseMap",
				"operationId": "dynamic-radar-animation-w-basemap",
				"parameters": [{
					"in": "query",
					"name": "height",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxlat",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxlon",
					"type": "string"
				},
				{
					"in": "query",
					"name": "minlat",
					"type": "string"
				},
				{
					"in": "query",
					"name": "minlon",
					"type": "string"
				},
				{
					"in": "query",
					"name": "newmaps",
					"type": "string"
				},
				{
					"in": "query",
					"name": "width",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/astronomy/q/{state}/{city}.json": {
			"get": {
				"summary": "Astronomy",
				"description": "Astronomy",
				"operationId": "astronomy",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/conditions/forecast/lang:FR/q/France/Paris.json": {
			"get": {
				"summary": "Conditions and Forecast in French",
				"description": "Conditions and Forecast in French",
				"operationId": "conditions-and-forecast-in-french",
				"parameters": [{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/conditions/forecast/lang:SP/q/Spain/Alicante.json": {
			"get": {
				"summary": "Conditions and Forecast in Spanish",
				"description": "Conditions and Forecast in Spanish",
				"operationId": "conditions-and-forecast-in-spanish",
				"parameters": [{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/conditions/q/pws:KCATAHOE2.json": {
			"get": {
				"summary": "Personal Weather Station: PWS",
				"description": "Personal Weather Station: PWS",
				"operationId": "personal-weather-station-pws",
				"parameters": [{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/conditions/q/{state}/{city}.json": {
			"get": {
				"summary": "Current Conditions",
				"description": "Current Conditions",
				"operationId": "current-conditions",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/forecast/q/{state}/{city}.json": {
			"get": {
				"summary": "3 Day Forecast Summary",
				"description": "3 Day Forecast Summary",
				"operationId": "3-day-forecast-summary",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/forecast10day/q/{state}/{city}.json": {
			"get": {
				"summary": "10 Day Forecast Summary",
				"description": "10 Day Forecast Summary",
				"operationId": "10-day-forecast-summary",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/geolookup/conditions/forecast/q/{state}/{city}.json": {
			"get": {
				"summary": "GeoLookup, Conditions, Forecast",
				"description": "GeoLookup, Conditions, Forecast",
				"operationId": "geolookup-conditions-forecast",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/geolookup/conditions/q/{state}/{city}.json": {
			"get": {
				"summary": "GeoLookup and Current Conditions",
				"description": "GeoLookup and Current Conditions",
				"operationId": "geolookup-and-current-conditions",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/geolookup/q//{airportcode}/.json": {
			"get": {
				"summary": "Airport Code",
				"description": "Airport Code",
				"operationId": "airport-code",
				"parameters": [{
					"in": "path",
					"name": "airportcode",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/geolookup/q/37.776289,-122.395234.json": {
			"get": {
				"summary": "Latitude, Longitude Coordinates",
				"description": "Latitude, Longitude Coordinates",
				"operationId": "latitude-longitude-coordinates",
				"parameters": [{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/geolookup/q/94107.json": {
			"get": {
				"summary": "Zip or Postal Code",
				"description": "Zip or Postal Code",
				"operationId": "zip-or-postal-code",
				"parameters": [{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/geolookup/q/autoip.json": {
			"get": {
				"summary": "AutoIP Address Location",
				"description": "AutoIP Address Location",
				"operationId": "autoip-address-location",
				"parameters": [{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/geolookup/q/France/Paris.json": {
			"get": {
				"summary": "City outside of the USA",
				"description": "City outside of the USA",
				"operationId": "city-outside-of-the-usa",
				"parameters": [{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/geolookup/q/{state}/{city}.json": {
			"get": {
				"summary": "City within the USA",
				"description": "City within the USA",
				"operationId": "city-within-the-usa",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/history_20101018/q//{airportcode}/.json": {
			"get": {
				"summary": "History Database: Airports",
				"description": "History Database: Airports",
				"operationId": "history-database-airports",
				"parameters": [{
					"in": "path",
					"name": "airportcode",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/history_20101018/q/pws:KCASANFR14.json": {
			"get": {
				"summary": "History Database: Personal Weather Stations",
				"description": "History Database: Personal Weather Stations",
				"operationId": "history-database-personal-weather-stations",
				"parameters": [{
					"in": "path",
					"name": "key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/hourly/q/{state}/{city}.json": {
			"get": {
				"summary": "1 Day Hourly Forecast",
				"description": "1 Day Hourly Forecast",
				"operationId": "1-day-hourly-forecast",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/hourly10day/q/{state}/{city}.json": {
			"get": {
				"summary": "10 Day Hourly Forecast",
				"description": "10 Day Hourly Forecast",
				"operationId": "10-day-hourly-forecast",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/planner_10051031/q/{state}/{city}.json": {
			"get": {
				"summary": "Travel Planner",
				"description": "Travel Planner",
				"operationId": "travel-planner",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/radar/image.gif": {
			"get": {
				"summary": "Dynamic Radar Image w/ Transparent Background",
				"description": "Dynamic Radar Image w/ Transparent Background",
				"operationId": "dynamic-radar-image-w-transparent-background",
				"parameters": [{
					"in": "query",
					"name": "height",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxlat",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxlon",
					"type": "string"
				},
				{
					"in": "query",
					"name": "minlat",
					"type": "string"
				},
				{
					"in": "query",
					"name": "minlon",
					"type": "string"
				},
				{
					"in": "query",
					"name": "newmaps",
					"type": "string"
				},
				{
					"in": "query",
					"name": "width",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/rawtide_20160312/q/{state}/{city}.json": {
			"get": {
				"summary": "Tides Raw",
				"description": "Tides Raw",
				"operationId": "tides-raw",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/satellite/q/{state}/{city}.json": {
			"get": {
				"summary": "Basic Satelite Images: Vis / IR",
				"description": "Basic Satelite Images: Vis / IR",
				"operationId": "basic-satelite-images-vis--ir",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/tide/q/{state}/{city}.json": {
			"get": {
				"summary": "Tides",
				"description": "Tides",
				"operationId": "tides",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/tide_20160312/q/{state}/{city}.json": {
			"get": {
				"summary": "Tides /w Date",
				"description": "Tides /w Date",
				"operationId": "tides-w-date",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/webcams/q/{state}/{city}.json": {
			"get": {
				"summary": "Webcams at PWS's",
				"description": "Webcams at PWSs",
				"operationId": "webcams-at-pwss",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{key}/yesterday/q/{state}/{city}.json": {
			"get": {
				"summary": "Yesterday's Weather",
				"description": "Yesterdays Weather",
				"operationId": "yesterdays-weather",
				"parameters": [{
					"in": "path",
					"name": "city",
					"type": "string"
				},
				{
					"in": "path",
					"name": "key",
					"type": "string"
				},
				{
					"in": "path",
					"name": "state",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}