{
	"swagger": "2.0",
	"info": {
		"title": "Zencoder",
		"version": "v2"
	},
	"host": "app.zencoder.com",
	"basePath": "/api/v2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/account": {
			"get": {
				"summary": "Get Account Details",
				"description": "Get Account Details",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Get Account Details"],
				"security": []
			},
			"post": {
				"summary": "Create an Account",
				"description": "Create an Account",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "email",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "password",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "password_confirmation",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "terms_of_service",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Create an Account"],
				"security": []
			}
		},
		"/account/integration": {
			"put": {
				"summary": "Integration Mode",
				"description": "Integration Mode",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Integration Mode"],
				"security": []
			}
		},
		"/account/live": {
			"put": {
				"summary": "Integration Mode - Live",
				"description": "Integration Mode - Live",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Integration Mode - Live"],
				"security": []
			}
		},
		"/inputs/{input_id}": {
			"get": {
				"summary": "Get Input Details",
				"description": "Get Input Details",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "callback",
					"description": "JSONP Callback",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "input_id",
					"description": "The input id.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Get Input Details"],
				"security": []
			}
		},
		"/inputs/{input_id}/progress": {
			"get": {
				"summary": "Input Progress",
				"description": "The return will contain one or more of the following keys: state, current_event, current_event_progress and progress.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Input Progress"],
				"security": []
			}
		},
		"/jobs": {
			"get": {
				"summary": "List Jobs",
				"description": "A list of jobs can be obtained by sending an HTTP GET request.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API Key.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["List Jobs"],
				"security": []
			},
			"post": {
				"summary": "Create a Job",
				"description": "Encoding jobs are created by sending an HTTP POST request.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "Encoding Settings",
					"description": "(see: https://app.zencoder.com/docs/api/encoding)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "input",
					"description": "A valid URL to a media file (HTTP/HTTPS, FTP/FTPS, SFTP, GCS, CF or S3), with or without authentication",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Create a Job"],
				"security": []
			}
		},
		"/jobs/{job_id}": {
			"get": {
				"summary": "Get Job Details",
				"description": "Get Job Details",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API Key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "Get Job Details",
					"description": "The Job id.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Get Job Details"],
				"security": []
			}
		},
		"/jobs/{job_id}/cancel": {
			"put": {
				"summary": "Cancel a Job",
				"description": "If you wish to cancel a job that has not yet finished processing you may send a request.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API Key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "job_id",
					"description": "The job id.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Cancel a Job"],
				"security": []
			}
		},
		"/jobs/{job_id}/finish": {
			"put": {
				"summary": "Finish a LIve Job",
				"description": "Finishes the input on a Live streaming job.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Finish a LIve Job"],
				"security": []
			}
		},
		"/jobs/{job_id}/progress": {
			"get": {
				"summary": "Job Progress",
				"description": "The return will contain one or more of the following keys: state, input, outputs, and progress.",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Job Progress"],
				"security": []
			}
		},
		"/jobs/{job_id}/resubmit": {
			"put": {
				"summary": "Resubmit a Job",
				"description": "If a job has failed processing you may request that it be attempted again.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API Key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "job_id",
					"description": "The job id.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Resubmit a Job"],
				"security": []
			}
		},
		"/outputs/{output_id}/progress": {
			"get": {
				"summary": "Output Progress",
				"description": "The return will contain one or more of the following keys: state, current_event, current_event_progress and progress.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "callback",
					"description": "JSONP Callback",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "output_id",
					"description": "The output id.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Output Progress"],
				"security": []
			}
		},
		"/reports/all": {
			"get": {
				"summary": "Get Usage for VOD & Live",
				"description": "Get Usage for VOD & Live",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "from",
					"description": "Start date in the format YYYY-MM-DD (default: 30 days ago).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "grouping",
					"description": "Hour usage for only one report grouping (default: none).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "to",
					"description": "End date in the format YYYY-MM-DD (default: yesterday).",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Get Usage for VOD & Live"],
				"security": []
			}
		},
		"/reports/live": {
			"get": {
				"summary": "Get Usage for Live",
				"description": "Get Usage for Live",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "from",
					"description": "Start date in the format YYYY-MM-DD (default: 30 days ago).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "grouping",
					"description": "Hour usage for only one report grouping (default: none).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "to",
					"description": "End date in the format YYYY-MM-DD (default: yesterday).",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity; the date range requested is larger than 60 days"
					}
				},
				"tags": ["Get Usage for Live"],
				"security": []
			}
		},
		"/reports/minutes": {
			"get": {
				"summary": "Get Minutes Used",
				"description": "Get Minutes Used",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API Key.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity; the date range requested is larger than 60 days"
					}
				},
				"tags": ["Get Minutes Used"],
				"security": []
			}
		},
		"/reports/vod": {
			"get": {
				"summary": "Get Usage for VOD",
				"description": "Get Usage for VOD",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "from",
					"description": "Start date in the format YYYY-MM-DD (default: 30 days ago).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "grouping",
					"description": "Minute usage for only one report grouping (default: none).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "to",
					"description": "End date in the format YYYY-MM-DD (default: yesterday).",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity; the date range requested is larger than 60 days"
					}
				},
				"tags": ["Get Usage for VOD"],
				"security": []
			}
		},
		"/v2/outputs/{output_id}": {
			"get": {
				"summary": "Get Output Details",
				"description": "Get Output Details",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "output_id",
					"description": "The output id.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					},
					"422": {
						"description": "Unprocessable Entity; the date range requested is larger than 60 days"
					}
				},
				"tags": ["Get Output Details"],
				"security": []
			}
		}
	},
	"definitions": []
}