{
	"swagger": "2.0",
	"info": {
		"title": "Ad Category Search",
		"description": "Ad Categories are an Ad Sales created taxonomy of broad marketing classifications for articles.  The intention is to be able to group articles into buckets based on how the sales teams would like to executeon targeted ad campaigns that span multiple sites. ",
		"termsOfService": "http://developer.hearst.com/API_Terms_of_Use",
		"version": "v1"
	},
	"host": "api.hearstdigital.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"AdCategory/search": {
			"get": {
				"summary": "Searches Ad Categories",
				"description": "Ad Categories are an Ad Sales created taxonomy of broad marketing classifications for articles.  The intention is to be able to group articles into buckets based on how the sales teams would like to executeon targeted ad campaigns that span multiple sites. ",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "article_id",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "id",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "name",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "organization_id",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "parent_id",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "prefix",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "site_id",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sort",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "start",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "total",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_callback",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_pretty",
					"type": "integer",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news"],
				"security": []
			}
		}
	},
	"definitions": []
}