{
	"swagger": "2.0",
	"info": {
		"title": "Article Section Search",
		"description": "A read-only service for the retrieval of Article Section content from the Hearst Magazines Content Management System. Contains a list of parameters and sample responses.",
		"termsOfService": "http://developer.hearst.com/API_Terms_of_Use",
		"version": "v1"
	},
	"host": "api.hearstdigital.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"ArticleSection/search": {
			"get": {
				"summary": "Article Section Search",
				"description": "A read-only service for the retrieval of Article Section content from the Hearst Magazines Content Management System. Contains a list of parameters and sample responses.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "description",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "full_name",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "full_path",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "id",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "keywords",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "name",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "parent_id",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "prefix",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "site_id",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sort",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "start",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "total",
					"type": "integer",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_callback",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_pretty",
					"type": "integer",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news",
				" article",
				" sections"],
				"security": []
			}
		}
	},
	"definitions": []
}