{
	"swagger": "2.0",
	"info": {
		"title": "Athlete API",
		"description": "Work with information about student-athlete participation.",
		"version": ""
	},
	"host": "apis.berkeley.edu",
	"basePath": "/uat/sis",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v1/athletes": {
			"post": {
				"summary": "Post student-athlete participation data",
				"description": "Adds or updates a participation for a student-athlete",
				"operationId": "update",
				"parameters": [{
					"in": "header",
					"name": "app_id",
					"description": "The public ID portion of API Central credentials"
				},
				{
					"in": "header",
					"name": "app_key",
					"description": "The private key portion of API Central credentials"
				},
				{
					"in": "body",
					"name": "payload",
					"description": "XML payload should be in the form:<br><pre>&lt;ApiPostRequest&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;studentId&gt;string&lt;/studentId&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;sportCode&gt;string&lt;/sportCode&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;participationCode&gt;string&lt;/participationCode&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;currentParticipant&gt;boolean&lt;/currentParticipant&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;ncaaEligible&gt;boolean&lt;/ncaaEligible&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;enteredOnFinancialAid&gt;boolean&lt;/enteredOnFinancialAid&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&lt;fromDate&gt;YYYY-MM-DD&lt;/fromDate&gt;<br>&lt;/ApiPostRequest&gt;</pre>",
					"schema": {
						"$ref": "#/definitions/holder"
					}
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/v1/athletes/descriptors": {
			"get": {
				"summary": "Get allowable code/descriptor pairs for student-athlete related fields",
				"description": "Returns field names and the canonical coded values and descriptions allowed for them, in the format of the Common/FieldValueList EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getDescriptors",
				"parameters": [{
					"in": "header",
					"name": "app_id",
					"description": "The public ID portion of API Central credentials"
				},
				{
					"in": "header",
					"name": "app_key",
					"description": "The private key portion of API Central credentials"
				},
				{
					"in": "query",
					"name": "field-name",
					"description": "The name of a particular coded field, expressed in dot notation (e.g., athleteSport.participation.type)"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/v1/athletes/sport/{sport-code}": {
			"get": {
				"summary": "Get athlete data by sport",
				"description": "Given a sport code, returns all participation information about student-athletes in that sport, consisting of the Student/Athlete EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getSports",
				"parameters": [{
					"in": "header",
					"name": "app_id",
					"description": "The public ID portion of API Central credentials"
				},
				{
					"in": "header",
					"name": "app_key",
					"description": "The private key portion of API Central credentials"
				},
				{
					"in": "query",
					"name": "as-of-date",
					"description": "Return participation/s in effect as of this date (in YYYY-MM-DD format) u2013 if this parameter is not passed, todays date is assumed"
				},
				{
					"in": "query",
					"name": "current-only",
					"description": "Include only current participations? (true/false)"
				},
				{
					"in": "path",
					"name": "sport-code",
					"description": "Code uniquely identifying the sport"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/v1/athletes/{student-id}": {
			"get": {
				"summary": "Get athlete data by student ID",
				"description": "Given a student ID, returns all participation information about a student-athlete, consisting of the Student/Athlete EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getAthlete",
				"parameters": [{
					"in": "header",
					"name": "app_id",
					"description": "The public ID portion of API Central credentials"
				},
				{
					"in": "header",
					"name": "app_key",
					"description": "The private key portion of API Central credentials"
				},
				{
					"in": "query",
					"name": "as-of-date",
					"description": "Return participation/s in effect as of this date (in YYYY-MM-DD format) u2013 if this parameter is not included, todays date is assumed"
				},
				{
					"in": "query",
					"name": "include-history",
					"description": "Include all past participations as well? (true/false)"
				},
				{
					"in": "path",
					"name": "student-id",
					"description": "Student ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"descriptor": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "post"
				},
				"description": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"identifier": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "post"
				},
				"id": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"participation": {
			"properties": {
				"ncaaEligible": {
					"description": "This is a default description.",
					"type": "post"
				},
				"fromDate": {
					"description": "This is a default description.",
					"type": "post"
				},
				"toDate": {
					"description": "This is a default description.",
					"type": "post"
				},
				"comments": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"athleteSport": {
			"properties": {
				"currentParticipant": {
					"description": "This is a default description.",
					"type": "post"
				},
				"enteredOnFinancialAid": {
					"description": "This is a default description.",
					"type": "post"
				},
				"participations": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"athlete": {
			"properties": {
				"athleteSports": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"fieldValueList": {
			"properties": {
				"fieldName": {
					"description": "This is a default description.",
					"type": "post"
				},
				"fieldValues": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"ApiPostRequest": {
			"properties": {
				"studentId": {
					"description": "This is a default description.",
					"type": "post"
				},
				"sportCode": {
					"description": "This is a default description.",
					"type": "post"
				},
				"participationCode": {
					"description": "This is a default description.",
					"type": "post"
				},
				"currentParticipant": {
					"description": "This is a default description.",
					"type": "post"
				},
				"ncaaEligible": {
					"description": "This is a default description.",
					"type": "post"
				},
				"enteredOnFinancialAid": {
					"description": "This is a default description.",
					"type": "post"
				},
				"fromDate": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"cursor": {
			"properties": {
				"previous": {
					"description": "This is a default description.",
					"type": "post"
				},
				"next": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		},
		"apiResponse": {
			"properties": {
				"source": {
					"description": "This is a default description.",
					"type": "post"
				},
				"correlationId": {
					"description": "This is a default description.",
					"type": "post"
				},
				"timeStamp": {
					"description": "This is a default description.",
					"type": "post"
				},
				"helpResource": {
					"description": "This is a default description.",
					"type": "post"
				}
			}
		}
	}
}