{
	"swagger": "2.0",
	"info": {
		"title": "UC Berkeley Academic Terms API",
		"description": "This API uses the current date to calculate the current and coming year's academic terms. For the current term resource it returns the term code and term year. For the next terms resource it returns a set of terms that each include a term title, the combined year and code, and the code and year separately.",
		"version": null
	},
	"host": "apis.berkeley.edu",
	"basePath": "/sisconnect",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/GetAcademicCalendarNextTerms": {
			"get": {
				"summary": "Next Academic Terms",
				"description": "Get a list of academic terms for the coming year.",
				"operationId": "",
				"parameters": [{
					"in": "header",
					"name": "app_id",
					"description": "App ID",
					"type": "string"
				},
				{
					"in": "header",
					"name": "app_key",
					"description": "App Key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/GetAcademicCurrentTerm": {
			"get": {
				"summary": "Current Academic Term",
				"description": "Get the current academic term.",
				"operationId": "",
				"parameters": [{
					"in": "header",
					"name": "app_id",
					"description": "App ID",
					"type": "string"
				},
				{
					"in": "header",
					"name": "app_key",
					"description": "App Key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}