{
	"swagger": "2.0",
	"info": {
		"title": "UC Berkeley Enrollment API",
		"description": "Retrieves information about the relationship between students and class sections",
		"version": null
	},
	"host": "apis.berkeley.edu",
	"basePath": "/sis",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/V0/enrollments/descriptors": {
			"get": {
				"summary": "Get allowable code/descriptor pairs for enrollment related fields",
				"description": "Returns field names and the canonical coded values and descriptions allowed for them, in the format of the Common/FieldValueList EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getEnrollmentDescriptors",
				"parameters": [{
					"in": "header",
					"name": "Accept",
					"description": "Used to specify which media type is acceptable for the response"
				},
				{
					"in": "query",
					"name": "field-name",
					"description": "The name of a particular coded field, expressed in dot notation (e.g., enrollment.enrollmentStatus.reason)"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/enrollments/terms/student/{id}": {
			"get": {
				"summary": "Get a student's enrollments by some ID",
				"description": "Given some ID, returns all of a students enrollment information, conforming to the Student/Enrollment EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getEnrollmentsByStudentID",
				"parameters": [{
					"in": "header",
					"name": "Accept",
					"description": "The media type requested for the response"
				},
				{
					"in": "query",
					"name": "enrolled-only",
					"description": "Include only enrollments where the status = enrolled? (true/false)"
				},
				{
					"in": "path",
					"name": "id",
					"description": "The code or number uniquely identifying a student"
				},
				{
					"in": "query",
					"name": "id-type",
					"description": "The type of ID being submitted, if not included, student-id is assumed"
				},
				{
					"in": "query",
					"name": "primary-only",
					"description": "Include only enrollments in primary class sections? (true/false)"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/enrollments/terms/{term-id}/classes": {
			"get": {
				"summary": "Get a class's enrollments",
				"description": "Given some class attributes, returns matching class enrollment information, conforming to the Student/Enrollment EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getEnrollmentsByClass",
				"parameters": [{
					"in": "header",
					"name": "Accept",
					"description": "The media type requested for the response"
				},
				{
					"in": "query",
					"name": "catalog-number",
					"description": "The human-readable number identifying a class within a subject area, such as R1A"
				},
				{
					"in": "query",
					"name": "class-number",
					"description": "The index uniquely identifying the class among those with the specified subject area and catalog number"
				},
				{
					"in": "query",
					"name": "enrolled-only",
					"description": "Include only enrollments where the status = enrolled? (true/false)"
				},
				{
					"in": "query",
					"name": "primary-only",
					"description": "Include only enrollments in primary class sections? (true/false)"
				},
				{
					"in": "query",
					"name": "subject-area-code",
					"description": "The area of academic inquiry, such as MATH or ENGLISH"
				},
				{
					"in": "path",
					"name": "term-id",
					"description": "The ID representing a particular term"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/enrollments/terms/{term-id}/classes/sections/{section-id}": {
			"get": {
				"summary": "Get a class section's enrollments by its ID",
				"description": "Given term and section IDs, returns a class sections enrollment information, conforming to the Student/Enrollment EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getEnrollmentsByClassSectionID",
				"parameters": [{
					"in": "header",
					"name": "Accept",
					"description": "The media type requested for the response"
				},
				{
					"in": "query",
					"name": "enrolled-only",
					"description": "Include only enrollments where the status = enrolled? (true/false)"
				},
				{
					"in": "path",
					"name": "section-id",
					"description": "The number uniquely identifying a class section during a term"
				},
				{
					"in": "path",
					"name": "term-id",
					"description": "The ID representing a particular term"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/enrollments/terms/{term-id}/students/{id}": {
			"get": {
				"summary": "Get a student's enrollments for a specified term by some ID",
				"description": "Given term and student-related IDs, returns a students enrollment information, conforming to the Student/Enrollment EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getTermEnrollmentsByStudentID",
				"parameters": [{
					"in": "header",
					"name": "Accept",
					"description": "The media type requested for the response"
				},
				{
					"in": "query",
					"name": "enrolled-only",
					"description": "Include only enrollments where the status = enrolled? (true/false)"
				},
				{
					"in": "path",
					"name": "id",
					"description": "The code or number uniquely identifying a student"
				},
				{
					"in": "query",
					"name": "id-type",
					"description": "The type of ID being submitted, if not included, student-id is assumed"
				},
				{
					"in": "query",
					"name": "primary-only",
					"description": "Include only enrollments in primary class sections? (true/false)"
				},
				{
					"in": "query",
					"name": "session-id",
					"description": "The ID representing a particular session within the term"
				},
				{
					"in": "path",
					"name": "term-id",
					"description": "The ID representing a particular term"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"descriptor": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "get"
				},
				"description": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"identifier": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "get"
				},
				"id": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"fieldValueList": {
			"properties": {
				"fieldName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"fieldValues": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"cursor": {
			"properties": {
				"previous": {
					"description": "This is a default description.",
					"type": "get"
				},
				"next": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"catalogNumber": {
			"properties": {
				"prefix": {
					"description": "This is a default description.",
					"type": "get"
				},
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"suffix": {
					"description": "This is a default description.",
					"type": "get"
				},
				"formatted": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"course": {
			"properties": {
				"identifiers": {
					"description": "This is a default description.",
					"type": "get"
				},
				"title": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"term": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "get"
				},
				"name": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"session": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "get"
				},
				"name": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"class": {
			"properties": {
				"offeringNumber": {
					"description": "This is a default description.",
					"type": "get"
				},
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classTitle": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classTranscriptTitle": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classDescription": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"name": {
			"properties": {
				"familyName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"givenName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"middleName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"suffixName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"formattedName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"preferred": {
					"description": "This is a default description.",
					"type": "get"
				},
				"disclose": {
					"description": "This is a default description.",
					"type": "get"
				},
				"fromDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"toDate": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"email": {
			"properties": {
				"emailAddress": {
					"description": "This is a default description.",
					"type": "get"
				},
				"primary": {
					"description": "This is a default description.",
					"type": "get"
				},
				"disclose": {
					"description": "This is a default description.",
					"type": "get"
				},
				"fromDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"toDate": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"person": {
			"properties": {
				"identifiers": {
					"description": "This is a default description.",
					"type": "get"
				},
				"names": {
					"description": "This is a default description.",
					"type": "get"
				},
				"emails": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"assignedInstructor": {
			"properties": {
				"printInScheduleOfClasses": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"meeting": {
			"properties": {
				"meetsDays": {
					"description": "This is a default description.",
					"type": "get"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "get"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "get"
				},
				"assignedInstructors": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetingDescription": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"classSection": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "get"
				},
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetings": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"student": {
			"properties": {
				"identifiers": {
					"description": "This is a default description.",
					"type": "get"
				},
				"names": {
					"description": "This is a default description.",
					"type": "get"
				},
				"emails": {
					"description": "This is a default description.",
					"type": "get"
				},
				"confidential": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"enrollmentStatus": {
			"properties": {
				"waitlistPosition": {
					"description": "This is a default description.",
					"type": "get"
				},
				"fromDate": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"enrolledUnits": {
			"properties": {
				"taken": {
					"description": "This is a default description.",
					"type": "get"
				},
				"forAcademicProgress": {
					"description": "This is a default description.",
					"type": "get"
				},
				"forFinancialAid": {
					"description": "This is a default description.",
					"type": "get"
				},
				"forBilling": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"grade": {
			"properties": {
				"mark": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"enrollment": {
			"properties": {
				"grades": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"enrollmentResponse": {
			"properties": {
				"enrollments": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"descriptorResponse": {
			"properties": {
				"fieldValueLists": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"enrollmentSuccessResponse": {
			"properties": {
				"source": {
					"description": "This is a default description.",
					"type": "get"
				},
				"correlationId": {
					"description": "This is a default description.",
					"type": "get"
				},
				"timeStamp": {
					"description": "This is a default description.",
					"type": "get"
				},
				"helpResource": {
					"description": "This is a default description.",
					"type": "get"
				},
				"responseType": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"descriptorSuccessResponse": {
			"properties": {
				"source": {
					"description": "This is a default description.",
					"type": "get"
				},
				"correlationId": {
					"description": "This is a default description.",
					"type": "get"
				},
				"timeStamp": {
					"description": "This is a default description.",
					"type": "get"
				},
				"helpResource": {
					"description": "This is a default description.",
					"type": "get"
				},
				"responseType": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"errorResponse": {
			"properties": {
				"source": {
					"description": "This is a default description.",
					"type": "get"
				},
				"correlationId": {
					"description": "This is a default description.",
					"type": "get"
				},
				"timeStamp": {
					"description": "This is a default description.",
					"type": "get"
				},
				"helpResource": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		}
	}
}