{
	"swagger": "2.0",
	"info": {
		"title": "UC Berkeley Course API",
		"description": "Retrieves information about canonical courses as approved by the Academic Senate.",
		"version": null
	},
	"host": "apis.berkeley.edu",
	"basePath": "/uat/sis",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v0/courses/": {
			"get": {
				"summary": "Get course data",
				"description": "Returns course data conforming to the Course EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getCourses",
				"parameters": [{
					"in": "query",
					"name": "academic-career-code",
					"description": "The high level grouping of academic policy within UC Berkeley, e.g., UGRD"
				},
				{
					"in": "query",
					"name": "catalog-number",
					"description": "The human-readable number for a course, e.g. C123AC"
				},
				{
					"in": "query",
					"name": "course-number",
					"description": "The numeric portion of the catalog number, e.g. 123 in C123AC"
				},
				{
					"in": "query",
					"name": "course-prefix",
					"description": "The alpha character/s preceding the numeric portion of the catalog number, e.g. the first C in C123AC"
				},
				{
					"in": "query",
					"name": "grading-basis-code",
					"description": "A code indicating the method of recording performance in the course, e.g., PNP"
				},
				{
					"in": "query",
					"name": "last-updated-since",
					"description": "Return only courses updated since this date (inclusive)"
				},
				{
					"in": "query",
					"name": "requirement-fulfilled-code",
					"description": "A code indicating a University, Campus, or General Education academic requirement fulfilled when the course is successfully completed"
				},
				{
					"in": "query",
					"name": "row-limit",
					"description": "For a subset of the matching courses, return this many rows"
				},
				{
					"in": "query",
					"name": "row-start",
					"description": "For a subset of the matching courses, start with this row"
				},
				{
					"in": "query",
					"name": "sort-by",
					"description": "Sort the list of courses returned by this element"
				},
				{
					"in": "query",
					"name": "status-code",
					"description": "A code indicating a courses current state as regards its availablity to be offered"
				},
				{
					"in": "query",
					"name": "subject-area-code",
					"description": "A code representing area of academic inquiry covered in the course, e.g., MATH"
				},
				{
					"in": "query",
					"name": "summer-only",
					"description": "Return only courses offered exclusively during the summer term (defaults to false)"
				},
				{
					"in": "query",
					"name": "units",
					"description": "An approved unit value for the course (if discrete or a range of values are allowed, this value must be within them)"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/v0/courses/descriptors": {
			"get": {
				"summary": "Get allowable code/descriptor pairs for course related fields",
				"description": "Returns field names and the canonical coded values and descriptions allowed for them, in the format of the Common/FieldValueList EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getAthleteDescriptors",
				"parameters": [{
					"in": "query",
					"name": "field-name",
					"description": "The name of a particular coded field, expressed in dot notation (e.g., course.subjectArea)"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/v0/courses/{id}": {
			"get": {
				"summary": "Get course data by unique ID",
				"description": "Given an ID, returns course data conforming to the Course EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "GetCoursesById",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Some code or number uniquely identifying the course"
				},
				{
					"in": "query",
					"name": "id-type",
					"description": "The type of ID being submitted, if not included, cs-course-id is assumed"
				},
				{
					"in": "query",
					"name": "status-code",
					"description": "A code indicating a courses current state as regards its availablity to be offered"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"descriptor": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "get"
				},
				"description": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"identifier": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "get"
				},
				"id": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"fieldValueList": {
			"properties": {
				"fieldName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"fieldValues": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"cursor": {
			"properties": {
				"previous": {
					"description": "This is a default description.",
					"type": "get"
				},
				"next": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"catalogNumber": {
			"properties": {
				"prefix": {
					"description": "This is a default description.",
					"type": "get"
				},
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"suffix": {
					"description": "This is a default description.",
					"type": "get"
				},
				"formatted": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"creditRange": {
			"properties": {
				"minUnits": {
					"description": "This is a default description.",
					"type": "get"
				},
				"maxUnits": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"creditValue": {
			"properties": {
				"units": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"credit": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"crossListing": {
			"properties": {
				"count": {
					"description": "This is a default description.",
					"type": "get"
				},
				"courses": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"repeatability": {
			"properties": {
				"repeatable": {
					"description": "This is a default description.",
					"type": "get"
				},
				"description": {
					"description": "This is a default description.",
					"type": "get"
				},
				"maxCredit": {
					"description": "This is a default description.",
					"type": "get"
				},
				"maxCount": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"preparation": {
			"properties": {
				"recommendedText": {
					"description": "This is a default description.",
					"type": "get"
				},
				"recommendedCourses": {
					"description": "This is a default description.",
					"type": "get"
				},
				"requiredText": {
					"description": "This is a default description.",
					"type": "get"
				},
				"requiredCourses": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"creditRestrictionCourse": {
			"properties": {
				"maxCount": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"creditRestriction": {
			"properties": {
				"restrictionText": {
					"description": "This is a default description.",
					"type": "get"
				},
				"restrictionCourses": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"typicallyOffered": {
			"properties": {
				"terms": {
					"description": "This is a default description.",
					"type": "get"
				},
				"comments": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"component": {
			"properties": {
				"primary": {
					"description": "This is a default description.",
					"type": "get"
				},
				"contactHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"minContactHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"maxContactHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"workloadHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"feesExist": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"format": {
			"properties": {
				"termsAllowed": {
					"description": "This is a default description.",
					"type": "get"
				},
				"sessionType": {
					"description": "This is a default description.",
					"type": "get"
				},
				"aggregateContactHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"aggregateMinContactHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"aggregateMaxContactHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"aggregateMinWorkloadHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"aggregateMaxWorkloadHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"anyFeesExist": {
					"description": "This is a default description.",
					"type": "get"
				},
				"components": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"formatsOffered": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "get"
				},
				"formats": {
					"description": "This is a default description.",
					"type": "get"
				},
				"summerOnly": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"minimalCourse": {
			"properties": {
				"identifiers": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"course": {
			"properties": {
				"identifiers": {
					"description": "This is a default description.",
					"type": "get"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"title": {
					"description": "This is a default description.",
					"type": "get"
				},
				"transcriptTitle": {
					"description": "This is a default description.",
					"type": "get"
				},
				"description": {
					"description": "This is a default description.",
					"type": "get"
				},
				"departmentNicknames": {
					"description": "This is a default description.",
					"type": "get"
				},
				"blindGrading": {
					"description": "This is a default description.",
					"type": "get"
				},
				"fromDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"toDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"updatedDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"printInCatalog": {
					"description": "This is a default description.",
					"type": "get"
				},
				"printInstructors": {
					"description": "This is a default description.",
					"type": "get"
				},
				"feesExist": {
					"description": "This is a default description.",
					"type": "get"
				},
				"instructorAddConsentRequired": {
					"description": "This is a default description.",
					"type": "get"
				},
				"instructorDropConsentRequired": {
					"description": "This is a default description.",
					"type": "get"
				},
				"allowMultipleEnrollments": {
					"description": "This is a default description.",
					"type": "get"
				},
				"spansMultipleTerms": {
					"description": "This is a default description.",
					"type": "get"
				},
				"multipleTermNumber": {
					"description": "This is a default description.",
					"type": "get"
				},
				"contactHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"workloadHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"summerOnly": {
					"description": "This is a default description.",
					"type": "get"
				},
				"learningObjectives": {
					"description": "This is a default description.",
					"type": "get"
				},
				"studentOutcomeObjectives": {
					"description": "This is a default description.",
					"type": "get"
				},
				"proposedInstructors": {
					"description": "This is a default description.",
					"type": "get"
				},
				"requirementsFulfilled": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"apiResponse": {
			"properties": {
				"source": {
					"description": "This is a default description.",
					"type": "get"
				},
				"correlationId": {
					"description": "This is a default description.",
					"type": "get"
				},
				"timeStamp": {
					"description": "This is a default description.",
					"type": "get"
				},
				"helpResource": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		}
	}
}