{
	"swagger": "2.0",
	"info": {
		"title": "UC Berkeley Class API",
		"description": "Retrieves information about classes, which are groups of associated class sections",
		"version": null
	},
	"host": "apis.berkeley.edu",
	"basePath": "/sis",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/V0/courses/classes": {
			"get": {
				"summary": "Get class data",
				"description": "Returns class data, consisting of the Student/Class EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getClasses",
				"parameters": [{
					"in": "query",
					"name": "catalog-number",
					"description": "The human-readable number identifying a class within a subject area, such as R1A"
				},
				{
					"in": "query",
					"name": "class-number",
					"description": "The index uniquely identifying the class among those with the specified subject area and catalog number"
				},
				{
					"in": "query",
					"name": "enrollment-status-code",
					"description": "The code indicating whether the class is open for enrollment"
				},
				{
					"in": "query",
					"name": "fees-exist",
					"description": "Whether the class requires any additional fees"
				},
				{
					"in": "query",
					"name": "final-exam-code",
					"description": "The code indicating whether and what kind of final exam is required"
				},
				{
					"in": "query",
					"name": "instruction-mode-code",
					"description": "The code indicating whether the class is offered in-person or over the web"
				},
				{
					"in": "query",
					"name": "session-id",
					"description": "The ID uniquely identifying a session within the term"
				},
				{
					"in": "query",
					"name": "status-code",
					"description": "The code indicating whether the class is active or otherwise"
				},
				{
					"in": "query",
					"name": "subject-area-code",
					"description": "The area of academic inquiry, such as MATH or ENGLISH"
				},
				{
					"in": "query",
					"name": "term-id",
					"description": "The ID uniquely identifying the term"
				},
				{
					"in": "query",
					"name": "waitlist-availability",
					"description": "Return only classes with at least one section having a waitlist, whether open or full"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/courses/classes/descriptors": {
			"get": {
				"summary": "Get allowable code/descriptor pairs for class related fields",
				"description": "Returns field names and the canonical coded values and descriptions allowed for them, in the format of the Common/FieldValueList EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getClassDescriptors",
				"parameters": [{
					"in": "query",
					"name": "field-name",
					"description": "The name of a particular coded field, expressed in dot notation (e.g., class.status.type)"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/courses/classes/sections": {
			"get": {
				"summary": "Get class section data",
				"description": "Returns class section data, consisting of the Student/Class Section EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getClassSections",
				"parameters": [{
					"in": "query",
					"name": "catalog-number",
					"description": "The human-readable number identifying a class within a subject area, such as R1A"
				},
				{
					"in": "query",
					"name": "class-number",
					"description": "The index uniquely identifying the class among those with the specified subject area and catalog number"
				},
				{
					"in": "query",
					"name": "component-code",
					"description": "The code representing the type of section, e.g., LEC"
				},
				{
					"in": "query",
					"name": "end-time",
					"description": "The time at or before which the class meeting ends (in HH:MM:SS format where HH is 00-24, and :SS is optional)"
				},
				{
					"in": "query",
					"name": "enrollment-status-code",
					"description": "The code indicating whether the class section is open for enrollment"
				},
				{
					"in": "query",
					"name": "fees-exist",
					"description": "Whether the class section requires any additional fees"
				},
				{
					"in": "query",
					"name": "final-exam-code",
					"description": "The code indicating whether and what kind of final exam is required"
				},
				{
					"in": "query",
					"name": "include-secondary",
					"description": "Whether to return class sections where primary = false"
				},
				{
					"in": "query",
					"name": "instruction-mode-code",
					"description": "The code indicating whether the class section is offered in-person or over the web"
				},
				{
					"in": "query",
					"name": "instructor-campus-uid",
					"description": "The instructors CalNet UID number"
				},
				{
					"in": "query",
					"name": "instructor-family-name",
					"description": "The instructors last name"
				},
				{
					"in": "query",
					"name": "instructor-id",
					"description": "The instructors ID number in Campus Solutions"
				},
				{
					"in": "query",
					"name": "meets-days",
					"description": "A concatination of the first two characters of the day names to include, e.g., MoWeFr"
				},
				{
					"in": "query",
					"name": "section-number",
					"description": "The index uniquely identifying the section among those associated with the same class"
				},
				{
					"in": "query",
					"name": "session-id",
					"description": "The ID uniquely identifying a session within the term"
				},
				{
					"in": "query",
					"name": "start-time",
					"description": "The time at or after which the class meeting begins (in HH:MM:SS format where HH is 00-24, and :SS is optional)"
				},
				{
					"in": "query",
					"name": "status-code",
					"description": "The code indicating whether the class section is active or otherwise"
				},
				{
					"in": "query",
					"name": "subject-area-code",
					"description": "The area of academic inquiry, such as MATH or ENGLISH"
				},
				{
					"in": "query",
					"name": "term-id",
					"description": "The ID uniquely identifying the term"
				},
				{
					"in": "query",
					"name": "waitlist-availability",
					"description": "Return only class sections having a waitlist, whether open or full"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/courses/classes/sections/descriptors": {
			"get": {
				"summary": "Get allowable code/descriptor pairs for class section related fields",
				"description": "Returns field names and the canonical coded values and descriptions allowed for them, in the format of the Common/FieldValueList EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getClassSectionDescriptors",
				"parameters": [{
					"in": "query",
					"name": "field-name",
					"description": "The name of a particular coded field, expressed in dot notation (e.g., classsection.status.type)"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/courses/classes/sections/{class-section-id}": {
			"get": {
				"summary": "Get class section data by ID",
				"description": "Returns class section data, consisting of the Student/Class Section EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getClassSectionsById",
				"parameters": [{
					"in": "path",
					"name": "class-section-id",
					"description": "The ID number uniquely identifying a class section within a term"
				},
				{
					"in": "query",
					"name": "include-secondary",
					"description": "Whether to also return secondary class sections if class-section-id identifies a primary section"
				},
				{
					"in": "query",
					"name": "term-id",
					"description": "The ID uniquely identifying the term"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/courses/{cs-course-id}/classes": {
			"get": {
				"summary": "Get class data by course",
				"description": "Returns class data, consisting of the Student/Class EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getClassesByCourse",
				"parameters": [{
					"in": "query",
					"name": "class-number",
					"description": "The index uniquely identifying the class among those with the specified course and offering"
				},
				{
					"in": "path",
					"name": "cs-course-id",
					"description": "The unique id for a canonical course in Campus Solutions"
				},
				{
					"in": "query",
					"name": "enrollment-status-code",
					"description": "The code indicating whether the class is open for enrollment"
				},
				{
					"in": "query",
					"name": "fees-exist",
					"description": "Whether the class requires any additional fees"
				},
				{
					"in": "query",
					"name": "final-exam-code",
					"description": "The code indicating whether and what kind of final exam is required"
				},
				{
					"in": "query",
					"name": "instruction-mode-code",
					"description": "The code indicating whether the class is offered in-person or over the web"
				},
				{
					"in": "query",
					"name": "session-id",
					"description": "The ID uniquely identifying a session within the term"
				},
				{
					"in": "query",
					"name": "status-code",
					"description": "The code indicating whether the class is active or otherwise"
				},
				{
					"in": "query",
					"name": "term-id",
					"description": "The ID uniquely identifying the term"
				},
				{
					"in": "query",
					"name": "waitlist-availability",
					"description": "Return only classes with at least one section having a waitlist, whether open or full"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/V0/courses/{cs-course-id}/classes/sections": {
			"get": {
				"summary": "Get class section data by course",
				"description": "Returns class data, consisting of the Student/Class EDO described on <a href=http://bMeta.berkeley.edu>bMeta.berkeley.edu</a>",
				"operationId": "getClasseSectionsByCourse",
				"parameters": [{
					"in": "query",
					"name": "class-number",
					"description": "The index uniquely identifying the class among those with the specified course and offering"
				},
				{
					"in": "query",
					"name": "component-code",
					"description": "The code representing the type of section, e.g., LEC"
				},
				{
					"in": "path",
					"name": "cs-course-id",
					"description": "The unique id for a canonical course in Campus Solutions"
				},
				{
					"in": "query",
					"name": "end-time",
					"description": "The time at or before which the class meeting ends (in HH:MM:SS format where HH is 00-24, and :SS is optional)"
				},
				{
					"in": "query",
					"name": "enrollment-status-code",
					"description": "The code indicating whether the class section is open for enrollment"
				},
				{
					"in": "query",
					"name": "fees-exist",
					"description": "Whether the class section requires any additional fees"
				},
				{
					"in": "query",
					"name": "final-exam-code",
					"description": "The code indicating whether and what kind of final exam is required"
				},
				{
					"in": "query",
					"name": "include-secondary",
					"description": "Whether to return class sections where primary = false"
				},
				{
					"in": "query",
					"name": "instruction-mode-code",
					"description": "The code indicating whether the class section is offered in-person or over the web"
				},
				{
					"in": "query",
					"name": "instructor-campus-uid",
					"description": "The instructors CalNet UID number"
				},
				{
					"in": "query",
					"name": "instructor-family-name",
					"description": "The instructors last name"
				},
				{
					"in": "query",
					"name": "instructor-id",
					"description": "The instructors ID number in Campus Solutions"
				},
				{
					"in": "query",
					"name": "meets-days",
					"description": "A concatination of the first two characters of the day names to include, e.g., MoWeFr"
				},
				{
					"in": "query",
					"name": "section-number",
					"description": "The index uniquely identifying the section among those associated with the same class"
				},
				{
					"in": "query",
					"name": "session-id",
					"description": "The ID uniquely identifying a session within the term"
				},
				{
					"in": "query",
					"name": "start-time",
					"description": "The time at or after which the class meeting begins (in HH:MM:SS format where HH is 00-24, and :SS is optional)"
				},
				{
					"in": "query",
					"name": "status-code",
					"description": "The code indicating whether the class section is active or otherwise"
				},
				{
					"in": "query",
					"name": "term-id",
					"description": "The ID uniquely identifying the term"
				},
				{
					"in": "query",
					"name": "waitlist-availability",
					"description": "Return only class sections having a waitlist, whether open or full"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"descriptor": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "get"
				},
				"description": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"identifier": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "get"
				},
				"id": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"fieldValueList": {
			"properties": {
				"fieldName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"fieldValues": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"cursor": {
			"properties": {
				"previous": {
					"description": "This is a default description.",
					"type": "get"
				},
				"next": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"association": {
			"properties": {
				"primary": {
					"description": "This is a default description.",
					"type": "get"
				},
				"primaryAssociatedSectionId": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"name": {
			"properties": {
				"familyName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"givenName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"middleName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"suffixName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"formattedName": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"email": {
			"properties": {
				"emailAddress": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"person": {
			"properties": {
				"identifiers": {
					"description": "This is a default description.",
					"type": "get"
				},
				"names": {
					"description": "This is a default description.",
					"type": "get"
				},
				"emails": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"assignedInstructor": {
			"properties": {
				"assignmentNumber": {
					"description": "This is a default description.",
					"type": "get"
				},
				"printInScheduleOfClasses": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"meeting": {
			"properties": {
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetsDays": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetsMonday": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetsTuesday": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetsWednesday": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetsThursday": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetsFriday": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetsSaturday": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetsSunday": {
					"description": "This is a default description.",
					"type": "get"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "get"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "get"
				},
				"assignedInstructors": {
					"description": "This is a default description.",
					"type": "get"
				},
				"startDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"endDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetingDescription": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"exam": {
			"properties": {
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"date": {
					"description": "This is a default description.",
					"type": "get"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "get"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"catalogNumber": {
			"properties": {
				"prefix": {
					"description": "This is a default description.",
					"type": "get"
				},
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"suffix": {
					"description": "This is a default description.",
					"type": "get"
				},
				"formatted": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"course": {
			"properties": {
				"identifiers": {
					"description": "This is a default description.",
					"type": "get"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"title": {
					"description": "This is a default description.",
					"type": "get"
				},
				"transcriptTitle": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"term": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "get"
				},
				"name": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"session": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "get"
				},
				"name": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"allowedUnits": {
			"properties": {
				"minumium": {
					"description": "This is a default description.",
					"type": "get"
				},
				"maximum": {
					"description": "This is a default description.",
					"type": "get"
				},
				"forAcademicProgress": {
					"description": "This is a default description.",
					"type": "get"
				},
				"forFinancialAid": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"price": {
			"properties": {
				"amount": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"classMaterial": {
			"properties": {
				"sequenceNumber": {
					"description": "This is a default description.",
					"type": "get"
				},
				"title": {
					"description": "This is a default description.",
					"type": "get"
				},
				"author": {
					"description": "This is a default description.",
					"type": "get"
				},
				"isbn": {
					"description": "This is a default description.",
					"type": "get"
				},
				"yearPublished": {
					"description": "This is a default description.",
					"type": "get"
				},
				"publisher": {
					"description": "This is a default description.",
					"type": "get"
				},
				"edition": {
					"description": "This is a default description.",
					"type": "get"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"assignedClassMaterials": {
			"properties": {
				"noneAssigned": {
					"description": "This is a default description.",
					"type": "get"
				},
				"instructions": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classMaterials": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"enrollmentStatus": {
			"properties": {
				"enrolledCount": {
					"description": "This is a default description.",
					"type": "get"
				},
				"waitlistedCount": {
					"description": "This is a default description.",
					"type": "get"
				},
				"minEnroll": {
					"description": "This is a default description.",
					"type": "get"
				},
				"maxEnroll": {
					"description": "This is a default description.",
					"type": "get"
				},
				"maxWaitlist": {
					"description": "This is a default description.",
					"type": "get"
				},
				"instructorAddConsentRequired": {
					"description": "This is a default description.",
					"type": "get"
				},
				"instructorDropConsentRequired": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"fullClass": {
			"properties": {
				"offeringNumber": {
					"description": "This is a default description.",
					"type": "get"
				},
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classTitle": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classTranscriptTitle": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classDescription": {
					"description": "This is a default description.",
					"type": "get"
				},
				"contactHours": {
					"description": "This is a default description.",
					"type": "get"
				},
				"blindGrading": {
					"description": "This is a default description.",
					"type": "get"
				},
				"lastUpdated": {
					"description": "This is a default description.",
					"type": "get"
				},
				"lastCancelled": {
					"description": "This is a default description.",
					"type": "get"
				},
				"new": {
					"description": "This is a default description.",
					"type": "get"
				},
				"anyPrintInScheduleOfClasses": {
					"description": "This is a default description.",
					"type": "get"
				},
				"anyPrintInstructors": {
					"description": "This is a default description.",
					"type": "get"
				},
				"anyFeesExist": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"minimalClass": {
			"properties": {
				"offeringNumber": {
					"description": "This is a default description.",
					"type": "get"
				},
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classTitle": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classTranscriptTitle": {
					"description": "This is a default description.",
					"type": "get"
				},
				"classDescription": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"classSection": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "get"
				},
				"number": {
					"description": "This is a default description.",
					"type": "get"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "get"
				},
				"startDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"endDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"new": {
					"description": "This is a default description.",
					"type": "get"
				},
				"updatedDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"cancelledDate": {
					"description": "This is a default description.",
					"type": "get"
				},
				"printInScheduleOfClasses": {
					"description": "This is a default description.",
					"type": "get"
				},
				"graded": {
					"description": "This is a default description.",
					"type": "get"
				},
				"feesExist": {
					"description": "This is a default description.",
					"type": "get"
				},
				"characteristics": {
					"description": "This is a default description.",
					"type": "get"
				},
				"roomShare": {
					"description": "This is a default description.",
					"type": "get"
				},
				"roomCharacteristics": {
					"description": "This is a default description.",
					"type": "get"
				},
				"meetings": {
					"description": "This is a default description.",
					"type": "get"
				},
				"exams": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		},
		"apiResponse": {
			"properties": {
				"source": {
					"description": "This is a default description.",
					"type": "get"
				},
				"correlationId": {
					"description": "This is a default description.",
					"type": "get"
				},
				"timeStamp": {
					"description": "This is a default description.",
					"type": "get"
				},
				"helpResource": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		}
	}
}