{
	"swagger": "2.0",
	"info": {
		"title": "Eventbrite",
		"description": "Eventbrite is the leading web-based solution for creating, managing, and promoting local events.",
		"termsOfService": "http://www.eventbrite.com/tos",
		"version": "v3"
	},
	"host": "www.eventbriteapi.com",
	"basePath": "/v3/events",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/discount_new": {
			"get": {
				"summary": "discount_new",
				"description": "discount_new",
				"operationId": "discount-new",
				"parameters": [{
					"in": "query",
					"name": "amount_off",
					"description": "The fixed amount off the ticket price. Each discount code can have a fixed discount amount or a variable (percentage) discount amount, but not both.",
					"type": "float"
				},
				{
					"in": "query",
					"name": "code",
					"description": "The discount code. Spaces, apostrophes and non-alphanumeric characters are not allowed, except for dashes and underscores. Examples: u201cearlybirdspecial_08u2033, u201cmembersonlyu201d, u201cdc121232u2033.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "end_date",
					"description": "The discount end date and time, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "The event ID. The event must have been previously created using /event_new.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "percent_off",
					"description": "The percentage off the ticket price. Each discount code can have a fixed discount amount or a variable (percentage) discount amount, but not both.",
					"type": "float"
				},
				{
					"in": "query",
					"name": "quantity_available",
					"description": "Maximum number of times this discount can be used. If not provided, no maximum is set.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "start_date",
					"description": "The discount start date and time, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "tickets",
					"description": "Comma-separated list of ticket IDs for which the discount applies. If not provided, the discount will apply to all ticket types.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/discount_update": {
			"get": {
				"summary": "discount_update",
				"description": "discount_update",
				"operationId": "discount-update",
				"parameters": [{
					"in": "query",
					"name": "amount_off",
					"description": "The fixed amount off the ticket price. Each discount code can have a fixed discount amount or a variable (percentage) discount amount, but not both.",
					"type": "float"
				},
				{
					"in": "query",
					"name": "code",
					"description": "The discount code. Spaces, apostrophes and non-alphanumeric characters are not allowed, except for dashes and underscores. Examples: u201cearlybirdspecial_08u2033, u201cmembersonlyu201d, u201cdc121232u2033.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "end_date",
					"description": "The discount end date and time, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The discount ID to update.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "percent_off",
					"description": "The percentage off the ticket price. Each discount code can have a fixed discount amount or a variable (percentage) discount amount, but not both.",
					"type": "float"
				},
				{
					"in": "query",
					"name": "quantity_available",
					"description": "Maximum number of times this discount can be used. If not provided, no maximum is set.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "start_date",
					"description": "The discount start date and time, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "tickets",
					"description": "Comma-separated list of ticket IDs for which the discount applies. If not provided, the discount will apply to all ticket types.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/event_copy": {
			"get": {
				"summary": "event_copy",
				"description": "event_copy",
				"operationId": "event-copy",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "The ID of the existing event.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "event_name",
					"description": "A new name for this copy of the Event. 255 character limit.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/event_get": {
			"get": {
				"summary": "event_get",
				"description": "event_get",
				"operationId": "event-get",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "The ID of the requested event.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/event_list_attendees": {
			"get": {
				"summary": "event_list_attendees",
				"description": "event_list_attendees",
				"operationId": "event-list-attendees",
				"parameters": [{
					"in": "query",
					"name": "count",
					"description": "Limit the number of attendees returned. Default limit is 50 attendees per page if paginate selected.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "do_not_display",
					"description": "Comma separated list without spaces that leaves out certain data returned. Valid options are: profile,answers,address. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "The ID of the event.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "page",
					"description": "Allows for paging through the results of a query. Default is 1. Page size will be setted with u201ccountu201d parameter.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "show_full_barcodes",
					"description": "If set to u2018trueu2019, it will return all barcodes associates with the attendee, plus the barcode status, device used, attendee_id, and barcode number. If left blank, it will return a comma separated list of barcodes. Optional.",
					"type": "boolean"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/event_list_discounts": {
			"get": {
				"summary": "event_list_discounts",
				"description": "event_list_discounts",
				"operationId": "event-list-discounts",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The ID of the event.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/event_new": {
			"get": {
				"summary": "event_new",
				"description": "event_new",
				"operationId": "event-new",
				"parameters": [{
					"in": "query",
					"name": "background_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_background_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_border_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_header_background_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_header_text_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_text_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "capacity",
					"description": "The maximum number of people who can attend the event. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "currency",
					"description": "The event currency in ISO 4217 format (e.g., u201cUSDu201d, u201cEURu201d). Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "custom_footer",
					"description": "Custom HTML footer for your registration page. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "custom_header",
					"description": "Custom HTML header for your registration page. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "The event description. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "end_date",
					"description": "The event end date and time, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "organizer_id",
					"description": "The event organizer ID. The organizer must have been previously created using /organizer_new. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "personalized_url",
					"description": "The event registration URL. If you pass u201ctesteventu201d, the event will be accessible at u201chttp://testevent.eventbrite.comu201d. This string is limited to 255 characters max. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "privacy",
					"description": "0 for a private event, 1 for a public event. If not provided, will default to 0. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "start_date",
					"description": "The event start date and time, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "status",
					"description": "The event status. Allowed values are u201cdraftu201d, u201cliveu201d for new events. If not provided, status will be u201cdraftu201d, meaning that the event registration page will not be available publicly. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "The event time zone in relation to GMT (e.g., u201cGMT+01u2033, u201cGMT+02u2033, u201cGMT-01u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "The event title. 255 characters max.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title_text_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "venue_id",
					"description": "The event venue ID. The venue must have been previously created using /venue_new. Optional.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/event_search": {
			"get": {
				"summary": "event_search",
				"description": "event_search",
				"operationId": "event-search",
				"parameters": [{
					"in": "query",
					"name": "address",
					"description": "The venue address. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "category",
					"description": "Event categories (comma seperated): conference, conventions, entertainment, fundraisers, meetings, other, performances, reunions, sales, seminars, social, sports, tradeshows, travel, religion, fairs, food, music, recreation. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "city",
					"description": "The venue city. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "country",
					"description": "2-letter country code, according to the ISO 3166 format. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "count_only",
					"description": "Only return the total number of events (u201ctrueu201d or u201cfalseu201d). Default is u201cfalseu201d. Optional.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date",
					"description": "The event start date. Limit the list of results to a date range, specified by a label or by exact dates. Currently supported labels include: u201cAllu201d, u201cFutureu201d, u201cPastu201d, u201cTodayu201d, u201cYesterdayu201d, u201cLast Weeku201d, u201cThis Weeku201d, u201cNext weeku201d, u201cThis Monthu201d, u201cNext Monthu201d and months by name, e.g. u201cOctoberu201d. Exact date ranges take the form u201cYYYY-MM-DD YYYY-MM-DDu201d, e.g. u201c2008-04-25 2008-04-27u2033. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_created",
					"description": "The date range the event was created, specified by a label or by exact dates. Currently supported labels include: u201cAllu201d, u201cFutureu201d, u201cPastu201d, u201cTodayu201d, u201cYesterdayu201d, u201cLast Weeku201d, u201cThis Weeku201d, u201cNext weeku201d, u201cThis Monthu201d, u201cNext Monthu201d and months by name, e.g. u201cOctoberu201d. Exact date ranges take the form u201cYYYY-MM-DD YYYY-MM-DDu201d, e.g. u201c2008-04-25 2008-04-27u2033. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_modified",
					"description": "The date range the event was modified, specified by a label or by exact dates. Currently supported labels include: u201cAllu201d, u201cFutureu201d, u201cPastu201d, u201cTodayu201d, u201cYesterdayu201d, u201cLast Weeku201d, u201cThis Weeku201d, u201cNext weeku201d, u201cThis Monthu201d, u201cNext Monthu201d and months by name, e.g. u201cOctoberu201d. Exact date ranges take the form u201cYYYY-MM-DD YYYY-MM-DDu201d, e.g. u201c2008-04-25 2008-04-27u2033. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "keywords",
					"description": "The search keywords. To run an OR search, you need this format: u201ckeywords=google%20OR%20multimediau201d. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "latitude",
					"description": "If u201cwithinu201d is set you can limit your search to wgs84 coordinates (latitude, longitude). Optional.",
					"type": "float"
				},
				{
					"in": "query",
					"name": "longitude",
					"description": "If u201cwithinu201d is set you can limit your search to wgs84 coordinates (latitude, longitude). Optional.",
					"type": "float"
				},
				{
					"in": "query",
					"name": "max",
					"description": "Limit the number of events returned. Maximum limit is 100 events per page. Default is 10. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "organizer",
					"description": "The organizer name. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "Allows for paging through the results of a query. Default is 1. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "postal_code",
					"description": "The postal/zip code of the venue. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "region",
					"description": "The venue state/province/county/territory depending on the country. 2-letter state code is required for US addresses. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Returns events with id greater than u201csince_idu201d value. Default is 1. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "sort_by",
					"description": "Sort the list of events by u201cidu201d, u201cdateu201d, u201cnameu201d, u201ccityu201d. The default is u201cdateu201d. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "tracking_link",
					"description": "The tracking link code to add to the event URLs. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "within",
					"description": "If u201cwithinu201d is set and the u201ccityu201d or u201czipcodeu201d resolve to a specific geolocation, the search will be restricted to the specified within radius. The sorting default will be set to u201cdistanceu201d. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "within_unit",
					"description": "If within is set, you can specify the unit to use: u201cMu201d for miles, or u201cKu201d for kilometers. By default, the API will use miles. Optional.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/event_update": {
			"get": {
				"summary": "event_update",
				"description": "event_update",
				"operationId": "event-update",
				"parameters": [{
					"in": "query",
					"name": "background_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_background_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_border_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_header_background_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_header_text_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "box_text_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "capacity",
					"description": "The maximum number of people who can attend the event.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "currency",
					"description": "The event currency in ISO 4217 format (e.g., u201cUSDu201d, u201cEURu201d).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "custom_footer",
					"description": "Custom HTML footer for your registration page.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "custom_header",
					"description": "Custom HTML header for your registration page.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "The event description.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "end_date",
					"description": "The event end date and time, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "The ID of the event to update.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "organizer_id",
					"description": "The event organizer ID. The organizer must have been previously created using /organizer_new.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "personalized_url",
					"description": "The event registration URL subdomain. Your event will be available at http://.eventbrite.com. This string is limited to 255 characters max.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "privacy",
					"description": "0 for a private event, 1 for a public event.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "start_date",
					"description": "The event start date and time, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "status",
					"description": "The event status. Allowed values are u201cdraftu201d, u201cliveu201d for new events.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "timezone",
					"description": "The event time zone in relation to GMT (e.g., u201cGMT+01u2033, u201cGMT+02u2033, u201cGMT-01u2033) or US Time Zone (u201cPTu201d or u201cUS/Pacificu201d, u201cMTu201d or u201cUS/Mountainu201d, u201cCTu201d or u201cUS/Centralu201d or u201cETu201d or u201cUS/Easternu201d).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "The event title. 255 characters max.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title_text_color",
					"description": "Custom hexadecimal color for your registration page. Format: FFFFFF *without* the pound.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "venue_id",
					"description": "The event venue ID. The venue must have been previously created using /venue_new.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/organizer_get": {
			"get": {
				"summary": "organizer_get",
				"description": "organizer_get",
				"operationId": "organizer-get",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The organizer profile id.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/organizer_list_events": {
			"get": {
				"summary": "organizer_list_events",
				"description": "organizer_list_events",
				"operationId": "organizer-list-events",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The organizer id.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/organizer_new": {
			"get": {
				"summary": "organizer_new",
				"description": "organizer_new",
				"operationId": "organizer-new",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "The organizer description. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "The organizer name.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/organizer_update": {
			"get": {
				"summary": "organizer_update",
				"description": "organizer_update",
				"operationId": "organizer-update",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "The organizer description.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The organizer ID.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "name",
					"description": "The organizer name.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/payment_update": {
			"get": {
				"summary": "payment_update",
				"description": "payment_update",
				"operationId": "payment-update",
				"parameters": [{
					"in": "query",
					"name": "accept_cash",
					"description": "Accept u201cPay by Cashu201d payments (1 or 0).",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "accept_check",
					"description": "Accept u201cPay by Checku201d payments (1 or 0).",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "accept_google",
					"description": "Accept Google Checkout payments (1 or 0).",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "accept_invoice",
					"description": "Accept u201cSend an Invoiceu201d payments (1 or 0).",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "accept_paypal",
					"description": "Accept PayPal payments (1 or 0).",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "The event ID.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "google_merchant_id",
					"description": "Google Checkout Merchant ID. Required if accept_google is 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "google_merchant_key",
					"description": "Google Checkout Merchant Key. Required if accept_google is 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "instructions_cash",
					"description": "Instructions to attendees who want to pay by cash.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "instructions_check",
					"description": "Instructions to attendees who want to pay by check.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "instructions_invoice",
					"description": "Instructions to attendees who need to be sent an invoice.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "paypal_email",
					"description": "Your PayPal email. Defaults to the user email address if not provided.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/ticket_new": {
			"get": {
				"summary": "ticket_new",
				"description": "ticket_new",
				"operationId": "ticket-new",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "The ticket description. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "end_sales",
					"description": "The date and time when ticket sales stop, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033). Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "The event ID. The event must have been previously created using /event_new.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "include_fee",
					"description": "0 to add the Eventbrite service fee on top of ticket price, or 1 to include it in the ticket price. 0 will be used by default if not provided. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "is_donation",
					"description": "0 for fixed-price tickets, 1 for donations. 0 will be used by default if not provided. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "max",
					"description": "The maximum number of tickets per order. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "min",
					"description": "The minimum number of tickets per order. Optional.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "name",
					"description": "The ticket name.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "price",
					"description": "The ticket price. Enter 0.00 for free tickets. Leave blank for a donation.",
					"type": "float"
				},
				{
					"in": "query",
					"name": "quantity",
					"description": "The number of tickets available. Not required for donations.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "start_sales",
					"description": "The date and time when ticket sales start, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033). Optional.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/ticket_update": {
			"get": {
				"summary": "ticket_update",
				"description": "ticket_update",
				"operationId": "ticket-update",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "The ticket description.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "end_sales",
					"description": "The date and time when ticket sales stop, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033). Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "hide",
					"description": "Show or hide the ticket type. Valid options: (y or n)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The ticket ID.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "include_fee",
					"description": "0 to add the Eventbrite service fee on top of ticket price, or 1 to include it in the ticket price.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "is_donation",
					"description": "0 for fixed-price tickets, 1 for donations.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "max",
					"description": "The maximum number of tickets per order.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "min",
					"description": "The minimum number of tickets per order.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "name",
					"description": "The ticket name.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "price",
					"description": "The ticket price. Enter 0.00 for free tickets. Leave blank for a donation. If tickets are already sold, price will not change.",
					"type": "float"
				},
				{
					"in": "query",
					"name": "quantity",
					"description": "The number of tickets available. Not required for donations.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "start_sales",
					"description": "The date and time when ticket sales start, in ISO 8601 format (e.g., u201c2007-12-31 23:59:59u2033). Optional.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/user_get": {
			"get": {
				"summary": "user_get",
				"description": "user_get",
				"operationId": "user-get",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "The email address of the subuser account. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user_id",
					"description": "The ID of the subuser account. Optional.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/user_list_events": {
			"get": {
				"summary": "user_list_events",
				"description": "user_list_events",
				"operationId": "user-list-events",
				"parameters": [{
					"in": "query",
					"name": "asc_or_desc",
					"description": "Valid options include u2018ascu2019 or results in ascending order or u2018descu2019 or descending order based on event start_date. Defaults to asc. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "do_not_display",
					"description": "Comma separated list without spaces. Valid options include: description, venue, logo, style, organizer, tickets. Example: do_not_display=venue,logo,style. If you leave this field blank, it will return everything. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "The user email. Defaults to the authenticated user if not provided. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_statuses",
					"description": "Comma separated list without spaces. Valid options include: live, started, ended. Example: event_statuses=live,started. If you leave this field blank, it will return everything. Also note that the u201cendedu201d option will only return events that have ended in the last 7 days. Optional.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/user_list_organizers": {
			"get": {
				"summary": "user_list_organizers",
				"description": "user_list_organizers",
				"operationId": "user-list-organizers",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/user_list_tickets": {
			"get": {
				"summary": "user_list_tickets",
				"description": "user_list_tickets",
				"operationId": "user-list-tickets",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/user_list_venues": {
			"get": {
				"summary": "user_list_venues",
				"description": "user_list_venues",
				"operationId": "user-list-venues",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/user_new": {
			"get": {
				"summary": "user_new",
				"description": "user_new",
				"operationId": "user-new",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "The user email address.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "passwd",
					"description": "The user password. (needs to be at least 4 characters long).",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/user_update": {
			"get": {
				"summary": "user_update",
				"description": "user_update",
				"operationId": "user-update",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "new_email",
					"description": "New user email address.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "new_password",
					"description": "New user password. (needs to be at least 4 characters long).",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/venue_get": {
			"get": {
				"summary": "venue_get",
				"description": "venue_get",
				"operationId": "venue-get",
				"parameters": [{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The venue id.",
					"type": "integer"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/venue_new": {
			"get": {
				"summary": "venue_new",
				"description": "venue_new",
				"operationId": "venue-new",
				"parameters": [{
					"in": "query",
					"name": "adress",
					"description": "The venue address (line 1). Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "adress_2",
					"description": "The venue address (line 2). Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "city",
					"description": "The venue city. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "country_code",
					"description": "2-letter country code, according to the ISO 3166 format.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "organizer_id",
					"description": "The ID of the related organizer.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "postal_code",
					"description": "The postal code of the venue. Optional.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "region",
					"description": "The venue state/province/county/territory depending on the country. 2-letter state code is required for US addresses.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "venue",
					"description": "The venue name.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/venue_update": {
			"get": {
				"summary": "venue_update",
				"description": "venue_update",
				"operationId": "venue-update",
				"parameters": [{
					"in": "query",
					"name": "adress",
					"description": "The venue address (line 1).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "adress_2",
					"description": "The venue address (line 2).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "city",
					"description": "The venue city.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "country_code",
					"description": "2-letter country code, according to the ISO 3166 format.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "data-type",
					"description": "xml or json data-types are supported",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The venue ID.",
					"type": "integer"
				},
				{
					"in": "query",
					"name": "postal_code",
					"description": "The postal code of the venue.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "region",
					"description": "The venue state/province/county/territory depending on the country. 2-letter state code is required for US addresses.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "venue",
					"description": "The venue name.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		}
	},
	"definitions": []
}