{
	"swagger": "2.0",
	"info": {
		"title": "Eventbrite Categories API",
		"description": "Working with Eventbrite categories.",
		"version": "v3"
	},
	"host": "www.eventbriteapi.com",
	"basePath": "/v3",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		" /subcategories": {
			"get": {
				"summary": "Get Subcategories",
				"description": "Get Subcategories",
				"operationId": "getSubcategories",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Categories"],
				"security": []
			}
		},
		"/categories/": {
			"get": {
				"summary": "Get Categories",
				"description": "Get Categories",
				"operationId": "getCategories",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Categories"],
				"security": []
			}
		},
		"/categories/{id}/": {
			"get": {
				"summary": "Get Category",
				"description": "Get Category",
				"operationId": "getCategory",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The id for the category.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Categories"],
				"security": []
			}
		},
		"/subcategories/{id}/": {
			"get": {
				"summary": "Get Subcategory",
				"description": "Get Subcategory",
				"operationId": "getSubcategory",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The id for the subcategory.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Categories"],
				"security": []
			}
		}
	},
	"definitions": []
}