- swagger: "2.0"
  info:
    title: Twitter Application API
    description: The API for Twitter applications.
    termsOfService: http://dev.twitter.com/overview/terms
    contact:
      name: Twitter
      url: https://dev.twitter.com/discussions
    version: "1.1"
  host: api.twitter.com
  basePath: /1.1
  schemes:
  - http
  produces:
  - application/json
  consumes:
  - application/json
  paths:
    /application/rate_limit_status.json:
      get:
        summary: Rate Limit Status
        description: Returns the current rate limits for methods belonging to the specified
          resource families.
        operationId: getApplicationRateLimitStatus
        parameters:
        - in: query
          name: resources
          description: A comma-separated list of resource families you want to know
            the current rate limit disposition for. For best performance, only specify
            the resource families pertinent to your application.
          type: string
          format: string
        responses:
          200:
            description: Successful response
        tags:
        - Application
        security: []
  definitions: []