{
	"swagger": "2.0",
	"info": {
		"title": "Ad Exchange Buyer API",
		"description": "Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1.2"
	},
	"host": "www.googleapis.com",
	"basePath": "/adexchangebuyer/v1.2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/accounts": {
			"get": {
				"summary": "",
				"description": "Retrieves the authenticated users list of accounts.",
				"operationId": "adexchangebuyer.accounts.list",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one account by ID.",
				"operationId": "adexchangebuyer.accounts.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The account id",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing account. This method supports patch semantics.",
				"operationId": "adexchangebuyer.accounts.patch",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The account id",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing account.",
				"operationId": "adexchangebuyer.accounts.update",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The account id",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/creatives": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of the authenticated users active creatives. A creative will be available 30-40 minutes after submission.",
				"operationId": "adexchangebuyer.creatives.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of entries returned on one result page. If not set, the default is 100. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "statusFilter",
					"description": "When specified, only creatives having the given status are returned.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Submit a new creative.",
				"operationId": "adexchangebuyer.creatives.insert",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/creatives/{accountId}/{buyerCreativeId}": {
			"get": {
				"summary": "",
				"description": "Gets the status for a single creative. A creative will be available 30-40 minutes after submission.",
				"operationId": "adexchangebuyer.creatives.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The id for the account that will serve this creative.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "buyerCreativeId",
					"description": "The buyer-specific id for this creative.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Account": {
			"properties": {
				"bidderLocation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cookieMatchingNid": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cookieMatchingUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maximumActiveCreatives": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maximumTotalQps": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numberActiveCreatives": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountsList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Creative": {
			"properties": {
				"HTMLSnippet": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"advertiserId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"advertiserName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"agencyId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"attribute": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"buyerCreativeId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"clickThroughUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"corrections": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disapprovalReasons": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"filteringReasons": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"height": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productCategories": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"restrictedCategories": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sensitiveCategories": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"vendorType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"videoURL": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"width": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CreativesList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}