{
	"swagger": "2.0",
	"info": {
		"title": "Ad Exchange Seller API",
		"description": "Gives Ad Exchange seller users access to their inventory and the ability to generate reports",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2.0"
	},
	"host": "www.googleapis.com",
	"basePath": "/adexchangeseller/v2.0",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/accounts": {
			"get": {
				"summary": "",
				"description": "List all accounts available to this Ad Exchange account.",
				"operationId": "adexchangeseller.accounts.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of accounts to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through accounts. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}": {
			"get": {
				"summary": "",
				"description": "Get information about the selected Ad Exchange account.",
				"operationId": "adexchangeseller.accounts.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account to get information about. Tip: myaccount is a valid ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients": {
			"get": {
				"summary": "",
				"description": "List all ad clients in this Ad Exchange account.",
				"operationId": "adexchangeseller.accounts.adclients.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account to which the ad client belongs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of ad clients to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/customchannels": {
			"get": {
				"summary": "",
				"description": "List all custom channels in the specified ad client for this Ad Exchange account.",
				"operationId": "adexchangeseller.accounts.customchannels.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account to which the ad client belongs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client for which to list custom channels.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of custom channels to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}": {
			"get": {
				"summary": "",
				"description": "Get the specified custom channel from the specified ad client.",
				"operationId": "adexchangeseller.accounts.customchannels.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account to which the ad client belongs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client which contains the custom channel.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "customChannelId",
					"description": "Custom channel to retrieve.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/urlchannels": {
			"get": {
				"summary": "",
				"description": "List all URL channels in the specified ad client for this Ad Exchange account.",
				"operationId": "adexchangeseller.accounts.urlchannels.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account to which the ad client belongs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client for which to list URL channels.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of URL channels to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/alerts": {
			"get": {
				"summary": "",
				"description": "List the alerts for this Ad Exchange account.",
				"operationId": "adexchangeseller.accounts.alerts.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account owning the alerts.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "locale",
					"description": "The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/metadata/dimensions": {
			"get": {
				"summary": "",
				"description": "List the metadata for the dimensions available to this AdExchange account.",
				"operationId": "adexchangeseller.accounts.metadata.dimensions.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account with visibility to the dimensions.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/metadata/metrics": {
			"get": {
				"summary": "",
				"description": "List the metadata for the metrics available to this AdExchange account.",
				"operationId": "adexchangeseller.accounts.metadata.metrics.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account with visibility to the metrics.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/preferreddeals": {
			"get": {
				"summary": "",
				"description": "List the preferred deals for this Ad Exchange account.",
				"operationId": "adexchangeseller.accounts.preferreddeals.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account owning the deals.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/preferreddeals/{dealId}": {
			"get": {
				"summary": "",
				"description": "Get information about the selected Ad Exchange Preferred Deal.",
				"operationId": "adexchangeseller.accounts.preferreddeals.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account owning the deal.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "dealId",
					"description": "Preferred deal to get information about.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/reports": {
			"get": {
				"summary": "",
				"description": "Generate an Ad Exchange report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify alt=csv as a query parameter.",
				"operationId": "adexchangeseller.accounts.reports.generate",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which owns the generated report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dimension",
					"description": "Dimensions to base the report on.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endDate",
					"description": "End of the date range to report on in YYYY-MM-DD format, inclusive.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "filter",
					"description": "Filters to be run on the report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "locale",
					"description": "Optional locale to use for translating report output to a local language. Defaults to en_US if not specified.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of rows of report data to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "metric",
					"description": "Numeric columns to include in the report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sort",
					"description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with + to sort ascending or - to sort descending. If no prefix is specified, the column is sorted ascending.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startDate",
					"description": "Start of the date range to report on in YYYY-MM-DD format, inclusive.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startIndex",
					"description": "Index of the first row of report data to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/reports/saved": {
			"get": {
				"summary": "",
				"description": "List all saved reports in this Ad Exchange account.",
				"operationId": "adexchangeseller.accounts.reports.saved.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account owning the saved reports.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of saved reports to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/reports/{savedReportId}": {
			"get": {
				"summary": "",
				"description": "Generate an Ad Exchange report based on the saved report ID sent in the query parameters.",
				"operationId": "adexchangeseller.accounts.reports.saved.generate",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account owning the saved report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "locale",
					"description": "Optional locale to use for translating report output to a local language. Defaults to en_US if not specified.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of rows of report data to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "savedReportId",
					"description": "The saved report to retrieve.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startIndex",
					"description": "Index of the first row of report data to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Account": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Accounts": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AdClient": {
			"properties": {
				"arcOptIn": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportsReporting": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AdClients": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Alert": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"message": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"severity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Alerts": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomChannel": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetingInfo": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomChannels": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Metadata": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PreferredDeal": {
			"properties": {
				"advertiserName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"buyerNetworkName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currencyCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fixedCpm": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PreferredDeals": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Report": {
			"properties": {
				"averages": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"headers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalMatchedRows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totals": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReportingMetadataEntry": {
			"properties": {
				"compatibleDimensions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"compatibleMetrics": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requiredDimensions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requiredMetrics": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportedProducts": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SavedReport": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SavedReports": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlChannel": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"urlPattern": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlChannels": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}