{
	"swagger": "2.0",
	"info": {
		"title": "Admin Reports API",
		"description": "Allows the administrators of Google Apps customers to fetch reports about the usage, collaboration, security and risk for their users.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "reports_v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/admin/reports/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/activity/users/{userKey}/applications/{applicationName}": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of activities for a specific customer and application.",
				"operationId": "reports.activities.list",
				"parameters": [{
					"in": "query",
					"name": "actorIpAddress",
					"description": "IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "applicationName",
					"description": "Application name for which the events are to be retrieved.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerId",
					"description": "Represents the customer for which the data is to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endTime",
					"description": "Return events which occured at or before this time.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "eventName",
					"description": "Name of the event being queried.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "filters",
					"description": "Event parameters in the form [parameter1 name][operator][parameter1 value],[parameter2 name][operator][parameter2 value],...",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Number of activity records to be shown in each page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token to specify next page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startTime",
					"description": "Return events which occured at or after this time.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userKey",
					"description": "Represents the profile id or the user email for which the data should be filtered. When all is specified as the userKey, it returns usageReports for all users.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/activity/users/{userKey}/applications/{applicationName}/watch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Push changes to activities",
				"operationId": "reports.activities.watch",
				"parameters": [{
					"in": "query",
					"name": "actorIpAddress",
					"description": "IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "applicationName",
					"description": "Application name for which the events are to be retrieved.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerId",
					"description": "Represents the customer for which the data is to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endTime",
					"description": "Return events which occured at or before this time.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "eventName",
					"description": "Name of the event being queried.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "filters",
					"description": "Event parameters in the form [parameter1 name][operator][parameter1 value],[parameter2 name][operator][parameter2 value],...",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Number of activity records to be shown in each page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token to specify next page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startTime",
					"description": "Return events which occured at or after this time.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userKey",
					"description": "Represents the profile id or the user email for which the data should be filtered. When all is specified as the userKey, it returns usageReports for all users.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/admin/reports_v1/channels/stop": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Stop watching resources through this channel",
				"operationId": "admin.channels.stop",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/usage/dates/{date}": {
			"get": {
				"summary": "",
				"description": "Retrieves a report which is a collection of properties / statistics for a specific customer.",
				"operationId": "reports.customerUsageReports.get",
				"parameters": [{
					"in": "query",
					"name": "customerId",
					"description": "Represents the customer for which the data is to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "date",
					"description": "Represents the date in yyyy-mm-dd format for which the data is to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token to specify next page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "parameters",
					"description": "Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/usage/users/{userKey}/dates/{date}": {
			"get": {
				"summary": "",
				"description": "Retrieves a report which is a collection of properties / statistics for a set of users.",
				"operationId": "reports.userUsageReport.get",
				"parameters": [{
					"in": "query",
					"name": "customerId",
					"description": "Represents the customer for which the data is to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "date",
					"description": "Represents the date in yyyy-mm-dd format for which the data is to be fetched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "filters",
					"description": "Represents the set of filters including parameter operator value.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return. Maximum allowed is 1000",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token to specify next page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "parameters",
					"description": "Represents the application name, parameter name pairs to fetch in csv as app_name1:param_name1, app_name2:param_name2.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userKey",
					"description": "Represents the profile id or the user email for which the data should be filtered.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Activities": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Activity": {
			"properties": {
				"actor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"events": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ipAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ownerDomain": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Channel": {
			"properties": {
				"address": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"expiration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"params": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"payload": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceUri": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"token": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UsageReport": {
			"properties": {
				"date": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"entity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"parameters": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UsageReports": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"usageReports": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}