{
	"swagger": "2.0",
	"info": {
		"title": "AdSense Host API",
		"description": "Gives AdSense Hosts access to report generation, ad code generation, and publisher management capabilities.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v4.1"
	},
	"host": "www.googleapis.com",
	"basePath": "/adsensehost/v4.1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/accounts": {
			"get": {
				"summary": "",
				"description": "List hosted accounts associated with this AdSense account by ad client id.",
				"operationId": "adsensehost.accounts.list",
				"parameters": [{
					"in": "query",
					"name": "filterAdClientId",
					"description": "Ad clients to list accounts for.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}": {
			"get": {
				"summary": "",
				"description": "Get information about the selected associated AdSense account.",
				"operationId": "adsensehost.accounts.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account to get information about.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients": {
			"get": {
				"summary": "",
				"description": "List all hosted ad clients in the specified hosted account.",
				"operationId": "adsensehost.accounts.adclients.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account for which to list ad clients.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of ad clients to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}": {
			"get": {
				"summary": "",
				"description": "Get information about one of the ad clients in the specified publishers AdSense account.",
				"operationId": "adsensehost.accounts.adclients.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which contains the ad client.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/adunits": {
			"get": {
				"summary": "",
				"description": "List all ad units in the specified publishers AdSense account.",
				"operationId": "adsensehost.accounts.adunits.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which contains the ad client.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client for which to list ad units.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeInactive",
					"description": "Whether to include inactive ad units. Default: true.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of ad units to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update the supplied ad unit in the specified publisher AdSense account. This method supports patch semantics.",
				"operationId": "adsensehost.accounts.adunits.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which contains the ad client.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client which contains the ad unit.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "adUnitId",
					"description": "Ad unit to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Insert the supplied ad unit into the specified publisher AdSense account.",
				"operationId": "adsensehost.accounts.adunits.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which will contain the ad unit.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client into which to insert the ad unit.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update the supplied ad unit in the specified publisher AdSense account.",
				"operationId": "adsensehost.accounts.adunits.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which contains the ad client.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client which contains the ad unit.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}": {
			"delete": {
				"summary": "",
				"description": "Delete the specified ad unit from the specified publisher AdSense account.",
				"operationId": "adsensehost.accounts.adunits.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which contains the ad unit.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client for which to get ad unit.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adUnitId",
					"description": "Ad unit to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get the specified host ad unit in this AdSense account.",
				"operationId": "adsensehost.accounts.adunits.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which contains the ad unit.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client for which to get ad unit.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adUnitId",
					"description": "Ad unit to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode": {
			"get": {
				"summary": "",
				"description": "Get ad code for the specified ad unit, attaching the specified host custom channels.",
				"operationId": "adsensehost.accounts.adunits.getAdCode",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account which contains the ad client.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client with contains the ad unit.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "adUnitId",
					"description": "Ad unit to get the code for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "hostCustomChannelId",
					"description": "Host custom channel to attach to the ad code.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/reports": {
			"get": {
				"summary": "",
				"description": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify alt=csv as a query parameter.",
				"operationId": "adsensehost.accounts.reports.generate",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Hosted account upon which to report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dimension",
					"description": "Dimensions to base the report on.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endDate",
					"description": "End of the date range to report on in YYYY-MM-DD format, inclusive.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "filter",
					"description": "Filters to be run on the report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "locale",
					"description": "Optional locale to use for translating report output to a local language. Defaults to en_US if not specified.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of rows of report data to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "metric",
					"description": "Numeric columns to include in the report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sort",
					"description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with + to sort ascending or - to sort descending. If no prefix is specified, the column is sorted ascending.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startDate",
					"description": "Start of the date range to report on in YYYY-MM-DD format, inclusive.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startIndex",
					"description": "Index of the first row of report data to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/adclients": {
			"get": {
				"summary": "",
				"description": "List all host ad clients in this AdSense account.",
				"operationId": "adsensehost.adclients.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of ad clients to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/adclients/{adClientId}": {
			"get": {
				"summary": "",
				"description": "Get information about one of the ad clients in the Host AdSense account.",
				"operationId": "adsensehost.adclients.get",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/adclients/{adClientId}/customchannels": {
			"get": {
				"summary": "",
				"description": "List all host custom channels in this AdSense account.",
				"operationId": "adsensehost.customchannels.list",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client for which to list custom channels.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of custom channels to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update a custom channel in the host AdSense account. This method supports patch semantics.",
				"operationId": "adsensehost.customchannels.patch",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client in which the custom channel will be updated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customChannelId",
					"description": "Custom channel to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Add a new custom channel to the host AdSense account.",
				"operationId": "adsensehost.customchannels.insert",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client to which the new custom channel will be added.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update a custom channel in the host AdSense account.",
				"operationId": "adsensehost.customchannels.update",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client in which the custom channel will be updated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/adclients/{adClientId}/customchannels/{customChannelId}": {
			"delete": {
				"summary": "",
				"description": "Delete a specific custom channel from the host AdSense account.",
				"operationId": "adsensehost.customchannels.delete",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client from which to delete the custom channel.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "customChannelId",
					"description": "Custom channel to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get a specific custom channel from the host AdSense account.",
				"operationId": "adsensehost.customchannels.get",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client from which to get the custom channel.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "customChannelId",
					"description": "Custom channel to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/adclients/{adClientId}/urlchannels": {
			"get": {
				"summary": "",
				"description": "List all host URL channels in the host AdSense account.",
				"operationId": "adsensehost.urlchannels.list",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client for which to list URL channels.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of URL channels to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Add a new URL channel to the host AdSense account.",
				"operationId": "adsensehost.urlchannels.insert",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client to which the new URL channel will be added.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/adclients/{adClientId}/urlchannels/{urlChannelId}": {
			"delete": {
				"summary": "",
				"description": "Delete a URL channel from the host AdSense account.",
				"operationId": "adsensehost.urlchannels.delete",
				"parameters": [{
					"in": "path",
					"name": "adClientId",
					"description": "Ad client from which to delete the URL channel.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "urlChannelId",
					"description": "URL channel to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/associationsessions/start": {
			"get": {
				"summary": "",
				"description": "Create an association session for initiating an association with an AdSense user.",
				"operationId": "adsensehost.associationsessions.start",
				"parameters": [{
					"in": "query",
					"name": "productCode",
					"description": "Products to associate with the user.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "userLocale",
					"description": "The preferred locale of the user.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "websiteLocale",
					"description": "The locale of the users hosted website.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "websiteUrl",
					"description": "The URL of the users hosted website.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/associationsessions/verify": {
			"get": {
				"summary": "",
				"description": "Verify an association session after the association callback returns from AdSense signup.",
				"operationId": "adsensehost.associationsessions.verify",
				"parameters": [{
					"in": "query",
					"name": "token",
					"description": "The token returned to the association callback URL.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/reports": {
			"get": {
				"summary": "",
				"description": "Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify alt=csv as a query parameter.",
				"operationId": "adsensehost.reports.generate",
				"parameters": [{
					"in": "query",
					"name": "dimension",
					"description": "Dimensions to base the report on.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endDate",
					"description": "End of the date range to report on in YYYY-MM-DD format, inclusive.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "filter",
					"description": "Filters to be run on the report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "locale",
					"description": "Optional locale to use for translating report output to a local language. Defaults to en_US if not specified.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of rows of report data to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "metric",
					"description": "Numeric columns to include in the report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sort",
					"description": "The name of a dimension or metric to sort the resulting report on, optionally prefixed with + to sort ascending or - to sort descending. If no prefix is specified, the column is sorted ascending.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startDate",
					"description": "Start of the date range to report on in YYYY-MM-DD format, inclusive.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startIndex",
					"description": "Index of the first row of report data to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Account": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Accounts": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AdClient": {
			"properties": {
				"arcOptIn": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportsReporting": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AdClients": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AdCode": {
			"properties": {
				"adCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AdStyle": {
			"properties": {
				"colors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"corners": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"font": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AdUnit": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contentAdsSettings": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mobileContentAdsSettings": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AdUnits": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AssociationSession": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productCodes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"redirectUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"userLocale": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"websiteLocale": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"websiteUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomChannel": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomChannels": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Report": {
			"properties": {
				"averages": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"headers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalMatchedRows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totals": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlChannel": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"urlPattern": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlChannels": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}