{
	"swagger": "2.0",
	"info": {
		"title": "BigQuery API",
		"description": "A data platform for customers to create, manage, share and query data.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2"
	},
	"host": "www.googleapis.com",
	"basePath": "/bigquery/v2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/projects": {
			"get": {
				"summary": "",
				"description": "Lists all projects to which you have been granted any project role.",
				"operationId": "bigquery.projects.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token, returned by a previous call, to request the next page of results",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/datasets": {
			"get": {
				"summary": "",
				"description": "Lists all datasets in the specified project to which you have been granted the READER dataset role.",
				"operationId": "bigquery.datasets.list",
				"parameters": [{
					"in": "query",
					"name": "all",
					"description": "Whether to list all datasets, including hidden ones",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of results to return",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token, returned by a previous call, to request the next page of results",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the datasets to be listed",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new empty dataset.",
				"operationId": "bigquery.datasets.insert",
				"parameters": [{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the new dataset",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/datasets/{datasetId}": {
			"delete": {
				"summary": "",
				"description": "Deletes the dataset specified by the datasetId value. Before you can delete a dataset, you must delete all its tables, either manually or by specifying deleteContents. Immediately after deletion, you can create another dataset with the same name.",
				"operationId": "bigquery.datasets.delete",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of dataset being deleted",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "deleteContents",
					"description": "If True, delete all the tables in the dataset. If False and the dataset contains tables, the request will fail. Default is False",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the dataset being deleted",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the dataset specified by datasetID.",
				"operationId": "bigquery.datasets.get",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the requested dataset",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the requested dataset",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource. This method supports patch semantics.",
				"operationId": "bigquery.datasets.patch",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the dataset being updated",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the dataset being updated",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates information in an existing dataset. The update method replaces the entire dataset resource, whereas the patch method only replaces fields that are provided in the submitted dataset resource.",
				"operationId": "bigquery.datasets.update",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the dataset being updated",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the dataset being updated",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/datasets/{datasetId}/tables": {
			"get": {
				"summary": "",
				"description": "Lists all tables in the specified dataset. Requires the READER dataset role.",
				"operationId": "bigquery.tables.list",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the tables to list",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token, returned by a previous call, to request the next page of results",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the tables to list",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new, empty table in the dataset.",
				"operationId": "bigquery.tables.insert",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the new table",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the new table",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/datasets/{datasetId}/tables/{tableId}": {
			"delete": {
				"summary": "",
				"description": "Deletes the table specified by tableId from the dataset. If the table contains data, all the data will be deleted.",
				"operationId": "bigquery.tables.delete",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the table to delete",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the table to delete",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table ID of the table to delete",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets the specified table resource by table ID. This method does not return the data in the table, it only returns the table resource, which describes the structure of this table.",
				"operationId": "bigquery.tables.get",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the requested table",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the requested table",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table ID of the requested table",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource. This method supports patch semantics.",
				"operationId": "bigquery.tables.patch",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the table to update",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the table to update",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table ID of the table to update",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates information in an existing table. The update method replaces the entire table resource, whereas the patch method only replaces fields that are provided in the submitted table resource.",
				"operationId": "bigquery.tables.update",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the table to update",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the table to update",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table ID of the table to update",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/data": {
			"get": {
				"summary": "",
				"description": "Retrieves table data from a specified set of rows. Requires the READER dataset role.",
				"operationId": "bigquery.tabledata.list",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the table to read",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token, returned by a previous call, identifying the result set",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the table to read",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startIndex",
					"description": "Zero-based index of the starting row to read",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table ID of the table to read",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/datasets/{datasetId}/tables/{tableId}/insertAll": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Streams data into BigQuery one record at a time without needing to run a load job. Requires the WRITER dataset role.",
				"operationId": "bigquery.tabledata.insertAll",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset ID of the destination table.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the destination table.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table ID of the destination table.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/jobs": {
			"get": {
				"summary": "",
				"description": "Lists all jobs that you started in the specified project. The job list returns in reverse chronological order of when the jobs were created, starting with the most recent job created. Requires the Can View project role, or the Is Owner project role if you set the allUsers property.",
				"operationId": "bigquery.jobs.list",
				"parameters": [{
					"in": "query",
					"name": "allUsers",
					"description": "Whether to display jobs owned by all users in the project. Default false",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token, returned by a previous call, to request the next page of results",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the jobs to list",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "projection",
					"description": "Restrict information returned to a set of selected fields",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "stateFilter",
					"description": "Filter for job state",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Starts a new asynchronous job. Requires the Can View project role.",
				"operationId": "bigquery.jobs.insert",
				"parameters": [{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the project that will be billed for the job",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/jobs/{jobId}": {
			"get": {
				"summary": "",
				"description": "Returns information about a specific job. Job information is available for a six month period after creation. Requires that youre the person who ran the job, or have the Is Owner project role.",
				"operationId": "bigquery.jobs.get",
				"parameters": [{
					"in": "path",
					"name": "jobId",
					"description": "Job ID of the requested job",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the requested job",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/queries": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Runs a BigQuery SQL query synchronously and returns query results if the query completes within a specified timeout.",
				"operationId": "bigquery.jobs.query",
				"parameters": [{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the project billed for the query",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{projectId}/queries/{jobId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the results of a query job.",
				"operationId": "bigquery.jobs.getQueryResults",
				"parameters": [{
					"in": "path",
					"name": "jobId",
					"description": "Job ID of the query job",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to read",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token, returned by a previous call, to request the next page of results",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"description": "Project ID of the query job",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startIndex",
					"description": "Zero-based index of the starting row",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timeoutMs",
					"description": "How long to wait for the query to complete, in milliseconds, before returning. Default is to return immediately. If the timeout passes before the job completes, the request will fail with a TIMEOUT error",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"CsvOptions": {
			"properties": {
				"allowJaggedRows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"allowQuotedNewlines": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"encoding": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fieldDelimiter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quote": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skipLeadingRows": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Dataset": {
			"properties": {
				"access": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"defaultTableExpirationMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"friendlyName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModifiedTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"location": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatasetList": {
			"properties": {
				"datasets": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatasetReference": {
			"properties": {
				"datasetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"projectId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ErrorProto": {
			"properties": {
				"debugInfo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"location": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"message": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reason": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ExternalDataConfiguration": {
			"properties": {
				"compression": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ignoreUnknownValues": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxBadRecords": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceFormat": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceUris": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GetQueryResultsResponse": {
			"properties": {
				"cacheHit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"jobComplete": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalBytesProcessed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalRows": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Job": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user_email": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobConfiguration": {
			"properties": {
				"dryRun": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobConfigurationExtract": {
			"properties": {
				"compression": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destinationFormat": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destinationUri": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destinationUris": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fieldDelimiter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"printHeader": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobConfigurationLink": {
			"properties": {
				"createDisposition": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceUri": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"writeDisposition": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobConfigurationLoad": {
			"properties": {
				"allowJaggedRows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"allowQuotedNewlines": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"createDisposition": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"encoding": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fieldDelimiter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ignoreUnknownValues": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxBadRecords": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"projectionFields": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quote": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"schemaInline": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"schemaInlineFormat": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skipLeadingRows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceFormat": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceUris": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"writeDisposition": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobConfigurationQuery": {
			"properties": {
				"allowLargeResults": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"createDisposition": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"flattenResults": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"preserveNulls": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"priority": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"query": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tableDefinitions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"useQueryCache": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"writeDisposition": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobConfigurationTableCopy": {
			"properties": {
				"createDisposition": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceTables": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"writeDisposition": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"jobs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobReference": {
			"properties": {
				"jobId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"projectId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobStatistics": {
			"properties": {
				"creationTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalBytesProcessed": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobStatistics2": {
			"properties": {
				"cacheHit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalBytesProcessed": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobStatistics3": {
			"properties": {
				"inputFileBytes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"inputFiles": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"outputBytes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"outputRows": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobStatistics4": {
			"properties": {
				"destinationUriFileCounts": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobStatus": {
			"properties": {
				"errors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProjectList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"projects": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProjectReference": {
			"properties": {
				"projectId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QueryRequest": {
			"properties": {
				"dryRun": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxResults": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"preserveNulls": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"query": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeoutMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"useQueryCache": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QueryResponse": {
			"properties": {
				"cacheHit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"jobComplete": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalBytesProcessed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalRows": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Table": {
			"properties": {
				"creationTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"expirationTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"friendlyName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModifiedTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numBytes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numRows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableCell": {
			"properties": []
		},
		"TableDataInsertAllRequest": {
			"properties": {
				"ignoreUnknownValues": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skipInvalidRows": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableDataInsertAllResponse": {
			"properties": {
				"insertErrors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableDataList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalRows": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableFieldSchema": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fields": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tables": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableReference": {
			"properties": {
				"datasetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"projectId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tableId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableRow": {
			"properties": {
				"f": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableSchema": {
			"properties": {
				"fields": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ViewDefinition": {
			"properties": {
				"query": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}