{
	"swagger": "2.0",
	"info": {
		"title": "Cloud Monitoring API",
		"description": "API for accessing Google Cloud and API monitoring data.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2beta2"
	},
	"host": "www.googleapis.com",
	"basePath": "/cloudmonitoring/v2beta2/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{project}/metricDescriptors": {
			"get": {
				"summary": "",
				"description": "List metric descriptors that match the query. If the query is not set, then all of the metric descriptors will be returned. Large responses will be paginated, use the nextPageToken returned in the response to request subsequent pages of results by setting the pageToken query parameter to the value of the nextPageToken.",
				"operationId": "cloudmonitoring.metricDescriptors.list",
				"parameters": [{
					"in": "query",
					"name": "count",
					"description": "Maximum number of metric descriptors per page. Used for pagination. If not specified, count = 100.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The pagination token, which is used to page through large result sets. Set this value to the value of the nextPageToken to retrieve the next page of results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project id. The value can be the numeric project ID or string-based project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "The query used to search against existing metrics. Separate keywords with a space; the service joins all keywords with AND, meaning that all keywords must match for a metric to be returned. If this field is omitted, all metrics are returned. If an empty string is passed with this field, no metrics are returned.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a new metric.",
				"operationId": "cloudmonitoring.metricDescriptors.create",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project id. The value can be the numeric project ID or string-based project name.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/metricDescriptors/{metric}": {
			"delete": {
				"summary": "",
				"description": "Delete an existing metric.",
				"operationId": "cloudmonitoring.metricDescriptors.delete",
				"parameters": [{
					"in": "path",
					"name": "metric",
					"description": "Name of the metric.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID to which the metric belongs.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/timeseries/{metric}": {
			"get": {
				"summary": "",
				"description": "List the data points of the time series that match the metric and labels values and that have data points in the interval. Large responses are paginated; use the nextPageToken returned in the response to request subsequent pages of results by setting the pageToken query parameter to the value of the nextPageToken.",
				"operationId": "cloudmonitoring.timeseries.list",
				"parameters": [{
					"in": "query",
					"name": "aggregator",
					"description": "The aggregation function that will reduce the data points in each window to a single point. This parameter is only valid for non-cumulative metrics with a value type of INT64 or DOUBLE.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "Maximum number of data points per page, which is used for pagination of results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "labels",
					"description": "A collection of labels for the matching time series, which are represented as:  n- key==value: key equals the value n- key=~value: key regex matches the value n- key!=value: key does not equal the value n- key!~value: key regex does not match the value  For example, to list all of the time series descriptors for the region us-central1, you could specify:nlabel=cloud.googleapis.com%2Flocation=~us-central1.*",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "metric",
					"description": "Metric names are protocol-free URLs as listed in the Supported Metrics page. For example, compute.googleapis.com/instance/disk/read_ops_count.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "oldest",
					"description": "Start of the time interval (exclusive), which is expressed as an RFC 3339 timestamp. If neither oldest nor timespan is specified, the default time interval will be (youngest - 4 hours, youngest]",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The pagination token, which is used to page through large result sets. Set this value to the value of the nextPageToken to retrieve the next page of results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID to which this time series belongs. The value can be the numeric project ID or string-based project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timespan",
					"description": "Length of the time interval to query, which is an alternative way to declare the interval: (youngest - timespan, youngest]. The timespan and oldest parameters should not be used together. Units:  n- s: second n- m: minute n- h: hour n- d: day n- w: week  Examples: 2s, 3m, 4w. Only one unit is allowed, for example: 2w3d is not allowed; you should use 17d instead.nnIf neither oldest nor timespan is specified, the default time interval will be (youngest - 4 hours, youngest].",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "window",
					"description": "The sampling window. At most one data point will be returned for each window in the requested time interval. This parameter is only valid for non-cumulative metric types. Units:  n- m: minute n- h: hour n- d: day n- w: week  Examples: 3m, 4w. Only one unit is allowed, for example: 2w3d is not allowed; you should use 17d instead.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "youngest",
					"description": "End of the time interval (inclusive), which is expressed as an RFC 3339 timestamp.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/timeseries:write": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Put data points to one or more time series for one or more metrics. If a time series does not exist, a new time series will be created. It is not allowed to write a time series point that is older than the existing youngest point of that time series. Points that are older than the existing youngest point of that time series will be discarded silently. Therefore, users should make sure that points of a time series are written sequentially in the order of their end time.",
				"operationId": "cloudmonitoring.timeseries.write",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project ID. The value can be the numeric project ID or string-based project name.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/timeseriesDescriptors/{metric}": {
			"get": {
				"summary": "",
				"description": "List the descriptors of the time series that match the metric and labels values and that have data points in the interval. Large responses are paginated; use the nextPageToken returned in the response to request subsequent pages of results by setting the pageToken query parameter to the value of the nextPageToken.",
				"operationId": "cloudmonitoring.timeseriesDescriptors.list",
				"parameters": [{
					"in": "query",
					"name": "aggregator",
					"description": "The aggregation function that will reduce the data points in each window to a single point. This parameter is only valid for non-cumulative metrics with a value type of INT64 or DOUBLE.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "Maximum number of time series descriptors per page. Used for pagination. If not specified, count = 100.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "labels",
					"description": "A collection of labels for the matching time series, which are represented as:  n- key==value: key equals the value n- key=~value: key regex matches the value n- key!=value: key does not equal the value n- key!~value: key regex does not match the value  For example, to list all of the time series descriptors for the region us-central1, you could specify:nlabel=cloud.googleapis.com%2Flocation=~us-central1.*",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "metric",
					"description": "Metric names are protocol-free URLs as listed in the Supported Metrics page. For example, compute.googleapis.com/instance/disk/read_ops_count.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "oldest",
					"description": "Start of the time interval (exclusive), which is expressed as an RFC 3339 timestamp. If neither oldest nor timespan is specified, the default time interval will be (youngest - 4 hours, youngest]",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The pagination token, which is used to page through large result sets. Set this value to the value of the nextPageToken to retrieve the next page of results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID to which this time series belongs. The value can be the numeric project ID or string-based project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timespan",
					"description": "Length of the time interval to query, which is an alternative way to declare the interval: (youngest - timespan, youngest]. The timespan and oldest parameters should not be used together. Units:  n- s: second n- m: minute n- h: hour n- d: day n- w: week  Examples: 2s, 3m, 4w. Only one unit is allowed, for example: 2w3d is not allowed; you should use 17d instead.nnIf neither oldest nor timespan is specified, the default time interval will be (youngest - 4 hours, youngest].",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "window",
					"description": "The sampling window. At most one data point will be returned for each window in the requested time interval. This parameter is only valid for non-cumulative metric types. Units:  n- m: minute n- h: hour n- d: day n- w: week  Examples: 3m, 4w. Only one unit is allowed, for example: 2w3d is not allowed; you should use 17d instead.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "youngest",
					"description": "End of the time interval (inclusive), which is expressed as an RFC 3339 timestamp.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"DeleteMetricDescriptorResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListMetricDescriptorsRequest": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListMetricDescriptorsResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"metrics": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListTimeseriesDescriptorsRequest": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListTimeseriesDescriptorsResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oldest": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeseries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"youngest": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListTimeseriesRequest": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListTimeseriesResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oldest": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeseries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"youngest": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"MetricDescriptor": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"project": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"MetricDescriptorLabelDescriptor": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"MetricDescriptorTypeDescriptor": {
			"properties": {
				"metricType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"valueType": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Point": {
			"properties": {
				"boolValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"doubleValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"end": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"int64Value": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"start": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"stringValue": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PointDistribution": {
			"properties": {
				"buckets": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PointDistributionBucket": {
			"properties": {
				"count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lowerBound": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"upperBound": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PointDistributionOverflowBucket": {
			"properties": {
				"count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lowerBound": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PointDistributionUnderflowBucket": {
			"properties": {
				"count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"upperBound": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Timeseries": {
			"properties": {
				"points": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TimeseriesDescriptor": {
			"properties": {
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"metric": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"project": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TimeseriesDescriptorLabel": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TimeseriesPoint": {
			"properties": []
		},
		"WriteTimeseriesRequest": {
			"properties": {
				"commonLabels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeseries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"WriteTimeseriesResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}