{
	"swagger": "2.0",
	"info": {
		"title": "Cloud SQL Administration API",
		"description": "API for Cloud SQL database instance management.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta1"
	},
	"host": "www.googleapis.com",
	"basePath": "/sql/v1beta1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/projects/{project}/instances": {
			"get": {
				"summary": "",
				"description": "Lists instances under a given project in the alphabetical order of the instance name.",
				"operationId": "sql.instances.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of results to return per response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A previously-returned page token representing part of the larger set of results to view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project for which to list Cloud SQL instances.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new Cloud SQL instance.",
				"operationId": "sql.instances.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project to which the newly created Cloud SQL instances should belong.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}": {
			"delete": {
				"summary": "",
				"description": "Deletes a Cloud SQL instance.",
				"operationId": "sql.instances.delete",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance to be deleted.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a resource containing information about a Cloud SQL instance.",
				"operationId": "sql.instances.get",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.. This method supports patch semantics.",
				"operationId": "sql.instances.patch",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.",
				"operationId": "sql.instances.update",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}/backupRuns": {
			"get": {
				"summary": "",
				"description": "Lists all backup runs associated with a given instance and configuration in the reverse chronological order of the enqueued time.",
				"operationId": "sql.backupRuns.list",
				"parameters": [{
					"in": "query",
					"name": "backupConfiguration",
					"description": "Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of backup runs per response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A previously-returned page token representing part of the larger set of results to view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}/backupRuns/{backupConfiguration}": {
			"get": {
				"summary": "",
				"description": "Retrieves a resource containing information about a backup run.",
				"operationId": "sql.backupRuns.get",
				"parameters": [{
					"in": "path",
					"name": "backupConfiguration",
					"description": "Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dueTime",
					"description": "The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}/export": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.",
				"operationId": "sql.instances.export",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance to be exported.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}/import": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Imports data into a Cloud SQL instance from a MySQL dump file in Google Cloud Storage.",
				"operationId": "sql.instances.import",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}/operations": {
			"get": {
				"summary": "",
				"description": "Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.",
				"operationId": "sql.operations.list",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of operations per response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A previously-returned page token representing part of the larger set of results to view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}/operations/{operation}": {
			"get": {
				"summary": "",
				"description": "Retrieves an instance operation that has been performed on an instance.",
				"operationId": "sql.operations.get",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "operation",
					"description": "Instance operation ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}/restart": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Restarts a Cloud SQL instance.",
				"operationId": "sql.instances.restart",
				"parameters": [{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance to be restarted.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/instances/{instance}/restoreBackup": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Restores a backup of a Cloud SQL instance.",
				"operationId": "sql.instances.restoreBackup",
				"parameters": [{
					"in": "query",
					"name": "backupConfiguration",
					"description": "The identifier of the backup configuration. This gets generated automatically when a backup configuration is created.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dueTime",
					"description": "The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "instance",
					"description": "Cloud SQL instance ID. This does not include the project ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of the project that contains the instance.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tiers": {
			"get": {
				"summary": "",
				"description": "Lists all available service tiers for Google Cloud SQL, for example D1, D2. For related information, see Pricing.",
				"operationId": "sql.tiers.list",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"BackupConfiguration": {
			"properties": {
				"enabled": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"BackupRun": {
			"properties": {
				"backupConfiguration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dueTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"enqueuedTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"BackupRunsListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatabaseInstance": {
			"properties": {
				"currentDiskSize": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"databaseVersion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxDiskSize": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"project": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ExportContext": {
			"properties": {
				"database": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"table": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"uri": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ImportContext": {
			"properties": {
				"database": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"uri": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceOperation": {
			"properties": {
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"enqueuedTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"userEmailAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstancesDeleteResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operation": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstancesExportRequest": {
			"properties": []
		},
		"InstancesExportResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operation": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstancesImportRequest": {
			"properties": []
		},
		"InstancesImportResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operation": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstancesInsertResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operation": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstancesListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstancesRestartResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operation": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstancesRestoreBackupResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operation": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstancesUpdateResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operation": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"OperationError": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"OperationsListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Settings": {
			"properties": {
				"activationPolicy": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"authorizedGaeApplications": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"backupConfiguration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pricingPlan": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"replicationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tier": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Tier": {
			"properties": {
				"DiskQuota": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"RAM": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tier": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TiersListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}