{
	"swagger": "2.0",
	"info": {
		"title": "Compute Engine API",
		"description": "API for the Google Compute Engine service.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/compute/v1/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{project}": {
			"get": {
				"summary": "",
				"description": "Returns the specified project resource.",
				"operationId": "compute.projects.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/addresses": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of addresses grouped by scope.",
				"operationId": "compute.addresses.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/disks": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of disks grouped by scope.",
				"operationId": "compute.disks.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/diskTypes": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of disk type resources grouped by scope.",
				"operationId": "compute.diskTypes.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/forwardingRules": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of forwarding rules grouped by scope.",
				"operationId": "compute.forwardingRules.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/instances": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "compute.instances.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/machineTypes": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of machine type resources grouped by scope.",
				"operationId": "compute.machineTypes.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/operations": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of all operations grouped by scope.",
				"operationId": "compute.globalOperations.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/targetInstances": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of target instances grouped by scope.",
				"operationId": "compute.targetInstances.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/targetPools": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of target pools grouped by scope.",
				"operationId": "compute.targetPools.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/targetVpnGateways": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of target VPN gateways grouped by scope.",
				"operationId": "compute.targetVpnGateways.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/aggregated/vpnTunnels": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of VPN tunnels grouped by scope.",
				"operationId": "compute.vpnTunnels.aggregatedList",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/addresses": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of global address resources.",
				"operationId": "compute.globalAddresses.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates an address resource in the specified project using the data included in the request.",
				"operationId": "compute.globalAddresses.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/addresses/{address}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified address resource.",
				"operationId": "compute.globalAddresses.delete",
				"parameters": [{
					"in": "path",
					"name": "address",
					"description": "Name of the address resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified address resource.",
				"operationId": "compute.globalAddresses.get",
				"parameters": [{
					"in": "path",
					"name": "address",
					"description": "Name of the address resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/backendServices": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of BackendService resources available to the specified project.",
				"operationId": "compute.backendServices.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a BackendService resource in the specified project using the data included in the request.",
				"operationId": "compute.backendServices.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/backendServices/{backendService}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified BackendService resource.",
				"operationId": "compute.backendServices.delete",
				"parameters": [{
					"in": "path",
					"name": "backendService",
					"description": "Name of the BackendService resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified BackendService resource.",
				"operationId": "compute.backendServices.get",
				"parameters": [{
					"in": "path",
					"name": "backendService",
					"description": "Name of the BackendService resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update the entire content of the BackendService resource. This method supports patch semantics.",
				"operationId": "compute.backendServices.patch",
				"parameters": [{
					"in": "path",
					"name": "backendService",
					"description": "Name of the BackendService resource to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update the entire content of the BackendService resource.",
				"operationId": "compute.backendServices.update",
				"parameters": [{
					"in": "path",
					"name": "backendService",
					"description": "Name of the BackendService resource to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/backendServices/{backendService}/getHealth": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Gets the most recent health check results for this BackendService.",
				"operationId": "compute.backendServices.getHealth",
				"parameters": [{
					"in": "path",
					"name": "backendService",
					"description": "Name of the BackendService resource to which the queried instance belongs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/firewalls": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of firewall resources available to the specified project.",
				"operationId": "compute.firewalls.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a firewall resource in the specified project using the data included in the request.",
				"operationId": "compute.firewalls.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/firewalls/{firewall}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified firewall resource.",
				"operationId": "compute.firewalls.delete",
				"parameters": [{
					"in": "path",
					"name": "firewall",
					"description": "Name of the firewall resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified firewall resource.",
				"operationId": "compute.firewalls.get",
				"parameters": [{
					"in": "path",
					"name": "firewall",
					"description": "Name of the firewall resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates the specified firewall resource with the data included in the request. This method supports patch semantics.",
				"operationId": "compute.firewalls.patch",
				"parameters": [{
					"in": "path",
					"name": "firewall",
					"description": "Name of the firewall resource to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates the specified firewall resource with the data included in the request.",
				"operationId": "compute.firewalls.update",
				"parameters": [{
					"in": "path",
					"name": "firewall",
					"description": "Name of the firewall resource to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/forwardingRules": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of ForwardingRule resources available to the specified project.",
				"operationId": "compute.globalForwardingRules.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a ForwardingRule resource in the specified project and region using the data included in the request.",
				"operationId": "compute.globalForwardingRules.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/forwardingRules/{forwardingRule}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified ForwardingRule resource.",
				"operationId": "compute.globalForwardingRules.delete",
				"parameters": [{
					"in": "path",
					"name": "forwardingRule",
					"description": "Name of the ForwardingRule resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified ForwardingRule resource.",
				"operationId": "compute.globalForwardingRules.get",
				"parameters": [{
					"in": "path",
					"name": "forwardingRule",
					"description": "Name of the ForwardingRule resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/forwardingRules/{forwardingRule}/setTarget": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Changes target url for forwarding rule.",
				"operationId": "compute.globalForwardingRules.setTarget",
				"parameters": [{
					"in": "path",
					"name": "forwardingRule",
					"description": "Name of the ForwardingRule resource in which target is to be set.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/httpHealthChecks": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of HttpHealthCheck resources available to the specified project.",
				"operationId": "compute.httpHealthChecks.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a HttpHealthCheck resource in the specified project using the data included in the request.",
				"operationId": "compute.httpHealthChecks.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/httpHealthChecks/{httpHealthCheck}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified HttpHealthCheck resource.",
				"operationId": "compute.httpHealthChecks.delete",
				"parameters": [{
					"in": "path",
					"name": "httpHealthCheck",
					"description": "Name of the HttpHealthCheck resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified HttpHealthCheck resource.",
				"operationId": "compute.httpHealthChecks.get",
				"parameters": [{
					"in": "path",
					"name": "httpHealthCheck",
					"description": "Name of the HttpHealthCheck resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates a HttpHealthCheck resource in the specified project using the data included in the request. This method supports patch semantics.",
				"operationId": "compute.httpHealthChecks.patch",
				"parameters": [{
					"in": "path",
					"name": "httpHealthCheck",
					"description": "Name of the HttpHealthCheck resource to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a HttpHealthCheck resource in the specified project using the data included in the request.",
				"operationId": "compute.httpHealthChecks.update",
				"parameters": [{
					"in": "path",
					"name": "httpHealthCheck",
					"description": "Name of the HttpHealthCheck resource to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/images": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of image resources available to the specified project.",
				"operationId": "compute.images.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates an image resource in the specified project using the data included in the request.",
				"operationId": "compute.images.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/images/{image}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified image resource.",
				"operationId": "compute.images.delete",
				"parameters": [{
					"in": "path",
					"name": "image",
					"description": "Name of the image resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified image resource.",
				"operationId": "compute.images.get",
				"parameters": [{
					"in": "path",
					"name": "image",
					"description": "Name of the image resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/images/{image}/deprecate": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Sets the deprecation status of an image.nnIf an empty request body is given, clears the deprecation status instead.",
				"operationId": "compute.images.deprecate",
				"parameters": [{
					"in": "path",
					"name": "image",
					"description": "Image name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/instanceTemplates": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of instance templates that are contained within the specified project and zone.",
				"operationId": "compute.instanceTemplates.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates an instance template in the specified project using the data that is included in the request.",
				"operationId": "compute.instanceTemplates.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/instanceTemplates/{instanceTemplate}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified instance template.",
				"operationId": "compute.instanceTemplates.delete",
				"parameters": [{
					"in": "path",
					"name": "instanceTemplate",
					"description": "The name of the instance template to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified instance template resource.",
				"operationId": "compute.instanceTemplates.get",
				"parameters": [{
					"in": "path",
					"name": "instanceTemplate",
					"description": "The name of the instance template.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/licenses/{license}": {
			"get": {
				"summary": "",
				"description": "Returns the specified license resource.",
				"operationId": "compute.licenses.get",
				"parameters": [{
					"in": "path",
					"name": "license",
					"description": "Name of the license resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/networks": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of network resources available to the specified project.",
				"operationId": "compute.networks.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a network resource in the specified project using the data included in the request.",
				"operationId": "compute.networks.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/networks/{network}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified network resource.",
				"operationId": "compute.networks.delete",
				"parameters": [{
					"in": "path",
					"name": "network",
					"description": "Name of the network resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified network resource.",
				"operationId": "compute.networks.get",
				"parameters": [{
					"in": "path",
					"name": "network",
					"description": "Name of the network resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/operations": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of operation resources contained within the specified project.",
				"operationId": "compute.globalOperations.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/operations/{operation}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified operation resource.",
				"operationId": "compute.globalOperations.delete",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "Name of the operation resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves the specified operation resource.",
				"operationId": "compute.globalOperations.get",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "Name of the operation resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/routes": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of route resources available to the specified project.",
				"operationId": "compute.routes.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a route resource in the specified project using the data included in the request.",
				"operationId": "compute.routes.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/routes/{route}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified route resource.",
				"operationId": "compute.routes.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "route",
					"description": "Name of the route resource to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified route resource.",
				"operationId": "compute.routes.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "route",
					"description": "Name of the route resource to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/snapshots": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of persistent disk snapshot resources contained within the specified project.",
				"operationId": "compute.snapshots.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/snapshots/{snapshot}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified persistent disk snapshot resource.",
				"operationId": "compute.snapshots.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "snapshot",
					"description": "Name of the persistent disk snapshot resource to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified persistent disk snapshot resource.",
				"operationId": "compute.snapshots.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "snapshot",
					"description": "Name of the persistent disk snapshot resource to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/targetHttpProxies": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of TargetHttpProxy resources available to the specified project.",
				"operationId": "compute.targetHttpProxies.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a TargetHttpProxy resource in the specified project using the data included in the request.",
				"operationId": "compute.targetHttpProxies.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/targetHttpProxies/{targetHttpProxy}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified TargetHttpProxy resource.",
				"operationId": "compute.targetHttpProxies.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetHttpProxy",
					"description": "Name of the TargetHttpProxy resource to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified TargetHttpProxy resource.",
				"operationId": "compute.targetHttpProxies.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetHttpProxy",
					"description": "Name of the TargetHttpProxy resource to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/urlMaps": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of UrlMap resources available to the specified project.",
				"operationId": "compute.urlMaps.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a UrlMap resource in the specified project using the data included in the request.",
				"operationId": "compute.urlMaps.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/urlMaps/{urlMap}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified UrlMap resource.",
				"operationId": "compute.urlMaps.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "urlMap",
					"description": "Name of the UrlMap resource to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified UrlMap resource.",
				"operationId": "compute.urlMaps.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "urlMap",
					"description": "Name of the UrlMap resource to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update the entire content of the UrlMap resource. This method supports patch semantics.",
				"operationId": "compute.urlMaps.patch",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "urlMap",
					"description": "Name of the UrlMap resource to update.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update the entire content of the UrlMap resource.",
				"operationId": "compute.urlMaps.update",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "urlMap",
					"description": "Name of the UrlMap resource to update.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/urlMaps/{urlMap}/validate": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Run static validation for the UrlMap. In particular, the tests of the provided UrlMap will be run. Calling this method does NOT create the UrlMap.",
				"operationId": "compute.urlMaps.validate",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "urlMap",
					"description": "Name of the UrlMap resource to be validated as.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/moveDisk": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Moves a persistent disk from one zone to another.",
				"operationId": "compute.projects.moveDisk",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/moveInstance": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Moves an instance and its attached persistent disks from one zone to another.",
				"operationId": "compute.projects.moveInstance",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of region resources available to the specified project.",
				"operationId": "compute.regions.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}": {
			"get": {
				"summary": "",
				"description": "Returns the specified region resource.",
				"operationId": "compute.regions.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region resource to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/addresses": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of address resources contained within the specified region.",
				"operationId": "compute.addresses.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates an address resource in the specified project using the data included in the request.",
				"operationId": "compute.addresses.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/addresses/{address}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified address resource.",
				"operationId": "compute.addresses.delete",
				"parameters": [{
					"in": "path",
					"name": "address",
					"description": "Name of the address resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified address resource.",
				"operationId": "compute.addresses.get",
				"parameters": [{
					"in": "path",
					"name": "address",
					"description": "Name of the address resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/forwardingRules": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of ForwardingRule resources available to the specified project and region.",
				"operationId": "compute.forwardingRules.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a ForwardingRule resource in the specified project and region using the data included in the request.",
				"operationId": "compute.forwardingRules.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/forwardingRules/{forwardingRule}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified ForwardingRule resource.",
				"operationId": "compute.forwardingRules.delete",
				"parameters": [{
					"in": "path",
					"name": "forwardingRule",
					"description": "Name of the ForwardingRule resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified ForwardingRule resource.",
				"operationId": "compute.forwardingRules.get",
				"parameters": [{
					"in": "path",
					"name": "forwardingRule",
					"description": "Name of the ForwardingRule resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/forwardingRules/{forwardingRule}/setTarget": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Changes target url for forwarding rule.",
				"operationId": "compute.forwardingRules.setTarget",
				"parameters": [{
					"in": "path",
					"name": "forwardingRule",
					"description": "Name of the ForwardingRule resource in which target is to be set.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/operations": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of operation resources contained within the specified region.",
				"operationId": "compute.regionOperations.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/operations/{operation}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified region-specific operation resource.",
				"operationId": "compute.regionOperations.delete",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "Name of the operation resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves the specified region-specific operation resource.",
				"operationId": "compute.regionOperations.get",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "Name of the operation resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the zone scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetPools": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of TargetPool resources available to the specified project and region.",
				"operationId": "compute.targetPools.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a TargetPool resource in the specified project and region using the data included in the request.",
				"operationId": "compute.targetPools.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetPools/{targetPool}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified TargetPool resource.",
				"operationId": "compute.targetPools.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetPool",
					"description": "Name of the TargetPool resource to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified TargetPool resource.",
				"operationId": "compute.targetPools.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetPool",
					"description": "Name of the TargetPool resource to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetPools/{targetPool}/addHealthCheck": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Adds health check URL to targetPool.",
				"operationId": "compute.targetPools.addHealthCheck",
				"parameters": [{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetPool",
					"description": "Name of the TargetPool resource to which health_check_url is to be added.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetPools/{targetPool}/addInstance": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Adds instance url to targetPool.",
				"operationId": "compute.targetPools.addInstance",
				"parameters": [{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetPool",
					"description": "Name of the TargetPool resource to which instance_url is to be added.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetPools/{targetPool}/getHealth": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Gets the most recent health check results for each IP for the given instance that is referenced by given TargetPool.",
				"operationId": "compute.targetPools.getHealth",
				"parameters": [{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetPool",
					"description": "Name of the TargetPool resource to which the queried instance belongs.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetPools/{targetPool}/removeHealthCheck": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Removes health check URL from targetPool.",
				"operationId": "compute.targetPools.removeHealthCheck",
				"parameters": [{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetPool",
					"description": "Name of the TargetPool resource to which health_check_url is to be removed.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetPools/{targetPool}/removeInstance": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Removes instance URL from targetPool.",
				"operationId": "compute.targetPools.removeInstance",
				"parameters": [{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetPool",
					"description": "Name of the TargetPool resource to which instance_url is to be removed.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetPools/{targetPool}/setBackup": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Changes backup pool configurations.",
				"operationId": "compute.targetPools.setBackup",
				"parameters": [{
					"in": "query",
					"name": "failoverRatio",
					"description": "New failoverRatio value for the containing target pool.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "Name of the region scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetPool",
					"description": "Name of the TargetPool resource for which the backup is to be set.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetVpnGateways": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of TargetVpnGateway resources available to the specified project and region.",
				"operationId": "compute.targetVpnGateways.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a TargetVpnGateway resource in the specified project and region using the data included in the request.",
				"operationId": "compute.targetVpnGateways.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/targetVpnGateways/{targetVpnGateway}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified TargetVpnGateway resource.",
				"operationId": "compute.targetVpnGateways.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetVpnGateway",
					"description": "Name of the TargetVpnGateway resource to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified TargetVpnGateway resource.",
				"operationId": "compute.targetVpnGateways.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "targetVpnGateway",
					"description": "Name of the TargetVpnGateway resource to return.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/vpnTunnels": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of VpnTunnel resources contained in the specified project and region.",
				"operationId": "compute.vpnTunnels.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Tag returned by a previous list request when that list was truncated to maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a VpnTunnel resource in the specified project and region using the data included in the request.",
				"operationId": "compute.vpnTunnels.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The name of the region for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/regions/{region}/vpnTunnels/{vpnTunnel}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified VpnTunnel resource.",
				"operationId": "compute.vpnTunnels.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID for this request.",
					"type": "string",
					"format": "string"
				},
[...]
