{
	"swagger": "2.0",
	"info": {
		"title": "Content API for Shopping",
		"description": "Manage product items, inventory, and Merchant Center accounts for Google Shopping.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2"
	},
	"host": "www.googleapis.com",
	"basePath": "/content/v2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/accounts/authinfo": {
			"get": {
				"summary": "",
				"description": "Returns information about the authenticated user.",
				"operationId": "content.accounts.authinfo",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.",
				"operationId": "content.accounts.custombatch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accountshipping/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Retrieves and updates the shipping settings of multiple accounts in a single request.",
				"operationId": "content.accountshipping.custombatch",
				"parameters": [{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accountstatuses/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "",
				"operationId": "content.accountstatuses.custombatch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounttax/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Retrieves and updates tax settings of multiple accounts in a single request.",
				"operationId": "content.accounttax.custombatch",
				"parameters": [{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/datafeeds/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "",
				"operationId": "content.datafeeds.custombatch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/datafeedstatuses/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "",
				"operationId": "content.datafeedstatuses.custombatch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/inventory/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Updates price and availability for multiple products or stores in a single request.",
				"operationId": "content.inventory.custombatch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/products/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Retrieves, inserts, and deletes multiple products in a single request.",
				"operationId": "content.products.custombatch",
				"parameters": [{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/productstatuses/batch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Gets the statuses of multiple products in a single request.",
				"operationId": "content.productstatuses.custombatch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/accounts": {
			"get": {
				"summary": "",
				"description": "Lists the sub-accounts in your Merchant Center account.",
				"operationId": "content.accounts.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of accounts to return in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a Merchant Center sub-account.",
				"operationId": "content.accounts.insert",
				"parameters": [{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/accounts/{accountId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a Merchant Center sub-account.",
				"operationId": "content.accounts.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a Merchant Center account.",
				"operationId": "content.accounts.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates a Merchant Center account. This method supports patch semantics.",
				"operationId": "content.accounts.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a Merchant Center account.",
				"operationId": "content.accounts.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/accountshipping": {
			"get": {
				"summary": "",
				"description": "Lists the shipping settings of the sub-accounts in your Merchant Center account.",
				"operationId": "content.accountshipping.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of shipping settings to return in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/accountshipping/{accountId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the shipping settings of the account.",
				"operationId": "content.accountshipping.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account for which to get/update account shipping settings.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates the shipping settings of the account. This method supports patch semantics.",
				"operationId": "content.accountshipping.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account for which to get/update account shipping settings.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates the shipping settings of the account.",
				"operationId": "content.accountshipping.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account for which to get/update account shipping settings.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/accountstatuses": {
			"get": {
				"summary": "",
				"description": "Lists the statuses of the sub-accounts in your Merchant Center account.",
				"operationId": "content.accountstatuses.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of account statuses to return in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/accountstatuses/{accountId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the status of a Merchant Center account.",
				"operationId": "content.accountstatuses.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/accounttax": {
			"get": {
				"summary": "",
				"description": "Lists the tax settings of the sub-accounts in your Merchant Center account.",
				"operationId": "content.accounttax.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of tax settings to return in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/accounttax/{accountId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the tax settings of the account.",
				"operationId": "content.accounttax.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account for which to get/update account tax settings.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates the tax settings of the account. This method supports patch semantics.",
				"operationId": "content.accounttax.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account for which to get/update account tax settings.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates the tax settings of the account.",
				"operationId": "content.accounttax.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The ID of the account for which to get/update account tax settings.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/datafeeds": {
			"get": {
				"summary": "",
				"description": "Lists the datafeeds in your Merchant Center account.",
				"operationId": "content.datafeeds.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of products to return in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Registers a datafeed with your Merchant Center account.",
				"operationId": "content.datafeeds.insert",
				"parameters": [{
					"in": "path",
					"name": "merchantId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/datafeeds/{datafeedId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a datafeed from your Merchant Center account.",
				"operationId": "content.datafeeds.delete",
				"parameters": [{
					"in": "path",
					"name": "datafeedId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a datafeed from your Merchant Center account.",
				"operationId": "content.datafeeds.get",
				"parameters": [{
					"in": "path",
					"name": "datafeedId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates a datafeed of your Merchant Center account. This method supports patch semantics.",
				"operationId": "content.datafeeds.patch",
				"parameters": [{
					"in": "path",
					"name": "datafeedId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a datafeed of your Merchant Center account.",
				"operationId": "content.datafeeds.update",
				"parameters": [{
					"in": "path",
					"name": "datafeedId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/datafeedstatuses": {
			"get": {
				"summary": "",
				"description": "Lists the statuses of the datafeeds in your Merchant Center account.",
				"operationId": "content.datafeedstatuses.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of products to return in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/datafeedstatuses/{datafeedId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the status of a datafeed from your Merchant Center account.",
				"operationId": "content.datafeedstatuses.get",
				"parameters": [{
					"in": "path",
					"name": "datafeedId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/inventory/{storeCode}/products/{productId}": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Updates price and availability of a product in your Merchant Center account.",
				"operationId": "content.inventory.set",
				"parameters": [{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "productId",
					"description": "The ID of the product for which to update price and availability.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "storeCode",
					"description": "The code of the store for which to update price and availability. Use online to update price and availability of an online product.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/products": {
			"get": {
				"summary": "",
				"description": "Lists the products in your Merchant Center account.",
				"operationId": "content.products.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of products to return in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Uploads a product to your Merchant Center account.",
				"operationId": "content.products.insert",
				"parameters": [{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/products/{productId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a product from your Merchant Center account.",
				"operationId": "content.products.delete",
				"parameters": [{
					"in": "query",
					"name": "dryRun",
					"description": "Flag to run the request in dry-run mode.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "productId",
					"description": "The ID of the product.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a product from your Merchant Center account.",
				"operationId": "content.products.get",
				"parameters": [{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "productId",
					"description": "The ID of the product.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/productstatuses": {
			"get": {
				"summary": "",
				"description": "Lists the statuses of the products in your Merchant Center account.",
				"operationId": "content.productstatuses.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of product statuses to return in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{merchantId}/productstatuses/{productId}": {
			"get": {
				"summary": "",
				"description": "Gets the status of a product from your Merchant Center account.",
				"operationId": "content.productstatuses.get",
				"parameters": [{
					"in": "path",
					"name": "merchantId",
					"description": "The ID of the managing account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "productId",
					"description": "The ID of the product.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Account": {
			"properties": {
				"adultContent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"adwordsLinks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reviewsUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sellerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"users": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"websiteUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountAdwordsLink": {
			"properties": {
				"adwordsId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountIdentifier": {
			"properties": {
				"aggregatorId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShipping": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"carrierRates": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locationGroups": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rateTables": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"services": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShippingCarrierRate": {
			"properties": {
				"carrier": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"carrierService": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifierPercent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saleCountry": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shippingOrigin": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShippingCondition": {
			"properties": {
				"deliveryLocationGroup": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deliveryLocationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deliveryPostalCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shippingLabel": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShippingLocationGroup": {
			"properties": {
				"country": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locationIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"postalCodeRanges": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"postalCodes": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShippingPostalCodeRange": {
			"properties": {
				"end": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"start": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShippingRateTable": {
			"properties": {
				"content": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saleCountry": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShippingRateTableCell": {
			"properties": []
		},
		"AccountShippingShippingService": {
			"properties": {
				"active": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saleCountry": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShippingShippingServiceCalculationMethod": {
			"properties": {
				"carrierRate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"excluded": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"percentageRate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rateTable": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountShippingShippingServiceCostRule": {
			"properties": {
				"children": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountStatus": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dataQualityIssues": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountStatusDataQualityIssue": {
			"properties": {
				"country": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayedValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"exampleItems": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastChecked": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numItems": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"severity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"submittedValue": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountStatusExampleItem": {
			"properties": {
				"itemId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"link": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"submittedValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"valueOnLandingPage": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountTax": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rules": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountTaxTaxRule": {
			"properties": {
				"country": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ratePercent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shippingTaxed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"useGlobalRate": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountUser": {
			"properties": {
				"admin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emailAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountsAuthInfoResponse": {
			"properties": {
				"accountIdentifiers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountsCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountsCustomBatchRequestEntry": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountsCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountsCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountsListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountshippingCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountshippingCustomBatchRequestEntry": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountshippingCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountshippingCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountshippingListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountstatusesCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountstatusesCustomBatchRequestEntry": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountstatusesCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountstatusesCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountstatusesListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccounttaxCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccounttaxCustomBatchRequestEntry": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccounttaxCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccounttaxCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccounttaxListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Datafeed": {
			"properties": {
				"attributeLanguage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contentLanguage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contentType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"intendedDestinations": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetCountry": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedFetchSchedule": {
			"properties": {
				"dayOfMonth": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fetchUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"hour": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"password": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeZone": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"username": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"weekday": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedFormat": {
			"properties": {
				"columnDelimiter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileEncoding": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quotingMode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedStatus": {
			"properties": {
				"datafeedId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"errors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"itemsTotal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"itemsValid": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastUploadDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"processingStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedStatusError": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"examples": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"message": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedStatusExample": {
			"properties": {
				"itemId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lineNumber": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedsCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedsCustomBatchRequestEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"datafeedId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedsCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedsCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedsListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedstatusesCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedstatusesCustomBatchRequestEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"datafeedId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedstatusesCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedstatusesCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatafeedstatusesListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Error": {
			"properties": {
				"domain": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"message": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reason": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Errors": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"errors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"message": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Inventory": {
			"properties": {
				"availability": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quantity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"salePriceEffectiveDate": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InventoryCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InventoryCustomBatchRequestEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"storeCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InventoryCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InventoryCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InventorySetRequest": {
			"properties": {
				"availability": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quantity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"salePriceEffectiveDate": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InventorySetResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LoyaltyPoints": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pointsValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ratio": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Price": {
			"properties": {
				"currency": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Product": {
			"properties": {
				"additionalImageLinks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"adult": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"adwordsGrouping": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"adwordsLabels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"adwordsRedirect": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ageGroup": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"aspects": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"availability": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"availabilityDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"brand": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"channel": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"color": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"condition": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contentLanguage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customAttributes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customGroups": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customLabel0": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customLabel1": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customLabel2": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customLabel3": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customLabel4": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destinations": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayAdsId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayAdsLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayAdsSimilarIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayAdsTitle": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayAdsValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"energyEfficiencyClass": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"expirationDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gender": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"googleProductCategory": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gtin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"identifierExists": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"imageLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isBundle": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"itemGroupId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"link": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"material": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mobileLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mpn": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"multipack": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"offerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"onlineOnly": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pattern": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"salePriceEffectiveDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shipping": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shippingLabel": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sizeSystem": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sizeType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sizes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetCountry": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"taxes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"validatedDestinations": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductAspect": {
			"properties": {
				"aspectName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destinationName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"intention": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductCustomAttribute": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"unit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductCustomGroup": {
			"properties": {
				"attributes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductDestination": {
			"properties": {
				"destinationName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"intention": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductInstallment": {
			"properties": {
				"months": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductShipping": {
			"properties": {
				"country": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locationGroupName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"postalCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"service": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductShippingDimension": {
			"properties": {
				"unit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductShippingWeight": {
			"properties": {
				"unit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductStatus": {
			"properties": {
				"creationDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dataQualityIssues": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destinationStatuses": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"googleExpirationDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastUpdateDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"link": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductStatusDataQualityIssue": {
			"properties": {
				"detail": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fetchStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"location": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"severity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"valueOnLandingPage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"valueProvided": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductStatusDestinationStatus": {
			"properties": {
				"approvalStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destination": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"intention": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductTax": {
			"properties": {
				"country": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"postalCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"taxShip": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductUnitPricingBaseMeasure": {
			"properties": {
				"unit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductUnitPricingMeasure": {
			"properties": {
				"unit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductsCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductsCustomBatchRequestEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductsCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductsCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductsListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductstatusesCustomBatchRequest": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductstatusesCustomBatchRequestEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductstatusesCustomBatchResponse": {
			"properties": {
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductstatusesCustomBatchResponseEntry": {
			"properties": {
				"batchId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ProductstatusesListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Weight": {
			"properties": {
				"unit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}