{
	"swagger": "2.0",
	"info": {
		"title": "DCM/DFA Reporting And Trafficking API",
		"description": "Manage your DoubleClick Campaign Manager ad campaigns and reports.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2.0"
	},
	"host": "www.googleapis.com",
	"basePath": "/dfareporting/v2.0",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/reports/{reportId}/files/{fileId}": {
			"get": {
				"summary": "",
				"description": "Retrieves a report file by its report ID and file ID.",
				"operationId": "dfareporting.files.get",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the report file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the report.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles": {
			"get": {
				"summary": "",
				"description": "Retrieves list of user profiles for a user.",
				"operationId": "dfareporting.userProfiles.list",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}": {
			"get": {
				"summary": "",
				"description": "Gets one user profile by ID.",
				"operationId": "dfareporting.userProfiles.get",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "The user profile ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}": {
			"get": {
				"summary": "",
				"description": "Gets the accounts active ad summary by account ID.",
				"operationId": "dfareporting.accountActiveAdSummaries.get",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "summaryAccountId",
					"description": "Account ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accountPermissionGroups": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of account permission groups.",
				"operationId": "dfareporting.accountPermissionGroups.list",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accountPermissionGroups/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one account permission group by ID.",
				"operationId": "dfareporting.accountPermissionGroups.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Account permission group ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accountPermissions": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of account permissions.",
				"operationId": "dfareporting.accountPermissions.list",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accountPermissions/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one account permission by ID.",
				"operationId": "dfareporting.accountPermissions.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Account permission ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accounts": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of accounts, possibly filtered.",
				"operationId": "dfareporting.accounts.list",
				"parameters": [{
					"in": "query",
					"name": "active",
					"description": "Select only active accounts. Dont set this field to select both active and non-active accounts.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only accounts with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, account*2015 will return objects with names like account June 2015, account April 2015, or simply account 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of account will match objects with name my account, account 2015, or simply account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing account. This method supports patch semantics.",
				"operationId": "dfareporting.accounts.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing account.",
				"operationId": "dfareporting.accounts.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accounts/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one account by ID.",
				"operationId": "dfareporting.accounts.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accountUserProfiles": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of account user profiles, possibly filtered.",
				"operationId": "dfareporting.accountUserProfiles.list",
				"parameters": [{
					"in": "query",
					"name": "active",
					"description": "Select only active user profiles.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only user profiles with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, user profile*2015 will return objects with names like user profile June 2015, user profile April 2015, or simply user profile 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of user profile will match objects with name my user profile, user profile 2015, or simply user profile.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "subaccountId",
					"description": "Select only user profiles with the specified subaccount ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "userRoleId",
					"description": "Select only user profiles with the specified user role ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing account user profile. This method supports patch semantics.",
				"operationId": "dfareporting.accountUserProfiles.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "User profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing account user profile.",
				"operationId": "dfareporting.accountUserProfiles.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/accountUserProfiles/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one account user profile by ID.",
				"operationId": "dfareporting.accountUserProfiles.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "User profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/ads": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of ads, possibly filtered.",
				"operationId": "dfareporting.ads.list",
				"parameters": [{
					"in": "query",
					"name": "active",
					"description": "Select only active ads.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "advertiserId",
					"description": "Select only ads with this advertiser ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "archived",
					"description": "Select only archived ads.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "audienceSegmentIds",
					"description": "Select only ads with these audience segment IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "campaignIds",
					"description": "Select only ads with these campaign IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "compatibility",
					"description": "Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. WEB and WEB_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "creativeIds",
					"description": "Select only ads with these creative IDs assigned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "creativeOptimizationConfigurationIds",
					"description": "Select only ads with these creative optimization configuration IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "creativeType",
					"description": "Select only ads with the specified creativeType.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dynamicClickTracker",
					"description": "Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only ads with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "landingPageIds",
					"description": "Select only ads with these landing page IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "overriddenEventTagId",
					"description": "Select only ads with this event tag override ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "placementIds",
					"description": "Select only ads with these placement IDs assigned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "remarketingListIds",
					"description": "Select only ads whose list targeting expression use these remarketing list IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, ad*2015 will return objects with names like ad June 2015, ad April 2015, or simply ad 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of ad will match objects with name my ad, ad 2015, or simply ad.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sizeIds",
					"description": "Select only ads with these size IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sslCompliant",
					"description": "Select only ads that are SSL-compliant.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sslRequired",
					"description": "Select only ads that require SSL.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "Select only ads with these types.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing ad. This method supports patch semantics.",
				"operationId": "dfareporting.ads.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Ad ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new ad.",
				"operationId": "dfareporting.ads.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing ad.",
				"operationId": "dfareporting.ads.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/ads/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one ad by ID.",
				"operationId": "dfareporting.ads.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Ad ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/advertiserGroups": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of advertiser groups, possibly filtered.",
				"operationId": "dfareporting.advertiserGroups.list",
				"parameters": [{
					"in": "query",
					"name": "ids",
					"description": "Select only advertiser groups with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, advertiser*2015 will return objects with names like advertiser group June 2015, advertiser group April 2015, or simply advertiser group 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of advertisergroup will match objects with name my advertisergroup, advertisergroup 2015, or simply advertisergroup.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing advertiser group. This method supports patch semantics.",
				"operationId": "dfareporting.advertiserGroups.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Advertiser group ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new advertiser group.",
				"operationId": "dfareporting.advertiserGroups.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing advertiser group.",
				"operationId": "dfareporting.advertiserGroups.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/advertiserGroups/{id}": {
			"delete": {
				"summary": "",
				"description": "Deletes an existing advertiser group.",
				"operationId": "dfareporting.advertiserGroups.delete",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Advertiser group ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets one advertiser group by ID.",
				"operationId": "dfareporting.advertiserGroups.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Advertiser group ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/advertisers": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of advertisers, possibly filtered.",
				"operationId": "dfareporting.advertisers.list",
				"parameters": [{
					"in": "query",
					"name": "advertiserGroupIds",
					"description": "Select only advertisers with these advertiser group IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "floodlightConfigurationIds",
					"description": "Select only advertisers with these floodlight configuration IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only advertisers with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeAdvertisersWithoutGroupsOnly",
					"description": "Select only advertisers which do not belong to any advertiser group.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "onlyParent",
					"description": "Select only advertisers which use another advertisers floodlight configuration.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, advertiser*2015 will return objects with names like advertiser June 2015, advertiser April 2015, or simply advertiser 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of advertiser will match objects with name my advertiser, advertiser 2015, or simply advertiser.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "status",
					"description": "Select only advertisers with the specified status.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "subaccountId",
					"description": "Select only advertisers with these subaccount IDs.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing advertiser. This method supports patch semantics.",
				"operationId": "dfareporting.advertisers.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Advertiser ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new advertiser.",
				"operationId": "dfareporting.advertisers.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing advertiser.",
				"operationId": "dfareporting.advertisers.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/advertisers/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one advertiser by ID.",
				"operationId": "dfareporting.advertisers.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Advertiser ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/browsers": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of browsers.",
				"operationId": "dfareporting.browsers.list",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/campaigns": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of campaigns, possibly filtered.",
				"operationId": "dfareporting.campaigns.list",
				"parameters": [{
					"in": "query",
					"name": "advertiserGroupIds",
					"description": "Select only campaigns whose advertisers belong to these advertiser groups.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "advertiserIds",
					"description": "Select only campaigns that belong to these advertisers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "archived",
					"description": "Select only archived campaigns. Dont set this field to select both archived and non-archived campaigns.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "atLeastOneOptimizationActivity",
					"description": "Select only campaigns that have at least one optimization activity.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "excludedIds",
					"description": "Exclude campaigns with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only campaigns with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "overriddenEventTagId",
					"description": "Select only campaigns that have overridden this event tag ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, campaign*2015 will return campaigns with names like campaign June 2015, campaign April 2015, or simply campaign 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of campaign will match campaigns with name my campaign, campaign 2015, or simply campaign.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "subaccountId",
					"description": "Select only campaigns that belong to this subaccount.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing campaign. This method supports patch semantics.",
				"operationId": "dfareporting.campaigns.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new campaign.",
				"operationId": "dfareporting.campaigns.insert",
				"parameters": [{
					"in": "query",
					"name": "defaultLandingPageName",
					"description": "Default landing page name for this new campaign. Must be less than 256 characters long.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "defaultLandingPageUrl",
					"description": "Default landing page URL for this new campaign.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing campaign.",
				"operationId": "dfareporting.campaigns.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/campaigns/{campaignId}/campaignCreativeAssociations": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of creative IDs associated with the specified campaign.",
				"operationId": "dfareporting.campaignCreativeAssociations.list",
				"parameters": [{
					"in": "path",
					"name": "campaignId",
					"description": "Campaign ID in this association.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.",
				"operationId": "dfareporting.campaignCreativeAssociations.insert",
				"parameters": [{
					"in": "path",
					"name": "campaignId",
					"description": "Campaign ID in this association.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/campaigns/{campaignId}/landingPages": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of landing pages for the specified campaign.",
				"operationId": "dfareporting.landingPages.list",
				"parameters": [{
					"in": "path",
					"name": "campaignId",
					"description": "Landing page campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing campaign landing page. This method supports patch semantics.",
				"operationId": "dfareporting.landingPages.patch",
				"parameters": [{
					"in": "path",
					"name": "campaignId",
					"description": "Landing page campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "Landing page ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new landing page for the specified campaign.",
				"operationId": "dfareporting.landingPages.insert",
				"parameters": [{
					"in": "path",
					"name": "campaignId",
					"description": "Landing page campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing campaign landing page.",
				"operationId": "dfareporting.landingPages.update",
				"parameters": [{
					"in": "path",
					"name": "campaignId",
					"description": "Landing page campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/campaigns/{campaignId}/landingPages/{id}": {
			"delete": {
				"summary": "",
				"description": "Deletes an existing campaign landing page.",
				"operationId": "dfareporting.landingPages.delete",
				"parameters": [{
					"in": "path",
					"name": "campaignId",
					"description": "Landing page campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Landing page ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets one campaign landing page by ID.",
				"operationId": "dfareporting.landingPages.get",
				"parameters": [{
					"in": "path",
					"name": "campaignId",
					"description": "Landing page campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Landing page ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/campaigns/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one campaign by ID.",
				"operationId": "dfareporting.campaigns.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/changeLogs": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of change logs.",
				"operationId": "dfareporting.changeLogs.list",
				"parameters": [{
					"in": "query",
					"name": "action",
					"description": "Select only change logs with the specified action.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only change logs with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxChangeTime",
					"description": "Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is 2015-07-18T22:54:00-04:00. In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minChangeTime",
					"description": "Select only change logs whose change time is before the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is 2015-07-18T22:54:00-04:00. In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "objectIds",
					"description": "Select only change logs with these object IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "objectType",
					"description": "Select only change logs with the specified object type.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Select only change logs whose object ID, user name, old or new values match the search string.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "userProfileIds",
					"description": "Select only change logs with these user profile IDs.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/changeLogs/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one change log by ID.",
				"operationId": "dfareporting.changeLogs.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Change log ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/cities": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of cities, possibly filtered.",
				"operationId": "dfareporting.cities.list",
				"parameters": [{
					"in": "query",
					"name": "countryDartIds",
					"description": "Select only cities from these countries.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dartIds",
					"description": "Select only cities with these DART IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "namePrefix",
					"description": "Select only cities with names starting with this prefix.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "regionDartIds",
					"description": "Select only cities from these regions.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/connectionTypes": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of connection types.",
				"operationId": "dfareporting.connectionTypes.list",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/contentCategories": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of content categories, possibly filtered.",
				"operationId": "dfareporting.contentCategories.list",
				"parameters": [{
					"in": "query",
					"name": "ids",
					"description": "Select only content categories with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, contentcategory*2015 will return objects with names like contentcategory June 2015, contentcategory April 2015, or simply contentcategory 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of contentcategory will match objects with name my contentcategory, contentcategory 2015, or simply contentcategory.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing content category. This method supports patch semantics.",
				"operationId": "dfareporting.contentCategories.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Content category ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new content category.",
				"operationId": "dfareporting.contentCategories.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing content category.",
				"operationId": "dfareporting.contentCategories.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/contentCategories/{id}": {
			"delete": {
				"summary": "",
				"description": "Deletes an existing content category.",
				"operationId": "dfareporting.contentCategories.delete",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Content category ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets one content category by ID.",
				"operationId": "dfareporting.contentCategories.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Content category ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/countries": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of countries.",
				"operationId": "dfareporting.countries.list",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/countries/{dartId}": {
			"get": {
				"summary": "",
				"description": "Gets one country by ID.",
				"operationId": "dfareporting.countries.get",
				"parameters": [{
					"in": "path",
					"name": "dartId",
					"description": "Country DART ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creativeAssets/{advertiserId}/creativeAssets": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new creative asset.",
				"operationId": "dfareporting.creativeAssets.insert",
				"parameters": [{
					"in": "path",
					"name": "advertiserId",
					"description": "Advertiser ID of this creative. This is a required field.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creativeFields": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of creative fields, possibly filtered.",
				"operationId": "dfareporting.creativeFields.list",
				"parameters": [{
					"in": "query",
					"name": "advertiserIds",
					"description": "Select only creative fields that belong to these advertisers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only creative fields with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, creativefield*2015 will return creative fields with names like creativefield June 2015, creativefield April 2015, or simply creativefield 2015. Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of creativefield will match creative fields with the name my creativefield, creativefield 2015, or simply creativefield.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing creative field. This method supports patch semantics.",
				"operationId": "dfareporting.creativeFields.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Creative Field ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new creative field.",
				"operationId": "dfareporting.creativeFields.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing creative field.",
				"operationId": "dfareporting.creativeFields.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of creative field values, possibly filtered.",
				"operationId": "dfareporting.creativeFieldValues.list",
				"parameters": [{
					"in": "path",
					"name": "creativeFieldId",
					"description": "Creative field ID for this creative field value.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only creative field values with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing creative field value. This method supports patch semantics.",
				"operationId": "dfareporting.creativeFieldValues.patch",
				"parameters": [{
					"in": "path",
					"name": "creativeFieldId",
					"description": "Creative field ID for this creative field value.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "Creative Field Value ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new creative field value.",
				"operationId": "dfareporting.creativeFieldValues.insert",
				"parameters": [{
					"in": "path",
					"name": "creativeFieldId",
					"description": "Creative field ID for this creative field value.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing creative field value.",
				"operationId": "dfareporting.creativeFieldValues.update",
				"parameters": [{
					"in": "path",
					"name": "creativeFieldId",
					"description": "Creative field ID for this creative field value.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues/{id}": {
			"delete": {
				"summary": "",
				"description": "Deletes an existing creative field value.",
				"operationId": "dfareporting.creativeFieldValues.delete",
				"parameters": [{
					"in": "path",
					"name": "creativeFieldId",
					"description": "Creative field ID for this creative field value.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Creative Field Value ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets one creative field value by ID.",
				"operationId": "dfareporting.creativeFieldValues.get",
				"parameters": [{
					"in": "path",
					"name": "creativeFieldId",
					"description": "Creative field ID for this creative field value.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "id",
					"description": "Creative Field Value ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creativeFields/{id}": {
			"delete": {
				"summary": "",
				"description": "Deletes an existing creative field.",
				"operationId": "dfareporting.creativeFields.delete",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Creative Field ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets one creative field by ID.",
				"operationId": "dfareporting.creativeFields.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Creative Field ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creativeGroups": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of creative groups, possibly filtered.",
				"operationId": "dfareporting.creativeGroups.list",
				"parameters": [{
					"in": "query",
					"name": "advertiserIds",
					"description": "Select only creative groups that belong to these advertisers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "groupNumber",
					"description": "Select only creative groups that belong to this subgroup.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only creative groups with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, creativegroup*2015 will return creative groups with names like creativegroup June 2015, creativegroup April 2015, or simply creativegroup 2015. Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of creativegroup will match creative groups with the name my creativegroup, creativegroup 2015, or simply creativegroup.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing creative group. This method supports patch semantics.",
				"operationId": "dfareporting.creativeGroups.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Creative group ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new creative group.",
				"operationId": "dfareporting.creativeGroups.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing creative group.",
				"operationId": "dfareporting.creativeGroups.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creativeGroups/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one creative group by ID.",
				"operationId": "dfareporting.creativeGroups.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Creative group ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creatives": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of creatives, possibly filtered.",
				"operationId": "dfareporting.creatives.list",
				"parameters": [{
					"in": "query",
					"name": "active",
					"description": "Select only active creatives. Leave blank to select active and inactive creatives.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "advertiserId",
					"description": "Select only creatives with this advertiser ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "archived",
					"description": "Select only archived creatives. Leave blank to select archived and unarchived creatives.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "campaignId",
					"description": "Select only creatives with this campaign ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "companionCreativeIds",
					"description": "Select only in-stream video creatives with these companion IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "creativeFieldIds",
					"description": "Select only creatives with these creative field IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only creatives with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "renderingIds",
					"description": "Select only creatives with these rendering IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, creative*2015 will return objects with names like creative June 2015, creative April 2015, or simply creative 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of creative will match objects with name my creative, creative 2015, or simply creative.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sizeIds",
					"description": "Select only creatives with these size IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "studioCreativeId",
					"description": "Select only creatives corresponding to this Studio creative ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "types",
					"description": "Select only creatives with these creative types.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing creative. This method supports patch semantics.",
				"operationId": "dfareporting.creatives.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Creative ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new creative.",
				"operationId": "dfareporting.creatives.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing creative.",
				"operationId": "dfareporting.creatives.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/creatives/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one creative by ID.",
				"operationId": "dfareporting.creatives.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Creative ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/dimensionvalues/query": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Retrieves list of report dimension values for a list of filters.",
				"operationId": "dfareporting.dimensionValues.query",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of the nextToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "The DFA user profile ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/directorySiteContacts": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of directory site contacts, possibly filtered.",
				"operationId": "dfareporting.directorySiteContacts.list",
				"parameters": [{
					"in": "query",
					"name": "directorySiteIds",
					"description": "Select only directory site contacts with these directory site IDs. This is a required field.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only directory site contacts with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, directory site contact*2015 will return objects with names like directory site contact June 2015, directory site contact April 2015, or simply directory site contact 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of directory site contact will match objects with name my directory site contact, directory site ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/directorySiteContacts/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one directory site contact by ID.",
				"operationId": "dfareporting.directorySiteContacts.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Directory site contact ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/directorySites": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of directory sites, possibly filtered.",
				"operationId": "dfareporting.directorySites.list",
				"parameters": [{
					"in": "query",
					"name": "acceptsInStreamVideoPlacements",
					"description": "This search filter is no longer supported and will have no effect on the results returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "acceptsInterstitialPlacements",
					"description": "This search filter is no longer supported and will have no effect on the results returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "acceptsPublisherPaidPlacements",
					"description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "active",
					"description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "countryId",
					"description": "Select only directory sites with this country ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dfp_network_code",
					"description": "Select only directory sites with this DFP network code.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only directory sites with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Value of the nextPageToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "parentId",
					"description": "Select only directory sites with this parent ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, directory site*2015 will return objects with names like directory site June 2015, directory site April 2015, or simply directory site 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of directory site will match objects with name my directory site, directory site 2015 or simply, directory site.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/directorySites/{id}": {
			"get": {
				"summary": "",
				"description": "Gets one directory site by ID.",
				"operationId": "dfareporting.directorySites.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Directory site ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/eventTags": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of event tags, possibly filtered.",
				"operationId": "dfareporting.eventTags.list",
				"parameters": [{
					"in": "query",
					"name": "adId",
					"description": "Select only event tags that belong to this ad.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "advertiserId",
					"description": "Select only event tags that belong to this advertiser.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "campaignId",
					"description": "Select only event tags that belong to this campaign.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "definitionsOnly",
					"description": "Examine only the specified ad or campaign or advertisers event tags for matching selector criteria. When set to false, the parent advertiser and parent campaign is examined as well. In addition, when set to false, the status field is examined as well along with the enabledByDefault field.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "enabled",
					"description": "Select only enabled event tags. When definitionsOnly is set to true, only the specified advertiser or campaigns event tags enabledByDefault field is examined. When definitionsOnly is set to false, the specified ad or specified campaigns parent advertisers or parent campaigns event tags enabledByDefault and status fields are examined as well.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "eventTagTypes",
					"description": "Select only event tags with the specified event tag types. Event tag types can be used to specify whether to use a third-party pixel, a third-party JavaScript URL, or a third-party click-through URL for either impression or click tracking.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Select only event tags with these IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchString",
					"description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, eventtag*2015 will return objects with names like eventtag June 2015, eventtag April 2015, or simply eventtag 2015. Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of eventtag will match objects with name my eventtag, eventtag 2015, or simply eventtag.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "Field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is ASCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing event tag. This method supports patch semantics.",
				"operationId": "dfareporting.eventTags.patch",
				"parameters": [{
					"in": "query",
					"name": "id",
					"description": "Event tag ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new event tag.",
				"operationId": "dfareporting.eventTags.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing event tag.",
				"operationId": "dfareporting.eventTags.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/eventTags/{id}": {
			"delete": {
				"summary": "",
				"description": "Deletes an existing event tag.",
				"operationId": "dfareporting.eventTags.delete",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Event tag ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets one event tag by ID.",
				"operationId": "dfareporting.eventTags.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "Event tag ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "User profile ID associated with this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/files": {
			"get": {
				"summary": "",
[...]
