{
	"swagger": "2.0",
	"info": {
		"title": "Deployment Manager API",
		"description": "The Deployment Manager API allows users to declaratively configure, deploy and run complex solutions on the Google Cloud Platform.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta2"
	},
	"host": "www.googleapis.com",
	"basePath": "/manager/v1beta2/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{projectId}/regions/{region}/deployments": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "manager.deployments.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "",
				"operationId": "manager.deployments.insert",
				"parameters": [{
					"in": "path",
					"name": "projectId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectId}/regions/{region}/deployments/{deploymentName}": {
			"delete": {
				"summary": "",
				"description": "",
				"operationId": "manager.deployments.delete",
				"parameters": [{
					"in": "path",
					"name": "deploymentName",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "",
				"operationId": "manager.deployments.get",
				"parameters": [{
					"in": "path",
					"name": "deploymentName",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectId}/templates": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "manager.templates.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "",
				"operationId": "manager.templates.insert",
				"parameters": [{
					"in": "path",
					"name": "projectId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectId}/templates/{templateName}": {
			"delete": {
				"summary": "",
				"description": "",
				"operationId": "manager.templates.delete",
				"parameters": [{
					"in": "path",
					"name": "projectId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "templateName",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "",
				"operationId": "manager.templates.get",
				"parameters": [{
					"in": "path",
					"name": "projectId",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "templateName",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"AccessConfig": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"natIp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Action": {
			"properties": {
				"commands": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeoutMs": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AllowedRule": {
			"properties": {
				"IPProtocol": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ports": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AutoscalingModule": {
			"properties": {
				"coolDownPeriodSec": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxNumReplicas": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"minNumReplicas": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"signalType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetModule": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetUtilization": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AutoscalingModuleStatus": {
			"properties": {
				"autoscalingConfigUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeployState": {
			"properties": {
				"details": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Deployment": {
			"properties": {
				"creationDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modules": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"overrides": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"templateName": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeploymentsListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DiskAttachment": {
			"properties": {
				"deviceName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"index": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EnvVariable": {
			"properties": {
				"hidden": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ExistingDisk": {
			"properties": {
				"source": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FirewallModule": {
			"properties": {
				"allowed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"network": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceRanges": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceTags": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetTags": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FirewallModuleStatus": {
			"properties": {
				"firewallUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"HealthCheckModule": {
			"properties": {
				"checkIntervalSec": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"healthyThreshold": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"host": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"path": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"port": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeoutSec": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"unhealthyThreshold": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"HealthCheckModuleStatus": {
			"properties": {
				"healthCheckUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LbModule": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"healthChecks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ipAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ipProtocol": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"portRange": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sessionAffinity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetModules": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LbModuleStatus": {
			"properties": {
				"forwardingRuleUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetPoolUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Metadata": {
			"properties": {
				"fingerPrint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"MetadataItem": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Module": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ModuleStatus": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NetworkInterface": {
			"properties": {
				"accessConfigs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"network": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"networkIp": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NetworkModule": {
			"properties": {
				"IPv4Range": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gatewayIPv4": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NetworkModuleStatus": {
			"properties": {
				"networkUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NewDisk": {
			"properties": {
				"autoDelete": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"boot": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NewDiskInitializeParams": {
			"properties": {
				"diskSizeGb": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"diskType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceImage": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ParamOverride": {
			"properties": {
				"path": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReplicaPoolModule": {
			"properties": {
				"envVariables": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"healthChecks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numReplicas": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceView": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReplicaPoolModuleStatus": {
			"properties": {
				"replicaPoolUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceViewUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReplicaPoolParams": {
			"properties": []
		},
		"ReplicaPoolParamsV1Beta1": {
			"properties": {
				"autoRestart": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"baseInstanceName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"canIpForward": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disksToAttach": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disksToCreate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"initAction": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"machineType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"networkInterfaces": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"onHostMaintenance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"serviceAccounts": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"zone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ServiceAccount": {
			"properties": {
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scopes": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Tag": {
			"properties": {
				"fingerPrint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Template": {
			"properties": {
				"actions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modules": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TemplatesListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}