{
	"swagger": "2.0",
	"info": {
		"title": "DFA Reporting API",
		"description": "Lets you create, run and download reports.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1.2"
	},
	"host": "www.googleapis.com",
	"basePath": "/dfareporting/v1.2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/reports/{reportId}/files/{fileId}": {
			"get": {
				"summary": "",
				"description": "Retrieves a report file by its report ID and file ID.",
				"operationId": "dfareporting.files.get",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the report file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the report.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles": {
			"get": {
				"summary": "",
				"description": "Retrieves list of user profiles for a user.",
				"operationId": "dfareporting.userProfiles.list",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}": {
			"get": {
				"summary": "",
				"description": "Gets one user profile by ID.",
				"operationId": "dfareporting.userProfiles.get",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "The user profile ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/dimensionvalues/query": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Retrieves list of report dimension values for a list of filters.",
				"operationId": "dfareporting.dimensionValues.query",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of the nextToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "The DFA user profile ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/files": {
			"get": {
				"summary": "",
				"description": "Lists files for a user profile.",
				"operationId": "dfareporting.files.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of the nextToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "The DFA profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "scope",
					"description": "The scope that defines which results are returned, default is MINE.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "The field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is DESCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/reports": {
			"get": {
				"summary": "",
				"description": "Retrieves list of reports.",
				"operationId": "dfareporting.reports.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of the nextToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "The DFA user profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "scope",
					"description": "The scope that defines which results are returned, default is MINE.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "The field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is DESCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a report.",
				"operationId": "dfareporting.reports.insert",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "The DFA user profile ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/reports/{reportId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a report by its ID.",
				"operationId": "dfareporting.reports.delete",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "The DFA user profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the report.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a report by its ID.",
				"operationId": "dfareporting.reports.get",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "The DFA user profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the report.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates a report. This method supports patch semantics.",
				"operationId": "dfareporting.reports.patch",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "The DFA user profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the report.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a report.",
				"operationId": "dfareporting.reports.update",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "The DFA user profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the report.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/reports/{reportId}/files": {
			"get": {
				"summary": "",
				"description": "Lists files for a report.",
				"operationId": "dfareporting.reports.files.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of the nextToken from the previous result page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "The DFA profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the parent report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortField",
					"description": "The field by which to sort the list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "Order of sorted results, default is DESCENDING.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/reports/{reportId}/files/{fileId}": {
			"get": {
				"summary": "",
				"description": "Retrieves a report file.",
				"operationId": "dfareporting.reports.files.get",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the report file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "The DFA profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the report.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userprofiles/{profileId}/reports/{reportId}/run": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Runs a report.",
				"operationId": "dfareporting.reports.run",
				"parameters": [{
					"in": "path",
					"name": "profileId",
					"description": "The DFA profile ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "The ID of the report.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "synchronous",
					"description": "If set and true, tries to run the report synchronously.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Activities": {
			"properties": {
				"filters": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"metricNames": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomRichMediaEvents": {
			"properties": {
				"filteredEventIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DateRange": {
			"properties": {
				"endDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"relativeDateRange": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startDate": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DimensionFilter": {
			"properties": {
				"dimensionName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DimensionValue": {
			"properties": {
				"dimensionName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"matchType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DimensionValueList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DimensionValueRequest": {
			"properties": {
				"dimensionName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"filters": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startDate": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"File": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"format": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModifiedTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"urls": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FileList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Recipient": {
			"properties": {
				"deliveryType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Report": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"activeGrpCriteria": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"criteria": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"crossDimensionReachCriteria": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"delivery": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"floodlightCriteria": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"format": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModifiedTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ownerProfileId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pathToConversionCriteria": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reachCriteria": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"schedule": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"subAccountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReportList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SortedDimension": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sortOrder": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UserProfile": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"accountName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"profileId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"subAccountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"subAccountName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"userName": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UserProfileList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}