{
	"swagger": "2.0",
	"info": {
		"title": "DoubleClick Search API",
		"description": "Report and modify your advertising data in DoubleClick Search (for example, campaigns, ad groups, keywords, and conversions).",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2"
	},
	"host": "www.googleapis.com",
	"basePath": "/doubleclicksearch/v2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of conversions from a DoubleClick Search engine account.",
				"operationId": "doubleclicksearch.conversion.get",
				"parameters": [{
					"in": "query",
					"name": "adGroupId",
					"description": "Numeric ID of the ad group.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "adId",
					"description": "Numeric ID of the ad.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "advertiserId",
					"description": "Numeric ID of the advertiser.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "agencyId",
					"description": "Numeric ID of the agency.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "campaignId",
					"description": "Numeric ID of the campaign.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "criterionId",
					"description": "Numeric ID of the criterion.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endDate",
					"description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "engineAccountId",
					"description": "Numeric ID of the engine account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "rowCount",
					"description": "The number of conversions to return per call.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startDate",
					"description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startRow",
					"description": "The 0-based starting index for retrieving conversions results.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/agency/{agencyId}/advertiser/{advertiserId}/savedcolumns": {
			"get": {
				"summary": "",
				"description": "Retrieve the list of saved columns for a specified advertiser.",
				"operationId": "doubleclicksearch.savedColumns.list",
				"parameters": [{
					"in": "path",
					"name": "advertiserId",
					"description": "DS ID of the advertiser.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "agencyId",
					"description": "DS ID of the agency.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/conversion": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates a batch of conversions in DoubleClick Search. This method supports patch semantics.",
				"operationId": "doubleclicksearch.conversion.patch",
				"parameters": [{
					"in": "query",
					"name": "advertiserId",
					"description": "Numeric ID of the advertiser.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "agencyId",
					"description": "Numeric ID of the agency.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endDate",
					"description": "Last date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "engineAccountId",
					"description": "Numeric ID of the engine account.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "rowCount",
					"description": "The number of conversions to return per call.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startDate",
					"description": "First date (inclusive) on which to retrieve conversions. Format is yyyymmdd.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startRow",
					"description": "The 0-based starting index for retrieving conversions results.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a batch of new conversions into DoubleClick Search.",
				"operationId": "doubleclicksearch.conversion.insert",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a batch of conversions in DoubleClick Search.",
				"operationId": "doubleclicksearch.conversion.update",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/conversion/updateAvailability": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Updates the availabilities of a batch of floodlight activities in DoubleClick Search.",
				"operationId": "doubleclicksearch.conversion.updateAvailability",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/reports": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a report request into the reporting system.",
				"operationId": "doubleclicksearch.reports.request",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/reports/generate": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Generates and returns a report immediately.",
				"operationId": "doubleclicksearch.reports.generate",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/reports/{reportId}": {
			"get": {
				"summary": "",
				"description": "Polls for the status of a report request.",
				"operationId": "doubleclicksearch.reports.get",
				"parameters": [{
					"in": "path",
					"name": "reportId",
					"description": "ID of the report request being polled.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/reports/{reportId}/files/{reportFragment}": {
			"get": {
				"summary": "",
				"description": "Downloads a report file encoded in UTF-8.",
				"operationId": "doubleclicksearch.reports.getFile",
				"parameters": [{
					"in": "path",
					"name": "reportFragment",
					"description": "The index of the report fragment to download.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportId",
					"description": "ID of the report.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Availability": {
			"properties": {
				"advertiserId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"agencyId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"availabilityTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segmentationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segmentationName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segmentationType": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Conversion": {
			"properties": {
				"adGroupId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"adId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"advertiserId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"agencyId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"attributionModel": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"campaignId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"channel": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"clickId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"conversionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"conversionModifiedTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"conversionTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"countMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"criterionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currencyCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customDimension": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customMetric": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deviceType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dsConversionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"engineAccountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"feedId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"floodlightOrderId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productCountry": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productGroupId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productLanguage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quantityMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"revenueMicros": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segmentationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segmentationName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segmentationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"storeId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ConversionList": {
			"properties": {
				"conversion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomDimension": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomMetric": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Report": {
			"properties": {
				"files": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isReportReady": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rowCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statisticsCurrencyCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statisticsTimeZone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReportApiColumnSpec": {
			"properties": {
				"columnName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customDimensionName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customMetricName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"groupByColumn": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"headerText": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"platformSource": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"savedColumnName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startDate": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReportRequest": {
			"properties": {
				"columns": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"downloadFormat": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"filters": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"includeDeletedEntities": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"includeRemovedEntities": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxRowsPerFile": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"orderBy": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportScope": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rowCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startRow": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statisticsCurrency": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeRange": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verifySingleTimeZone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SavedColumn": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"savedColumnName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SavedColumnList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UpdateAvailabilityRequest": {
			"properties": {
				"availabilities": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UpdateAvailabilityResponse": {
			"properties": {
				"availabilities": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}