{
	"swagger": "2.0",
	"info": {
		"title": "DoubleClick Bid Manager API",
		"description": "API for viewing and managing your reports in DoubleClick Bid Manager.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/doubleclickbidmanager/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/lineitems/downloadlineitems": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Retrieves line items in CSV format.",
				"operationId": "doubleclickbidmanager.lineitems.downloadlineitems",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/lineitems/uploadlineitems": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Uploads line items in CSV format.",
				"operationId": "doubleclickbidmanager.lineitems.uploadlineitems",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/queries": {
			"get": {
				"summary": "",
				"description": "Retrieves stored queries.",
				"operationId": "doubleclickbidmanager.queries.listqueries",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/queries/{queryId}/reports": {
			"get": {
				"summary": "",
				"description": "Retrieves stored reports.",
				"operationId": "doubleclickbidmanager.reports.listreports",
				"parameters": [{
					"in": "path",
					"name": "queryId",
					"description": "Query ID with which the reports are associated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/query": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a query.",
				"operationId": "doubleclickbidmanager.queries.createquery",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/query/{queryId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a stored query as well as the associated stored reports.",
				"operationId": "doubleclickbidmanager.queries.deletequery",
				"parameters": [{
					"in": "path",
					"name": "queryId",
					"description": "Query ID to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a stored query.",
				"operationId": "doubleclickbidmanager.queries.getquery",
				"parameters": [{
					"in": "path",
					"name": "queryId",
					"description": "Query ID to retrieve.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Runs a stored query to generate a report.",
				"operationId": "doubleclickbidmanager.queries.runquery",
				"parameters": [{
					"in": "path",
					"name": "queryId",
					"description": "Query ID to run.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"DownloadLineItemsRequest": {
			"properties": {
				"filterIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"filterType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"format": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DownloadLineItemsResponse": {
			"properties": {
				"lineItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FilterPair": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListQueriesResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"queries": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListReportsResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reports": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Parameters": {
			"properties": {
				"filters": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"groupBys": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"includeInviteData": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"metrics": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Query": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"queryId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportDataEndTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportDataStartTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timezoneCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QueryMetadata": {
			"properties": {
				"dataRange": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"format": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"googleCloudStoragePathForLatestReport": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"googleDrivePathForLatestReport": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"latestReportRunTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locale": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"running": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sendNotification": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shareEmailAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QuerySchedule": {
			"properties": {
				"endTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"frequency": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextRunMinuteOfDay": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextRunTimezoneCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Report": {
			"properties": []
		},
		"ReportFailure": {
			"properties": {
				"errorCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReportKey": {
			"properties": {
				"queryId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReportMetadata": {
			"properties": {
				"googleCloudStoragePath": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportDataEndTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportDataStartTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReportStatus": {
			"properties": {
				"finishTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"format": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RowStatus": {
			"properties": {
				"changed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"entityId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"entityName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"errors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"persisted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rowNumber": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RunQueryRequest": {
			"properties": {
				"dataRange": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportDataEndTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reportDataStartTimeMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timezoneCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UploadLineItemsRequest": {
			"properties": {
				"dryRun": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"format": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lineItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UploadLineItemsResponse": {
			"properties": []
		},
		"UploadStatus": {
			"properties": {
				"errors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rowStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}