{
	"swagger": "2.0",
	"info": {
		"title": "Email Migration API v2",
		"description": "Email Migration API lets you migrate emails of users to Google backends.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "email_migration_v2"
	},
	"host": "www.googleapis.com",
	"basePath": "/email/v2/users",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{userKey}/mail": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Insert Mail into Googles Gmail backends",
				"operationId": "emailMigration.mail.insert",
				"parameters": [{
					"in": "path",
					"name": "userKey",
					"description": "The email or immutable id of the user",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"MailItem": {
			"properties": {
				"isDeleted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isDraft": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isInbox": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isSent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isStarred": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isTrash": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isUnread": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}