{
	"swagger": "2.0",
	"info": {
		"title": "Enterprise License Manager API",
		"description": "Licensing API to view and manage license for your domain.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/apps/licensing/v1/product",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{productId}/sku/{skuId}/user": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Assign License.",
				"operationId": "licensing.licenseAssignments.insert",
				"parameters": [{
					"in": "path",
					"name": "productId",
					"description": "Name for product",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "skuId",
					"description": "Name for sku",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{productId}/sku/{skuId}/user/{userId}": {
			"delete": {
				"summary": "",
				"description": "Revoke License.",
				"operationId": "licensing.licenseAssignments.delete",
				"parameters": [{
					"in": "path",
					"name": "productId",
					"description": "Name for product",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "skuId",
					"description": "Name for sku",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "email id or unique Id of the user",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get license assignment of a particular product and sku for a user",
				"operationId": "licensing.licenseAssignments.get",
				"parameters": [{
					"in": "path",
					"name": "productId",
					"description": "Name for product",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "skuId",
					"description": "Name for sku",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "email id or unique Id of the user",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Assign License. This method supports patch semantics.",
				"operationId": "licensing.licenseAssignments.patch",
				"parameters": [{
					"in": "path",
					"name": "productId",
					"description": "Name for product",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "skuId",
					"description": "Name for sku for which license would be revoked",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "email id or unique Id of the user",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Assign License.",
				"operationId": "licensing.licenseAssignments.update",
				"parameters": [{
					"in": "path",
					"name": "productId",
					"description": "Name for product",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "skuId",
					"description": "Name for sku for which license would be revoked",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "email id or unique Id of the user",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{productId}/sku/{skuId}/users": {
			"get": {
				"summary": "",
				"description": "List license assignments for given product and sku of the customer.",
				"operationId": "licensing.licenseAssignments.listForProductAndSku",
				"parameters": [{
					"in": "query",
					"name": "customerId",
					"description": "CustomerId represents the customer for whom licenseassignments are queried",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token to fetch the next page.Optional. By default server will return first page",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "productId",
					"description": "Name for product",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "skuId",
					"description": "Name for sku",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{productId}/users": {
			"get": {
				"summary": "",
				"description": "List license assignments for given product of the customer.",
				"operationId": "licensing.licenseAssignments.listForProduct",
				"parameters": [{
					"in": "query",
					"name": "customerId",
					"description": "CustomerId represents the customer for whom licenseassignments are queried",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token to fetch the next page.Optional. By default server will return first page",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "productId",
					"description": "Name for product",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"LicenseAssignment": {
			"properties": {
				"etags": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skuId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"userId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LicenseAssignmentInsert": {
			"properties": {
				"userId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LicenseAssignmentList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}