{
	"swagger": "2.0",
	"info": {
		"title": "Enterprise Apps Reseller API",
		"description": "Lets you create and manage your customers and their subscriptions.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/apps/reseller/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/customers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a customer resource if one does not already exist.",
				"operationId": "reseller.customers.insert",
				"parameters": [{
					"in": "query",
					"name": "customerAuthToken",
					"description": "An auth token needed for inserting a customer for which domain already exists. Can be generated at https://www.google.com/a/cpanel//TransferToken. Optional.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}": {
			"get": {
				"summary": "",
				"description": "Gets a customer resource if one exists and is owned by the reseller.",
				"operationId": "reseller.customers.get",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update a customer resource if one it exists and is owned by the reseller. This method supports patch semantics.",
				"operationId": "reseller.customers.patch",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update a customer resource if one it exists and is owned by the reseller.",
				"operationId": "reseller.customers.update",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}/subscriptions": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates/Transfers a subscription for the customer.",
				"operationId": "reseller.subscriptions.insert",
				"parameters": [{
					"in": "query",
					"name": "customerAuthToken",
					"description": "An auth token needed for transferring a subscription. Can be generated at https://www.google.com/a/cpanel/customer-domain/TransferToken. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}/subscriptions/{subscriptionId}": {
			"delete": {
				"summary": "",
				"description": "Cancels/Downgrades a subscription.",
				"operationId": "reseller.subscriptions.delete",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "deletionType",
					"description": "Whether the subscription is to be fully cancelled or downgraded",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "Id of the subscription, which is unique for a customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a subscription of the customer.",
				"operationId": "reseller.subscriptions.get",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "Id of the subscription, which is unique for a customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}/subscriptions/{subscriptionId}/activate": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Activates a subscription previously suspended by the reseller",
				"operationId": "reseller.subscriptions.activate",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "Id of the subscription, which is unique for a customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}/subscriptions/{subscriptionId}/changePlan": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Changes the plan of a subscription",
				"operationId": "reseller.subscriptions.changePlan",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "Id of the subscription, which is unique for a customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}/subscriptions/{subscriptionId}/changeRenewalSettings": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Changes the renewal settings of a subscription",
				"operationId": "reseller.subscriptions.changeRenewalSettings",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "Id of the subscription, which is unique for a customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}/subscriptions/{subscriptionId}/changeSeats": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Changes the seats configuration of a subscription",
				"operationId": "reseller.subscriptions.changeSeats",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "Id of the subscription, which is unique for a customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}/subscriptions/{subscriptionId}/startPaidService": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Starts paid service of a trial subscription",
				"operationId": "reseller.subscriptions.startPaidService",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "Id of the subscription, which is unique for a customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/customers/{customerId}/subscriptions/{subscriptionId}/suspend": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Suspends an active subscription",
				"operationId": "reseller.subscriptions.suspend",
				"parameters": [{
					"in": "path",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "Id of the subscription, which is unique for a customer",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/subscriptions": {
			"get": {
				"summary": "",
				"description": "Lists subscriptions of a reseller, optionally filtered by a customer name prefix.",
				"operationId": "reseller.subscriptions.list",
				"parameters": [{
					"in": "query",
					"name": "customerAuthToken",
					"description": "An auth token needed if the customer is not a resold customer of this reseller. Can be generated at https://www.google.com/a/cpanel/customer-domain/TransferToken.Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerId",
					"description": "Id of the Customer",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerNamePrefix",
					"description": "Prefix of the customers domain name by which the subscriptions should be filtered. Optional",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token to specify next page in the list",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Address": {
			"properties": {
				"addressLine1": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"addressLine2": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"addressLine3": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contactName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"countryCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locality": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"organizationName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"postalCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ChangePlanRequest": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"planName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"purchaseOrderId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Customer": {
			"properties": {
				"alternateEmail": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customerDomain": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"phoneNumber": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceUiUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RenewalSettings": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"renewalType": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Seats": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"licensedNumberOfSeats": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maximumNumberOfSeats": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numberOfSeats": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Subscription": {
			"properties": {
				"billingMethod": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"plan": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"purchaseOrderId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceUiUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skuId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"subscriptionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"transferInfo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"trialSettings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Subscriptions": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"subscriptions": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}