{
	"swagger": "2.0",
	"info": {
		"title": "Enterprise Audit API",
		"description": "Lets you access user activities in your enterprise made through various applications.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/apps/reporting/audit/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{customerId}/{applicationId}": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of activities for a specific customer and application.",
				"operationId": "audit.activities.list",
				"parameters": [{
					"in": "query",
					"name": "actorApplicationId",
					"description": "Application ID of the application which interacted on behalf of the user while performing the event.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "actorEmail",
					"description": "Email address of the user who performed the action.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "actorIpAddress",
					"description": "IP Address of host where the event was performed. Supports both IPv4 and IPv6 addresses.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "applicationId",
					"description": "Application ID of the application on which the event was performed.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "caller",
					"description": "Type of the caller.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "continuationToken",
					"description": "Next page URL.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "customerId",
					"description": "Represents the customer who is the owner of target object on which action was performed.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endTime",
					"description": "Return events which occured at or before this time.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "eventName",
					"description": "Name of the event being queried.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Number of activity records to be shown in each page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startTime",
					"description": "Return events which occured at or after this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Activities": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"next": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Activity": {
			"properties": {
				"actor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"events": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ipAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ownerDomain": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}