{
	"swagger": "2.0",
	"info": {
		"title": "Fitness",
		"description": "Google Fit API",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/fitness/v1/users",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{userId}/dataSources": {
			"get": {
				"summary": "",
				"description": "Lists all data sources that are visible to the developer, using the OAuth scopes provided. The list is not exhaustive: the user may have private data sources that are only visible to other developers or calls using other scopes.",
				"operationId": "fitness.users.dataSources.list",
				"parameters": [{
					"in": "query",
					"name": "dataTypeName",
					"description": "The names of data types to include in the list. If not specified, all data sources will be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "List data sources for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new data source that is unique across all data sources belonging to this user. The data stream ID field can be omitted and will be generated by the server with the correct format. The data stream ID is an ordered combination of some fields from the data source. In addition to the data source fields reflected into the data source ID, the developer project number that is authenticated when creating the data source is included. This developer project number is obfuscated when read by any other developer reading public data types.",
				"operationId": "fitness.users.dataSources.create",
				"parameters": [{
					"in": "path",
					"name": "userId",
					"description": "Create the data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{userId}/dataSources/{dataSourceId}": {
			"delete": {
				"summary": "",
				"description": "Delete the data source if there are no datapoints associated with it",
				"operationId": "fitness.users.dataSources.delete",
				"parameters": [{
					"in": "path",
					"name": "dataSourceId",
					"description": "The data stream ID of the data source to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Retrieve a data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns a data source identified by a data stream ID.",
				"operationId": "fitness.users.dataSources.get",
				"parameters": [{
					"in": "path",
					"name": "dataSourceId",
					"description": "The data stream ID of the data source to retrieve.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Retrieve a data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates a given data source. It is an error to modify the data sources data stream ID, data type, type, stream name or device information apart from the device version. Changing these fields would require a new unique data stream ID and separate data source.nnData sources are identified by their data stream ID. This method supports patch semantics.",
				"operationId": "fitness.users.dataSources.patch",
				"parameters": [{
					"in": "path",
					"name": "dataSourceId",
					"description": "The data stream ID of the data source to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Update the data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a given data source. It is an error to modify the data sources data stream ID, data type, type, stream name or device information apart from the device version. Changing these fields would require a new unique data stream ID and separate data source.nnData sources are identified by their data stream ID.",
				"operationId": "fitness.users.dataSources.update",
				"parameters": [{
					"in": "path",
					"name": "dataSourceId",
					"description": "The data stream ID of the data source to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Update the data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{userId}/dataSources/{dataSourceId}/datasets/{datasetId}": {
			"delete": {
				"summary": "",
				"description": "Performs an inclusive delete of all data points whose start and end times have any overlap with the time range specified by the dataset ID. For most data types, the entire data point will be deleted. For data types where the time span represents a consistent value (such as com.google.activity.segment), and a data point straddles either end point of the dataset, only the overlapping portion of the data point will be deleted.",
				"operationId": "fitness.users.dataSources.datasets.delete",
				"parameters": [{
					"in": "query",
					"name": "currentTimeMillis",
					"description": "The clients current time in milliseconds since epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: startTime-endTime where startTime and endTime are 64 bit integers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "dataSourceId",
					"description": "The data stream ID of the data source that created the dataset.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "modifiedTimeMillis",
					"description": "When the operation was performed on the client.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Delete a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns a dataset containing all data points whose start and end times overlap with the specified range of the dataset minimum start time and maximum end time. Specifically, any data point whose start time is less than or equal to the dataset end time and whose end time is greater than or equal to the dataset start time.",
				"operationId": "fitness.users.dataSources.datasets.get",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: startTime-endTime where startTime and endTime are 64 bit integers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "dataSourceId",
					"description": "The data stream ID of the data source that created the dataset.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "If specified, no more than this many data points will be included in the dataset. If the there are more data points in the dataset, nextPageToken will be set in the dataset response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large datasets. To get the next page of a dataset, set this parameter to the value of nextPageToken from the previous response. Each subsequent call will yield a partial dataset with data point end timestamps that are strictly smaller than those in the previous partial response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Retrieve a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Adds data points to a dataset. The dataset need not be previously created. All points within the given dataset will be returned with subsquent calls to retrieve this dataset. Data points can belong to more than one dataset. This method does not use patch semantics.",
				"operationId": "fitness.users.dataSources.datasets.patch",
				"parameters": [{
					"in": "query",
					"name": "currentTimeMillis",
					"description": "The clients current time in milliseconds since epoch. Note that the minStartTimeNs and maxEndTimeNs properties in the request body are in nanoseconds instead of milliseconds.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "datasetId",
					"description": "Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: startTime-endTime where startTime and endTime are 64 bit integers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "dataSourceId",
					"description": "The data stream ID of the data source that created the dataset.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Patch a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{userId}/sessions": {
			"get": {
				"summary": "",
				"description": "Lists sessions previously created.",
				"operationId": "fitness.users.sessions.list",
				"parameters": [{
					"in": "query",
					"name": "endTime",
					"description": "An RFC3339 timestamp. Only sessions ending between the start and end times will be included in the response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeDeleted",
					"description": "If true, deleted sessions will be returned. When set to true, sessions returned in this response will only have an ID and will not have any other fields.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startTime",
					"description": "An RFC3339 timestamp. Only sessions ending between the start and end times will be included in the response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "List sessions for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{userId}/sessions/{sessionId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a session specified by the given session ID.",
				"operationId": "fitness.users.sessions.delete",
				"parameters": [{
					"in": "query",
					"name": "currentTimeMillis",
					"description": "The clients current time in milliseconds since epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "sessionId",
					"description": "The ID of the session to be deleted.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Delete a session for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates or insert a given session.",
				"operationId": "fitness.users.sessions.update",
				"parameters": [{
					"in": "query",
					"name": "currentTimeMillis",
					"description": "The clients current time in milliseconds since epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "sessionId",
					"description": "The ID of the session to be created.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Create sessions for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Application": {
			"properties": {
				"detailsUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"packageName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DataPoint": {
			"properties": {
				"computationTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dataTypeName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTimeNanos": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifiedTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"originDataSourceId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rawTimestampNanos": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTimeNanos": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DataSource": {
			"properties": {
				"dataStreamId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dataStreamName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DataType": {
			"properties": {
				"field": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DataTypeField": {
			"properties": {
				"format": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"optional": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Dataset": {
			"properties": {
				"dataSourceId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxEndTimeNs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"minStartTimeNs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"point": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Device": {
			"properties": {
				"manufacturer": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"model": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"uid": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListDataSourcesResponse": {
			"properties": {
				"dataSource": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListSessionsResponse": {
			"properties": {
				"deletedSession": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"session": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Session": {
			"properties": {
				"activeTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"activityType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifiedTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Value": {
			"properties": {
				"fpVal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"intVal": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}