{
	"swagger": "2.0",
	"info": {
		"title": "Freebase Search",
		"description": "Find Freebase entities using textual queries and other constraints.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/freebase/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/reconcile": {
			"get": {
				"summary": "",
				"description": "Reconcile entities to Freebase open data.",
				"operationId": "freebase.reconcile",
				"parameters": [{
					"in": "query",
					"name": "confidence",
					"description": "Required confidence for a candidate to match. Must be between .5 and 1.0",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "kind",
					"description": "Classifications of entity e.g. type, category, title.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "lang",
					"description": "Languages for names and values. First language is used for display. Default is en.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Maximum number of candidates to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Name of entity.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "prop",
					"description": "Property values for entity formatted asn:",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/search": {
			"get": {
				"summary": "",
				"description": "Search Freebase open data.",
				"operationId": "freebase.search",
				"parameters": [{
					"in": "query",
					"name": "as_of_time",
					"description": "A mql as_of_time value to use with mql_output queries.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "callback",
					"description": "JS method name for JSONP callbacks.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "cursor",
					"description": "The cursor value to use for the next page of results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "domain",
					"description": "Restrict to topics with this Freebase domain id.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "encode",
					"description": "The encoding of the response. You can use this parameter to enable html encoding.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "exact",
					"description": "Query on exact name and keys only.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "filter",
					"description": "A filter to apply to the query.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "format",
					"description": "Structural format of the json response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "help",
					"description": "The keyword to request help on.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "indent",
					"description": "Whether to indent the json results or not.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "lang",
					"description": "The code of the language to run the query with. Default is en.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Maximum number of results to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "mid",
					"description": "A mid to use instead of a query.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "mql_output",
					"description": "The MQL query to run againist the results to extract more data.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "output",
					"description": "An output expression to request data from matches.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "prefixed",
					"description": "Prefix match against names and aliases.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Query term to search for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "scoring",
					"description": "Relevance scoring algorithm to use.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "spell",
					"description": "Request did you mean suggestions",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "stemmed",
					"description": "Query on stemmed names and aliases. May not be used with prefixed.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "Restrict to topics with this Freebase type id.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "with",
					"description": "A rule to match against.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "without",
					"description": "A rule to not match against.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"ReconcileCandidate": {
			"properties": {
				"confidence": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lang": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mid": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notable": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReconcileGet": {
			"properties": {
				"candidate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"costs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warning": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}