{
	"swagger": "2.0",
	"info": {
		"title": "Fusion Tables API",
		"description": "API for working with Fusion Tables data.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/fusiontables/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/query": {
			"get": {
				"summary": "",
				"description": "Executes an SQL SELECT/SHOW/DESCRIBE statement.",
				"operationId": "fusiontables.query.sqlGet",
				"parameters": [{
					"in": "query",
					"name": "hdrs",
					"description": "Should column names be included (in the first row)?. Default is true.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sql",
					"description": "An SQL SELECT/SHOW/DESCRIBE statement.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "typed",
					"description": "Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Executes an SQL SELECT/INSERT/UPDATE/DELETE/SHOW/DESCRIBE/CREATE statement.",
				"operationId": "fusiontables.query.sql",
				"parameters": [{
					"in": "query",
					"name": "hdrs",
					"description": "Should column names be included (in the first row)?. Default is true.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sql",
					"description": "An SQL SELECT/SHOW/DESCRIBE/INSERT/UPDATE/DELETE/CREATE statement.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "typed",
					"description": "Should typed values be returned in the (JSON) response -- numbers for numeric values and parsed geometries for KML values? Default is true.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of tables a user owns.",
				"operationId": "fusiontables.table.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of styles to return. Optional. Default is 5.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Continuation token specifying which result page to return. Optional.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new table.",
				"operationId": "fusiontables.table.insert",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/import": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Import a new table.",
				"operationId": "fusiontables.table.importTable",
				"parameters": [{
					"in": "query",
					"name": "delimiter",
					"description": "The delimiter used to separate cell values. This can only consist of a single character. Default is ,.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "encoding",
					"description": "The encoding of the content. Default is UTF-8. Use auto-detect if you are unsure of the encoding.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "The name to be assigned to the new table.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a table.",
				"operationId": "fusiontables.table.delete",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "ID of the table that is being deleted.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a specific table by its id.",
				"operationId": "fusiontables.table.get",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Identifier(ID) for the table being requested.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated. This method supports patch semantics.",
				"operationId": "fusiontables.table.patch",
				"parameters": [{
					"in": "query",
					"name": "replaceViewDefinition",
					"description": "Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "ID of the table that is being updated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing table. Unless explicitly requested, only the name, description, and attribution will be updated.",
				"operationId": "fusiontables.table.update",
				"parameters": [{
					"in": "query",
					"name": "replaceViewDefinition",
					"description": "Should the view definition also be updated? The specified view definition replaces the existing one. Only a view can be updated with a new definition.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "ID of the table that is being updated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/columns": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of columns.",
				"operationId": "fusiontables.column.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of columns to return. Optional. Default is 5.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Continuation token specifying which result page to return. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table whose columns are being listed.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Adds a new column to the table.",
				"operationId": "fusiontables.column.insert",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table for which a new column is being added.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/columns/{columnId}": {
			"delete": {
				"summary": "",
				"description": "Deletes the column.",
				"operationId": "fusiontables.column.delete",
				"parameters": [{
					"in": "path",
					"name": "columnId",
					"description": "Name or identifier for the column being deleted.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table from which the column is being deleted.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a specific column by its id.",
				"operationId": "fusiontables.column.get",
				"parameters": [{
					"in": "path",
					"name": "columnId",
					"description": "Name or identifier for the column that is being requested.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table to which the column belongs.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates the name or type of an existing column. This method supports patch semantics.",
				"operationId": "fusiontables.column.patch",
				"parameters": [{
					"in": "path",
					"name": "columnId",
					"description": "Name or identifier for the column that is being updated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table for which the column is being updated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates the name or type of an existing column.",
				"operationId": "fusiontables.column.update",
				"parameters": [{
					"in": "path",
					"name": "columnId",
					"description": "Name or identifier for the column that is being updated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table for which the column is being updated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/copy": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Copies a table.",
				"operationId": "fusiontables.table.copy",
				"parameters": [{
					"in": "query",
					"name": "copyPresentation",
					"description": "Whether to also copy tabs, styles, and templates. Default is false.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "ID of the table that is being copied.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/import": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Import more rows into a table.",
				"operationId": "fusiontables.table.importRows",
				"parameters": [{
					"in": "query",
					"name": "delimiter",
					"description": "The delimiter used to separate cell values. This can only consist of a single character. Default is ,.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "encoding",
					"description": "The encoding of the content. Default is UTF-8. Use auto-detect if you are unsure of the encoding.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endLine",
					"description": "The index of the last line from which to start importing, exclusive. Thus, the number of imported lines is endLine - startLine. If this parameter is not provided, the file will be imported until the last line of the file. If endLine is negative, then the imported content will exclude the last endLine lines. That is, if endline is negative, no line will be imported whose index is greater than N + endLine where N is the number of lines in the file, and the number of imported lines will be N + endL",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "isStrict",
					"description": "Whether the CSV must have the same number of values for each row. If false, rows with fewer values will be padded with empty values. Default is true.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startLine",
					"description": "The index of the first line from which to start importing, inclusive. Default is 0.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "The table into which new rows are being imported.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/styles": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of styles.",
				"operationId": "fusiontables.style.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of styles to return. Optional. Default is 5.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Continuation token specifying which result page to return. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table whose styles are being listed",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Adds a new style for the table.",
				"operationId": "fusiontables.style.insert",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table for which a new style is being added",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/styles/{styleId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a style.",
				"operationId": "fusiontables.style.delete",
				"parameters": [{
					"in": "path",
					"name": "styleId",
					"description": "Identifier (within a table) for the style being deleted",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table from which the style is being deleted",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a specific style.",
				"operationId": "fusiontables.style.get",
				"parameters": [{
					"in": "path",
					"name": "styleId",
					"description": "Identifier (integer) for a specific style in a table",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table to which the requested style belongs",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing style. This method supports patch semantics.",
				"operationId": "fusiontables.style.patch",
				"parameters": [{
					"in": "path",
					"name": "styleId",
					"description": "Identifier (within a table) for the style being updated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table whose style is being updated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing style.",
				"operationId": "fusiontables.style.update",
				"parameters": [{
					"in": "path",
					"name": "styleId",
					"description": "Identifier (within a table) for the style being updated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table whose style is being updated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/tasks": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of tasks.",
				"operationId": "fusiontables.task.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of columns to return. Optional. Default is 5.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startIndex",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Table whose tasks are being listed.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/tasks/{taskId}": {
			"delete": {
				"summary": "",
				"description": "Deletes the task, unless already started.",
				"operationId": "fusiontables.task.delete",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table from which the task is being deleted.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a specific task by its id.",
				"operationId": "fusiontables.task.get",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table to which the task belongs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskId",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/templates": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of templates.",
				"operationId": "fusiontables.template.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of templates to return. Optional. Default is 5.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Continuation token specifying which results page to return. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tableId",
					"description": "Identifier for the table whose templates are being requested",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new template for the table.",
				"operationId": "fusiontables.template.insert",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table for which a new template is being created",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tables/{tableId}/templates/{templateId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a template",
				"operationId": "fusiontables.template.delete",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table from which the template is being deleted",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "templateId",
					"description": "Identifier for the template which is being deleted",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves a specific template by its id",
				"operationId": "fusiontables.template.get",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table to which the template belongs",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "templateId",
					"description": "Identifier for the template that is being requested",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing template. This method supports patch semantics.",
				"operationId": "fusiontables.template.patch",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table to which the updated template belongs",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "templateId",
					"description": "Identifier for the template that is being updated",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing template",
				"operationId": "fusiontables.template.update",
				"parameters": [{
					"in": "path",
					"name": "tableId",
					"description": "Table to which the updated template belongs",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "templateId",
					"description": "Identifier for the template that is being updated",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Bucket": {
			"properties": {
				"color": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"icon": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"max": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"min": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"opacity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"weight": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Column": {
			"properties": {
				"baseColumn": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"columnId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"graph_predicate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ColumnList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Geometry": {
			"properties": {
				"geometries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Import": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numRowsReceived": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Line": {
			"properties": {
				"coordinates": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LineStyle": {
			"properties": {
				"strokeColor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"strokeOpacity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"strokeWeight": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Point": {
			"properties": {
				"coordinates": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PointStyle": {
			"properties": {
				"iconName": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Polygon": {
			"properties": {
				"coordinates": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PolygonStyle": {
			"properties": {
				"fillColor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fillOpacity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"strokeColor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"strokeOpacity": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"strokeWeight": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Sqlresponse": {
			"properties": {
				"columns": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"StyleFunction": {
			"properties": {
				"buckets": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"columnName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gradient": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"StyleSetting": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"styleId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tableId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"StyleSettingList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Table": {
			"properties": {
				"attribution": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"attributionLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"baseTableIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"columns": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isExportable": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sql": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tableId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TableList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Task": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"started": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"taskId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TaskList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Template": {
			"properties": {
				"automaticColumnNames": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"body": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tableId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"templateId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TemplateList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}