{
	"swagger": "2.0",
	"info": {
		"title": "Google Site Verification API",
		"description": "Lets you programatically verify ownership of websites or domains with Google.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/siteVerification/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/token": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Get a verification token for placing on a website or domain.",
				"operationId": "siteVerification.webResource.getToken",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/webResource": {
			"get": {
				"summary": "",
				"description": "Get the list of your verified websites and domains.",
				"operationId": "siteVerification.webResource.list",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Attempt verification of a website or domain.",
				"operationId": "siteVerification.webResource.insert",
				"parameters": [{
					"in": "query",
					"name": "verificationMethod",
					"description": "The method to use for verifying a site or domain.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/webResource/{id}": {
			"delete": {
				"summary": "",
				"description": "Relinquish ownership of a website or domain.",
				"operationId": "siteVerification.webResource.delete",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The id of a verified site or domain.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get the most current data for a website or domain.",
				"operationId": "siteVerification.webResource.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The id of a verified site or domain.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Modify the list of owners for your website or domain. This method supports patch semantics.",
				"operationId": "siteVerification.webResource.patch",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The id of a verified site or domain.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Modify the list of owners for your website or domain.",
				"operationId": "siteVerification.webResource.update",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The id of a verified site or domain.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"SiteVerificationWebResourceGettokenRequest": {
			"properties": {
				"site": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verificationMethod": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SiteVerificationWebResourceGettokenResponse": {
			"properties": {
				"method": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"token": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SiteVerificationWebResourceListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SiteVerificationWebResourceResource": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"owners": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"site": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}