{
	"swagger": "2.0",
	"info": {
		"title": "Google Identity Toolkit API",
		"description": "Help the third party sites to implement federated login.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v3"
	},
	"host": "www.googleapis.com",
	"basePath": "/identitytoolkit/v3/relyingparty",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/createAuthUri": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates the URI used by the IdP to authenticate the user.",
				"operationId": "identitytoolkit.relyingparty.createAuthUri",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/deleteAccount": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Delete user account.",
				"operationId": "identitytoolkit.relyingparty.deleteAccount",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/downloadAccount": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Batch download user accounts.",
				"operationId": "identitytoolkit.relyingparty.downloadAccount",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/getAccountInfo": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Returns the account info.",
				"operationId": "identitytoolkit.relyingparty.getAccountInfo",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/getOobConfirmationCode": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Get a code for user action confirmation.",
				"operationId": "identitytoolkit.relyingparty.getOobConfirmationCode",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/getRecaptchaParam": {
			"get": {
				"summary": "",
				"description": "Get recaptcha secure param.",
				"operationId": "identitytoolkit.relyingparty.getRecaptchaParam",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/publicKeys": {
			"get": {
				"summary": "",
				"description": "Get token signing public key.",
				"operationId": "identitytoolkit.relyingparty.getPublicKeys",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/resetPassword": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Reset password for a user.",
				"operationId": "identitytoolkit.relyingparty.resetPassword",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/setAccountInfo": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Set account info for a user.",
				"operationId": "identitytoolkit.relyingparty.setAccountInfo",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/uploadAccount": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Batch upload existing user accounts.",
				"operationId": "identitytoolkit.relyingparty.uploadAccount",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/verifyAssertion": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Verifies the assertion returned by the IdP.",
				"operationId": "identitytoolkit.relyingparty.verifyAssertion",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/verifyPassword": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Verifies the user entered password.",
				"operationId": "identitytoolkit.relyingparty.verifyPassword",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"CreateAuthUriResponse": {
			"properties": {
				"authUri": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"captchaRequired": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"forExistingProvider": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"providerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"registered": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeleteAccountResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DownloadAccountResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"users": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GetAccountInfoResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"users": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GetOobConfirmationCodeResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oobCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GetRecaptchaParamResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"recaptchaSiteKey": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"recaptchaStoken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartyCreateAuthUriRequest": {
			"properties": {
				"appId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"clientId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"context": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"continueUri": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"identifier": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oauthConsumerKey": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oauthScope": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"openidRealm": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"otaApp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"providerId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartyDeleteAccountRequest": {
			"properties": {
				"localId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartyDownloadAccountRequest": {
			"properties": {
				"maxResults": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartyGetAccountInfoRequest": {
			"properties": {
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"idToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"localId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartyResetPasswordRequest": {
			"properties": {
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"newPassword": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oldPassword": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oobCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartySetAccountInfoRequest": {
			"properties": {
				"captchaChallenge": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"captchaResponse": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disableUser": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emailVerified": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"idToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"localId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oobCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"password": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"provider": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"upgradeToFederatedLogin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"validSince": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartyUploadAccountRequest": {
			"properties": {
				"hashAlgorithm": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"memoryCost": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rounds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saltSeparator": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"signerKey": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"users": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartyVerifyAssertionRequest": {
			"properties": {
				"pendingIdToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"postBody": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requestUri": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"returnRefreshToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"IdentitytoolkitRelyingpartyVerifyPasswordRequest": {
			"properties": {
				"captchaChallenge": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"captchaResponse": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"password": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pendingIdToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Relyingparty": {
			"properties": {
				"captchaResp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"challenge": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"idToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"newEmail": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requestType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"userIp": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ResetPasswordResponse": {
			"properties": {
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SetAccountInfoResponse": {
			"properties": {
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"idToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"providerUserInfo": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UploadAccountResponse": {
			"properties": {
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UserInfo": {
			"properties": {
				"disabled": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emailVerified": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"localId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"passwordHash": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"passwordUpdatedAt": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"photoUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"providerUserInfo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"salt": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"validSince": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"VerifyAssertionResponse": {
			"properties": {
				"action": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"appInstallationUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"appScheme": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"context": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dateOfBirth": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emailRecycled": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emailVerified": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"federatedId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"firstName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fullName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"idToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"inputEmail": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"language": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"localId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"needConfirmation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nickName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oauthAccessToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oauthAuthorizationCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oauthExpireIn": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oauthRequestToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oauthScope": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"originalEmail": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"photoUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"providerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeZone": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verifiedProvider": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"VerifyPasswordResponse": {
			"properties": {
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"idToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"localId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"photoUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"registered": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}