{
	"swagger": "2.0",
	"info": {
		"title": "Google Spectrum Database API",
		"description": "API for spectrum-management functions.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1explorer"
	},
	"host": "www.googleapis.com",
	"basePath": "/spectrum/v1explorer/paws",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/getSpectrum": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Requests information about the available spectrum for a device at a location. Requests from a fixed-mode device must include owner information so the device can be registered with the database.",
				"operationId": "spectrum.paws.getSpectrum",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/getSpectrumBatch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "The Google Spectrum Database does not support batch requests, so this method always yields an UNIMPLEMENTED error.",
				"operationId": "spectrum.paws.getSpectrumBatch",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/init": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Initializes the connection between a white space device and the database.",
				"operationId": "spectrum.paws.init",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/notifySpectrumUse": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Notifies the database that the device has selected certain frequency ranges for transmission. Only to be invoked when required by the regulator. The Google Spectrum Database does not operate in domains that require notification, so this always yields an UNIMPLEMENTED error.",
				"operationId": "spectrum.paws.notifySpectrumUse",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/register": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "The Google Spectrum Database implements registration in the getSpectrum method. As such this always returns an UNIMPLEMENTED error.",
				"operationId": "spectrum.paws.register",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/verifyDevice": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Validates a device for white space use in accordance with regulatory rules. The Google Spectrum Database does not support master/slave configurations, so this always yields an UNIMPLEMENTED error.",
				"operationId": "spectrum.paws.verifyDevice",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"AntennaCharacteristics": {
			"properties": {
				"height": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"heightType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"heightUncertainty": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DatabaseSpec": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"uri": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DbUpdateSpec": {
			"properties": {
				"databases": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeviceCapabilities": {
			"properties": {
				"frequencyRanges": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeviceDescriptor": {
			"properties": {
				"etsiEnDeviceCategory": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etsiEnDeviceEmissionsClass": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etsiEnDeviceType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etsiEnTechnologyId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fccId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fccTvbdDeviceType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"manufacturerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modelId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rulesetIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"serialNumber": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeviceOwner": {
			"properties": []
		},
		"DeviceValidity": {
			"properties": {
				"isValid": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reason": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventTime": {
			"properties": {
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"stopTime": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FrequencyRange": {
			"properties": {
				"channelId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxPowerDBm": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startHz": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"stopHz": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GeoLocation": {
			"properties": {
				"confidence": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GeoLocationEllipse": {
			"properties": {
				"orientation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"semiMajorAxis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"semiMinorAxis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GeoLocationPoint": {
			"properties": {
				"latitude": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"longitude": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GeoLocationPolygon": {
			"properties": {
				"exterior": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GeoSpectrumSchedule": {
			"properties": {
				"spectrumSchedules": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsGetSpectrumBatchRequest": {
			"properties": {
				"locations": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requestType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsGetSpectrumBatchResponse": {
			"properties": {
				"geoSpectrumSchedules": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxContiguousBwHz": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxTotalBwHz": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"needsSpectrumReport": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsGetSpectrumRequest": {
			"properties": {
				"requestType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsGetSpectrumResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxContiguousBwHz": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxTotalBwHz": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"needsSpectrumReport": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"spectrumSchedules": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsInitRequest": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsInitResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsNotifySpectrumUseRequest": {
			"properties": {
				"spectra": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsNotifySpectrumUseResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsRegisterRequest": {
			"properties": {
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsRegisterResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsVerifyDeviceRequest": {
			"properties": {
				"deviceDescs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PawsVerifyDeviceResponse": {
			"properties": {
				"deviceValidities": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RulesetInfo": {
			"properties": {
				"authority": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxLocationChange": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxPollingSecs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rulesetIds": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SpectrumMessage": {
			"properties": {
				"bandwidth": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"frequencyRanges": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SpectrumSchedule": {
			"properties": {
				"spectra": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Vcard": {
			"properties": {
				"fn": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"VcardAddress": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"country": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locality": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pobox": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"street": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"VcardTelephone": {
			"properties": {
				"uri": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"VcardTypedText": {
			"properties": {
				"text": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}