{
	"swagger": "2.0",
	"info": {
		"title": "Google Compute Engine Autoscaler API",
		"description": "The Google Compute Engine Autoscaler API provides autoscaling for groups of Cloud VMs.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta2"
	},
	"host": "www.googleapis.com",
	"basePath": "/autoscaler/v1beta2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/projects/{project}/zones/{zone}/autoscalers": {
			"get": {
				"summary": "",
				"description": "Lists all Autoscaler resources in this zone.",
				"operationId": "autoscaler.autoscalers.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Zone name of Autoscaler resource.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Adds new Autoscaler resource.",
				"operationId": "autoscaler.autoscalers.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "Project ID of Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Zone name of Autoscaler resource.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/projects/{project}/zones/{zone}/autoscalers/{autoscaler}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified Autoscaler resource.",
				"operationId": "autoscaler.autoscalers.delete",
				"parameters": [{
					"in": "path",
					"name": "autoscaler",
					"description": "Name of the Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Zone name of Autoscaler resource.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets the specified Autoscaler resource.",
				"operationId": "autoscaler.autoscalers.get",
				"parameters": [{
					"in": "path",
					"name": "autoscaler",
					"description": "Name of the Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Zone name of Autoscaler resource.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update the entire content of the Autoscaler resource. This method supports patch semantics.",
				"operationId": "autoscaler.autoscalers.patch",
				"parameters": [{
					"in": "path",
					"name": "autoscaler",
					"description": "Name of the Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Zone name of Autoscaler resource.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update the entire content of the Autoscaler resource.",
				"operationId": "autoscaler.autoscalers.update",
				"parameters": [{
					"in": "path",
					"name": "autoscaler",
					"description": "Name of the Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Project ID of Autoscaler resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Zone name of Autoscaler resource.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "autoscaler.zones.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/operations": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of operation resources contained within the specified zone.",
				"operationId": "autoscaler.zoneOperations.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/operations/{operation}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified zone-specific operation resource.",
				"operationId": "autoscaler.zoneOperations.delete",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves the specified zone-specific operation resource.",
				"operationId": "autoscaler.zoneOperations.get",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Autoscaler": {
			"properties": {
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"target": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AutoscalerListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AutoscalingPolicy": {
			"properties": {
				"coolDownPeriodSec": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customMetricUtilizations": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxNumReplicas": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"minNumReplicas": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AutoscalingPolicyCpuUtilization": {
			"properties": {
				"utilizationTarget": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AutoscalingPolicyCustomMetricUtilization": {
			"properties": {
				"metric": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"utilizationTarget": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"utilizationTargetType": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AutoscalingPolicyLoadBalancingUtilization": {
			"properties": {
				"utilizationTarget": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeprecationStatus": {
			"properties": {
				"deleted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deprecated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"obsolete": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"replacement": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Operation": {
			"properties": {
				"clientOperationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorStatusCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statusMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"zone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"OperationList": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Zone": {
			"properties": {
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maintenanceWindows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneList": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}