{
	"swagger": "2.0",
	"info": {
		"title": "Google Cloud Deployment Manager API V2",
		"description": "The Deployment Manager API allows users to declaratively configure, deploy and run complex solutions on the Google Cloud Platform.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2beta1"
	},
	"host": "www.googleapis.com",
	"basePath": "/deploymentmanager/v2beta1/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{project}/global/deployments": {
			"get": {
				"summary": "",
				"description": "! Lists all deployments for a given project.",
				"operationId": "deploymentmanager.deployments.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "! Creates a deployment and all of the resources described by the ! deployment manifest.",
				"operationId": "deploymentmanager.deployments.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/deployments/{deployment}": {
			"delete": {
				"summary": "",
				"description": "! Deletes a deployment and all of the resources in the deployment.",
				"operationId": "deploymentmanager.deployments.delete",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "! The name of the deployment for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "! Gets information about a specific deployment.",
				"operationId": "deploymentmanager.deployments.get",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "! The name of the deployment for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/deployments/{deployment}/manifests": {
			"get": {
				"summary": "",
				"description": "! Lists all manifests for a given deployment.",
				"operationId": "deploymentmanager.manifests.list",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "! The name of the deployment for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/deployments/{deployment}/manifests/{manifest}": {
			"get": {
				"summary": "",
				"description": "! Gets information about a specific manifest.",
				"operationId": "deploymentmanager.manifests.get",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "! The name of the deployment for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "manifest",
					"description": "! The name of the manifest for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/deployments/{deployment}/resources": {
			"get": {
				"summary": "",
				"description": "! Lists all resources in a given deployment.",
				"operationId": "deploymentmanager.resources.list",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "! The name of the deployment for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/deployments/{deployment}/resources/{resource}": {
			"get": {
				"summary": "",
				"description": "! Gets information about a single resource.",
				"operationId": "deploymentmanager.resources.get",
				"parameters": [{
					"in": "path",
					"name": "deployment",
					"description": "! The name of the deployment for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resource",
					"description": "! The name of the resource for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/operations": {
			"get": {
				"summary": "",
				"description": "! Lists all Operations for a project.",
				"operationId": "deploymentmanager.operations.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/operations/{operation}": {
			"get": {
				"summary": "",
				"description": "! Gets information about a specific Operation.",
				"operationId": "deploymentmanager.operations.get",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "! The name of the operation for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/global/types": {
			"get": {
				"summary": "",
				"description": "! Lists all Types for Deployment Manager.",
				"operationId": "deploymentmanager.types.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "! Maximum count of results to be returned. ! Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "! Specifies a nextPageToken returned by a previous list request. This ! token can be used to request the next page of results from a previous ! list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "! The project ID for this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Deployment": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"manifest": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetConfig": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DeploymentsListResponse": {
			"properties": {
				"deployments": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Manifest": {
			"properties": {
				"config": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"evaluatedConfig": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ManifestsListResponse": {
			"properties": {
				"manifests": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Operation": {
			"properties": {
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorStatusCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statusMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"OperationsListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operations": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Resource": {
			"properties": {
				"errors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"intent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"manifest": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ResourcesListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Type": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TypesListResponse": {
			"properties": {
				"types": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}