{
	"swagger": "2.0",
	"info": {
		"title": "Google+ Domains API",
		"description": "The Google+ API enables developers to build on top of the Google+ platform.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/plusDomains/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/activities/{activityId}": {
			"get": {
				"summary": "",
				"description": "Get an activity.",
				"operationId": "plusDomains.activities.get",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/activities/{activityId}/comments": {
			"get": {
				"summary": "",
				"description": "List all of the comments for an activity.",
				"operationId": "plusDomains.comments.list",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get comments for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of comments to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "The order in which to sort the list of comments.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a new comment in reply to an activity.",
				"operationId": "plusDomains.comments.insert",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to reply to.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/activities/{activityId}/people/{collection}": {
			"get": {
				"summary": "",
				"description": "List all of the people in the specified collection for a particular activity.",
				"operationId": "plusDomains.people.listByActivity",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get the list of people for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "collection",
					"description": "The collection of people to list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/circles/{circleId}": {
			"delete": {
				"summary": "",
				"description": "Delete a circle.",
				"operationId": "plusDomains.circles.remove",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get a circle.",
				"operationId": "plusDomains.circles.get",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update a circles description. This method supports patch semantics.",
				"operationId": "plusDomains.circles.patch",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to update.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update a circles description.",
				"operationId": "plusDomains.circles.update",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to update.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/circles/{circleId}/people": {
			"delete": {
				"summary": "",
				"description": "Remove a person from a circle.",
				"operationId": "plusDomains.circles.removePeople",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to remove the person from.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Email of the people to add to the circle. Optional, can be repeated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "userId",
					"description": "IDs of the people to remove from the circle. Optional, can be repeated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "List all of the people who are members of a circle.",
				"operationId": "plusDomains.people.listByCircle",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to get the members of.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Add a person to a circle. Google+ limits certain circle operations, including the number of circle adds. Learn More.",
				"operationId": "plusDomains.circles.addPeople",
				"parameters": [{
					"in": "path",
					"name": "circleId",
					"description": "The ID of the circle to add the person to.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Email of the people to add to the circle. Optional, can be repeated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "userId",
					"description": "IDs of the people to add to the circle. Optional, can be repeated.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/comments/{commentId}": {
			"get": {
				"summary": "",
				"description": "Get a comment.",
				"operationId": "plusDomains.comments.get",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}": {
			"get": {
				"summary": "",
				"description": "Get a persons profile.",
				"operationId": "plusDomains.people.get",
				"parameters": [{
					"in": "path",
					"name": "userId",
					"description": "The ID of the person to get the profile for. The special value me can be used to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/activities": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a new activity for the authenticated user.",
				"operationId": "plusDomains.activities.insert",
				"parameters": [{
					"in": "query",
					"name": "preview",
					"description": "If true, extract the potential media attachments for a URL. The response will include all possible attachments for a URL, including video, photos, and articles based on the content of the page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to create the activity on behalf of. Its value should be me, to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/activities/{collection}": {
			"get": {
				"summary": "",
				"description": "List all of the activities in the specified collection for a particular user.",
				"operationId": "plusDomains.activities.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of activities to list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of activities to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to get activities for. The special value me can be used to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/audiences": {
			"get": {
				"summary": "",
				"description": "List all of the audiences to which a user can share.",
				"operationId": "plusDomains.audiences.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of circles to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to get audiences for. The special value me can be used to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/circles": {
			"get": {
				"summary": "",
				"description": "List all of the circles for a user.",
				"operationId": "plusDomains.circles.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of circles to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to get circles for. The special value me can be used to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a new circle for the authenticated user.",
				"operationId": "plusDomains.circles.insert",
				"parameters": [{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to create the circle on behalf of. The value me can be used to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/media/{collection}": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Add a new media item to an album. The current upload size limitations are 36MB for a photo and 1GB for a video. Uploads do not count against quota if photos are less than 2048 pixels on their longest side or videos are less than 15 minutes in length.",
				"operationId": "plusDomains.media.insert",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to create the activity on behalf of.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/people/{collection}": {
			"get": {
				"summary": "",
				"description": "List all of the people in the specified collection.",
				"operationId": "plusDomains.people.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of people to list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "The order to return people in.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Get the collection of people for the person identified. Use me to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Acl": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"domainRestricted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Activity": {
			"properties": {
				"actor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"address": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"annotation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"crosspostSource": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"geocode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"object": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placeId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placeName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"provider": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"radius": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verb": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ActivityFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Audience": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"memberCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"visibility": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AudiencesFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Circle": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"people": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CircleFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Comment": {
			"properties": {
				"actor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"inReplyTo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"object": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"plusoners": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verb": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CommentFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Media": {
			"properties": {
				"author": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"exif": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"height": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mediaCreatedTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mediaUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sizeBytes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"streams": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"summary": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"videoDuration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"videoStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"width": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PeopleFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Person": {
			"properties": {
				"aboutMe": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"birthday": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"braggingRights": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"circledByCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cover": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currentLocation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"domain": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emails": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gender": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"image": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isPlusUser": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nickname": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"objectType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"occupation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"organizations": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placesLived": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"plusOneCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"relationshipStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skills": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tagline": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"urls": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verified": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Place": {
			"properties": {
				"address": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"position": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlusDomainsAclentryResource": {
			"properties": {
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Videostream": {
			"properties": {
				"height": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"width": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}