{
	"swagger": "2.0",
	"info": {
		"title": "Google Maps Coordinate API",
		"description": "Lets you view and manage jobs in a Coordinate team.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/coordinate/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/teams": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of teams for a user.",
				"operationId": "coordinate.team.list",
				"parameters": [{
					"in": "query",
					"name": "admin",
					"description": "Whether to include teams for which the user has the Admin role.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dispatcher",
					"description": "Whether to include teams for which the user has the Dispatcher role.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "worker",
					"description": "Whether to include teams for which the user has the Worker role.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/teams/{teamId}/custom_fields": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of custom field definitions for a team.",
				"operationId": "coordinate.customFieldDef.list",
				"parameters": [{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/teams/{teamId}/jobs": {
			"get": {
				"summary": "",
				"description": "Retrieves jobs created or modified since the given timestamp.",
				"operationId": "coordinate.jobs.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return in one page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minModifiedTimestampMs",
					"description": "Minimum time a job was modified in milliseconds since epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Continuation token",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new job. Only the state field of the job should be set.",
				"operationId": "coordinate.jobs.insert",
				"parameters": [{
					"in": "query",
					"name": "address",
					"description": "Job address as newline (Unix) separated string",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "assignee",
					"description": "Assignee email address, or empty string to unassign.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerName",
					"description": "Customer name",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerPhoneNumber",
					"description": "Customer phone number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customField",
					"description": "Sets the value of custom fields. To set a custom field, pass the field id (from /team/teamId/custom_fields), a URL escaped = character, and the desired value as a parameter. For example, customField=12%3DAlice. Repeat the parameter for each custom field. Note that = cannot appear in the parameter value. Specifying an invalid, or inactive enum field will result in an error 500.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "lat",
					"description": "The latitude coordinate of this jobs location.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "lng",
					"description": "The longitude coordinate of this jobs location.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "note",
					"description": "Job note as newline (Unix) separated string",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "Job title",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/teams/{teamId}/jobs/{jobId}": {
			"get": {
				"summary": "",
				"description": "Retrieves a job, including all the changes made to the job.",
				"operationId": "coordinate.jobs.get",
				"parameters": [{
					"in": "path",
					"name": "jobId",
					"description": "Job number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates a job. Fields that are set in the job state will be updated. This method supports patch semantics.",
				"operationId": "coordinate.jobs.patch",
				"parameters": [{
					"in": "query",
					"name": "address",
					"description": "Job address as newline (Unix) separated string",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "assignee",
					"description": "Assignee email address, or empty string to unassign.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerName",
					"description": "Customer name",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerPhoneNumber",
					"description": "Customer phone number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customField",
					"description": "Sets the value of custom fields. To set a custom field, pass the field id (from /team/teamId/custom_fields), a URL escaped = character, and the desired value as a parameter. For example, customField=12%3DAlice. Repeat the parameter for each custom field. Note that = cannot appear in the parameter value. Specifying an invalid, or inactive enum field will result in an error 500.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "jobId",
					"description": "Job number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "lat",
					"description": "The latitude coordinate of this jobs location.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "lng",
					"description": "The longitude coordinate of this jobs location.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "note",
					"description": "Job note as newline (Unix) separated string",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "progress",
					"description": "Job progress",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "Job title",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a job. Fields that are set in the job state will be updated.",
				"operationId": "coordinate.jobs.update",
				"parameters": [{
					"in": "query",
					"name": "address",
					"description": "Job address as newline (Unix) separated string",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "assignee",
					"description": "Assignee email address, or empty string to unassign.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerName",
					"description": "Customer name",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customerPhoneNumber",
					"description": "Customer phone number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "customField",
					"description": "Sets the value of custom fields. To set a custom field, pass the field id (from /team/teamId/custom_fields), a URL escaped = character, and the desired value as a parameter. For example, customField=12%3DAlice. Repeat the parameter for each custom field. Note that = cannot appear in the parameter value. Specifying an invalid, or inactive enum field will result in an error 500.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "jobId",
					"description": "Job number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "lat",
					"description": "The latitude coordinate of this jobs location.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "lng",
					"description": "The longitude coordinate of this jobs location.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "note",
					"description": "Job note as newline (Unix) separated string",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "progress",
					"description": "Job progress",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "Job title",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/teams/{teamId}/jobs/{jobId}/schedule": {
			"get": {
				"summary": "",
				"description": "Retrieves the schedule for a job.",
				"operationId": "coordinate.schedule.get",
				"parameters": [{
					"in": "path",
					"name": "jobId",
					"description": "Job number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Replaces the schedule of a job with the provided schedule. This method supports patch semantics.",
				"operationId": "coordinate.schedule.patch",
				"parameters": [{
					"in": "query",
					"name": "allDay",
					"description": "Whether the job is scheduled for the whole day. Time of day in start/end times is ignored if this is true.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "duration",
					"description": "Job duration in milliseconds.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endTime",
					"description": "Scheduled end time in milliseconds since epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "jobId",
					"description": "Job number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startTime",
					"description": "Scheduled start time in milliseconds since epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Replaces the schedule of a job with the provided schedule.",
				"operationId": "coordinate.schedule.update",
				"parameters": [{
					"in": "query",
					"name": "allDay",
					"description": "Whether the job is scheduled for the whole day. Time of day in start/end times is ignored if this is true.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "duration",
					"description": "Job duration in milliseconds.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endTime",
					"description": "Scheduled end time in milliseconds since epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "jobId",
					"description": "Job number",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startTime",
					"description": "Scheduled start time in milliseconds since epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/teams/{teamId}/workers": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of workers in a team.",
				"operationId": "coordinate.worker.list",
				"parameters": [{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/teams/{teamId}/workers/{workerEmail}/locations": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of locations for a worker.",
				"operationId": "coordinate.location.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of results to return in one page.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Continuation token",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startTimestampMs",
					"description": "Start timestamp in milliseconds since the epoch.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "teamId",
					"description": "Team ID",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "workerEmail",
					"description": "Worker email address.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"CustomField": {
			"properties": {
				"customFieldId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomFieldDef": {
			"properties": {
				"enabled": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"enumitems": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requiredForCheckout": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomFieldDefListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CustomFields": {
			"properties": {
				"customField": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EnumItemDef": {
			"properties": {
				"active": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Job": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"jobChange": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobChange": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"JobState": {
			"properties": {
				"assignee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customerName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customerPhoneNumber": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"note": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Location": {
			"properties": {
				"addressLine": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lat": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lng": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LocationListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LocationRecord": {
			"properties": {
				"collectionTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"confidenceRadius": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"latitude": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"longitude": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Schedule": {
			"properties": {
				"allDay": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"duration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Team": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TeamListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TokenPagination": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"previousPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Worker": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"WorkerListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}