{
	"swagger": "2.0",
	"info": {
		"title": "Google Compute Engine Instance Group Updater API",
		"description": "The Google Compute Engine Instance Group Updater API provides services for updating groups of Compute Engine Instances.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta1"
	},
	"host": "www.googleapis.com",
	"basePath": "/replicapoolupdater/v1beta1/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{project}/zones/{zone}/operations/{operation}": {
			"get": {
				"summary": "",
				"description": "Retrieves the specified zone-specific operation resource.",
				"operationId": "replicapoolupdater.zoneOperations.get",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "Name of the operation resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Name of the zone scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/rollingUpdates": {
			"get": {
				"summary": "",
				"description": "Lists recent updates for a given managed instance group, in reverse chronological order and paginated format.",
				"operationId": "replicapoolupdater.rollingUpdates.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Optional. Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "instanceGroupManager",
					"description": "The name of the instance group manager. Use this parameter to return only updates to instances that are part of a specific instance group.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the updates target resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts and starts a new update.",
				"operationId": "replicapoolupdater.rollingUpdates.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the updates target resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}": {
			"get": {
				"summary": "",
				"description": "Returns information about an update.",
				"operationId": "replicapoolupdater.rollingUpdates.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "rollingUpdate",
					"description": "The name of the update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the updates target resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/cancel": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Cancels an update. The update must be PAUSED before it can be cancelled. This has no effect if the update is already CANCELLED.",
				"operationId": "replicapoolupdater.rollingUpdates.cancel",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "rollingUpdate",
					"description": "The name of the update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the updates target resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/instanceUpdates": {
			"get": {
				"summary": "",
				"description": "Lists the current status for each instance within a given update.",
				"operationId": "replicapoolupdater.rollingUpdates.listInstanceUpdates",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Optional. Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "rollingUpdate",
					"description": "The name of the update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the updates target resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/pause": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Pauses the update in state from ROLLING_FORWARD or ROLLING_BACK. Has no effect if invoked when the state of the update is PAUSED.",
				"operationId": "replicapoolupdater.rollingUpdates.pause",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "rollingUpdate",
					"description": "The name of the update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the updates target resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/resume": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Continues an update in PAUSED state. Has no effect if invoked when the state of the update is ROLLED_OUT.",
				"operationId": "replicapoolupdater.rollingUpdates.resume",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "rollingUpdate",
					"description": "The name of the update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the updates target resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/rollback": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Rolls back the update in state from ROLLING_FORWARD or PAUSED. Has no effect if invoked when the state of the update is ROLLED_BACK.",
				"operationId": "replicapoolupdater.rollingUpdates.rollback",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "rollingUpdate",
					"description": "The name of the update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the updates target resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"InstanceUpdate": {
			"properties": {
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceUpdateList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Operation": {
			"properties": {
				"clientOperationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorStatusCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statusMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"zone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RollingUpdate": {
			"properties": {
				"actionType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instanceGroup": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instanceGroupManager": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instanceTemplate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"policy": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statusMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RollingUpdateList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}