{
	"swagger": "2.0",
	"info": {
		"title": "Google Calendar API",
		"description": "The Google Calendar API lets you develop client applications that create new events, edit or delete existing events, and search for events.",
		"version": "v3"
	},
	"host": "www.googleapis.com",
	"basePath": "/calendar/v3",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/calendars": {
			"post": {
				"summary": "Add Calendar",
				"description": "Delete Entry on Users Calendar List",
				"operationId": "delete-entry-on-users-calendar-list",
				"parameters": [{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}": {
			"delete": {
				"summary": "Update Calendar",
				"description": "Update Calendar",
				"operationId": "update-calendar",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"get": {
				"summary": "Creates Secondary Calendar",
				"description": "Creates Secondary Calendar",
				"operationId": "creates-secondary-calendar",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"put": {
				"summary": "Update Calendar",
				"description": "Get Calendar",
				"operationId": "get-calendar",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/acl": {
			"get": {
				"summary": "Get Calendar ACL",
				"description": "",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"post": {
				"summary": "List Calendar Access Control Rules",
				"description": "List Calendar Access Control Rules",
				"operationId": "list-calendar-access-control-rules",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/acl/{ruleId}": {
			"delete": {
				"summary": "Update Calendar Access Control Rule",
				"description": "Update Calendar Access Control Rule",
				"operationId": "update-calendar-access-control-rule",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ruleId",
					"description": "ACL rule identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "ruleId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"get": {
				"summary": "Create Calendar Access Control Rule",
				"description": "Create Calendar Access Control Rule",
				"operationId": "create-calendar-access-control-rule",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ruleId",
					"description": "ACL rule identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "ruleId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"put": {
				"summary": "Get Calendar Access Control Rule",
				"description": "Get Calendar Access Control Rule",
				"operationId": "get-calendar-access-control-rule",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ruleId",
					"description": "ACL rule identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "ruleId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/clear": {
			"get": {
				"summary": "Delete Secondary Calendar",
				"description": "Delete Secondary Calendar",
				"operationId": "delete-secondary-calendar",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/events": {
			"get": {
				"summary": "Clear Primary Calendar",
				"description": "Clear Primary Calendar",
				"operationId": "clear-primary-calendar",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "iCalUID",
					"description": "Specifies iCalendar UID (iCalUID) of events to be included in the response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxAttendees",
					"description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned.",
					"type": "int"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of events returned on one result page.",
					"type": "int"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "The order of the events returned in the result.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token specifying which result page to return.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "q",
					"description": "Free text search terms to find events that match these terms in any field, except for extended properties.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "showDeleted",
					"description": "Whether to include deleted events (with eventStatus equals cancelled) in the result.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "showHiddenInvitations",
					"description": "Whether to include hidden invitations in the result.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "singleEvents",
					"description": "Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "timeMax",
					"description": "Upper bound (exclusive) for an events start time to filter by. Optional. The default is not to filter by start time.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "timeMin",
					"description": "Lower bound (inclusive) for an events end time to filter by. Optional. The default is not to filter by end time.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "timeZone",
					"description": "Time zone used in the response. The default is the time zone of the calendar.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "updatedMin",
					"description": "Lower bound for an events last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"post": {
				"summary": "List Events",
				"description": "List Events",
				"operationId": "list-events",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sendNotifications",
					"description": "Whether to send notifications about the creation of the new event.",
					"type": "boolean"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/events/import": {
			"post": {
				"summary": "Get Instances",
				"description": "Get Instances",
				"operationId": "get-instances",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/events/quickAdd": {
			"post": {
				"summary": "Import Event",
				"description": "Import Event",
				"operationId": "import-event",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sendNotifications",
					"description": "Whether to send notifications about the creation of the event.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "text",
					"description": "The text describing the event to be created.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/events/{eventId}": {
			"delete": {
				"summary": "Update Event",
				"description": "Update Event",
				"operationId": "update-event",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "eventId",
					"description": "Event identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "eventId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sendNotifications",
					"description": "Whether to send notifications about the deletion of the event.",
					"type": "boolean"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"get": {
				"summary": "Create Event",
				"description": "Create Event",
				"operationId": "create-event",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "eventId",
					"description": "Event identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "eventId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxAttendees",
					"description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned.",
					"type": "int"
				},
				{
					"in": "query",
					"name": "timeZone",
					"description": "Time zone used in the response. The default is the time zone of the calendar.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"put": {
				"summary": "Get Event",
				"description": "Get Event",
				"operationId": "get-event",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "eventId",
					"description": "Event identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "eventId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sendNotifications",
					"description": "Whether to send notifications about the event update (e.g. attendees responses, title changes, etc.).",
					"type": "boolean"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/events/{eventId}/instances": {
			"get": {
				"summary": "Delete Event",
				"description": "Delete Event",
				"operationId": "delete-event",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "eventId",
					"description": "Event identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "eventId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxAttendees",
					"description": "The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned.",
					"type": "int"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of entries returned on one result page.",
					"type": "int"
				},
				{
					"in": "query",
					"name": "originalStart",
					"description": "The original start time of the instance in the result.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token specifying which result page to return.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "showDeleted",
					"description": "Whether to include deleted events (with eventStatus equals cancelled) in the result.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "timeZone",
					"description": "Time zone used in the response. The default is the time zone of the calendar.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/events/{eventId}/move": {
			"post": {
				"summary": "Create Event Based on Simple Text String",
				"description": "Create Event Based on Simple Text String",
				"operationId": "create-event-based-on-simple-text-string",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "destination",
					"description": "Calendar identifier of the target calendar where the event is to be moved to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "eventId",
					"description": "Event identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "eventId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sendNotifications",
					"description": "Whether to send notifications about the change of the events organizer.",
					"type": "boolean"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/calendars/{calendarId}/events/{eventId}/reset": {
			"post": {
				"summary": "Move Event",
				"description": "Move Event",
				"operationId": "move-event",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "eventId",
					"description": "Event identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "eventId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sendNotifications",
					"description": "Whether to send notifications about the event update.",
					"type": "boolean"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/colors": {
			"get": {
				"summary": "Get User Setting",
				"description": "Get User Setting",
				"operationId": "get-user-setting",
				"parameters": [{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/freeBusy": {
			"post": {
				"summary": "Get Color Definitions",
				"description": "Get Color Definitions",
				"operationId": "get-color-definitions",
				"parameters": [{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/users/me/calendarList": {
			"get": {
				"summary": "Delete Calendar Access Control Rule",
				"description": "Delete Calendar Access Control Rule",
				"operationId": "delete-calendar-access-control-rule",
				"parameters": [{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of entries returned on one result page.",
					"type": "int"
				},
				{
					"in": "query",
					"name": "minAccessRole",
					"description": "The minimum access role for the user in the returned entires. Optional. The default is no restriction.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token specifying which result page to return.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "showHidden",
					"description": "Whether to show hidden entries.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"post": {
				"summary": "List Entries on User's Calendar List",
				"description": "List Entries on Users Calendar List",
				"operationId": "list-entries-on-users-calendar-list",
				"parameters": [{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/users/me/calendarList/{calendarId}": {
			"delete": {
				"summary": "Update Entry on User's Calendar List",
				"description": "Update Entry on Users Calendar List",
				"operationId": "update-entry-on-users-calendar-list",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"get": {
				"summary": "Add Entry on User's Calendar List",
				"description": "Add Entry on Users Calendar List",
				"operationId": "add-entry-on-users-calendar-list",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			},
			"put": {
				"summary": "Get Entry on User's Calendar List",
				"description": "Get Entry on Users Calendar List",
				"operationId": "get-entry-on-users-calendar-list",
				"parameters": [{
					"in": "query",
					"name": "calendarId",
					"description": "Calendar identifier.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "calendarId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"description": "Specifies Content Type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/users/me/settings": {
			"get": {
				"summary": "Reset Specialized Instance",
				"description": "Reset Specialized Instance",
				"operationId": "reset-specialized-instance",
				"parameters": [{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		},
		"/users/me/settings/{setting}": {
			"get": {
				"summary": "List User Settings",
				"description": "List User Settings",
				"operationId": "list-user-settings",
				"parameters": [{
					"in": "query",
					"name": "fields",
					"description": "Selector specifying which fields to include in a partial response.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "setting",
					"description": "Name of the user setting.",
					"type": "string"
				},
				{
					"in": "path",
					"name": "setting",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["calendars"],
				"security": []
			}
		}
	},
	"definitions": []
}