{
	"swagger": "2.0",
	"info": {
		"title": "Google Analytics API",
		"description": "View and manage your Google Analytics data",
		"termsOfService": "",
		"contact": {
			"name": "Google",
			"url": "https://google.com",
			"email": ""
		},
		"version": "v3"
	},
	"host": "www.googleapis.com",
	"basePath": "/analytics/v3",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/data/ga": {
			"get": {
				"summary": "",
				"description": "Returns Analytics data for a view (profile).",
				"operationId": "analytics.data.ga.get",
				"parameters": [{
					"in": "query",
					"name": "dimensions",
					"description": "A comma-separated list of Analytics dimensions. E.g., ga:browser,ga:city."
				},
				{
					"in": "query",
					"name": "end-date",
					"description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday."
				},
				{
					"in": "query",
					"name": "filters",
					"description": "A comma-separated list of dimension or metric filters to be applied to Analytics data."
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of entries to include in this feed."
				},
				{
					"in": "query",
					"name": "metrics",
					"description": "A comma-separated list of Analytics metrics. E.g., ga:sessions,ga:pageviews. At least one metric must be specified."
				},
				{
					"in": "query",
					"name": "output",
					"description": "The selected format for the response. Default format is JSON."
				},
				{
					"in": "query",
					"name": "samplingLevel",
					"description": "The desired sampling level."
				},
				{
					"in": "query",
					"name": "segment",
					"description": "An Analytics segment to be applied to data."
				},
				{
					"in": "query",
					"name": "sort",
					"description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data."
				},
				{
					"in": "query",
					"name": "start-date",
					"description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/data/mcf": {
			"get": {
				"summary": "",
				"description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
				"operationId": "analytics.data.mcf.get",
				"parameters": [{
					"in": "query",
					"name": "dimensions",
					"description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., mcf:source,mcf:medium."
				},
				{
					"in": "query",
					"name": "end-date",
					"description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
				},
				{
					"in": "query",
					"name": "filters",
					"description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data."
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of entries to include in this feed."
				},
				{
					"in": "query",
					"name": "metrics",
					"description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., mcf:totalConversions,mcf:totalConversionValue. At least one metric must be specified."
				},
				{
					"in": "query",
					"name": "samplingLevel",
					"description": "The desired sampling level."
				},
				{
					"in": "query",
					"name": "sort",
					"description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data."
				},
				{
					"in": "query",
					"name": "start-date",
					"description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/data/realtime": {
			"get": {
				"summary": "",
				"description": "Returns real time data for a view (profile).",
				"operationId": "analytics.data.realtime.get",
				"parameters": [{
					"in": "query",
					"name": "dimensions",
					"description": "A comma-separated list of real time dimensions. E.g., rt:medium,rt:city."
				},
				{
					"in": "query",
					"name": "filters",
					"description": "A comma-separated list of dimension or metric filters to be applied to real time data."
				},
				{
					"in": "query",
					"name": "ids",
					"description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of entries to include in this feed."
				},
				{
					"in": "query",
					"name": "metrics",
					"description": "A comma-separated list of real time metrics. E.g., rt:activeUsers. At least one metric must be specified."
				},
				{
					"in": "query",
					"name": "sort",
					"description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts": {
			"get": {
				"summary": "",
				"description": "Lists all accounts to which the user has access.",
				"operationId": "analytics.management.accounts.list",
				"parameters": [{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of accounts to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/entityUserLinks": {
			"get": {
				"summary": "",
				"description": "Lists account-user links for a given account.",
				"operationId": "analytics.management.accountUserLinks.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve the user links for."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of account-user links to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Adds a new user to the given account.",
				"operationId": "analytics.management.accountUserLinks.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create the user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/entityUserLinks/{linkId}": {
			"delete": {
				"summary": "",
				"description": "Removes a user from the given account.",
				"operationId": "analytics.management.accountUserLinks.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to delete the user link for."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "Link ID to delete the user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates permissions for an existing user on the given account.",
				"operationId": "analytics.management.accountUserLinks.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to update the account-user link for."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "Link ID to update the account-user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/filters": {
			"get": {
				"summary": "",
				"description": "Lists all filters for an account",
				"operationId": "analytics.management.filters.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve filters for."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of filters to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new filter.",
				"operationId": "analytics.management.filters.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create filter for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/filters/{filterId}": {
			"delete": {
				"summary": "",
				"description": "Delete a filter.",
				"operationId": "analytics.management.filters.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to delete the filter for."
				},
				{
					"in": "path",
					"name": "filterId",
					"description": "ID of the filter to be deleted."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"get": {
				"summary": "",
				"description": "Returns a filters to which the user has access.",
				"operationId": "analytics.management.filters.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve filters for."
				},
				{
					"in": "path",
					"name": "filterId",
					"description": "Filter ID to retrieve filters for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing filter. This method supports patch semantics.",
				"operationId": "analytics.management.filters.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which the filter belongs."
				},
				{
					"in": "path",
					"name": "filterId",
					"description": "ID of the filter to be updated."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates an existing filter.",
				"operationId": "analytics.management.filters.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which the filter belongs."
				},
				{
					"in": "path",
					"name": "filterId",
					"description": "ID of the filter to be updated."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties": {
			"get": {
				"summary": "",
				"description": "Lists web properties to which the user has access.",
				"operationId": "analytics.management.webproperties.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve web properties for. Can either be a specific account ID or ~all, which refers to all the accounts that user has access to."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of web properties to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
				"operationId": "analytics.management.webproperties.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create the web property for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}": {
			"get": {
				"summary": "",
				"description": "Gets a web property to which the user has access.",
				"operationId": "analytics.management.webproperties.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve the web property for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "ID to retrieve the web property for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing web property. This method supports patch semantics.",
				"operationId": "analytics.management.webproperties.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which the web property belongs"
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates an existing web property.",
				"operationId": "analytics.management.webproperties.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which the web property belongs"
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources": {
			"get": {
				"summary": "",
				"description": "List custom data sources to which the user has access.",
				"operationId": "analytics.management.customDataSources.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account Id for the custom data sources to retrieve."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of custom data sources to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id for the custom data sources to retrieve."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Delete data associated with a previous upload.",
				"operationId": "analytics.management.uploads.deleteUploadData",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account Id for the uploads to be deleted."
				},
				{
					"in": "path",
					"name": "customDataSourceId",
					"description": "Custom data source Id for the uploads to be deleted."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id for the uploads to be deleted."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads": {
			"get": {
				"summary": "",
				"description": "List uploads to which the user has access.",
				"operationId": "analytics.management.uploads.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account Id for the uploads to retrieve."
				},
				{
					"in": "path",
					"name": "customDataSourceId",
					"description": "Custom data source Id for uploads to retrieve."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of uploads to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id for the uploads to retrieve."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Upload data for a custom data source.",
				"operationId": "analytics.management.uploads.uploadData",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account Id associated with the upload."
				},
				{
					"in": "path",
					"name": "customDataSourceId",
					"description": "Custom data source Id to which the data being uploaded belongs."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property UA-string associated with the upload."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}": {
			"get": {
				"summary": "",
				"description": "List uploads to which the user has access.",
				"operationId": "analytics.management.uploads.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account Id for the upload to retrieve."
				},
				{
					"in": "path",
					"name": "customDataSourceId",
					"description": "Custom data source Id for upload to retrieve."
				},
				{
					"in": "path",
					"name": "uploadId",
					"description": "Upload Id to retrieve."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id for the upload to retrieve."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions": {
			"get": {
				"summary": "",
				"description": "Lists custom dimensions to which the user has access.",
				"operationId": "analytics.management.customDimensions.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom dimensions to retrieve."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of custom dimensions to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom dimensions to retrieve."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new custom dimension.",
				"operationId": "analytics.management.customDimensions.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom dimension to create."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom dimension to create."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}": {
			"get": {
				"summary": "",
				"description": "Get a custom dimension to which the user has access.",
				"operationId": "analytics.management.customDimensions.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom dimension to retrieve."
				},
				{
					"in": "path",
					"name": "customDimensionId",
					"description": "The ID of the custom dimension to retrieve."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom dimension to retrieve."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing custom dimension. This method supports patch semantics.",
				"operationId": "analytics.management.customDimensions.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom dimension to update."
				},
				{
					"in": "path",
					"name": "customDimensionId",
					"description": "Custom dimension ID for the custom dimension to update."
				},
				{
					"in": "query",
					"name": "ignoreCustomDataSourceLinks",
					"description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom dimension to update."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates an existing custom dimension.",
				"operationId": "analytics.management.customDimensions.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom dimension to update."
				},
				{
					"in": "path",
					"name": "customDimensionId",
					"description": "Custom dimension ID for the custom dimension to update."
				},
				{
					"in": "query",
					"name": "ignoreCustomDataSourceLinks",
					"description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom dimension to update."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics": {
			"get": {
				"summary": "",
				"description": "Lists custom metrics to which the user has access.",
				"operationId": "analytics.management.customMetrics.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom metrics to retrieve."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of custom metrics to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom metrics to retrieve."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new custom metric.",
				"operationId": "analytics.management.customMetrics.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom metric to create."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom dimension to create."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}": {
			"get": {
				"summary": "",
				"description": "Get a custom metric to which the user has access.",
				"operationId": "analytics.management.customMetrics.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom metric to retrieve."
				},
				{
					"in": "path",
					"name": "customMetricId",
					"description": "The ID of the custom metric to retrieve."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom metric to retrieve."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing custom metric. This method supports patch semantics.",
				"operationId": "analytics.management.customMetrics.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom metric to update."
				},
				{
					"in": "path",
					"name": "customMetricId",
					"description": "Custom metric ID for the custom metric to update."
				},
				{
					"in": "query",
					"name": "ignoreCustomDataSourceLinks",
					"description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom metric to update."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates an existing custom metric.",
				"operationId": "analytics.management.customMetrics.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the custom metric to update."
				},
				{
					"in": "path",
					"name": "customMetricId",
					"description": "Custom metric ID for the custom metric to update."
				},
				{
					"in": "query",
					"name": "ignoreCustomDataSourceLinks",
					"description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the custom metric to update."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks": {
			"get": {
				"summary": "",
				"description": "Lists webProperty-AdWords links for a given web property.",
				"operationId": "analytics.management.webPropertyAdWordsLinks.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "ID of the account which the given web property belongs to."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of webProperty-AdWords links to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first webProperty-AdWords link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve the AdWords links for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Creates a webProperty-AdWords link.",
				"operationId": "analytics.management.webPropertyAdWordsLinks.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "ID of the Google Analytics account to create the link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to create the link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a web property-AdWords link.",
				"operationId": "analytics.management.webPropertyAdWordsLinks.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "ID of the account which the given web property belongs to."
				},
				{
					"in": "path",
					"name": "webPropertyAdWordsLinkId",
					"description": "Web property AdWords link ID."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to delete the AdWords link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"get": {
				"summary": "",
				"description": "Returns a web property-AdWords link to which the user has access.",
				"operationId": "analytics.management.webPropertyAdWordsLinks.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "ID of the account which the given web property belongs to."
				},
				{
					"in": "path",
					"name": "webPropertyAdWordsLinkId",
					"description": "Web property-AdWords link ID."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve the AdWords link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing webProperty-AdWords link. This method supports patch semantics.",
				"operationId": "analytics.management.webPropertyAdWordsLinks.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "ID of the account which the given web property belongs to."
				},
				{
					"in": "path",
					"name": "webPropertyAdWordsLinkId",
					"description": "Web property-AdWords link ID."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve the AdWords link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates an existing webProperty-AdWords link.",
				"operationId": "analytics.management.webPropertyAdWordsLinks.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "ID of the account which the given web property belongs to."
				},
				{
					"in": "path",
					"name": "webPropertyAdWordsLinkId",
					"description": "Web property-AdWords link ID."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve the AdWords link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks": {
			"get": {
				"summary": "",
				"description": "Lists webProperty-user links for a given web property.",
				"operationId": "analytics.management.webpropertyUserLinks.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID which the given web property belongs to."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of webProperty-user Links to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or ~all, which refers to all the web properties that user has access to."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Adds a new user to the given web property.",
				"operationId": "analytics.management.webpropertyUserLinks.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create the user link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web Property ID to create the user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}": {
			"delete": {
				"summary": "",
				"description": "Removes a user from the given web property.",
				"operationId": "analytics.management.webpropertyUserLinks.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to delete the user link for."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "Link ID to delete the user link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web Property ID to delete the user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates permissions for an existing user on the given web property.",
				"operationId": "analytics.management.webpropertyUserLinks.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to update the account-user link for."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "Link ID to update the account-user link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to update the account-user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles": {
			"get": {
				"summary": "",
				"description": "Lists views (profiles) to which the user has access.",
				"operationId": "analytics.management.profiles.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or ~all, which refers to all the accounts to which the user has access."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of views (profiles) to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or ~all, which refers to all the web properties to which the user has access."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new view (profile).",
				"operationId": "analytics.management.profiles.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create the view (profile) for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to create the view (profile) for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a view (profile).",
				"operationId": "analytics.management.profiles.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to delete the view (profile) for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "ID of the view (profile) to be deleted."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to delete the view (profile) for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"get": {
				"summary": "",
				"description": "Gets a view (profile) to which the user has access.",
				"operationId": "analytics.management.profiles.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve the goal for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to retrieve the goal for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve the goal for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing view (profile). This method supports patch semantics.",
				"operationId": "analytics.management.profiles.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which the view (profile) belongs"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "ID of the view (profile) to be updated."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to which the view (profile) belongs"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates an existing view (profile).",
				"operationId": "analytics.management.profiles.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which the view (profile) belongs"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "ID of the view (profile) to be updated."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to which the view (profile) belongs"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks": {
			"get": {
				"summary": "",
				"description": "Lists profile-user links for a given view (profile).",
				"operationId": "analytics.management.profileUserLinks.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID which the given view (profile) belongs to."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of profile-user links to include in this response."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or ~all, which refers to all the profiles that user has access to."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or ~all, which refers to all the web properties that user has access to."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Adds a new user to the given view (profile).",
				"operationId": "analytics.management.profileUserLinks.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create the user link for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to create the user link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web Property ID to create the user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}": {
			"delete": {
				"summary": "",
				"description": "Removes a user from the given view (profile).",
				"operationId": "analytics.management.profileUserLinks.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to delete the user link for."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "Link ID to delete the user link for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to delete the user link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web Property ID to delete the user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates permissions for an existing user on the given view (profile).",
				"operationId": "analytics.management.profileUserLinks.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to update the user link for."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "Link ID to update the user link for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile ID) to update the user link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web Property ID to update the user link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments": {
			"get": {
				"summary": "",
				"description": "Lists experiments to which the user has access.",
				"operationId": "analytics.management.experiments.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve experiments for."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of experiments to include in this response."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to retrieve experiments for."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve experiments for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new experiment.",
				"operationId": "analytics.management.experiments.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create the experiment for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to create the experiment for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to create the experiment for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}": {
			"delete": {
				"summary": "",
				"description": "Delete an experiment.",
				"operationId": "analytics.management.experiments.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which the experiment belongs"
				},
				{
					"in": "path",
					"name": "experimentId",
					"description": "ID of the experiment to delete"
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to which the experiment belongs"
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to which the experiment belongs"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"get": {
				"summary": "",
				"description": "Returns an experiment to which the user has access.",
				"operationId": "analytics.management.experiments.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve the experiment for."
				},
				{
					"in": "path",
					"name": "experimentId",
					"description": "Experiment ID to retrieve the experiment for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to retrieve the experiment for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve the experiment for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Update an existing experiment. This method supports patch semantics.",
				"operationId": "analytics.management.experiments.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID of the experiment to update."
				},
				{
					"in": "path",
					"name": "experimentId",
					"description": "Experiment ID of the experiment to update."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID of the experiment to update."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID of the experiment to update."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Update an existing experiment.",
				"operationId": "analytics.management.experiments.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID of the experiment to update."
				},
				{
					"in": "path",
					"name": "experimentId",
					"description": "Experiment ID of the experiment to update."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID of the experiment to update."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID of the experiment to update."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals": {
			"get": {
				"summary": "",
				"description": "Lists goals to which the user has access.",
				"operationId": "analytics.management.goals.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve goals for. Can either be a specific account ID or ~all, which refers to all the accounts that user has access to."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of goals to include in this response."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or ~all, which refers to all the views (profiles) that user has access to."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve goals for. Can either be a specific web property ID or ~all, which refers to all the web properties that user has access to."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new goal.",
				"operationId": "analytics.management.goals.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create the goal for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to create the goal for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to create the goal for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}": {
			"get": {
				"summary": "",
				"description": "Gets a goal to which the user has access.",
				"operationId": "analytics.management.goals.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve the goal for."
				},
				{
					"in": "path",
					"name": "goalId",
					"description": "Goal ID to retrieve the goal for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to retrieve the goal for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve the goal for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing view (profile). This method supports patch semantics.",
				"operationId": "analytics.management.goals.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to update the goal."
				},
				{
					"in": "path",
					"name": "goalId",
					"description": "Index of the goal to be updated."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to update the goal."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to update the goal."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Updates an existing view (profile).",
				"operationId": "analytics.management.goals.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to update the goal."
				},
				{
					"in": "path",
					"name": "goalId",
					"description": "Index of the goal to be updated."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to update the goal."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to update the goal."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks": {
			"get": {
				"summary": "",
				"description": "Lists all profile filter links for a profile.",
				"operationId": "analytics.management.profileFilterLinks.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve profile filter links for."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of profile filter links to include in this response."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or ~all, which refers to all the profiles that user has access to."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id for profile filter links for. Can either be a specific web property ID or ~all, which refers to all the web properties that user has access to."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new profile filter link.",
				"operationId": "analytics.management.profileFilterLinks.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create profile filter link for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "Profile ID to create filter link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id to create profile filter link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}": {
			"delete": {
				"summary": "",
				"description": "Delete a profile filter link.",
				"operationId": "analytics.management.profileFilterLinks.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which the profile filter link belongs."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "ID of the profile filter link to delete."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "Profile ID to which the filter link belongs."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id to which the profile filter link belongs."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"get": {
				"summary": "",
				"description": "Returns a single profile filter link.",
				"operationId": "analytics.management.profileFilterLinks.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve profile filter link for."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "ID of the profile filter link."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "Profile ID to retrieve filter link for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id to retrieve profile filter link for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"patch": {
				"summary": "",
				"description": "Update an existing profile filter link. This method supports patch semantics.",
				"operationId": "analytics.management.profileFilterLinks.patch",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which profile filter link belongs."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "ID of the profile filter link to be updated."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "Profile ID to which filter link belongs"
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id to which profile filter link belongs"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"put": {
				"summary": "",
				"description": "Update an existing profile filter link.",
				"operationId": "analytics.management.profileFilterLinks.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to which profile filter link belongs."
				},
				{
					"in": "path",
					"name": "linkId",
					"description": "ID of the profile filter link to be updated."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "Profile ID to which filter link belongs"
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property Id to which profile filter link belongs"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports": {
			"get": {
				"summary": "",
				"description": "Lists unsampled reports to which the user has access.",
				"operationId": "analytics.management.unsampledReports.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported."
				},
				{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of unsampled reports to include in this response."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Create a new unsampled report.",
				"operationId": "analytics.management.unsampledReports.insert",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to create the unsampled report for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to create the unsampled report for."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to create the unsampled report for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}": {
			"get": {
				"summary": "",
				"description": "Returns a single unsampled report.",
				"operationId": "analytics.management.unsampledReports.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "Account ID to retrieve unsampled report for."
				},
				{
					"in": "path",
					"name": "profileId",
					"description": "View (Profile) ID to retrieve unsampled report for."
				},
				{
					"in": "path",
					"name": "unsampledReportId",
					"description": "ID of the unsampled report to retrieve."
				},
				{
					"in": "path",
					"name": "webPropertyId",
					"description": "Web property ID to retrieve unsampled reports for."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/accountSummaries": {
			"get": {
				"summary": "",
				"description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
				"operationId": "analytics.management.accountSummaries.list",
				"parameters": [{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/management/segments": {
			"get": {
				"summary": "",
				"description": "Lists segments to which the user has access.",
				"operationId": "analytics.management.segments.list",
				"parameters": [{
					"in": "query",
					"name": "max-results",
					"description": "The maximum number of segments to include in this response."
				},
				{
					"in": "query",
					"name": "start-index",
					"description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/metadata/{reportType}/columns": {
			"get": {
				"summary": "",
				"description": "Lists all columns for a report type",
				"operationId": "analytics.metadata.columns.list",
				"parameters": [{
					"in": "path",
					"name": "reportType",
					"description": "Report type. Allowed Values: ga. Where ga corresponds to the Core Reporting API"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		},
		"/provisioning/createAccountTicket": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			},
			"post": {
				"summary": "",
				"description": "Creates an account ticket.",
				"operationId": "analytics.provisioning.createAccountTicket",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""]
			}
		}
	},
	"definitions": {
		"Account": {
			"properties": {
				"childLink": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"permissions": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"AccountRef": {
			"properties": {
				"href": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"AccountSummaries": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"AccountSummary": {
			"properties": {
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"webProperties": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"AccountTicket": {
			"properties": {
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"redirectUri": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Accounts": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"AdWordsAccount": {
			"properties": {
				"autoTaggingEnabled": {
					"description": "",
					"type": "parameters"
				},
				"customerId": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"AnalyticsDataimportDeleteUploadDataRequest": {
			"properties": {
				"customDataImportUids": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Column": {
			"properties": {
				"attributes": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Columns": {
			"properties": {
				"attributeNames": {
					"description": "",
					"type": "parameters"
				},
				"etag": {
					"description": "",
					"type": "parameters"
				},
				"items": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"CustomDataSource": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"childLink": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"description": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"importBehavior": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"parentLink": {
					"description": "",
					"type": "parameters"
				},
				"profilesLinked": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"type": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				},
				"uploadType": {
					"description": "",
					"type": "parameters"
				},
				"webPropertyId": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"CustomDataSources": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"CustomDimension": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"active": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"index": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"parentLink": {
					"description": "",
					"type": "parameters"
				},
				"scope": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				},
				"webPropertyId": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"CustomDimensions": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"CustomMetric": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"active": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"index": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"max_value": {
					"description": "",
					"type": "parameters"
				},
				"min_value": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"parentLink": {
					"description": "",
					"type": "parameters"
				},
				"scope": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"type": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				},
				"webPropertyId": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"CustomMetrics": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"EntityAdWordsLink": {
			"properties": {
				"adWordsAccounts": {
					"description": "",
					"type": "parameters"
				},
				"entity": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"profileIds": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"EntityAdWordsLinks": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"EntityUserLink": {
			"properties": {
				"entity": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"permissions": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"EntityUserLinks": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Experiment": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"description": {
					"description": "",
					"type": "parameters"
				},
				"editableInGaUi": {
					"description": "",
					"type": "parameters"
				},
				"endTime": {
					"description": "",
					"type": "parameters"
				},
				"equalWeighting": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"internalWebPropertyId": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"minimumExperimentLengthInDays": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"objectiveMetric": {
					"description": "",
					"type": "parameters"
				},
				"optimizationType": {
					"description": "",
					"type": "parameters"
				},
				"parentLink": {
					"description": "",
					"type": "parameters"
				},
				"profileId": {
					"description": "",
					"type": "parameters"
				},
				"reasonExperimentEnded": {
					"description": "",
					"type": "parameters"
				},
				"rewriteVariationUrlsAsOriginal": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"servingFramework": {
					"description": "",
					"type": "parameters"
				},
				"snippet": {
					"description": "",
					"type": "parameters"
				},
				"startTime": {
					"description": "",
					"type": "parameters"
				},
				"status": {
					"description": "",
					"type": "parameters"
				},
				"trafficCoverage": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				},
				"variations": {
					"description": "",
					"type": "parameters"
				},
				"webPropertyId": {
					"description": "",
					"type": "parameters"
				},
				"winnerConfidenceLevel": {
					"description": "",
					"type": "parameters"
				},
				"winnerFound": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Experiments": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Filter": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"advancedDetails": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"lowercaseDetails": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"parentLink": {
					"description": "",
					"type": "parameters"
				},
				"searchAndReplaceDetails": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"type": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				},
				"uppercaseDetails": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"FilterExpression": {
			"properties": {
				"caseSensitive": {
					"description": "",
					"type": "parameters"
				},
				"expressionValue": {
					"description": "",
					"type": "parameters"
				},
				"field": {
					"description": "",
					"type": "parameters"
				},
				"fieldIndex": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"matchType": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"FilterRef": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"href": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Filters": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"GaData": {
			"properties": {
				"columnHeaders": {
					"description": "",
					"type": "parameters"
				},
				"containsSampledData": {
					"description": "",
					"type": "parameters"
				},
				"dataTable": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"profileInfo": {
					"description": "",
					"type": "parameters"
				},
				"query": {
					"description": "",
					"type": "parameters"
				},
				"rows": {
					"description": "",
					"type": "parameters"
				},
				"sampleSize": {
					"description": "",
					"type": "parameters"
				},
				"sampleSpace": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"totalsForAllResults": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Goal": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"active": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"eventDetails": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"internalWebPropertyId": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"parentLink": {
					"description": "",
					"type": "parameters"
				},
				"profileId": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"type": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				},
				"urlDestinationDetails": {
					"description": "",
					"type": "parameters"
				},
				"value": {
					"description": "",
					"type": "parameters"
				},
				"visitNumPagesDetails": {
					"description": "",
					"type": "parameters"
				},
				"visitTimeOnSiteDetails": {
					"description": "",
					"type": "parameters"
				},
				"webPropertyId": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Goals": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"McfData": {
			"properties": {
				"columnHeaders": {
					"description": "",
					"type": "parameters"
				},
				"containsSampledData": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"profileInfo": {
					"description": "",
					"type": "parameters"
				},
				"query": {
					"description": "",
					"type": "parameters"
				},
				"rows": {
					"description": "",
					"type": "parameters"
				},
				"sampleSize": {
					"description": "",
					"type": "parameters"
				},
				"sampleSpace": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"totalsForAllResults": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Profile": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"childLink": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"currency": {
					"description": "",
					"type": "parameters"
				},
				"defaultPage": {
					"description": "",
					"type": "parameters"
				},
				"eCommerceTracking": {
					"description": "",
					"type": "parameters"
				},
				"enhancedECommerceTracking": {
					"description": "",
					"type": "parameters"
				},
				"excludeQueryParameters": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"internalWebPropertyId": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"parentLink": {
					"description": "",
					"type": "parameters"
				},
				"permissions": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"siteSearchCategoryParameters": {
					"description": "",
					"type": "parameters"
				},
				"siteSearchQueryParameters": {
					"description": "",
					"type": "parameters"
				},
				"stripSiteSearchCategoryParameters": {
					"description": "",
					"type": "parameters"
				},
				"stripSiteSearchQueryParameters": {
					"description": "",
					"type": "parameters"
				},
				"timezone": {
					"description": "",
					"type": "parameters"
				},
				"type": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				},
				"webPropertyId": {
					"description": "",
					"type": "parameters"
				},
				"websiteUrl": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"ProfileFilterLink": {
			"properties": {
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"rank": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"ProfileFilterLinks": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"ProfileRef": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"href": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"internalWebPropertyId": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"webPropertyId": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"ProfileSummary": {
			"properties": {
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"type": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Profiles": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"RealtimeData": {
			"properties": {
				"columnHeaders": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"profileInfo": {
					"description": "",
					"type": "parameters"
				},
				"query": {
					"description": "",
					"type": "parameters"
				},
				"rows": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"totalsForAllResults": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Segment": {
			"properties": {
				"created": {
					"description": "",
					"type": "parameters"
				},
				"definition": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"name": {
					"description": "",
					"type": "parameters"
				},
				"segmentId": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"type": {
					"description": "",
					"type": "parameters"
				},
				"updated": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"Segments": {
			"properties": {
				"items": {
					"description": "",
					"type": "parameters"
				},
				"itemsPerPage": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"nextLink": {
					"description": "",
					"type": "parameters"
				},
				"previousLink": {
					"description": "",
					"type": "parameters"
				},
				"startIndex": {
					"description": "",
					"type": "parameters"
				},
				"totalResults": {
					"description": "",
					"type": "parameters"
				},
				"username": {
					"description": "",
					"type": "parameters"
				}
			}
		},
		"UnsampledReport": {
			"properties": {
				"accountId": {
					"description": "",
					"type": "parameters"
				},
				"cloudStorageDownloadDetails": {
					"description": "",
					"type": "parameters"
				},
				"created": {
					"description": "",
					"type": "parameters"
				},
				"dimensions": {
					"description": "",
					"type": "parameters"
				},
				"downloadType": {
					"description": "",
					"type": "parameters"
				},
				"driveDownloadDetails": {
					"description": "",
					"type": "parameters"
				},
				"end-date": {
					"description": "",
					"type": "parameters"
				},
				"filters": {
					"description": "",
					"type": "parameters"
				},
				"id": {
					"description": "",
					"type": "parameters"
				},
				"kind": {
					"description": "",
					"type": "parameters"
				},
				"metrics": {
					"description": "",
					"type": "parameters"
				},
				"profileId": {
					"description": "",
					"type": "parameters"
				},
				"segment": {
					"description": "",
					"type": "parameters"
				},
				"selfLink": {
					"description": "",
					"type": "parameters"
				},
				"start-date": {
					"description": "",
					"type": "parameters"
				},
				"status": {
					"description": "",
					"type": "parameters"
				},
[...]
