{
	"swagger": "2.0",
	"info": {
		"title": "Google Compute Engine Instance Groups API",
		"description": "The Resource View API allows users to create and manage logical sets of Google Compute Engine instances.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta2"
	},
	"host": "www.googleapis.com",
	"basePath": "/resourceviews/v1beta2/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{project}/zones/{zone}/operations": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of operation resources contained within the specified zone.",
				"operationId": "resourceviews.zoneOperations.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Optional. Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Name of the zone scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/operations/{operation}": {
			"get": {
				"summary": "",
				"description": "Retrieves the specified zone-specific operation resource.",
				"operationId": "resourceviews.zoneOperations.get",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "Name of the operation resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Name of the zone scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/resourceViews": {
			"get": {
				"summary": "",
				"description": "List resource views.",
				"operationId": "resourceviews.zoneViews.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a resource view.",
				"operationId": "resourceviews.zoneViews.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/resourceViews/{resourceView}": {
			"delete": {
				"summary": "",
				"description": "Delete a resource view.",
				"operationId": "resourceviews.zoneViews.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceView",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get the information of a zonal resource view.",
				"operationId": "resourceviews.zoneViews.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceView",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/resourceViews/{resourceView}/addResources": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Add resources to the view.",
				"operationId": "resourceviews.zoneViews.addResources",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceView",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/resourceViews/{resourceView}/getService": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Get the service information of a resource view or a resource.",
				"operationId": "resourceviews.zoneViews.getService",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "resourceName",
					"description": "The name of the resource if user wants to get the service information of the resource.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceView",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/resourceViews/{resourceView}/removeResources": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Remove resources from the view.",
				"operationId": "resourceviews.zoneViews.removeResources",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceView",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/resourceViews/{resourceView}/resources": {
			"get": {
				"summary": "",
				"description": "List the resources of the resource view.",
				"operationId": "resourceviews.zoneViews.listResources",
				"parameters": [{
					"in": "query",
					"name": "format",
					"description": "The requested format of the return value. It can be URL or URL_PORT. A JSON object will be included in the response based on the format. The default format is NONE, which results in no JSON in the response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "listState",
					"description": "The state of the instance to list. By default, it lists all instances.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceView",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "serviceName",
					"description": "The service name to return in the response. It is optional and if it is not set, all the service end points will be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/resourceViews/{resourceView}/setService": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Update the service information of a resource view or a resource.",
				"operationId": "resourceviews.zoneViews.setService",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceView",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Label": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListResourceResponseItem": {
			"properties": {
				"endpoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resource": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Operation": {
			"properties": {
				"clientOperationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorStatusCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statusMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"zone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"OperationList": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ResourceView": {
			"properties": {
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endpoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"network": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"size": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ServiceEndpoint": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"port": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsAddResourcesRequest": {
			"properties": {
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsGetServiceResponse": {
			"properties": {
				"endpoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsListResourcesResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"network": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsRemoveResourcesRequest": {
			"properties": {
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsSetServiceRequest": {
			"properties": {
				"endpoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceName": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}