{
	"swagger": "2.0",
	"info": {
		"title": "Google Fonts Developer API",
		"description": "The Google Fonts Developer API.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/webfonts/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/webfonts": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of fonts currently served by the Google Fonts Developer API",
				"operationId": "webfonts.webfonts.list",
				"parameters": [{
					"in": "query",
					"name": "sort",
					"description": "Enables sorting of the list",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Webfont": {
			"properties": {
				"category": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"family": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"files": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModified": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"subsets": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"variants": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"WebfontList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}