{
	"swagger": "2.0",
	"info": {
		"title": "Google Play Developer API",
		"description": "Lets Android application developers access their Google Play accounts.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/androidpublisher/v1/applications",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{packageName}/subscriptions/{subscriptionId}/purchases/{token}": {
			"get": {
				"summary": "",
				"description": "Checks whether a users subscription purchase is valid and returns its expiry time.",
				"operationId": "androidpublisher.purchases.get",
				"parameters": [{
					"in": "path",
					"name": "packageName",
					"description": "The package name of the application for which this subscription was purchased (for example, com.some.thing).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "The purchased subscription ID (for example, monthly001).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "token",
					"description": "The token provided to the users device when the subscription was purchased.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{packageName}/subscriptions/{subscriptionId}/purchases/{token}/cancel": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Cancels a users subscription purchase. The subscription remains valid until its expiration time.",
				"operationId": "androidpublisher.purchases.cancel",
				"parameters": [{
					"in": "path",
					"name": "packageName",
					"description": "The package name of the application for which this subscription was purchased (for example, com.some.thing).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "subscriptionId",
					"description": "The purchased subscription ID (for example, monthly001).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "token",
					"description": "The token provided to the users device when the subscription was purchased.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"SubscriptionPurchase": {
			"properties": {
				"autoRenewing": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"initiationTimestampMsec": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"validUntilTimestampMsec": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}