{
	"swagger": "2.0",
	"info": {
		"title": "Google Play Game Services API",
		"description": "The API for Google Play Game Services.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/games/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/achievements": {
			"get": {
				"summary": "",
				"description": "Lists all the achievement definitions for your application.",
				"operationId": "games.achievementDefinitions.list",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/updateMultiple": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Updates multiple achievements for the currently authenticated player.",
				"operationId": "games.achievements.updateMultiple",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/{achievementId}/increment": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
				"operationId": "games.achievements.increment",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "requestId",
					"description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "stepsToIncrement",
					"description": "The number of steps to increment.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/{achievementId}/reveal": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Sets the state of the achievement with the given ID to REVEALED for the currently authenticated player.",
				"operationId": "games.achievements.reveal",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/{achievementId}/setStepsAtLeast": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
				"operationId": "games.achievements.setStepsAtLeast",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "steps",
					"description": "The minimum value to set the steps to.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/{achievementId}/unlock": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Unlocks this achievement for the currently authenticated player.",
				"operationId": "games.achievements.unlock",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/applications/played": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Indicate that the the currently authenticated user is playing your application.",
				"operationId": "games.applications.played",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/applications/{applicationId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified platformType, the returned response will not include any instance data.",
				"operationId": "games.applications.get",
				"parameters": [{
					"in": "path",
					"name": "applicationId",
					"description": "The application ID from the Google Play developer console.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "platformType",
					"description": "Restrict application details returned to the specific platform.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/eventDefinitions": {
			"get": {
				"summary": "",
				"description": "Returns a list of the event definitions in this application.",
				"operationId": "games.events.listDefinitions",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/events": {
			"get": {
				"summary": "",
				"description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
				"operationId": "games.events.listByPlayer",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
				"operationId": "games.events.record",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards": {
			"get": {
				"summary": "",
				"description": "Lists all the leaderboard metadata for your application.",
				"operationId": "games.leaderboards.list",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards/scores": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Submits multiple scores to leaderboards.",
				"operationId": "games.scores.submitMultiple",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards/{leaderboardId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the metadata of the leaderboard with the given ID.",
				"operationId": "games.leaderboards.get",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards/{leaderboardId}/scores": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Submits a score to the specified leaderboard.",
				"operationId": "games.scores.submit",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "score",
					"description": "The score youre submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "scoreTag",
					"description": "Additional information about the score youre submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards/{leaderboardId}/scores/{collection}": {
			"get": {
				"summary": "",
				"description": "Lists the scores in a leaderboard, starting from the top.",
				"operationId": "games.scores.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of scores youre requesting.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timeSpan",
					"description": "The time span for the scores and ranks youre requesting.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards/{leaderboardId}/window/{collection}": {
			"get": {
				"summary": "",
				"description": "Lists the scores in a leaderboard around (and including) a players score.",
				"operationId": "games.scores.listWindow",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of scores youre requesting.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "resultsAbove",
					"description": "The preferred number of scores to return above the players score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "returnTopIfAbsent",
					"description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timeSpan",
					"description": "The time span for the scores and ranks youre requesting.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/metagameConfig": {
			"get": {
				"summary": "",
				"description": "Return the metagame configuration data for the calling application.",
				"operationId": "games.metagame.getMetagameConfig",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/players/me/players/{collection}": {
			"get": {
				"summary": "",
				"description": "Get the collection of players for the currently authenticated user.",
				"operationId": "games.players.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "Collection of players being retrieved",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/players/{playerId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set playerId to me.",
				"operationId": "games.players.get",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "playerId",
					"description": "A player ID. A value of me may be used in place of the authenticated players ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/players/{playerId}/achievements": {
			"get": {
				"summary": "",
				"description": "Lists the progress for all your applications achievements for the currently authenticated player.",
				"operationId": "games.achievements.list",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "playerId",
					"description": "A player ID. A value of me may be used in place of the authenticated players ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "state",
					"description": "Tells the server to return only achievements with the specified state. If this parameter isnt specified, all achievements are returned.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/players/{playerId}/categories/{collection}": {
			"get": {
				"summary": "",
				"description": "List play data aggregated per category for the player corresponding to playerId.",
				"operationId": "games.metagame.listCategoriesByPlayer",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of categories for which data will be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "playerId",
					"description": "A player ID. A value of me may be used in place of the authenticated players ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}": {
			"get": {
				"summary": "",
				"description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, leaderboardId can be set to ALL to retrieve data for all leaderboards in a given time span.nNOTE: You cannot ask for ALL leaderboards and ALL timeSpans in the same request; only one parameter may be set to ALL.",
				"operationId": "games.scores.get",
				"parameters": [{
					"in": "query",
					"name": "includeRankType",
					"description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard. Can be set to ALL to retrieve data for all leaderboards for this application.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "playerId",
					"description": "A player ID. A value of me may be used in place of the authenticated players ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "timeSpan",
					"description": "The time span for the scores and ranks youre requesting.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/players/{playerId}/quests": {
			"get": {
				"summary": "",
				"description": "Get a list of quests for your application and the currently authenticated player.",
				"operationId": "games.quests.list",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of quest resources to return in the response, used for paging. For any response, the actual number of quest resources returned may be less than the specified maxResults. Acceptable values are 1 to 50, inclusive. (Default: 50).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "playerId",
					"description": "A player ID. A value of me may be used in place of the authenticated players ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/players/{playerId}/snapshots": {
			"get": {
				"summary": "",
				"description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
				"operationId": "games.snapshots.list",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "playerId",
					"description": "A player ID. A value of me may be used in place of the authenticated players ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/pushtokens": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Registers a push token for the current user and application.",
				"operationId": "games.pushtokens.update",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/pushtokens/remove": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Removes a push token for the current user and application. Removing a non-existent push token will report success.",
				"operationId": "games.pushtokens.remove",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/quests/{questId}/accept": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Indicates that the currently authorized user will participate in the quest.",
				"operationId": "games.quests.accept",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "questId",
					"description": "The ID of the quest.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/quests/{questId}/milestones/{milestoneId}/claim": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Report that a reward for the milestone corresponding to milestoneId for the quest corresponding to questId has been claimed by the currently authorized user.",
				"operationId": "games.questMilestones.claim",
				"parameters": [{
					"in": "path",
					"name": "milestoneId",
					"description": "The ID of the milestone.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "questId",
					"description": "The ID of the quest.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "requestId",
					"description": "A numeric ID to ensure that the request is handled correctly across retries. Your client application must generate this ID randomly.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/revisions/check": {
			"get": {
				"summary": "",
				"description": "Checks whether the games client is out of date.",
				"operationId": "games.revisions.check",
				"parameters": [{
					"in": "query",
					"name": "clientRevision",
					"description": "The revision of the client SDK used by your application. Format:n[PLATFORM_TYPE]:[VERSION_NUMBER]. Possible values of PLATFORM_TYPE are:n n- ANDROID - Client is running the Android SDK. n- IOS - Client is running the iOS SDK. n- WEB_APP - Client is running as a Web App.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms": {
			"get": {
				"summary": "",
				"description": "Returns invitations to join rooms.",
				"operationId": "games.rooms.list",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of rooms to return in the response, used for paging. For any response, the actual number of rooms to return may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/create": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
				"operationId": "games.rooms.create",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/{roomId}": {
			"get": {
				"summary": "",
				"description": "Get the data for a room.",
				"operationId": "games.rooms.get",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roomId",
					"description": "The ID of the room.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/{roomId}/decline": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Decline an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
				"operationId": "games.rooms.decline",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roomId",
					"description": "The ID of the room.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/{roomId}/dismiss": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Dismiss an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
				"operationId": "games.rooms.dismiss",
				"parameters": [{
					"in": "path",
					"name": "roomId",
					"description": "The ID of the room.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/{roomId}/join": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
				"operationId": "games.rooms.join",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roomId",
					"description": "The ID of the room.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/{roomId}/leave": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Leave a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
				"operationId": "games.rooms.leave",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roomId",
					"description": "The ID of the room.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/{roomId}/reportstatus": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Updates sent by a client reporting the status of peers in a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
				"operationId": "games.rooms.reportStatus",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roomId",
					"description": "The ID of the room.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/snapshots/{snapshotId}": {
			"get": {
				"summary": "",
				"description": "Retrieves the metadata for a given snapshot ID.",
				"operationId": "games.snapshots.get",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "snapshotId",
					"description": "The ID of the snapshot.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches": {
			"get": {
				"summary": "",
				"description": "Returns turn-based matches the player is or was involved in.",
				"operationId": "games.turnBasedMatches.list",
				"parameters": [{
					"in": "query",
					"name": "includeMatchData",
					"description": "True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxCompletedMatches",
					"description": "The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/create": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a turn-based match.",
				"operationId": "games.turnBasedMatches.create",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/sync": {
			"get": {
				"summary": "",
				"description": "Returns turn-based matches the player is or was involved in that changed since the last sync call, with the least recent changes coming first. Matches that should be removed from the local cache will have a status of MATCH_DELETED.",
				"operationId": "games.turnBasedMatches.sync",
				"parameters": [{
					"in": "query",
					"name": "includeMatchData",
					"description": "True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxCompletedMatches",
					"description": "The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}": {
			"get": {
				"summary": "",
				"description": "Get the data for a turn-based match.",
				"operationId": "games.turnBasedMatches.get",
				"parameters": [{
					"in": "query",
					"name": "includeMatchData",
					"description": "Get match data along with metadata.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/cancel": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Cancel a turn-based match.",
				"operationId": "games.turnBasedMatches.cancel",
				"parameters": [{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/decline": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Decline an invitation to play a turn-based match.",
				"operationId": "games.turnBasedMatches.decline",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/dismiss": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Dismiss a turn-based match from the match list. The match will no longer show up in the list and will not generate notifications.",
				"operationId": "games.turnBasedMatches.dismiss",
				"parameters": [{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/finish": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Finish a turn-based match. Each player should make this call once, after all results are in. Only the player whose turn it is may make the first call to Finish, and can pass in the final match state.",
				"operationId": "games.turnBasedMatches.finish",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/join": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Join a turn-based match.",
				"operationId": "games.turnBasedMatches.join",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/leave": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Leave a turn-based match when it is not the current players turn, without canceling the match.",
				"operationId": "games.turnBasedMatches.leave",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/leaveTurn": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Leave a turn-based match during the current players turn, without canceling the match.",
				"operationId": "games.turnBasedMatches.leaveTurn",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "matchVersion",
					"description": "The version of the match being updated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pendingParticipantId",
					"description": "The ID of another participant who should take their turn next. If not set, the match will wait for other player(s) to join via automatching; this is only valid if automatch criteria is set on the match with remaining slots for automatched players.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/rematch": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a rematch of a match that was previously completed, with the same participants. This can be called by only one player on a match still in their list; the player must have called Finish first. Returns the newly created match; it will be the callers turn.",
				"operationId": "games.turnBasedMatches.rematch",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "requestId",
					"description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/{matchId}/turn": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Commit the results of a player turn.",
				"operationId": "games.turnBasedMatches.takeTurn",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "The preferred language to use for strings returned by this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "matchId",
					"description": "The ID of the match.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"AchievementDefinition": {
			"properties": {
				"achievementType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"experiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"formattedTotalSteps": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"initialState": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isRevealedIconUrlDefault": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isUnlockedIconUrlDefault": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"revealedIconUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalSteps": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"unlockedIconUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementDefinitionsListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementIncrementResponse": {
			"properties": {
				"currentSteps": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"newlyUnlocked": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementRevealResponse": {
			"properties": {
				"currentState": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementSetStepsAtLeastResponse": {
			"properties": {
				"currentSteps": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"newlyUnlocked": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementUnlockResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"newlyUnlocked": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementUpdateMultipleRequest": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updates": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementUpdateMultipleResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updatedAchievements": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementUpdateRequest": {
			"properties": {
				"achievementId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updateType": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementUpdateResponse": {
			"properties": {
				"achievementId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currentState": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currentSteps": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"newlyUnlocked": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updateOccurred": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AggregateStats": {
			"properties": {
				"count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"max": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"min": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sum": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AnonymousPlayer": {
			"properties": {
				"avatarImageUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Application": {
			"properties": {
				"achievement_count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"assets": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"author": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"enabledFeatures": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instances": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastUpdatedTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"leaderboard_count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"themeColor": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ApplicationCategory": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"primary": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"secondary": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Category": {
			"properties": {
				"category": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"experiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CategoryListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventBatchRecordFailure": {
			"properties": {
				"failureCause": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventChild": {
			"properties": {
				"childId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventDefinition": {
			"properties": {
				"childEvents": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"imageUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isDefaultImageUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"visibility": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventDefinitionListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventPeriodRange": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"periodEndMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"periodStartMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventPeriodUpdate": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updates": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventRecordFailure": {
			"properties": {
				"eventId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"failureCause": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventRecordRequest": {
			"properties": {
				"currentTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requestId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timePeriods": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventUpdateRequest": {
			"properties": {
				"definitionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updateCount": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventUpdateResponse": {
			"properties": {
				"batchFailures": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"eventFailures": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"playerEvents": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GamesAchievementIncrement": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requestId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"steps": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GamesAchievementSetStepsAtLeast": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"steps": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ImageAsset": {
			"properties": {
				"height": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"width": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Instance": {
			"properties": {
				"acquisitionUri": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"platformType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"realtimePlay": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"turnBasedPlay": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceAndroidDetails": {
			"properties": {
				"enablePiracyCheck": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"packageName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"preferred": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceIosDetails": {
			"properties": {
				"bundleIdentifier": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"itunesAppId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"preferredForIpad": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"preferredForIphone": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportIpad": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportIphone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceWebDetails": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"launchUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"preferred": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Leaderboard": {
			"properties": {
				"iconUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isIconUrlDefault": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"order": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LeaderboardEntry": {
			"properties": {
				"formattedScore": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"formattedScoreRank": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreRank": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreTag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeSpan": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"writeTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LeaderboardListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LeaderboardScoreRank": {
			"properties": {
				"formattedNumScores": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"formattedRank": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numScores": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rank": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LeaderboardScores": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numScores": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"prevPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"MetagameConfig": {
			"properties": {
				"currentVersion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"playerLevels": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NetworkDiagnostics": {
			"properties": {
				"androidNetworkSubtype": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"androidNetworkType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"iosNetworkType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"networkOperatorCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"networkOperatorName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"registrationLatencyMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ParticipantResult": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"participantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placing": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"result": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PeerChannelDiagnostics": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numMessagesLost": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numMessagesReceived": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numMessagesSent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numSendFailures": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PeerSessionDiagnostics": {
			"properties": {
				"connectedTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"participantId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Played": {
			"properties": {
				"autoMatched": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Player": {
			"properties": {
				"avatarImageUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"playerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerAchievement": {
			"properties": {
				"achievementState": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currentSteps": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"experiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"formattedCurrentStepsString": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastUpdatedTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerAchievementListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerEvent": {
			"properties": {
				"definitionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"formattedNumEvents": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numEvents": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"playerId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerEventListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerExperienceInfo": {
			"properties": {
				"currentExperiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastLevelUpTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerLeaderboardScore": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"leaderboard_id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreString": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreTag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeSpan": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"writeTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerLeaderboardScoreListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerLevel": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"level": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxExperiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"minExperiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerScore": {
			"properties": {
				"formattedScore": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"score": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreTag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeSpan": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerScoreListResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"submittedScores": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerScoreResponse": {
			"properties": {
				"beatenScoreTimeSpans": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"formattedScore": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"leaderboardId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreTag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"unbeatenScores": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerScoreSubmissionList": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scores": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PushToken": {
			"properties": {
				"clientRevision": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"language": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PushTokenId": {
			"properties": {
				"ios": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Quest": {
			"properties": {
				"acceptedTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"applicationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"bannerUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"iconUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isDefaultBannerUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isDefaultIconUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastUpdatedTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"milestones": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notifyTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QuestContribution": {
			"properties": {
				"formattedValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QuestCriterion": {
			"properties": {
				"eventId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QuestListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QuestMilestone": {
			"properties": {
				"completionRewardData": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"criteria": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RevisionCheckResponse": {
			"properties": {
				"apiVersion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"revisionStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Room": {
			"properties": {
				"applicationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"inviterId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"participants": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"roomId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"roomStatusVersion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"variant": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomAutoMatchStatus": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"waitEstimateSeconds": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomAutoMatchingCriteria": {
			"properties": {
				"exclusiveBitmask": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxAutoMatchingPlayers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"minAutoMatchingPlayers": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomClientAddress": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"xmppAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomCreateRequest": {
			"properties": {
				"capabilities": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"invitedPlayerIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requestId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"variant": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomJoinRequest": {
			"properties": {
				"capabilities": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomLeaveDiagnostics": {
			"properties": {
				"androidNetworkSubtype": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"androidNetworkType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"iosNetworkType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"networkOperatorCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"networkOperatorName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"peerSession": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"socketsUsed": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomLeaveRequest": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"reason": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomModification": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifiedTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"participantId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomP2PStatus": {
			"properties": {
				"connectionSetupLatencyMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error_reason": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"participantId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"unreliableRoundtripLatencyMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomP2PStatuses": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updates": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomParticipant": {
			"properties": {
				"autoMatched": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"capabilities": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"connected": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"leaveReason": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RoomStatus": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"participants": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"roomId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statusVersion": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ScoreSubmission": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"leaderboardId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"score": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreTag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"signature": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Snapshot": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"driveId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"durationMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModifiedMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progressValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"uniqueName": {
[...]
