{
	"swagger": "2.0",
	"info": {
		"title": "Google Compute Engine Instance Group Manager API",
		"description": "The Google Compute Engine Instance Group Manager API provides groups of homogenous Compute Engine Instances.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta2"
	},
	"host": "www.googleapis.com",
	"basePath": "/replicapool/v1beta2/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{project}/zones/{zone}/instanceGroupManagers": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of Instance Group Manager resources contained within the specified zone.",
				"operationId": "replicapool.instanceGroupManagers.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Optional. Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates an instance group manager, as well as the instance group and the specified number of instances.",
				"operationId": "replicapool.instanceGroupManagers.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "size",
					"description": "Number of instances that should exist.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}": {
			"delete": {
				"summary": "",
				"description": "Deletes the instance group manager and all instances contained within. If youd like to delete the manager without deleting the instances, you must first abandon the instances to remove them from the group.",
				"operationId": "replicapool.instanceGroupManagers.delete",
				"parameters": [{
					"in": "path",
					"name": "instanceGroupManager",
					"description": "Name of the Instance Group Manager resource to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified Instance Group Manager resource.",
				"operationId": "replicapool.instanceGroupManagers.get",
				"parameters": [{
					"in": "path",
					"name": "instanceGroupManager",
					"description": "Name of the instance resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/abandonInstances": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Removes the specified instances from the managed instance group, and from any target pools of which they were members, without deleting the instances.",
				"operationId": "replicapool.instanceGroupManagers.abandonInstances",
				"parameters": [{
					"in": "path",
					"name": "instanceGroupManager",
					"description": "The name of the instance group manager.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/deleteInstances": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Deletes the specified instances. The instances are deleted, then removed from the instance group and any target pools of which they were a member. The targetSize of the instance group manager is reduced by the number of instances deleted.",
				"operationId": "replicapool.instanceGroupManagers.deleteInstances",
				"parameters": [{
					"in": "path",
					"name": "instanceGroupManager",
					"description": "The name of the instance group manager.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/recreateInstances": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Recreates the specified instances. The instances are deleted, then recreated using the instance group managers current instance template.",
				"operationId": "replicapool.instanceGroupManagers.recreateInstances",
				"parameters": [{
					"in": "path",
					"name": "instanceGroupManager",
					"description": "The name of the instance group manager.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/resize": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resizes the managed instance group up or down. If resized up, new instances are created using the current instance template. If resized down, instances are removed in the order outlined in Resizing a managed instance group.",
				"operationId": "replicapool.instanceGroupManagers.resize",
				"parameters": [{
					"in": "path",
					"name": "instanceGroupManager",
					"description": "The name of the instance group manager.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "size",
					"description": "Number of instances that should exist in this Instance Group Manager.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/setInstanceTemplate": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Sets the instance template to use when creating new instances in this group. Existing instances are not affected.",
				"operationId": "replicapool.instanceGroupManagers.setInstanceTemplate",
				"parameters": [{
					"in": "path",
					"name": "instanceGroupManager",
					"description": "The name of the instance group manager.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/instanceGroupManagers/{instanceGroupManager}/setTargetPools": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Modifies the target pools to which all new instances in this group are assigned. Existing instances in the group are not affected.",
				"operationId": "replicapool.instanceGroupManagers.setTargetPools",
				"parameters": [{
					"in": "path",
					"name": "instanceGroupManager",
					"description": "The name of the instance group manager.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The Google Developers Console project name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The name of the zone in which the instance group manager resides.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/operations": {
			"get": {
				"summary": "",
				"description": "Retrieves the list of operation resources contained within the specified zone.",
				"operationId": "replicapool.zoneOperations.list",
				"parameters": [{
					"in": "query",
					"name": "filter",
					"description": "Optional. Filter expression for filtering listed resources.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Name of the zone scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/zones/{zone}/operations/{operation}": {
			"get": {
				"summary": "",
				"description": "Retrieves the specified zone-specific operation resource.",
				"operationId": "replicapool.zoneOperations.get",
				"parameters": [{
					"in": "path",
					"name": "operation",
					"description": "Name of the operation resource to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "Name of the project scoping this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "Name of the zone scoping this request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"InstanceGroupManager": {
			"properties": {
				"baseInstanceName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currentSize": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"group": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"instanceTemplate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetPools": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetSize": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceGroupManagerList": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceGroupManagersAbandonInstancesRequest": {
			"properties": {
				"instances": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceGroupManagersDeleteInstancesRequest": {
			"properties": {
				"instances": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceGroupManagersRecreateInstancesRequest": {
			"properties": {
				"instances": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceGroupManagersSetInstanceTemplateRequest": {
			"properties": {
				"instanceTemplate": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"InstanceGroupManagersSetTargetPoolsRequest": {
			"properties": {
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetPools": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Operation": {
			"properties": {
				"clientOperationId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creationTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"error": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"httpErrorStatusCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operationType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"progress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"region": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statusMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"zone": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"OperationList": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}