{
	"swagger": "2.0",
	"info": {
		"title": "Google Play Game Services Publishing API",
		"description": "The Publishing API for Google Play Game Services.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1configuration"
	},
	"host": "www.googleapis.com",
	"basePath": "/games/v1configuration",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/achievements/{achievementId}": {
			"delete": {
				"summary": "",
				"description": "Delete the achievement configuration with the given ID.",
				"operationId": "gamesConfiguration.achievementConfigurations.delete",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves the metadata of the achievement configuration with the given ID.",
				"operationId": "gamesConfiguration.achievementConfigurations.get",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update the metadata of the achievement configuration with the given ID. This method supports patch semantics.",
				"operationId": "gamesConfiguration.achievementConfigurations.patch",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update the metadata of the achievement configuration with the given ID.",
				"operationId": "gamesConfiguration.achievementConfigurations.update",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/applications/{applicationId}/achievements": {
			"get": {
				"summary": "",
				"description": "Returns a list of the achievement configurations in this application.",
				"operationId": "gamesConfiguration.achievementConfigurations.list",
				"parameters": [{
					"in": "path",
					"name": "applicationId",
					"description": "The application ID from the Google Play developer console.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Insert a new achievement configuration in this application.",
				"operationId": "gamesConfiguration.achievementConfigurations.insert",
				"parameters": [{
					"in": "path",
					"name": "applicationId",
					"description": "The application ID from the Google Play developer console.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/applications/{applicationId}/leaderboards": {
			"get": {
				"summary": "",
				"description": "Returns a list of the leaderboard configurations in this application.",
				"operationId": "gamesConfiguration.leaderboardConfigurations.list",
				"parameters": [{
					"in": "path",
					"name": "applicationId",
					"description": "The application ID from the Google Play developer console.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Insert a new leaderboard configuration in this application.",
				"operationId": "gamesConfiguration.leaderboardConfigurations.insert",
				"parameters": [{
					"in": "path",
					"name": "applicationId",
					"description": "The application ID from the Google Play developer console.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/images/{resourceId}/imageType/{imageType}": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Uploads an image for a resource with the given ID and image type.",
				"operationId": "gamesConfiguration.imageConfigurations.upload",
				"parameters": [{
					"in": "path",
					"name": "imageType",
					"description": "Selects which image in a resource for this method.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceId",
					"description": "The ID of the resource used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards/{leaderboardId}": {
			"delete": {
				"summary": "",
				"description": "Delete the leaderboard configuration with the given ID.",
				"operationId": "gamesConfiguration.leaderboardConfigurations.delete",
				"parameters": [{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves the metadata of the leaderboard configuration with the given ID.",
				"operationId": "gamesConfiguration.leaderboardConfigurations.get",
				"parameters": [{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update the metadata of the leaderboard configuration with the given ID. This method supports patch semantics.",
				"operationId": "gamesConfiguration.leaderboardConfigurations.patch",
				"parameters": [{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Update the metadata of the leaderboard configuration with the given ID.",
				"operationId": "gamesConfiguration.leaderboardConfigurations.update",
				"parameters": [{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"AchievementConfiguration": {
			"properties": {
				"achievementType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"initialState": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"stepsToUnlock": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"token": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementConfigurationDetail": {
			"properties": {
				"iconUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pointValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sortRank": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementConfigurationListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GamesNumberAffixConfiguration": {
			"properties": []
		},
		"GamesNumberFormatConfiguration": {
			"properties": {
				"currencyCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numDecimalPlaces": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numberFormatType": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ImageConfiguration": {
			"properties": {
				"imageType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LeaderboardConfiguration": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreMax": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreMin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scoreOrder": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"token": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LeaderboardConfigurationDetail": {
			"properties": {
				"iconUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sortRank": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LeaderboardConfigurationListResponse": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LocalizedString": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locale": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LocalizedStringBundle": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"translations": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}