{
	"swagger": "2.0",
	"info": {
		"title": "Google Cloud Datastore API",
		"description": "API for accessing Google Cloud Datastore.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta2"
	},
	"host": "www.googleapis.com",
	"basePath": "/datastore/v1beta2/datasets",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{datasetId}/allocateIds": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Allocate IDs for incomplete keys (useful for referencing an entity before it is inserted).",
				"operationId": "datastore.datasets.allocateIds",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Identifies the dataset.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{datasetId}/beginTransaction": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Begin a new transaction.",
				"operationId": "datastore.datasets.beginTransaction",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Identifies the dataset.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{datasetId}/commit": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Commit a transaction, optionally creating, deleting or modifying some entities.",
				"operationId": "datastore.datasets.commit",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Identifies the dataset.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{datasetId}/lookup": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Look up some entities by key.",
				"operationId": "datastore.datasets.lookup",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Identifies the dataset.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{datasetId}/rollback": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Roll back a transaction.",
				"operationId": "datastore.datasets.rollback",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Identifies the dataset.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{datasetId}/runQuery": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Query for entities.",
				"operationId": "datastore.datasets.runQuery",
				"parameters": [{
					"in": "path",
					"name": "datasetId",
					"description": "Identifies the dataset.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"AllocateIdsRequest": {
			"properties": {
				"keys": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AllocateIdsResponse": {
			"properties": {
				"keys": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"BeginTransactionRequest": {
			"properties": {
				"isolationLevel": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"BeginTransactionResponse": {
			"properties": {
				"transaction": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CommitRequest": {
			"properties": {
				"ignoreReadOnly": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"transaction": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CommitResponse": {
			"properties": []
		},
		"CompositeFilter": {
			"properties": {
				"filters": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operator": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Entity": {
			"properties": {
				"properties": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EntityResult": {
			"properties": []
		},
		"Filter": {
			"properties": []
		},
		"GqlQuery": {
			"properties": {
				"allowLiteral": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nameArgs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numberArgs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"queryString": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GqlQueryArg": {
			"properties": {
				"cursor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Key": {
			"properties": {
				"path": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"KeyPathElement": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"KindExpression": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LookupRequest": {
			"properties": {
				"keys": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LookupResponse": {
			"properties": {
				"deferred": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"found": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"missing": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Mutation": {
			"properties": {
				"delete": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"force": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insert": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertAutoId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"update": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"upsert": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"MutationResult": {
			"properties": {
				"indexUpdates": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"insertAutoIdKeys": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PartitionId": {
			"properties": {
				"datasetId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"namespace": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Property": {
			"properties": {
				"blobKeyValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"blobValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"booleanValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dateTimeValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"doubleValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"indexed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"integerValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"listValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"meaning": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"stringValue": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PropertyExpression": {
			"properties": {
				"aggregationFunction": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PropertyFilter": {
			"properties": {
				"operator": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PropertyOrder": {
			"properties": {
				"direction": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PropertyReference": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Query": {
			"properties": {
				"endCursor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"groupBy": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kinds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"limit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"offset": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"order": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"projection": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startCursor": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QueryResultBatch": {
			"properties": {
				"endCursor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"entityResultType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"entityResults": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"moreResults": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skippedResults": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReadOptions": {
			"properties": {
				"readConsistency": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"transaction": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ResponseHeader": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RollbackRequest": {
			"properties": {
				"transaction": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RollbackResponse": {
			"properties": []
		},
		"RunQueryRequest": {
			"properties": []
		},
		"RunQueryResponse": {
			"properties": []
		},
		"Value": {
			"properties": {
				"blobKeyValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"blobValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"booleanValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dateTimeValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"doubleValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"indexed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"integerValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"listValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"meaning": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"stringValue": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}