{
	"swagger": "2.0",
	"info": {
		"title": "Google Affiliate Network API",
		"description": "Lets you have programmatic access to your Google Affiliate Network data.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta1"
	},
	"host": "www.googleapis.com",
	"basePath": "/gan/v1beta1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/publishers/{publisher}/ccOffers": {
			"get": {
				"summary": "",
				"description": "Retrieves credit card offers for the given publisher.",
				"operationId": "gan.ccOffers.list",
				"parameters": [{
					"in": "query",
					"name": "advertiser",
					"description": "The advertiser ID of a card issuer whose offers to include. Optional, may be repeated.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "projection",
					"description": "The set of fields to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "publisher",
					"description": "The ID of the publisher in question.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/advertiser": {
			"get": {
				"summary": "",
				"description": "Retrieves data about a single advertiser if that the requesting advertiser/publisher has access to it. Only publishers can lookup advertisers. Advertisers can request information about themselves by omitting the advertiserId query parameter.",
				"operationId": "gan.advertisers.get",
				"parameters": [{
					"in": "query",
					"name": "advertiserId",
					"description": "The ID of the advertiser to look up. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/advertisers": {
			"get": {
				"summary": "",
				"description": "Retrieves data about all advertisers that the requesting advertiser/publisher has access to.",
				"operationId": "gan.advertisers.list",
				"parameters": [{
					"in": "query",
					"name": "advertiserCategory",
					"description": "Caret(^) delimted list of advertiser categories. Valid categories are defined here: http://www.google.com/support/affiliatenetwork/advertiser/bin/answer.py?hl=en&answer=107581. Filters out all advertisers not in one of the given advertiser categories. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Max number of items to return in this page. Optional. Defaults to 20.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minNinetyDayEpc",
					"description": "Filters out all advertisers that have a ninety day EPC average lower than the given value (inclusive). Min value: 0.0. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minPayoutRank",
					"description": "A value between 1 and 4, where 1 represents the quartile of advertisers with the lowest ranks and 4 represents the quartile of advertisers with the highest ranks. Filters out all advertisers with a lower rank than the given quartile. For example if a 2 was given only advertisers with a payout rank of 25 or higher would be included. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minSevenDayEpc",
					"description": "Filters out all advertisers that have a seven day EPC average lower than the given value (inclusive). Min value: 0.0. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of nextPageToken from the previous page. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "relationshipStatus",
					"description": "Filters out all advertisers for which do not have the given relationship status with the requesting publisher.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/events": {
			"get": {
				"summary": "",
				"description": "Retrieves event data for a given advertiser/publisher.",
				"operationId": "gan.events.list",
				"parameters": [{
					"in": "query",
					"name": "advertiserId",
					"description": "Caret(^) delimited list of advertiser IDs. Filters out all events that do not reference one of the given advertiser IDs. Only used when under publishers role. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "chargeType",
					"description": "Filters out all charge events that are not of the given charge type. Valid values: other, slotting_fee, monthly_minimum, tier_bonus, credit, debit. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "eventDateMax",
					"description": "Filters out all events later than given date. Optional. Defaults to 24 hours after eventMin.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "eventDateMin",
					"description": "Filters out all events earlier than given date. Optional. Defaults to 24 hours from current date/time.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "linkId",
					"description": "Caret(^) delimited list of link IDs. Filters out all events that do not reference one of the given link IDs. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Max number of offers to return in this page. Optional. Defaults to 20.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "memberId",
					"description": "Caret(^) delimited list of member IDs. Filters out all events that do not reference one of the given member IDs. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "modifyDateMax",
					"description": "Filters out all events modified later than given date. Optional. Defaults to 24 hours after modifyDateMin, if modifyDateMin is explicitly set.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "modifyDateMin",
					"description": "Filters out all events modified earlier than given date. Optional. Defaults to 24 hours before the current modifyDateMax, if modifyDateMax is explicitly set.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "orderId",
					"description": "Caret(^) delimited list of order IDs. Filters out all events that do not reference one of the given order IDs. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of nextPageToken from the previous page. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "productCategory",
					"description": "Caret(^) delimited list of product categories. Filters out all events that do not reference a product in one of the given product categories. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "publisherId",
					"description": "Caret(^) delimited list of publisher IDs. Filters out all events that do not reference one of the given publishers IDs. Only used when under advertiser role. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sku",
					"description": "Caret(^) delimited list of SKUs. Filters out all events that do not reference one of the given SKU. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "status",
					"description": "Filters out all events that do not have the given status. Valid values: active, canceled. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "Filters out all events that are not of the given type. Valid values: action, transaction, charge. Optional.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/link": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new link.",
				"operationId": "gan.links.insert",
				"parameters": [{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/link/{linkId}": {
			"get": {
				"summary": "",
				"description": "Retrieves data about a single link if the requesting advertiser/publisher has access to it. Advertisers can look up their own links. Publishers can look up visible links or links belonging to advertisers they are in a relationship with.",
				"operationId": "gan.links.get",
				"parameters": [{
					"in": "path",
					"name": "linkId",
					"description": "The ID of the link to look up.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/links": {
			"get": {
				"summary": "",
				"description": "Retrieves all links that match the query parameters.",
				"operationId": "gan.links.list",
				"parameters": [{
					"in": "query",
					"name": "advertiserId",
					"description": "Limits the resulting links to the ones belonging to the listed advertisers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "assetSize",
					"description": "The size of the given asset.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "authorship",
					"description": "The role of the author of the link.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "createDateMax",
					"description": "The end of the create date range.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "createDateMin",
					"description": "The beginning of the create date range.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "linkType",
					"description": "The type of the link.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Max number of items to return in this page. Optional. Defaults to 20.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of nextPageToken from the previous page. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "promotionType",
					"description": "The promotion type.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "relationshipStatus",
					"description": "The status of the relationship.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "searchText",
					"description": "Field for full text search across title and merchandising text, supports link id search.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startDateMax",
					"description": "The end of the start date range.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startDateMin",
					"description": "The beginning of the start date range.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/publisher": {
			"get": {
				"summary": "",
				"description": "Retrieves data about a single advertiser if that the requesting advertiser/publisher has access to it. Only advertisers can look up publishers. Publishers can request information about themselves by omitting the publisherId query parameter.",
				"operationId": "gan.publishers.get",
				"parameters": [{
					"in": "query",
					"name": "publisherId",
					"description": "The ID of the publisher to look up. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/publishers": {
			"get": {
				"summary": "",
				"description": "Retrieves data about all publishers that the requesting advertiser/publisher has access to.",
				"operationId": "gan.publishers.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Max number of items to return in this page. Optional. Defaults to 20.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minNinetyDayEpc",
					"description": "Filters out all publishers that have a ninety day EPC average lower than the given value (inclusive). Min value: 0.0. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minPayoutRank",
					"description": "A value between 1 and 4, where 1 represents the quartile of publishers with the lowest ranks and 4 represents the quartile of publishers with the highest ranks. Filters out all publishers with a lower rank than the given quartile. For example if a 2 was given only publishers with a payout rank of 25 or higher would be included. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minSevenDayEpc",
					"description": "Filters out all publishers that have a seven day EPC average lower than the given value (inclusive). Min value 0.0. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The value of nextPageToken from the previous page. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "publisherCategory",
					"description": "Caret(^) delimted list of publisher categories. Valid categories: (unclassified|community_and_content|shopping_and_promotion|loyalty_and_rewards|network|search_specialist|comparison_shopping|email). Filters out all publishers not in one of the given advertiser categories. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "relationshipStatus",
					"description": "Filters out all publishers for which do not have the given relationship status with the requesting publisher.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{role}/{roleId}/report/{reportType}": {
			"get": {
				"summary": "",
				"description": "Retrieves a report of the specified type.",
				"operationId": "gan.reports.get",
				"parameters": [{
					"in": "query",
					"name": "advertiserId",
					"description": "The IDs of the advertisers to look up, if applicable.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "calculateTotals",
					"description": "Whether or not to calculate totals rows. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "endDate",
					"description": "The end date (exclusive), in RFC 3339 format, for the report data to be returned. Defaults to one day after startDate, if that is given, or today. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "eventType",
					"description": "Filters out all events that are not of the given type. Valid values: action, transaction, or charge. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "linkId",
					"description": "Filters to capture one of given link IDs. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Max number of items to return in this page. Optional. Defaults to return all results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "orderId",
					"description": "Filters to capture one of the given order IDs. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "publisherId",
					"description": "The IDs of the publishers to look up, if applicable.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "reportType",
					"description": "The type of report being requested. Valid values: order_delta. Required.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "role",
					"description": "The role of the requester. Valid values: advertisers or publishers.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "roleId",
					"description": "The ID of the requesting advertiser or publisher.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startDate",
					"description": "The start date (inclusive), in RFC 3339 format, for the report data to be returned. Defaults to one day before endDate, if that is given, or yesterday. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startIndex",
					"description": "Offset on which to return results when paging. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "status",
					"description": "Filters out all events that do not have the given status. Valid values: active, canceled, or invalid. Optional.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Advertiser": {
			"properties": {
				"allowPublisherCreatedLinks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"category": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"commissionDuration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contactEmail": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contactPhone": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"defaultLinkId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"joinDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"logoUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"merchantCenterIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"payoutRank": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productFeedsEnabled": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"redirectDomains": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"siteUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Advertisers": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CcOffer": {
			"properties": {
				"additionalCardBenefits": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"additionalCardHolderFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ageMinimum": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ageMinimumDetails": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"annualFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"annualFeeDisplay": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"annualRewardMaximum": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"approvedCategories": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"aprDisplay": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"balanceComputationMethod": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"balanceTransferTerms": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"bonusRewards": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"carRentalInsurance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cardBenefits": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cardName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cardType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cashAdvanceTerms": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creditLimitMax": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creditLimitMin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"creditRatingDisplay": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"defaultFees": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disclaimer": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emergencyInsurance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"existingCustomerOnly": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"extendedWarranty": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"firstYearAnnualFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"flightAccidentInsurance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"foreignCurrencyTransactionFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fraudLiability": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gracePeriodDisplay": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"imageUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"initialSetupAndProcessingFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"introBalanceTransferTerms": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"introCashAdvanceTerms": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"introPurchaseTerms": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"issuer": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"issuerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"issuerWebsite": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"landingPageUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"latePaymentFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"luggageInsurance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxPurchaseRate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"minPurchaseRate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"minimumFinanceCharge": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"network": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"offerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"offersImmediateCashReward": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"overLimitFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"prohibitedCategories": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"purchaseRateAdditionalDetails": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"purchaseRateType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"returnedPaymentFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rewardPartner": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rewardUnit": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rewards": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rewardsExpire": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rewardsHaveBlackoutDates": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"statementCopyFee": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"trackingUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"travelInsurance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"variableRatesLastUpdated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"variableRatesUpdateFrequency": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CcOffers": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Event": {
			"properties": {
				"advertiserId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"advertiserName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"chargeId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"chargeType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"eventDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"memberId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifyDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"orderId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"products": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"publisherId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"publisherName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Events": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Link": {
			"properties": {
				"advertiserId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"authorship": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"availability": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"clickTrackingUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"createDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destinationUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"duration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"imageAltText": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"impressionTrackingUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isActive": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"linkType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"promotionType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"specialOffers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startDate": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Links": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Money": {
			"properties": {
				"amount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currencyCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Publisher": {
			"properties": {
				"classification": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"joinDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"payoutRank": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sites": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Publishers": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Report": {
			"properties": {
				"column_names": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"end_date": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"matching_row_count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"start_date": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totals_rows": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}