{
	"swagger": "2.0",
	"info": {
		"title": "Google PageSpeed API",
		"description": "PageSpeed Insights is an open-source project started at Google to help developers optimize their web pages by applying web performance best practices. PageSpeed Insights started as an open-source browser extension, and is now available via PageSpeed Insights and as an API.",
		"termsOfService": "https://developers.google.com/speed/libraries/terms",
		"version": null
	},
	"host": "www.googleapis.com",
	"basePath": "/pagespeedonline/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/runPagespeed": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "callback",
					"description": "Callback function.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "locale",
					"description": "The locale used to localize formatted results.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "prettyPrint",
					"description": "Returns response with identations and line breaks.",
					"type": "boolean"
				},
				{
					"in": "query",
					"name": "rule",
					"description": "A Page Speed rule to run; if none are given, all rules are run.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "strategy",
					"description": "The analysis strategy to use.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "The URL to fetch and analyze.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "userIp",
					"description": "IP address of the site where the request originates.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}