{
	"swagger": "2.0",
	"info": {
		"title": "Drive API",
		"description": "The API to interact with Drive.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2"
	},
	"host": "www.googleapis.com",
	"basePath": "/drive/v2",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/about": {
			"get": {
				"summary": "User Settings",
				"description": "Gets the information about the current user along with Drive API settings",
				"operationId": "drive.about.get",
				"parameters": [{
					"in": "query",
					"name": "includeSubscribed",
					"description": "When calculating the number of remaining change IDs, whether to include public files the user has opened and shared files. When set to false, this counts only change IDs for owned files and any shared or public files that the user has explicitly added to a folder they own.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxChangeIdCount",
					"description": "Maximum number of remaining change IDs to count",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startChangeId",
					"description": "Change ID to start counting from when calculating number of remaining change IDs",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["users"],
				"security": []
			},
			"parameters": {
				"summary": "User Settings Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["users"],
				"security": []
			}
		},
		"/apps": {
			"get": {
				"summary": "Get Apps",
				"description": "Lists a users installed apps.",
				"operationId": "drive.apps.list",
				"parameters": [{
					"in": "query",
					"name": "appFilterExtensions",
					"description": "A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If appFilterMimeTypes are provided as well, the result is a union of the two resulting app lists.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "appFilterMimeTypes",
					"description": "A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If appFilterExtensions are provided as well, the result is a union of the two resulting app lists.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "languageCode",
					"description": "A language or locale code, as defined by BCP 47, with some extensions from Unicodes LDML format (http://www.unicode.org/reports/tr35/).",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["apps"],
				"security": []
			},
			"parameters": {
				"summary": "Get Apps Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["apps"],
				"security": []
			}
		},
		"/apps/{appId}": {
			"get": {
				"summary": "Get App",
				"description": "Gets a specific app.",
				"operationId": "drive.apps.get",
				"parameters": [{
					"in": "path",
					"name": "appId",
					"description": "The ID of the app.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["apps"],
				"security": []
			},
			"parameters": {
				"summary": "Get App Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["apps"],
				"security": []
			}
		},
		"/changes": {
			"get": {
				"summary": "Get Changes",
				"description": "Lists the changes for a user.",
				"operationId": "drive.changes.list",
				"parameters": [{
					"in": "query",
					"name": "includeDeleted",
					"description": "Whether to include deleted items.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeSubscribed",
					"description": "Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of changes to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token for changes.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startChangeId",
					"description": "Change ID to start listing changes from.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get Changes Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/changes/watch": {
			"parameters": {
				"summary": "Watch Changes Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Watch Changes",
				"description": "Subscribe to changes for a user.",
				"operationId": "drive.changes.watch",
				"parameters": [{
					"in": "query",
					"name": "includeDeleted",
					"description": "Whether to include deleted items.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeSubscribed",
					"description": "Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of changes to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token for changes.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "startChangeId",
					"description": "Change ID to start listing changes from.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/changes/{changeId}": {
			"get": {
				"summary": "Get Change",
				"description": "Gets a specific change.",
				"operationId": "drive.changes.get",
				"parameters": [{
					"in": "path",
					"name": "changeId",
					"description": "The ID of the change.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get Change Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/channels/stop": {
			"parameters": {
				"summary": "Stop Channels Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["channels"],
				"security": []
			},
			"post": {
				"summary": "Stop Channels",
				"description": "Stop watching resources through this channel",
				"operationId": "drive.channels.stop",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["channels"],
				"security": []
			}
		},
		"/files": {
			"get": {
				"summary": "Get Files",
				"description": "Lists the users files.",
				"operationId": "drive.files.list",
				"parameters": [{
					"in": "query",
					"name": "corpus",
					"description": "The body of items (files/documents) to which the query applies.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of files to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token for files.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "projection",
					"description": "This parameter is deprecated and has no function.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "q",
					"description": "Query string for searching files.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get Files Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Add File",
				"description": "Insert a new file.",
				"operationId": "drive.files.insert",
				"parameters": [{
					"in": "query",
					"name": "convert",
					"description": "Whether to convert this file to the corresponding Google Docs format.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ocr",
					"description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ocrLanguage",
					"description": "If ocr is true, hints at the language to use. Valid values are ISO 639-1 codes.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pinned",
					"description": "Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timedTextLanguage",
					"description": "The language of the timed text.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timedTextTrackName",
					"description": "The timed text track name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "useContentAsIndexableText",
					"description": "Whether to use the content as indexable text.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "visibility",
					"description": "The visibility of the new file. This parameter is only relevant when convert=false.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/trash": {
			"delete": {
				"summary": "Delete Files",
				"description": "Permanently deletes all of the users trashed files.",
				"operationId": "drive.files.emptyTrash",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Delete Files Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}": {
			"delete": {
				"summary": "Delete File",
				"description": "Permanently deletes a file by ID. Skips the trash. The currently authenticated user must own the file.",
				"operationId": "drive.files.delete",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"get": {
				"summary": "Get File",
				"description": "Gets a files metadata by ID.",
				"operationId": "drive.files.get",
				"parameters": [{
					"in": "query",
					"name": "acknowledgeAbuse",
					"description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file in question.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "projection",
					"description": "This parameter is deprecated and has no function.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "revisionId",
					"description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "updateViewedDate",
					"description": "Whether to update the view date after successfully retrieving the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"patch": {
				"summary": "Update File",
				"description": "Updates file metadata and/or content. This method supports patch semantics.",
				"operationId": "drive.files.patch",
				"parameters": [{
					"in": "query",
					"name": "addParents",
					"description": "Comma-separated list of parent IDs to add.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "convert",
					"description": "Whether to convert this file to the corresponding Google Docs format.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "newRevision",
					"description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous revisions are preserved (causing increased use of the users data storage quota).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ocr",
					"description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ocrLanguage",
					"description": "If ocr is true, hints at the language to use. Valid values are ISO 639-1 codes.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pinned",
					"description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "removeParents",
					"description": "Comma-separated list of parent IDs to remove.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "setModifiedDate",
					"description": "Whether to set the modified date with the supplied modified date.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timedTextLanguage",
					"description": "The language of the timed text.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timedTextTrackName",
					"description": "The timed text track name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "updateViewedDate",
					"description": "Whether to update the view date after successfully updating the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "useContentAsIndexableText",
					"description": "Whether to use the content as indexable text.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"put": {
				"summary": "Update File",
				"description": "Updates file metadata and/or content.",
				"operationId": "drive.files.update",
				"parameters": [{
					"in": "query",
					"name": "addParents",
					"description": "Comma-separated list of parent IDs to add.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "convert",
					"description": "Whether to convert this file to the corresponding Google Docs format.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file to update.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "newRevision",
					"description": "Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous revisions are preserved (causing increased use of the users data storage quota).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ocr",
					"description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ocrLanguage",
					"description": "If ocr is true, hints at the language to use. Valid values are ISO 639-1 codes.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pinned",
					"description": "Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "removeParents",
					"description": "Comma-separated list of parent IDs to remove.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "setModifiedDate",
					"description": "Whether to set the modified date with the supplied modified date.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timedTextLanguage",
					"description": "The language of the timed text.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timedTextTrackName",
					"description": "The timed text track name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "updateViewedDate",
					"description": "Whether to update the view date after successfully updating the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "useContentAsIndexableText",
					"description": "Whether to use the content as indexable text.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/comments": {
			"get": {
				"summary": "Get File Comments",
				"description": "Lists a files comments.",
				"operationId": "drive.comments.list",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeDeleted",
					"description": "If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of discussions to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "updatedMin",
					"description": "Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Comments Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Add File Comment",
				"description": "Creates a new comment on the given file.",
				"operationId": "drive.comments.insert",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/comments/{commentId}": {
			"delete": {
				"summary": "Delete File Comment",
				"description": "Deletes a comment.",
				"operationId": "drive.comments.delete",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"get": {
				"summary": "Get File Comment",
				"description": "Gets a comment by ID.",
				"operationId": "drive.comments.get",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeDeleted",
					"description": "If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Comment Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"patch": {
				"summary": "Update File Comment",
				"description": "Updates an existing comment. This method supports patch semantics.",
				"operationId": "drive.comments.patch",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"put": {
				"summary": "Update File Comment",
				"description": "Updates an existing comment.",
				"operationId": "drive.comments.update",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/comments/{commentId}/replies": {
			"get": {
				"summary": "Get File Comment Replies",
				"description": "Lists all of the replies to a comment.",
				"operationId": "drive.replies.list",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeDeleted",
					"description": "If set, all replies, including deleted replies (with content stripped) will be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of replies to include in the response, used for paging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Comment Replies Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Add File Comment Reply",
				"description": "Creates a new reply to the given comment.",
				"operationId": "drive.replies.insert",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/comments/{commentId}/replies/{replyId}": {
			"delete": {
				"summary": "Delete File Comment Reply",
				"description": "Deletes a reply.",
				"operationId": "drive.replies.delete",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "replyId",
					"description": "The ID of the reply.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"get": {
				"summary": "Get File Comment Reply",
				"description": "Gets a reply.",
				"operationId": "drive.replies.get",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "includeDeleted",
					"description": "If set, this will succeed when retrieving a deleted reply.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "replyId",
					"description": "The ID of the reply.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Comment Reply Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"patch": {
				"summary": "Update File Comment Reply",
				"description": "Updates an existing reply. This method supports patch semantics.",
				"operationId": "drive.replies.patch",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "replyId",
					"description": "The ID of the reply.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"put": {
				"summary": "Update File Comment Reply",
				"description": "Updates an existing reply.",
				"operationId": "drive.replies.update",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "replyId",
					"description": "The ID of the reply.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/copy": {
			"parameters": {
				"summary": "Copy file Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Copy file",
				"description": "Creates a copy of the specified file.",
				"operationId": "drive.files.copy",
				"parameters": [{
					"in": "query",
					"name": "convert",
					"description": "Whether to convert this file to the corresponding Google Docs format.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file to copy.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ocr",
					"description": "Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "ocrLanguage",
					"description": "If ocr is true, hints at the language to use. Valid values are ISO 639-1 codes.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pinned",
					"description": "Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timedTextLanguage",
					"description": "The language of the timed text.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "timedTextTrackName",
					"description": "The timed text track name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "visibility",
					"description": "The visibility of the new file. This parameter is only relevant when the source is not a native Google Doc and convert=false.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/parents": {
			"get": {
				"summary": "Get File Parents",
				"description": "Lists a files parents.",
				"operationId": "drive.parents.list",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Parents Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Add File Parent",
				"description": "Adds a parent folder for a file.",
				"operationId": "drive.parents.insert",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/parents/{parentId}": {
			"delete": {
				"summary": "Delete File Parent",
				"description": "Removes a parent from a file.",
				"operationId": "drive.parents.delete",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "parentId",
					"description": "The ID of the parent.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"get": {
				"summary": "Get File Parent",
				"description": "Gets a specific parent reference.",
				"operationId": "drive.parents.get",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "parentId",
					"description": "The ID of the parent.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Parent Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/permissions": {
			"get": {
				"summary": "Get File Permissions",
				"description": "Lists a files permissions.",
				"operationId": "drive.permissions.list",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Permissions Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Add File Permission",
				"description": "Inserts a permission for a file.",
				"operationId": "drive.permissions.insert",
				"parameters": [{
					"in": "query",
					"name": "emailMessage",
					"description": "A custom message to include in notification emails.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sendNotificationEmails",
					"description": "Whether to send notification emails when sharing to users or groups. This parameter is ignored and an email is sent if the role is owner.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/permissions/{permissionId}": {
			"delete": {
				"summary": "Delete File Permission",
				"description": "Deletes a permission from a file.",
				"operationId": "drive.permissions.delete",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "permissionId",
					"description": "The ID for the permission.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"get": {
				"summary": "Get File Permission",
				"description": "Gets a permission by ID.",
				"operationId": "drive.permissions.get",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "permissionId",
					"description": "The ID for the permission.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Permission Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"patch": {
				"summary": "Update File Permission",
				"description": "Updates a permission. This method supports patch semantics.",
				"operationId": "drive.permissions.patch",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "permissionId",
					"description": "The ID for the permission.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "transferOwnership",
					"description": "Whether changing a role to owner downgrades the current owners to writers. Does nothing if the specified role is not owner.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"put": {
				"summary": "Update File Permission",
				"description": "Updates a permission.",
				"operationId": "drive.permissions.update",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "permissionId",
					"description": "The ID for the permission.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "transferOwnership",
					"description": "Whether changing a role to owner downgrades the current owners to writers. Does nothing if the specified role is not owner.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/properties": {
			"get": {
				"summary": "Get File Properties",
				"description": "Lists a files properties.",
				"operationId": "drive.properties.list",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Properties Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Add File Property",
				"description": "Adds a property to a file.",
				"operationId": "drive.properties.insert",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/properties/{propertyKey}": {
			"delete": {
				"summary": "Delete File Property",
				"description": "Deletes a property.",
				"operationId": "drive.properties.delete",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "propertyKey",
					"description": "The key of the property.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "visibility",
					"description": "The visibility of the property.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"get": {
				"summary": "Get File Property",
				"description": "Gets a property by its key.",
				"operationId": "drive.properties.get",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "propertyKey",
					"description": "The key of the property.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "visibility",
					"description": "The visibility of the property.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Property Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"patch": {
				"summary": "Update File Property",
				"description": "Updates a property. This method supports patch semantics.",
				"operationId": "drive.properties.patch",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "propertyKey",
					"description": "The key of the property.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "visibility",
					"description": "The visibility of the property.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"put": {
				"summary": "Update File Property",
				"description": "Updates a property.",
				"operationId": "drive.properties.update",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "propertyKey",
					"description": "The key of the property.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "visibility",
					"description": "The visibility of the property.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/realtime": {
			"get": {
				"summary": "Get File Realtime",
				"description": "Exports the contents of the Realtime API data model associated with this file as JSON.",
				"operationId": "drive.realtime.get",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file that the Realtime API data model is associated with.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "revision",
					"description": "The revision of the Realtime API data model to export. Revisions start at 1 (the initial empty data model) and are incremented with each change. If this parameter is excluded, the most recent data model will be returned.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Realtime Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"put": {
				"summary": "Update File Realtime",
				"description": "Overwrites the Realtime API data model associated with this file with the provided JSON data model.",
				"operationId": "drive.realtime.update",
				"parameters": [{
					"in": "query",
					"name": "baseRevision",
					"description": "The revision of the model to diff the uploaded model against. If set, the uploaded model is diffed against the provided revision and those differences are merged with any changes made to the model after the provided revision. If not set, the uploaded model replaces the current model on the server.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file that the Realtime API data model is associated with.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/revisions": {
			"get": {
				"summary": "Get File Revisions",
				"description": "Lists a files revisions.",
				"operationId": "drive.revisions.list",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Revisions Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/revisions/{revisionId}": {
			"delete": {
				"summary": "Delete File Revisions",
				"description": "Removes a revision.",
				"operationId": "drive.revisions.delete",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "revisionId",
					"description": "The ID of the revision.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"get": {
				"summary": "Get File Revision",
				"description": "Gets a specific revision.",
				"operationId": "drive.revisions.get",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "revisionId",
					"description": "The ID of the revision.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"parameters": {
				"summary": "Get File Revision Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"patch": {
				"summary": "Update File Revision",
				"description": "Updates a revision. This method supports patch semantics.",
				"operationId": "drive.revisions.patch",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "revisionId",
					"description": "The ID for the revision.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"put": {
				"summary": "Update File Revision",
				"description": "Updates a revision.",
				"operationId": "drive.revisions.update",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "revisionId",
					"description": "The ID for the revision.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/touch": {
			"parameters": {
				"summary": " ParametersGet File Touch",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Update File Touch",
				"description": "Set the files updated time to the current server time.",
				"operationId": "drive.files.touch",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file to update.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/trash": {
			"parameters": {
				"summary": "Get File Touch Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Trash File",
				"description": "Moves a file to the trash.",
				"operationId": "drive.files.trash",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file to trash.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/untrash": {
			"parameters": {
				"summary": "Trash File Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Un Trash File",
				"description": "Restores a file from the trash.",
				"operationId": "drive.files.untrash",
				"parameters": [{
					"in": "path",
					"name": "fileId",
					"description": "The ID of the file to untrash.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{fileId}/watch": {
			"parameters": {
				"summary": "Watch File Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			},
			"post": {
				"summary": "Watch File",
				"description": "Subscribe to changes on a file",
				"operationId": "drive.files.watch",
				"parameters": [{
					"in": "query",
					"name": "acknowledgeAbuse",
					"description": "Whether the user is acknowledging the risk of downloading known malware or other abusive files.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "fileId",
					"description": "The ID for the file in question.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "projection",
					"description": "This parameter is deprecated and has no function.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "revisionId",
					"description": "Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "updateViewedDate",
					"description": "Whether to update the view date after successfully retrieving the file.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["files"],
				"security": []
			}
		},
		"/files/{folderId}/children": {
			"get": {
				"summary": "Get Folder Children",
				"description": "Lists a folders children.",
				"operationId": "drive.children.list",
				"parameters": [{
					"in": "path",
					"name": "folderId",
					"description": "The ID of the folder.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of children to return.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Page token for children.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "q",
					"description": "Query string for searching children.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["folders"],
				"security": []
			},
			"parameters": {
				"summary": "Get Folder Children Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["folders"],
				"security": []
			},
			"post": {
				"summary": "Update Folder Children",
				"description": "Inserts a file into a folder.",
				"operationId": "drive.children.insert",
				"parameters": [{
					"in": "path",
					"name": "folderId",
					"description": "The ID of the folder.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["folders"],
				"security": []
			}
		},
		"/files/{folderId}/children/{childId}": {
			"delete": {
				"summary": "Delete Folder Child",
				"description": "Removes a child from a folder.",
				"operationId": "drive.children.delete",
				"parameters": [{
					"in": "path",
					"name": "childId",
					"description": "The ID of the child.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "folderId",
					"description": "The ID of the folder.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["folders"],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a specific child reference.",
				"operationId": "drive.children.get",
				"parameters": [{
					"in": "path",
					"name": "childId",
					"description": "The ID of the child.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "folderId",
					"description": "The ID of the folder.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["folders"],
				"security": []
			},
			"parameters": {
				"summary": "Get Folder Child Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["folders"],
				"security": []
			}
		},
		"/permissionIds/{email}": {
			"get": {
				"summary": "Get Email",
				"description": "Returns the permission ID for an email address.",
				"operationId": "drive.permissions.getIdForEmail",
				"parameters": [{
					"in": "path",
					"name": "email",
					"description": "The email address for which to return a permission ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["email"],
				"security": []
			},
			"parameters": {
				"summary": "Get Email Parameters",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["email"],
				"security": []
			}
		}
	},
	"definitions": {
		"About": {
			"properties": {
				"additionalRoleInfo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"domainSharingPolicy": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"exportFormats": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"features": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"folderColorPalette": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"importFormats": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isCurrentAppInstalled": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"languageCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"largestChangeId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxUploadSizes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permissionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quotaBytesByService": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quotaBytesTotal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quotaBytesUsed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quotaBytesUsedAggregate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quotaBytesUsedInTrash": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quotaType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"remainingChangeIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rootFolderId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"App": {
			"properties": {
				"authorized": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"createInFolderTemplate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"createUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"hasDriveWideScope": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"icons": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"installed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"longDescription": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"objectType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"openUrlTemplate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"primaryFileExtensions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"primaryMimeTypes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"productUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"secondaryFileExtensions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"secondaryMimeTypes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shortDescription": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportsCreate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportsImport": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportsMultiOpen": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"supportsOfflineCreate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"useByDefault": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AppList": {
			"properties": {
				"defaultAppIds": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Change": {
			"properties": {
				"deleted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modificationDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ChangeList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"largestChangeId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Channel": {
			"properties": {
				"address": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"expiration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"params": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"payload": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceUri": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"token": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ChildList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ChildReference": {
			"properties": {
				"childLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Comment": {
			"properties": {
				"anchor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"commentId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"content": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"context": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"createdDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deleted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileTitle": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"htmlContent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifiedDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"replies": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CommentList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CommentReply": {
			"properties": {
				"content": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"createdDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deleted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"htmlContent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifiedDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"replyId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verb": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CommentReplyList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"File": {
			"properties": {
				"alternateLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"appDataContents": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"copyable": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"createdDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"defaultOpenWithLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"downloadUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"editable": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"embedLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"explicitlyTrashed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"exportLinks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileExtension": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileSize": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"folderColorRgb": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"headRevisionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"iconLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"imageMediaMetadata": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"indexableText": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModifyingUserName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastViewedByMeDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"markedViewedByMeDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"md5Checksum": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mimeType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifiedByMeDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifiedDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"openWithLinks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"originalFilename": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ownerNames": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"owners": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"parents": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permissions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"properties": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quotaBytesUsed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shared": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sharedWithMeDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"thumbnail": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"thumbnailLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"videoMediaMetadata": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"webContentLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"webViewLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"writersCanShare": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FileList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ParentList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ParentReference": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isRoot": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"parentLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Permission": {
			"properties": {
				"additionalRoles": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"authKey": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"domain": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emailAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"photoLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"role": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"withLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PermissionId": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PermissionList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Property": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"visibility": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PropertyList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Revision": {
			"properties": {
				"downloadUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"exportLinks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fileSize": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModifyingUserName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"md5Checksum": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mimeType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modifiedDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"originalFilename": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pinned": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"publishAuto": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"publishedLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"publishedOutsideDomain": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RevisionList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"User": {
			"properties": {
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emailAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isAuthenticatedUser": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permissionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"picture": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}