{
	"swagger": "2.0",
	"info": {
		"title": "Google OAuth2 API",
		"description": "Lets you access OAuth2 protocol related APIs.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/oauth2/v1/certs": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "oauth2.getCertForOpenIdConnect",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/oauth2/v1/raw_public_keys": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "oauth2.getCertForOpenIdConnectRaw",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/oauth2/v1/tokeninfo": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Get token info",
				"operationId": "oauth2.tokeninfo",
				"parameters": [{
					"in": "query",
					"name": "access_token",
					"description": "The oauth2 access token",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "id_token",
					"description": "The ID token",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/oauth2/v1/userinfo": {
			"get": {
				"summary": "",
				"description": "Get user info",
				"operationId": "oauth2.userinfo.get",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/service_accounts/v1/metadata/raw/{robotEmail}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "oauth2.getRobotMetadataRaw",
				"parameters": [{
					"in": "path",
					"name": "robotEmail",
					"description": "The email of robot account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/service_accounts/v1/metadata/x509/{robotEmail}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "oauth2.getRobotMetadataX509",
				"parameters": [{
					"in": "path",
					"name": "robotEmail",
					"description": "The email of robot account.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/userinfo/v2/me": {
			"get": {
				"summary": "",
				"description": "Get user info",
				"operationId": "oauth2.userinfo.v2.me.get",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Raw": {
			"properties": {
				"keyvalues": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Tokeninfo": {
			"properties": {
				"access_type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"audience": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email_verified": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"expires_in": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"issued_at": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"issued_to": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"issuer": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nonce": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scope": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"user_id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verified_email": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Userinfoplus": {
			"properties": {
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"family_name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gender": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"given_name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"hd": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"link": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"locale": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"picture": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verified_email": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}