{
	"swagger": "2.0",
	"info": {
		"title": "Google Play Game Services Management API",
		"description": "The Management API for Google Play Game Services.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1management"
	},
	"host": "www.googleapis.com",
	"basePath": "/games/v1management",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/achievements/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all achievements for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
				"operationId": "gamesManagement.achievements.resetAll",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/resetAllForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all draft achievements for all players. This method is only available to user accounts for your developer console.",
				"operationId": "gamesManagement.achievements.resetAllForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/resetMultipleForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets achievements with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft achievements may be reset.",
				"operationId": "gamesManagement.achievements.resetMultipleForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/{achievementId}/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets the achievement with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
				"operationId": "gamesManagement.achievements.reset",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/achievements/{achievementId}/resetForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets the achievement with the given ID for all players. This method is only available to user accounts for your developer console. Only draft achievements can be reset.",
				"operationId": "gamesManagement.achievements.resetForAllPlayers",
				"parameters": [{
					"in": "path",
					"name": "achievementId",
					"description": "The ID of the achievement used by this method.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/applications/{applicationId}/players/hidden": {
			"get": {
				"summary": "",
				"description": "Get the list of players hidden from the given application. This method is only available to user accounts for your developer console.",
				"operationId": "gamesManagement.applications.listHidden",
				"parameters": [{
					"in": "path",
					"name": "applicationId",
					"description": "The application ID from the Google Play developer console.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The token returned by the previous request.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/applications/{applicationId}/players/hidden/{playerId}": {
			"delete": {
				"summary": "",
				"description": "Unhide the given players leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
				"operationId": "gamesManagement.players.unhide",
				"parameters": [{
					"in": "path",
					"name": "applicationId",
					"description": "The application ID from the Google Play developer console.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "playerId",
					"description": "A player ID. A value of me may be used in place of the authenticated players ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Hide the given players leaderboard scores from the given application. This method is only available to user accounts for your developer console.",
				"operationId": "gamesManagement.players.hide",
				"parameters": [{
					"in": "path",
					"name": "applicationId",
					"description": "The application ID from the Google Play developer console.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "playerId",
					"description": "A player ID. A value of me may be used in place of the authenticated players ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/events/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all player progress on all events for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application. All quests for this player will also be reset.",
				"operationId": "gamesManagement.events.resetAll",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/events/resetAllForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all draft events for all players. This method is only available to user accounts for your developer console. All quests that use any of these events will also be reset.",
				"operationId": "gamesManagement.events.resetAllForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/events/resetMultipleForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets events with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft events may be reset. All quests that use any of the events will also be reset.",
				"operationId": "gamesManagement.events.resetMultipleForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/events/{eventId}/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all player progress on the event with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application. All quests for this player that use the event will also be reset.",
				"operationId": "gamesManagement.events.reset",
				"parameters": [{
					"in": "path",
					"name": "eventId",
					"description": "The ID of the event.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/events/{eventId}/resetForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets the event with the given ID for all players. This method is only available to user accounts for your developer console. Only draft events can be reset. All quests that use the event will also be reset.",
				"operationId": "gamesManagement.events.resetForAllPlayers",
				"parameters": [{
					"in": "path",
					"name": "eventId",
					"description": "The ID of the event.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards/{leaderboardId}/scores/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets scores for the leaderboard with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
				"operationId": "gamesManagement.scores.reset",
				"parameters": [{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/leaderboards/{leaderboardId}/scores/resetForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets scores for the leaderboard with the given ID for all players. This method is only available to user accounts for your developer console. Only draft leaderboards can be reset.",
				"operationId": "gamesManagement.scores.resetForAllPlayers",
				"parameters": [{
					"in": "path",
					"name": "leaderboardId",
					"description": "The ID of the leaderboard.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/quests/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all player progress on all quests for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
				"operationId": "gamesManagement.quests.resetAll",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/quests/resetAllForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all draft quests for all players. This method is only available to user accounts for your developer console.",
				"operationId": "gamesManagement.quests.resetAllForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/quests/resetMultipleForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets quests with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft quests may be reset.",
				"operationId": "gamesManagement.quests.resetMultipleForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/quests/{questId}/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all player progress on the quest with the given ID for the currently authenticated player. This method is only accessible to whitelisted tester accounts for your application.",
				"operationId": "gamesManagement.quests.reset",
				"parameters": [{
					"in": "path",
					"name": "questId",
					"description": "The ID of the quest.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/quests/{questId}/resetForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all player progress on the quest with the given ID for all players. This method is only available to user accounts for your developer console. Only draft quests can be reset.",
				"operationId": "gamesManagement.quests.resetForAllPlayers",
				"parameters": [{
					"in": "path",
					"name": "questId",
					"description": "The ID of the quest.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Reset all rooms for the currently authenticated player for your application. This method is only accessible to whitelisted tester accounts for your application.",
				"operationId": "gamesManagement.rooms.reset",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/rooms/resetForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Deletes rooms where the only room participants are from whitelisted tester accounts for your application. This method is only available to user accounts for your developer console.",
				"operationId": "gamesManagement.rooms.resetForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/scores/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets all scores for all leaderboards for the currently authenticated players. This method is only accessible to whitelisted tester accounts for your application.",
				"operationId": "gamesManagement.scores.resetAll",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/scores/resetAllForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets scores for all draft leaderboards for all players. This method is only available to user accounts for your developer console.",
				"operationId": "gamesManagement.scores.resetAllForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/scores/resetMultipleForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resets scores for the leaderboards with the given IDs for all players. This method is only available to user accounts for your developer console. Only draft leaderboards may be reset.",
				"operationId": "gamesManagement.scores.resetMultipleForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/reset": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Reset all turn-based match data for a user. This method is only accessible to whitelisted tester accounts for your application.",
				"operationId": "gamesManagement.turnBasedMatches.reset",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/turnbasedmatches/resetForAllPlayers": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Deletes turn-based matches where the only match participants are from whitelisted tester accounts for your application. This method is only available to user accounts for your developer console.",
				"operationId": "gamesManagement.turnBasedMatches.resetForAllPlayers",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"AchievementResetAllResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"results": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementResetMultipleForAllRequest": {
			"properties": {
				"achievement_ids": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AchievementResetResponse": {
			"properties": {
				"currentState": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"definitionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updateOccurred": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EventsResetMultipleForAllRequest": {
			"properties": {
				"event_ids": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GamesPlayedResource": {
			"properties": {
				"autoMatched": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GamesPlayerExperienceInfoResource": {
			"properties": {
				"currentExperiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastLevelUpTimestampMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"GamesPlayerLevelResource": {
			"properties": {
				"level": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxExperiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"minExperiencePoints": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"HiddenPlayer": {
			"properties": {
				"hiddenTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"HiddenPlayerList": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Player": {
			"properties": {
				"avatarImageUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"playerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerScoreResetAllResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"results": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlayerScoreResetResponse": {
			"properties": {
				"definitionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resetScoreTimeSpans": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"QuestsResetMultipleForAllRequest": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quest_ids": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ScoresResetMultipleForAllRequest": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"leaderboard_ids": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}