{
	"swagger": "2.0",
	"info": {
		"title": "Google Apps Activity API",
		"description": "Provides a historical view of activity.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/appsactivity/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/activities": {
			"get": {
				"summary": "",
				"description": "Returns a list of activities visible to the current logged in user. Visible activities are determined by the visiblity settings of the object that was acted on, e.g. Drive files a user can see. An activity is a record of past events. Multiple events may be merged if they are similar. A request is scoped to activities from a given Google service using the source parameter.",
				"operationId": "appsactivity.activities.list",
				"parameters": [{
					"in": "query",
					"name": "drive.ancestorId",
					"description": "Identifies the Drive folder containing the items for which to return activities.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "drive.fileId",
					"description": "Identifies the Drive item to return activities for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "groupingStrategy",
					"description": "Indicates the strategy to use when grouping singleEvents items in the associated combinedEvent object.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageSize",
					"description": "The maximum number of events to return on a page. The response includes a continuation token if there are more events.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "A token to retrieve a specific page of results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "source",
					"description": "The Google service from which to return activities. Possible values of source are: n- drive.google.com",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "userId",
					"description": "Indicates the user to return activity for. Use the special value me to indicate the currently authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Activity": {
			"properties": {
				"singleEvents": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Event": {
			"properties": {
				"additionalEventTypes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"eventTimeMillis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fromUserDeletion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permissionChanges": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"primaryEventType": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListActivitiesResponse": {
			"properties": {
				"activities": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Move": {
			"properties": {
				"addedParents": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"removedParents": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Parent": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isRoot": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Permission": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permissionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"role": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"withLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PermissionChange": {
			"properties": {
				"addedPermissions": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"removedPermissions": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Photo": {
			"properties": {
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Rename": {
			"properties": {
				"newTitle": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"oldTitle": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Target": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mimeType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"User": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}