{
	"swagger": "2.0",
	"info": {
		"title": "Google+ API",
		"description": "The Google+ API enables developers to build on top of the Google+ platform.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/plus/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/activities": {
			"get": {
				"summary": "",
				"description": "Search public activities.",
				"operationId": "plus.activities.search",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "Specify the preferred language to search with. See search language codes for available values.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of activities to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "Specifies how to order search results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response. This token can be of any length.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Full-text search query string.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/activities/{activityId}": {
			"get": {
				"summary": "",
				"description": "Get an activity.",
				"operationId": "plus.activities.get",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/activities/{activityId}/comments": {
			"get": {
				"summary": "",
				"description": "List all of the comments for an activity.",
				"operationId": "plus.comments.list",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get comments for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of comments to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortOrder",
					"description": "The order in which to sort the list of comments.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/activities/{activityId}/people/{collection}": {
			"get": {
				"summary": "",
				"description": "List all of the people in the specified collection for a particular activity.",
				"operationId": "plus.people.listByActivity",
				"parameters": [{
					"in": "path",
					"name": "activityId",
					"description": "The ID of the activity to get the list of people for.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "collection",
					"description": "The collection of people to list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/comments/{commentId}": {
			"get": {
				"summary": "",
				"description": "Get a comment.",
				"operationId": "plus.comments.get",
				"parameters": [{
					"in": "path",
					"name": "commentId",
					"description": "The ID of the comment to get.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/moments/{id}": {
			"delete": {
				"summary": "",
				"description": "Delete a moment.",
				"operationId": "plus.moments.remove",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The ID of the moment to delete.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people": {
			"get": {
				"summary": "",
				"description": "Search all public profiles.",
				"operationId": "plus.people.search",
				"parameters": [{
					"in": "query",
					"name": "language",
					"description": "Specify the preferred language to search with. See search language codes for available values.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response. This token can be of any length.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Specify a query string for full text search of public text in all profiles.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}": {
			"get": {
				"summary": "",
				"description": "Get a persons profile. If your app uses scope https://www.googleapis.com/auth/plus.login, this method is guaranteed to return ageRange and language.",
				"operationId": "plus.people.get",
				"parameters": [{
					"in": "path",
					"name": "userId",
					"description": "The ID of the person to get the profile for. The special value me can be used to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/activities/{collection}": {
			"get": {
				"summary": "",
				"description": "List all of the activities in the specified collection for a particular user.",
				"operationId": "plus.activities.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of activities to list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of activities to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to get activities for. The special value me can be used to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/moments/{collection}": {
			"get": {
				"summary": "",
				"description": "List all of the moments for a particular user.",
				"operationId": "plus.moments.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of moments to list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of moments to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "targetUrl",
					"description": "Only moments containing this targetUrl will be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "Only moments of this type will be returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to get moments for. The special value me can be used to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Record a moment representing a users action such as making a purchase or commenting on a blog.",
				"operationId": "plus.moments.insert",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection to which to write moments.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "debug",
					"description": "Return the moment as written. Should be used only for debugging.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "The ID of the user to record actions for. The only valid values are me and the ID of the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{userId}/people/{collection}": {
			"get": {
				"summary": "",
				"description": "List all of the people in the specified collection.",
				"operationId": "plus.people.list",
				"parameters": [{
					"in": "path",
					"name": "collection",
					"description": "The collection of people to list.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "The maximum number of people to include in the response, which is used for paging. For any response, the actual number returned might be less than the specified maxResults.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "orderBy",
					"description": "The order to return people in.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "userId",
					"description": "Get the collection of people for the person identified. Use me to indicate the authenticated user.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Acl": {
			"properties": {
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Activity": {
			"properties": {
				"actor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"address": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"annotation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"crosspostSource": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"geocode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"object": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placeId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placeName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"provider": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"radius": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verb": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ActivityFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Comment": {
			"properties": {
				"actor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"inReplyTo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"object": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"plusoners": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"published": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verb": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CommentFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ItemScope": {
			"properties": {
				"additionalName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"addressCountry": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"addressLocality": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"addressRegion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"associated_media": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"attendeeCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"attendees": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"author": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"bestRating": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"birthDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"caption": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contentSize": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contentUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"contributor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dateCreated": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"dateModified": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"datePublished": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"duration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"embedUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"endDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"familyName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gender": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"givenName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"height": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"image": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"latitude": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"longitude": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"performers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"playerType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"postOfficeBoxNumber": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"postalCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ratingValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"streetAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"text": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"thumbnailUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tickerSymbol": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"width": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"worstRating": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Moment": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"startDate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"MomentsFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PeopleFeed": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"totalItems": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Person": {
			"properties": {
				"aboutMe": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ageRange": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"birthday": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"braggingRights": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"circledByCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cover": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currentLocation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"domain": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emails": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"gender": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"image": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isPlusUser": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"language": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nickname": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"objectType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"occupation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"organizations": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"placesLived": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"plusOneCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"relationshipStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"skills": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tagline": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"url": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"urls": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"verified": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Place": {
			"properties": {
				"address": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"position": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PlusAclentryResource": {
			"properties": {
				"displayName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}