{
	"swagger": "2.0",
	"info": {
		"title": "Groups Settings API",
		"description": "Lets you manage permission levels and related settings of a group.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/groups/v1/groups",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{groupUniqueId}": {
			"get": {
				"summary": "",
				"description": "Gets one resource by id.",
				"operationId": "groupsSettings.groups.get",
				"parameters": [{
					"in": "path",
					"name": "groupUniqueId",
					"description": "The resource ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates an existing resource. This method supports patch semantics.",
				"operationId": "groupsSettings.groups.patch",
				"parameters": [{
					"in": "path",
					"name": "groupUniqueId",
					"description": "The resource ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates an existing resource.",
				"operationId": "groupsSettings.groups.update",
				"parameters": [{
					"in": "path",
					"name": "groupUniqueId",
					"description": "The resource ID",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Groups": {
			"properties": {
				"allowExternalMembers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"allowGoogleCommunication": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"allowWebPosting": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"archiveOnly": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customReplyTo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"defaultMessageDenyNotificationText": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"includeInGlobalAddressList": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isArchived": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxMessageBytes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"membersCanPostAsTheGroup": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"messageDisplayFont": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"messageModerationLevel": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"primaryLanguage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"replyTo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sendMessageDenyNotification": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"showInGroupDirectory": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"spamModerationLevel": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"whoCanContactOwner": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"whoCanInvite": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"whoCanJoin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"whoCanLeaveGroup": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"whoCanPostMessage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"whoCanViewGroup": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"whoCanViewMembership": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}