{
	"swagger": "2.0",
	"info": {
		"title": "Open Exchange Rates API",
		"description": "Open Exchange Rates provides a simple, lightweight and portable JSON API with real-time rates for 165 world currencies, focusing on ease-of-implementation, algorithmically blending currency conversion rates from many sources to provide a consistent and reliable service.",
		"version": "1.0.0"
	},
	"host": "openexchangerates.org",
	"basePath": "/api",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/currencies.json": {
			"get": {
				"summary": "Currency codes",
				"description": "Get list of currency codes and names",
				"operationId": "get-list-of-currency-codes-and-names",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/historical/{date}.json": {
			"get": {
				"summary": "Historical",
				"description": "Historical end of day exchange rates are available for every day since 1999",
				"operationId": "historical-end-of-day-exchange-rates-are-available-for-every-day-since-1999",
				"parameters": [{
					"in": "query",
					"name": "base",
					"description": "The base currency to which all the exchange rates are relative",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "date",
					"description": "The date parameter specify the day for which you need exchange rate in yyyy-mm-dd format",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/latest.json": {
			"get": {
				"summary": "Latest",
				"description": "The most up-to-date exchange rates",
				"operationId": "the-most-uptodate-exchange-rates",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"ExchangeRates": {
			"properties": []
		},
		"ExchangeRateContainer": {
			"properties": {
				"disclaimer": {
					"description": "This is a default description.",
					"type": "get"
				},
				"license": {
					"description": "This is a default description.",
					"type": "get"
				},
				"timestamp": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		}
	}
}