{
	"swagger": "2.0",
	"info": {
		"title": "PageSpeed Insights API",
		"description": "Lets you analyze the performance of a web page and get tailored suggestions to make that page faster.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/pagespeedonline/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/runPagespeed": {
			"get": {
				"summary": "",
				"description": "Runs PageSpeed analysis on the page at the specified URL, and returns a PageSpeed score, a list of suggestions to make that page faster, and other information.",
				"operationId": "pagespeedonline.pagespeedapi.runpagespeed",
				"parameters": [{
					"in": "query",
					"name": "filter_third_party_resources",
					"description": "Indicates if third party resources should be filtered out before PageSpeed analysis.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "locale",
					"description": "The locale used to localize formatted results",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "rule",
					"description": "A PageSpeed rule to run; if none are given, all rules are run",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "screenshot",
					"description": "Indicates if binary data containing a screenshot should be included",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "strategy",
					"description": "The analysis strategy to use",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "The URL to fetch and analyze",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Result": {
			"properties": {
				"formattedResults": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"invalidRules": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pageStats": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"responseCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"score": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"screenshot": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}