{
	"swagger": "2.0",
	"info": {
		"title": "Prediction API",
		"description": "Lets you access a cloud hosted machine learning service that makes it easy to build smart apps",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1.4"
	},
	"host": "www.googleapis.com",
	"basePath": "/prediction/v1.4",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/hostedmodels/{hostedModelName}/predict": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Submit input and request an output against a hosted model.",
				"operationId": "prediction.hostedmodels.predict",
				"parameters": [{
					"in": "path",
					"name": "hostedModelName",
					"description": "The name of a hosted model.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/trainedmodels": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Begin training your model.",
				"operationId": "prediction.trainedmodels.insert",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/trainedmodels/{id}": {
			"delete": {
				"summary": "",
				"description": "Delete a trained model.",
				"operationId": "prediction.trainedmodels.delete",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The unique name for the predictive model.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Check training status of your model.",
				"operationId": "prediction.trainedmodels.get",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The unique name for the predictive model.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Add new data to a trained model.",
				"operationId": "prediction.trainedmodels.update",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The unique name for the predictive model.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/trainedmodels/{id}/predict": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Submit model id and request a prediction",
				"operationId": "prediction.trainedmodels.predict",
				"parameters": [{
					"in": "path",
					"name": "id",
					"description": "The unique name for the predictive model.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Input": {
			"properties": {
				"input": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Output": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"outputLabel": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"outputMulti": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"outputValue": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Training": {
			"properties": {
				"dataAnalysis": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"modelInfo": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"storageDataLocation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"storagePMMLLocation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"storagePMMLModelLocation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"trainingStatus": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"utility": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Update": {
			"properties": {
				"csvInstance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"label": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"output": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}