{
	"swagger": "2.0",
	"info": {
		"title": "QPX Express API",
		"description": "Lets you find the least expensive flights between an origin and a destination.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/qpxExpress/v1/trips",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/search": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Returns a list of flights.",
				"operationId": "qpxExpress.trips.search",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"AircraftData": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AirportData": {
			"properties": {
				"city": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"BagDescriptor": {
			"properties": {
				"commercialName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"subcode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CarrierData": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CityData": {
			"properties": {
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"country": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Data": {
			"properties": {
				"aircraft": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"airport": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"carrier": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"city": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tax": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FareInfo": {
			"properties": {
				"basisCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"carrier": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destination": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"origin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"private": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FlightInfo": {
			"properties": {
				"carrier": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"number": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"FreeBaggageAllowance": {
			"properties": {
				"bagDescriptor": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kilos": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kilosPerPiece": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pieces": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pounds": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LegInfo": {
			"properties": {
				"aircraft": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"arrivalTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"changePlane": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"connectionDuration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"departureTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destination": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destinationTerminal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"duration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"meal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"mileage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"onTimePerformance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"operatingDisclosure": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"origin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"originTerminal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"secure": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PassengerCounts": {
			"properties": {
				"adultCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"childCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"infantInLapCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"infantInSeatCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"seniorCount": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PricingInfo": {
			"properties": {
				"baseFareTotal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fare": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fareCalculation": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"latestTicketingTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ptc": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"refundable": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saleFareTotal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saleTaxTotal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saleTotal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segmentPricing": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tax": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SegmentInfo": {
			"properties": {
				"bookingCode": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"bookingCodeCount": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"cabin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"connectionDuration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"duration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"leg": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"marriedSegmentGroup": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"subjectToGovernmentApproval": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SegmentPricing": {
			"properties": {
				"fareId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"freeBaggageOption": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segmentId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SliceInfo": {
			"properties": {
				"duration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"segment": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SliceInput": {
			"properties": {
				"alliance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"date": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"destination": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxConnectionDuration": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxStops": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"origin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permittedCarrier": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"preferredCabin": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"prohibitedCarrier": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TaxData": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TaxInfo": {
			"properties": {
				"chargeType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"code": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"country": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"salePrice": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TimeOfDayRange": {
			"properties": {
				"earliestTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"latestTime": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TripOption": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pricing": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saleTotal": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"slice": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TripOptionsRequest": {
			"properties": {
				"maxPrice": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"refundable": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"saleCountry": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"slice": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"solutions": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TripOptionsResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"requestId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tripOption": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TripsSearchRequest": {
			"properties": []
		},
		"TripsSearchResponse": {
			"properties": {
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}