{
	"swagger": "2.0",
	"info": {
		"title": "Replica Pool API",
		"description": "The Replica Pool API allows users to declaratively provision and manage groups of Google Compute Engine instances based on a common template.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta1"
	},
	"host": "www.googleapis.com",
	"basePath": "/replicapool/v1beta1/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{projectName}/zones/{zone}/pools": {
			"get": {
				"summary": "",
				"description": "List all replica pools.",
				"operationId": "replicapool.pools.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Set this to the nextPageToken value returned by a previous list request to obtain the next page of results from the previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone for this replica pool.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Inserts a new replica pool.",
				"operationId": "replicapool.pools.insert",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this replica pool.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone for this replica pool.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/pools/{poolName}": {
			"get": {
				"summary": "",
				"description": "Gets information about a single replica pool.",
				"operationId": "replicapool.pools.get",
				"parameters": [{
					"in": "path",
					"name": "poolName",
					"description": "The name of the replica pool for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this replica pool.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone for this replica pool.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Deletes a replica pool.",
				"operationId": "replicapool.pools.delete",
				"parameters": [{
					"in": "path",
					"name": "poolName",
					"description": "The name of the replica pool for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this replica pool.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone for this replica pool.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/pools/{poolName}/replicas": {
			"get": {
				"summary": "",
				"description": "Lists all replicas in a pool.",
				"operationId": "replicapool.replicas.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 100, inclusive. (Default: 50)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Set this to the nextPageToken value returned by a previous list request to obtain the next page of results from the previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "poolName",
					"description": "The replica pool name for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone where the replica pool lives.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/pools/{poolName}/replicas/{replicaName}": {
			"get": {
				"summary": "",
				"description": "Gets information about a specific replica.",
				"operationId": "replicapool.replicas.get",
				"parameters": [{
					"in": "path",
					"name": "poolName",
					"description": "The replica pool name for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "replicaName",
					"description": "The name of the replica for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone where the replica lives.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Deletes a replica from the pool.",
				"operationId": "replicapool.replicas.delete",
				"parameters": [{
					"in": "path",
					"name": "poolName",
					"description": "The replica pool name for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "replicaName",
					"description": "The name of the replica for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone where the replica lives.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/pools/{poolName}/replicas/{replicaName}/restart": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Restarts a replica in a pool.",
				"operationId": "replicapool.replicas.restart",
				"parameters": [{
					"in": "path",
					"name": "poolName",
					"description": "The replica pool name for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "replicaName",
					"description": "The name of the replica for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone where the replica lives.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/pools/{poolName}/resize": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Resize a pool. This is an asynchronous operation, and multiple overlapping resize requests can be made. Replica Pools will use the information from the last resize request.",
				"operationId": "replicapool.pools.resize",
				"parameters": [{
					"in": "query",
					"name": "numReplicas",
					"description": "The desired number of replicas to resize to. If this number is larger than the existing number of replicas, new replicas will be added. If the number is smaller, then existing replicas will be deleted.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "poolName",
					"description": "The name of the replica pool for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this replica pool.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone for this replica pool.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/pools/{poolName}/updateTemplate": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Update the template used by the pool.",
				"operationId": "replicapool.pools.updatetemplate",
				"parameters": [{
					"in": "path",
					"name": "poolName",
					"description": "The name of the replica pool for this request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project ID for this replica pool.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone for this replica pool.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"AccessConfig": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"natIp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Action": {
			"properties": {
				"commands": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"envVariables": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeoutMilliSeconds": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"DiskAttachment": {
			"properties": {
				"deviceName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"index": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"EnvVariable": {
			"properties": {
				"hidden": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ExistingDisk": {
			"properties": {
				"source": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"HealthCheck": {
			"properties": {
				"checkIntervalSec": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"healthyThreshold": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"host": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"path": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"port": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeoutSec": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"unhealthyThreshold": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Label": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Metadata": {
			"properties": {
				"fingerPrint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"MetadataItem": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NetworkInterface": {
			"properties": {
				"accessConfigs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"network": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"networkIp": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NewDisk": {
			"properties": {
				"autoDelete": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"boot": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"NewDiskInitializeParams": {
			"properties": {
				"diskSizeGb": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"diskType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"sourceImage": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Pool": {
			"properties": {
				"autoRestart": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"baseInstanceName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"currentNumReplicas": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"healthChecks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"initialNumReplicas": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numReplicas": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceViews": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetPool": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"targetPools": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PoolsDeleteRequest": {
			"properties": {
				"abandonInstances": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PoolsListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Replica": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReplicaStatus": {
			"properties": {
				"details": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"state": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"templateVersion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"vmLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"vmStartTime": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReplicasDeleteRequest": {
			"properties": {
				"abandonInstance": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ReplicasListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ServiceAccount": {
			"properties": {
				"email": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scopes": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Tag": {
			"properties": {
				"fingerPrint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Template": {
			"properties": {
				"healthChecks": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"version": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"VmParams": {
			"properties": {
				"baseInstanceName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"canIpForward": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disksToAttach": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disksToCreate": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"machineType": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"networkInterfaces": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"onHostMaintenance": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"serviceAccounts": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}