{
	"swagger": "2.0",
	"info": {
		"title": "Resource Views API",
		"description": "The Resource View API allows users to create and manage logical sets of Google Compute Engine instances.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta1"
	},
	"host": "www.googleapis.com",
	"basePath": "/resourceviews/v1beta1/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{projectName}/regions/{region}/resourceViews": {
			"get": {
				"summary": "",
				"description": "List resource views.",
				"operationId": "resourceviews.regionViews.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The region name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a resource view.",
				"operationId": "resourceviews.regionViews.insert",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The region name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/regions/{region}/resourceViews/{resourceViewName}": {
			"delete": {
				"summary": "",
				"description": "Delete a resource view.",
				"operationId": "resourceviews.regionViews.delete",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The region name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get the information of a resource view.",
				"operationId": "resourceviews.regionViews.get",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The region name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/regions/{region}/resourceViews/{resourceViewName}/addResources": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Add resources to the view.",
				"operationId": "resourceviews.regionViews.addresources",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The region name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/regions/{region}/resourceViews/{resourceViewName}/removeResources": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Remove resources from the view.",
				"operationId": "resourceviews.regionViews.removeresources",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The region name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/regions/{region}/resourceViews/{resourceViewName}/resources": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "List the resources in the view.",
				"operationId": "resourceviews.regionViews.listresources",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "region",
					"description": "The region name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/resourceViews": {
			"get": {
				"summary": "",
				"description": "List resource views.",
				"operationId": "resourceviews.zoneViews.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Create a resource view.",
				"operationId": "resourceviews.zoneViews.insert",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/resourceViews/{resourceViewName}": {
			"delete": {
				"summary": "",
				"description": "Delete a resource view.",
				"operationId": "resourceviews.zoneViews.delete",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get the information of a zonal resource view.",
				"operationId": "resourceviews.zoneViews.get",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/resourceViews/{resourceViewName}/addResources": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Add resources to the view.",
				"operationId": "resourceviews.zoneViews.addresources",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/resourceViews/{resourceViewName}/removeResources": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Remove resources from the view.",
				"operationId": "resourceviews.zoneViews.removeresources",
				"parameters": [{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{projectName}/zones/{zone}/resourceViews/{resourceViewName}/resources": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "List the resources of the resource view.",
				"operationId": "resourceviews.zoneViews.listresources",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "projectName",
					"description": "The project name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "resourceViewName",
					"description": "The name of the resource view.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "zone",
					"description": "The zone name of the resource view.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Label": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RegionViewsAddResourcesRequest": {
			"properties": {
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RegionViewsInsertResponse": {
			"properties": []
		},
		"RegionViewsListResourcesResponse": {
			"properties": {
				"members": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RegionViewsListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceViews": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"RegionViewsRemoveResourcesRequest": {
			"properties": {
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ResourceView": {
			"properties": {
				"creationTime": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"description": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"labels": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastModified": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"members": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numMembers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsAddResourcesRequest": {
			"properties": {
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsInsertResponse": {
			"properties": []
		},
		"ZoneViewsListResourcesResponse": {
			"properties": {
				"members": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsListResponse": {
			"properties": {
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"resourceViews": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ZoneViewsRemoveResourcesRequest": {
			"properties": {
				"resources": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}