{
	"swagger": "2.0",
	"info": {
		"title": "Tag Manager API",
		"description": "API for accessing Tag Manager accounts and containers.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/tagmanager/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/accounts": {
			"get": {
				"summary": "",
				"description": "Lists all GTM Accounts that a user has access to.",
				"operationId": "tagmanager.accounts.list",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}": {
			"get": {
				"summary": "",
				"description": "Gets a GTM Account.",
				"operationId": "tagmanager.accounts.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a GTM Account.",
				"operationId": "tagmanager.accounts.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers": {
			"get": {
				"summary": "",
				"description": "Lists all Containers that belongs to a GTM Account.",
				"operationId": "tagmanager.accounts.containers.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a Container.",
				"operationId": "tagmanager.accounts.containers.create",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a Container.",
				"operationId": "tagmanager.accounts.containers.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a Container.",
				"operationId": "tagmanager.accounts.containers.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a Container.",
				"operationId": "tagmanager.accounts.containers.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/macros": {
			"get": {
				"summary": "",
				"description": "Lists all GTM Macros of a Container.",
				"operationId": "tagmanager.accounts.containers.macros.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a GTM Macro.",
				"operationId": "tagmanager.accounts.containers.macros.create",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/macros/{macroId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a GTM Macro.",
				"operationId": "tagmanager.accounts.containers.macros.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "macroId",
					"description": "The GTM Macro ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a GTM Macro.",
				"operationId": "tagmanager.accounts.containers.macros.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "macroId",
					"description": "The GTM Macro ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a GTM Macro.",
				"operationId": "tagmanager.accounts.containers.macros.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the macro in storage.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "macroId",
					"description": "The GTM Macro ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/rules": {
			"get": {
				"summary": "",
				"description": "Lists all GTM Rules of a Container.",
				"operationId": "tagmanager.accounts.containers.rules.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a GTM Rule.",
				"operationId": "tagmanager.accounts.containers.rules.create",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/rules/{ruleId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a GTM Rule.",
				"operationId": "tagmanager.accounts.containers.rules.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "ruleId",
					"description": "The GTM Rule ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a GTM Rule.",
				"operationId": "tagmanager.accounts.containers.rules.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "ruleId",
					"description": "The GTM Rule ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a GTM Rule.",
				"operationId": "tagmanager.accounts.containers.rules.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the rule in storage.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "ruleId",
					"description": "The GTM Rule ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/tags": {
			"get": {
				"summary": "",
				"description": "Lists all GTM Tags of a Container.",
				"operationId": "tagmanager.accounts.containers.tags.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a GTM Tag.",
				"operationId": "tagmanager.accounts.containers.tags.create",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/tags/{tagId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a GTM Tag.",
				"operationId": "tagmanager.accounts.containers.tags.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tagId",
					"description": "The GTM Tag ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a GTM Tag.",
				"operationId": "tagmanager.accounts.containers.tags.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tagId",
					"description": "The GTM Tag ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a GTM Tag.",
				"operationId": "tagmanager.accounts.containers.tags.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tagId",
					"description": "The GTM Tag ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/triggers": {
			"get": {
				"summary": "",
				"description": "Lists all GTM Triggers of a Container.",
				"operationId": "tagmanager.accounts.containers.triggers.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a GTM Trigger.",
				"operationId": "tagmanager.accounts.containers.triggers.create",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a GTM Trigger.",
				"operationId": "tagmanager.accounts.containers.triggers.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "triggerId",
					"description": "The GTM Trigger ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a GTM Trigger.",
				"operationId": "tagmanager.accounts.containers.triggers.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "triggerId",
					"description": "The GTM Trigger ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a GTM Trigger.",
				"operationId": "tagmanager.accounts.containers.triggers.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "triggerId",
					"description": "The GTM Trigger ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/variables": {
			"get": {
				"summary": "",
				"description": "Lists all GTM Variables of a Container.",
				"operationId": "tagmanager.accounts.containers.variables.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a GTM Variable.",
				"operationId": "tagmanager.accounts.containers.variables.create",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/variables/{variableId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a GTM Variable.",
				"operationId": "tagmanager.accounts.containers.variables.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "variableId",
					"description": "The GTM Variable ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a GTM Variable.",
				"operationId": "tagmanager.accounts.containers.variables.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "variableId",
					"description": "The GTM Variable ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a GTM Variable.",
				"operationId": "tagmanager.accounts.containers.variables.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "variableId",
					"description": "The GTM Variable ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/versions": {
			"get": {
				"summary": "",
				"description": "Lists all Container Versions of a GTM Container.",
				"operationId": "tagmanager.accounts.containers.versions.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "headers",
					"description": "Retrieve headers only when true.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a Container Version.",
				"operationId": "tagmanager.accounts.containers.versions.create",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}": {
			"delete": {
				"summary": "",
				"description": "Deletes a Container Version.",
				"operationId": "tagmanager.accounts.containers.versions.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerVersionId",
					"description": "The GTM Container Version ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a Container Version.",
				"operationId": "tagmanager.accounts.containers.versions.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerVersionId",
					"description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a Container Version.",
				"operationId": "tagmanager.accounts.containers.versions.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerVersionId",
					"description": "The GTM Container Version ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Publishes a Container Version.",
				"operationId": "tagmanager.accounts.containers.versions.publish",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerVersionId",
					"description": "The GTM Container Version ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "fingerprint",
					"description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Restores a Container Version. This will overwrite the containers current configuration (including its macros, rules and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
				"operationId": "tagmanager.accounts.containers.versions.restore",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerVersionId",
					"description": "The GTM Container Version ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Undeletes a Container Version.",
				"operationId": "tagmanager.accounts.containers.versions.undelete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerId",
					"description": "The GTM Container ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "containerVersionId",
					"description": "The GTM Container Version ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/permissions": {
			"get": {
				"summary": "",
				"description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
				"operationId": "tagmanager.accounts.permissions.list",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID. @required tagmanager.accounts.permissions.list",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a users Account & Container Permissions.",
				"operationId": "tagmanager.accounts.permissions.create",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/accounts/{accountId}/permissions/{permissionId}": {
			"delete": {
				"summary": "",
				"description": "Removes a user from the account, revoking access to it and all of its containers.",
				"operationId": "tagmanager.accounts.permissions.delete",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "permissionId",
					"description": "The GTM User ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Gets a users Account & Container Permissions.",
				"operationId": "tagmanager.accounts.permissions.get",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "permissionId",
					"description": "The GTM User ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates a users Account & Container Permissions.",
				"operationId": "tagmanager.accounts.permissions.update",
				"parameters": [{
					"in": "path",
					"name": "accountId",
					"description": "The GTM Account ID.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "permissionId",
					"description": "The GTM User ID.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Account": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"shareData": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"AccountAccess": {
			"properties": {
				"permission": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Condition": {
			"properties": {
				"parameter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Container": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"domainName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"enabledBuiltInVariable": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"publicId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeZoneCountryId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timeZoneId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"usageContext": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ContainerAccess": {
			"properties": {
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permission": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ContainerVersion": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerVersionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deleted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"macro": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"rule": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"trigger": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"variable": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ContainerVersionHeader": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerVersionId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deleted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numMacros": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numRules": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numTags": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numTriggers": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"numVariables": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CreateContainerVersionRequestVersionOptions": {
			"properties": {
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"quickPreview": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"CreateContainerVersionResponse": {
			"properties": {
				"compilerError": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListAccountUsersResponse": {
			"properties": {
				"userAccess": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListAccountsResponse": {
			"properties": {
				"accounts": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListContainerVersionsResponse": {
			"properties": {
				"containerVersion": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerVersionHeader": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListContainersResponse": {
			"properties": {
				"containers": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListMacrosResponse": {
			"properties": {
				"macros": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListRulesResponse": {
			"properties": {
				"rules": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListTagsResponse": {
			"properties": {
				"tags": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListTriggersResponse": {
			"properties": {
				"triggers": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"ListVariablesResponse": {
			"properties": {
				"variables": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Macro": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disablingRuleId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"enablingRuleId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"macroId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"parameter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scheduleEndMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scheduleStartMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Parameter": {
			"properties": {
				"key": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"list": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"map": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"value": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"PublishContainerVersionResponse": {
			"properties": {
				"compilerError": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Rule": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"condition": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"ruleId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Tag": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"blockingRuleId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"blockingTriggerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"firingRuleId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"firingTriggerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"liveOnly": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"parameter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scheduleEndMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scheduleStartMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tagId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Trigger": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"autoEventFilter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"customEventFilter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"filter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"triggerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UserAccess": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerAccess": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"emailAddress": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"permissionId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Variable": {
			"properties": {
				"accountId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"containerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"disablingTriggerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"enablingTriggerId": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"fingerprint": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"parameter": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scheduleEndMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"scheduleStartMs": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"variableId": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}