{
	"swagger": "2.0",
	"info": {
		"title": "TaskQueue API",
		"description": "Lets you access a Google App Engine Pull Task Queue over REST.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1beta2"
	},
	"host": "www.googleapis.com",
	"basePath": "/taskqueue/v1beta2/projects",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/{project}/taskqueues/{taskqueue}": {
			"get": {
				"summary": "",
				"description": "Get detailed information about a TaskQueue.",
				"operationId": "taskqueue.taskqueues.get",
				"parameters": [{
					"in": "query",
					"name": "getStats",
					"description": "Whether to get stats. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project under which the queue lies.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskqueue",
					"description": "The id of the taskqueue to get the properties of.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/taskqueues/{taskqueue}/tasks": {
			"get": {
				"summary": "",
				"description": "List Tasks in a TaskQueue",
				"operationId": "taskqueue.tasks.list",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project under which the queue lies.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskqueue",
					"description": "The id of the taskqueue to list tasks from.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Insert a new task in a TaskQueue",
				"operationId": "taskqueue.tasks.insert",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project under which the queue lies",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskqueue",
					"description": "The taskqueue to insert the task into",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/taskqueues/{taskqueue}/tasks/lease": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Lease 1 or more tasks from a TaskQueue.",
				"operationId": "taskqueue.tasks.lease",
				"parameters": [{
					"in": "query",
					"name": "groupByTag",
					"description": "When true, all returned tasks will have the same tag",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "leaseSecs",
					"description": "The lease in seconds.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "numTasks",
					"description": "The number of tasks to lease.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project under which the queue lies.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "tag",
					"description": "The tag allowed for tasks in the response. Must only be specified if group_by_tag is true. If group_by_tag is true and tag is not specified the tag will be that of the oldest task by eta, i.e. the first available tag",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskqueue",
					"description": "The taskqueue to lease a task from.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{project}/taskqueues/{taskqueue}/tasks/{task}": {
			"delete": {
				"summary": "",
				"description": "Delete a task from a TaskQueue.",
				"operationId": "taskqueue.tasks.delete",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project under which the queue lies.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "task",
					"description": "The id of the task to delete.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskqueue",
					"description": "The taskqueue to delete a task from.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get a particular task from a TaskQueue.",
				"operationId": "taskqueue.tasks.get",
				"parameters": [{
					"in": "path",
					"name": "project",
					"description": "The project under which the queue lies.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "task",
					"description": "The task to get properties of.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskqueue",
					"description": "The taskqueue in which the task belongs.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Update tasks that are leased out of a TaskQueue. This method supports patch semantics.",
				"operationId": "taskqueue.tasks.patch",
				"parameters": [{
					"in": "query",
					"name": "newLeaseSeconds",
					"description": "The new lease in seconds.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project under which the queue lies.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "task",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskqueue",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Update tasks that are leased out of a TaskQueue.",
				"operationId": "taskqueue.tasks.update",
				"parameters": [{
					"in": "query",
					"name": "newLeaseSeconds",
					"description": "The new lease in seconds.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "project",
					"description": "The project under which the queue lies.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "task",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "taskqueue",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Task": {
			"properties": {
				"enqueueTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"leaseTimestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"payloadBase64": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"queueName": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"retry_count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"tag": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TaskQueue": {
			"properties": {
				"acl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"maxLeases": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"stats": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Tasks": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Tasks2": {
			"properties": {
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}