{
	"swagger": "2.0",
	"info": {
		"title": "Tasks API",
		"description": "Lets you manage your tasks and task lists.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v1"
	},
	"host": "www.googleapis.com",
	"basePath": "/tasks/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/lists/{tasklist}/clear": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as hidden and no longer be returned by default when retrieving all tasks for a task list.",
				"operationId": "tasks.tasks.clear",
				"parameters": [{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/lists/{tasklist}/tasks": {
			"get": {
				"summary": "",
				"description": "Returns all tasks in the specified task list.",
				"operationId": "tasks.tasks.list",
				"parameters": [{
					"in": "query",
					"name": "completedMax",
					"description": "Upper bound for a tasks completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "completedMin",
					"description": "Lower bound for a tasks completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dueMax",
					"description": "Upper bound for a tasks due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dueMin",
					"description": "Lower bound for a tasks due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of task lists returned on one page. Optional. The default is 100.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token specifying the result page to return. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "showCompleted",
					"description": "Flag indicating whether completed tasks are returned in the result. Optional. The default is True.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "showDeleted",
					"description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "showHidden",
					"description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "updatedMin",
					"description": "Lower bound for a tasks last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new task on the specified task list.",
				"operationId": "tasks.tasks.insert",
				"parameters": [{
					"in": "query",
					"name": "parent",
					"description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "previous",
					"description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/lists/{tasklist}/tasks/{task}": {
			"delete": {
				"summary": "",
				"description": "Deletes the specified task from the task list.",
				"operationId": "tasks.tasks.delete",
				"parameters": [{
					"in": "path",
					"name": "task",
					"description": "Task identifier.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the specified task.",
				"operationId": "tasks.tasks.get",
				"parameters": [{
					"in": "path",
					"name": "task",
					"description": "Task identifier.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates the specified task. This method supports patch semantics.",
				"operationId": "tasks.tasks.patch",
				"parameters": [{
					"in": "path",
					"name": "task",
					"description": "Task identifier.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates the specified task.",
				"operationId": "tasks.tasks.update",
				"parameters": [{
					"in": "path",
					"name": "task",
					"description": "Task identifier.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/lists/{tasklist}/tasks/{task}/move": {
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Moves the specified task to another position in the task list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks.",
				"operationId": "tasks.tasks.move",
				"parameters": [{
					"in": "query",
					"name": "parent",
					"description": "New parent task identifier. If the task is moved to the top level, this parameter is omitted. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "previous",
					"description": "New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. Optional.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "task",
					"description": "Task identifier.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/@me/lists": {
			"get": {
				"summary": "",
				"description": "Returns all the authenticated users task lists.",
				"operationId": "tasks.tasklists.list",
				"parameters": [{
					"in": "query",
					"name": "maxResults",
					"description": "Maximum number of task lists returned on one page. Optional. The default is 100.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "pageToken",
					"description": "Token specifying the result page to return. Optional.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new task list and adds it to the authenticated users task lists.",
				"operationId": "tasks.tasklists.insert",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/@me/lists/{tasklist}": {
			"delete": {
				"summary": "",
				"description": "Deletes the authenticated users specified task list.",
				"operationId": "tasks.tasklists.delete",
				"parameters": [{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns the authenticated users specified task list.",
				"operationId": "tasks.tasklists.get",
				"parameters": [{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "",
				"description": "Updates the authenticated users specified task list. This method supports patch semantics.",
				"operationId": "tasks.tasklists.patch",
				"parameters": [{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Updates the authenticated users specified task list.",
				"operationId": "tasks.tasklists.update",
				"parameters": [{
					"in": "path",
					"name": "tasklist",
					"description": "Task list identifier.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"Task": {
			"properties": {
				"completed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"deleted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"due": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"hidden": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"links": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"notes": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"parent": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"position": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"status": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TaskList": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"id": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"selfLink": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"title": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"updated": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TaskLists": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"Tasks": {
			"properties": {
				"etag": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"items": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"kind": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"nextPageToken": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}