{
	"swagger": "2.0",
	"info": {
		"title": "Translate API",
		"description": "Lets you translate text from one language to another",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v2"
	},
	"host": "www.googleapis.com",
	"basePath": "/language/translate",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v2": {
			"get": {
				"summary": "",
				"description": "Returns text translations from one language to another.",
				"operationId": "language.translations.list",
				"parameters": [{
					"in": "query",
					"name": "cid",
					"description": "The customization id for translate",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "format",
					"description": "The format of the text",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "q",
					"description": "The text to translate",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "source",
					"description": "The source language of the text",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "target",
					"description": "The target language into which the text should be translated",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/v2/detect": {
			"get": {
				"summary": "",
				"description": "Detect the language of text.",
				"operationId": "language.detections.list",
				"parameters": [{
					"in": "query",
					"name": "q",
					"description": "The text to detect",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/v2/languages": {
			"get": {
				"summary": "",
				"description": "List the source/target languages supported by the API",
				"operationId": "language.languages.list",
				"parameters": [{
					"in": "query",
					"name": "target",
					"description": "the language and collation in which the localized results should be returned",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"DetectionsListResponse": {
			"properties": {
				"detections": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LanguagesListResponse": {
			"properties": {
				"languages": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"LanguagesResource": {
			"properties": {
				"language": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"name": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TranslationsListResponse": {
			"properties": {
				"translations": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"TranslationsResource": {
			"properties": {
				"detectedSourceLanguage": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"translatedText": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}