{
	"swagger": "2.0",
	"info": {
		"title": "Webmaster Tools API",
		"description": "Lets you view Google Webmaster Tools data for your verified sites.",
		"contact": {
			"name": "Google",
			"url": "https://google.com"
		},
		"version": "v3"
	},
	"host": "www.googleapis.com",
	"basePath": "/webmasters/v3",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/sites": {
			"get": {
				"summary": "",
				"description": "Lists your Webmaster Tools sites.",
				"operationId": "webmasters.sites.list",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/sites/{siteUrl}": {
			"delete": {
				"summary": "",
				"description": "Removes a site from the set of the users Webmaster Tools sites.",
				"operationId": "webmasters.sites.delete",
				"parameters": [{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves information about specific site.",
				"operationId": "webmasters.sites.get",
				"parameters": [{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Adds a site to the set of the users sites in Webmaster Tools.",
				"operationId": "webmasters.sites.add",
				"parameters": [{
					"in": "path",
					"name": "siteUrl",
					"description": "The URL of the site to add.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/sites/{siteUrl}/sitemaps": {
			"get": {
				"summary": "",
				"description": "Lists sitemaps uploaded to the site.",
				"operationId": "webmasters.sitemaps.list",
				"parameters": [{
					"in": "query",
					"name": "sitemapIndex",
					"description": "A URL of a sites sitemap index.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/sites/{siteUrl}/sitemaps/{feedpath}": {
			"delete": {
				"summary": "",
				"description": "Deletes a sitemap from this site.",
				"operationId": "webmasters.sitemaps.delete",
				"parameters": [{
					"in": "path",
					"name": "feedpath",
					"description": "The URL of the actual sitemap (for example http://www.example.com/sitemap.xml).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves information about a specific sitemap.",
				"operationId": "webmasters.sitemaps.get",
				"parameters": [{
					"in": "path",
					"name": "feedpath",
					"description": "The URL of the actual sitemap (for example http://www.example.com/sitemap.xml).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "",
				"description": "Submits a sitemap for a site.",
				"operationId": "webmasters.sitemaps.submit",
				"parameters": [{
					"in": "path",
					"name": "feedpath",
					"description": "The URL of the sitemap to add.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/sites/{siteUrl}/urlCrawlErrorsCounts/query": {
			"get": {
				"summary": "",
				"description": "Retrieves a time series of the number of URL crawl errors per error category and platform.",
				"operationId": "webmasters.urlcrawlerrorscounts.query",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "The crawl error category, for example serverError. If not specified, we return results for all categories.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "latestCountsOnly",
					"description": "If true, returns only the latest crawl error counts.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "platform",
					"description": "The user agent type (platform) that made the request, for example web. If not specified, we return results for all platforms.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/sites/{siteUrl}/urlCrawlErrorsSamples": {
			"get": {
				"summary": "",
				"description": "Lists a sites sample URLs for the specified crawl error category and platform.",
				"operationId": "webmasters.urlcrawlerrorssamples.list",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "The crawl error category, for example authPermissions",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "platform",
					"description": "The user agent type (platform) that made the request, for example web",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/sites/{siteUrl}/urlCrawlErrorsSamples/{url}": {
			"delete": {
				"summary": "",
				"description": "Marks the provided sites sample URL as fixed, and removes it from the samples list.",
				"operationId": "webmasters.urlcrawlerrorssamples.markAsFixed",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "The crawl error category, for example authPermissions",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "platform",
					"description": "The user agent type (platform) that made the request, for example web",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "url",
					"description": "The relative path (without the site) of the sample URL; must be one of the URLs returned by list",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Retrieves details about crawl errors for a sites sample URL.",
				"operationId": "webmasters.urlcrawlerrorssamples.get",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "The crawl error category, for example authPermissions",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "platform",
					"description": "The user agent type (platform) that made the request, for example web",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "siteUrl",
					"description": "The sites URL, including protocol, for example http://www.example.com/",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "url",
					"description": "The relative path (without the site) of the sample URL; must be one of the URLs returned by list",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"parameters": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"SitemapsListResponse": {
			"properties": {
				"sitemap": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"SitesListResponse": {
			"properties": {
				"siteEntry": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlCrawlErrorCount": {
			"properties": {
				"count": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"timestamp": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlCrawlErrorCountsPerType": {
			"properties": {
				"category": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"entries": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"platform": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlCrawlErrorsCountsQueryResponse": {
			"properties": {
				"countPerTypes": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlCrawlErrorsSample": {
			"properties": {
				"first_detected": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"last_crawled": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"pageUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"responseCode": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlCrawlErrorsSamplesListResponse": {
			"properties": {
				"urlCrawlErrorSample": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"UrlSampleDetails": {
			"properties": {
				"containingSitemaps": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"linkedFromUrls": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"WmxSite": {
			"properties": {
				"permissionLevel": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"siteUrl": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"WmxSitemap": {
			"properties": {
				"contents": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"errors": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isPending": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"isSitemapsIndex": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastDownloaded": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"lastSubmitted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"path": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"warnings": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		},
		"WmxSitemapContent": {
			"properties": {
				"indexed": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"submitted": {
					"description": "This is a default description.",
					"type": "parameters"
				},
				"type": {
					"description": "This is a default description.",
					"type": "parameters"
				}
			}
		}
	}
}