{
	"swagger": "2.0",
	"info": {
		"title": "Facebook Graph (Offer) API",
		"description": "API for managing Facebook Offers",
		"termsOfService": "https://www.facebook.com/policies/",
		"version": null
	},
	"host": "graph.facebook.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/v2.5/{offer-id}": {
			"get": {
				"summary": "An offer that is published by a Facebook Page",
				"description": "An offer that is published by a Facebook Page",
				"operationId": "offer",
				"parameters": [{
					"in": "query",
					"name": "claim_limit",
					"description": "The maximum number of times the offer can be claimed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "coupon_type",
					"description": "The type of offer.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "created_time",
					"description": "The time the offer was created.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "expiration_time",
					"description": "The expiration time of the offer (for display purposes).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "from",
					"description": "The page that published the offer.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The offer&#039;s ID.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "image_url",
					"description": "The URL for the offer&#039;s image.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "The description text of the offer.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "redemption_code",
					"description": "A code to to receive the discount or promotion.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "redemption_link",
					"description": "The URL where the offer may be redeemed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "terms",
					"description": "The terms of the offer.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "The title of the offer.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{offer-id}": {
			"get": {
				"summary": "An offer that is published by a Facebook Page",
				"description": "An offer that is published by a Facebook Page",
				"operationId": "offer",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{page-id}/offers": {
			"get": {
				"summary": "An offer that is published by a Facebook Page",
				"description": "An offer that is published by a Facebook Page",
				"operationId": "offer",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}