{
	"swagger": "2.0",
	"info": {
		"title": "FullContact Name API",
		"description": "The API for managing FullContact Names",
		"termsOfService": "https://www.fullcontact.com/terms/",
		"version": "v2"
	},
	"host": "api.fullcontact.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/name/normalizer.json": {
			"get": {
				"summary": "Name Normalization",
				"description": "The Name Normalization method takes quasi-structured name data provided as a string and outputs the data in a structured manner. It also returns a likelihood based only on the order of the given name and family name as seen in the US population.",
				"operationId": "normalizeName",
				"parameters": [{
					"in": "query",
					"name": "casing",
					"description": "Uppercase, lowercase, title case",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "q",
					"description": "The q parameter allows you to pass a quasi-structured full name string which can include standard prefix, first name, nickname, middle name, last name and suffix.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Successful Name Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Name"
							}
						}
					}
				},
				"tags": ["Names",
				" People",
				" Normalization"],
				"security": []
			}
		}
	},
	"definitions": {
		"Name": {
			"properties": {
				"givenName": {
					"description": "This is a default description.",
					"type": "string"
				},
				"familyName": {
					"description": "This is a default description.",
					"type": "string"
				},
				"middleNames": {
					"description": "This is a default description.",
					"type": "string"
				},
				"prefixes": {
					"description": "This is a default description.",
					"type": "string"
				},
				"suffixes": {
					"description": "This is a default description.",
					"type": "string"
				},
				"nicknames": {
					"description": "This is a default description.",
					"type": "string"
				},
				"fullName": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}