{
	"swagger": "2.0",
	"info": {
		"title": "Twilio SIP Domains API",
		"description": "Twilio is a cloud communications Infrastructure as a Service(IaaS) company based in San Francisco, California. Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs. Twilio's services are accessed over HTTP and are billed based on usage.",
		"termsOfService": "https://www.twilio.com/legal/tos",
		"version": "2010-04-01"
	},
	"host": "api.twilio.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Accounts/{AccountSid}/SIP/Domains/{SipDomainSid}/CredentialListMappings/{CLSid}{mediaTypeExtension}": {
			"delete": {
				"summary": "",
				"description": "Remove a CredentialListMapping from a domain",
				"operationId": "remove-a-credentiallistmapping-from-a-domain",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "CLSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/SIP/Domains/{SipDomainSid}/CredentialListMappings{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Get the user lists mapped to this domain.",
				"operationId": "get-the-user-lists-mapped-to-this-domain",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Map a CredentialList to the domain.",
				"operationId": "map-a-credentiallist-to-the-domain",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/SIP/Domains/{SipDomainSid}/IpAccessControlListMappings/{ALSid}{mediaTypeExtension}": {
			"delete": {
				"summary": "",
				"description": "Remove a mapping from this domain.",
				"operationId": "remove-a-mapping-from-this-domain",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ALSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Return a specific IpAccessControlListMapping instance by Sid.",
				"operationId": "return-a-specific-ipaccesscontrollistmapping-instance-by-sid",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ALSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/SIP/Domains/{SipDomainSid}/IpAccessControlListMappings{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Return the IpAccessControlListMappings that are associated to this domain.",
				"operationId": "return-the-ipaccesscontrollistmappings-that-are-associated-to-this-domain",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Map an IpAccessControlList to this domain.",
				"operationId": "map-an-ipaccesscontrollist-to-this-domain",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/SIP/Domains/{SipDomainSid}{mediaTypeExtension}": {
			"delete": {
				"summary": "",
				"description": "Delete a domain. If you have created subdomains of a domain, you will not be able to delete the domain until you first delete all subdomains of it.",
				"operationId": "delete-a-domain-if-you-have-created-subdomains-of-a-domain-you-will-not-be-able-to-delete-the-domain",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Return a specific instance by Sid.",
				"operationId": "return-a-specific-instance-by-sid",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Update the attributes of a domain.",
				"operationId": "update-the-attributes-of-a-domain",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "SipDomainSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/SIP/Domains{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Returns a paged list of the domains for an account.",
				"operationId": "returns-a-paged-list-of-the-domains-for-an-account",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Creates a new Domain and returns its instance resource. You must pick a unique domain name that ends in .sip.twilio.com.nAfter creating a Domain, you must map it to an authentication method before the domain is ready to receive traffic.n",
				"operationId": "creates-a-new-domain-and-returns-its-instance-resource-you-must-pick-a-unique-domain-name-that-ends-",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}