{
	"swagger": "2.0",
	"info": {
		"title": "Twilio Recordings API",
		"description": "Twilio is a cloud communications Infrastructure as a Service(IaaS) company based in San Francisco, California. Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs. Twilio's services are accessed over HTTP and are billed based on usage.",
		"termsOfService": "https://www.twilio.com/legal/tos",
		"version": "2010-04-01"
	},
	"host": "api.twilio.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Accounts/{AccountSid}/Recordings/{RecordingSid}/Transcriptions{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Returns a set of Transcription resource representations that includes pagingninformation.n",
				"operationId": "returns-a-set-of-transcription-resource-representations-that-includes-paginginformation",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "RecordingSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/Recordings/{RecordingSid}{mediaTypeExtension}": {
			"delete": {
				"summary": "",
				"description": "Deletes a recording  from your account.",
				"operationId": "deletes-a-recording--from-your-account",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension"
				},
				{
					"in": "path",
					"name": "RecordingSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns one of several representations:nWithout an extension, or with a .wav, a binary WAV audio file is returnednwith mime-type audio/x-wav.nAppending .mp3 to the URI returns a binary MP3 audio file with mime-typentype audio/mpeg.nAppending .xml to the URI returns a XML representation.n",
				"operationId": "returns-one-of-several-representationswithout-an-extension-or-with-a-wav-a-binary-wav-audio-file-is-",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension"
				},
				{
					"in": "path",
					"name": "RecordingSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/Recordings{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Returns a list of Recording resource representations, each representing anrecording generated during the course of a phone call.n",
				"operationId": "returns-a-list-of-recording-resource-representations-each-representing-arecording-generated-during-t",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Recordings.{format}": {
			"get": {
				"summary": "GetRecordingListForAccount",
				"description": "GetRecordingListForAccount",
				"operationId": "getrecordinglistforaccount",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Recordings/{RecordingSid}.{format}": {
			"delete": {
				"summary": "DeleteRecording",
				"description": "DeleteRecording",
				"operationId": "deleterecording",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "RecordingSid",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "GetRecording",
				"description": "GetRecording",
				"operationId": "getrecording",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "RecordingSid",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Recordings/{RecordingSid}/Transcriptions.{format}": {
			"get": {
				"summary": "GetTranscriptionListForRecording",
				"description": "GetTranscriptionListForRecording",
				"operationId": "gettranscriptionlistforrecording",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "RecordingSid",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}