{
	"swagger": "2.0",
	"info": {
		"title": "Twilio Application API",
		"description": "Twilio is a cloud communications Infrastructure as a Service(IaaS) company based in San Francisco, California. Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs. Twilio's services are accessed over HTTP and are billed based on usage.",
		"termsOfService": "https://www.twilio.com/legal/tos",
		"version": "2010-04-01"
	},
	"host": "api.twilio.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Accounts/{AccountSid}/Applications/{ApplicationSid}{mediaTypeExtension}": {
			"delete": {
				"summary": "Delete Application",
				"description": "Delete this application.",
				"operationId": "delete-this-application",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ApplicationSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["applications"],
				"security": []
			},
			"get": {
				"summary": "Get Application",
				"description": "Get application instance resource.",
				"operationId": "get-application-instance-resource",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ApplicationSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["applications"],
				"security": []
			},
			"post": {
				"summary": "Add Application",
				"description": "Tries to update the applications properties, and returns the updatednresource representation if successful. The returned response is identicalnto that returned above when making a GET request.n",
				"operationId": "tries-to-update-the-applications-properties-and-returns-the-updatedresource-representation-if-succes",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ApplicationSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["applications"],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/Applications{mediaTypeExtension}": {
			"get": {
				"summary": "Get Applications",
				"description": "Returns a list of Application resource representations, each representingnan application within your account. The list includes paging information.n",
				"operationId": "returns-a-list-of-application-resource-representations-each-representingan-application-within-your-a",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["applications"],
				"security": []
			},
			"post": {
				"summary": "Add Applications",
				"description": "Creates a new application within your account.",
				"operationId": "creates-a-new-application-within-your-account",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["applications"],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/AuthorizedConnectApps/{ConnectAppSid}{mediaTypeExtension}": {
			"get": {
				"summary": "Get Authorized Connected App",
				"description": "Get the properties of the authorized application.",
				"operationId": "get-the-properties-of-the-authorized-application",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ConnectAppSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["applications"],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/AuthorizedConnectApps{mediaTypeExtension}": {
			"get": {
				"summary": "Get Authorized Connected Apps",
				"description": "Returns a list of Connect App resource representations, each representing anConnect App youve authorized to access your account. The list includesnpaging information.n",
				"operationId": "returns-a-list-of-connect-app-resource-representations-each-representing-aconnect-app-youve-authoriz",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["applications"],
				"security": []
			}
		}
	},
	"definitions": []
}