{
	"swagger": "2.0",
	"info": {
		"title": "Twilio SMS Short Codes API",
		"description": "Twilio is a cloud communications Infrastructure as a Service(IaaS) company based in San Francisco, California. Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs. Twilio's services are accessed over HTTP and are billed based on usage.",
		"termsOfService": "https://www.twilio.com/legal/tos",
		"version": "2010-04-01"
	},
	"host": "api.twilio.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Accounts/{AccountSid}/SMS/ShortCodes/{ShortCodeSid}{mediaTypeExtension}": {
			"get": {
				"summary": "Get SMS Short Code Media",
				"description": "Get a single message.",
				"operationId": "get-a-single-message",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "ShortCodeSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["SMS",
				" Short Codes"],
				"security": []
			},
			"post": {
				"summary": "Add SMS Short Code Media",
				"description": "Tries to update the shortcodes properties, and returns the updatednresource representation if successful.n",
				"operationId": "tries-to-update-the-shortcodes-properties-and-returns-the-updatedresource-representation-if-successf",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "ShortCodeSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["SMS",
				" Short Codes"],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/SMS/ShortCodes{mediaTypeExtension}": {
			"get": {
				"summary": "Get SMS Short Code Media",
				"description": "Returns a list of ShortCode resource representations, each representing anshort code within your account. The list includes paging information.n",
				"operationId": "returns-a-list-of-shortcode-resource-representations-each-representing-ashort-code-within-your-accou",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["SMS",
				" Short Codes"],
				"security": []
			}
		},
		"/{AccountSid}/SMS/Messages.{format}": {
			"get": {
				"summary": "GetSMSList",
				"description": "GetSMSList",
				"operationId": "getsmslist",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["SMS",
				" Short Codes"],
				"security": []
			},
			"post": {
				"summary": "SendSMS",
				"description": "SendSMS",
				"operationId": "sendsms",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["SMS",
				" Short Codes"],
				"security": []
			}
		},
		"/{AccountSid}/SMS/Messages/{SMSMessageSid}.{format}": {
			"get": {
				"summary": "GetSMS",
				"description": "GetSMS",
				"operationId": "getsms",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "SMSMessageSid",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["SMS",
				" Short Codes"],
				"security": []
			}
		}
	},
	"definitions": []
}