{
	"swagger": "2.0",
	"info": {
		"title": "API Evangelist Screen Capture API",
		"description": "This is a simple API that accepts a URL to any website, then returns an image screenshot of the page.",
		"termsOfService": "http://developer.apievangelist.com/index.html",
		"contact": {
			"name": "Kin Lane",
			"url": "http://kinlane.com",
			"email": "info@apievangelist.com"
		},
		"license": {
			"name": "MIT",
			"url": "http://opensource.org/licenses/MIT"
		},
		"version": "1.0"
	},
	"host": "screen-capture.api.apievangelist.com",
	"basePath": "/v1",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"/screen-capture": {
			"get": {
				"summary": "Returns a screen capture of a url.",
				"description": "Returns PNG file returned from screen capture of a url.",
				"operationId": "captureScreen",
				"parameters": [
					{
						"name": "appid",
						"in": "query",
						"description": "application id for application making calls",
						"type": "string"
					},
					{
						"name": "code",
						"in": "query",
						"description": "application key for application making calls",
						"type": "string"
					},
					{
						"name": "url",
						"in": "query",
						"description": "a url for screen capture",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Returns successful screen capture image."
					}
				},
				"tags": [
					"URL",
					" Links",
					" Screenshot",
					" Screen Capture"
				]
			}
		}
	},
	"definitions": {
	}
}