{
	"swagger": "2.0",
	"info": {
		"title": "PayPal Invoicing",
		"description": "Our REST APIs provide a simple, powerful way to invoke PayPal services, letting you accept payment from a credit card or PayPal account, implement a secure login, and more.",
		"termsOfService": "https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=ua/Legal_Hub_full",
		"version": null
	},
	"host": "svcs.sandbox.paypal.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Invoice/CancelInvoice": {
			"post": {
				"summary": "GetInvoiceDetails",
				"description": "GetInvoiceDetails",
				"operationId": "getinvoicedetails",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Invoice/CreateAndSendInvoice": {
			"post": {
				"summary": "SendInvoice",
				"description": "SendInvoice",
				"operationId": "sendinvoice",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Invoice/CreateInvoice": {
			"post": {
				"summary": "GetUserAgreement",
				"description": "GetUserAgreement",
				"operationId": "getuseragreement",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Invoice/GetInvoiceDetails": {
			"post": {
				"summary": "UpdateInvoice",
				"description": "UpdateInvoice",
				"operationId": "updateinvoice",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Invoice/MarkInvoiceAsPaid": {
			"post": {
				"summary": "CancelInvoice",
				"description": "CancelInvoice",
				"operationId": "cancelinvoice",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Invoice/SearchInvoices": {
			"post": {
				"summary": "MarkInvoiceAsPaid",
				"description": "MarkInvoiceAsPaid",
				"operationId": "markinvoiceaspaid",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Invoice/SendInvoice": {
			"post": {
				"summary": "CreateInvoice",
				"description": "CreateInvoice",
				"operationId": "createinvoice",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Invoice/UpdateInvoice": {
			"post": {
				"summary": "CreateAndSendInvoice",
				"description": "CreateAndSendInvoice",
				"operationId": "createandsendinvoice",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}