{
	"swagger": "2.0",
	"info": {
		"title": "PayPal Adaptive Payments",
		"description": "Our REST APIs provide a simple, powerful way to invoke PayPal services, letting you accept payment from a credit card or PayPal account, implement a secure login, and more.",
		"termsOfService": "https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=ua/Legal_Hub_full",
		"version": null
	},
	"host": "svcs.sandbox.paypal.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/AdaptivePayments/CancelPreapproval": {
			"post": {
				"summary": "PreapprovalDetails",
				"description": "PreapprovalDetails",
				"operationId": "preapprovaldetails",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/ConvertCurrency": {
			"post": {
				"summary": "CancelPreapproval",
				"description": "CancelPreapproval",
				"operationId": "cancelpreapproval",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/ExecutePayment": {
			"post": {
				"summary": "SetPaymentOptions",
				"description": "SetPaymentOptions",
				"operationId": "setpaymentoptions",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/GetFundingPlans": {
			"post": {
				"summary": "GetShippingAddresses",
				"description": "GetShippingAddresses",
				"operationId": "getshippingaddresses",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/GetPaymentOptions": {
			"post": {
				"summary": "Refund",
				"description": "Refund",
				"operationId": "refund",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/GetShippingAddresses": {
			"post": {
				"summary": "ExecutePayment",
				"description": "ExecutePayment",
				"operationId": "executepayment",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/Pay": {
			"post": {
				"summary": "",
				"description": "",
				"operationId": "",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/PaymentDetails": {
			"post": {
				"summary": "Pay",
				"description": "Pay",
				"operationId": "pay",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/Preapproval": {
			"post": {
				"summary": "PaymentDetails",
				"description": "PaymentDetails",
				"operationId": "paymentdetails",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/PreapprovalDetails": {
			"post": {
				"summary": "Preapproval",
				"description": "Preapproval",
				"operationId": "preapproval",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/Refund": {
			"post": {
				"summary": "ConvertCurrency",
				"description": "ConvertCurrency",
				"operationId": "convertcurrency",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptivePayments/SetPaymentOptions": {
			"post": {
				"summary": "GetPaymentOptions",
				"description": "GetPaymentOptions",
				"operationId": "getpaymentoptions",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}