{
	"swagger": "2.0",
	"info": {
		"title": "PayPal Permissions",
		"description": "Our REST APIs provide a simple, powerful way to invoke PayPal services, letting you accept payment from a credit card or PayPal account, implement a secure login, and more.",
		"termsOfService": "https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=ua/Legal_Hub_full",
		"version": null
	},
	"host": "svcs.sandbox.paypal.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Permissions/CancelPermissions": {
			"post": {
				"summary": "GetPermissions",
				"description": "GetPermissions",
				"operationId": "getpermissions",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Permissions/GetAccessToken": {
			"post": {
				"summary": "RequestPermissions",
				"description": "RequestPermissions",
				"operationId": "requestpermissions",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Permissions/GetAdvancedPersonalData": {
			"post": {
				"summary": "GetBasicPersonalData",
				"description": "GetBasicPersonalData",
				"operationId": "getbasicpersonaldata",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Permissions/GetBasicPersonalData": {
			"post": {
				"summary": "CancelPermissions",
				"description": "CancelPermissions",
				"operationId": "cancelpermissions",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Permissions/GetPermissions": {
			"post": {
				"summary": "GetAccessToken",
				"description": "GetAccessToken",
				"operationId": "getaccesstoken",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Permissions/RequestPermissions": {
			"post": {
				"summary": "SearchInvoices",
				"description": "SearchInvoices",
				"operationId": "searchinvoices",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}