{
	"swagger": "2.0",
	"info": {
		"title": "Paypal Adaptive Accounts",
		"description": "Our REST APIs provide a simple, powerful way to invoke PayPal services, letting you accept payment from a credit card or PayPal account, implement a secure login, and more.",
		"termsOfService": "https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=ua/Legal_Hub_full",
		"version": null
	},
	"host": "svcs.sandbox.paypal.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/AdaptiveAccounts/AddBankAccount": {
			"post": {
				"summary": "CreateAccount",
				"description": "CreateAccount",
				"operationId": "createaccount",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptiveAccounts/AddPaymentCard": {
			"post": {
				"summary": "AddBankAccount",
				"description": "AddBankAccount",
				"operationId": "addbankaccount",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptiveAccounts/CreateAccount": {
			"post": {
				"summary": "GetFundingPlans",
				"description": "GetFundingPlans",
				"operationId": "getfundingplans",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptiveAccounts/GetUserAgreement": {
			"post": {
				"summary": "GetVerifiedStatus",
				"description": "GetVerifiedStatus",
				"operationId": "getverifiedstatus",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptiveAccounts/GetVerifiedStatus": {
			"post": {
				"summary": "SetFundingSourceConfirmed",
				"description": "SetFundingSourceConfirmed",
				"operationId": "setfundingsourceconfirmed",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/AdaptiveAccounts/SetFundingSourceConfirmed": {
			"post": {
				"summary": "AddPaymentCard",
				"description": "AddPaymentCard",
				"operationId": "addpaymentcard",
				"parameters": [{
					"in": "query",
					"name": "X-PAYPAL-SANDBOX-EMAIL-ADDRESS",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}