{
	"swagger": "2.0",
	"info": {
		"title": "Twitter Friendships API",
		"description": "This is the friendships API.",
		"termsOfService": "http://dev.twitter.com/overview/terms",
		"contact": {
			"name": "Twitter",
			"url": "https://dev.twitter.com/discussions"
		},
		"version": "1.1"
	},
	"host": "api.twitter.com",
	"basePath": "/1.1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/friendships/destroy/": {
			"post": {
				"summary": "friendships/destroy",
				"description": "Allows the authenticating user to unfollow the user specified in the ID parameter.Returns the unfollowed user in the requested format when successful. Returns a string describing the failure condition when unsuccessful.Actions taken in this method are asynchronous and changes will be eventually consistent.",
				"operationId": "friendshipsDestroy",
				"parameters": [{
					"in": "query",
					"name": "screen_name"
				},
				{
					"in": "query",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/friendships/incoming/": {
			"get": {
				"summary": "friendships/incoming",
				"description": "Returns a collection of numeric IDs for every user who has a pending request to follow the authenticating user.",
				"operationId": "friendshipsIncoming",
				"parameters": [{
					"in": "query",
					"name": "cursor"
				},
				{
					"in": "query",
					"name": "stringify_ids"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/friendships/lookup/": {
			"get": {
				"summary": "friendships/lookup",
				"description": "Returns the relationships of the authenticating user to the comma-separated list of up to 100 screen_names or user_ids provided. Values for connections can be: following, following_requested, followed_by, none, blocking, muting.",
				"operationId": "friendshipsLookup",
				"parameters": [{
					"in": "query",
					"name": "screen_name"
				},
				{
					"in": "query",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/friendships/no_retweets/ids/": {
			"get": {
				"summary": "friendships/no_retweets/ids",
				"description": "Returns a collection of user_ids that the currently authenticated user does not want to receive retweets from.Use POST friendships / update to set the &#8220;no retweets&#8221; status for a given user account on behalf of the current user.",
				"operationId": "friendshipsNoRetweetsIds",
				"parameters": [{
					"in": "query",
					"name": "stringify_ids"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/friendships/outgoing/": {
			"get": {
				"summary": "friendships/outgoing",
				"description": "Returns a collection of numeric IDs for every protected user for whom the authenticating user has a pending follow request.",
				"operationId": "friendshipsOutgoing",
				"parameters": [{
					"in": "query",
					"name": "cursor"
				},
				{
					"in": "query",
					"name": "stringify_ids"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/friendships/show/": {
			"get": {
				"summary": "friendships/show",
				"description": "Returns detailed information about the relationship between two arbitrary users.",
				"operationId": "friendshipsShow",
				"parameters": [{
					"in": "query",
					"name": "source_id"
				},
				{
					"in": "query",
					"name": "source_screen_name"
				},
				{
					"in": "query",
					"name": "target_id"
				},
				{
					"in": "query",
					"name": "target_screen_name"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/friendships/update/": {
			"post": {
				"summary": "friendships/update",
				"description": "Allows one to enable or disable retweets and device notifications from the specified user.",
				"operationId": "friendshipsUpdate",
				"parameters": [{
					"in": "query",
					"name": "device"
				},
				{
					"in": "query",
					"name": "retweets"
				},
				{
					"in": "query",
					"name": "screen_name"
				},
				{
					"in": "query",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}