{
	"swagger": "2.0",
	"info": {
		"title": "Twitter Users API",
		"description": "This is the users API for Twitter.",
		"termsOfService": "http://dev.twitter.com/overview/terms",
		"contact": {
			"name": "Twitter",
			"url": "https://dev.twitter.com/discussions"
		},
		"version": "1.1"
	},
	"host": "api.twitter.com",
	"basePath": "/1.1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/users/contributors/": {
			"get": {
				"summary": "users/contributors",
				"description": "Returns a collection of users who can contribute to the specified account.",
				"operationId": "usersContributors",
				"parameters": [{
					"in": "query",
					"name": "include_entities"
				},
				{
					"in": "query",
					"name": "screen_name"
				},
				{
					"in": "query",
					"name": "skip_status"
				},
				{
					"in": "query",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/lookup/": {
			"get": {
				"summary": "users/lookup",
				"description": "Returns fully-hydrated user objects for up to 100 users per request, as specified by comma-separated values passed to the user_id and/or screen_name parameters.This method is especially useful when used in conjunction with collections of user IDs returned from GET friends / ids and GET followers / ids.GET users / show is used to retrieve a single user object.There are a few things to note when using this method.You must be following a protected user to be able to see their most recent status update. If you don&#8217;t follow a protected user their status will be removed.The order of user IDs or screen names may not match the order of users in the returned array.If a requested user is unknown, suspended, or deleted, then that user will not be returned in the results list.If none of your lookup criteria can be satisfied by returning a user object, a HTTP 404 will be thrown.You are strongly encouraged to use a POST for larger requests.",
				"operationId": "usersLookup",
				"parameters": [{
					"in": "query",
					"name": "include_entities"
				},
				{
					"in": "query",
					"name": "screen_name"
				},
				{
					"in": "query",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/profile_banner/": {
			"get": {
				"summary": "users/profile_banner",
				"description": "Returns a map of the available size variations of the specified user&#8217;s profile banner. If the user has not uploaded a profile banner, a HTTP 404 will be served instead. This method can be used instead of string manipulation on the profile_banner_url returned in user objects as described in [node:10796 ].The profile banner data available at each size variant&#8217;s URL is in PNG format.",
				"operationId": "usersProfileBanner",
				"parameters": [{
					"in": "query",
					"name": "screen_name"
				},
				{
					"in": "query",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/report_spam/": {
			"post": {
				"summary": "users/report_spam",
				"description": "Report the specified user as a spam account to Twitter. Additionally performs the equivalent of POST blocks / create on behalf of the authenticated user.",
				"operationId": "usersReportSpam",
				"parameters": [{
					"in": "query",
					"name": "screen_name"
				},
				{
					"in": "query",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/search/": {
			"get": {
				"summary": "users/search",
				"description": "Provides a simple, relevance-based search interface to public user accounts on Twitter. Try querying by topical interest, full name, company name, location, or other criteria. Exact match searches are not supported.Only the first 1,000 matching results are available.",
				"operationId": "usersSearch",
				"parameters": [{
					"in": "query",
					"name": ""
				},
				{
					"in": "query",
					"name": "count"
				},
				{
					"in": "query",
					"name": "include_entities"
				},
				{
					"in": "query",
					"name": "page"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/show/": {
			"get": {
				"summary": "users/show",
				"description": "Returns a variety of information about the user specified by the required user_id or screen_name parameter. The author&#8217;s most recent Tweet will be returned inline when possible.GET users / lookup is used to retrieve a bulk collection of user objects.You must be following a protected user to be able to see their most recent Tweet. If you don&#8217;t follow a protected user, the users Tweet will be removed. A Tweet will not always be returned in the current_status field.",
				"operationId": "usersShow",
				"parameters": [{
					"in": "query",
					"name": ""
				},
				{
					"in": "query",
					"name": "include_entities"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/suggestions/": {
			"get": {
				"summary": "users/suggestions",
				"description": "Access to Twitter&#8217;s suggested user list. This returns the list of suggested user categories. The category can be used in GET users / suggestions / :slug to get the users in that category.",
				"operationId": "usersSuggestions",
				"parameters": [{
					"in": "query",
					"name": "lang"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/suggestions/:slug/": {
			"get": {
				"summary": "users/suggestions/:slug",
				"description": "Access the users in a given category of the Twitter suggested user list.It is recommended that applications cache this data for no more than one hour.",
				"operationId": "usersSuggestionsslug",
				"parameters": [{
					"in": "query",
					"name": ""
				},
				{
					"in": "query",
					"name": "lang"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/suggestions/:slug/members/": {
			"get": {
				"summary": "users/suggestions/:slug/members",
				"description": "Access the users in a given category of the Twitter suggested user list and return their most recent status if they are not a protected user.",
				"operationId": "usersSuggestionsslugMembers",
				"parameters": [{
					"in": "query",
					"name": ""
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}