{
	"swagger": "2.0",
	"info": {
		"title": "Twitter Help API",
		"description": "The help API for Twitter.",
		"termsOfService": "http://dev.twitter.com/overview/terms",
		"contact": {
			"name": "Twitter",
			"url": "https://dev.twitter.com/discussion"
		},
		"version": "1.1"
	},
	"host": "api.twitter.com",
	"basePath": "/1.1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/help/languages/": {
			"get": {
				"summary": "help/languages",
				"description": "Returns the list of languages supported by Twitter along with the language code supported by Twitter.The language code may be formatted as ISO 639-1 alpha-2 (en), ISO 639-3 alpha-3 (msa), or ISO 639-1 alpha-2 combined with an ISO 3166-1 alpha-2 localization (zh-tw).",
				"operationId": "helpLanguages",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/help/privacy/": {
			"get": {
				"summary": "help/privacy",
				"description": "Returns Twitter&#8217;s Privacy Policy.",
				"operationId": "helpPrivacy",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/help/tos/": {
			"get": {
				"summary": "help/tos",
				"description": "Returns the Twitter Terms of Service. Note: these are not the same as the Developer Policy.",
				"operationId": "helpTos",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": {
		"termsofservice": {
			"properties": {
				"tos": {
					"description": "This is a default description.",
					"type": "get"
				}
			}
		}
	}
}