{
	"swagger": "2.0",
	"info": {
		"title": "Twitter Search API",
		"description": "The search API for Twitter.",
		"termsOfService": "http://dev.twitter.com/overview/terms",
		"contact": {
			"name": "Twitter",
			"url": "https://dev.twitter.com/discussions"
		},
		"version": "1.1"
	},
	"host": "api.twitter.com",
	"basePath": "/1.1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/search/tweets/": {
			"get": {
				"summary": "Search Tweets",
				"description": "Returns a collection of relevant Tweets matching a specified query.",
				"operationId": "searchTweets",
				"parameters": [{
					"in": "query",
					"name": "callback",
					"description": "If supplied, the response will use the JSONP format with a callback of the given name. The usefulness of this parameter is somewhat diminished by the requirement of authentication for requests to this endpoint.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "The number of tweets to return per page, up to a maximum of 100. Defaults to 15. This was formerly the u201crppu201d parameter in the old Search API.",
					"type": "integer",
					"format": "integer"
				},
				{
					"in": "query",
					"name": "geocode",
					"description": "Returns tweets by users located within a given radius of the given latitude/longitude. The location is preferentially taking from the Geotagging API, but will fall back to their Twitter profile. The parameter value is specified by u201clatitude,longitude,radiusu201d, where radius units must be specified as either u201cmiu201d (miles) or u201ckmu201d (kilometers). Note that you cannot use the near operator via the API to geocode arbitrary locations; however you can use this geocode parameter to search near g",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "include_entities",
					"description": "The entities node will be disincluded when set to false.",
					"type": "boolean",
					"format": "boolean"
				},
				{
					"in": "query",
					"name": "lang",
					"description": "Restricts tweets to the given language, given by an ISO 639-1 code. Language detection is best-effort.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "locale",
					"description": "Specify the language of the query you are sending (only ja is currently effective). This is intended for language-specific consumers and the default should work in the majority of cases.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "max_id",
					"description": "Returns results with an ID less than (that is, older than) or equal to the specified ID.",
					"type": "integer",
					"format": "integer"
				},
				{
					"in": "query",
					"name": "q",
					"description": "A UTF-8, URL-encoded search query of 500 characters maximum, including operators. Queries may additionally be limited by complexity.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "result_type",
					"description": "Specifies what type of search results you would prefer to receive. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Returns results with an ID greater than (that is, more recent than) the specified ID. There are limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has occured since the since_id, the since_id will be forced to the oldest ID available.",
					"type": "integer",
					"format": "integer"
				},
				{
					"in": "query",
					"name": "until",
					"description": "Returns tweets created before the given date. Date should be formatted as YYYY-MM-DD. Keep in mind that the search index has a 7-day limit. In other words, no tweets will be found for a date older than one week.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Search"],
				"security": []
			}
		}
	},
	"definitions": []
}