{
	"swagger": "2.0",
	"info": {
		"title": "Twitter Mutes API",
		"description": "The mutes API for Twitter.",
		"termsOfService": "http://dev.twitter.com/overview/terms",
		"contact": {
			"name": "Twitter",
			"url": "https://dev.twitter.com/discussions"
		},
		"version": "1.1"
	},
	"host": "api.twitter.com",
	"basePath": "/1.1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/mutes/users/destroy/": {
			"post": {
				"summary": "mutes/users/destroy",
				"description": "Un-mutes the user specified in the ID parameter for the authenticating user.Returns the unmuted user in the requested format when successful. Returns a string describing the failure condition when unsuccessful.Actions taken in this method are asynchronous and changes will be eventually consistent.",
				"operationId": "mutesUsersDestroy",
				"parameters": [{
					"in": "query",
					"name": "screen_name"
				},
				{
					"in": "query",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/mutes/users/ids/": {
			"get": {
				"summary": "mutes/users/ids",
				"description": "Returns an array of numeric user ids the authenticating user has muted.",
				"operationId": "mutesUsersIds",
				"parameters": [{
					"in": "query",
					"name": "cursor"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/mutes/users/list/": {
			"get": {
				"summary": "mutes/users/list",
				"description": "Returns an array of user objects the authenticating user has muted.",
				"operationId": "mutesUsersList",
				"parameters": [{
					"in": "query",
					"name": "cursor"
				},
				{
					"in": "query",
					"name": "include_entities"
				},
				{
					"in": "query",
					"name": "skip_status"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}