FORMAT: 1A
HOST: http://su1.3scale.net/

# 3Scale Account Management API
The API for managing 3Scale accounts.

# Admin Api AccountsXml [/admin/api/accounts.xml{?page,per_page,provider_key,state}]

## account [GET]
+ Parameters
    + page (object, required)

        Page in the paginated list. Defaults to 1.

    + per_page (object, required)

        Number of results per page. Default and max is 500.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + state (string, required)

        Account state. 



# Admin Api Accounts FindXml [/admin/api/accounts/find.xml{?email,provider_key,username,user_id}]

## account [GET]
+ Parameters
    + email (string, required)

        email of the user of the account

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + username (string, required)

        username of the user of the account

    + user_id (number, required)

        id of the user of the account



# Admin Api Accounts ApplicationsXml [/admin/api/accounts/{account_id}/applications.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.


## application [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts ApplicationsXml [/admin/api/accounts/{account_id}/applications.xml{?additional_fields,description,name,plan_id,provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.


## application [POST]
+ Parameters
    + additional_fields (object, required)

        Additional fields have to be name and value i.e &name=value. You can add as many as you want. Additional fields cover for the custom fields declared in Settings >> Fields Definitions on your API Admin Portal. Typical examples are url, country, janrain_token, etc. Please check your Fields Definitions to get the list of all your required fields.

    + description (string, required)

        Description of the application to be created.

    + name (string, required)

        Name of the application to be created.

    + plan_id (object, required)

        id of the application plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications KeysXml [/admin/api/accounts/{account_id}/applications/{application_id}/keys.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + application_id (object, required)

        id of the application.


## application [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications KeysXml [/admin/api/accounts/{account_id}/applications/{application_id}/keys.xml{?key,provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + application_id (object, required)

        id of the application.


## application [POST]
+ Parameters
    + key (string, required)

        app_key to be added

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications Keys Key Xml [/admin/api/accounts/{account_id}/applications/{application_id}/keys/{key}.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + application_id (object, required)

        id of the application.

    + key (string, required)

        app_key to be deleted.


## application [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications Referrer FiltersXml [/admin/api/accounts/{account_id}/applications/{application_id}/referrer_filters.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + application_id (object, required)

        id of the application.


## application [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications Referrer FiltersXml [/admin/api/accounts/{account_id}/applications/{application_id}/referrer_filters.xml{?provider_key,referrer_filter}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + application_id (object, required)

        id of the application.


## application [POST]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + referrer_filter (string, required)

        referrer filter to be created.



# Admin Api Accounts Applications Referrer Filters Id Xml [/admin/api/accounts/{account_id}/applications/{application_id}/referrer_filters/{id}.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + application_id (object, required)

        id of the application.

    + id (object, required)

        id of referrer filter to be deleted.


## application [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications Xml [/admin/api/accounts/{account_id}/applications/{id}.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the application.


## application [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications Xml [/admin/api/accounts/{account_id}/applications/{id}.xml{?additional_fields,description,name,provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the application.


## application [PUT]
+ Parameters
    + additional_fields (object, required)

        Additional fields have to be name and value i.e &name=value. You can add as many as you want. Additional fields cover for the custom fields declared in Settings >> Fields Definitions on your API Admin Portal. Typical examples are url, country, janrain_token, etc. Please check your Fields Definitions to get the list of all your required fields.

    + description (string, required)

        Description of the application.

    + name (string, required)

        Name of the application.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications AcceptXml [/admin/api/accounts/{account_id}/applications/{id}/accept.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the application.


## application [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications Change PlanXml [/admin/api/accounts/{account_id}/applications/{id}/change_plan.xml{?plan_id,provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the application.


## application [PUT]
+ Parameters
    + plan_id (object, required)

        id of the new application plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications Customize PlanXml [/admin/api/accounts/{account_id}/applications/{id}/customize_plan.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the application.


## application [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications Decustomize PlanXml [/admin/api/accounts/{account_id}/applications/{id}/decustomize_plan.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the application.


## application [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications ResumeXml [/admin/api/accounts/{account_id}/applications/{id}/resume.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the application.


## application [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Applications SuspendXml [/admin/api/accounts/{account_id}/applications/{id}/suspend.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the application.


## application [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts MessagesXml [/admin/api/accounts/{account_id}/messages.xml{?body,provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.


## account [POST]
+ Parameters
    + body (string, required)

        Text to send

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts PlanXml By Account Id [/admin/api/accounts/{account_id}/plan.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.


## account [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts UsersXml [/admin/api/accounts/{account_id}/users.xml{?provider_key,role,state}]

+ Parameters
    + account_id (object, required)

        id of the account.


## user [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + role (string, required)

        Filter users by Role.

    + state (string, required)

        Filter users by State.



# Admin Api Accounts UsersXml [/admin/api/accounts/{account_id}/users.xml{?additional_fields,email,password,provider_key,username}]

+ Parameters
    + account_id (object, required)

        id of the account.


## user [POST]
+ Parameters
    + additional_fields (object, required)

        Additional fields have to be name and value i.e &name=value. You can add as many as you want. Additional fields cover for the custom fields declared in Settings >> Fields Definitions on your API Admin Portal. Typical examples are url, country, janrain_token, etc. Please check your Fields Definitions to get the list of all your required fields.

    + email (string, required)

        Email of the user.

    + password (string, required)

        Password of the user.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + username (string, required)

        Username of the user.



# Admin Api Accounts Users Xml [/admin/api/accounts/{account_id}/users/{id}.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the user.


## user [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Users Xml [/admin/api/accounts/{account_id}/users/{id}.xml{?additional_fields,email,password,provider_key,username}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the user.


## user [PUT]
+ Parameters
    + additional_fields (object, required)

        Additional fields have to be name and value i.e &name=value. You can add as many as you want. Additional fields cover for the custom fields declared in Settings >> Fields Definitions on your API Admin Portal. Typical examples are url, country, janrain_token, etc. Please check your Fields Definitions to get the list of all your required fields.

    + email (string, required)

        Email of the user.

    + password (string, required)

        Password of the user.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + username (string, required)

        Username of the user.



# Admin Api Accounts Users Xml [/admin/api/accounts/{account_id}/users/{id}.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the user.


## user [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Users ActivateXml [/admin/api/accounts/{account_id}/users/{id}/activate.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the user.


## user [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Users AdminXml [/admin/api/accounts/{account_id}/users/{id}/admin.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the user.


## user [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Users MemberXml [/admin/api/accounts/{account_id}/users/{id}/member.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the user.


## user [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Users SuspendXml [/admin/api/accounts/{account_id}/users/{id}/suspend.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the user.


## user [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Users UnsuspendXml [/admin/api/accounts/{account_id}/users/{id}/unsuspend.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the user.


## user [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Xml By Id [/admin/api/accounts/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Xml By Id [/admin/api/accounts/{id}.xml{?additional_fields,org_name,provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [PUT]
+ Parameters
    + additional_fields (object, required)

        Additional fields have to be name and value i.e &name=value. You can add as many as you want. Additional fields cover for the custom fields declared in Settings >> Fields Definitions on your API Admin Portal. Typical examples are url, country, janrain_token, etc. Please check your Fields Definitions to get the list of all your required fields.

    + org_name (string, required)

        Organization name of the account.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Xml By Id [/admin/api/accounts/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts ApproveXml By Id [/admin/api/accounts/{id}/approve.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Change PlanXml By Id [/admin/api/accounts/{id}/change_plan.xml{?plan_id,provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [PUT]
+ Parameters
    + plan_id (object, required)

        id of the target account plan

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Credit CardXml By Id [/admin/api/accounts/{id}/credit_card.xml{?billing_address_address,billing_address_city,billing_address_country,billing_address_name,billing_address_phone,billing_address_state,billing_address_zip,credit_card_authorize_net_payment_profile_token,credit_card_expiration_month,credit_card_expiration_year,credit_card_partial_number,credit_card_token,provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [PUT]
+ Parameters
    + billing_address_address (string, required)

        Address associated to the credit card

    + billing_address_city (string, required)

        Billing address city

    + billing_address_country (string, required)

        Billing address country

    + billing_address_name (string, required)

        Name of the person/company to bill

    + billing_address_phone (string, required)

        Billing address phone

    + billing_address_state (string, required)

        Billing address state

    + billing_address_zip (string, required)

        Billing address ZIP code

    + credit_card_authorize_net_payment_profile_token (string, required)

        Authorize.net payment profile token. Unused for other payment gateways

    + credit_card_expiration_month (string, required)

        Month of expiration of credit card. 2digit number

    + credit_card_expiration_year (string, required)

        Year of expiration of credit card. 2digit number

    + credit_card_partial_number (string, required)

        4 last numbers of the credit card

    + credit_card_token (string, required)

        The token returned by the payment gateway. Client_id if youre using braintree (In that case, the first credit card will be used)

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Credit CardXml By Id [/admin/api/accounts/{id}/credit_card.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts Make PendingXml By Id [/admin/api/accounts/{id}/make_pending.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Accounts RejectXml By Id [/admin/api/accounts/{id}/reject.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account.


## account [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Account PlansXml [/admin/api/account_plans.xml{?provider_key}]

## account_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Account PlansXml [/admin/api/account_plans.xml{?name,provider_key,system_name}]

## account_plan [POST]
+ Parameters
    + name (string, required)

        Name of the account plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + system_name (string, required)

        System Name of the object to be created. System names cannot be modified after creation, they are used as key to identify the objects.



# Admin Api Account Plans FeaturesXml [/admin/api/account_plans/{account_plan_id}/features.xml{?provider_key}]

+ Parameters
    + account_plan_id (object, required)

        id of the account plan.


## account_plan_feature [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Account Plans Features Xml [/admin/api/account_plans/{account_plan_id}/features/{id}.xml{?provider_key}]

+ Parameters
    + account_plan_id (object, required)

        id of the account plan.

    + id (object, required)

        id of the feature.


## account_plan_feature [POST]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Account Plans Features Xml [/admin/api/account_plans/{account_plan_id}/features/{id}.xml{?provider_key}]

+ Parameters
    + account_plan_id (object, required)

        id of the account plan.

    + id (object, required)

        id of the feature.


## account_plan_feature [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Account Plans Xml By Id [/admin/api/account_plans/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account plan.


## account_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Account Plans Xml By Id [/admin/api/account_plans/{id}.xml{?name,provider_key}]

+ Parameters
    + id (object, required)

        id of the account plan.


## account_plan [PUT]
+ Parameters
    + name (string, required)

        Name of the account plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Account Plans Xml By Id [/admin/api/account_plans/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account plan.


## account_plan [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Account Plans DefaultXml By Id [/admin/api/account_plans/{id}/default.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the account plan.


## account_plan [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Active Docs Xml By Id [/admin/api/active_docs/{id}.xml{?body,provider_key}]

+ Parameters
    + id (object, required)

        id of the active doc.


## active_docs [PUT]
+ Parameters
    + body (string, required)

        JSON Spec of the ActiveDocs (based on the spec of Swagger).

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api ApplicationsXml [/admin/api/applications.xml{?active_since,inactive_since,page,per_page,provider_key,service_id}]

## application [GET]
+ Parameters
    + active_since (string, required)

        filter date

    + inactive_since (string, required)

        filter date

    + page (object, required)

        Page in the paginated list. Defaults to 1.

    + per_page (object, required)

        Number of results per page. Default and max is 500.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + service_id (string, required)

        filter by service



# Admin Api Applications FindXml [/admin/api/applications/find.xml{?application_id,app_id,provider_key,user_key}]

## application [GET]
+ Parameters
    + application_id (object, required)

        id of the application.

    + app_id (string, required)

        app_id of the application (for app_id/app_key and oauth authentication modes).

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + user_key (string, required)

        user_key of the application (for user_key authentication mode).



# Admin Api Application PlansXml [/admin/api/application_plans.xml{?provider_key}]

## application_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans FeaturesXml [/admin/api/application_plans/{application_plan_id}/features.xml{?provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.


## application_plan_feature [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans FeaturesXml [/admin/api/application_plans/{application_plan_id}/features.xml{?feature_id,provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.


## application_plan_feature [POST]
+ Parameters
    + feature_id (object, required)

        id of the feature.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans Features Xml [/admin/api/application_plans/{application_plan_id}/features/{id}.xml{?provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.

    + id (object, required)

        id of the feature.


## application_plan_feature [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans LimitsXml [/admin/api/application_plans/{application_plan_id}/limits.xml{?provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.


## application_plan_limits [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans Metrics LimitsXml [/admin/api/application_plans/{application_plan_id}/metrics/{metric_id}/limits.xml{?provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.

    + metric_id (object, required)

        id of the metric.


## application_plan_limit [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans Metrics LimitsXml [/admin/api/application_plans/{application_plan_id}/metrics/{metric_id}/limits.xml{?period,provider_key,value}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.

    + metric_id (object, required)

        id of the metric.


## application_plan_limit [POST]
+ Parameters
    + period (string, required)

        period of the limit.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + value (object, required)

        value of the limit.



# Admin Api Application Plans Metrics Limits Id Xml [/admin/api/application_plans/{application_plan_id}/metrics/{metric_id}/limits/{id}.xml{?provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.

    + id (object, required)

        id of the limit.

    + metric_id (object, required)

        id of the metric.


## application_plan_limit [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans Metrics Limits Id Xml [/admin/api/application_plans/{application_plan_id}/metrics/{metric_id}/limits/{id}.xml{?period,provider_key,value}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.

    + id (object, required)

        id of the limit.

    + metric_id (object, required)

        id of the metric.


## application_plan_limit [PUT]
+ Parameters
    + period (string, required)

        period of the limit.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + value (object, required)

        value of the limit.



# Admin Api Application Plans Metrics Limits Id Xml [/admin/api/application_plans/{application_plan_id}/metrics/{metric_id}/limits/{id}.xml{?provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.

    + id (object, required)

        id of the limit.

    + metric_id (object, required)

        id of the metric.


## application_plan_limit [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans Metrics Pricing RulesXml [/admin/api/application_plans/{application_plan_id}/metrics/{metric_id}/pricing_rules.xml{?provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.

    + metric_id (object, required)

        id of the metric.


## application_plan_pricing_rules [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Application Plans Pricing RulesXml [/admin/api/application_plans/{application_plan_id}/pricing_rules.xml{?provider_key}]

+ Parameters
    + application_plan_id (object, required)

        id of the application plan.


## application_plan_pricing_rules [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api End User PlansXml [/admin/api/end_user_plans.xml{?provider_key}]

## end_user_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api End User Plans Metrics LimitsXml [/admin/api/end_user_plans/{end_user_plan_id}/metrics/{metric_id}/limits.xml{?provider_key}]

+ Parameters
    + end_user_plan_id (object, required)

        id of the end user plan.

    + metric_id (object, required)

        id of the metric.


## end_user_plan_limit [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api End User Plans Metrics LimitsXml [/admin/api/end_user_plans/{end_user_plan_id}/metrics/{metric_id}/limits.xml{?period,provider_key,value}]

+ Parameters
    + end_user_plan_id (object, required)

        id of the end user plan.

    + metric_id (object, required)

        id of the metric.


## end_user_plan_limit [POST]
+ Parameters
    + period (string, required)

        period of the limit.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + value (object, required)

        value of the limit.



# Admin Api End User Plans Metrics Limits Id Xml [/admin/api/end_user_plans/{end_user_plan_id}/metrics/{metric_id}/limits/{id}.xml{?provider_key}]

+ Parameters
    + end_user_plan_id (object, required)

        id of the end user plan.

    + id (object, required)

        id of the limit.

    + metric_id (object, required)

        id of the metric.


## end_user_plan_limit [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api End User Plans Metrics Limits Id Xml [/admin/api/end_user_plans/{end_user_plan_id}/metrics/{metric_id}/limits/{id}.xml{?period,provider_key,value}]

+ Parameters
    + end_user_plan_id (object, required)

        id of the end user plan.

    + id (object, required)

        id of the limit.

    + metric_id (object, required)

        id of the metric.


## end_user_plan_limit [PUT]
+ Parameters
    + period (string, required)

        period of the limit.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + value (object, required)

        value of the limit.



# Admin Api End User Plans Metrics Limits Id Xml [/admin/api/end_user_plans/{end_user_plan_id}/metrics/{metric_id}/limits/{id}.xml{?provider_key}]

+ Parameters
    + end_user_plan_id (object, required)

        id of the end user plan.

    + id (object, required)

        id of the limit.

    + metric_id (object, required)

        id of the metric.


## end_user_plan_limit [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api FeaturesXml [/admin/api/features.xml{?provider_key}]

## account_feature [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api FeaturesXml [/admin/api/features.xml{?name,provider_key,system_name}]

## account_feature [POST]
+ Parameters
    + name (string, required)

        Name of the feature.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + system_name (string, required)

        System Name of the object to be created. System names cannot be modified after creation, they are used as key to identify the objects.



# Admin Api Features Xml By Id [/admin/api/features/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the feature.


## account_feature [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Features Xml By Id [/admin/api/features/{id}.xml{?name,provider_key}]

+ Parameters
    + id (object, required)

        id of the feature.


## account_feature [PUT]
+ Parameters
    + name (string, required)

        Name of the feature.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Features Xml By Id [/admin/api/features/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the feature.


## account_feature [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api NginxZip [/admin/api/nginx.zip{?provider_key}]

## nginx [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api ProviderXml [/admin/api/provider.xml]

## account [GET]


# Admin Api ServicesXml [/admin/api/services.xml{?provider_key}]

## service [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api ServicesXml [/admin/api/services.xml{?,name,provider_key,system_name}]

## service [POST]
+ Parameters
    +  (object, required)

        Extra parameters

    + name (string, required)

        Name of the service to be created.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + system_name (string, required)

        System Name of the object to be created. System names cannot be modified after creation, they are used as key to identify the objects.



# Admin Api Services Xml By Id [/admin/api/services/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the service.


## service [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Xml By Id [/admin/api/services/{id}.xml{?,name,provider_key}]

+ Parameters
    + id (object, required)

        id of the service.


## service [PUT]
+ Parameters
    +  (object, required)

        Extra parameters

    + name (string, required)

        New name for the service.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Service PlansXml [/admin/api/services/{id}/service_plans.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the service.


## service_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Service PlansXml [/admin/api/services/{id}/service_plans.xml{?name,provider_key,system_name}]

+ Parameters
    + id (object, required)

        id of the service.


## service_plan [POST]
+ Parameters
    + name (string, required)

        Name of the service plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + system_name (string, required)

        System Name of the object to be created. System names cannot be modified after creation, they are used as key to identify the objects.



# Admin Api Services Application PlansXml [/admin/api/services/{service_id}/application_plans.xml{?provider_key}]

+ Parameters
    + service_id (object, required)

        id of the service.


## application_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Application PlansXml [/admin/api/services/{service_id}/application_plans.xml{?,name,provider_key,system_name}]

+ Parameters
    + service_id (object, required)

        id of the service.


## application_plan [POST]
+ Parameters
    +  (object, required)

        Extra parameters

    + name (string, required)

        Name of the application plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + system_name (string, required)

        System Name of the object to be created. System names cannot be modified after creation, they are used as key to identify the objects.



# Admin Api Services Application Plans Xml [/admin/api/services/{service_id}/application_plans/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the application plan.

    + service_id (object, required)

        id of the service.


## application_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Application Plans Xml [/admin/api/services/{service_id}/application_plans/{id}.xml{?,name,provider_key}]

+ Parameters
    + id (object, required)

        id of the application plan.

    + service_id (object, required)

        id of the service.


## application_plan [PUT]
+ Parameters
    +  (object, required)

        Extra parameters

    + name (string, required)

        Name of the application plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Application Plans Xml [/admin/api/services/{service_id}/application_plans/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the application plan.

    + service_id (object, required)

        id of the service.


## application_plan [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Application Plans DefaultXml [/admin/api/services/{service_id}/application_plans/{id}/default.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the application plan.

    + service_id (object, required)

        id of the service.


## application_plan [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services End UsersXml [/admin/api/services/{service_id}/end_users.xml{?plan_id,provider_key,username}]

+ Parameters
    + service_id (object, required)

        id of the service.


## end_user [POST]
+ Parameters
    + plan_id (object, required)

        id of the end user plan. If not passed the default end user plan will be used.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + username (string, required)

        username (unique identifier) of the end user.



# Admin Api Services End Users Xml [/admin/api/services/{service_id}/end_users/{username}.xml{?provider_key}]

+ Parameters
    + service_id (object, required)

        id of the service.

    + username (string, required)

        username (unique identifier) of the end user.


## end_user [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services End Users Xml [/admin/api/services/{service_id}/end_users/{username}.xml{?provider_key}]

+ Parameters
    + service_id (object, required)

        id of the service.

    + username (string, required)

        username (unique identifier) of the end user.


## end_user [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services End Users Change PlanXml [/admin/api/services/{service_id}/end_users/{username}/change_plan.xml{?plan_id,provider_key}]

+ Parameters
    + service_id (object, required)

        id of the service.

    + username (string, required)

        username (unique identifier) of the end user.


## end_user [PUT]
+ Parameters
    + plan_id (object, required)

        id of the new end user plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services End User PlansXml [/admin/api/services/{service_id}/end_user_plans.xml{?provider_key}]

+ Parameters
    + service_id (object, required)

        id of the service.


## end_user_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services End User PlansXml [/admin/api/services/{service_id}/end_user_plans.xml{?name,provider_key}]

+ Parameters
    + service_id (object, required)

        id of the service.


## end_user_plan [POST]
+ Parameters
    + name (string, required)

        Name of the end user plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services End User Plans Xml [/admin/api/services/{service_id}/end_user_plans/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the end user plan.

    + service_id (object, required)

        id of the service.


## end_user_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services End User Plans Xml [/admin/api/services/{service_id}/end_user_plans/{id}.xml{?name,provider_key}]

+ Parameters
    + id (object, required)

        id of the end user plan.

    + service_id (object, required)

        id of the service.


## end_user_plan [PUT]
+ Parameters
    + name (string, required)

        Name of the end user plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services End User Plans DefaultXml [/admin/api/services/{service_id}/end_user_plans/{id}/default.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the end user plan.

    + service_id (object, required)

        id of the service.


## end_user_plan [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services FeaturesXml [/admin/api/services/{service_id}/features.xml{?provider_key}]

+ Parameters
    + service_id (object, required)

        id of the service.


## service_feature [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services FeaturesXml [/admin/api/services/{service_id}/features.xml{?name,provider_key,scope,system_name}]

+ Parameters
    + service_id (object, required)

        id of the service.


## service_feature [POST]
+ Parameters
    + name (string, required)

        Name of the feature.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + scope (string, required)

        Type of plan that the feature will be available for.

    + system_name (string, required)

        System Name of the object to be created. System names cannot be modified after creation, they are used as key to identify the objects.



# Admin Api Services Features Xml [/admin/api/services/{service_id}/features/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the feature.

    + service_id (object, required)

        id of the service.


## service_feature [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Features Xml [/admin/api/services/{service_id}/features/{id}.xml{?name,provider_key}]

+ Parameters
    + id (object, required)

        id of the feature.

    + service_id (object, required)

        id of the service.


## service_feature [PUT]
+ Parameters
    + name (string, required)

        Name of the feature.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Features Xml [/admin/api/services/{service_id}/features/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the feature.

    + service_id (object, required)

        id of the service.


## service_feature [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services MetricsXml [/admin/api/services/{service_id}/metrics.xml{?provider_key}]

+ Parameters
    + service_id (object, required)

        id of the service.


## metric [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services MetricsXml [/admin/api/services/{service_id}/metrics.xml{?friendly_name,name,provider_key,system_name,unit}]

+ Parameters
    + service_id (object, required)

        id of the service.


## metric [POST]
+ Parameters
    + friendly_name (string, required)

        Descriptive Name of the metric.

    + name (string, required)

        DEPRECATED: Please use system_name parameter

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + system_name (string, required)

        System Name of the metric. This is the name used to report API requests with the Service Management API. If blank a system_name will be generated for you from the friendly_name parameter

    + unit (string, required)

        Measure unit of the metric.



# Admin Api Services Metrics Xml [/admin/api/services/{service_id}/metrics/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the metric.

    + service_id (object, required)

        id of the service.


## metric [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Metrics Xml [/admin/api/services/{service_id}/metrics/{id}.xml{?friendly_name,provider_key,unit}]

+ Parameters
    + id (object, required)

        id of the metric.

    + service_id (object, required)

        id of the service.


## metric [PUT]
+ Parameters
    + friendly_name (string, required)

        Name of the metric.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + unit (string, required)

        Measure unit of the metric.



# Admin Api Services Metrics Xml [/admin/api/services/{service_id}/metrics/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the metric.

    + service_id (object, required)

        id of the service.


## metric [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Metrics MethodsXml [/admin/api/services/{service_id}/metrics/{metric_id}/methods.xml{?provider_key}]

+ Parameters
    + metric_id (object, required)

        id of the metric.

    + service_id (object, required)

        id of the service.


## metric_method [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Metrics MethodsXml [/admin/api/services/{service_id}/metrics/{metric_id}/methods.xml{?friendly_name,provider_key,system_name,unit}]

+ Parameters
    + metric_id (object, required)

        id of the metric.

    + service_id (object, required)

        id of the service.


## metric_method [POST]
+ Parameters
    + friendly_name (string, required)

        Name of the method.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + system_name (string, required)

        System Name of the metric. This is the name used to report API requests with the Service Management API. If blank a system_name will be generated for you from the friendly_name parameter

    + unit (string, required)

        Measure unit of the method.



# Admin Api Services Metrics Methods Id Xml [/admin/api/services/{service_id}/metrics/{metric_id}/methods/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the method.

    + metric_id (object, required)

        id of the metric.

    + service_id (object, required)

        id of the service.


## metric_method [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Metrics Methods Id Xml [/admin/api/services/{service_id}/metrics/{metric_id}/methods/{id}.xml{?friendly_name,provider_key,unit}]

+ Parameters
    + id (object, required)

        id of the method.

    + metric_id (object, required)

        id of the metric.

    + service_id (object, required)

        id of the service.


## metric_method [PUT]
+ Parameters
    + friendly_name (string, required)

        Name of the method.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + unit (string, required)

        Measure unit of the method.



# Admin Api Services Metrics Methods Id Xml [/admin/api/services/{service_id}/metrics/{metric_id}/methods/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the method.

    + metric_id (object, required)

        id of the metric.

    + service_id (object, required)

        id of the service.


## metric_method [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Service Plans Xml [/admin/api/services/{service_id}/service_plans/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the service plan.

    + service_id (object, required)

        id of the service.


## service_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Service Plans Xml [/admin/api/services/{service_id}/service_plans/{id}.xml{?name,provider_key}]

+ Parameters
    + id (object, required)

        id of the service plan.

    + service_id (object, required)

        id of the service.


## service_plan [PUT]
+ Parameters
    + name (string, required)

        Name of the service plan.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Service Plans Xml [/admin/api/services/{service_id}/service_plans/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the service plan.

    + service_id (object, required)

        id of the service.


## service_plan [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Services Service Plans DefaultXml [/admin/api/services/{service_id}/service_plans/{id}/default.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the service plan.

    + service_id (object, required)

        id of the service.


## service_plan [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Service PlansXml [/admin/api/service_plans.xml{?provider_key}]

## service_plan [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Service Plans FeaturesXml [/admin/api/service_plans/{service_plan_id}/features.xml{?provider_key}]

+ Parameters
    + service_plan_id (object, required)

        id of the service plan.


## service_plan_feature [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Service Plans FeaturesXml [/admin/api/service_plans/{service_plan_id}/features.xml{?feature_id,provider_key}]

+ Parameters
    + service_plan_id (object, required)

        id of the service plan.


## service_plan_feature [POST]
+ Parameters
    + feature_id (object, required)

        id of the feature.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api SignupXml [/admin/api/signup.xml{?account_plan_id,additional_fields,application_plan_id,email,org_name,password,provider_key,service_plan_id,username}]

## signup [POST]
+ Parameters
    + account_plan_id (object, required)

        id of the account plan (if not assigned default will be used instead).

    + additional_fields (object, required)

        Additional fields have to be name and value i.e &name=value. You can add as many as you want. Additional fields cover for the custom fields declared in Settings >> Fields Definitions on your API Admin Portal. Typical examples are url, country, janrain_token, etc. Please check your Fields Definitions to get the list of all your required fields.

    + application_plan_id (object, required)

        id of the application plan (if not assigned default will be used instead).

    + email (string, required)

        Email of the admin user.

    + org_name (string, required)

        Organization Name of the buyer account.

    + password (string, required)

        Password of the admin user.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + service_plan_id (object, required)

        id of the service plan (if not assigned default will be used instead).

    + username (string, required)

        Username of the admin user (on the new buyer account).



# Admin Api UsersXml [/admin/api/users.xml{?provider_key,role,state}]

## user_provider_account [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + role (string, required)

        Filter users by Role.

    + state (string, required)

        Filter users by State.



# Admin Api UsersXml [/admin/api/users.xml{?additional_fields,email,password,provider_key,username}]

## user_provider_account [POST]
+ Parameters
    + additional_fields (object, required)

        Additional fields have to be name and value i.e &name=value. You can add as many as you want. Additional fields cover for the custom fields declared in Settings >> Fields Definitions on your API Admin Portal. Typical examples are url, country, janrain_token, etc. Please check your Fields Definitions to get the list of all your required fields.

    + email (string, required)

        Email of the user.

    + password (string, required)

        Password of the user.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + username (string, required)

        Username of the user.



# Admin Api Users Xml By Id [/admin/api/users/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the user.


## user_provider_account [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Users Xml By Id [/admin/api/users/{id}.xml{?additional_fields,email,password,provider_key,username}]

+ Parameters
    + id (object, required)

        id of the user.


## user_provider_account [PUT]
+ Parameters
    + additional_fields (object, required)

        Additional fields have to be name and value i.e &name=value. You can add as many as you want. Additional fields cover for the custom fields declared in Settings >> Fields Definitions on your API Admin Portal. Typical examples are url, country, janrain_token, etc. Please check your Fields Definitions to get the list of all your required fields.

    + email (string, required)

        Email of the user.

    + password (string, required)

        Password of the user.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + username (string, required)

        Username of the user.



# Admin Api Users Xml By Id [/admin/api/users/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the user.


## user_provider_account [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Users ActivateXml By Id [/admin/api/users/{id}/activate.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the user.


## user_provider_account [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Users AdminXml By Id [/admin/api/users/{id}/admin.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the user.


## user_provider_account [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Users MemberXml By Id [/admin/api/users/{id}/member.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the user.


## user_provider_account [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Users SuspendXml By Id [/admin/api/users/{id}/suspend.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the user.


## user_provider_account [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Users UnsuspendXml By Id [/admin/api/users/{id}/unsuspend.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the user.


## user_provider_account [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Webhooks FailuresXml [/admin/api/webhooks/failures.xml{?provider_key}]

## webhooks [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).



# Admin Api Webhooks FailuresXml [/admin/api/webhooks/failures.xml{?provider_key,time}]

## webhooks [DELETE]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + time (object, required)

        Only failed webhook deliveries whose time is less or equal than the passed time are destroyed (if used).



# Data Structures

## Errors (object)


### Properties
+ `Name` (string, optional) - The description of the error.

