FORMAT: 1A
HOST: http://su1.3scale.net/

# 3Scale Analytics API
The API for managing 3Scale analytics

# Stats Applications UsageJson [/stats/applications/{application_id}/usage.json{?format,granularity,metric_name,period,provider_key,since,skip_change,timezone,until}]

+ Parameters
    + application_id (object, required)

        id of the application.


## application_ops [GET]
+ Parameters
    + format (string, required)

        Response format.

    + granularity (string, required)

        Granularity of the results. Each period has an associated granularity.

    + metric_name (string, required)

        System name of metric for which to get data.

    + period (string, required)

        Period, combined with since give the stats for the time range [since .. since + period]. It is required if until is not passed.

    + provider_key (string, required)

        Your api key with 3scale

    + since (string, required)

        Time range start. Format YYYY-MM-DD HH:MM:SS, examples: 2012-02-22, 2012-02-22 23:49:00

    + skip_change (boolean, required)

        Skip period over period calculations (setting this to true will increase the performance of the call)

    + timezone (string, required)

        Timezone to do the calculations in.

    + until (string, required)

        Time range end. Format YYYY-MM-DD HH:MM:SS



# Stats Services Top ApplicationsJson [/stats/services/{service_id}/top_applications.json{?format,metric_name,period,provider_key,since}]

+ Parameters
    + service_id (object, required)

        id of the service.


## service_ops [GET]
+ Parameters
    + format (string, required)

        Response format.

    + metric_name (string, required)

        System name of metric for which to get data.

    + period (string, required)

        Period, combined with since give the stats for the time range [since .. since + period]. It is required if until is not passed.

    + provider_key (string, required)

        Your api key with 3scale

    + since (string, required)

        Time range start. Format YYYY-MM-DD HH:MM:SS, examples: 2012-02-22, 2012-02-22 23:49:00



# Stats Services UsageJson By Service Id [/stats/services/{service_id}/usage.json{?format,granularity,metric_name,period,provider_key,since,skip_change,timezone,until}]

+ Parameters
    + service_id (object, required)

        id of the service.


## service_ops [GET]
+ Parameters
    + format (string, required)

        Response format.

    + granularity (string, required)

        Granularity of the results. Each period has an associated granularity.

    + metric_name (string, required)

        System name of metric for which to get data.

    + period (string, required)

        Period, combined with since give the stats for the time range [since .. since + period]. It is required if until is not passed.

    + provider_key (string, required)

        Your api key with 3scale

    + since (string, required)

        Time range start. Format YYYY-MM-DD HH:MM:SS, examples: 2012-02-22, 2012-02-22 23:49:00

    + skip_change (boolean, required)

        Skip period over period calculations (setting this to true will increase the performance of the call)

    + timezone (string, required)

        Timezone to do the calculations in.

    + until (string, required)

        Time range end. Format YYYY-MM-DD HH:MM:SS



# Data Structures

## Errors (object)


### Properties
+ `Name` (string, optional) - The description of the error.

