FORMAT: 1A
HOST: http://su1.3scale.net/

# 3Scale Billing API
The API for managing 3Scale billing

# Api Accounts InvoicesXml By Account Id [/api/accounts/{account_id}/invoices.xml{?month,page,per_page,provider_key,state}]

+ Parameters
    + account_id (object, required)

        id of the account.


## finance [GET]
+ Parameters
    + month (string, required)

        Filter the invoice by month. Format YYYY-MM, e.g. 2012-03 for march 2012

    + page (object, required)

        Page in the paginated list. Defaults to 1.

    + per_page (object, required)

        Number of results per page. Default and max is 20.

    + provider_key (string, required)

        Your api key with 3scale

    + state (string, required)

        Filter the invoice by state. open: line items can be added (only via web interface). pending: the invoice has been issued, no items can be added, the PDF has been generated and the invoice is waiting to be charged for. paid: sucessfully paid. unpaid: charging failed at least once. cancelled: the invoice was explicitely cancelled and is out of normal life-cycle.



# Api Accounts Invoices Xml By Account Id [/api/accounts/{account_id}/invoices/{id}.xml{?provider_key}]

+ Parameters
    + account_id (object, required)

        id of the account.

    + id (object, required)

        id of the invoice.


## finance [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale



# Api InvoicesXml [/api/invoices.xml{?month,page,per_page,provider_key,state}]

## finance [GET]
+ Parameters
    + month (string, required)

        Filter the invoice by month. Format YYYY-MM, e.g. 2012-03 for march 2012

    + page (object, required)

        Page in the paginated list. Defaults to 1.

    + per_page (object, required)

        Number of results per page. Default and max is 20.

    + provider_key (string, required)

        Your api key with 3scale

    + state (string, required)

        Filter the invoice by state. open: line items can be added (only via web interface). pending: the invoice has been issued, no items can be added, the PDF has been generated and the invoice is waiting to be charged for. paid: sucessfully paid. unpaid: charging failed at least once. cancelled: the invoice was explicitely cancelled and is out of normal life-cycle.



# Api Invoices Xml By Id [/api/invoices/{id}.xml{?provider_key}]

+ Parameters
    + id (object, required)

        id of the invoice.


## finance [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale



# Api Invoices StateXml By Id [/api/invoices/{id}/state.xml{?provider_key,state}]

+ Parameters
    + id (object, required)

        id of the invoice.


## finance [PUT]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale

    + state (string, required)

        State of the invoice to set. Only cancel value is allowed



# Api Invoices Line ItemsXml By Invoice Id [/api/invoices/{invoice_id}/line_items.xml{?provider_key}]

+ Parameters
    + invoice_id (object, required)

        id of the invoice.


## finance [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale



# Api Invoices Payment TransactionsXml [/api/invoices/{invoice_id}/payment_transactions.xml{?provider_key}]

+ Parameters
    + invoice_id (object, required)

        id of the invoice.


## finance [GET]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale



# Data Structures

## Errors (object)


### Properties
+ `Name` (string, optional) - The description of the error.

