FORMAT: 1A
HOST: http://su1.3scale.net/

# 3scale Service Management API
The API for managing 3Scale services.

# TransactionsXml [/transactions.xml{?provider_key,service_id,transactions}]

## report [POST]
+ Parameters
    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + service_id (string, required)

        Service id. Required only if you have more than one service.

    + transactions (object, required)

        Transactions to be reported. There is a limit of 1000 transactions to be reported on a single request.



# Transactions AuthorizeXml [/transactions/authorize.xml{?app_id,app_key,provider_key,referrer,service_id,usage,user_id,user_key}]

## authorize [GET]
+ Parameters
    + app_id (string, required)

        App Id (identifier of the application if the auth. pattern is App Id)

    + app_key (string, required)

        App Key (shared secret of the application if the authentication pattern is App Id). The app key is required if the application has one or more keys defined.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + referrer (string, required)

        Referrer IP Address or Domain. Required only if referrer filtering is enabled. If special value * (wildcard) is passed, the referrer check is bypassed.

    + service_id (string, required)

        Service id. Required only if you have more than one service.

    + usage (object, required)

        Predicted Usage. Actual usage will need to be reported with a report or an authrep.

    + user_id (string, required)

        User id. String identifying an end user. Required only when the application is rate limiting end users. The End User plans feature is not available in all 3scale plans.

    + user_key (string, required)

        User Key (identifier and shared secret of the application if the auth. pattern is Api Key)



# Transactions AuthrepXml [/transactions/authrep.xml{?app_id,app_key,log,provider_key,referrer,service_id,usage,user_id,user_key}]

## authrep [GET]
+ Parameters
    + app_id (string, required)

        App Id (identifier of the application if the auth. pattern is App Id)

    + app_key (string, required)

        App Key (shared secret of the application if the authentication pattern is App Id). The app key is required if the application has one or more keys defined.

    + log (object, required)

        Request Log allows to log the requests/responses/status_codes of your API back to 3scale to maintain a log of the latest activity on your API. Request Logs are optional and not available in all 3scale plans.

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + referrer (string, required)

        Referrer IP Address or Domain. Required only if referrer filtering is enabled. If special value * (wildcard) is passed, the referrer check is bypassed.

    + service_id (string, required)

        Service id. Required only if you have more than one service.

    + usage (object, required)

        Usage will increment the metrics with the values passed. The value can be only a positive integer (e.g. 1, 50). Reporting sage[hits]=1 will increment the hits counter by +1.

    + user_id (string, required)

        User id. String identifying an end user. Required only when the application is rate limiting end users. The End User plans feature is not available in all 3scale plans.

    + user_key (string, required)

        User Key (identifier and shared secret of the application if the auth. pattern is Api Key)



# Transactions Oauth AuthorizeXml [/transactions/oauth_authorize.xml{?app_id,provider_key,redirect_url,referrer,service_id,usage,user_id}]

## authorize [GET]
+ Parameters
    + app_id (string, required)

        Client Id (identifier of the application if the auth. pattern is Oauth, note that client_id == app_id)

    + provider_key (string, required)

        Your api key with 3scale (also known as provider key).

    + redirect_url (string, required)

        Optional redirect URL for OAuth. Will be validated if sent.

    + referrer (string, required)

        Referrer IP Address or Domain. Required only if referrer filtering is enabled. If special value * (wildcard) is passed, the referrer check is bypassed.

    + service_id (string, required)

        Service id. Required only if you have more than one service.

    + usage (object, required)

        Predicted Usage. Actual usage will need to be reported with a report or an authrep.

    + user_id (string, required)

        User id. String identifying an end user. Required only when the application is rate limiting end users. The End User plans feature is not available in all 3scale plans.



# Data Structures

## Errors (object)


### Properties
+ `Name` (string, optional) - The description of the error.

