{
	"swagger": "2.0",
	"info": {
		"title": "AngelList Paths API",
		"description": "Show paths between a user and given user/startup ids.",
		"termsOfService": "https://angel.co/terms",
		"contact": {
			"name": "AngelList",
			"url": "https://angel.co/api",
			"email": "api@angel.co"
		},
		"version": "v1"
	},
	"host": "api.angel.co",
	"basePath": "/1/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/paths": {
			"get": {
				"summary": "Get Paths",
				"description": "Get Paths",
				"operationId": "paths",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "direction"
				},
				{
					"in": "",
					"name": "startup_ids"
				},
				{
					"in": "",
					"name": "user_ids"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/connection"
							}
						}
					}
				},
				"tags": ["Paths"],
				"security": []
			}
		},
		"https": {
			"post": {
				"summary": "Add Path",
				"description": "Add Path",
				"operationId": "paths",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "direction"
				},
				{
					"in": "",
					"name": "startup_ids"
				},
				{
					"in": "",
					"name": "user_ids"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/connection"
							}
						}
					}
				},
				"tags": ["Paths"],
				"security": []
			}
		}
	},
	"definitions": {
		"error": {
			"properties": {
				"error": {
					"description": "",
					"type": "array"
				},
				"message": {
					"description": "This is a default description.",
					"type": "string"
				},
				"type": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"connection": {
			"properties": {
				"connection": {
					"description": "",
					"type": "array"
				},
				"in": {
					"description": "This is a default description.",
					"type": "string"
				},
				"out": {
					"description": "This is a default description.",
					"type": "string"
				},
				"type": {
					"description": "This is a default description.",
					"type": "string"
				},
				"via": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}