{
	"swagger": "2.0",
	"info": {
		"title": "AngelList Users API",
		"description": "Access and manage users on the AngelList platform.",
		"termsOfService": "https://angel.co/terms",
		"contact": {
			"name": "AngelList",
			"url": "https://angel.co/api",
			"email": "api@angel.co"
		},
		"version": "v1"
	},
	"host": "api.angel.co",
	"basePath": "/1/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/users/:user_id": {
			"get": {
				"summary": "Get User",
				"description": "Get User",
				"operationId": "user",
				"parameters": [{
					"in": "",
					"name": "access_token"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/users"
							}
						}
					}
				},
				"tags": ["Users"],
				"security": []
			}
		},
		"/users/:user_id/followers": {
			"get": {
				"summary": "Get User Followers",
				"description": "Get User Followers",
				"operationId": "userFollowers",
				"parameters": [{
					"in": "",
					"name": "access_token"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/users"
							}
						}
					}
				},
				"tags": ["Users"],
				"security": []
			}
		},
		"/users/:user_id/followers/ids": {
			"get": {
				"summary": "Get User Follower IDs",
				"description": "Get User Follower IDs",
				"operationId": "users",
				"parameters": [{
					"in": "",
					"name": "access_token"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/users"
							}
						}
					}
				},
				"tags": ["Users"],
				"security": []
			}
		},
		"/users/:user_id/following": {
			"get": {
				"summary": "Get Users Following",
				"description": "Get Users Following",
				"operationId": "usersFollowing",
				"parameters": [{
					"in": "",
					"name": "access_token"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/users"
							}
						}
					}
				},
				"tags": ["Users"],
				"security": []
			}
		},
		"/users/search": {
			"get": {
				"summary": "User Search",
				"description": "User Search",
				"operationId": "users",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "slug"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/users"
							}
						}
					}
				},
				"tags": ["Users"],
				"security": []
			}
		},
		"https": {
			"get": {
				"summary": "Get User Following IDs",
				"description": "Get User Following IDs",
				"operationId": "userFollowingIDs",
				"parameters": [{
					"in": "",
					"name": "access_token"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Users"],
				"security": []
			}
		}
	},
	"definitions": {
		"ids": {
			"properties": {
				"ids": {
					"description": "",
					"type": "array"
				}
			}
		},
		"locations": {
			"properties": {
				"locations": {
					"description": "",
					"type": "array"
				},
				"angellist_url": {
					"description": "This is a default description.",
					"type": "string"
				},
				"display_name": {
					"description": "This is a default description.",
					"type": "string"
				},
				"id": {
					"description": "This is a default description.",
					"type": "string"
				},
				"name": {
					"description": "This is a default description.",
					"type": "string"
				},
				"tag_type": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"users": {
			"properties": {
				"angellist_url": {
					"description": "This is a default description.",
					"type": "string"
				},
				"bio": {
					"description": "This is a default description.",
					"type": "string"
				},
				"follower_count": {
					"description": "This is a default description.",
					"type": "string"
				},
				"id": {
					"description": "This is a default description.",
					"type": "string"
				},
				"image": {
					"description": "This is a default description.",
					"type": "string"
				},
				"name": {
					"description": "This is a default description.",
					"type": "string"
				},
				"users": {
					"description": "",
					"type": "array"
				}
			}
		}
	}
}