{
	"swagger": "2.0",
	"info": {
		"title": "AngelList Reviews API",
		"description": "Manages the reviews for startups and users.",
		"termsOfService": "https://angel.co/terms",
		"contact": {
			"name": "AngelList",
			"url": "https://angel.co/api",
			"email": "api@angel.co"
		},
		"version": "v1"
	},
	"host": "api.angel.co",
	"basePath": "/1/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/reviews/:review_id": {
			"get": {
				"summary": "Get Review",
				"description": "Get Review",
				"operationId": "reviews",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "startup_id"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/relationship_to_reviewer"
							}
						}
					}
				},
				"tags": ["Reviews"],
				"security": []
			}
		},
		"https": {
			"get": {
				"summary": "Get Reviews",
				"description": "Get Reviews",
				"operationId": "1Reviews",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "user_id"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/relationship_to_reviewer"
							}
						}
					}
				},
				"tags": ["Reviews"],
				"security": []
			}
		}
	},
	"definitions": {
		"relationship_to_reviewer": {
			"properties": {
				"as": {
					"description": "This is a default description.",
					"type": "string"
				},
				"created_at": {
					"description": "This is a default description.",
					"type": "string"
				},
				"id": {
					"description": "This is a default description.",
					"type": "string"
				},
				"note": {
					"description": "This is a default description.",
					"type": "string"
				},
				"relationship": {
					"description": "This is a default description.",
					"type": "string"
				},
				"relationship_to_reviewer": {
					"description": "",
					"type": "array"
				},
				"reviewer": {
					"description": "This is a default description.",
					"type": "string"
				},
				"permissions": {
					"description": "",
					"type": "array"
				}
			}
		}
	}
}