{
	"swagger": "2.0",
	"info": {
		"title": "AngelList Reservations API",
		"description": "Manage reservations on startup investments.",
		"termsOfService": "https://angel.co/terms",
		"contact": {
			"name": "AngelList",
			"url": "https://angel.co/api",
			"email": "api@angel.co"
		},
		"version": "v1"
	},
	"host": "api.angel.co",
	"basePath": "/1/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/reservations": {
			"get": {
				"summary": "Get Reservations",
				"description": "Get Reservations",
				"operationId": "reservations",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "startup_id"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/reservations"
							}
						}
					}
				},
				"tags": ["Reservations"],
				"security": []
			},
			"post": {
				"summary": "Add Reservation",
				"description": "Add Reservation",
				"operationId": "reservations",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "amount"
				},
				{
					"in": "",
					"name": "startup_id"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/reservations"
							}
						}
					}
				},
				"tags": ["Reservations"],
				"security": []
			}
		},
		"/reservations/:reservation_id": {
			"get": {
				"summary": "Get Reservation",
				"description": "Get Reservation",
				"operationId": "reservation",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "startup_id"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/reservations"
							}
						}
					}
				},
				"tags": ["Reservations"],
				"security": []
			},
			"put": {
				"summary": "Update Reservation",
				"description": "Update Reservation",
				"operationId": "reservation",
				"parameters": [{
					"in": "",
					"name": "access_token"
				},
				{
					"in": "",
					"name": "reservation_id"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/reservations"
							}
						}
					}
				},
				"tags": ["Reservations"],
				"security": []
			}
		}
	},
	"definitions": {
		"reservations": {
			"properties": {
				"reservation_id": {
					"description": "",
					"type": "integer"
				}
			}
		},
		"error": {
			"properties": {
				"error": {
					"description": "",
					"type": "array"
				},
				"message": {
					"description": "This is a default description.",
					"type": "string"
				},
				"type": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}