{
	"swagger": "2.0",
	"info": {
		"title": "AngelList Me API",
		"description": "Pull AngelList profile.",
		"termsOfService": "https://angel.co/terms",
		"contact": {
			"name": "AngelList",
			"url": "https://angel.co/api",
			"email": "api@angel.co"
		},
		"version": "v1"
	},
	"host": "api.angel.co",
	"basePath": "/1/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"https": {
			"get": {
				"summary": "Get Me",
				"description": "Get Me",
				"operationId": "me",
				"parameters": [{
					"in": "",
					"name": "access_token"
				}],
				"responses": {
					"200": {
						"description": "Successful response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/me"
							}
						}
					}
				},
				"tags": ["Me"],
				"security": []
			}
		}
	},
	"definitions": {
		"me": {
			"properties": {
				"name": {
					"description": "",
					"type": "array"
				},
				"id": {
					"description": "",
					"type": "string"
				},
				"bio": {
					"description": "",
					"type": "string"
				},
				"follower_count": {
					"description": "",
					"type": "string"
				},
				"angellist_url": {
					"description": "",
					"type": "string"
				},
				"image": {
					"description": "",
					"type": "string"
				},
				"email": {
					"description": "",
					"type": "string"
				},
				"blog_url": {
					"description": "",
					"type": "string"
				},
				"online_bio_url": {
					"description": "",
					"type": "string"
				},
				"twitter_url": {
					"description": "",
					"type": "string"
				},
				"facebook_url": {
					"description": "",
					"type": "string"
				},
				"linkedin_url": {
					"description": "",
					"type": "string"
				},
				"aboutme_url": {
					"description": "",
					"type": "string"
				},
				"github_url": {
					"description": "",
					"type": "string"
				},
				"dribbble_url": {
					"description": "",
					"type": "string"
				},
				"behance_url": {
					"description": "",
					"type": "string"
				},
				"resume_url": {
					"description": "",
					"type": "string"
				},
				"what_ive_built": {
					"description": "",
					"type": "string"
				},
				"what_i_do": {
					"description": "",
					"type": "string"
				},
				"criteria": {
					"description": "",
					"type": "string"
				},
				"locations": {
					"description": "",
					"type": "string"
				},
				"roles": {
					"description": "",
					"type": "string"
				},
				"skills": {
					"description": "",
					"type": "string"
				},
				"investor": {
					"description": "",
					"type": "string"
				},
				"scopes": {
					"description": "",
					"type": "string"
				}
			}
		},
		"skills": {
			"properties": {
				"id": {
					"description": "",
					"type": "integer"
				},
				"tag_type": {
					"description": "",
					"type": "string"
				},
				"name": {
					"description": "",
					"type": "string"
				},
				"display_name": {
					"description": "",
					"type": "string"
				},
				"angellist_url": {
					"description": "",
					"type": "string"
				},
				"level": {
					"description": "",
					"type": "string"
				}
			}
		}
	}
}