{
	"swagger": "2.0",
	"info": {
		"title": "Meetup Topics API",
		"description": "The API for managing Meetup topics.",
		"termsOfService": "http://www.meetup.com/terms/",
		"version": null
	},
	"host": "api.meetup.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/2/topic_categories": {
			"get": {
				"summary": "Topic Categories",
				"description": "Returns a list of Meetup topic categories",
				"operationId": "topics",
				"parameters": [{
					"in": "query",
					"name": "fields",
					"description": "Parameter for requesting optional response properties",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lat,lon,radius",
					"description": "Use a given lat/lon/radius (miles) to search best_topics for instead of using the members lat/lon.  When present, all three are required.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/recommended/group_topics": {
			"get": {
				"summary": "Recommend Group Topics",
				"description": "Recommends suggestions for group topics based on a text search or other topics",
				"operationId": "topics",
				"parameters": [{
					"in": "query",
					"name": "exclude_topics",
					"description": "A comma-delimited list of topic ids to exclude from the recommendations",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lang",
					"description": "Defines a language preference for ordering results. Valid values are frptitdeesen_us. You may also substitute this with the Accept-Language header",
					"type": "string"
				},
				{
					"in": "query",
					"name": "other_topics",
					"description": "A comma-delimited list of topic ids to inform recommendations",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "Target number of recommendations to return. Defaults to 36.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text",
					"description": "Free form text search",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/topics": {
			"get": {
				"summary": "Topics",
				"description": "API method for accessing meetup topics",
				"operationId": "topics",
				"parameters": [{
					"in": "query",
					"name": "member_id",
					"description": "Return topics a target member is subscribed to",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Return topics that match the specified name (e.g. Digital Photography, Classical Music)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "search",
					"description": "Return topics related to a list of search terms [separate search keywords with +s]",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topic",
					"description": "Return members that RSVPd to events with these ID numbers [separated by commas]",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}