{
	"swagger": "2.0",
	"info": {
		"title": "Meetup Members API",
		"description": "The API for managing Meetup members.",
		"termsOfService": "http://www.meetup.com/terms/",
		"version": null
	},
	"host": "api.meetup.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/2/member/:id": {
			"get": {
				"summary": "Member Get",
				"description": "Retrieve a single member",
				"operationId": "members",
				"parameters": [{
					"in": "query",
					"name": "fields",
					"description": "comma-separate list of optional fields",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Member Edit",
				"description": "Edit the authorized members attributes",
				"operationId": "members",
				"parameters": [{
					"in": "query",
					"name": "add_topics",
					"description": "Comma-delimited list of topics ids to add to your alert list",
					"type": "string"
				},
				{
					"in": "query",
					"name": "bio",
					"description": "Free form text passage about you. must be less than 250 characters",
					"type": "string"
				},
				{
					"in": "query",
					"name": "bio_privacy",
					"description": "Controls the visibility of the members bio. May be one of visible, hidden",
					"type": "string"
				},
				{
					"in": "query",
					"name": "birthday",
					"description": "Day you were born. Format should be in the form of yyyy or mmddyyyy. A value of -1 indicates that birthday data should be cleared.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "city",
					"description": "City name for your location",
					"type": "string"
				},
				{
					"in": "query",
					"name": "city_id",
					"description": "Valid city id from /2/cities method",
					"type": "string"
				},
				{
					"in": "query",
					"name": "country",
					"description": "Valid country code for your location",
					"type": "string"
				},
				{
					"in": "query",
					"name": "facebook_privacy",
					"description": "Controls the visibility of the members facebook connection. May be one of visible, hidden. If the member has not connected their Facebook account, attempts to set this preference will do nothing.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "gender",
					"description": "Your gender (used for better recommendations). Value may be one of other, none, female, male",
					"type": "string"
				},
				{
					"in": "query",
					"name": "groups_privacy",
					"description": "Controls the visibility of the members groups. May be one of visible, hidden",
					"type": "string"
				},
				{
					"in": "query",
					"name": "hometown",
					"description": "Hometown of member. Can not be longer than 64 characters",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lang",
					"description": "Language preference used on the site. Valid values are en_us, it, es, fr, de, pt, ja",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lat",
					"description": "latitude of city",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lon",
					"description": "longitude of city",
					"type": "string"
				},
				{
					"in": "query",
					"name": "messaging_pref",
					"description": "This specifies the members preference for being contacted from members on the site. Possible values are orgs_only meaning only group organizers can contact you, groups_only meaning only members of your group can contact you, or all_members meaning all members may contact you.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "The name of the current member",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photos_privacy",
					"description": "Controls the visibility of the members photos. May be one of visible, hidden",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "A valid photo_id from the members photos to set as the main profile photo. A value of 0 will unset the current photo",
					"type": "string"
				},
				{
					"in": "query",
					"name": "radius",
					"description": "radius, in miles to search for city given a lat and lon. default 25.0, max 100.0",
					"type": "string"
				},
				{
					"in": "query",
					"name": "remove_topics",
					"description": "Comma-delimited list of topic ids to remove from your alert list",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sync_photo",
					"description": "When set to true, this parameter will sync all of the group profile photos for the member with the provided photo_id",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topics_privacy",
					"description": "Controls the visibility of the members topics. May be one of visible, hidden",
					"type": "string"
				},
				{
					"in": "query",
					"name": "zip",
					"description": "Valid zip code for city",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/2/members": {
			"get": {
				"summary": "Members",
				"description": "API method for accessing members of Meetup Groups",
				"operationId": "members",
				"parameters": [{
					"in": "query",
					"name": "*group_id",
					"description": "Return members in groups with these ID numbers, separated by commas",
					"type": "string"
				},
				{
					"in": "query",
					"name": "*group_urlname",
					"description": "Return members for the group with the given custom URL path",
					"type": "string"
				},
				{
					"in": "query",
					"name": "*member_id",
					"description": "Return the member with this ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "*service",
					"description": "Match users by the external services theyve linked to their member account, specified as servicename:identifier. For example, service=twitter:@MeetupAPI finds any member account that lists @MeetupAPI as its Twitter name (none, currently). You can query against several at a time by separating them with commas. Facebook identifiers should be provided as numeric values",
					"type": "string"
				},
				{
					"in": "query",
					"name": "*topic,groupnum",
					"description": "Return members for the group with given topic and number",
					"type": "string"
				},
				{
					"in": "query",
					"name": "fields",
					"description": "Request that additional fields (separated by commas) be included in the output.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/2/member_photo": {
			"post": {
				"summary": "Member Photo Upload",
				"description": "Uploads a photo to be associated with a Member",
				"operationId": "members",
				"parameters": [{
					"in": "query",
					"name": "*photo",
					"description": "The photo, encoded as multipart/form-data. The maximum file size allowed is 10MB",
					"type": "string"
				},
				{
					"in": "query",
					"name": "await",
					"description": "If true, this ensures a response will not be returned until the upload is accessible",
					"type": "string"
				},
				{
					"in": "query",
					"name": "main",
					"description": "Set to true to have this photo become the members main profile photo. Otherwise, it will become the main photo only when none other is selected. If the authenticated member does not already have a main profile photo set it will remain so.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sync_matching_photo",
					"description": "When set to true and main is set to true, this will replace all group profile photos matching the current photo with the provided replacement",
					"type": "string"
				},
				{
					"in": "query",
					"name": "sync_photo",
					"description": "When set to true, this parameter will sync all of the group profile photos for the member with the provided photo_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/2/member_photo/:id": {
			"delete": {
				"summary": "Member Photo Delete",
				"description": "Delete the specified member photo",
				"operationId": "members",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}