{
	"swagger": "2.0",
	"info": {
		"title": "Meetup Streams API",
		"description": "The API for managing Meetup streams.",
		"termsOfService": "http://www.meetup.com/terms/",
		"version": null
	},
	"host": "api.meetup.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/2/event_comments": {
			"ws": {
				"summary": "WebSockets Event Comments Stream",
				"description": "nFor browsers that support it, [WebSockets](http://dev.w3.org/html5/websockets/) is a morenefficient alternative to the long-polling stream. This is a **push only** endpoint and will discardnany messages received from the client after the socket is open.nnBecause browser support for WebSockets is limited, we recommend that you consume this streamnthrough the [must.js](https://github.com/meetup/must.js#readme) client, which can fallback to long-polling.n    ",
				"operationId": "streams",
				"parameters": [{
					"in": "query",
					"name": "api_version",
					"description": "2",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "Limit notifications to a specific event id. Use alphanumeric ids for repeating events.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_count",
					"description": "Request that some number of recent messages be sent immediately, if available. May not be specified in the same request as since_mtime.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_mtime",
					"description": "Return recent Event Comments with an mtime greater than the supplied time, in milliseconds since the epoch",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/2/photos": {
			"ws": {
				"summary": "WebSocket Photo Stream",
				"description": "nFor browsers that support it, [WebSockets](http://dev.w3.org/html5/websockets/) is a morenefficient alternative to the long-polling stream. This is a **push only** endpoint and will discardnany messages received from the client after the socket is open.nnBecause browser support for WebSockets is limited, we recommend that you consume this streamnthrough the [must.js](https://github.com/meetup/must.js#readme) client, which can fallback to long-polling.n    ",
				"operationId": "streams",
				"parameters": [{
					"in": "query",
					"name": "api_version",
					"description": "2",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_count",
					"description": "Request that some number of recent messages be sent immediately, if available. May not be specified in the same request as since_mtime.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_mtime",
					"description": "Return recent photos with an mtime greater then the supplied time, in millisends since the epoch",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/2/rsvps": {
			"ws": {
				"summary": "WebSockets RSVP Stream",
				"description": "nFor browsers that support it, [WebSockets](http://dev.w3.org/html5/websockets/) is a morenefficient alternative to the long-polling stream. This is a **push only** endpoint and will discardnany messages received from the client after the socket is open.nnBecause browser support for WebSockets is limited, we recommend that you consume this streamnthrough the [must.js](https://github.com/meetup/must.js#readme) client, which can fallback to long-polling.n    ",
				"operationId": "streams",
				"parameters": [{
					"in": "query",
					"name": "api_version",
					"description": "2",
					"type": "string"
				},
				{
					"in": "query",
					"name": "event_id",
					"description": "Limit notifications to a specific event id. Use alphanumeric ids for repeating events.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_count",
					"description": "Request that some number of recent messages be sent immediately, if available. May not be specified in the same request as since_mtime.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_mtime",
					"description": "Return recent RSVPs with an mtime greater than the supplied time, in milliseconds since the epoch",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}