{
	"swagger": "2.0",
	"info": {
		"title": "SoundCloud Tracks API",
		"description": "The API for managing SoundCloud Trackss",
		"termsOfService": "https://soundcloud.com/terms-of-use",
		"version": null
	},
	"host": "api.soundcloud.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/resolve.{format}": {
			"get": {
				"summary": "/resolve.{format}",
				"description": "/resolve.{format}",
				"operationId": "resolveformat",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tracks.{format}": {
			"get": {
				"summary": "tracks (GET)",
				"description": "tracks (GET)",
				"operationId": "tracks-get",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "tracks (POST)",
				"description": "tracks (POST)",
				"operationId": "tracks-post",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tracks/{track_id}.{format}": {
			"delete": {
				"summary": "tracks/track_id (DELETE)",
				"description": "tracks/track_id (DELETE)",
				"operationId": "trackstrack-id-delete",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "tracks/track_id (GET)",
				"description": "tracks/track_id (GET)",
				"operationId": "trackstrack-id-get",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "tracks/track_id (PUT)",
				"description": "tracks/track_id (PUT)",
				"operationId": "trackstrack-id-put",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tracks/{track_id}/comments.{format}": {
			"get": {
				"summary": "tracks/track_id/comments (GET)",
				"description": "tracks/track_id/comments (GET)",
				"operationId": "trackstrack-idcomments-get",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "tracks/track_id/comments (POST)",
				"description": "tracks/track_id/comments (POST)",
				"operationId": "trackstrack-idcomments-post",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tracks/{track_id}/permissions.{format}": {
			"get": {
				"summary": "tracks/track_id/permissions (GET)",
				"description": "tracks/track_id/permissions (GET)",
				"operationId": "trackstrack-idpermissions-get",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "tracks/track_id/permissions (PUT)",
				"description": "tracks/track_id/permissions (PUT)",
				"operationId": "trackstrack-idpermissions-put",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/tracks/{track_id}/secret-token.{format}": {
			"get": {
				"summary": "tracks/track_id/secret-token (GET)",
				"description": "tracks/track_id/secret-token (GET)",
				"operationId": "trackstrack-idsecrettoken-get",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "tracks/track_id/secret-token (PUT)",
				"description": "tracks/track_id/secret-token (PUT)",
				"operationId": "trackstrack-idsecrettoken-put",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "track_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}