{
	"swagger": "2.0",
	"info": {
		"title": "SoundCloud Groups API",
		"description": "The API for managing SoundCloud Groupss",
		"termsOfService": "https://soundcloud.com/terms-of-use",
		"version": null
	},
	"host": "api.soundcloud.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/groups.{format}": {
			"get": {
				"summary": "/groups.{format}",
				"description": "/groups.{format}",
				"operationId": "groupsformat",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/groups/{group_id}.{format}": {
			"get": {
				"summary": "/groups/{group_id}.{format}",
				"description": "/groups/{group_id}.{format}",
				"operationId": "groupsgroup-idformat",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "group_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/groups/{group_id}/contributors.{format}": {
			"get": {
				"summary": "/groups/{group_id}/contributors.{format}",
				"description": "/groups/{group_id}/contributors.{format}",
				"operationId": "groupsgroup-idcontributorsformat",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "group_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/groups/{group_id}/members.{format}": {
			"get": {
				"summary": "/groups/{group_id}/members.{format}",
				"description": "/groups/{group_id}/members.{format}",
				"operationId": "groupsgroup-idmembersformat",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "group_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/groups/{group_id}/moderators.{format}": {
			"get": {
				"summary": "/groups/{group_id}/moderators.{format}",
				"description": "/groups/{group_id}/moderators.{format}",
				"operationId": "groupsgroup-idmoderatorsformat",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "group_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/groups/{group_id}/tracks.{format}": {
			"get": {
				"summary": "/groups/{group_id}/tracks.{format}",
				"description": "/groups/{group_id}/tracks.{format}",
				"operationId": "groupsgroup-idtracksformat",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "group_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/groups/{group_id}/users.{format}": {
			"get": {
				"summary": "/groups/{group_id}/users.{format}",
				"description": "/groups/{group_id}/users.{format}",
				"operationId": "groupsgroup-idusersformat",
				"parameters": [{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "group_id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}