{
	"swagger": "2.0",
	"info": {
		"title": "API Evangelist Image Manipulation API",
		"description": "This is a simple API that accepts a URL to an image, then applies one of several Instagram like filter, and returns manipulated image.",
		"version": null
	},
	"host": "image.manipulation.api.apievangelist.com",
	"basePath": "/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/charcoal": {
			"get": {
				"summary": "Applies charcoal filter.",
				"description": "Returns an image with charcoal effect applied.",
				"operationId": "charcoal",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls"
				},
				{
					"in": "query",
					"name": "radius",
					"description": "radius setting for image filter"
				},
				{
					"in": "query",
					"name": "sigma",
					"description": "sigma setting for image filter"
				},
				{
					"in": "query",
					"name": "url",
					"description": "public url of image to be converted"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Image Filter"],
				"security": []
			}
		},
		"/oilpainting": {
			"get": {
				"summary": "Applies oil painting filter.",
				"description": "Returns an image with oil painting effect applied.",
				"operationId": "oilpainting",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls"
				},
				{
					"in": "query",
					"name": "radius",
					"description": "radius setting for image filter"
				},
				{
					"in": "query",
					"name": "sigma",
					"description": "sigma setting for image filter"
				},
				{
					"in": "query",
					"name": "url",
					"description": "public url of image to be converted"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Image Filter"],
				"security": []
			}
		},
		"/polaroid": {
			"get": {
				"summary": "Applies polaroid filter.",
				"description": "Returns an image with polaroid effect applied.",
				"operationId": "polaroid",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls"
				},
				{
					"in": "query",
					"name": "radius",
					"description": "radius setting for image filter"
				},
				{
					"in": "query",
					"name": "sigma",
					"description": "sigma setting for image filter"
				},
				{
					"in": "query",
					"name": "url",
					"description": "public url of image to be converted"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Image Filter"],
				"security": []
			}
		},
		"/sketch": {
			"get": {
				"summary": "Applies sketch filter.",
				"description": "Returns an image with sketch effect applied.",
				"operationId": "sketch",
				"parameters": [{
					"in": "query",
					"name": "appid",
					"description": "application id for application making calls"
				},
				{
					"in": "query",
					"name": "appkey",
					"description": "application key for application making calls"
				},
				{
					"in": "query",
					"name": "radius",
					"description": "radius setting for image filter"
				},
				{
					"in": "query",
					"name": "sigma",
					"description": "sigma setting for image filter"
				},
				{
					"in": "query",
					"name": "url",
					"description": "public url of image to be converted"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Image Filter"],
				"security": []
			}
		}
	},
	"definitions": []
}