{
	"swagger": "2.0",
	"info": {
		"title": "AP Breaking News API",
		"description": "AP Breaking News API allows your organization to retrieve a list of available breaking news categories and then request content for a specific category.",
		"version": "v2"
	},
	"host": "developerapi.ap.org",
	"basePath": "v2/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"categories.svc/": {
			"get": {
				"summary": "Categories",
				"description": "Returns a list of available AP Breaking News categories, including category IDs.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "apiKey",
					"description": "API Key",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news",
				" categories"],
				"security": []
			}
		},
		"categories.svc/{categoryID}/": {
			"get": {
				"summary": "Category News",
				"description": "Returns the latest content for a specific category. Depending on the specified parameters, returns  either the full story for each headline and/or the headlines linked to web pages with the full stories.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "apiKey",
					"description": "API Key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "categoryID",
					"description": "The ID of the AP Breaking News category. Use the Category List method to  get the list of available categories and their IDs.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "contentOption",
					"description": "Specifies whether to return full story content in the response. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "The number of content items to be returned. Ten items are returned by  default. The maximum allowed value is 25.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "mediaOption",
					"description": "Includes related photos in the response. ",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news",
				" categories"],
				"security": []
			}
		}
	},
	"definitions": []
}