{
	"swagger": "2.0",
	"info": {
		"title": "AP Content API",
		"description": "AP Content API allows you to search and download AP Images content using your own editorial tools, without having to visit the AP Images website.",
		"version": "v2"
	},
	"host": "api.ap.org",
	"basePath": "v2/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"item/{id}/": {
			"get": {
				"summary": "Item",
				"description": "Get items.",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "apiKey",
					"description": "API Key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "format",
					"description": "The format of the returned content item data. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The GUID of a content item (not case-sensitive).",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news"],
				"security": []
			}
		},
		"item/{mediaType}/{id}/{rendition}": {
			"get": {
				"summary": "Item Media",
				"description": "Pulls item media",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "apiKey",
					"description": "API key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "filename",
					"description": "The filename for the downloaded content item rendition, in the format ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "id",
					"description": "The GUID of a content item (not case-sensitive).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "mediaType",
					"description": "The content media type. The default for AP Images  (including all GraphicsBank content) is photo.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "rendition",
					"description": "The content item rendition.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["new",
				" media"],
				"security": []
			}
		},
		"search/{mediaType}": {
			"get": {
				"summary": "Search",
				"description": "Search news",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "apiKey",
					"description": "API Key",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "arrivalDate",
					"description": "The date when the content item was released, in the format  YYYY-MM-DD, YYYY-MM, YYYY or YYYY-MM-DDTHH:mmZ where the value must be in Coordinated Universal Time  (UTC). B",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "contentSet",
					"description": "The AP Images content set to be searched.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "The number of search results per page. The default is 25 results with a  maximum of 100 per page",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "creationDate",
					"description": "The date when the content item was created, in the format  YYYY-MM-DD, YYYY-MM, YYYY or YYYY-MM-DDTHH:mmZ where the value must be in Coordinated Universal Time  (UTC).",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "event",
					"description": "One or more words from the title of a specific event.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "imageId",
					"description": "One or more image ID numbers assigned to content items. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "locations",
					"description": "A geographic location in the AP Geography vocabulary. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "mediaType",
					"description": "The content media type (photo, graphic, video)",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "metadataLevel",
					"description": "The level of metadata to be included in search results.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page number within the set of search results. The default is 1.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "person",
					"description": "The name of a person who is featured in the content item. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "photographer",
					"description": "The photographers first and/or last name.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "q",
					"description": "The search query",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "showParametrics",
					"description": "By default, query facets that allow you to refine the original  search are returned for each content item at the entry level only.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "sortby",
					"description": "Specifies how to sort the search results. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "source",
					"description": "One or more content creators.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "subject",
					"description": "Subject category in the AP Subject vocabulary.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "transref",
					"description": "Transmission reference number.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["news"],
				"security": []
			}
		}
	},
	"definitions": []
}