{
	"swagger": "2.0",
	"info": {
		"title": "Slack Team API",
		"description": "The API for management Slack Teams",
		"termsOfService": "https://slack.com/terms-of-service/api",
		"version": null
	},
	"host": "slack.com",
	"basePath": "/api",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/methods/team.accessLogs": {
			"get": {
				"summary": "Gets the access logs for the current team.",
				"description": "<td width=70%>Gets the access logs for the current team.</td>",
				"operationId": "teamaccesslogs",
				"parameters": [{
					"in": "query",
					"name": "count",
					"description": "Number of items to return per page.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "Page number of results to return.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "token",
					"description": "Authentication token (Requires scope: admin)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["team"],
				"security": []
			}
		},
		"/methods/team.info": {
			"get": {
				"summary": "Gets information about the current team.",
				"description": "<td width=70%>Gets information about the current team.</td>",
				"operationId": "teaminfo",
				"parameters": [{
					"in": "query",
					"name": "token",
					"description": "Authentication token (Requires scope: team:read)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["team"],
				"security": []
			}
		},
		"/methods/team.integrationLogs": {
			"get": {
				"summary": "Gets the integration logs for the current team.",
				"description": "<td width=70%>Gets the integration logs for the current team.</td>",
				"operationId": "teamintegrationlogs",
				"parameters": [{
					"in": "query",
					"name": "app_id",
					"description": "Filter logs to this Slack app. Defaults to all logs.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "change_type",
					"description": "Filter logs with this change type. Defaults to all logs.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "Number of items to return per page.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "Page number of results to return.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "service_id",
					"description": "Filter logs to this service. Defaults to all logs.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "token",
					"description": "Authentication token (Requires scope: admin)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Filter logs generated by this useru2019s actions. Defaults to all logs.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["team"],
				"security": []
			}
		}
	},
	"definitions": []
}