{
	"swagger": "2.0",
	"info": {
		"title": "Slack Stars API",
		"description": "The API for management Slack Starss",
		"termsOfService": "https://slack.com/terms-of-service/api",
		"version": null
	},
	"host": "slack.com",
	"basePath": "/api",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/methods/stars.add": {
			"get": {
				"summary": "Adds a star to an item.",
				"description": "<td width=70%>Adds a star to an item.</td>",
				"operationId": "starsadd",
				"parameters": [{
					"in": "query",
					"name": "channel",
					"description": "Channel to add star to, or channel where the message to add star to was posted (used with timestamp).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file",
					"description": "File to add star to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file_comment",
					"description": "File comment to add star to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "timestamp",
					"description": "Timestamp of the message to add star to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "token",
					"description": "Authentication token (Requires scope: stars:write)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["stars"],
				"security": []
			}
		},
		"/methods/stars.list": {
			"get": {
				"summary": "Lists stars for a user.",
				"description": "<td width=70%>Lists stars for a user.</td>",
				"operationId": "starslist",
				"parameters": [{
					"in": "query",
					"name": "count",
					"description": "Number of items to return per page.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "Page number of results to return.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "token",
					"description": "Authentication token (Requires scope: stars:read)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Show stars by this user. Defaults to the authed user.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["stars"],
				"security": []
			}
		},
		"/methods/stars.remove": {
			"get": {
				"summary": "Removes a star from an item.",
				"description": "<td width=70%>Removes a star from an item.</td>",
				"operationId": "starsremove",
				"parameters": [{
					"in": "query",
					"name": "channel",
					"description": "Channel to remove star from, or channel where the message to remove star from was posted (used with timestamp).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file",
					"description": "File to remove star from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "file_comment",
					"description": "File comment to remove star from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "timestamp",
					"description": "Timestamp of the message to remove star from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "token",
					"description": "Authentication token (Requires scope: stars:write)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["stars"],
				"security": []
			}
		}
	},
	"definitions": []
}