{
	"swagger": "2.0",
	"info": {
		"title": "EPA Facility Registry System API",
		"description": "The Facility Registry System provides facility identification information via facility linkages across several program systems.",
		"contact": {
			"name": "EP Envirofacts",
			"url": "http://www.epa.gov/enviro/index.html"
		},
		"version": "v1"
	},
	"host": "iaspub.epa.gov",
	"basePath": "/enviro/efservice/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/AA_CEMS_DETAILS/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_AA_CEMS_DETAILS",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/aa_cems_details"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_AFFILIATION/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_AFFILIATION",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_affiliation"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_AGENCY_REF/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_AGENCY_REF",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_agency_ref"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_ALTERNATIVE_ID/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_ALTERNATIVE_ID",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_alternative_id"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_ALT_NAME/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_ALT_NAME",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_alt_name"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_CODE_DESCRIPTION/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_CODE_DESCRIPTION",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_code_description"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_CONTACT/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_CONTACT",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_contact"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_FACILITY_SITE/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_FACILITY_SITE",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_facility_site"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_INTEREST/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_INTEREST",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_interest"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_INTEREST_REF/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_INTEREST_REF",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_interest_ref"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_MAILING_ADDRESS/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_MAILING_ADDRESS",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_mailing_address"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_NAICS/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_NAICS",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_naics"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_ORGANIZATION/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_ORGANIZATION",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_organization"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_PROGRAM_FACILITY/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_PROGRAM_FACILITY",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_program_facility"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_SIC/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_SIC",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_sic"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_SUPPLEMENTAL_INTEREST/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_SUPPLEMENTAL_INTEREST",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_supplemental_interest"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_SYSTEM_REF/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_SYSTEM_REF",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_system_ref"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_TRIBAL_ENTITY_REF/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_TRIBAL_ENTITY_REF",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_tribal_entity_ref"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/FRS_TRIBAL_LAND_REF/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_FRS_TRIBAL_LAND_REF",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/frs_tribal_land_ref"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		},
		"/G_INFO/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_G_INFO",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/g_info"
							}
						}
					}
				},
				"tags": ["Facilities"],
				"security": []
			}
		}
	},
	"definitions": {
		"frs_contact": {
			"properties": {
				"ALTERNATE_PHONE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CONTACT_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DIVISION_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EMAIL_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FAX_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FULL_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PHONE_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_FULL_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TITLE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_mailing_address": {
			"properties": {
				"CITY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTRY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAILING_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAIL_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"POSTAL_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_CITY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_MAIL_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_SUPPLEMENTAL_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUPPLEMENTAL_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_organization": {
			"properties": {
				"ALTERNATE_PHONE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DIVISION_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DUNS_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EMAIL_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FAX_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ORG_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ORG_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ORG_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PHONE_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_BUSINESS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_ORG_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_code_description": {
			"properties": {
				"CODE_DESCRIPTION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CODE_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CODE_VALUE": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_tribal_entity_ref": {
			"properties": {
				"FEDERAL_REGISTER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ORGANIZATION_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TRIBAL_ENTITY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TRIBAL_LAND_R_CODE": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_tribal_land_ref": {
			"properties": {
				"TRIBAL_LAND_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TRIBAL_LAND_R_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USBC_TRIBAL_LAND_CODE": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_agency_ref": {
			"properties": {
				"FEDERAL_AGENCY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FEDERAL_AGENCY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_facility_site": {
			"properties": {
				"ADDR_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CITY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTRY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DATA_QUALITY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ENV_JUSTICE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_REGION_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FEDERAL_AGENCY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FEDERAL_FACILITY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FIPS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ICIS_IDENTIFIER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"INTEREST_STATUS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LEGISLATIVE_DIST_NUM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LOCATION_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LOCATION_DESCRIPTION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PARENT_REGISTRY_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"POSTAL_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PRIMARY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REFRESH_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGISTRY_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REVIEW_FLAG": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REVIEW_REASON": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SITE_TYPE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SMALL_BUS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STAND_ALONE_FLAG": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_BASE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_CITY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_COUNTRY": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_COUNTY_FIPS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_COUNTY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_FULL_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_HOUSE_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_LOC_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_POSTAL_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_PREFIX": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_STREET_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_STYPE_AFTER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_STYPE_BEFORE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_SUFFIX": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUPPLEMENTAL_LOCATION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TRIBAL_LAND_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TRIBAL_LAND_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_alt_name": {
			"properties": {
				"ALTERNATIVE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ALTERNATIVE_NAME_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGISTRY_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_ALT_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_program_facility": {
			"properties": {
				"ADDR_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CITY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTRY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DATA_QUALITY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ENV_JUSTICE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_REGION_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FEDERAL_AGENCY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FEDERAL_FACILITY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FIPS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HUC_CODE_12": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HUC_CODE_8": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LEGISLATIVE_DIST_NUM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LINK_MTHD": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LOCATION_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LOCATION_DESCRIPTION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PARENT_PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"POSTAL_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PRIMARY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REFRESH_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGISTRY_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SITE_TYPE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SMALL_BUS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STAND_ALONE_FLAG": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_BASE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_CITY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_COUNTRY": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_COUNTY_FIPS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_COUNTY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_FULL_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_HOUSE_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_LOC_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_POSTAL_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_PREFIX": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_STREET_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_STYPE_AFTER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_STYPE_BEFORE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STD_SUFFIX": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUPPLEMENTAL_LOCATION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TRIBAL_LAND_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TRIBAL_LAND_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_COMMENT": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_system_ref": {
			"properties": {
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FED_STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_affiliation": {
			"properties": {
				"AFFILIATION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AFFILIATION_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CONTACT_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"END_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAIL_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ORG_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGISTRY_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"START_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUP_INTEREST_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_naics": {
			"properties": {
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NAICS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NAICS_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PRIMARY_INDICATOR": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUP_INTEREST_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_sic": {
			"properties": {
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PRIMARY_INDICATOR": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SIC_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SIC_UIN": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUP_INTEREST_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_supplemental_interest": {
			"properties": {
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"END_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"END_DATE_QUALIFIER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REPORTED_SUP_INTEREST_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"START_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"START_DATE_QUALIFIER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUP_INTEREST_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUP_INTEREST_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUP_PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUP_PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_alternative_id": {
			"properties": {
				"ALTERNATIVE_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ALTERNATIVE_ID_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FIPS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_interest": {
			"properties": {
				"ACTIVE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"END_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"END_DATE_QUALIFIER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FED_STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"INTEREST_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LAST_REPORTED_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ACRNM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PGM_SYS_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SENSITIVE_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SOURCE_OF_DATA": {
					"description": "This is a default description.",
					"type": "string"
				},
				"START_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"START_DATE_QUALIFIER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"USER_ID": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"frs_interest_ref": {
			"properties": {
				"CREATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"INTEREST_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"INTEREST_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PROGRAM_CATEGORY": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PROGRAM_CATEGORY_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PUBLIC_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"QUERY_FLAG": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UPDATE_DATE": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"aa_cems_details": {
			"properties": {
				"filler": {
					"description": "until we have model",
					"type": "string"
				}
			}
		},
		"g_info": {
			"properties": {
				"": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CO2_CONSUMED_METHOD": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CO2_CONSUMED_OTHER_METHOD": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FACILITY_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REPORTING_YEAR": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UREA_PRODUCED_METHOD": {
					"description": "This is a default description.",
					"type": "string"
				},
				"UREA_PRODUCED_OTHER_METHOD": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}