{
	"swagger": "2.0",
	"info": {
		"title": "EPA Air Facility System (AFS) API",
		"description": "Air Facility System (AFS) provides permit emissions and compliance data on air pollution point sources.",
		"contact": {
			"name": "EP Envirofacts",
			"url": "http://www.epa.gov/enviro/index.html"
		},
		"version": "v1"
	},
	"host": "iaspub.epa.gov",
	"basePath": "/enviro/efservice/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/EFFRS_AFSACT1/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_EFFRS_AFSACT1",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/effrs_afsact1"
							}
						}
					}
				},
				"tags": ["Air"],
				"security": []
			}
		},
		"/EFFRS_AFSACT2/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_EFFRS_AFSACT2",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/effrs_afsact2"
							}
						}
					}
				},
				"tags": ["Air"],
				"security": []
			}
		},
		"/EFFRS_AFSAP/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_EFFRS_AFSAP",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/effrs_afsap"
							}
						}
					}
				},
				"tags": ["Air"],
				"security": []
			}
		},
		"/EFFRS_AFSAPP/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_EFFRS_AFSAPP",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/effrs_afsapp"
							}
						}
					}
				},
				"tags": ["Air"],
				"security": []
			}
		},
		"/EFFRS_AFSCMS/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_EFFRS_AFSCMS",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/effrs_afscms"
							}
						}
					}
				},
				"tags": ["Air"],
				"security": []
			}
		},
		"/EFFRS_AFSPLT1/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_EFFRS_AFSPLT1",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/effrs_afsplt1"
							}
						}
					}
				},
				"tags": ["Air"],
				"security": []
			}
		},
		"/EFFRS_AFSPLT2/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_EFFRS_AFSPLT2",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/effrs_afsplt2"
							}
						}
					}
				},
				"tags": ["Air"],
				"security": []
			}
		},
		"/EFFRS_AFSSUBP/ROWS/{row_start}:{row_end}/{output}": {
			"get": {
				"summary": "",
				"description": "",
				"operationId": "enviroFacts_EFFRS_AFSSUBP",
				"parameters": [{
					"in": "path",
					"name": "output",
					"description": "which format to output (JSON,XML,CSV,Excel)",
					"type": "string",
					"format": "string",
					"default": "JSON"
				},
				{
					"in": "path",
					"name": "row_end",
					"description": "which row to end on",
					"type": "integer",
					"format": "integer",
					"default": 25
				},
				{
					"in": "path",
					"name": "row_start",
					"description": "which row to start on",
					"type": "integer",
					"format": "integer",
					"default": 0
				}],
				"responses": {
					"200": {
						"description": "Successful Response",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/effrs_afssubp"
							}
						}
					}
				},
				"tags": ["Air"],
				"security": []
			}
		}
	},
	"definitions": {
		"effrs_afsact1": {
			"properties": {
				"ACTION_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ACTION_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_CODES": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CREATION_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DATE_ACHIEVED": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_ADDRESSING_ACTION_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"KEY_ACTION_NUMBERS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NATIONAL_ACTION_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NATIONAL_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PENALTY_AMT": {
					"description": "This is a default description.",
					"type": "string"
				},
				"POLLUTANT_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGIONAL_DATA_ELEMENT": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGIONAL_DATA_ELEMENT_16": {
					"description": "This is a default description.",
					"type": "string"
				},
				"RESULTS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"RESULTS_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COUNTY_COMPLIANCE_SOURCE": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"effrs_afsact2": {
			"properties": {
				"ACTION_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_CODES": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DATE_ACHIEVED": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DATE_CREATED": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_ADDRESSING_ACTION_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_ADDRESSING_ACTION_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_ADDRESSING_ACTION_PENALTY": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_ADDRESSING_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_DAY_ZERO_ACTION_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_DAY_ZERO_ACTION_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_DAY_ZERO_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_DISCOVERY_ACTION_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_DISCOVERY_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_DISCOVERY_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_RESOLUTION_ACTION_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_RESOLUTION_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_RESOLUTION_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LEAD_AGENCY": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LEAD_AGENCY_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NATIONAL_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COUNTY_COMPLIANCE_SOURCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"VIOLATION_IDENTIFIER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"VIOLATION_POLLUTANTS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"VIOLATION_TYPE_CODES": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"effrs_afsap": {
			"properties": {
				"AIR_PROGRAMS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_STATUS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_SUBPART": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_SUBPART_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_CLASS_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_COMPLIANCE_STATUS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_CLASS_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_COMPLIANCE_STATUS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CLASS_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COMPLIANCE_STATUS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COUNTY_COMPLIANCE_SOURCE": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"effrs_afsapp": {
			"properties": {
				"AIR_PROGRAMS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"AIR_PROGRAM_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CHEMICAL_ABSTRACT_SERVICE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CHEMICAL_ABSTRACT_SERVICE_NUM": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DATE_RECORD_UPDATED": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_ATTAIN_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_ATTAIN_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_PLLT_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_PLLT_CLASS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_PLLT_COMPLIANCE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_PLLT_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_ATTAIN_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_ATTAIN_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_PLLT_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_PLLT_CLASS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_PLLT_COMPLIANCE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_PLLT_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"POLLUTANT_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"POLLUTANT_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_ATTAIN_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_ATTAIN_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COUNTY_COMPLIANCE_SOURCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_PLLT_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_PLLT_CLASS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_PLLT_COMPLIANCE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_PLLT_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"effrs_afscms": {
			"properties": {
				"CMS_SOURCE_CATEGORY": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CMS_START_DATE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DUN_BRADSTREET_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2008_CMS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2008_CMS_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2009_CMS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2009_CMS_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2010_CMS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2010_CMS_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2011_CMS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2011_CMS_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2012_CMS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2012_CMS_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2013_CMS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2013_CMS_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2014_CMS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2014_CMS_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2015_CMS_IND": {
					"description": "This is a default description.",
					"type": "string"
				},
				"FY2015_CMS_IND_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGION_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_ABBREV": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COUNTY_COMPLIANCE_SOURCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"effrs_afsplt1": {
			"properties": {
				"AFS_PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CDS_PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DATE_PLANT_INFO_LAST_UPDATED": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DUN_BRADSTREET_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"GOVT_FACILITY_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"HPV_FLAG": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LOCAL_CONTROL_REGION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"LOCAL_CONTROL_REGION_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NAICS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NAICS_CODE_DESCRIPTION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NAICS_EQUIVALENT_SIC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NAT_INIT_AIR_TOXICS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"NAT_INIT_AIR_TOXICS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"OPERATING_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"OPERATING_STATUS_DESCRIPTION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PLANT_CITY": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PLANT_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PLANT_STREET_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PRIMARY_SIC_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PRIMARY_SIC_DESCRIPTION": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGION_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SECONDARY_SIC_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SIC_EQUIVALENT_NAICS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_ABBREV": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COUNTY_COMPLIANCE_SOURCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_REGISTRATION_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"TERTIARY_SIC_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ZIP_CODE": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"effrs_afsplt2": {
			"properties": {
				"CONTACT_PERSION_COMPLIANCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_CLASS_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_COMPLIANCE_STATUS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_LATEST_FCE_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_LATEST_FCE_DATE_ACHIEVED": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_CLASS_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_COMPLIANCE_STATUS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_LATEST_FCE_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"ES_LATEST_FCE_DATE_ACHIEVED": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAILING_CITY": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAILING_PLANT_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAILING_STATE_ABBREV": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAILING_STATE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAILING_STREET_ADDRESS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"MAILING_ZIP": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PHONE_AREA_CODE_COMPLIANCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PHONE_COMPLIANCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CLASS_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CLASS_CODE_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COMPLIANCE_STATUS": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COMPLIANCE_STATUS_DESC": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COUNTY_COMPLIANCE_SOURCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_LATEST_FCE_ACTION_TYPE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_LATEST_FCE_DATE_ACHIEVED": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		},
		"effrs_afssubp": {
			"properties": {
				"AIR_PROGRAM_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"CDS_PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTY_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"COUNTY_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"DUN_BRADSTREET_NUMBER": {
					"description": "This is a default description.",
					"type": "string"
				},
				"EPA_PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"PLANT_ID": {
					"description": "This is a default description.",
					"type": "string"
				},
				"REGION_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_ABBREV": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_CODE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_COUNTY_COMPLIANCE_SOURCE": {
					"description": "This is a default description.",
					"type": "string"
				},
				"STATE_NAME": {
					"description": "This is a default description.",
					"type": "string"
				},
				"SUBPART_HORIZONTAL": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}