{
	"swagger": "2.0",
	"info": {
		"title": "USA Today Movie Reviews",
		"description": "The USA TODAY Movie Reviews API provides a method for retrieving USA TODAY movie review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
		"version": "v1"
	},
	"host": "api.usatoday.com",
	"basePath": "open/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"reviews/": {
			"get": {
				"summary": "The USA TODAY Movie Reviews API provides a method for retrieving USA TODAY movie review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is availabl",
				"description": "The USA TODAY Movie Reviews API provides a method for retrieving USA TODAY movie review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "actors",
					"description": "Returns a list of all available actors featured in a movie review. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "api_key",
					"description": "The API key used for the query",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "directors",
					"description": "Returns a list of all available directors featured in a movie review.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "movies",
					"description": "Returns a list of all available movie reviews. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "recent",
					"description": "By default, returns the most 25 most recent reviews. The number of reviews returned may be altered using the count parameter.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["movies",
				" revies"],
				"security": []
			}
		}
	},
	"definitions": []
}