{
	"swagger": "2.0",
	"info": {
		"title": "USA Today Book Reviews",
		"description": "The USA TODAY Book Reviews API provides a method for retrieving USA TODAY's book reviews conent. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
		"version": "v1"
	},
	"host": "api.usatoday.com",
	"basePath": "open/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"reviews/": {
			"get": {
				"summary": "Book Reviews",
				"description": "The USA TODAY Book Reviews API provides a method for retrieving USA TODAYs book reviews content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "The API key used for the query",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "audiobooks",
					"description": "This parameter allows the developer to filter audiobook reviews. Setting audiobooks to y will return only audiobooks, and setting it to n will return only non-audiobook reviews. By default, the Books Reviews API returns all available content.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "authors",
					"description": "Returns a list of all available authors with book reviews. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "batch",
					"description": "Oftentimes, articles are published that contain multiple book reviews. Setting batch to y will return only these batch reviews, and setting it to n will return only non-batch reviews. By default, the Books Reviews API returns all available content.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "books",
					"description": "By default, returns the most 25 most recent reviews. The number of reviews returned may be altered using the count parameter.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "Use this value to set the number of reviews returned. By default, mostrecent directory returns 25 reviews and the book and author directories return all avaialable information.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "recent",
					"description": "Returns a list of all available book reviews. ",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["books",
				" reviews"],
				"security": []
			}
		}
	},
	"definitions": []
}