{
	"swagger": "2.0",
	"info": {
		"title": "USA Today Music Reviews",
		"description": "The USA TODAY Music Reviews API provides a method for retrieving USA TODAY music review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
		"version": "v1"
	},
	"host": "api.usatoday.com",
	"basePath": "open/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"reviews/music/": {
			"get": {
				"summary": "Music Reviews",
				"description": "The USA TODAY Music Reviews API provides a method for retrieving USA TODAY music review content. In addition to the textual content of a review, the API returns various types of metadata associated with each title. All reviews information is available in a JSON handler. ",
				"operationId": "",
				"parameters": [{
					"in": "path",
					"name": "albums",
					"description": "Returns a list of all available album reviews. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "api_key",
					"description": "The API key used for the query",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "artist",
					"description": "Returns a list of all available artists who have had an album reviewed. ",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "countries",
					"description": "Use this value to set the number of reviews returned. By default, mostrecent directory returns 25 reviews and the book and author directories return all avaialable information.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "maxrating",
					"description": "Use these parameters to set a minimum and/or maximum rating for the album or movie review returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "minrating",
					"description": "Use these parameters to set a minimum and/or maximum rating for the album or movie review returned.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "path",
					"name": "recent",
					"description": "By default, returns the most 25 most recent reviews. The number of reviews returned may be altered using the count parameter.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "year",
					"description": "Use this parameter to limit data returned to a specific year.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["music",
				" reviews"],
				"security": []
			}
		}
	},
	"definitions": []
}