{
	"swagger": "2.0",
	"info": {
		"title": "LinkedIn",
		"description": "The LinkedIn platform provides you the ability to grow your user base and drive engagement in your application. We encourage our developers to support LinkedIn identity to deliver seamless and rewarding experiences for our members.",
		"termsOfService": "https://developer.linkedin.com/documents/linkedin-apis-terms-use",
		"version": "v1"
	},
	"host": "api.linkedin.com",
	"basePath": "/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/comments/{comment-id}": {
			"delete": {
				"summary": "Delete Comment Or Flag As Inappropriate",
				"description": "Delete Comment Or Flag As Inappropriate",
				"operationId": "delete-comment-or-flag-as-inappropriate",
				"parameters": [{
					"in": "path",
					"name": "comment-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Get Comment",
				"description": "Get Comment",
				"operationId": "get-comment",
				"parameters": [{
					"in": "path",
					"name": "comment-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/companies": {
			"get": {
				"summary": "Get Company By Email Domain",
				"description": "Get Company By Email Domain",
				"operationId": "get-company-by-email-domain",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/companies/id={id}": {
			"get": {
				"summary": "Get Company By ID",
				"description": "Get Company By ID",
				"operationId": "get-company-by-id",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/companies/universal-name={universal-name}": {
			"get": {
				"summary": "Get Company By Universal Name",
				"description": "Get Company By Universal Name",
				"operationId": "get-company-by-universal-name",
				"parameters": [{
					"in": "path",
					"name": "universal-name",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/companies/{id}/products": {
			"get": {
				"summary": "Get Company Products",
				"description": "Get Company Products",
				"operationId": "get-company-products",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/companies/{id}/updates": {
			"get": {
				"summary": "Get Company Updates (Beta)",
				"description": "Get Company Updates (Beta)",
				"operationId": "get-company-updates-beta",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/companies::({id},universal-name={universal-name})": {
			"get": {
				"summary": "Get Companies By ID And Universal Name",
				"description": "Get Companies By ID And Universal Name",
				"operationId": "get-companies-by-id-and-universal-name",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				},
				{
					"in": "path",
					"name": "universal-name",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/company-search": {
			"get": {
				"summary": "Search Companies",
				"description": "Search Companies",
				"operationId": "search-companies",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/groups/{group-id}": {
			"get": {
				"summary": "Get Group",
				"description": "Get Group",
				"operationId": "get-group",
				"parameters": [{
					"in": "path",
					"name": "group-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/groups/{group-id}/posts": {
			"get": {
				"summary": "Get Group Posts",
				"description": "Get Group Posts",
				"operationId": "get-group-posts",
				"parameters": [{
					"in": "path",
					"name": "group-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Create Group Post",
				"description": "Create Group Post",
				"operationId": "create-group-post",
				"parameters": [{
					"in": "path",
					"name": "group-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/job-search": {
			"get": {
				"summary": "Search Jobs",
				"description": "Search Jobs",
				"operationId": "search-jobs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/jobs/{id}": {
			"get": {
				"summary": "Get Job",
				"description": "Get Job",
				"operationId": "get-job",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people-search": {
			"get": {
				"summary": "Search People",
				"description": "Search People",
				"operationId": "search-people",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/id={id}": {
			"get": {
				"summary": "Get Member Profile",
				"description": "Get Member Profile",
				"operationId": "get-member-profile",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/url={public-profile-url}/network": {
			"get": {
				"summary": "Get Member Shares Stream By URL",
				"description": "Get Member Shares Stream By URL",
				"operationId": "get-member-shares-stream-by-url",
				"parameters": [{
					"in": "path",
					"name": "public-profile-url",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{id}": {
			"get": {
				"summary": "Get Out Of Network Profile",
				"description": "Get Out Of Network Profile",
				"operationId": "get-out-of-network-profile",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{id}/connections": {
			"get": {
				"summary": "Get Member Connections By ID",
				"description": "Get Member Connections By ID",
				"operationId": "get-member-connections-by-id",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{id}/network": {
			"get": {
				"summary": "Get Member Shares Stream By ID",
				"description": "Get Member Shares Stream By ID",
				"operationId": "get-member-shares-stream-by-id",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/{id}/network/updates": {
			"get": {
				"summary": "Get Member Network Updates",
				"description": "Get Member Network Updates",
				"operationId": "get-member-network-updates",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~": {
			"get": {
				"summary": "Get My Profile",
				"description": "Get My Profile",
				"operationId": "get-my-profile",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/connections": {
			"get": {
				"summary": "Get My Connections",
				"description": "Get My Connections",
				"operationId": "get-my-connections",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/following/companies": {
			"get": {
				"summary": "Get Followed Companies",
				"description": "Get Followed Companies",
				"operationId": "get-followed-companies",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Start Following Company",
				"description": "Start Following Company",
				"operationId": "start-following-company",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/following/companies/id={id}": {
			"delete": {
				"summary": "Stop Following Company",
				"description": "Stop Following Company",
				"operationId": "stop-following-company",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/group-memberships": {
			"get": {
				"summary": "Get Groups",
				"description": "Get Groups",
				"operationId": "get-groups",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Join Group",
				"description": "Join Group",
				"operationId": "join-group",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/group-memberships/{group-id}": {
			"delete": {
				"summary": "Leave Group",
				"description": "Leave Group",
				"operationId": "leave-group",
				"parameters": [{
					"in": "path",
					"name": "group-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Get Group Settings",
				"description": "Get Group Settings",
				"operationId": "get-group-settings",
				"parameters": [{
					"in": "path",
					"name": "group-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "Update Group Settings",
				"description": "Update Group Settings",
				"operationId": "update-group-settings",
				"parameters": [{
					"in": "path",
					"name": "group-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/group-memberships/{group-id}/posts": {
			"get": {
				"summary": "Get Group Member Posts",
				"description": "Get Group Member Posts",
				"operationId": "get-group-member-posts",
				"parameters": [{
					"in": "path",
					"name": "group-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/job-bookmarks": {
			"get": {
				"summary": "Get Job Bookmarks",
				"description": "Get Job Bookmarks",
				"operationId": "get-job-bookmarks",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Add Job Bookmark",
				"description": "Add Job Bookmark",
				"operationId": "add-job-bookmark",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/job-bookmarks/{job-id}": {
			"delete": {
				"summary": "Remove Job Bookmark",
				"description": "Remove Job Bookmark",
				"operationId": "remove-job-bookmark",
				"parameters": [{
					"in": "path",
					"name": "job-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/mailbox": {
			"post": {
				"summary": "Invite By Email",
				"description": "Invite By Email",
				"operationId": "invite-by-email",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/network": {
			"get": {
				"summary": "Get My Shares Stream",
				"description": "Get My Shares Stream",
				"operationId": "get-my-shares-stream",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/network/network-stats": {
			"get": {
				"summary": "Get Network Statistics",
				"description": "Get Network Statistics",
				"operationId": "get-network-statistics",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/network/updates": {
			"get": {
				"summary": "Get Network Updates",
				"description": "Get Network Updates",
				"operationId": "get-network-updates",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/network/updates/key={network_update_key}/is-liked": {
			"put": {
				"summary": "Like Comment",
				"description": "Like Comment",
				"operationId": "like-comment",
				"parameters": [{
					"in": "path",
					"name": "network_update_key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/network/updates/key={network_update_key}/likes": {
			"get": {
				"summary": "Get Likes",
				"description": "Get Likes",
				"operationId": "get-likes",
				"parameters": [{
					"in": "path",
					"name": "network_update_key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/network/updates/key={network_update_key}/update-comments": {
			"get": {
				"summary": "Get Comments",
				"description": "Get Comments",
				"operationId": "get-comments",
				"parameters": [{
					"in": "path",
					"name": "network_update_key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Post Comment",
				"description": "Post Comment",
				"operationId": "post-comment",
				"parameters": [{
					"in": "path",
					"name": "network_update_key",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/person-activities": {
			"post": {
				"summary": "Post Network Updates",
				"description": "Post Network Updates",
				"operationId": "post-network-updates",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/shares": {
			"post": {
				"summary": "Add Share",
				"description": "Add Share",
				"operationId": "add-share",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/suggestions/groups": {
			"get": {
				"summary": "Get User Suggested Groups",
				"description": "Get User Suggested Groups",
				"operationId": "get-user-suggested-groups",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/suggestions/groups/{id}": {
			"get": {
				"summary": "Delete User Suggested Group",
				"description": "Delete User Suggested Group",
				"operationId": "delete-user-suggested-group",
				"parameters": [{
					"in": "path",
					"name": "id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/suggestions/job-suggestions:(jobs)": {
			"get": {
				"summary": "Get Member Suggested Jobs",
				"description": "Get Member Suggested Jobs",
				"operationId": "get-member-suggested-jobs",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~/suggestions/to-follow/companies": {
			"get": {
				"summary": "Get Suggested Companies To Follow",
				"description": "Get Suggested Companies To Follow",
				"operationId": "get-suggested-companies-to-follow",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/people/~:(current-share)": {
			"get": {
				"summary": "Get Current Share",
				"description": "Get Current Share",
				"operationId": "get-current-share",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/{post-id}": {
			"delete": {
				"summary": "Delete Post Or Flag As Inappropriate",
				"description": "Delete Post Or Flag As Inappropriate",
				"operationId": "delete-post-or-flag-as-inappropriate",
				"parameters": [{
					"in": "path",
					"name": "post-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Get Post",
				"description": "Get Post",
				"operationId": "get-post",
				"parameters": [{
					"in": "path",
					"name": "post-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/{post-id}/category/code": {
			"put": {
				"summary": "Flag Post As Promotion",
				"description": "Flag Post As Promotion",
				"operationId": "flag-post-as-promotion",
				"parameters": [{
					"in": "path",
					"name": "post-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/{post-id}/comments": {
			"get": {
				"summary": "Get Post Comments",
				"description": "Get Post Comments",
				"operationId": "get-post-comments",
				"parameters": [{
					"in": "path",
					"name": "post-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Add Post Comment",
				"description": "Add Post Comment",
				"operationId": "add-post-comment",
				"parameters": [{
					"in": "path",
					"name": "post-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/{post-id}/relation-to-viewer/is-following": {
			"put": {
				"summary": "Follow Post",
				"description": "Follow Post",
				"operationId": "follow-post",
				"parameters": [{
					"in": "path",
					"name": "post-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/{post-id}/relation-to-viewer/is-liked": {
			"put": {
				"summary": "Like Post",
				"description": "Like Post",
				"operationId": "like-post",
				"parameters": [{
					"in": "path",
					"name": "post-id",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}