{
	"swagger": "2.0",
	"info": {
		"title": "Messente SMS API",
		"description": " Sending SMS text messages",
		"termsOfService": "https://messente.com/pages/terms",
		"version": "v1"
	},
	"host": "api2.messente.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"send_sms/": {
			"get": {
				"summary": "Send SMS",
				"description": " Sending SMS text messages",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "autoconvert",
					"description": "ontuse replacement settings from accounts API Auto Replace settings page fulltall non GSM 03.38 characters will be replaced with suitable alternatives. offtmessage content is not modified in any way.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "charset",
					"description": "Encoding of the text and from parameter value. Defaults to UTF-8",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "dlr-url",
					"description": "URL where automatic Delivery Request is made.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "from",
					"description": "Optional parameter that sets Sender. When not set, default Sender is used. Sender must be encoded in UTF-8",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "password",
					"description": "API account security key (API key) from the Messentes web page",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "text",
					"description": "All characters (Unicode) and long messages are supported",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "time_to_send",
					"description": "Optional parameter for sending message at some specific time in the future. Must be numeric Unix timestamp i.e. 1415253378. If time_to_send is set in past, message will be sent with no delays.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "to",
					"description": "Receivers phone number with country code",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "udh",
					"description": "SMS User Data Header",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "username",
					"description": "API account user name from the Messentes web page",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Messaging",
				" SMS"],
				"security": []
			}
		}
	},
	"definitions": []
}