{
	"swagger": "2.0",
	"info": {
		"title": "Flickr Groups API",
		"description": "The API for managing Flickr Groups",
		"termsOfService": "https://www.flickr.com/services/api/tos/",
		"version": null
	},
	"host": "www.flickr.com",
	"basePath": "/services/rest/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/?method=flickr.groups.browse": {
			"get": {
				"summary": "flickr.groups.browse",
				"description": "<div class=MethodDescription>Browse the group category tree, finding groups and sub-categories.</div>",
				"operationId": "methodflickrgroupsbrowse",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cat_id",
					"description": "The category id to fetch a list of groups and sub-categories for. If not specified, it defaults to zero, the root of the category tree.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Category not found - The value passed for cat_id was not a valid category id."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.discuss.replies.add": {
			"get": {
				"summary": "flickr.groups.discuss.replies.add",
				"description": "<div class=MethodDescription>Post a new reply to a group discussion topic.</div>",
				"operationId": "methodflickrgroupsdiscussrepliesadd",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "Pass in the group id to where the topic belongs. Can be NSID or group alias. Making this parameter optional for legacy reasons, but it is highly recommended to pass this in to get faster performance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "The message to post to the topic.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topic_id",
					"description": "The ID of the topic to post a comment to.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Topic not found - The topic_id is invalid."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled.rn"
					},
					"3": {
						"description": "Missing required arguments - The topic_id and message are required."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.discuss.replies.delete": {
			"get": {
				"summary": "flickr.groups.discuss.replies.delete",
				"description": "<div class=MethodDescription>Delete a reply from a group topic.</div>",
				"operationId": "methodflickrgroupsdiscussrepliesdelete",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "Pass in the group id to where the topic belongs. Can be NSID or group alias. Making this parameter optional for legacy reasons, but it is highly recommended to pass this in to get faster performance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "reply_id",
					"description": "The ID of the reply to delete.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topic_id",
					"description": "The ID of the topic the post is in.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Topic not found - The topic_id is invalid."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Reply not found - The reply_id is invalid."
					},
					"3": {
						"description": "Cannot delete reply - Replies can only be edited by their owner."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.discuss.replies.edit": {
			"get": {
				"summary": "flickr.groups.discuss.replies.edit",
				"description": "<div class=MethodDescription>Edit a topic reply.</div>",
				"operationId": "methodflickrgroupsdiscussrepliesedit",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "Pass in the group id to where the topic belongs. Can be NSID or group alias. Making this parameter optional for legacy reasons, but it is highly recommended to pass this in to get faster performance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "The message to edit the post with.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "reply_id",
					"description": "The ID of the reply post to edit.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topic_id",
					"description": "The ID of the topic the post is in.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Topic not found - The topic_id is invalid"
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Reply not found - The reply_id is invalid."
					},
					"3": {
						"description": "Missing required arguments - The topic_id and reply_id are required."
					},
					"4": {
						"description": "Cannot edit reply - Replies can only be edited by their owner."
					},
					"5": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.discuss.replies.getInfo": {
			"get": {
				"summary": "flickr.groups.discuss.replies.getInfo",
				"description": "<div class=MethodDescription>Get information on a group topic reply.</div>",
				"operationId": "methodflickrgroupsdiscussrepliesgetinfo",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "Pass in the group id to where the topic belongs. Can be NSID or group alias. Making this parameter optional for legacy reasons, but it is highly recommended to pass this in to get faster performance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "reply_id",
					"description": "The ID of the reply to fetch.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topic_id",
					"description": "The ID of the topic the post is in.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Topic not found - The topic_id is invalid"
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Reply not found - The reply_id is invalid"
					},
					"3": {
						"description": "Missing required arguments - The topic_id and reply_id are required."
					},
					"4": {
						"description": "Cannot edit reply - Replies can only be edited by their owner."
					},
					"5": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.discuss.replies.getList": {
			"get": {
				"summary": "flickr.groups.discuss.replies.getList",
				"description": "<div class=MethodDescription>Get a list of replies from a group discussion topic.</div>",
				"operationId": "methodflickrgroupsdiscussrepliesgetlist",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "Pass in the group id to where the topic belongs. Can be NSID or group alias. Making this parameter optional for legacy reasons, but it is highly recommended to pass this in to get faster performance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topic_id",
					"description": "The ID of the topic to fetch replies for.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Topic not found - The topic_id is invalid."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Reply not found - The reply_id is invalid"
					},
					"3": {
						"description": "Missing required arguments - The topic_id and reply_id are required."
					},
					"4": {
						"description": "Cannot edit reply - Replies can only be edited by their owner."
					},
					"5": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.discuss.topics.add": {
			"get": {
				"summary": "flickr.groups.discuss.topics.add",
				"description": "<div class=MethodDescription>Post a new discussion topic to a group.</div>",
				"operationId": "methodflickrgroupsdiscusstopicsadd",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID or path alias of the group to add a topic to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "The topic message.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "subject",
					"description": "The topic subject.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Group not found - The group by that ID does not existrn"
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					},
					"3": {
						"description": "Message is too long - The post message is too long."
					},
					"4": {
						"description": "Missing required arguments - Subject and message are required."
					},
					"5": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.discuss.topics.getInfo": {
			"get": {
				"summary": "flickr.groups.discuss.topics.getInfo",
				"description": "<div class=MethodDescription>Get information about a group discussion topic.</div>",
				"operationId": "methodflickrgroupsdiscusstopicsgetinfo",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "NSID or group alias of the group to which the topic belongs. Making this parameter optional for legacy reasons, but it is highly recommended to pass this in to get better performance.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "topic_id",
					"description": "The ID for the topic to edit.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Topic not found - The topic_id is invalid"
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					},
					"3": {
						"description": "Message is too long - The post message is too long."
					},
					"4": {
						"description": "Missing required arguments - Subject and message are required."
					},
					"5": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.discuss.topics.getList": {
			"get": {
				"summary": "flickr.groups.discuss.topics.getList",
				"description": "<div class=MethodDescription>Get a list of discussion topics in a group.</div>",
				"operationId": "methodflickrgroupsdiscusstopicsgetlist",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID or path alias of the group to fetch information for.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Group not found - The group_id is invalid"
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					},
					"3": {
						"description": "Message is too long - The post message is too long."
					},
					"4": {
						"description": "Missing required arguments - Subject and message are required."
					},
					"5": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.getInfo": {
			"get": {
				"summary": "flickr.groups.getInfo",
				"description": "<div class=MethodDescription>Get information about a group.</div>",
				"operationId": "methodflickrgroupsgetinfo",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID of the group to fetch information for.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_path_alias",
					"description": "The path alias of the group. One of this or the group_id param is required",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lang",
					"description": "The language of the group name and description to fetch.  If the language is not found, the primary language of the group will be returned.Valid values are the same as in feeds.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Group not found - The group NSID passed did not refer to a group that the calling user can see - either an invalid group is or a group that cant be seen by the calling user."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					},
					"3": {
						"description": "Message is too long - The post message is too long."
					},
					"4": {
						"description": "Missing required arguments - Subject and message are required."
					},
					"5": {
						"description": "Cannot post to group - Either this account is not a member of the group, or discussion in this group is disabled."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.join": {
			"get": {
				"summary": "flickr.groups.join",
				"description": "<div class=MethodDescription>Join a public group as a member.</div>",
				"operationId": "methodflickrgroupsjoin",
				"parameters": [{
					"in": "query",
					"name": "accept_rules",
					"description": "If the group has rules, they must be displayed to the user prior to joining. Passing a true value for this argument specifies that the application has displayed the group rules to the user, and that the user has agreed to them. (See flickr.groups.getInfo).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID of the Group in question",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Required arguments missing - The group_id doesnt exist"
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Group does not exist - The Group does not exist"
					},
					"3": {
						"description": "Group not availabie to the account - The authed account does not have permission to view/join the group."
					},
					"4": {
						"description": "Account is already in that group - The authed account has previously joined this group"
					},
					"5": {
						"description": "Membership in group is by invitation only. - Use flickr.groups.joinRequest to contact the administrations for an invitation."
					},
					"6": {
						"description": "User must accept the group rules before joining - The user must read and accept the rules before joining. Please see the accept_rules argument for this method."
					},
					"10": {
						"description": "Account in maximum number of groups - The account is a member of the maximum number of groups."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.joinRequest": {
			"get": {
				"summary": "flickr.groups.joinRequest",
				"description": "<div class=MethodDescription>Request to join a group that is invitation-only.</div>",
				"operationId": "methodflickrgroupsjoinrequest",
				"parameters": [{
					"in": "query",
					"name": "accept_rules",
					"description": "If the group has rules, they must be displayed to the user prior to joining. Passing a true value for this argument specifies that the application has displayed the group rules to the user, and that the user has agreed to them. (See flickr.groups.getInfo).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID of the group to request joining.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "Message to the administrators.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Required arguments missing - The group_id or message argument are missing."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Group does not exist - The Group does not exist"
					},
					"3": {
						"description": "Group not available to the account - The authed account does not have permission to view/join the group."
					},
					"4": {
						"description": "Account is already in that group - The authed account has previously joined this group"
					},
					"5": {
						"description": "Group is public and open - The group does not require an invitation to join, please use flickr.groups.join."
					},
					"6": {
						"description": "User must accept the group rules before joining - The user must read and accept the rules before joining. Please see the accept_rules argument for this method."
					},
					"10": {
						"description": "Account in maximum number of groups - The account is a member of the maximum number of groups."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "User has already requested to join that group - A request has already been sent and is pending approval."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.leave": {
			"get": {
				"summary": "flickr.groups.leave",
				"description": "<div class=MethodDescription>Leave a group.rnrn<br /><br />If the user is the only administrator left, and there are other members, the oldest member will be promoted to administrator.rnrn<br /><br />If the user is the last person in the group, the group will be deleted.</div>",
				"operationId": "methodflickrgroupsleave",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "delete_photos",
					"description": "Delete all photos by this user from the group",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID of the Group to leave",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Required arguments missing - The group_id doesnt exist"
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Group does not exist - The group by that ID does not exist"
					},
					"3": {
						"description": "Account is not in that group - The user is not a member of the group that was specified"
					},
					"4": {
						"description": "Account is already in that group - The authed account has previously joined this group"
					},
					"5": {
						"description": "Group is public and open - The group does not require an invitation to join, please use flickr.groups.join."
					},
					"6": {
						"description": "User must accept the group rules before joining - The user must read and accept the rules before joining. Please see the accept_rules argument for this method."
					},
					"10": {
						"description": "Account in maximum number of groups - The account is a member of the maximum number of groups."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "User has already requested to join that group - A request has already been sent and is pending approval."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.members.getList": {
			"get": {
				"summary": "flickr.groups.members.getList",
				"description": "<div class=MethodDescription>Get a list of the members of a group.  The call must be signed on behalf of a Flickr member, and the ability to see the group membership will be determined by the Flickr members group privileges.</div>",
				"operationId": "methodflickrgroupsmembersgetlist",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "Return a list of members for this group.  The group must be viewable by the Flickr member on whose behalf the API call is made.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "membertypes",
					"description": "Comma separated list of member types2: member3: moderator4: adminBy default returns all types.  (Returning super rare member type 1: narwhal isnt supported by this API method)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of members to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Group not found - "
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Group does not exist - The group by that ID does not exist"
					},
					"3": {
						"description": "Account is not in that group - The user is not a member of the group that was specified"
					},
					"4": {
						"description": "Account is already in that group - The authed account has previously joined this group"
					},
					"5": {
						"description": "Group is public and open - The group does not require an invitation to join, please use flickr.groups.join."
					},
					"6": {
						"description": "User must accept the group rules before joining - The user must read and accept the rules before joining. Please see the accept_rules argument for this method."
					},
					"10": {
						"description": "Account in maximum number of groups - The account is a member of the maximum number of groups."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "User has already requested to join that group - A request has already been sent and is pending approval."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.pools.add": {
			"get": {
				"summary": "flickr.groups.pools.add",
				"description": "<div class=MethodDescription>Add a photo to a groups pool.</div>",
				"operationId": "methodflickrgroupspoolsadd",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID of the group whos pool the photo is to be added to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to add to the group pool. The photo must belong to the calling user.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Photo not found - The photo id passed was not the id of a photo owned by the caling user."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Group not found - The group id passed was not a valid id for a group the user is a member of."
					},
					"3": {
						"description": "Photo already in pool - The specified photo is already in the pool for the specified group."
					},
					"4": {
						"description": "Photo in maximum number of pools - The photo has already been added to the maximum allowed number of pools."
					},
					"5": {
						"description": "Photo limit reached - The user has already added the maximum amount of allowed photos to the pool."
					},
					"6": {
						"description": "Your Photo has been added to the Pending Queue for this Pool - The pool is moderated, and the photo has been added to the Pending Queue. If it is approved by a group administrator, it will be added to the pool."
					},
					"10": {
						"description": "Maximum number of photos in Group Pool - A group pool has reached the upper limit for the number of photos allowed."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "Your Photo has already been added to the Pending Queue for this Pool - The pool is moderated, and the photo has already been added to the Pending Queue."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.pools.getContext": {
			"get": {
				"summary": "flickr.groups.pools.getContext",
				"description": "<div class=MethodDescription>Returns next and previous photos for a photo in a group pool.</div>",
				"operationId": "methodflickrgroupspoolsgetcontext",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The nsid of the group whos pool to fetch the photos context for.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to fetch the context for.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Photo not found - The photo id passed was not a valid photo id, or was the id of a photo that the calling user does not have permission to view."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Photo not in pool - The specified photo is not in the specified groups pool."
					},
					"3": {
						"description": "Group not found - The specified group nsid was not a valid group or the caller does not have permission to view the groups pool."
					},
					"4": {
						"description": "Photo in maximum number of pools - The photo has already been added to the maximum allowed number of pools."
					},
					"5": {
						"description": "Photo limit reached - The user has already added the maximum amount of allowed photos to the pool."
					},
					"6": {
						"description": "Your Photo has been added to the Pending Queue for this Pool - The pool is moderated, and the photo has been added to the Pending Queue. If it is approved by a group administrator, it will be added to the pool."
					},
					"10": {
						"description": "Maximum number of photos in Group Pool - A group pool has reached the upper limit for the number of photos allowed."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "Your Photo has already been added to the Pending Queue for this Pool - The pool is moderated, and the photo has already been added to the Pending Queue."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.pools.getGroups": {
			"get": {
				"summary": "flickr.groups.pools.getGroups",
				"description": "<div class=MethodDescription>Returns a list of groups to which you can add photos.</div>",
				"operationId": "methodflickrgroupspoolsgetgroups",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of groups to return per page. If this argument is omitted, it defaults to 400. The maximum allowed value is 400.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Photo not found - The photo id passed was not a valid photo id, or was the id of a photo that the calling user does not have permission to view."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Photo not in pool - The specified photo is not in the specified groups pool."
					},
					"3": {
						"description": "Group not found - The specified group nsid was not a valid group or the caller does not have permission to view the groups pool."
					},
					"4": {
						"description": "Photo in maximum number of pools - The photo has already been added to the maximum allowed number of pools."
					},
					"5": {
						"description": "Photo limit reached - The user has already added the maximum amount of allowed photos to the pool."
					},
					"6": {
						"description": "Your Photo has been added to the Pending Queue for this Pool - The pool is moderated, and the photo has been added to the Pending Queue. If it is approved by a group administrator, it will be added to the pool."
					},
					"10": {
						"description": "Maximum number of photos in Group Pool - A group pool has reached the upper limit for the number of photos allowed."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "Your Photo has already been added to the Pending Queue for this Pool - The pool is moderated, and the photo has already been added to the Pending Queue."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.pools.getPhotos": {
			"get": {
				"summary": "flickr.groups.pools.getPhotos",
				"description": "<div class=MethodDescription>Returns a list of pool photos for a given group, based on the permissions of the group and the user logged in (if any).</div>",
				"operationId": "methodflickrgroupspoolsgetphotos",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "extras",
					"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_q, url_m, url_n, url_z, url_c, url_l, url_o",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The id of the group whos pool you which to get the photo list for.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "tags",
					"description": "A tag to filter the pool with. At the moment only one tag at a time is supported.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user_id",
					"description": "The nsid of a user. Specifiying this parameter will retrieve for you only those photos that the user has contributed to the group pool.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Group not found - The group id passed was not a valid group id."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "You dont have permission to view this pool - The logged in user (if any) does not have permission to view the pool for this group."
					},
					"3": {
						"description": "Unknown user - The user specified by user_id does not exist."
					},
					"4": {
						"description": "Photo in maximum number of pools - The photo has already been added to the maximum allowed number of pools."
					},
					"5": {
						"description": "Photo limit reached - The user has already added the maximum amount of allowed photos to the pool."
					},
					"6": {
						"description": "Your Photo has been added to the Pending Queue for this Pool - The pool is moderated, and the photo has been added to the Pending Queue. If it is approved by a group administrator, it will be added to the pool."
					},
					"10": {
						"description": "Maximum number of photos in Group Pool - A group pool has reached the upper limit for the number of photos allowed."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "Your Photo has already been added to the Pending Queue for this Pool - The pool is moderated, and the photo has already been added to the Pending Queue."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.pools.remove": {
			"get": {
				"summary": "flickr.groups.pools.remove",
				"description": "<div class=MethodDescription>Remove a photo from a group pool.</div>",
				"operationId": "methodflickrgroupspoolsremove",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID of the group whos pool the photo is to removed from.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to remove from the group pool. The photo must either be owned by the calling user of the calling user must be an administrator of the group.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Group not found - The group_id passed did not refer to a valid group."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Photo not in pool - The photo_id passed was not a valid id of a photo in the group pool."
					},
					"3": {
						"description": "Insufficient permission to remove photo - The calling user doesnt own the photo and is not an administrator of the group, so may not remove the photo from the pool."
					},
					"4": {
						"description": "Photo in maximum number of pools - The photo has already been added to the maximum allowed number of pools."
					},
					"5": {
						"description": "Photo limit reached - The user has already added the maximum amount of allowed photos to the pool."
					},
					"6": {
						"description": "Your Photo has been added to the Pending Queue for this Pool - The pool is moderated, and the photo has been added to the Pending Queue. If it is approved by a group administrator, it will be added to the pool."
					},
					"10": {
						"description": "Maximum number of photos in Group Pool - A group pool has reached the upper limit for the number of photos allowed."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "Your Photo has already been added to the Pending Queue for this Pool - The pool is moderated, and the photo has already been added to the Pending Queue."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.groups.search": {
			"get": {
				"summary": "flickr.groups.search",
				"description": "<div class=MethodDescription>Search for groups. 18+ groups will only be returned for authenticated calls where the authenticated user is over 18.</div>",
				"operationId": "methodflickrgroupssearch",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is ommited, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of groups to return per page. If this argument is ommited, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "text",
					"description": "The text to search for.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "No text passed - The required text argument was ommited."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "Photo not in pool - The photo_id passed was not a valid id of a photo in the group pool."
					},
					"3": {
						"description": "Insufficient permission to remove photo - The calling user doesnt own the photo and is not an administrator of the group, so may not remove the photo from the pool."
					},
					"4": {
						"description": "Photo in maximum number of pools - The photo has already been added to the maximum allowed number of pools."
					},
					"5": {
						"description": "Photo limit reached - The user has already added the maximum amount of allowed photos to the pool."
					},
					"6": {
						"description": "Your Photo has been added to the Pending Queue for this Pool - The pool is moderated, and the photo has been added to the Pending Queue. If it is approved by a group administrator, it will be added to the pool."
					},
					"10": {
						"description": "Maximum number of photos in Group Pool - A group pool has reached the upper limit for the number of photos allowed."
					},
					"11": {
						"description": "User unable to join - This user is unable to join this group."
					},
					"7": {
						"description": "Your Photo has already been added to the Pending Queue for this Pool - The pool is moderated, and the photo has already been added to the Pending Queue."
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}