{
	"swagger": "2.0",
	"info": {
		"title": "Flickr Photos API",
		"description": "The API for managing Flickr Photos",
		"termsOfService": "https://www.flickr.com/services/api/tos/",
		"version": null
	},
	"host": "www.flickr.com",
	"basePath": "/services/rest/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/?method=flickr.people.getUploadStatus": {
			"get": {
				"summary": "Get Upload Status",
				"description": "<div class=MethodDescription>Returns information for the calling user related to photo uploads.</div>",
				"operationId": "methodflickrpeoplegetuploadstatus",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.addTags": {
			"get": {
				"summary": "Add Tags",
				"description": "<div class=MethodDescription>Add tags to a photo.</div>",
				"operationId": "methodflickrphotosaddtags",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to add tags to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "tags",
					"description": "The tags to add to the photo.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id passed was not the id of a photo that the calling user can add tags to. It could be an invalid id, or the user may not have permission to add tags to it."
					},
					"2": {
						"description": "Maximum number of tags reached - The maximum number of tags for the photo has been reached - no more tags can be added. If the current count is less than the maximum, but adding all of the tags for this request would go over the limit, the whole request is ignored. I.E. when you get this message, none of the requested tags have been added."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.comments.addComment": {
			"get": {
				"summary": "Add Comment",
				"description": "<div class=MethodDescription>Add comment to a photo as the currently authenticated user.</div>",
				"operationId": "methodflickrphotoscommentsaddcomment",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "comment_text",
					"description": "Text of the comment",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to add a comment to.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found. - The photo id passed was not a valid photo id"
					},
					"2": {
						"description": "Maximum number of tags reached - The maximum number of tags for the photo has been reached - no more tags can be added. If the current count is less than the maximum, but adding all of the tags for this request would go over the limit, the whole request is ignored. I.E. when you get this message, none of the requested tags have been added."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.comments.deleteComment": {
			"get": {
				"summary": "Delete Comment",
				"description": "<div class=MethodDescription>Delete a comment as the currently authenticated user.</div>",
				"operationId": "methodflickrphotoscommentsdeletecomment",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "comment_id",
					"description": "The id of the comment to edit.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found. - The requested comment is against a photo which no longer exists."
					},
					"2": {
						"description": "Comment not found. - The comment id passed was not a valid comment id"
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.comments.editComment": {
			"get": {
				"summary": "Edit Comment",
				"description": "<div class=MethodDescription>Edit the text of a comment as the currently authenticated user.</div>",
				"operationId": "methodflickrphotoscommentseditcomment",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "comment_id",
					"description": "The id of the comment to edit.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "comment_text",
					"description": "Update the comment to this text.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found. - The requested comment is against a photo which no longer exists."
					},
					"2": {
						"description": "Comment not found. - The comment id passed was not a valid comment id"
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.comments.getList": {
			"get": {
				"summary": "Get Comments List",
				"description": "<div class=MethodDescription>Returns the comments for a photo</div>",
				"operationId": "methodflickrphotoscommentsgetlist",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "max_comment_date",
					"description": "Maximum date that a comment was added. The date should be in the form of a unix timestamp.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "min_comment_date",
					"description": "Minimum date that a a comment was added. The date should be in the form of a unix timestamp.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to fetch comments for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Comment not found. - The comment id passed was not a valid comment id"
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.comments.getRecentForContacts": {
			"get": {
				"summary": "Get Comments for Recent Contacts",
				"description": "<div class=MethodDescription>Return the list of photos belonging to your contacts that have been commented on recently.</div>",
				"operationId": "methodflickrphotoscommentsgetrecentforcontacts",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "contacts_filter",
					"description": "A comma-separated list of contact NSIDs to limit the scope of the query to.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date_lastcomment",
					"description": "Limits the resultset to photos that have been commented on since this date. The date should be in the form of a Unix timestamp.The default, and maximum, offset is (1) hour.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "extras",
					"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_q, url_m, url_n, url_z, url_c, url_l, url_o",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Comment not found. - The comment id passed was not a valid comment id"
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.delete": {
			"get": {
				"summary": "Delete Photo",
				"description": "<div class=MethodDescription>Delete a photo from flickr.</div>",
				"operationId": "methodflickrphotosdelete",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to delete.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was not the id of a photo belonging to the calling user."
					},
					"2": {
						"description": "Comment not found. - The comment id passed was not a valid comment id"
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.batchCorrectLocation": {
			"get": {
				"summary": "flickr.photos.geo.batchCorrectLocation",
				"description": "<div class=MethodDescription>Correct the places hierarchy for all the photos for a user at a given latitude, longitude and accuracy.<br /><br />rnrnBatch corrections are processed in a delayed queue so it may take a few minutes before the changes are reflected in a users photos.</div>",
				"operationId": "methodflickrphotosgeobatchcorrectlocation",
				"parameters": [{
					"in": "query",
					"name": "accuracy",
					"description": "Recorded accuracy level of the photos to be updated. World level is 1, Country is ~3, Region ~6, City ~11, Street ~16. Current range is 1-16. Defaults to 16 if not specified.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lat",
					"description": "The latitude of the photos to be update whose valid range is -90 to 90. Anything more than 6 decimal places will be truncated.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lon",
					"description": "The longitude of the photos to be updated whose valid range is -180 to 180. Anything more than 6 decimal places will be truncated.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "place_id",
					"description": "A Flickr Places ID. (While optional, you must pass either a valid Places ID or a WOE ID.)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "woe_id",
					"description": "A Where On Earth (WOE) ID. (While optional, you must pass either a valid Places ID or a WOE ID.)",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Required arguments missing - Some or all of the required arguments were not supplied."
					},
					"2": {
						"description": "Not a valid latitude - The latitude argument failed validation."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Not a valid longitude - The longitude argument failed validation."
					},
					"4": {
						"description": "Not a valid accuracy - The accuracy argument failed validation."
					},
					"5": {
						"description": "Not a valid Places ID - An invalid Places (or WOE) ID was passed with the API call."
					},
					"6": {
						"description": "No photos geotagged at that location - There were no geotagged photos found for the authed user at the supplied latitude, longitude and accuracy."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.correctLocation": {
			"get": {
				"summary": "flickr.photos.geo.correctLocation",
				"description": "<div class=MethodDescription></div>",
				"operationId": "methodflickrphotosgeocorrectlocation",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "foursquare_id",
					"description": "The venue ID for a Foursquare location. (If not passed in with correction, any existing foursquare venue will be removed).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The ID of the photo whose WOE location is being corrected.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "place_id",
					"description": "A Flickr Places ID. (While optional, you must pass either a valid Places ID or a WOE ID.)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "woe_id",
					"description": "A Where On Earth (WOE) ID. (While optional, you must pass either a valid Places ID or a WOE ID.)",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					},
					"2": {
						"description": "Missing place ID - No place ID was passed to the method"
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Not a valid place ID - The place ID passed to the method could not be identified"
					},
					"4": {
						"description": "Server error correcting location. - There was an error trying to correct the location."
					},
					"5": {
						"description": "Not a valid Places ID - An invalid Places (or WOE) ID was passed with the API call."
					},
					"6": {
						"description": "No photos geotagged at that location - There were no geotagged photos found for the authed user at the supplied latitude, longitude and accuracy."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.getLocation": {
			"get": {
				"summary": "flickr.photos.geo.getLocation",
				"description": "<div class=MethodDescription>Get the geo data (latitude and longitude and the accuracy level) for a photo.</div>",
				"operationId": "methodflickrphotosgeogetlocation",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "extras",
					"description": "Extra flags.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo you want to retrieve location data for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found. - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Photo has no location information. - The photo requested has no location data or is not viewable by the calling user."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Not a valid place ID - The place ID passed to the method could not be identified"
					},
					"4": {
						"description": "Server error correcting location. - There was an error trying to correct the location."
					},
					"5": {
						"description": "Not a valid Places ID - An invalid Places (or WOE) ID was passed with the API call."
					},
					"6": {
						"description": "No photos geotagged at that location - There were no geotagged photos found for the authed user at the supplied latitude, longitude and accuracy."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.getPerms": {
			"get": {
				"summary": "flickr.photos.geo.getPerms",
				"description": "<div class=MethodDescription>Get permissions for who may view geo data for a photo.</div>",
				"operationId": "methodflickrphotosgeogetperms",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to get permissions for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Photo has no location information - The photo requested has no location data or is not viewable by the calling user."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Not a valid place ID - The place ID passed to the method could not be identified"
					},
					"4": {
						"description": "Server error correcting location. - There was an error trying to correct the location."
					},
					"5": {
						"description": "Not a valid Places ID - An invalid Places (or WOE) ID was passed with the API call."
					},
					"6": {
						"description": "No photos geotagged at that location - There were no geotagged photos found for the authed user at the supplied latitude, longitude and accuracy."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.photosForLocation": {
			"get": {
				"summary": "flickr.photos.geo.photosForLocation",
				"description": "<div class=MethodDescription>Return a list of photos for the calling user at a specific latitude, longitude and accuracy</div>",
				"operationId": "methodflickrphotosgeophotosforlocation",
				"parameters": [{
					"in": "query",
					"name": "accuracy",
					"description": "Recorded accuracy level of the location information. World level is 1, Country is ~3, Region ~6, City ~11, Street ~16. Current range is 1-16. Defaults to 16 if not specified.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "extras",
					"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_q, url_m, url_n, url_z, url_c, url_l, url_o",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lat",
					"description": "The latitude whose valid range is -90 to 90. Anything more than 6 decimal places will be truncated.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lon",
					"description": "The longitude whose valid range is -180 to 180. Anything more than 6 decimal places will be truncated.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Required arguments missing - One or more required arguments was missing from the method call."
					},
					"2": {
						"description": "Not a valid latitude - The latitude argument failed validation."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Not a valid longitude - The longitude argument failed validation."
					},
					"4": {
						"description": "Not a valid accuracy - The accuracy argument failed validation."
					},
					"5": {
						"description": "Not a valid Places ID - An invalid Places (or WOE) ID was passed with the API call."
					},
					"6": {
						"description": "No photos geotagged at that location - There were no geotagged photos found for the authed user at the supplied latitude, longitude and accuracy."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.removeLocation": {
			"get": {
				"summary": "flickr.photos.geo.removeLocation",
				"description": "<div class=MethodDescription>Removes the geo data associated with a photo.</div>",
				"operationId": "methodflickrphotosgeoremovelocation",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo you want to remove location data from.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Photo has no location information - The specified photo has not been geotagged - there is nothing to remove."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Not a valid longitude - The longitude argument failed validation."
					},
					"4": {
						"description": "Not a valid accuracy - The accuracy argument failed validation."
					},
					"5": {
						"description": "Not a valid Places ID - An invalid Places (or WOE) ID was passed with the API call."
					},
					"6": {
						"description": "No photos geotagged at that location - There were no geotagged photos found for the authed user at the supplied latitude, longitude and accuracy."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.setContext": {
			"get": {
				"summary": "flickr.photos.geo.setContext",
				"description": "<div class=MethodDescription>Indicate the state of a photos geotagginess beyond latitude and longitude.<br /><br />rnNote : photos passed to this method must already be geotagged (using the <q>flickr.photos.geo.setLocation</q> method).</div>",
				"operationId": "methodflickrphotosgeosetcontext",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "context",
					"description": "Context is a numeric value representing the photos geotagginess beyond latitude and longitude. For example, you may wish to indicate that a photo was taken indoors or outdoors. The current list of context IDs is :0, not defined.1, indoors.2, outdoors.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to set context data for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Not a valid context - The context ID passed to the method is invalid."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Not a valid longitude - The longitude argument failed validation."
					},
					"4": {
						"description": "Not a valid accuracy - The accuracy argument failed validation."
					},
					"5": {
						"description": "Not a valid Places ID - An invalid Places (or WOE) ID was passed with the API call."
					},
					"6": {
						"description": "No photos geotagged at that location - There were no geotagged photos found for the authed user at the supplied latitude, longitude and accuracy."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.setLocation": {
			"get": {
				"summary": "flickr.photos.geo.setLocation",
				"description": "<div class=MethodDescription>Sets the geo data (latitude and longitude and, optionally, the accuracy level) for a photo.rnrnBefore users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at <a href=http://www.flickr.com/account/geo/privacy/>http://www.flickr.com/account/geo/privacy/</a>. If a user has not set this preference, the API method will return an error.</div>",
				"operationId": "methodflickrphotosgeosetlocation",
				"parameters": [{
					"in": "query",
					"name": "accuracy",
					"description": "Recorded accuracy level of the location information. World level is 1, Country is ~3, Region ~6, City ~11, Street ~16. Current range is 1-16. Defaults to 16 if not specified.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "context",
					"description": "Context is a numeric value representing the photos geotagginess beyond latitude and longitude. For example, you may wish to indicate that a photo was taken indoors or outdoors. The current list of context IDs is :0, not defined.1, indoors.2, outdoors.The default context for geotagged photos is 0, or not defined",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lat",
					"description": "The latitude whose valid range is -90 to 90. Anything more than 6 decimal places will be truncated.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "lon",
					"description": "The longitude whose valid range is -180 to 180. Anything more than 6 decimal places will be truncated.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to set location data for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Not a valid latitude. - The latitude argument failed validation."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.geo.setPerms": {
			"get": {
				"summary": "flickr.photos.geo.setPerms",
				"description": "<div class=MethodDescription>Set the permission for who may view the geo data associated with a photo.</div>",
				"operationId": "methodflickrphotosgeosetperms",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "is_contact",
					"description": "1 to set viewing permissions for the photos location data to contacts, 0 to set it to private.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "is_family",
					"description": "1 to set viewing permissions for the photos location data to family, 0 to set it to private.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "is_friend",
					"description": "1 to set viewing permissions for the photos location data to friends, 0 to set it to private.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "is_public",
					"description": "1 to set viewing permissions for the photos location data to public, 0 to set it to private.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to get permissions for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Photo has no location information - The photo requested has no location data or is not viewable by the calling user."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getAllContexts": {
			"get": {
				"summary": "flickr.photos.getAllContexts",
				"description": "<div class=MethodDescription>Returns all visible sets and pools the photo belongs to.</div>",
				"operationId": "methodflickrphotosgetallcontexts",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The photo to return information for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id passed was not the id of a valid photo."
					},
					"2": {
						"description": "Photo has no location information - The photo requested has no location data or is not viewable by the calling user."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getContactsPhotos": {
			"get": {
				"summary": "flickr.photos.getContactsPhotos",
				"description": "<div class=MethodDescription>Fetch a list of recent photos from the calling users contacts.</div>",
				"operationId": "methodflickrphotosgetcontactsphotos",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "Number of photos to return. Defaults to 10, maximum 50. This is only used if single_photo is not passed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "extras",
					"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields include: license, date_upload, date_taken, owner_name, icon_server, original_format, last_update. For more information see extras under flickr.photos.search.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_self",
					"description": "Set to 1 to include photos from the calling user.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "just_friends",
					"description": "set as 1 to only show photos from friends and family (excluding regular contacts).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "single_photo",
					"description": "Only fetch one photo (the latest) per contact, instead of all photos in chronological order.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id passed was not the id of a valid photo."
					},
					"2": {
						"description": "Photo has no location information - The photo requested has no location data or is not viewable by the calling user."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getContactsPublicPhotos": {
			"get": {
				"summary": "flickr.photos.getContactsPublicPhotos",
				"description": "<div class=MethodDescription>Fetch a list of recent public photos from a users contacts.</div>",
				"operationId": "methodflickrphotosgetcontactspublicphotos",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "count",
					"description": "Number of photos to return. Defaults to 10, maximum 50. This is only used if single_photo is not passed.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "extras",
					"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: license, date_upload, date_taken, owner_name, icon_server, original_format, last_update.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include_self",
					"description": "Set to 1 to include photos from the user specified by user_id.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "just_friends",
					"description": "set as 1 to only show photos from friends and family (excluding regular contacts).",
					"type": "string"
				},
				{
					"in": "query",
					"name": "single_photo",
					"description": "Only fetch one photo (the latest) per contact, instead of all photos in chronological order.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user_id",
					"description": "The NSID of the user to fetch photos for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "User not found - The user NSID passed was not a valid user NSID."
					},
					"2": {
						"description": "Photo has no location information - The photo requested has no location data or is not viewable by the calling user."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getContext": {
			"get": {
				"summary": "flickr.photos.getContext",
				"description": "<div class=MethodDescription>Returns next and previous photos for a photo in a photostream.</div>",
				"operationId": "methodflickrphotosgetcontext",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to fetch the context for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id passed was not a valid photo id, or was the id of a photo that the calling user does not have permission to view."
					},
					"2": {
						"description": "Photo has no location information - The photo requested has no location data or is not viewable by the calling user."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getCounts": {
			"get": {
				"summary": "flickr.photos.getCounts",
				"description": "<div class=MethodDescription>Gets a list of photo counts for the given date ranges for the calling user.</div>",
				"operationId": "methodflickrphotosgetcounts",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "dates",
					"description": "A comma delimited list of unix timestamps, denoting the periods to return counts for. They should be specified smallest first.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "taken_dates",
					"description": "A comma delimited list of mysql datetimes, denoting the periods to return counts for. They should be specified smallest first.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "No dates specified - Neither dates nor taken_dates were specified."
					},
					"2": {
						"description": "Photo has no location information - The photo requested has no location data or is not viewable by the calling user."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getExif": {
			"get": {
				"summary": "flickr.photos.getExif",
				"description": "<div class=MethodDescription>Retrieves a list of EXIF/TIFF/GPS tags for a given photo. The calling user must have permission to view the photo.</div>",
				"operationId": "methodflickrphotosgetexif",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to fetch information for.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "secret",
					"description": "The secret for the photo. If the correct secret is passed then permissions checking is skipped. This enables the sharing of individual photos by passing around the id and secret.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Permission denied - The owner of the photo does not want to share EXIF data."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getFavorites": {
			"get": {
				"summary": "flickr.photos.getFavorites",
				"description": "<div class=MethodDescription>Returns the list of people who have favorited a given photo.</div>",
				"operationId": "methodflickrphotosgetfavorites",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of usres to return per page. If this argument is omitted, it defaults to 10. The maximum allowed value is 50.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The ID of the photo to fetch the favoriters list for.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found - The specified photo does not exist, or the calling user does not have permission to view it."
					},
					"2": {
						"description": "Permission denied - The owner of the photo does not want to share EXIF data."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getInfo": {
			"get": {
				"summary": "flickr.photos.getInfo",
				"description": "<div class=MethodDescription>Get information about a photo. The calling user must have permission to view the photo.</div>",
				"operationId": "methodflickrphotosgetinfo",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The id of the photo to get information for.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "secret",
					"description": "The secret for the photo. If the correct secret is passed then permissions checking is skipped. This enables the sharing of individual photos by passing around the id and secret.",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found. - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
						"description": "Permission denied - The owner of the photo does not want to share EXIF data."
					},
					"8": {
						"description": "Blank comment. - Comment text can not be blank"
					},
					"9": {
						"description": "User is posting comments too fast. - The user has reached the limit for number of comments posted during a specific time period.  Wait a bit and try again."
					},
					"3": {
						"description": "Required arguments missing. - Some or all of the required arguments were not supplied."
					},
					"4": {
						"description": "Not a valid longitude. - The longitude argument failed validation."
					},
					"5": {
						"description": "Not a valid accuracy. - The accuracy argument failed validation."
					},
					"6": {
						"description": "Server error. - There was an unexpected problem setting location information to the photo."
					},
					"7": {
						"description": "User has not configured default viewing settings for location data. - Before users may assign location data to a photo they must define who, by default, may view that information. Users can edit this preference at http://www.flickr.com/account/geo/privacy/"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.photos.getNotInSet": {
			"get": {
				"summary": "flickr.photos.getNotInSet",
				"description": "<div class=MethodDescription>Returns a list of your photos that are not part of any sets.</div>",
				"operationId": "methodflickrphotosgetnotinset",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "extras",
					"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_q, url_m, url_n, url_z, url_c, url_l, url_o",
					"type": "string"
				},
				{
					"in": "query",
					"name": "max_taken_date",
					"description": "Maximum taken date. Photos with an taken date less than or equal to this value will be returned. The date can be in the form of a mysql datetime or unix timestamp.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "max_upload_date",
					"description": "Maximum upload date. Photos with an upload date less than or equal to this value will be returned. The date can be in the form of a unix timestamp or mysql datetime.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "media",
					"description": "Filter results by media type. Possible values are all (default), photos or videos",
					"type": "string"
				},
				{
					"in": "query",
					"name": "min_taken_date",
					"description": "Minimum taken date. Photos with an taken date greater than or equal to this value will be returned. The date can be in the form of a mysql datetime or unix timestamp.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "min_upload_date",
					"description": "Minimum upload date. Photos with an upload date greater than or equal to this value will be returned. The date can be in the form of a unix timestamp or mysql datetime.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "privacy_filter",
					"description": "Return photos only matching a certain privacy level. Valid values are:1 public photos2 private photos visible to friends3 private photos visible to family4 private photos visible to friends &amp; family5 completely private photos",
					"type": "string"
				}],
				"responses": {
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"1": {
						"description": "Photo not found. - The photo id was either invalid or was for a photo not viewable by the calling user."
					},
					"2": {
[...]
