{
	"swagger": "2.0",
	"info": {
		"title": "Flickr URLs API",
		"description": "The API for managing Flickr URLs",
		"termsOfService": "https://www.flickr.com/services/api/tos/",
		"version": null
	},
	"host": "www.flickr.com",
	"basePath": "/services/rest/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/?method=flickr.urls.getGroup": {
			"get": {
				"summary": "flickr.urls.getGroup",
				"description": "<div class=MethodDescription>Returns the url to a groups page.</div>",
				"operationId": "methodflickrurlsgetgroup",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "group_id",
					"description": "The NSID of the group to fetch the url for.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Group not found - The NSID specified was not a valid group."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.urls.getUserPhotos": {
			"get": {
				"summary": "flickr.urls.getUserPhotos",
				"description": "<div class=MethodDescription>Returns the url to a users photos.</div>",
				"operationId": "methodflickrurlsgetuserphotos",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user_id",
					"description": "The NSID of the user to fetch the url for. If omitted, the calling user is assumed.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "User not found - The NSID specified was not a valid user."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "No user specified - No user_id was passed and the calling user was not logged in."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.urls.getUserProfile": {
			"get": {
				"summary": "flickr.urls.getUserProfile",
				"description": "<div class=MethodDescription>Returns the url to a users profile.</div>",
				"operationId": "methodflickrurlsgetuserprofile",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user_id",
					"description": "The NSID of the user to fetch the url for. If omitted, the calling user is assumed.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "User not found - The NSID specified was not a valid user."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "No user specified - No user_id was passed and the calling user was not logged in."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.urls.lookupGallery": {
			"get": {
				"summary": "flickr.urls.lookupGallery",
				"description": "<div class=MethodDescription>Returns gallery info, by url.</div>",
				"operationId": "methodflickrurlslookupgallery",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "The gallerys URL.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "User not found - The NSID specified was not a valid user."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "No user specified - No user_id was passed and the calling user was not logged in."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.urls.lookupGroup": {
			"get": {
				"summary": "flickr.urls.lookupGroup",
				"description": "<div class=MethodDescription>Returns a group NSID, given the url to a groups page or photo pool.</div>",
				"operationId": "methodflickrurlslookupgroup",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "The url to the groups page or photo pool.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Group not found - The passed URL was not a valid group page or photo pool url."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "No user specified - No user_id was passed and the calling user was not logged in."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.urls.lookupUser": {
			"get": {
				"summary": "flickr.urls.lookupUser",
				"description": "<div class=MethodDescription>Returns a user NSID, given the url to a users photos or profile.</div>",
				"operationId": "methodflickrurlslookupuser",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "The url to the users profile or photos page.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "User not found - The passed URL was not a valid user profile or photos url."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					},
					"2": {
						"description": "No user specified - No user_id was passed and the calling user was not logged in."
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}