{
	"swagger": "2.0",
	"info": {
		"title": "Flickr Galleries API",
		"description": "The API for managing Flickr Galleries",
		"termsOfService": "https://www.flickr.com/services/api/tos/",
		"version": null
	},
	"host": "www.flickr.com",
	"basePath": "/services/rest/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/?method=flickr.galleries.addPhoto": {
			"get": {
				"summary": "flickr.galleries.addPhoto",
				"description": "<div class=MethodDescription>Add a photo to a gallery.</div>",
				"operationId": "methodflickrgalleriesaddphoto",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "comment",
					"description": "A short comment or story to accompany the photo.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "gallery_id",
					"description": "The ID of the gallery to add a photo to.  Note: this is the compound ID returned in methods like flickr.galleries.getList, and flickr.galleries.getListForPhoto.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The photo ID to add to the gallery",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Required parameter missing - One or more required parameters was not included with your API call."
					},
					"2": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"3": {
						"description": "Invalid photo ID - The requested photo could not be found."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.galleries.create": {
			"get": {
				"summary": "flickr.galleries.create",
				"description": "<div class=MethodDescription>Create a new gallery for the calling user.</div>",
				"operationId": "methodflickrgalleriescreate",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "A short description for the gallery",
					"type": "string"
				},
				{
					"in": "query",
					"name": "full_result",
					"description": "Get the result in the same format as galleries.getList",
					"type": "string"
				},
				{
					"in": "query",
					"name": "primary_photo_id",
					"description": "The first photo to add to your gallery",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "The name of the gallery",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Required parameter missing - One or more of the required parameters was missing from your API call."
					},
					"2": {
						"description": "Invalid title or description - The title or the description could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.galleries.editMeta": {
			"get": {
				"summary": "flickr.galleries.editMeta",
				"description": "<div class=MethodDescription>Modify the meta-data for a gallery.</div>",
				"operationId": "methodflickrgallerieseditmeta",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "The new description for the gallery.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "gallery_id",
					"description": "The gallery ID to update.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "The new title for the gallery.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Required parameter missing - One or more required parameters was missing from your request."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.galleries.editPhoto": {
			"get": {
				"summary": "flickr.galleries.editPhoto",
				"description": "<div class=MethodDescription>Edit the comment for a gallery photo.</div>",
				"operationId": "methodflickrgallerieseditphoto",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "comment",
					"description": "The updated comment the photo.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "gallery_id",
					"description": "The ID of the gallery to add a photo to. Note: this is the compound ID returned in methods like flickr.galleries.getList, and flickr.galleries.getListForPhoto.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The photo ID to add to the gallery.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.galleries.editPhotos": {
			"get": {
				"summary": "flickr.galleries.editPhotos",
				"description": "<div class=MethodDescription>Modify the photos in a gallery. Use this method to add, remove and re-order photos.</div>",
				"operationId": "methodflickrgallerieseditphotos",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "gallery_id",
					"description": "The id of the gallery to modify. The gallery must belong to the calling user.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_ids",
					"description": "A comma-delimited list of photo ids to include in the gallery. They will appear in the set in the order sent. This list must contain the primary photo id. This list of photos replaces the existing list.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "primary_photo_id",
					"description": "The id of the photo to use as the primary photo for the gallery. This id must also be passed along in photo_ids list argument.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.galleries.getInfo": {
			"get": {
				"summary": "flickr.galleries.getInfo",
				"description": "<div class=MethodDescription></div>",
				"operationId": "methodflickrgalleriesgetinfo",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "gallery_id",
					"description": "The gallery ID you are requesting information for.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.galleries.getList": {
			"get": {
				"summary": "flickr.galleries.getList",
				"description": "<div class=MethodDescription>Return the list of galleries created by a user.  Sorted from newest to oldest.</div>",
				"operationId": "methodflickrgalleriesgetlist",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "primary_photo_extras",
					"description": "A comma-delimited list of extra information to fetch for the primary photo. Currently supported fields are: license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_m, url_o",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user_id",
					"description": "The NSID of the user to get a galleries list for. If none is specified, the calling user is assumed.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.galleries.getListForPhoto": {
			"get": {
				"summary": "flickr.galleries.getListForPhoto",
				"description": "<div class=MethodDescription>Return the list of galleries to which a photo has been added.  Galleries are returned sorted by date which the photo was added to the gallery.</div>",
				"operationId": "methodflickrgalleriesgetlistforphoto",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of galleries to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "photo_id",
					"description": "The ID of the photo to fetch a list of galleries for.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/?method=flickr.galleries.getPhotos": {
			"get": {
				"summary": "flickr.galleries.getPhotos",
				"description": "<div class=MethodDescription>Return the list of photos for a gallery</div>",
				"operationId": "methodflickrgalleriesgetphotos",
				"parameters": [{
					"in": "query",
					"name": "api_key",
					"description": "Your API application key. See here for more details.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "extras",
					"description": "A comma-delimited list of extra information to fetch for each returned record. Currently supported fields are: description, license, date_upload, date_taken, owner_name, icon_server, original_format, last_update, geo, tags, machine_tags, o_dims, views, media, path_alias, url_sq, url_t, url_s, url_q, url_m, url_n, url_z, url_c, url_l, url_o",
					"type": "string"
				},
				{
					"in": "query",
					"name": "gallery_id",
					"description": "The ID of the gallery of photos to return",
					"type": "string"
				},
				{
					"in": "query",
					"name": "page",
					"description": "The page of results to return. If this argument is omitted, it defaults to 1.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "per_page",
					"description": "Number of photos to return per page. If this argument is omitted, it defaults to 100. The maximum allowed value is 500.",
					"type": "string"
				}],
				"responses": {
					"1": {
						"description": "Invalid gallery ID - That gallery could not be found."
					},
					"2": {
						"description": "Invalid title or description - The title or description arguments could not be validated."
					},
					"3": {
						"description": "Failed to add gallery - There was a problem creating the gallery."
					},
					"4": {
						"description": "Invalid comment - The comment body could not be validated."
					},
					"5": {
						"description": "Failed to add photo - Unable to add the photo to the gallery."
					},
					"95": {
						"description": "SSL is required - SSL is required to access the Flickr API."
					},
					"96": {
						"description": "Invalid signature - The passed signature was invalid."
					},
					"97": {
						"description": "Missing signature - The call required signing but no signature was sent."
					},
					"98": {
						"description": "Login failed / Invalid auth token - The login details or auth token passed were invalid."
					},
					"99": {
						"description": "User not logged in / Insufficient permissions - The method requires user authentication but the user was not logged in, or the authenticated method call did not have the required permissions."
					},
					"100": {
						"description": "Invalid API Key - The API key passed was not valid or has expired."
					},
					"105": {
						"description": "Service currently unavailable - The requested service is temporarily unavailable."
					},
					"106": {
						"description": "Write operation failed - The requested operation failed due to a temporary issue."
					},
					"111": {
						"description": "Format xxx not found - The requested response format was not found."
					},
					"112": {
						"description": "Method xxx not found - The requested method was not found."
					},
					"114": {
						"description": "Invalid SOAP envelope - The SOAP envelope send in the request could not be parsed."
					},
					"115": {
						"description": "Invalid XML-RPC Method Call - The XML-RPC request document could not be parsed."
					},
					"116": {
						"description": "Bad URL found - One or more arguments contained a URL that has been used for abuse on Flickr."
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}