{
	"swagger": "2.0",
	"info": {
		"title": "TigerConnect Message API",
		"description": "The message system for TigerConnect messaging platform.",
		"termsOfService": "http://www.tigertext.com/developer-terms-of-use",
		"contact": {
			"name": "TigerText",
			"url": "http://www.tigertext.com/supportform/",
			"email": "info@tigertext.com"
		},
		"version": "v2"
	},
	"host": "developer.tigertext.me",
	"basePath": "/v2/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/message/": {
			"post": {
				"summary": "Send a message to a User or Group.",
				"description": "Send a message to a User or Group. The parameters to be included either on the JSON object or the POST body itself. If no recipient is found, a new account is created and the message is sent to the associated email or phone number if available.",
				"operationId": "sendMessage",
				"parameters": [{
					"in": "formData",
					"name": "body",
					"description": "The message body",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "data",
					"description": "A JSON Array of user-defined datum elements, each one with the following fields, if no data then this will be empty",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "dor",
					"description": "Boolean value indicating that the message will be deleted on read",
					"type": "boolean",
					"format": "boolean"
				},
				{
					"in": "query",
					"name": "recipient",
					"description": "The recipient User or Group based on address encoding",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "recipient_organization",
					"description": "The recipient organization token",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "sender_organization",
					"description": "The sender User organization token",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "ttl",
					"description": "An integer value with the number of minutes until the message expires. -1 indicates no expiration",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"204": {
						"description": "The message was sent. In that case a header will be included in the response: TT-X-Message-Id: The generated message token"
					},
					"400": {
						"description": "The provided parameters are somehow incorrect. A proper description of the error will be provided"
					},
					"404": {
						"description": "The recipient was not found. A proper description of the error will be provided"
					}
				},
				"tags": ["Message"],
				"security": []
			}
		},
		"/message/status/": {
			"put": {
				"summary": "Update the status of a message or several messages.",
				"description": "Update the status of a message or several messages.",
				"operationId": "updateMessageStatus",
				"parameters": [{
					"in": "formData",
					"name": "delivered",
					"description": "A list of message tokens to set status to Delivered",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "read",
					"description": "A list of message tokens to set status to Read",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"204": {
						"description": "The message status was updated"
					},
					"400": {
						"description": "If the provided parameters are somehow incorrect. A proper description of the error will be provided"
					},
					"404": {
						"description": "The recipient was not found. A proper description of the error will be provided"
					}
				},
				"tags": ["Message"],
				"security": []
			}
		},
		"/message/typing/": {
			"get": {
				"summary": "Notify a recipient that a particular User is typing in a conversation.",
				"description": "Notify a recipient that a particular User is typing in a conversation.",
				"operationId": "typingMessage",
				"parameters": [{
					"in": "query",
					"name": "recipient",
					"description": "The recipient is either another User or Group using address encoding",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"204": {
						"description": "The typing indicator was updated"
					},
					"400": {
						"description": "If the provided parameters are somehow incorrect. A proper description of the error will be provided"
					},
					"404": {
						"description": "The recipient was not found. A proper description of the error will be provided"
					}
				},
				"tags": ["Message"],
				"security": []
			}
		},
		"/message/typing/{recipient_address}/": {
			"delete": {
				"summary": "Notify a recipient that the User is no longer typing in a conversation.",
				"description": "Notify a recipient that the User is no longer typing in a conversation. The recipient is either another User or Group using address encoding.",
				"operationId": "deleteMessageTyping",
				"parameters": [{
					"in": "path",
					"name": "recipient_address",
					"description": "The recipient address.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"204": {
						"description": "The typing indicator was updated"
					},
					"400": {
						"description": "If the provided parameters are somehow incorrect. A proper description of the error will be provided"
					},
					"404": {
						"description": "The recipient was not found. A proper description of the error will be provided"
					}
				},
				"tags": ["Message"],
				"security": []
			}
		},
		"/message/{message_token}/": {
			"delete": {
				"summary": "Recalls the message with the following message token.",
				"description": "Recalls the message with the following message token. If the message was already recalled, no error is reported.",
				"operationId": "deleteMessage",
				"parameters": [{
					"in": "path",
					"name": "message_token",
					"description": "The message token.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"204": {
						"description": "The typing indicator was updated"
					},
					"400": {
						"description": "If the provided parameters are somehow incorrect. A proper description of the error will be provided"
					},
					"404": {
						"description": "The recipient was not found. A proper description of the error will be provided"
					},
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Message"],
				"security": []
			},
			"get": {
				"summary": "Get information about a message",
				"description": "Get information about a message",
				"operationId": "getMessage",
				"parameters": [{
					"in": "path",
					"name": "message_token",
					"description": "The message token.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Message information with the following fields",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Message"
							}
						}
					}
				},
				"tags": ["Message"],
				"security": []
			}
		},
		"/message/{message_token}/attachment/1/": {
			"get": {
				"summary": "Retrieves the attachment from the message.",
				"description": "Retrieves the attachment from the message. Currently we only support one attachment per message. if found. It returns the attached file.",
				"operationId": "getMessageAttachment",
				"parameters": [{
					"in": "path",
					"name": "message_token",
					"description": "The message token.",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Returns if the attachment is found"
					},
					"404": {
						"description": "Message is not found or it has no attachment"
					}
				},
				"tags": ["Message"],
				"security": []
			}
		},
		"/message/{message_token}/forward/": {
			"post": {
				"summary": "Forward the message to the following User or Group.",
				"description": "Forward the message to the following User or Group.",
				"operationId": "forwardMessage",
				"parameters": [{
					"in": "path",
					"name": "message_token",
					"description": "The message token.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "recipient_organization",
					"description": "The recipient organization token",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "recipient_token",
					"description": "The recipient User or Group token based on address encoding",
					"type": "string",
					"format": "string"
				},
				{
					"in": "formData",
					"name": "sender_organization",
					"description": "The sender User organization token",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Returns if the attachment is found"
					},
					"404": {
						"description": "The recipient was not found. A proper description of the error will be provided"
					},
					"204": {
						"description": "The message was correctly sent. In that case a header will be included in the response: TT-X-Message-Id: The generated message token"
					},
					"400": {
						"description": "The provided parameters are somehow incorrect. A proper description of the error will be provided"
					}
				},
				"tags": ["Message"],
				"security": []
			}
		}
	},
	"definitions": {
		"Message": {
			"properties": {
				"message_id": {
					"description": "The message token",
					"type": "string"
				},
				"sender_token": {
					"description": "The sender User token",
					"type": "string"
				},
				"sender_organization": {
					"description": "The sender User organization token",
					"type": "string"
				},
				"recipient_token": {
					"description": "The recipient User or Group token",
					"type": "string"
				},
				"recipient_organization": {
					"description": "The recipient organization token",
					"type": "string"
				},
				"created_time": {
					"description": "Message creation time according to the server",
					"type": "string"
				},
				"body": {
					"description": "The message body",
					"type": "string"
				},
				"ttl": {
					"description": "An integer value with the number of minutes until the message expires. -1 indicates no expiration",
					"type": "string"
				},
				"dor": {
					"description": "Boolean value indicating that the message will be deleted on read",
					"type": "string"
				},
				"status": {
					"description": "The message status. Possible values: New, Delivered, Read",
					"type": "string"
				},
				"attachments": {
					"description": "A JSON Array of attachment objects, each one with the following fields, if no attachment then this will be empty:",
					"type": "string"
				},
				"data": {
					"description": "A JSON Array of user-defined datum elements, each one with the following fields, if no data then this will be empty",
					"type": "string"
				}
			}
		}
	}
}