{
	"swagger": "2.0",
	"info": {
		"title": "TigerConnect Metadata API",
		"description": "The metadata system for TigerConnect messaging platform.",
		"termsOfService": "http://www.tigertext.com/developer-terms-of-use",
		"contact": {
			"name": "TigerText",
			"url": "http://www.tigertext.com/supportform/",
			"email": "info@tigertext.com"
		},
		"license": {
			"name": null,
			"url": null
		},
		"version": "v2"
	},
	"host": "developer.tigertext.me",
	"basePath": "v2/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"metadata/[group_token}/": {
			"post": {
				"summary": "Adds metadata for a User or Group based on address encoding",
				"description": "Adds metadata for a User or Group based on address encoding",
				"operationId": "addMetadata",
				"parameters": [{
					"in": "path",
					"name": "group_token",
					"description": "The group token.",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "TT-X-Organization-Key",
					"description": "The organization with which the entity is associated. Defaults to the TigerText Consumer organization",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"204 No Content": {
						"description": "The metadata was set"
					},
					"200 OK": {
						"description": "Returns the metadata in a JSON object"
					},
					"404 Not Found": {
						"description": "If the User or Group does not exist"
					},
					"400 Bad Request": {
						"description": "If the provided parameters are somehow incorrect. A proper description of the error will be provided"
					}
				},
				"tags": ["Metadata"]
			}
		}
	},
	"definitions": []
}