{
	"swagger": "2.0",
	"info": {
		"title": "Tropo",
		"description": "Add Voice, SMS, Twitter, and IM to Your Applications. Tropo is a powerful yet simple API that adds Voice, SMS, Twitter, and IM support to the programming languages you already know.",
		"termsOfService": "https://www.tropo.com/terms-policies/",
		"version": "v1"
	},
	"host": "api.tropo.com",
	"basePath": "/v1",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/applications": {
			"delete": {
				"summary": "ViewApp",
				"description": "ViewApp",
				"operationId": "viewapp",
				"parameters": [{
					"in": "query",
					"name": "Content-Type",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Create",
				"description": "Create",
				"operationId": "create",
				"parameters": [{
					"in": "query",
					"name": "Content-Type",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "Content-Type",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"put": {
				"summary": "Delete",
				"description": "Delete",
				"operationId": "delete",
				"parameters": [{
					"in": "query",
					"name": "Content-Type",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/applications/{AppId}/addresses": {
			"delete": {
				"summary": "ViewAddress",
				"description": "ViewAddress",
				"operationId": "viewaddress",
				"parameters": [{
					"in": "path",
					"name": "AppId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "applicationId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "AddToken",
				"description": "AddToken",
				"operationId": "addtoken",
				"parameters": [{
					"in": "path",
					"name": "AppId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "applicationId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "Update",
				"description": "Update",
				"operationId": "update",
				"parameters": [{
					"in": "path",
					"name": "AppId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "applicationId",
					"type": "string"
				},
				{
					"in": "query",
					"name": "Content-Type",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/exchanges": {
			"get": {
				"summary": "Delete",
				"description": "Delete",
				"operationId": "delete",
				"parameters": [{
					"in": "query",
					"name": "applicationId",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/sessions": {
			"post": {
				"summary": "ViewExchanges",
				"description": "ViewExchanges",
				"operationId": "viewexchanges",
				"parameters": [{
					"in": "query",
					"name": "Content-Type",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}