{
	"swagger": "2.0",
	"info": {
		"title": "Disqus API",
		"description": "Welcome to the Disqus Web API. The API enables developers to communicate with Disqus data from within their own applications.",
		"termsOfService": "https://help.disqus.com/customer/portal/topics/215159-terms-and-policies/articles",
		"contact": {
			"name": "Disqus",
			"url": "http://community.disqus.com/"
		},
		"version": "3.0"
	},
	"host": "disqus.com",
	"basePath": "/api/3.0",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/blacklists/list.json": {
			"n    get": {
				"summary": "Blacklists List",
				"description": "Blacklists List ",
				"operationId": "blacklists-list",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25 - Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to [] -  You may specify relations to include with your response. Choices: forum",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null - Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "Defaults to null                         Choices: domain, word, ip, user, thread_slug, email, brand_unsafe_word",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Blacklists"],
				"security": []
			}
		},
		"/blacklists/remove.json": {
			"n    post": {
				"summary": "Blacklists Remove",
				"description": "Blacklists Remove",
				"operationId": "blacklists-remove",
				"parameters": [{
					"in": "query",
					"name": "domain",
					"description": "Defaults to []                         Domain Name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "email",
					"description": "Defaults to [] - Email address (defined by RFC 5322)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ip",
					"description": "Defaults to [] - IP address in CIDR notation",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to [] - Looks up a user by ID You may look up a user by username using the username query type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "word",
					"description": "Defaults to [] - Maximum length of 200",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": ["Blacklists"],
				"security": []
			}
		},
		"/categories/details.json": {
			"n    get": {
				"summary": "Categories Details",
				"description": "n     Categories Details ",
				"operationId": "categories-details",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Looks up a category by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/categories/list.json": {
			"n    get": {
				"summary": "Categories List",
				"description": "n     Categories List ",
				"operationId": "categories-list",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/categories/listPosts.json": {
			"n    get": {
				"summary": "Categories ListPosts",
				"description": "n     Categories ListPosts ",
				"operationId": "categories-listposts",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Looks up a category by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  approved]                         Choices: unapproved, approved, spam, deleted, flagged, highlighted",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, thread",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/categories/listThreads.json": {
			"n    get": {
				"summary": "Categories ListThreads",
				"description": "n     Categories ListThreads ",
				"operationId": "categories-listthreads",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Looks up a category by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, author",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/create.json": {
			"n    post": {
				"summary": "Forums Create",
				"description": "n     Forums Create ",
				"operationId": "forums-create",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Defaults to null                         Choices: Tech, Living, Style, Business, Entertainment, Auto, Celebrity, Sports, Culture, Games, Others, News",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "Defaults to null                         Maximum length of 300",
					"type": "string"
				},
				{
					"in": "query",
					"name": "guidelines",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "short_name",
					"type": "string"
				},
				{
					"in": "query",
					"name": "website",
					"description": "URL (defined by RFC 3986)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/details.json": {
			"n    get": {
				"summary": "Forums Details",
				"description": "n     Forums Details ",
				"operationId": "forums-details",
				"parameters": [{
					"in": "query",
					"name": "attach",
					"description": "Defaults to []                         Choices: followsForum, counters",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: author",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/fixFavIconsForClassifiedForums.json": {
			"n    get": {
				"summary": "Forums FixFavIconsForClassifiedForums",
				"description": "n     Forums FixFavIconsForClassifiedForums ",
				"operationId": "forums-fixfaviconsforclassifiedforums",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/follow.json": {
			"n    post": {
				"summary": "Forums Follow",
				"description": "n     Forums Follow ",
				"operationId": "forums-follow",
				"parameters": [{
					"in": "query",
					"name": "target",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/generateInterestingContent.json": {
			"n    get": {
				"summary": "Forums GenerateInterestingContent",
				"description": "n     Forums GenerateInterestingContent ",
				"operationId": "forums-generateinterestingcontent",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/interestingForums.json": {
			"n    get": {
				"summary": "Forums InterestingForums",
				"description": "n     Forums InterestingForums ",
				"operationId": "forums-interestingforums",
				"parameters": [{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 5                         Maximum value of 100",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/listCategories.json": {
			"n    get": {
				"summary": "Forums ListCategories",
				"description": "n     Forums ListCategories ",
				"operationId": "forums-listcategories",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/listFollowers.json": {
			"n    get": {
				"summary": "Forums ListFollowers",
				"description": "n     Forums ListFollowers ",
				"operationId": "forums-listfollowers",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/listModerators.json": {
			"n    get": {
				"summary": "Forums ListModerators",
				"description": "n     Forums ListModerators ",
				"operationId": "forums-listmoderators",
				"parameters": [{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/listMostActiveUsers.json": {
			"n    get": {
				"summary": "Forums ListMostActiveUsers",
				"description": "n     Forums ListMostActiveUsers ",
				"operationId": "forums-listmostactiveusers",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: desc",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/listMostLikedUsers.json": {
			"n    get": {
				"summary": "Forums ListMostLikedUsers",
				"description": "n     Forums ListMostLikedUsers ",
				"operationId": "forums-listmostlikedusers",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: desc",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/listPosts.json": {
			"n    get": {
				"summary": "Forums ListPosts",
				"description": "n     Forums ListPosts ",
				"operationId": "forums-listposts",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  approved]                         Choices: unapproved, approved, spam, deleted, flagged, highlighted",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum number of posts to return. Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: thread",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/listThreads.json": {
			"n    get": {
				"summary": "Forums ListThreads",
				"description": "n     Forums ListThreads ",
				"operationId": "forums-listthreads",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  open,  closed]                         Choices: open, closed, killed",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, author",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Defaults to null                         Looks up a thread by ID You may pass us the &#39;ident&#39; query type instead of an ID by including &#39;forum&#39;. You may pass us the &#39;link&#39; query type to filter by URL. You must pass the &#39;forum&#39; if you do not have the Pro API Access addon.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/listUsers.json": {
			"n    get": {
				"summary": "Forums ListUsers",
				"description": "n     Forums ListUsers ",
				"operationId": "forums-listusers",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/removeModerator.json": {
			"n    post": {
				"summary": "Forums RemoveModerator",
				"description": "n     Forums RemoveModerator ",
				"operationId": "forums-removemoderator",
				"parameters": [{
					"in": "query",
					"name": "moderator",
					"description": "Looks up a moderator by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/unfollow.json": {
			"n    post": {
				"summary": "Forums Unfollow",
				"description": "n     Forums Unfollow ",
				"operationId": "forums-unfollow",
				"parameters": [{
					"in": "query",
					"name": "target",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/forums/update.json": {
			"n    post": {
				"summary": "Forums Update",
				"description": "n     Forums Update ",
				"operationId": "forums-update",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Defaults to null                         Choices: Tech, Living, Style, Business, Entertainment, Auto, Celebrity, Sports, Culture, Games, Others, News",
					"type": "string"
				},
				{
					"in": "query",
					"name": "description",
					"description": "Defaults to null                         Maximum length of 300",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name) You must be a moderator on the selected forum.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "guidelines",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "website",
					"description": "Defaults to null                         URL (defined by RFC 3986)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/imports/list.json": {
			"n    get": {
				"summary": "Imports List",
				"description": "n     Imports List ",
				"operationId": "imports-list",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/create.json": {
			"n    post": {
				"summary": "Posts Create",
				"description": "n     Posts Create ",
				"operationId": "posts-create",
				"parameters": [{
					"in": "query",
					"name": "author_email",
					"description": "Defaults to null                         Email address (defined by RFC 5322)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "author_name",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "author_url",
					"description": "Defaults to null                         URL (defined by RFC 3986)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "ip_address",
					"description": "Defaults to null                         IP address (defined by RFC 5322)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"type": "string"
				},
				{
					"in": "query",
					"name": "parent",
					"description": "Defaults to null                         Looks up a post by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "state",
					"description": "Defaults to null                         Choices: unapproved, approved, spam, killed",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Defaults to null                         Looks up a thread by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/details.json": {
			"n    get": {
				"summary": "Posts Details",
				"description": "n     Posts Details ",
				"operationId": "posts-details",
				"parameters": [{
					"in": "query",
					"name": "post",
					"description": "Looks up a post by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, thread",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/getContext.json": {
			"n    get": {
				"summary": "Posts GetContext",
				"description": "n     Posts GetContext ",
				"operationId": "posts-getcontext",
				"parameters": [{
					"in": "query",
					"name": "depth",
					"description": "Defaults to 10                         Minimum value of 1 Maximum value of 10",
					"type": "string"
				},
				{
					"in": "query",
					"name": "post",
					"description": "Looks up a post by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, thread",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/list.json": {
			"n    get": {
				"summary": "Posts List",
				"description": "n     Posts List ",
				"operationId": "posts-list",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Defaults to null                         Looks up a category by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Defaults to all forums you moderate. Use :all to retrieve all forums.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  approved]                         Choices: unapproved, approved, spam, deleted, flagged, highlighted",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "offset",
					"description": "Defaults to 0                         Deprecated: Please see documentation on cursors",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, thread",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Defaults to null                         Looks up a thread by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/listPopular.json": {
			"n    get": {
				"summary": "Posts ListPopular",
				"description": "n     Posts ListPopular ",
				"operationId": "posts-listpopular",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Defaults to all forums you moderate. Use :all to retrieve all forums.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  approved]                         Choices: unapproved, approved, spam, deleted, flagged, highlighted",
					"type": "string"
				},
				{
					"in": "query",
					"name": "interval",
					"description": "Defaults to 7d                         Choices: 1h, 6h, 12h, 1d, 3d, 7d, 30d, 60d, 90d",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "offset",
					"description": "Defaults to 0",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to popular                         Choices: popular, best",
					"type": "string"
				},
				{
					"in": "query",
					"name": "organization",
					"description": "Defaults to null                         Looks up an organization by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, thread",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Defaults to null                         Looks up a thread by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/remove.json": {
			"n    post": {
				"summary": "Posts Remove",
				"description": "n     Posts Remove ",
				"operationId": "posts-remove",
				"parameters": [{
					"in": "query",
					"name": "post",
					"description": "Looks up a post by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/report.json": {
			"n    post": {
				"summary": "Posts Report",
				"description": "n     Posts Report ",
				"operationId": "posts-report",
				"parameters": [{
					"in": "query",
					"name": "post",
					"description": "Looks up a post by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/restore.json": {
			"n    post": {
				"summary": "Posts Restore",
				"description": "n     Posts Restore ",
				"operationId": "posts-restore",
				"parameters": [{
					"in": "query",
					"name": "post",
					"description": "Looks up a post by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/spam.json": {
			"n    post": {
				"summary": "Posts Spam",
				"description": "n     Posts Spam ",
				"operationId": "posts-spam",
				"parameters": [{
					"in": "query",
					"name": "post",
					"description": "Looks up a post by ID You must be a moderator on the selected post&#39;s forum.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/update.json": {
			"n    post": {
				"summary": "Posts Update",
				"description": "n     Posts Update ",
				"operationId": "posts-update",
				"parameters": [{
					"in": "query",
					"name": "message",
					"type": "string"
				},
				{
					"in": "query",
					"name": "post",
					"description": "You must be the author of the post or a moderator on the applicable forum.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/posts/vote.json": {
			"n    post": {
				"summary": "Posts Vote",
				"description": "n     Posts Vote ",
				"operationId": "posts-vote",
				"parameters": [{
					"in": "query",
					"name": "post",
					"description": "Looks up a post by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "vote",
					"description": "Choices: -1, 0, 1",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/close.json": {
			"n    post": {
				"summary": "Threads Close",
				"description": "n     Threads Close ",
				"operationId": "threads-close",
				"parameters": [{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You must be a moderator on the selected thread&#39;s forum. You may pass us the &#39;ident&#39; query type instead of an ID by including &#39;forum&#39;. You may pass us the &#39;link&#39; query type to filter by URL. You must pass the &#39;forum&#39; if you do not have the Pro API Access addon.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/create.json": {
			"n    post": {
				"summary": "Threads Create",
				"description": "n     Threads Create ",
				"operationId": "threads-create",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Defaults to null                         Looks up a category by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "date",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "identifier",
					"description": "Defaults to null                         Maximum length of 300",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "slug",
					"description": "Defaults to null                         Alpha-numeric slug Maximum length of 200",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title",
					"type": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "Defaults to null                         URL (defined by RFC 3986) Maximum length of 500",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/details.json": {
			"n    get": {
				"summary": "Threads Details",
				"description": "n     Threads Details ",
				"operationId": "threads-details",
				"parameters": [{
					"in": "query",
					"name": "attach",
					"description": "Defaults to []                         Choices: topics",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, author, category",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You may pass us the &#39;ident&#39; or &#39;link&#39; query types instead of an ID by including &#39;forum&#39;.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/list.json": {
			"n    get": {
				"summary": "Threads List",
				"description": "n     Threads List ",
				"operationId": "threads-list",
				"parameters": [{
					"in": "query",
					"name": "attach",
					"description": "Defaults to []                         Choices: topics",
					"type": "string"
				},
				{
					"in": "query",
					"name": "author",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "category",
					"description": "Defaults to null                         Looks up a category by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  open,  closed]                         Choices: open, closed, killed",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, author, category",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Defaults to null                         Looks up a thread by ID You may pass us the &#39;ident&#39; query type instead of an ID by including &#39;forum&#39;. You may pass us the &#39;link&#39; query type to filter by URL. You must pass the &#39;forum&#39; if you do not have the Pro API Access addon.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/listHot.json": {
			"n    get": {
				"summary": "Threads ListHot",
				"description": "n     Threads ListHot ",
				"operationId": "threads-listhot",
				"parameters": [{
					"in": "query",
					"name": "author",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "category",
					"description": "Defaults to null                         Looks up a category by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  open,  closed]                         Choices: open, closed, killed",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, author, category",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/listPopular.json": {
			"n    get": {
				"summary": "Threads ListPopular",
				"description": "n     Threads ListPopular ",
				"operationId": "threads-listpopular",
				"parameters": [{
					"in": "query",
					"name": "category",
					"description": "Defaults to null                         Looks up a category by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "interval",
					"description": "Defaults to 7d                         Choices: 1h, 6h, 12h, 1d, 3d, 7d, 30d, 90d",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, author, category",
					"type": "string"
				},
				{
					"in": "query",
					"name": "with_top_post",
					"description": "Defaults to false",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/listPosts.json": {
			"n    get": {
				"summary": "Threads ListPosts",
				"description": "n     Threads ListPosts ",
				"operationId": "threads-listposts",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  approved]                         Choices: unapproved, approved, spam, deleted, flagged, highlighted",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, thread",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You may pass us the &#39;ident&#39; or &#39;link&#39; query types instead of an ID by including &#39;forum&#39;.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/listUsersVotedThread.json": {
			"n    get": {
				"summary": "Threads ListUsersVotedThread",
				"description": "n     Threads ListUsersVotedThread ",
				"operationId": "threads-listusersvotedthread",
				"parameters": [{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 10                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "prioritize_followed",
					"description": "Defaults to true                         Prioritize followed users who voted on this thread (must be authenticated)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "vote",
					"description": "Defaults to 1                         Choices: -1, 0, 1",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/open.json": {
			"n    post": {
				"summary": "Threads Open",
				"description": "n     Threads Open ",
				"operationId": "threads-open",
				"parameters": [{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You must be a moderator on the selected thread&#39;s forum. You may pass us the &#39;ident&#39; query type instead of an ID by including &#39;forum&#39;. You may pass us the &#39;link&#39; query type to filter by URL. You must pass the &#39;forum&#39; if you do not have the Pro API Access addon.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/remove.json": {
			"n    post": {
				"summary": "Threads Remove",
				"description": "n     Threads Remove ",
				"operationId": "threads-remove",
				"parameters": [{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You must be a moderator on the selected thread&#39;s forum. You may pass us the &#39;ident&#39; query type instead of an ID by including &#39;forum&#39;. You may pass us the &#39;link&#39; query type to filter by URL. You must pass the &#39;forum&#39; if you do not have the Pro API Access addon.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/restore.json": {
			"n    post": {
				"summary": "Threads Restore",
				"description": "n     Threads Restore ",
				"operationId": "threads-restore",
				"parameters": [{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You must be a moderator on the selected thread&#39;s forum. You may pass us the &#39;ident&#39; query type instead of an ID by including &#39;forum&#39;. You may pass us the &#39;link&#39; query type to filter by URL. You must pass the &#39;forum&#39; if you do not have the Pro API Access addon.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/set.json": {
			"n    get": {
				"summary": "Threads Set",
				"description": "n     Threads Set ",
				"operationId": "threads-set",
				"parameters": [{
					"in": "query",
					"name": "attach",
					"description": "Defaults to []                         Choices: topics",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, author, category",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You may pass us the &#39;ident&#39; query type instead of an ID by including &#39;forum&#39;. You may pass us the &#39;link&#39; query type to filter by URL. You must pass the &#39;forum&#39; if you do not have the Pro API Access addon.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/spam.json": {
			"n    post": {
				"summary": "Threads Spam",
				"description": "n     Threads Spam ",
				"operationId": "threads-spam",
				"parameters": [{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You must be a moderator on the selected thread&#39;s forum. You may pass us the &#39;ident&#39; or &#39;link&#39; query types instead of an ID by including &#39;forum&#39;.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/subscribe.json": {
			"n    post": {
				"summary": "Threads Subscribe",
				"description": "n     Threads Subscribe ",
				"operationId": "threads-subscribe",
				"parameters": [{
					"in": "query",
					"name": "email",
					"description": "Defaults to null                         Email address (defined by RFC 5322)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/unsubscribe.json": {
			"n    post": {
				"summary": "Threads Unsubscribe",
				"description": "n     Threads Unsubscribe ",
				"operationId": "threads-unsubscribe",
				"parameters": [{
					"in": "query",
					"name": "email",
					"description": "Defaults to null                         Email address (defined by RFC 5322)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/update.json": {
			"n    post": {
				"summary": "Threads Update",
				"description": "n     Threads Update ",
				"operationId": "threads-update",
				"parameters": [{
					"in": "query",
					"name": "author",
					"description": "Defaults to null                         You must be a moderator on the applicable forum to change a thread author. You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "category",
					"description": "Defaults to null                         Looks up a category by ID",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "identifier",
					"description": "Defaults to null                         To update a specific identifier, provide &#39;old_identifier&#39;.  If no identifier exists, a new one is created. Maximum length of 300",
					"type": "string"
				},
				{
					"in": "query",
					"name": "message",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "old_identifier",
					"description": "Defaults to null                         Only valid if &#39;identifier&#39; is provided.  See &#39;identifier&#39; for more information. Maximum length of 300",
					"type": "string"
				},
				{
					"in": "query",
					"name": "slug",
					"description": "Defaults to null                         Alpha-numeric slug Maximum length of 200",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "You must be the author of the post or a moderator on the applicable forum.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "title",
					"description": "Defaults to null                         Maximum length of 200",
					"type": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "Defaults to null                         URL (defined by RFC 3986) Maximum length of 500",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/threads/vote.json": {
			"n    post": {
				"summary": "Threads Vote",
				"description": "n     Threads Vote ",
				"operationId": "threads-vote",
				"parameters": [{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "thread",
					"description": "Looks up a thread by ID You may pass us the &#39;ident&#39; or &#39;link&#39; query types instead of an ID by including &#39;forum&#39;.",
					"type": "string"
				},
				{
					"in": "query",
					"name": "vote",
					"description": "Choices: -1, 0, 1",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/details.json": {
			"n    get": {
				"summary": "Users Details",
				"description": "n     Users Details ",
				"operationId": "users-details",
				"parameters": [{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/follow.json": {
			"n    post": {
				"summary": "Users Follow",
				"description": "n     Users Follow ",
				"operationId": "users-follow",
				"parameters": [{
					"in": "query",
					"name": "target",
					"description": "Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/interestingUsers.json": {
			"n    get": {
				"summary": "Users InterestingUsers",
				"description": "n     Users InterestingUsers ",
				"operationId": "users-interestingusers",
				"parameters": [{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 5                         Maximum value of 100",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listActiveForums.json": {
			"n    get": {
				"summary": "Users ListActiveForums",
				"description": "n     Users ListActiveForums ",
				"operationId": "users-listactiveforums",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listActiveThreads.json": {
			"n    get": {
				"summary": "Users ListActiveThreads",
				"description": "n     Users ListActiveThreads ",
				"operationId": "users-listactivethreads",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Defaults to null                         Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  open,  closed]                         Choices: open, closed, killed",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, author, category",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listActivity.json": {
			"n    get": {
				"summary": "Users ListActivity",
				"description": "n     Users ListActivity ",
				"operationId": "users-listactivity",
				"parameters": [{
					"in": "query",
					"name": "anon_user",
					"description": "Defaults to null                         Looks up an anonymous user by unique hash",
					"type": "string"
				},
				{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  user,  replies,  following]                         Choices: user, replies, following",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to [  forum,  thread]                         You may specify relations to include with your response. Choices: forum, thread",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listFollowers.json": {
			"n    get": {
				"summary": "Users ListFollowers",
				"description": "n     Users ListFollowers ",
				"operationId": "users-listfollowers",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listFollowing.json": {
			"n    get": {
				"summary": "Users ListFollowing",
				"description": "n     Users ListFollowing ",
				"operationId": "users-listfollowing",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listFollowingChannels.json": {
			"n    get": {
				"summary": "Users ListFollowingChannels",
				"description": "n     Users ListFollowingChannels ",
				"operationId": "users-listfollowingchannels",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "excludeModerated",
					"description": "Defaults to false                         Whether to exclude Channels that the user moderates fromthe results",
					"type": "string"
				},
				{
					"in": "query",
					"name": "excludeOwned",
					"description": "Defaults to false                         Whether to exclude Channels that the user owns from the results",
					"type": "string"
				},
				{
					"in": "query",
					"name": "includeFollowedPrimaryForums",
					"description": "Defaults to false                         Whether to include Channels where the user follows the primary forum",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listFollowingForums.json": {
			"n    get": {
				"summary": "Users ListFollowingForums",
				"description": "n     Users ListFollowingForums ",
				"operationId": "users-listfollowingforums",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listForums.json": {
			"n    get": {
				"summary": "Users ListForums",
				"description": "n     Users ListForums ",
				"operationId": "users-listforums",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listModeratedChannels.json": {
			"n    get": {
				"summary": "Users ListModeratedChannels",
				"description": "n     Users ListModeratedChannels ",
				"operationId": "users-listmoderatedchannels",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "excludeOwned",
					"description": "Defaults to false                         Whether to exclude Channels that the user owns from the results",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listMostActiveForums.json": {
			"n    get": {
				"summary": "Users ListMostActiveForums",
				"description": "n     Users ListMostActiveForums ",
				"operationId": "users-listmostactiveforums",
				"parameters": [{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listOwnedChannels.json": {
			"n    get": {
				"summary": "Users ListOwnedChannels",
				"description": "n     Users ListOwnedChannels ",
				"operationId": "users-listownedchannels",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/listPosts.json": {
			"n    get": {
				"summary": "Users ListPosts",
				"description": "n     Users ListPosts ",
				"operationId": "users-listposts",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "include",
					"description": "Defaults to [  approved]                         Choices: unapproved, approved, spam, deleted, flagged, highlighted",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to desc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum, thread",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to null                         Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/removeFollower.json": {
			"n    post": {
				"summary": "Users RemoveFollower",
				"description": "n     Users RemoveFollower ",
				"operationId": "users-removefollower",
				"parameters": [{
					"in": "query",
					"name": "follower",
					"description": "Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/unfollow.json": {
			"n    post": {
				"summary": "Users Unfollow",
				"description": "n     Users Unfollow ",
				"operationId": "users-unfollow",
				"parameters": [{
					"in": "query",
					"name": "target",
					"description": "Looks up a user by ID You may look up a user by username using the &#39;username&#39; query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/users/updateProfile.json": {
			"n    post": {
				"summary": "Users UpdateProfile",
				"description": "n     Users UpdateProfile ",
				"operationId": "users-updateprofile",
				"parameters": [{
					"in": "query",
					"name": "about",
					"description": "Defaults to ",
					"type": "string"
				},
				{
					"in": "query",
					"name": "location",
					"description": "Defaults to                          Maximum length of 255",
					"type": "string"
				},
				{
					"in": "query",
					"name": "name",
					"description": "Defaults to                          Minimum length of 2 Maximum length of 30",
					"type": "string"
				},
				{
					"in": "query",
					"name": "url",
					"description": "Defaults to                          URL (defined by RFC 3986) Maximum length of 200",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/whitelists/list.json": {
			"n    get": {
				"summary": "Whitelists List",
				"description": "n     Whitelists List ",
				"operationId": "whitelists-list",
				"parameters": [{
					"in": "query",
					"name": "cursor",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "limit",
					"description": "Defaults to 25                         Maximum value of 100",
					"type": "string"
				},
				{
					"in": "query",
					"name": "order",
					"description": "Defaults to asc                         Choices: asc, desc",
					"type": "string"
				},
				{
					"in": "query",
					"name": "query",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "related",
					"description": "Defaults to []                         You may specify relations to include with your response. Choices: forum",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since",
					"description": "Defaults to null                         Unix timestamp (or ISO datetime standard)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "since_id",
					"description": "Defaults to null",
					"type": "string"
				},
				{
					"in": "query",
					"name": "type",
					"description": "Defaults to null                         Choices: email, user",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/whitelists/remove.json": {
			"n    post": {
				"summary": "Whitelists Remove",
				"description": "n     Whitelists Remove ",
				"operationId": "whitelists-remove",
				"parameters": [{
					"in": "query",
					"name": "email",
					"description": "Defaults to []                         Email address (defined by RFC 5322)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "forum",
					"description": "Looks up a forum by ID (aka short name)",
					"type": "string"
				},
				{
					"in": "query",
					"name": "user",
					"description": "Defaults to []  -  Looks up a user by ID You may look up a user by username using the username query type.",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}