{
	"swagger": "2.0",
	"info": {
		"title": "API for Top Categories Reported On Firearm Traces with a Recovery",
		"description": "A key component of the Bureau of Alcohol, Tobacco, Firearms and Explosivesu2019 (ATF) enforcement mission is the tracing of firearms on behalf of thousands of Federal, State, local and foreign law enforcement agencies. Firearms trace data is critically important information developed by ATF. ATF has prepared the following state-by-state trace data which is intended to provide the public with insight into firearms recoveri",
		"version": "v1"
	},
	"host": "data.atf.gov",
	"basePath": "/resource/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"top-categories-reported-on-firearm-traces-with-a-recovery.json": {
			"get": {
				"summary": "Top Categories Reported On Firearm Traces ",
				"description": "Top Categories Reported On Firearm Traces ",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "analytical_criteria_used_to_compile_the_enclosed_statistics",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "categories",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "count",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "notes",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "state",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "year",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": ["firearms",
				" guns"],
				"security": []
			}
		}
	},
	"definitions": []
}