{
	"swagger": "2.0",
	"info": {
		"title": "API Time To Crime Rates For Firearms With A Recovery",
		"description": "A key component of the Bureau of Alcohol, Tobacco, Firearms and Explosivesu2019 (ATF) enforcement mission is the tracing of firearms on behalf of thousands of Federal, State, local and foreign law enforcement agencies. Firearms trace data is critically important information developed by ATF. ATF has prepared the following state-by-state trace data which is intended to provide the public with insight into firearms recoveries.",
		"version": "v1"
	},
	"host": "data.atf.gov",
	"basePath": "/resource/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"time-to-crime-rates-for-firearms-with-a-recovery.json": {
			"get": {
				"summary": "Crime Rates For Firearms",
				"description": "Crime Rates For Firearms",
				"operationId": "",
				"parameters": [{
					"in": "query",
					"name": "average_time_to_crime",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "state",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "under_3_months",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "year",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_1_year_to_under_3_years",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_2_years_to_under_3_years",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_3_months_to_under_7_months",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_3_years_and_over",
					"type": "string",
					"format": "string"
				},
				{
					"in": "query",
					"name": "_7_months_to_under_1_year",
					"type": "string",
					"format": "string"
				}],
				"responses": {
					"200": {
						"description": "Successful response"
					}
				},
				"tags": ["firearms",
				" guns",
				" crime"],
				"security": []
			}
		}
	},
	"definitions": []
}