{
	"swagger": "2.0",
	"info": {
		"title": "CloudFlare Zone Settings API",
		"description": "The API for managing CloudFlare Zone Settings",
		"termsOfService": "https://www.cloudflare.com/terms/",
		"version": null
	},
	"host": "api.cloudflare.com",
	"basePath": "/client/v4",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/zones/:zone_identifier/settings": {
			"get": {
				"summary": "Available settings for your user in relation to a zone",
				"description": "Available settings for your user in relation to a zone",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Edit settings for a zone",
				"description": "Edit settings for a zone",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "items",
					"description": "One or more zone setting objects. Must contain an ID and a value.tttttttttttttt[{id:always_online,value:on},{id:browser_cache_ttl,value:18000},{id:ip_geolocation,value:off}]",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/advanced_ddos": {
			"get": {
				"summary": "Advanced protection from Distributed Denial of Service",
				"description": "Advanced protection from Distributed Denial of Service ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/always_online": {
			"get": {
				"summary": "When enabled, Always Online will serve pages from our cache if your server is offline",
				"description": "When enabled, Always Online will serve pages from our cache if your server is offline ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "When enabled, Always Online will serve pages from our cache if your server is offline",
				"description": "When enabled, Always Online will serve pages from our cache if your server is offline ",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttton",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/browser_cache_ttl": {
			"get": {
				"summary": "Browser Cache TTL",
				"description": "Browser Cache TTL ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Browser Cache TTL",
				"description": "Browser Cache TTL ",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttt14400",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/browser_check": {
			"get": {
				"summary": "Browser Integrity Check is similar to Bad Behavior and looks for common HTTP headers abused most commonly by spammers and denies access to your page",
				"description": "Browser Integrity Check is similar to Bad Behavior and looks for common HTTP headers abused most commonly by spammers and denies access to your page",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Browser Integrity Check is similar to Bad Behavior and looks for common HTTP headers abused most commonly by spammers and denies access to your page",
				"description": "Browser Integrity Check is similar to Bad Behavior and looks for common HTTP headers abused most commonly by spammers and denies access to your page",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttton",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/cache_level": {
			"get": {
				"summary": "Cache Level functions based off the setting level",
				"description": "Cache Level functions based off the setting level",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Cache Level functions based off the setting level",
				"description": "Cache Level functions based off the setting level",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttaggressive",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/challenge_ttl": {
			"get": {
				"summary": "Specify how long a visitor is allowed access to your site after successfully completing a challenge",
				"description": "Specify how long a visitor is allowed access to your site after successfully completing a challenge ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Specify how long a visitor is allowed access to your site after successfully completing a challenge",
				"description": "Specify how long a visitor is allowed access to your site after successfully completing a challenge ",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttt1800",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/development_mode": {
			"get": {
				"summary": "Development Mode temporarily allows you to enter development mode for your websites if you need to make changes to your site",
				"description": "Development Mode temporarily allows you to enter development mode for your websites if you need to make changes to your site",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Development Mode temporarily allows you to enter development mode for your websites if you need to make changes to your site",
				"description": "Development Mode temporarily allows you to enter development mode for your websites if you need to make changes to your site",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/email_obfuscation": {
			"get": {
				"summary": "Encrypt email adresses on your web page from bots, while keeping them visible to humans",
				"description": "Encrypt email adresses on your web page from bots, while keeping them visible to humans",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Encrypt email adresses on your web page from bots, while keeping them visible to humans",
				"description": "Encrypt email adresses on your web page from bots, while keeping them visible to humans",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttton",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/hotlink_protection": {
			"get": {
				"summary": "When enabled, the Hotlink Protection option ensures that other sites cannot suck up your bandwidth by building pages that use images hosted on your site",
				"description": "When enabled, the Hotlink Protection option ensures that other sites cannot suck up your bandwidth by building pages that use images hosted on your site",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "When enabled, the Hotlink Protection option ensures that other sites cannot suck up your bandwidth by building pages that use images hosted on your site",
				"description": "When enabled, the Hotlink Protection option ensures that other sites cannot suck up your bandwidth by building pages that use images hosted on your site",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/ipv6": {
			"get": {
				"summary": "Enable IPv6 on all subdomains that are CloudFlare enabled",
				"description": "Enable IPv6 on all subdomains that are CloudFlare enabled",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Enable IPv6 on all subdomains that are CloudFlare enabled",
				"description": "Enable IPv6 on all subdomains that are CloudFlare enabled",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/ip_geolocation": {
			"get": {
				"summary": "Enable IP Geolocation to have CloudFlare geolocate visitors to your website and pass the country code to you",
				"description": "Enable IP Geolocation to have CloudFlare geolocate visitors to your website and pass the country code to you",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Enable IP Geolocation to have CloudFlare geolocate visitors to your website and pass the country code to you",
				"description": "Enable IP Geolocation to have CloudFlare geolocate visitors to your website and pass the country code to you",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttton",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/minify": {
			"get": {
				"summary": "Automatically minify certain assets for your website",
				"description": "Automatically minify certain assets for your website ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Automatically minify certain assets for your website",
				"description": "Automatically minify certain assets for your website ",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "html",
					"description": "Automatically minify all HTML for your websitettttttttttttttttttttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "query",
					"name": "js",
					"description": "Automatically minify all JavaScript for your websitettttttttttttttttttttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttt{css:off,html:off,js:off}ttttttttttttttttttttttttttttShow definition &raquo;ttttttttttttttttttttttttttttttttttName /typettttttttttDescription /examplettttttttttConstraintstttttttttttttttttttttttttttttttttttttttttttttttttttcssttttttttttttstring",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/mirage": {
			"get": {
				"summary": "Automatically optimize image loading for website visitors on mobile devices",
				"description": "Automatically optimize image loading for website visitors on mobile devices ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Automatically optimize image loading for website visitors on mobile devices",
				"description": "Automatically optimize image loading for website visitors on mobile devices ",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/mobile_redirect": {
			"get": {
				"summary": "Automatically redirect visitors on mobile devices to a mobile-optimized subdomain",
				"description": "Automatically redirect visitors on mobile devices to a mobile-optimized subdomain ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Automatically redirect visitors on mobile devices to a mobile-optimized subdomain",
				"description": "Automatically redirect visitors on mobile devices to a mobile-optimized subdomain ",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "mobile_subdomain",
					"description": "Which subdomain prefix you wish to redirect visitors on mobile devices to (subdomain must already exist).ttttttttttttttttttttttttttttttttm",
					"type": "string"
				},
				{
					"in": "query",
					"name": "strip_uri",
					"description": "Whether to drop the current page path and redirect to the mobile subdomain URL root or to keep the path and redirect to the same page on the mobile subdomainttttttttttttttttttttttttttttttttfalse",
					"type": "string"
				},
				{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttt{status:off,mobile_subdomain:m,strip_uri:false}ttttttttttttttttttttttttttttShow definition &raquo;ttttttttttttttttttttttttttttttttttName /typettttttttttDescription /examplettttttttttConstraintstttttttttttttttttttttttttttttttttttttttttttttttttttstatusttttttttttttstring",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/origin_error_page_pass_thru": {
			"get": {
				"summary": "CloudFlare will proxy customer error pages on any 502,504 errors on origin server instead of showing a default CloudFlare error page",
				"description": "CloudFlare will proxy customer error pages on any 502,504 errors on origin server instead of showing a default CloudFlare error page",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "CloudFlare will proxy customer error pages on any 502,504 errors on origin server instead of showing a default CloudFlare error page",
				"description": "CloudFlare will proxy customer error pages on any 502,504 errors on origin server instead of showing a default CloudFlare error page",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/polish": {
			"get": {
				"summary": "Strips metadata and compresses your images for faster page load times",
				"description": "Strips metadata and compresses your images for faster page load times",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Strips metadata and compresses your images for faster page load times",
				"description": "Strips metadata and compresses your images for faster page load times",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/prefetch_preload": {
			"get": {
				"summary": "CloudFlare will prefetch any URLs that are included in the response headers",
				"description": "CloudFlare will prefetch any URLs that are included in the response headers",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "CloudFlare will prefetch any URLs that are included in the response headers",
				"description": "CloudFlare will prefetch any URLs that are included in the response headers",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/response_buffering": {
			"get": {
				"summary": "Enables or disables buffering of responses from the proxied server",
				"description": "Enables or disables buffering of responses from the proxied server",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Enables or disables buffering of responses from the proxied server",
				"description": "Enables or disables buffering of responses from the proxied server",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/rocket_loader": {
			"get": {
				"summary": "Rocket Loader is a general-purpose asynchronous JavaScript loader coupled with a lightweight virtual browser which can safely run any JavaScript code after window",
				"description": "Rocket Loader is a general-purpose asynchronous JavaScript loader coupled with a lightweight virtual browser which can safely run any JavaScript code after window",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Rocket Loader is a general-purpose asynchronous JavaScript loader coupled with a lightweight virtual browser which can safely run any JavaScript code after window",
				"description": "Rocket Loader is a general-purpose asynchronous JavaScript loader coupled with a lightweight virtual browser which can safely run any JavaScript code after window",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/security_header": {
			"get": {
				"summary": "CloudFlare security header for a zone",
				"description": "CloudFlare security header for a zone",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "CloudFlare security header for a zone",
				"description": "CloudFlare security header for a zone",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "include_subdomains",
					"description": "Include all subdomains for strict transport securitytttttttttttttttttttttttttttttttttttttttttttttttttttrue",
					"type": "string"
				},
				{
					"in": "query",
					"name": "max_age",
					"description": "Max age in seconds of the strict transport securitytttttttttttttttttttttttttttttttttttttttttttttttttt86400",
					"type": "string"
				},
				{
					"in": "query",
					"name": "nosniff",
					"description": "Whether or not to include X-Content-Type-Options: nosniff headertttttttttttttttttttttttttttttttttttttttttttttttttttrue",
					"type": "string"
				},
				{
					"in": "query",
					"name": "value",
					"description": "{strict_transport_security:{enabled:true,max_age:86400,include_subdomains:true,nosniff:true}}ttttttttttttttttttttttttttttShow definition &raquo;ttttttttttttttttttttttttttttttttttName /typettttttttttDescription /examplettttttttttConstraintstttttttttttttttttttttttttttttttttttttttttttttttttttstrict_transport_securityttttttttttttobject",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/security_level": {
			"get": {
				"summary": "Choose the appropriate security profile for your website, which will automatically adjust each of the security settings",
				"description": "Choose the appropriate security profile for your website, which will automatically adjust each of the security settings",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Choose the appropriate security profile for your website, which will automatically adjust each of the security settings",
				"description": "Choose the appropriate security profile for your website, which will automatically adjust each of the security settings",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttmedium",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/server_side_exclude": {
			"get": {
				"summary": "If there is sensitive content on your website that you want visible to real visitors, but that you want to hide from suspicious visitors, all you have to do is wrap the content with CloudFlare SSE tags",
				"description": "If there is sensitive content on your website that you want visible to real visitors, but that you want to hide from suspicious visitors, all you have to do is wrap the content with CloudFlare SSE tags",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "If there is sensitive content on your website that you want visible to real visitors, but that you want to hide from suspicious visitors, all you have to do is wrap the content with CloudFlare SSE tags",
				"description": "If there is sensitive content on your website that you want visible to real visitors, but that you want to hide from suspicious visitors, all you have to do is wrap the content with CloudFlare SSE tags",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingtttttttttttttton",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/sort_query_string_for_cache": {
			"get": {
				"summary": "CloudFlare will treat files with the same query strings as the same file in cache, regardless of the order of the query strings",
				"description": "CloudFlare will treat files with the same query strings as the same file in cache, regardless of the order of the query strings",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "CloudFlare will treat files with the same query strings as the same file in cache, regardless of the order of the query strings",
				"description": "CloudFlare will treat files with the same query strings as the same file in cache, regardless of the order of the query strings",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/ssl": {
			"get": {
				"summary": "SSL encrypts your visitor&#39;s connection and safeguards credit card numbers and other personal data to and from your website",
				"description": "SSL encrypts your visitor&#39;s connection and safeguards credit card numbers and other personal data to and from your website",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "SSL encrypts your visitor&#39;s connection and safeguards credit card numbers and other personal data to and from your website",
				"description": "SSL encrypts your visitor&#39;s connection and safeguards credit card numbers and other personal data to and from your website",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/tls_1_2_only": {
			"get": {
				"summary": "Enable Crypto TLS 1",
				"description": "Enable Crypto TLS 1",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Enable Crypto TLS 1",
				"description": "Enable Crypto TLS 1",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/tls_client_auth": {
			"get": {
				"summary": "TLS Client Auth requires CloudFlare to connect to your origin server using a client certificate",
				"description": "TLS Client Auth requires CloudFlare to connect to your origin server using a client certificate ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "TLS Client Auth requires CloudFlare to connect to your origin server using a client certificate",
				"description": "TLS Client Auth requires CloudFlare to connect to your origin server using a client certificate ",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "editable",
					"description": "Whether or not this setting can be modified for this zone (based on your CloudFlare plan level)tttttttttttttttttttttttttttttttttrue",
					"type": "string"
				},
				{
					"in": "query",
					"name": "modified_on",
					"description": "last time this setting was modifiedtttttttttttttttttttttttttttttttt\2014-01-01T05:20:00.12345Z\",
					"type": "string"
				},
				{
					"in": "query",
					"name": "value",
					"description": "TLS Client Auth requires CloudFlare to connect to your origin server using a client certificate (Enterprise Only)ttttttttttttttttttttttttttttttttttttttttttShow definition &raquo;ttttttttttttttttttttttttttttttttttName /typettttttttttDescription /examplettttttttttConstraintstttttttttttttttttttttttttttttttttttttttttttttttttttidttttttttttttstring",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/true_client_ip_header": {
			"get": {
				"summary": "Allows customer to continue to use True Client IP",
				"description": "Allows customer to continue to use True Client IP ",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Allows customer to continue to use True Client IP",
				"description": "Allows customer to continue to use True Client IP ",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/zones/:zone_identifier/settings/waf": {
			"get": {
				"summary": "The WAF examines HTTP requests to your website",
				"description": "The WAF examines HTTP requests to your website",
				"operationId": "cloudflare-zone-settings-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "The WAF examines HTTP requests to your website",
				"description": "The WAF examines HTTP requests to your website",
				"operationId": "cloudflare-zone-settings-api",
				"parameters": [{
					"in": "query",
					"name": "value",
					"description": "Value of the zone settingttttttttttttttoff",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}