{
	"swagger": "2.0",
	"info": {
		"title": "CloudFlare Organization Members API",
		"description": "The API for managing CloudFlare Organization Members",
		"termsOfService": "https://www.cloudflare.com/terms/",
		"version": null
	},
	"host": "api.cloudflare.com",
	"basePath": "/client/v4",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/organizations/:organization_identifier/members": {
			"get": {
				"summary": "List all members of a organization",
				"description": "List all members of a organization",
				"operationId": "cloudflare-organization-members-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/organizations/:organization_identifier/members/:identifier": {
			"delete": {
				"summary": "Remove a member from an organization",
				"description": "Remove a member from an organization",
				"operationId": "cloudflare-organization-members-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "Get information about a specific member of an organization",
				"description": "Get information about a specific member of an organization",
				"operationId": "cloudflare-organization-members-api",
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"patch": {
				"summary": "Change the Roles of an Organization&#39;s Member",
				"description": "Change the Roles of an Organization&#39;s Member",
				"operationId": "cloudflare-organization-members-api",
				"parameters": [{
					"in": "query",
					"name": "roles",
					"description": "Array of Roles associated with this Membertttttttttttttt[3536bcfad5faccb999b47003c79917fb]",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-EMAIL",
					"description": "Email address associated with your account",
					"type": "string"
				},
				{
					"in": "header",
					"name": "X-AUTH-KEY",
					"description": "API key generated on the My Account page",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}