{
	"swagger": "2.0",
	"info": {
		"title": "Twilio Conferences API",
		"description": "Twilio is a cloud communications Infrastructure as a Service(IaaS) company based in San Francisco, California. Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs. Twilio's services are accessed over HTTP and are billed based on usage.",
		"termsOfService": "https://www.twilio.com/legal/tos",
		"version": "2010-04-01"
	},
	"host": "api.twilio.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Accounts/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}{mediaTypeExtension}": {
			"delete": {
				"summary": "",
				"description": "Kick this participant from the conference.",
				"operationId": "kick-this-participant-from-the-conference",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "CallSid"
				},
				{
					"in": "path",
					"name": "ConferenceSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Returns a representation of this participant.",
				"operationId": "returns-a-representation-of-this-participant",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "CallSid"
				},
				{
					"in": "path",
					"name": "ConferenceSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Updates the status of a participant.",
				"operationId": "updates-the-status-of-a-participant",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "CallSid"
				},
				{
					"in": "path",
					"name": "ConferenceSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/Conferences/{ConferenceSid}/Participants{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Returns the list of participants in the conference identified byn{ConferenceSid}.n",
				"operationId": "returns-the-list-of-participants-in-the-conference-identified-byconferencesid",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ConferenceSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/Conferences/{ConferenceSid}{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Returns a representation of the conference identified by {ConferenceSid}.n",
				"operationId": "returns-a-representation-of-the-conference-identified-by-conferencesid",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ConferenceSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/Conferences{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Returns a list of conferences within an account. The list includes pagingninformation.n",
				"operationId": "returns-a-list-of-conferences-within-an-account-the-list-includes-paginginformation",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Conferences.{format}": {
			"get": {
				"summary": "GetConferenceListForAccount",
				"description": "GetConferenceListForAccount",
				"operationId": "getconferencelistforaccount",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Conferences/{ConferenceSid}.{format}": {
			"get": {
				"summary": "GetConference",
				"description": "GetConference",
				"operationId": "getconference",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "ConferenceSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Conferences/{ConferenceSid}/Participants.{format}": {
			"get": {
				"summary": "GetParticipantListForConference",
				"description": "GetParticipantListForConference",
				"operationId": "getparticipantlistforconference",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "ConferenceSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Conferences/{ConferenceSid}/Participants/{CallSid}.{format}": {
			"delete": {
				"summary": "DeleteParticipant",
				"description": "DeleteParticipant",
				"operationId": "deleteparticipant",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "CallSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "ConferenceSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "GetParticipantForConference",
				"description": "GetParticipantForConference",
				"operationId": "getparticipantforconference",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "CallSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "ConferenceSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "MuteParticipant",
				"description": "MuteParticipant",
				"operationId": "muteparticipant",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "CallSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "ConferenceSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}