{
	"swagger": "2.0",
	"info": {
		"title": "Twilio Connected Apps API",
		"description": "Twilio is a cloud communications Infrastructure as a Service(IaaS) company based in San Francisco, California. Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs. Twilio's services are accessed over HTTP and are billed based on usage.",
		"termsOfService": "https://www.twilio.com/legal/tos",
		"version": "2010-04-01"
	},
	"host": "api.twilio.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Accounts/{AccountSid}/ConnectApps/{ConnectAppSid}{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Get the properties of a Connect App.",
				"operationId": "get-the-properties-of-a-connect-app",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ConnectAppSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"post": {
				"summary": "",
				"description": "Tries to update the Connect Apps properties, and returns the updatednresource representation if successful. The returned response is identicalnto that returned above when making a GET request.n",
				"operationId": "tries-to-update-the-connect-apps-properties-and-returns-the-updatedresource-representation-if-succes",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "ConnectAppSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/ConnectApps{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Returns a list of Connect App resource representations, each representingna Connect App in your account. The list includes paging information.n",
				"operationId": "returns-a-list-of-connect-app-resource-representations-each-representinga-connect-app-in-your-accoun",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}