{
	"swagger": "2.0",
	"info": {
		"title": "Twilio Notifications API",
		"description": "Twilio is a cloud communications Infrastructure as a Service(IaaS) company based in San Francisco, California. Twilio allows software developers to programmatically make and receive phone calls and send and receive text messages using its web service APIs. Twilio's services are accessed over HTTP and are billed based on usage.",
		"termsOfService": "https://www.twilio.com/legal/tos",
		"version": "2010-04-01"
	},
	"host": "api.twilio.com",
	"basePath": "/",
	"schemes": ["http"],
	"produces": ["application/json"],
	"consumes": ["application/json"],
	"paths": {
		"/Accounts/{AccountSid}/Notifications/{NotificationSid}{mediaTypeExtension}": {
			"delete": {
				"summary": "",
				"description": "Deletes the notification identified by {NotificationSid} from an accounts log.n",
				"operationId": "deletes-the-notification-identified-by-notificationsid-from-an-accounts-log",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "NotificationSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "",
				"description": "Get a notification entry.",
				"operationId": "get-a-notification-entry",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				},
				{
					"in": "path",
					"name": "NotificationSid"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/Accounts/{AccountSid}/Notifications{mediaTypeExtension}": {
			"get": {
				"summary": "",
				"description": "Returns a list of notifications generated for an account. The list includesnpaging information.n",
				"operationId": "returns-a-list-of-notifications-generated-for-an-account-the-list-includespaging-information",
				"parameters": [{
					"in": "path",
					"name": "AccountSid"
				},
				{
					"in": "path",
					"name": "mediaTypeExtension",
					"description": "By default, Twilios REST API returns XML. You may obtain CSV, JSON or HTML by appending .csv, .json, or .html.n"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Notifications.{format}": {
			"get": {
				"summary": "GetNotificationList",
				"description": "GetNotificationList",
				"operationId": "getnotificationlist",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		},
		"/{AccountSid}/Notifications/{NotificationSid}.{format}": {
			"delete": {
				"summary": "DeleteNotification",
				"description": "DeleteNotification",
				"operationId": "deletenotification",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "NotificationSid",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			},
			"get": {
				"summary": "GetNotification",
				"description": "GetNotification",
				"operationId": "getnotification",
				"parameters": [{
					"in": "path",
					"name": "AccountSid",
					"type": "string"
				},
				{
					"in": "path",
					"name": "format",
					"type": "string"
				},
				{
					"in": "path",
					"name": "NotificationSid",
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [""],
				"security": []
			}
		}
	},
	"definitions": []
}