{
	"swagger": "2.0",
	"info": {
		"title": "ITA Offices And Centers",
		"description": "This API provides contact and address information for all of ITA\u2019s domestic and international export assistance centers. Incorporating these listings into directories of business counseling services is one example of how developers can use this API to assist exporters.",
		"termsOfService": "http:\/\/developer.trade.gov\/tos.html",
		"version": "1.0"
	},
	"host": "api.trade.gov",
	"basePath": "\/",
	"schemes": [
		"http"
	],
	"produces": [
		"application\/json"
	],
	"consumes": [
		"application\/json"
	],
	"paths": {
		"\/trade_events\/search": {
			"get": {
				"summary": "Trade Events",
				"description": "Provides information on industry conferences, webinars, lectures and trade missions organized by the U.S. Dept. of Commerce",
				"operationId": "trade-events",
				"parameters": [
					{
						"name": "countries",
						"in": "query",
						"description": "Returns office locations based on ISO alpha-2 country codes.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "industry",
						"in": "query",
						"description": "Searches for specific controlled industry names",
						"type": "string",
						"format": "string"
					},
					{
						"name": "keyword",
						"in": "query",
						"description": "Searches for a match within the event_name and description fields.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset parameter defines the offset from the first result you want to fetch.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size parameter allows you to configure the maximum amount of hits to be returned. ",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Event Response"
					}
				},
				"tags": [
					"Trade",
					" Events",
					" Conferences",
					" Webinars"
				]
			}
		},
		"\/market_research_library\/search": {
			"get": {
				"summary": "Market Research Library Search",
				"description": "This API provides metadata for country and industry reports that are produced by ITAs trade experts and are available in ITAs online market research library.",
				"operationId": "research",
				"parameters": [
					{
						"name": "countries",
						"in": "query",
						"description": "Returns office locations based on ISO alpha-2 country codes.",
						"type": "string"
					},
					{
						"name": "industry",
						"in": "query",
						"description": "Returns market research reports for a specific industry.",
						"type": "string"
					},
					{
						"name": "keyword",
						"in": "query",
						"description": "Returns market research reports for a match in the description or title fields.",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset parameter defines the offset from the first result you want to fetch.",
						"type": "string"
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size parameter allows you to configure the maximum amount of hits to be returned.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Success Research"
					}
				},
				"tags": [
					"Trade",
					" Commerce",
					" Reports",
					" Research"
				]
			}
		},
		"\/ita_office_locations\/search": {
			"get": {
				"summary": "ITA Offices and Centers Search",
				"description": "This API provides contact and address information for all of ITAs domestic and international export assistance centers.",
				"operationId": "office",
				"parameters": [
					{
						"name": "city",
						"in": "query",
						"description": "Returns office locations based on city name",
						"type": "string"
					},
					{
						"name": "countries",
						"in": "query",
						"description": "Returns office locations based on ISO alpha-2 country codes.",
						"type": "string"
					},
					{
						"name": "keyword",
						"in": "query",
						"description": "Returns office locations for a match within the post or office name fields.",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "The offset parameter defines the offset from the first result you want to fetch.",
						"type": "string"
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size parameter allows you to configure the maximum amount of hits to be returned. ",
						"type": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "Returns locations for export assistance centers located in a specific U.S. State or Dependent Area.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Offices Response"
					}
				},
				"tags": [
					"Trade",
					" Commerce",
					" Offices",
					" Centers",
					" Locations"
				]
			}
		}
	},
	"definitions": {
		"Office": {
			"properties": {
				"id": {
					"description": "This is a default description.",
					"type": "string"
				},
				"event_name": {
					"description": "name given for the event",
					"type": "string"
				},
				"event_type": {
					"description": "The type of the event (controlled value)",
					"type": "string"
				},
				"start_date": {
					"description": "start date of the event (default sort)",
					"type": "string"
				},
				"end_date": {
					"description": "end date of the event",
					"type": "string"
				},
				"cost": {
					"description": "cost of the event",
					"type": "string"
				},
				"registration_link": {
					"description": "URL for registration page",
					"type": "string"
				},
				"registration_title": {
					"description": "title of the registration URL",
					"type": "string"
				},
				"description": {
					"description": "This is a default description.",
					"type": "string"
				},
				"industry": {
					"description": "This is a default description.",
					"type": "string"
				},
				"url": {
					"description": "URL for the event",
					"type": "string"
				},
				"venue": {
					"description": "place where event is held",
					"type": "string"
				},
				"city": {
					"description": "This is a default description.",
					"type": "string"
				},
				"state": {
					"description": "This is a default description.",
					"type": "string"
				},
				"country": {
					"description": "country where event is held",
					"type": "string"
				},
				"first_name": {
					"description": "first name of the contact",
					"type": "string"
				},
				"last_name": {
					"description": "last name of the contact",
					"type": "string"
				},
				"post": {
					"description": "This is a default description.",
					"type": "string"
				},
				"person_title": {
					"description": "contact\u2019s job title",
					"type": "string"
				},
				"phone": {
					"description": "This is a default description.",
					"type": "string"
				},
				"email": {
					"description": "This is a default description.",
					"type": "string"
				},
				"countries": {
					"description": "This is a default description.",
					"type": "string"
				},
				"expiration_date": {
					"description": "This is a default description.",
					"type": "string"
				},
				"report_type": {
					"description": "This is a default description.",
					"type": "string"
				},
				"title": {
					"description": "This is a default description.",
					"type": "string"
				},
				"office_name": {
					"description": "This is a default description.",
					"type": "string"
				},
				"address": {
					"description": "This is a default description.",
					"type": "string"
				},
				"fax": {
					"description": "This is a default description.",
					"type": "string"
				},
				"mail_instructions": {
					"description": "This is a default description.",
					"type": "string"
				},
				"post_type": {
					"description": "This is a default description.",
					"type": "string"
				}
			}
		}
	}
}