{
	"swagger": "2.0",
	"info": {
		"title": "Postmark API",
		"description": "Postmark helps deliver and track transactional emails for web applications. In a nutshell, the service replaces SMTP (or Sendmail) with a far more reliable, scalable and care-free environment.",
		"termsOfService": null,
		"version": null
	},
	"host": "api.postmarkapp.com",
	"basePath": "/",
	"schemes": [
		"http"
	],
	"produces": [
		"application/json"
	],
	"consumes": [
		"application/json"
	],
	"paths": {
		"bounce/{bounceid}": {
			"get": {
				"summary": "Get a single bounce",
				"description": "Get a single bounce",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"bounces/": {
			"get": {
				"summary": "Get bounces",
				"description": "Get bounces",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "emailFilter",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "inactive",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "messageID",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "type",
						"in": "query",
						"description": "Requiredn                    Number of bounces to skip",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"bounces/{bounceid}/activate": {
			"get": {
				"summary": "Activate a bounce",
				"description": "Activate a bounce",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"bounces/{bounceid}/dump": {
			"get": {
				"summary": "Get bounce dump",
				"description": "Get bounce dump",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"deliverystats/": {
			"get": {
				"summary": "Get delivery stats",
				"description": "Get delivery stats",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"email/": {
			"post": {
				"summary": "Send Email",
				"description": "Send a single email",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "Attachments",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Bcc",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Cc",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "From",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Headers",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "HtmlBody",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "ReplyTo",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Subject",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Tag",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "TextBody",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "To",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "TrackOpens",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"email/batch/": {
			"post": {
				"summary": "Send batch emails",
				"description": "Send batch emails",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "Attachments",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Bcc",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Cc",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Content-Type",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "From",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Headers",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "HtmlBody",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "ReplyTo",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Subject",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "Tag",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "TextBody",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "To",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "TrackOpens",
						"in": "body",
						"description": "List of attachments",
						"schema": {
							"$ref": "#/definitions/holder"
						}
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/inbound/": {
			"get": {
				"summary": "Inbound message search",
				"description": "Inbound message search",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "fromemail",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "mailboxhash",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "recipient",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter by status (blocked or processed)",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/inbound/{messageid}/bypass": {
			"get": {
				"summary": "Bypass rules for a blocked inbound message",
				"description": "Bypass rules for a blocked inbound message",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level priveledges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level priveledges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/inbound/{messageid}/details": {
			"get": {
				"summary": "Inbound message details",
				"description": "Inbound message details",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "messageid",
						"in": "path",
						"description": "The message ID.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/": {
			"get": {
				"summary": "Outbound message search",
				"description": "Outbound message search",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "fromemail",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "recipient",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter by email subject",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/opens": {
			"get": {
				"summary": "Message opens",
				"description": "Message opens",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "city",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "client_company",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "client_family",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "client_name",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "country",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "os_company",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "os_family",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "os_name",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "platform",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "recipient",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "region",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter by full name of city messages were opened in, i.e. Minneapolis, Philadelphia",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/opens/{messageid}/": {
			"get": {
				"summary": "Opens for a single message",
				"description": "Opens for a single message",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "count",
						"in": "query",
						"description": "Requiredn                    Number of messages to skip",
						"type": "string"
					},
					{
						"name": "messageid",
						"in": "path",
						"description": "The message ID.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Requiredn                    Number of messages to skip",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/{messageid}/details": {
			"get": {
				"summary": "Outbound message details",
				"description": "Outbound message details",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "messageid",
						"in": "path",
						"description": "The message ID.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages/outbound/{messageid}/dump": {
			"get": {
				"summary": "Outbound message dump",
				"description": "Outbound message dump",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/": {
			"get": {
				"summary": "Get outbound overview",
				"description": "Get outbound overview",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/bounces/": {
			"get": {
				"summary": "Get bounce counts",
				"description": "Get bounce counts",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/opens/": {
			"get": {
				"summary": "Get email open counts",
				"description": "Get email open counts",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/opens/emailclients/": {
			"get": {
				"summary": "Get email client usage",
				"description": "Get email client usage",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/opens/platforms/": {
			"get": {
				"summary": "Get email platform usage",
				"description": "Get email platform usage",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/opens/readtimes/": {
			"get": {
				"summary": "Get email read times",
				"description": "Get email read times",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/sends/": {
			"get": {
				"summary": "Get sent counts",
				"description": "Get sent counts",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/spam/": {
			"get": {
				"summary": "Get spam complaints",
				"description": "Get spam complaints",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"stats/outbound/tracked/": {
			"get": {
				"summary": "Get tracked email counts",
				"description": "Get tracked email counts",
				"operationId": "",
				"parameters": [
					{
						"name": "Accept",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					},
					{
						"name": "fromdate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "todate",
						"in": "query",
						"description": "Filter stats up to the date specified. e.g. 2014-02-01",
						"type": "string"
					},
					{
						"name": "X-Postmark-Server-Token",
						"in": "header",
						"description": "requiredThis request requires server level privileges. This token can be found on the Credentials tab under your Postmark server.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		}
	},
	"definitions": {
		"Article": {
			"properties": [
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "This is a default description.",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"post": {
						"description": "contactu2019s organization",
						"type": "string"
					},
					"office_name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"state": {
						"description": "state where event is held",
						"type": "string"
					},
					"city": {
						"description": "city where event is held",
						"type": "string"
					},
					"address": {
						"description": "This is a default description.",
						"type": "string"
					},
					"email": {
						"description": "contactu2019s email address",
						"type": "string"
					},
					"fax": {
						"description": "This is a default description.",
						"type": "string"
					},
					"mail_instructions": {
						"description": "This is a default description.",
						"type": "string"
					},
					"phone": {
						"description": "contactu2019s phone number",
						"type": "string"
					},
					"post_type": {
						"description": "This is a default description.",
						"type": "string"
					},
					"event_name": {
						"description": "name given for the event",
						"type": "string"
					},
					"event_type": {
						"description": "The type of the event (controlled value)",
						"type": "string"
					},
					"start_date": {
						"description": "start date of the event (default sort)",
						"type": "string"
					},
					"end_date": {
						"description": "Closing date for the lead",
						"type": "string"
					},
					"cost": {
						"description": "cost of the event",
						"type": "string"
					},
					"registration_link": {
						"description": "URL for registration page",
						"type": "string"
					},
					"registration_title": {
						"description": "title of the registration URL",
						"type": "string"
					},
					"venue": {
						"description": "place where event is held",
						"type": "string"
					},
					"country": {
						"description": "country where event is held",
						"type": "string"
					},
					"first_name": {
						"description": "first name of the contact",
						"type": "string"
					},
					"last_name": {
						"description": "last name of the contact",
						"type": "string"
					},
					"person_title": {
						"description": "contactu2019s job title",
						"type": "string"
					},
					"type": {
						"description": "Trade lead source",
						"type": "string"
					},
					"source": {
						"description": "Source of the trade lead, typically an organization",
						"type": "string"
					},
					"specific_location": {
						"description": "Location of the opportunity",
						"type": "string"
					},
					"project_number": {
						"description": "Number for the opportunity",
						"type": "string"
					},
					"project_size": {
						"description": "Industry category assigned to the opportunity",
						"type": "string"
					},
					"tags": {
						"description": "Keywords of the opportunity",
						"type": "string"
					},
					"publish_date": {
						"description": "Date lead was posted",
						"type": "string"
					},
					"funding_source": {
						"description": "Funding source of the project",
						"type": "string"
					},
					"borrowing_entity": {
						"description": "Bank funding the project",
						"type": "string"
					},
					"procurement_organization": {
						"description": "Agency responsible for the contract",
						"type": "string"
					},
					"project_pocs": {
						"description": "Point of contact",
						"type": "string"
					},
					"comments": {
						"description": "comments about the project",
						"type": "string"
					},
					"submitting_officer": {
						"description": "Contract officer name",
						"type": "string"
					},
					"submitting_officer_contact": {
						"description": "Contract officer email",
						"type": "string"
					},
					"status": {
						"description": "Status of the lead (note this API only shows open leads)",
						"type": "string"
					},
					"evergreen": {
						"description": "Flag to designate u201ctimelessu201d articles, always topically relevant",
						"type": "string"
					},
					"content": {
						"description": "Body of the article",
						"type": "string"
					},
					"pub_date": {
						"description": "Earliest date article can be published (default sort)",
						"type": "string"
					},
					"update_date": {
						"description": "Date the article was last updated",
						"type": "string"
					},
					"content_type": {
						"description": "Type of content embodied by the article",
						"type": "string"
					},
					"export_phase": {
						"description": "Phase of exporting that a business should be in to benefit from the article",
						"type": "string"
					}
				},
				{
					"id": {
						"description": "Unique identifier for post",
						"type": "string"
					},
					"hidden": {
						"description": "This is a default description.",
						"type": "string"
					},
					"community_profile": {
						"description": "This is a default description.",
						"type": "string"
					},
					"name": {
						"description": "This is a default description.",
						"type": "string"
					},
					"logo_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"thumb_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"quality": {
						"description": "This is a default description.",
						"type": "string"
					},
					"product_desc": {
						"description": "This is a default description.",
						"type": "string"
					},
					"high_concept": {
						"description": "This is a default description.",
						"type": "string"
					},
					"follower_count": {
						"description": "This is a default description.",
						"type": "string"
					},
					"company_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"created_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"updated_at": {
						"description": "This is a default description.",
						"type": "string"
					},
					"twitter_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"blog_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"video_url": {
						"description": "This is a default description.",
						"type": "string"
					},
					"aggregate_link": {
						"description": "This is a default description.",
						"type": "string"
					},
					"title": {
						"description": "Title of the article",
						"type": "string"
					},
					"url": {
						"description": "URL that pertain to the bid",
						"type": "string"
					},
					"countries": {
						"description": "This is a default description.",
						"type": "string"
					},
					"description": {
						"description": "Description of the opportunity",
						"type": "string"
					},
					"expiration_date": {
						"description": "This is a default description.",
						"type": "string"
					},
					"industry": {
						"description": "Industry category assigned to this article",
						"type": "string"
					},
					"report_type": {
[...]
