{
	"swagger": "2.0",
	"info": {
		"title": "Postmark API",
		"description": "Postmark helps deliver and track transactional emails for web applications. In a nutshell, the service replaces SMTP (or Sendmail) with a far more reliable, scalable and care-free environment.",
		"termsOfService": null,
		"version": null
	},
	"host": "api.postmarkapp.com",
	"basePath": "\/",
	"schemes": [
		"http"
	],
	"produces": [
		"application\/json"
	],
	"consumes": [
		"application\/json"
	],
	"paths": {
		"\/startups": {
			"get": {
				"summary": "Startups On AngelList",
				"description": "Returns the firehose of fundraising companies on AngelList. Results are paginated and ordered by the date on which the round was listed.",
				"operationId": "getStartups",
				"parameters": [
					{
						"name": "filter",
						"in": "query",
						"description": "Keyword to filter search by",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Start Response"
					}
				},
				"tags": [
					"Startups",
					" Businesses",
					" Companies"
				]
			}
		},
		"\/search": {
			"get": {
				"summary": "Link Search",
				"description": "Search links receiving clicks across bitly by content, language, location, and more.",
				"operationId": "searchLinks",
				"parameters": [
					{
						"name": "cities",
						"in": "query",
						"description": "show links active in this city (ordered like country-state-city, e.g. us-il-chicago).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "domain",
						"in": "query",
						"description": "restrict results to this web domain (like bitly.com).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "fields",
						"in": "query",
						"description": "which fields to return in the response (comma-separated). May be any of: domain, initial_epoch, h2, h3, site, lastindexed, keywords, last_indexed_epoch, title, initial, summaryText, content, score, summaryTitle, type, description, cities, lang, url, referrer, aggregate_link, lastseen, page, ogtitle, aggregate_link. By default, all will be returned.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "full_domain",
						"in": "query",
						"description": "restrict results to this full web domain (like blog.bitly.com).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "lang",
						"in": "query",
						"description": "favor results in this language (two letter ISO code).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "which result to start with (defaults to 0).",
						"type": "string",
						"format": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "string to query for.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "Successful Links Response"
					}
				},
				"tags": [
					"Links",
					" URL",
					" URL Shortener",
					" Search"
				]
			}
		},
		"sendmsg\/": {
			"get": {
				"summary": "Send Message",
				"description": "The Clickatell HTTP\/S API provides just about the simplest way of programming your connection to Clickatell, and if you need to overcome a firewall problem HTTP\/S is almost certainly your best solution.",
				"operationId": "",
				"parameters": [
					{
						"name": "api_id",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "password",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "text",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "",
						"type": "string",
						"format": "string"
					},
					{
						"name": "user",
						"in": "query",
						"description": "The user id sending message.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" SMS"
				]
			}
		},
		"send.aspx": {
			"get": {
				"summary": "Send SMS Via HTTP",
				"description": "The HTTP interface to send text messages can be accessed using GET or POST. All parameters must be URL Encoded and sent as UTF-8 text.",
				"operationId": "",
				"parameters": [
					{
						"name": "Content",
						"in": "query",
						"description": "The message you want to send. Mobile networks only support characters listed in the GSM character set, but for consistency all characters must be UTF-8 encoded when sending through the API.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "From",
						"in": "query",
						"description": "The text or phone number displayed when a text message is received on a phone. This can be either a 12 digit number or 11 characters long. You can set a default by logging in to Clockwork.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Key",
						"in": "query",
						"description": "Your API key, available by logging in (with your username and password) to Clockwork.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "Long",
						"in": "query",
						"description": "Set this to 1 and we\u2019ll stick together multiple messages giving you up to 459 characters, rather than the standard 160 (each recipient will cost up to 3 message credits)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "total",
						"in": "query",
						"description": "Up to 50 comma separated numbers. Each number should start with an international country code without any leading zeros or plus symbols.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" SMS"
				]
			}
		},
		"email_addresses": {
			"put": {
				"summary": "Add Email Address",
				"description": "Adding a new email addresses as an alias for an account",
				"operationId": "",
				"parameters": [
					{
						"name": "email_address",
						"in": "query",
						"description": "An email address",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "Unique id of an account accessible through your API key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"email_addresses\/email": {
			"post": {
				"summary": "Modify Email",
				"description": "Modifiying a given email address",
				"operationId": "",
				"parameters": [
					{
						"name": "email",
						"in": "query",
						"description": "One of the email addresses associated to the account",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "Unique id of an account accessible through your API key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"email_addressestest": {
			"get": {
				"summary": "Email Addresses",
				"description": "List of email addressed used by an account",
				"operationId": "",
				"parameters": [
					{
						"name": "id",
						"in": "query",
						"description": "Unique id of an account accessible through your API key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"files": {
			"get": {
				"summary": "Get Files",
				"description": "Listings of files found as email attachments",
				"operationId": "",
				"parameters": [
					{
						"name": "bcc",
						"in": "query",
						"description": "Email address of a contact BCC'ed on the messages.",
						"type": "string"
					},
					{
						"name": "cc",
						"in": "query",
						"description": "Email address of a contact CC'ed on the messages.",
						"type": "string"
					},
					{
						"name": "date_after",
						"in": "query",
						"description": "Only include files attached to messages sent after a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
						"type": "string"
					},
					{
						"name": "date_before",
						"in": "query",
						"description": "Only include files attached to messages sent before a given timestamp. The value this filter is applied to is the Date: header of the message which refers to the time the message is sent from the origin.",
						"type": "string"
					},
					{
						"name": "email",
						"in": "query",
						"description": "Email address of the contact for whom you want the latest files exchanged with. By \"exchanged with contact X\" we mean any email received from contact X, sent to contact X or sent by anyone to both contact X and the source owner.",
						"type": "string"
					},
					{
						"name": "file_name",
						"in": "query",
						"description": "Search for files based on their name. You can filter names using typical shell wildcards such as *, ? and [] or regular expressions by enclosing the search expression in a leading \/ and trailing \/. For example, *.pdf would give you all PDF files while \/\\.jpe?g$\/ would return all files whose name ends with .jpg or .jpeg",
						"type": "string"
					},
					{
						"name": "file_size_max",
						"in": "query",
						"description": "Search for files based on their size (in bytes).",
						"type": "string"
					},
					{
						"name": "file_size_min",
						"in": "query",
						"description": "Search for files based on their size (in bytes).",
						"type": "string"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Email address of a contact files have been received from.",
						"type": "string"
					},
					{
						"name": "group_by_revisions",
						"in": "query",
						"description": "If set to 1, the list will do an intelligent grouping of files to reflect occurrences of the same document. The grouping algorithm is exactly the same as the one used to get file revisions but only the occurrences matching the filters applied to the list will be included in the results.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "Unique id of an account accessible through your API key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "indexed_after",
						"in": "query",
						"description": "Only include files attached to messages indexed after a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message.",
						"type": "string"
					},
					{
						"name": "indexed_before",
						"in": "query",
						"description": "Only include files attached to messages indexed before a given timestamp. This is not the same as the date of the email, it is the time Context.IO indexed this message.",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The maximum number of results to return.  The maximum limit is 100.",
						"type": "string"
					},
					{
						"name": "offset",
						"in": "query",
						"description": "Start the list at this offset (zero-based).",
						"type": "string"
					},
					{
						"name": "sort_order",
						"in": "query",
						"description": "The sort order of the returned results. Possible values are asc and desc",
						"type": "string"
					},
					{
						"name": "source",
						"in": "query",
						"description": "Filter messages by the account source label.",
						"type": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "Email address of a contact files have been sent to.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email",
					" Files"
				]
			}
		},
		"files\/file_id": {
			"get": {
				"summary": "Get File",
				"description": "Details for a given file",
				"operationId": "",
				"parameters": [
					{
						"name": "file_id",
						"in": "path",
						"description": "Unique id of a file",
						"type": "string",
						"format": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "Unique id of an account accessible through your API key",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email",
					" Files"
				]
			}
		},
		"messages\/": {
			"post": {
				"summary": "Send Message",
				"description": "Sends a message by assembling it from the components. Note that you can specify most parameters multiple times, HTTP supports this out of the box. This makes sense for parameters like cc, to or attachment.",
				"operationId": "",
				"parameters": [
					{
						"name": "attachment",
						"in": "query",
						"description": "File attachment. You can post multiple attachment\nvalues. Important: You must use multipart\/form-data\nencoding when sending attachments.",
						"type": "string"
					},
					{
						"name": "bcc",
						"in": "query",
						"description": "Same as To but for Bcc",
						"type": "string"
					},
					{
						"name": "cc",
						"in": "query",
						"description": "Same as To but for Cc",
						"type": "string"
					},
					{
						"name": "from",
						"in": "query",
						"description": "Email address for From header",
						"type": "string"
					},
					{
						"name": "h:X-My-Header",
						"in": "query",
						"description": "h: prefix followed by an arbitrary value allows to append\na custom MIME header to the message (X-My-Header\nin this case). For example, h:Reply-To to specify Reply-To\naddress.",
						"type": "string"
					},
					{
						"name": "html",
						"in": "query",
						"description": "Body of the message. (HTML version)",
						"type": "string"
					},
					{
						"name": "inline",
						"in": "query",
						"description": "Attachment with inline disposition. Can be used to\nsend inline images (see example).\nYou can post multiple inline values.",
						"type": "string"
					},
					{
						"name": "o:campaign",
						"in": "query",
						"description": "Id of the campaign the message belongs to. See\nCampaign Analytics for details.",
						"type": "string"
					},
					{
						"name": "o:deliverytime",
						"in": "query",
						"description": "Desired time of delivery. See Date Format. Note:\nMessages can be scheduled for a maximum of 3 days in the\nfuture.",
						"type": "string"
					},
					{
						"name": "o:dkim",
						"in": "query",
						"description": "Enables\/disables DKIM signatures on per-message basis.\nPass yes or no",
						"type": "string"
					},
					{
						"name": "o:tag",
						"in": "query",
						"description": "Tag string. See Tagging for more information.",
						"type": "string"
					},
					{
						"name": "o:testmode",
						"in": "query",
						"description": "Enables sending in test mode. Pass yes if needed.\nSee Sending in Test Mode",
						"type": "string"
					},
					{
						"name": "o:tracking",
						"in": "query",
						"description": "Toggles tracking on a per-message basis, see\nTracking Messages for details. Pass yes or no.",
						"type": "string"
					},
					{
						"name": "o:tracking-clicks",
						"in": "query",
						"description": "Toggles clicks tracking on a per-message basis. Has higher\npriority than domain-level setting. Pass yes, no\nor htmlonly.",
						"type": "string"
					},
					{
						"name": "o:tracking-opens",
						"in": "query",
						"description": "Toggles opens tracking on a per-message basis. Has higher\npriority than domain-level setting. Pass yes or no.",
						"type": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "Message subject",
						"type": "string"
					},
					{
						"name": "text",
						"in": "query",
						"description": "Body of the message. (text version)",
						"type": "string"
					},
					{
						"name": "to",
						"in": "query",
						"description": "Email address of the recipient(s).\nExample: &quot;Bob &lt;bob&#64;host.com&gt;&quot;. You can use commas to\nseparate multiple recipients.",
						"type": "string"
					},
					{
						"name": "v:my-var",
						"in": "query",
						"description": "v: prefix followed by an arbitrary name allows to\nattach a custom JSON data to the message.\nSee Attaching Data to Messages for more information.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"messages\/{message_id}": {
			"get": {
				"summary": "Retrieving a Message",
				"description": "Retrieving a Message",
				"operationId": "",
				"parameters": [
					{
						"name": "message_id",
						"in": "query",
						"description": "The ID of the Message.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a user\u2019s data.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "thread_id",
						"in": "query",
						"description": "One of the filter parameters available on messages is thread. Given a thread_id value, the API call will will return all messages in the thread.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"sources\/": {
			"get": {
				"summary": "Sources",
				"description": "Search sources by name. Returns a list of sources objects",
				"operationId": "",
				"parameters": [
					{
						"name": "access_key",
						"in": "query",
						"description": "Unique API access key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "autosuggest",
						"in": "query",
						"description": "If true, partial matches will be returned starting from 3 characters, i.e. the query Bar will match the topic Barack Obama. This is intended for use in autosuggest dropdowns.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "licensed",
						"in": "query",
						"description": "If true, return only licensed sources with fully licensed content. If false, return only sources with aggregated content. If left out, return all sources you have access to.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "media_types",
						"in": "query",
						"description": "Limit the media type of the returned items. Value is a space delimited list of media types. See Source module for a list of valid media types.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "query",
						"in": "query",
						"description": "Query string to search on",
						"type": "string",
						"format": "string"
					},
					{
						"name": "sources",
						"in": "query",
						"description": "List of sources to retrieve items from. Valid sources are specified as a space delimited list of source GUIDs.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "source_countries",
						"in": "query",
						"description": "Search against only sources from the specified countries. Value is a space delimited list of 2 character ISO 3166-1 country codes.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "source_filter_mode",
						"in": "query",
						"description": "Enables source_filter_name and indicates filtering type. Allowed values are whitelist or blacklist",
						"type": "string",
						"format": "string"
					},
					{
						"name": "source_filter_name",
						"in": "query",
						"description": "Limit items to a predefined list of sources.Value is the name of the predefined source filter list (applicable only when source filtering is enabled via source_filter_mode).",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"news",
					" sources"
				]
			}
		},
		"sources\/{label}": {
			"post": {
				"summary": "Modify Source",
				"description": " Modify a data source on a given account",
				"operationId": "",
				"parameters": [
					{
						"name": "expunge_on_deleted_flag",
						"in": "query",
						"description": "By default, we don't filter out messages flagged as deleted. Set this parameter to  1 to turn on this filtering.",
						"type": "string"
					},
					{
						"name": "force_status_check",
						"in": "query",
						"description": "Set to 1 to create an IMAP connection and reset the source status to to one reported by the IMAP backend. Don't combine this with other parameters.",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "Unique id of an account accessible through your API key",
						"type": "string",
						"format": "string"
					},
					{
						"name": "lable",
						"in": "path",
						"description": "The label property of the source instance. You can use 0 as an alias for the first source of an account.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "password",
						"in": "query",
						"description": "New password for this source. Ignored if any of the provider_* parameters are set below.",
						"type": "string"
					},
					{
						"name": "provider_consumer_key",
						"in": "query",
						"description": "The OAuth2 Client ID or OAuth1 consumer key used to obtain the the token and token secret above for that account. That consumer key and secret must be configured in your Context.IO account, see oauth_providers",
						"type": "string"
					},
					{
						"name": "provider_refresh_token",
						"in": "query",
						"description": "An OAuth2 refresh token obtained from the IMAP account provider to be used to authentify on this email account.",
						"type": "string"
					},
					{
						"name": "provider_token",
						"in": "query",
						"description": "An OAuth1 token obtained from the IMAP account provider to be used to authentify on this email account.",
						"type": "string"
					},
					{
						"name": "provider_token_secret",
						"in": "query",
						"description": "An OAuth1 token secret obtained from the IMAP account provider to be used to authentify on this email account..",
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "If the status of the source is TEMP_DISABLED or DISABLED. You can do a POST\/PUT with status set to 1 to reset it.",
						"type": "string"
					},
					{
						"name": "sync_all_folders",
						"in": "query",
						"description": "By default, we filter out some folders like 'Deleted Items' and 'Drafts'. Set this parameter to  1 to turn off this filtering and show every single folder.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"threads\/": {
			"get": {
				"summary": "Getting Threads with a Tag",
				"description": "Getting Threads with a Tag",
				"operationId": "",
				"parameters": [
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a user\u2019s data.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "You can list all of the threads with a given tag using a Tag Filter. The tag parameter can be a tag ID, such as 4zv7pgvihjvuptbwv57kiz62 or a tag name, like inbox or hiking.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"threads\/{thread_id}": {
			"put": {
				"summary": "Updating Tags & Performing Actions",
				"description": "Updating Tags & Performing Actions",
				"operationId": "",
				"parameters": [
					{
						"name": "namespace_id",
						"in": "query",
						"description": "Namespaces are essentially references to linked accounts. They are the top-level unit of a user\u2019s data.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "thread_id",
						"in": "query",
						"description": "ID of the thread.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"sms\/rest\/{environment}\/{senderAddress}\/requests\/": {
			"get": {
				"summary": "Send An SMS",
				"description": "The Global SMS service allows sending SMS messages to mobile phones and receive text messages from a webservice for a specific number.",
				"operationId": "",
				"parameters": [
					{
						"name": "account",
						"in": "query",
						"description": "Used for accounting, your subaccount id from Developer Garden portal",
						"type": "string",
						"format": "string"
					},
					{
						"name": "address",
						"in": "query",
						"description": "Recipient phone numbers as JSON array, each number must have the format \"tel:+1630000001\" where \"+16\" is your country code.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "clientCorrelator",
						"in": "query",
						"description": "String uniquely identifies this create SMS request. If there is a communication failure during the request, using the same clientCorrelator when retrying the request allows the operator to avoid sending the same SMS twice.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "environment",
						"in": "path",
						"description": "premium, mock, or sandbox",
						"type": "string",
						"format": "string"
					},
					{
						"name": "outboundEncoding",
						"in": "query",
						"description": "Allowed values are \"7bitGSM\" and \"16bitUCS2\", if parameter is not supplied standard GSM 7bit is used.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "outboundSMSBinaryMessage.message",
						"in": "query",
						"description": "xsd:base64Binary short message content in binary format. This is not a GSMA-Standard parameter.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "outboundSMSFlashMessage.flashMessage",
						"in": "query",
						"description": "Short message content. Will be send as flash SMS.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "outboundSMSTextMessage.message",
						"in": "query",
						"description": "Short message content.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "receiptRequest.callbackData",
						"in": "query",
						"description": "String will be passed back in this notification, so you can use it to identify the message the receipt relates to.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "receiptRequest.notifyURL",
						"in": "query",
						"description": "URL to which you would like a notification of delivery sent. The format of this notification is shown below.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "senderAddress",
						"in": "query",
						"description": "String is the address to whom a responding SMS may be sent",
						"type": "string",
						"format": "string"
					},
					{
						"name": "senderName",
						"in": "query",
						"description": "The URL-escaped name of the sender to appear on the terminal is the address to whom a responding SMS may be sent.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" SMS"
				]
			}
		},
		"sendMMS\/": {
			"get": {
				"summary": "Send MMS",
				"description": "The Send MMS service allows sending MMS messages to mobile phones.",
				"operationId": "",
				"parameters": [
					{
						"name": "account",
						"in": "query",
						"description": "Account ID of the sub-account that should be billed for the service use. If the parameter is not specified, the main account is billed.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "attachment",
						"in": "query",
						"description": "Base64 encoded attachment to send. (optional)  Attachments of arbitrary type (Picture, Sound, Video, Text) are supported. The file type has to be specified through contentType. Furthermore, the file name has to be specified through filename.  At least one of the fields, message and attachment, has to be present.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "contentType",
						"in": "query",
						"description": "File type of the attachment, if an attachment is to be sent.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "environment",
						"in": "path",
						"description": "is one of \"production\", \"sandbox\" or \"mock\"",
						"type": "string",
						"format": "string"
					},
					{
						"name": "filename",
						"in": "query",
						"description": "File name of the attachment, if an attachment is to be sent. (optional)",
						"type": "string",
						"format": "string"
					},
					{
						"name": "message",
						"in": "query",
						"description": " text message. (optional). At least one of the fields, message and attachment, has to be present.",
						"type": "string",
						"format": "string"
					},
					{
						"name": "number",
						"in": "query",
						"description": "Recipient phone numbers, separated by commas (\",\").",
						"type": "string",
						"format": "string"
					},
					{
						"name": "originator",
						"in": "query",
						"description": "The sender as displayed to the recipient. ",
						"type": "string",
						"format": "string"
					},
					{
						"name": "subject",
						"in": "query",
						"description": "The subject line.",
						"type": "string",
						"format": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" SMS",
					" MMS"
				]
			}
		},
		"\/auth": {
			"post": {
				"summary": "Check auth configuration",
				"description": "Check auth configuration",
				"operationId": "check-auth-configuration",
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/build": {
			"post": {
				"summary": "Build an image from Dockerfile via stdin",
				"description": "Build an image from Dockerfile via stdin",
				"operationId": "build-an-image-from-dockerfile-via-stdin",
				"parameters": [
					{
						"name": "Content-type",
						"in": "query",
						"description": "should be set to application\/tar.",
						"type": "string"
					},
					{
						"name": "forcerm",
						"in": "query",
						"description": "always remove intermediate containers (includes rm)Request Headers:",
						"type": "string"
					},
					{
						"name": "nocache",
						"in": "query",
						"description": "do not use the cache when building the image",
						"type": "string"
					},
					{
						"name": "pull",
						"in": "query",
						"description": "attempt to pull the image even if an older image exists locally",
						"type": "string"
					},
					{
						"name": "q",
						"in": "query",
						"description": "suppress verbose build output",
						"type": "string"
					},
					{
						"name": "rm",
						"in": "query",
						"description": "remove intermediate containers after a successful build (default behavior)",
						"type": "string"
					},
					{
						"name": "t",
						"in": "query",
						"description": "repository name (and optionally a tag) to be applied to        the resulting image in case of success",
						"type": "string"
					},
					{
						"name": "X-Registry-Config",
						"in": "query",
						"description": "base64-encoded ConfigFile objec",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/commit": {
			"post": {
				"summary": "Create a new image from a container's changes",
				"description": "Create a new image from a container's changes",
				"operationId": "create-a-new-image-from-a-containers-changes",
				"parameters": [
					{
						"name": "author",
						"in": "query",
						"description": "author (e.g., John Hannibal Smith    &lt;hannibal@a-team.com&gt;)",
						"type": "string"
					},
					{
						"name": "comment",
						"in": "query",
						"description": "commit message",
						"type": "string"
					},
					{
						"name": "container",
						"in": "query",
						"description": "source container",
						"type": "string"
					},
					{
						"name": "repo",
						"in": "query",
						"description": "repository",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "tag",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/create": {
			"post": {
				"summary": "Create a container",
				"description": "Create a container",
				"operationId": "create-a-container",
				"parameters": [
					{
						"name": "body",
						"in": "body",
						"description": "Assign the specified name to the container. Must    match \/?[a-zA-Z0-9_-]+.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/json": {
			"get": {
				"summary": "List containers",
				"description": "List containers",
				"operationId": "list-containers",
				"parameters": [
					{
						"name": "all",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, Show all containers.        Only running containers are shown by default (i.e., this defaults to false)",
						"type": "string"
					},
					{
						"name": "before",
						"in": "query",
						"description": "Show only containers created before Id, include        non-running ones.",
						"type": "string"
					},
					{
						"name": "exited",
						"in": "query",
						"description": "&lt;int&gt; -- containers with exit code of &lt;int&gt;",
						"type": "string"
					},
					{
						"name": "filters",
						"in": "query",
						"description": "a json encoded value of the filters (a map[string][]string) to process on the containers list. Available filters:",
						"type": "string"
					},
					{
						"name": "limit",
						"in": "query",
						"description": "Show limit last created        containers, include non-running ones.",
						"type": "string"
					},
					{
						"name": "since",
						"in": "query",
						"description": "Show only containers created since Id, include        non-running ones.",
						"type": "string"
					},
					{
						"name": "size",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, Show the containers        sizes",
						"type": "string"
					},
					{
						"name": "status",
						"in": "query",
						"description": "(restarting|running|paused|exited)",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}": {
			"delete": {
				"summary": "Remove a container",
				"description": "Remove a container",
				"operationId": "remove-a-container",
				"parameters": [
					{
						"name": "force",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, Kill then remove the container.        Default false",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "v",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, Remove the volumes        associated to the container. Default false",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/attach": {
			"post": {
				"summary": "Attach to a container",
				"description": "Attach to a container",
				"operationId": "attach-to-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "logs",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, return logs. Default false",
						"type": "string"
					},
					{
						"name": "stderr",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, if logs=true, return        stderr log, if stream=true, attach to stderr. Default false",
						"type": "string"
					},
					{
						"name": "stdin",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, if stream=true, attach        to stdin. Default false",
						"type": "string"
					},
					{
						"name": "stdout",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, if logs=true, return        stdout log, if stream=true, attach to stdout. Default false",
						"type": "string"
					},
					{
						"name": "stream",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, return stream.        Default false",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error\nStream details:\nWhen using the TTY setting is enabled in\nPOST \/containers\/create\n,\nthe stream is the raw data from the process PTY and client's stdin.\nWhen the TTY is disabled, then the stream is multiplexed to separate\nstdout and stderr.\nThe format is a Header and a Payload (frame).\nHEADER\nThe header will contain the information on which stream write the\nstream (stdout or stderr). It also contain the size of the\nassociated frame encoded on the last 4 bytes (uint32).\nIt is encoded on the first 8 bytes like this:\nheader := [8]byte{STREAM_TYPE, 0, 0, 0, SIZE1, SIZE2, SIZE3, SIZE4}\n\nSTREAM_TYPE can be:"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/changes": {
			"get": {
				"summary": "Inspect changes on a container's filesystem",
				"description": "Inspect changes on a container's filesystem",
				"operationId": "inspect-changes-on-a-containers-filesystem",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/copy": {
			"post": {
				"summary": "Copy files or folders from a container",
				"description": "Copy files or folders from a container",
				"operationId": "copy-files-or-folders-from-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/exec": {
			"post": {
				"summary": "Image tarball format",
				"description": "Image tarball format",
				"operationId": "image-tarball-format",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/export": {
			"get": {
				"summary": "Export a container",
				"description": "Export a container",
				"operationId": "export-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/json": {
			"get": {
				"summary": "Inspect a container",
				"description": "Inspect a container",
				"operationId": "inspect-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/kill": {
			"post": {
				"summary": "Kill a container",
				"description": "Kill a container",
				"operationId": "kill-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/logs": {
			"get": {
				"summary": "Get container logs",
				"description": "Get container logs",
				"operationId": "get-container-logs",
				"parameters": [
					{
						"name": "follow",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, return stream. Default false",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "stderr",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, show stderr log. Default false",
						"type": "string"
					},
					{
						"name": "stdout",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, show stdout log. Default false",
						"type": "string"
					},
					{
						"name": "tail",
						"in": "query",
						"description": "Output specified number of lines at the end of logs: all or &lt;number&gt;. Default all",
						"type": "string"
					},
					{
						"name": "timestamps",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, print timestamps for        every log line. Default false",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/pause": {
			"post": {
				"summary": "Pause a container",
				"description": "Pause a container",
				"operationId": "pause-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/resize?h=&lt;height&gt;&amp;w=&lt;width&gt;": {
			"post": {
				"summary": "Resize a container TTY",
				"description": "Resize a container TTY",
				"operationId": "resize-a-container-tty",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "Cannot resize container"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "No such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/restart": {
			"post": {
				"summary": "Restart a container",
				"description": "Restart a container",
				"operationId": "restart-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "t",
						"in": "query",
						"description": "number of seconds to wait before killing the container",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/start": {
			"post": {
				"summary": "Start a container",
				"description": "Start a container",
				"operationId": "start-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already started"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/stop": {
			"post": {
				"summary": "Stop a container",
				"description": "Stop a container",
				"operationId": "stop-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "t",
						"in": "query",
						"description": "number of seconds to wait before killing the container",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/top": {
			"get": {
				"summary": "List processes running inside a container",
				"description": "List processes running inside a container",
				"operationId": "list-processes-running-inside-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "ps_args",
						"in": "query",
						"description": "ps arguments to use (e.g., aux)",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/unpause": {
			"post": {
				"summary": "Unpause a container",
				"description": "Unpause a container",
				"operationId": "unpause-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/containers\/{id}\/wait": {
			"post": {
				"summary": "Wait a container",
				"description": "Wait a container",
				"operationId": "wait-a-container",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/events": {
			"get": {
				"summary": "Monitor Docker's events",
				"description": "Monitor Docker's events",
				"operationId": "monitor-dockers-events",
				"parameters": [
					{
						"name": "container",
						"in": "query",
						"description": "&lt;string&gt; -- container to filter",
						"type": "string"
					},
					{
						"name": "event",
						"in": "query",
						"description": "&lt;string&gt; -- event to filter",
						"type": "string"
					},
					{
						"name": "filters",
						"in": "query",
						"description": "a json encoded value of the filters (a map[string][]string) to process on the event list. Available filters:",
						"type": "string"
					},
					{
						"name": "image",
						"in": "query",
						"description": "&lt;string&gt; -- image to filter",
						"type": "string"
					},
					{
						"name": "since",
						"in": "query",
						"description": "timestamp used for polling",
						"type": "string"
					},
					{
						"name": "until",
						"in": "query",
						"description": "timestamp used for polling",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such container"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/exec\/{id}\/json": {
			"get": {
				"summary": "Exec Inspect",
				"description": "Exec Inspect",
				"operationId": "exec-inspect",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such exec instance"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/exec\/{id}\/resize": {
			"post": {
				"summary": "Exec Resize",
				"description": "Exec Resize",
				"operationId": "exec-resize",
				"parameters": [
					{
						"name": "h",
						"in": "query",
						"description": "height of tty session",
						"type": "string"
					},
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "w",
						"in": "query",
						"description": "width",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such exec instance"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/exec\/{id}\/start": {
			"post": {
				"summary": "Exec Start",
				"description": "Exec Start",
				"operationId": "exec-start",
				"parameters": [
					{
						"name": "id",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such exec instance\nStream details:\nSimilar to the stream behavior of POST \/container\/(id)\/attach API"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/create": {
			"post": {
				"summary": "Create an image",
				"description": "Create an image",
				"operationId": "create-an-image",
				"parameters": [
					{
						"name": "fromImage",
						"in": "query",
						"description": "name of the image to pull",
						"type": "string"
					},
					{
						"name": "fromSrc",
						"in": "query",
						"description": "source to import.  The value may be a URL from which the image        can be retrieved or - to read the image from the request body.",
						"type": "string"
					},
					{
						"name": "registry",
						"in": "query",
						"description": "the registry to pull fromRequest Headers:",
						"type": "string"
					},
					{
						"name": "repo",
						"in": "query",
						"description": "repository",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "tag",
						"type": "string"
					},
					{
						"name": "X-Registry-Auth",
						"in": "query",
						"description": "base64-encoded AuthConfig object",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such exec instance\nStream details:\nSimilar to the stream behavior of POST \/container\/(id)\/attach API"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/get": {
			"get": {
				"summary": "Get a tarball containing all images.",
				"description": "Get a tarball containing all images.",
				"operationId": "get-a-tarball-containing-all-images",
				"responses": {
					"200": {
						"description": "no error"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such exec instance\nStream details:\nSimilar to the stream behavior of POST \/container\/(id)\/attach API"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/json": {
			"get": {
				"summary": "List Images",
				"description": "List Images",
				"operationId": "list-images",
				"parameters": [
					{
						"name": "all",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, default false",
						"type": "string"
					},
					{
						"name": "dangling",
						"in": "query",
						"description": "true",
						"type": "string"
					},
					{
						"name": "filters",
						"in": "query",
						"description": "a json encoded value of the filters (a map[string][]string) to process on the images list. Available filters:",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"204": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"201": {
						"description": "no error"
					},
					"404": {
						"description": "no such exec instance\nStream details:\nSimilar to the stream behavior of POST \/container\/(id)\/attach API"
					},
					"406": {
						"description": "impossible to attach (container not running)"
					},
					"400": {
						"description": "bad parameter"
					},
					"304": {
						"description": "container already stopped"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/load": {
			"post": {
				"summary": "Load a tarball with a set of images and tags into docker",
				"description": "Load a tarball with a set of images and tags into docker",
				"operationId": "load-a-tarball-with-a-set-of-images-and-tags-into-docker",
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/search": {
			"get": {
				"summary": "Search images",
				"description": "Search images",
				"operationId": "search-images",
				"parameters": [
					{
						"name": "term",
						"in": "query",
						"description": "term to search",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/{name}": {
			"delete": {
				"summary": "Remove an image",
				"description": "Remove an image",
				"operationId": "remove-an-image",
				"parameters": [
					{
						"name": "force",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, default false",
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "noprune",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, default false",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/{name}\/get": {
			"get": {
				"summary": "Get a tarball containing all images in a repository",
				"description": "Get a tarball containing all images in a repository",
				"operationId": "get-a-tarball-containing-all-images-in-a-repository",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/{name}\/history": {
			"get": {
				"summary": "Get the history of an image",
				"description": "Get the history of an image",
				"operationId": "get-the-history-of-an-image",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/{name}\/json": {
			"get": {
				"summary": "Inspect an image",
				"description": "Inspect an image",
				"operationId": "inspect-an-image",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"description": "",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/{name}\/push": {
			"post": {
				"summary": "Push an image on the registry",
				"description": "Push an image on the registry",
				"operationId": "push-an-image-on-the-registry",
				"parameters": [
					{
						"name": "name",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "the tag to associate with the image on the registry, optional",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/images\/{name}\/tag": {
			"post": {
				"summary": "Tag an image into a repository",
				"description": "Tag an image into a repository",
				"operationId": "tag-an-image-into-a-repository",
				"parameters": [
					{
						"name": "force",
						"in": "query",
						"description": "1\/True\/true or 0\/False\/false, default false",
						"type": "string"
					},
					{
						"name": "name",
						"in": "path",
						"description": "",
						"type": "string"
					},
					{
						"name": "repo",
						"in": "query",
						"description": "The repository to tag in",
						"type": "string"
					},
					{
						"name": "tag",
						"in": "query",
						"description": "The new tag name",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					},
					"201": {
						"description": "no error"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/info": {
			"get": {
				"summary": "Display system-wide information",
				"description": "Display system-wide information",
				"operationId": "display-systemwide-information",
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					},
					"201": {
						"description": "no error"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/version": {
			"get": {
				"summary": "Show the docker version information",
				"description": "Show the docker version information",
				"operationId": "show-the-docker-version-information",
				"responses": {
					"200": {
						"description": "no error"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					},
					"201": {
						"description": "no error"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"\/_ping": {
			"get": {
				"summary": "Ping the docker server",
				"description": "Ping the docker server",
				"operationId": "ping-the-docker-server",
				"responses": {
					"200": {
						"description": "OK"
					},
					"500": {
						"description": "server error"
					},
					"404": {
						"description": "no such image"
					},
					"409": {
						"description": "conflict"
					},
					"201": {
						"description": "no error"
					},
					"400": {
						"description": "bad parameter"
					}
				},
				"tags": [
					""
				]
			}
		},
		"accounts": {
			"put": {
				"summary": "Updating an Email Sub-Account ",
				"description": "Updating an Email Sub-Account ",
				"operationId": "",
				"parameters": [
					{
						"name": "address",
						"in": "query",
						"description": "Address.",
						"type": "string"
					},
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the master account (Only the master account can create sub-accounts)",
						"type": "string"
					},
					{
						"name": "bounceurl",
						"in": "query",
						"description": "Bounce Postback URL.",
						"type": "string"
					},
					{
						"name": "city",
						"in": "query",
						"description": "City.",
						"type": "string"
					},
					{
						"name": "companyname",
						"in": "query",
						"description": "Required. Name of the company assigned to this account.",
						"type": "string"
					},
					{
						"name": "country",
						"in": "query",
						"description": "Two-letter English abbreviation, based on the ISO 3166 standard.",
						"type": "string"
					},
					{
						"name": "generatenewapikey",
						"in": "query",
						"description": "Used to create a new API key for an existing account (1 or 0).",
						"type": "string"
					},
					{
						"name": "password",
						"in": "query",
						"description": "Required. Account password to be assigned. May be passed as clear text or MD5-encrypted with md5- as a prefix.\nValid values and Examples:\nClear text: Gat3keep3r!\nMD5-encrypted: md5-025656084871ac56716d3a9ae15c9e01",
						"type": "string"
					},
					{
						"name": "phone",
						"in": "query",
						"description": "Required. Phone number for the account.",
						"type": "string"
					},
					{
						"name": "spamurl",
						"in": "query",
						"description": "Spam Postback URL.",
						"type": "string"
					},
					{
						"name": "state",
						"in": "query",
						"description": "State.",
						"type": "string"
					},
					{
						"name": "timezone",
						"in": "query",
						"description": "The timezone of the account, in [+\/-]h.mm format.\nValid values and Examples:\nEastern Time (USA\/Canada): -5.00\nChina\/Hong Kong\/Singapore: +8.00",
						"type": "string"
					},
					{
						"name": "tracklinks",
						"in": "query",
						"description": "Toggle click tracking (1 or 0).",
						"type": "string"
					},
					{
						"name": "trackopens",
						"in": "query",
						"description": "Toggle open tracking (1 or 0).",
						"type": "string"
					},
					{
						"name": "trackunsubscribes",
						"in": "query",
						"description": "Toggle automatic list-unsubscribe support.",
						"type": "string"
					},
					{
						"name": "unsubscribeurl",
						"in": "query",
						"description": "Unsubscribe postback URL.",
						"type": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Required. Account username to be updated",
						"type": "string"
					},
					{
						"name": "zipcode",
						"in": "query",
						"description": "Zip.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"accounts\/delete": {
			"post": {
				"summary": "Deleting an Email Sub-Account",
				"description": "Deleting an Email Sub-Account",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the master account (Only the master account can create sub-accounts)",
						"type": "string"
					},
					{
						"name": "username",
						"in": "query",
						"description": "Required. Account username to be updated",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"opens\/count": {
			"get": {
				"summary": "Email Open Count",
				"description": "Returns total number of opens for the specified account for the specified date range. Including a date range is highly recommended.",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Email address of recipient for filtering.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required.\u00a0End date\/time in full,\u00a0ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "\u00a0Email address of sender for filtering. Must be on the current Approved Sender list. \u00a0if using a GET request, it is best practice to encode special characters such as the &#8220;at symbol&#8221; (@).",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required.\u00a0Start date\/time in full,\u00a0ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"recipients\/activate": {
			"post": {
				"summary": "Activate Recipient(s)",
				"description": "Activating a specified Recipient\u2019s status",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Required. Recipient&#8217;s Email address; can retrieve status for more than one Email address by specifying a comma-delimited list of Email addresses",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"recipients\/status": {
			"get": {
				"summary": "Retrieve Recipient(s) Status",
				"description": "Retrieve Recipient(s) Status",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Required. Recipient&#8217;s Email address. Can retrieve status for more than one Email address by specifying a comma-delimited list of Email addresses.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/bounces": {
			"get": {
				"summary": "Retrieve Email Bounces",
				"description": "Retrieving the Email SPAM Complaints",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "bounce_code - Indicates the code associated with the bounced Email.",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "bounce_code_id - The numeric code determined by the bounce processor.",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "bounce_rule - Indicates the rule that caused this email to bounce.",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "bounce_type",
						"in": "query",
						"description": "Type of bounce for filtering.\nValid Values:\nhard\nsoft",
						"type": "string"
					},
					{
						"name": "bounce_type_id - Indicates whether the bounce type is a hard or soft bounce.\nValid Values:\n1 - Hard Bounce\n2 - Soft Bounce",
						"in": "query",
						"description": "",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Email address of recipient for filtering.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "noheaders",
						"in": "query",
						"description": "Determines whether or not headers are included in the response.\nValid values:\n1 = Exclude bounce header content from the response.\n0 = Default.  Include headers in response.",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "sender_id",
						"in": "query",
						"description": "Identifying number of the sender.",
						"type": "string"
					},
					{
						"name": "startindex",
						"in": "query",
						"description": "Number indicating where to begin reporting results.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/bounces\/count": {
			"get": {
				"summary": "Retrieve Count of Email Bounces",
				"description": "Retrieving a total count of Email bounces using the API requires specific syntax for the REST API.",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required.\u00a0End\u00a0date\/time range in full,\u00a0ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/clicks": {
			"get": {
				"summary": "Reports on Clicks",
				"description": "Returns a list of links clicked for the specified account during the specified date range. Including a date range is highly recommended.",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Email address of recipient for filtering.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "startindex",
						"in": "query",
						"description": "Starting index value (optional).",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email",
					" Reporting"
				]
			}
		},
		"reports\/clicks\/count": {
			"get": {
				"summary": "Retrieve Count of Email Links Clicked",
				"description": "Retrieving a total of Email links clicked",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "domain\u00a0",
						"in": "query",
						"description": "Domain of the recipient, such as &#8220;gmail.com&#8221; or &#8220;comcast.net&#8221;",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Email address of recipient for filtering\u0010.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering\u0010.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required.\u00a0Start date\/time range in full, ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/clicks\/count\/unique": {
			"get": {
				"summary": "Retrieve Count of Email Links Clicked",
				"description": "Retrieving a total of Email links clicked",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "domain\u00a0",
						"in": "query",
						"description": "Domain of the recipient, such as &#8220;gmail.com&#8221; or &#8220;comcast.net&#8221;",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Email address of recipient for filtering\u0010.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering\u0010.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required.\u00a0Start date\/time range in full, ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/clicks\/unique": {
			"get": {
				"summary": "Unique Click Report",
				"description": "Returns a list of unique links clicked for the specified account during the specified date range. Including a date range is highly recommended.",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Email address of recipient for filtering.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "startindex",
						"in": "query",
						"description": "Starting index value (optional).",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/complaints": {
			"get": {
				"summary": "Retrieve Email SPAM Complaints",
				"description": "Retrieve Email SPAM Complaints",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "startindex",
						"in": "query",
						"description": "Number indicating where to begin reporting results.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/complaints\/count": {
			"get": {
				"summary": "Retrieve Count of Email SPAM Complaints",
				"description": "Retrieving a total count of Email complaints ",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required.\u00a0Start date\/time range in full,\u00a0ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/delivered": {
			"get": {
				"summary": "Retrieve Emails Delivered",
				"description": "Retrieve Emails Delivered",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "startindex",
						"in": "query",
						"description": "Number indicating where to begin reporting results.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/delivered\/count": {
			"get": {
				"summary": "Retrieve Count of Emails Delivered",
				"description": "Retrieve Count of Emails Delivered",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. Timestamp for the end of the report.",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/issues": {
			"get": {
				"summary": "Retrieve Email Issues",
				"description": "Retrieve Email Issues",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Email address of recipient for filtering.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "sender_id",
						"in": "query",
						"description": "Identifying number of the sender.",
						"type": "string"
					},
					{
						"name": "startindex",
						"in": "query",
						"description": "Number indicating where to begin reporting results.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/issues\/count": {
			"get": {
				"summary": "Retrieve Count of Email Issues",
				"description": "Retrieving a total count of Email issues",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. Timestamp for the end of the report.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Timestamp for the start of the report.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/opens\/count\/unique": {
			"get": {
				"summary": "Retrieve Count of Email Opens",
				"description": "Returns total number of unique opens for the specified account for the specified date range. Including a date range is highly recommended.",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "emailaddress",
						"in": "query",
						"description": "Email address of recipient for filtering.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required.\u00a0End date\/time in full,\u00a0ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "\u00a0Email address of sender for filtering. Must be on the current Approved Sender list. \u00a0if using a GET request, it is best practice to encode special characters such as the &#8220;at symbol&#8221; (@).",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required.\u00a0Start date\/time in full,\u00a0ISO 8601 format.",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/sent": {
			"get": {
				"summary": "Retrieve Emails Sent",
				"description": "Retrieve Emails Sent",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
						"description": "Required. API key of the account with the desired information.",
						"type": "string"
					},
					{
						"name": "endtime",
						"in": "query",
						"description": "Required. End date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "sender",
						"in": "query",
						"description": "Email address of sender for filtering.",
						"type": "string"
					},
					{
						"name": "startindex",
						"in": "query",
						"description": "Number indicating where to begin reporting results.",
						"type": "string"
					},
					{
						"name": "starttime",
						"in": "query",
						"description": "Required. Start date\/time range in full, ISO 8601 format",
						"type": "string"
					},
					{
						"name": "[X-HeaderName]",
						"in": "query",
						"description": "Name of searchable custom X-header. X-header names are in the format X-[name of header]. X-header values are the search parameter to find in the X-header field. Be sure to url-encode the search value.",
						"type": "string"
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					}
				},
				"tags": [
					"Messaging",
					" Email"
				]
			}
		},
		"reports\/sent\/count": {
			"get": {
				"summary": "Retrieve Count of Emails Sent",
				"description": "Retrieve Count of Emails Sent",
				"operationId": "",
				"parameters": [
					{
						"name": "apikey",
						"in": "query",
[...]
